
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>


.alnright { 
	text-align: right !important;
}
/* INCOME TREE TABLE DATA CSS */
.firstnode1 {
	color: #676666;
	border-top: 1px solid transparent !important;
	border-left: 1px solid  !important;
	border-bottom: 1px solid  !important;
	width: 320px;
	font-size: 14px;
	font-weight: 100;
}

table {
	border: 1px solid #ebeded;
}

table th {
	border: 1px solid #ccc;
	background: #a6a6a6;
	color: #fff;
	padding: 2px 4px;
	font-weight: 600;
}

table td {
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 2px 4px;
}

.simple-tree-table-closed .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
	transform: rotate(90deg);
}

.simple-tree-table-opened .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.simple-tree-table-icon {
	display: inline-block;
	width: 1.5em;
	line-height: 1.5em;
	margin: 0.1em;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
}
</style>

<script>
	$(document).ready(function() {
		$("#download").attr("disabled", true);

		var gridDiv1 = document.querySelector('#myGrid1');
		new agGrid.Grid(gridDiv1, gridOptions1);

		var gridDiv3 = document.querySelector('#myGrid3');
		new agGrid.Grid(gridDiv3, gridOptions3);
		
		var rowData = [];
		gridOptions1.api.setRowData(rowData);
		
		getDeptDetails();
		
		
	})
	
	
	function getFullDetailsForAllIncomeExpense(fyId){
		$("#tblbody").empty();
			$.ajax({
				type : "GET",
				url : "department-budget-data-deptByAllIncomeExpense?fyId="+fyId,
				async : false,
				success : function(response) {
					if (response.code == "Success") {
						
						var scndLastYearIncmAmnt=(response.body[0].scndLastYearIncmAmnt);
						var lastYearIncmAmnt=(response.body[0].lastYearIncmAmnt);
						var thisYearIncmAmnt=(response.body[0].thisYearIncmAmnt);
						var incmChangPrcnt=(response.body[0].incmChangPrcnt);
						
						var scndLastYearExpnsAmnt=(response.body[0].scndLastYearExpnsAmnt);
						var lastYearExpnsAmnt=(response.body[0].lastYearExpnsAmnt);						
						var thisYearExpnsAmnt=(response.body[0].thisYearExpnsAmnt);
						var expnsChangPrcnt=(response.body[0].expnsChangPrcnt);
						
						var scndLastYearNetIncmAmnt=(response.body[0].scndLastYearNetIncmAmnt);
						var lastYearNetIncmAmnt=(response.body[0].lastYearNetIncmAmnt);
						var thisYearNetIncmAmnt=(response.body[0].thisYearNetIncmAmnt);
						var netIncmChangPrcnt=(response.body[0].netIncmChangPrcnt);
						
						
						var bdy='<tr align="left" valign="top">'
							+'<td>Total Income</td>'
							+'<td class="alnright">'+scndLastYearIncmAmnt+'</td>'
							+'<td class="alnright">'+lastYearIncmAmnt+'</td>'
							+'<td class="alnright">'+thisYearIncmAmnt+'</td>'
							+'<td class="alnright">'+incmChangPrcnt+'</td>'
							+'</tr>'
							+'<tr align="left" valign="top">'
							+'<td>Total Expense</td>'
							+'<td class="alnright">'+scndLastYearExpnsAmnt+'</td>'
							+'<td class="alnright">'+lastYearExpnsAmnt+'</td>'
							+'<td class="alnright">'+thisYearExpnsAmnt+'</td>'
							+'<td class="alnright">'+expnsChangPrcnt+'</td>'
							+'</tr>'
							+'<tr align="left" valign="top">'
							+'<td>Total Net Income</td>'
							+'<td class="alnright">'+scndLastYearNetIncmAmnt+'</td>'
							+'<td class="alnright">'+lastYearNetIncmAmnt+'</td>'
							+'<td class="alnright">'+thisYearNetIncmAmnt+'</td>'
							+'<td class="alnright">'+netIncmChangPrcnt+'</td>'
							+'</tr>';
					  $("#tblbody").append(bdy);
						
						
						
					}
				}
			})
		
	}
	
	function updateDataByFy(){
		var fyId= $("#fyId").val();
		//alert("fyId-----"+fyId);
		//return false;
		
		$.ajax({
			type : "GET",
			url : "aggregation-budget-fy-inflation-currency-dataByFy?fyId="+fyId,
			async : false,
			success : function(response) {
				if (response.code == "Success") {
					
						 var departmentHod=(response.body[0].departmentHod);
						 var departmentId=(response.body[0].departmentId);
						 var fyId=(response.body[0].fyId);
						
						$("#departmentHOD").val(departmentHod);
						$("#departmentId").val(departmentId);
						$("#fyId").val(fyId);
						$("#currency").val(response.body[0].currencyId);
						$("#inflation").val(response.body[0].inflation);
						
						
						
						
					agGrid.simpleHttpRequest({
							url : 'department-budget-details-for-income-all?fyId='+fyId,
						}).then(function(data) {
							if(!data1){
							data.push(data1);
							}
							gridOptions1.api.setRowData(data);
						});
						
						
						agGrid.simpleHttpRequest({
							url : 'department-budget-details-for-expense-all?fyId='+fyId,
						}).then(function(data) {
							if(!data1){
							data.push(data1);
							}
							gridOptions3.api.setRowData(data);
						});
					
						getFullDetailsForAllIncomeExpense(fyId);
				}
			}
		})
		
	}
	
	function getDeptDetails(){
			$.ajax({
				type : "GET",
				url : "aggregation-budget-fy-inflation-currency-data",
				async : false,
				success : function(response) {
					if (response.code == "Success") {
						
							 var departmentHod=(response.body[0].departmentHod);
							 var departmentId=(response.body[0].departmentId);
							 var fyId=(response.body[0].fyId);
							
							$("#departmentHOD").val(departmentHod);
							$("#departmentId").val(departmentId);
							$("#fyId").val(fyId);
							$("#currency").val(response.body[0].currencyId);
							$("#inflation").val(response.body[0].inflation);
							
							
							
							
						agGrid.simpleHttpRequest({
								url : 'department-budget-details-for-income-all?fyId='+fyId,
							}).then(function(data) {
								if(!data1){
								data.push(data1);
								}
								
								generateTreeAssignedIncomeAll(data);
								//gridOptions1.api.setRowData(data);
							});
							
							
							agGrid.simpleHttpRequest({
								url : 'department-budget-details-for-expense-all?fyId='+fyId,
							}).then(function(data) {
								if(!data1){
								data.push(data1);
								}
								//gridOptions3.api.setRowData(data);
								generateTreeAssignedExpenseAll(data);
							});
						
							getFullDetailsForAllIncomeExpense(fyId);
					}
				}
			})
	}
	
	var data1={};


	
	
	function rowSelect() {
		var selectedRows = gridOptions.api.getSelectedRows();
	}
	
	
	var listItem=[];
	function onSelectExpoler() {
		var selectedRows= gridOptions.api.getSelectedRows();
		var select=gridOptions1.api.getSelectedRows();
		 listItem=[];
		 
		 if(selectedRows.length>0){
			 for (var i = 0; i < selectedRows.length; i++) {
				 item1 = {};
				 	item1.goalIdAuto = $("#goalAssignid").val();
					item1.name = $("#empID").val();
					item1.designation = $("#designation").val();  
					item1.goalAssignid = selectedRows[i].goalAssignid;
					listItem.push(item1)
					/* console.log(listItem) */
			 	}
			 }else{
					item1 = {};
					item1.goalIdAuto = $("#goalAssignid").val();
					item1.name = $("#empID").val();
					item1.designation = $("#designation").val(); 		
					item1.goalAssignid = null;
					listItem.push(item1)
					/* console.log(listItem) */
				}
			
		
		var rowCount = 0;
		selectedRows.forEach(function(selectedRow, index) {
			
			rowCount = rowCount + 1;
			
		});
		/* if (rowCount > 0) {
			$("#assignId").attr("disabled", false);
		} else {
			$("#assignId").attr("disabled", true);
		} */
	}
	
	
	var data = {};
	var columnDefs1 = [
			
		 {
			headerName : "Particulars",
			field : "particulars",
			cellStyle : {
				textAlign : 'left'
			},
			width : 200,
			
		},{
			headerName : "2022 Budget",
			field : "lastYearBudget",
			cellStyle : {
				textAlign : 'right'
			},
			width : 135,
			cellRenderer: function(params) {
				  const formattedValue = parseFloat(params.data.lastYearBudget).toFixed(2);
				  return '<div style="color:black;font-weight: bold;">' +
				         formattedValue +
				         '</div>';
				}
		},{
			headerName : "2023 Budget",
			field : "thisYearBudget",
			cellStyle : {
				textAlign : 'right'
			},
			width : 135,
			cellRenderer: function(params) {
				  const formattedValue = parseFloat(params.data.thisYearBudget).toFixed(2);
				  return '<div style="color:black;font-weight: bold;">' +
				         formattedValue +
				         '</div>';
				}
		}, {
			headerName : "Remark",
			field : "remark",
			cellStyle : {
				textAlign : 'right'
			},
			width : 120,
		} ];
	
	

	var gridOptions1 = {
		columnDefs : columnDefs1,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 410,
			height : 20
		},
		rowSelection : 'multiple',
		onSelectionChanged : onSelectExpoler
	};
	
	
	/* --------------------4444444444444444444444 start---------------------- */
	var data={};
	var columnDefs = [

		 {
				headerName : "Particulars",
				field : "particulars",
				cellStyle : {
					textAlign : 'left'
				},
				width : 200,
			},{
				headerName :"2022 Budget",
				field : "lastYearBudget",
				cellStyle : {
					textAlign : 'right'
				},
				width : 135,
				cellRenderer: function(params) {
					  const formattedValue = parseFloat(params.data.lastYearBudget).toFixed(2);
					  return '<div style="color:black;font-weight: bold;">' +
					         formattedValue +
					         '</div>';
					}
			},{
				headerName : "2023 Budget",
				field : "thisYearBudget",
				cellStyle : {
					textAlign : 'right'
				},
				width : 135,
				cellRenderer: function(params) {
					  const formattedValue = parseFloat(params.data.thisYearBudget).toFixed(2);
					  return '<div style="color:black;font-weight: bold;">' +
					         formattedValue +
					         '</div>';
					}
			}, {
				headerName : "Remark",
				field : "remark",
				cellStyle : {
					textAlign : 'right'
				},
				width : 120,
			} ];

	var gridOptions3 = {
		columnDefs : columnDefs,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 440,
			height : 20
		},
		rowSelection : 'multiple',
		onSelectionChanged : onSelectExpoler
	};
	/* --------------------444444444444444444 end  ---------------------- */
	
	
	function onSelectAssign() {
		openNav1();
		var selectedNodes= gridOptions1.api.getSelectedNodes();
		var selectedData= selectedNodes.map(node => node.data);

		$('#goalName1').val(selectedData.map(node => node.goalName));
		$('#expectedResult1').val(selectedData.map(node => node.expectedResult));
		$('#weightage1').val(selectedData.map(node => node.weightage));
	}
	
	
	
	


	/*START TREE TABLE JSON DATA CREATION FOR INCOME*/
	let childs = [], allData = [];
	function generateTreeAssignedIncomeAll(arr) {
		childs = [];
		
		allData = arr;
	    arr.forEach((el) => {
	        if(el.id === el.parentId) {
	            childs.push(el);
	            getChildData(el);
	        }
	    });

	    return createAssignedIncomeTreeAll(childs);
	}
	function getChildData(e) {
	    allData.forEach((el) => {
	        if(el.parentId === e.id && el.id !== e.id) {
	            childs.push(el);
	            getChildData(el);
	        }
	    });
	}
	/*END TREE TABLE JSON DATA CREATION FOR INCOME */

	

	function createAssignedIncomeTreeAll(childs){
		$("#incomeAssignedTreeTable").empty();	
		for (var i = 0; i < childs.length; i++) {	
			var row = "";
			var treeData = "";
			var daatField = "";
			var groupId='"'+childs[i].id+'"';
			var groupId1=childs[i].id;
			if (childs[i].id == childs[i].parentId) {

			row = '<tr data-node-id="'+childs[i].id+'" class="abc" ="row"' + i + ' id="'+childs[i].id+'">'	
						+ '<td class="firstnode1" id=lbl_'+childs[i].id+'>' 
						+ childs[i].particulars
						+ '</td><td align="right">'
						+ parseFloat(childs[i].lastYearBudget).toFixed(2)
						+ '</td><td align="right">'
						+ parseFloat(childs[i].thisYearBudget).toFixed(2)
						+ '</td><td align="right">'
						+ parseFloat(childs[i].changePercent).toFixed(2)
						+ '</td>'
								
				row += '</tr>'
			} else {
	
				row = '<tr data-node-id="'+childs[i].id+'" data-node-pid="'+childs[i].parentId+'" class="abc" id="row"' + i + ' id="'+childs[i].id+'">'		
						+ '<td class="firstnode1" id=lbl_'+childs[i].id+'> '
						+ childs[i].particulars
						+ '</td><td align="right">'
						+ parseFloat(childs[i].lastYearBudget).toFixed(2)
						+ '</td><td align="right">'
						+ parseFloat(childs[i].thisYearBudget).toFixed(2)
						+ '</td><td align="right">'
						+ parseFloat(childs[i].changePercent).toFixed(2) 
						+ '</td>'
						
				row += '</tr>'
			}
			$("#incomeAssignedTreeTable").append(row);	
		}
		
		$('#incomeTbl').simpleTreeTable({
			expander : $('#expander'),
			collapser : $('#collapser'),
			store : 'session',
			storeKey : 'simple-tree-table-basic'
		});
		
		$(".branch").each(function(){
			if($(this).find("div").length == 1){
				$(this).find("div").addClass("sole");
			}
		})
		
	}

	
	//




	/*START TREE TABLE JSON DATA CREATION FOR INCOME*/
	let childs1 = [], allData1 = [];
	function generateTreeAssignedExpenseAll(arr) {
		childs1 = [];
		
		allData1 = arr;
	    arr.forEach((el) => {
	        if(el.id === el.parentId) {
	            childs1.push(el);
	            getChildData1(el);
	        }
	    });

	    return createAssignedExpenseTreeAll(childs1);
	}
	function getChildData1(e) {
	    allData1.forEach((el) => {
	        if(el.parentId === e.id && el.id !== e.id) {
	            childs1.push(el);
	            getChildData1(el);
	        }
	    });
	}
	/*END TREE TABLE JSON DATA CREATION FOR INCOME */

	//createAssignedExpenseTreeAll
	
	
	
	function createAssignedExpenseTreeAll(childs){
		$("#expenseAssignedTreeTable").empty();	
		for (var i = 0; i < childs.length; i++) {	
			var row = "";
			var treeData = "";
			var daatField = "";
			var groupId='"'+childs[i].id+'"';
			var groupId1=childs[i].id;
			if (childs[i].id == childs[i].parentId) {

			row = '<tr data-node-id="'+childs[i].id+'" class="abc" ="row"' + i + ' id="'+childs[i].id+'">'	
						+ '<td class="firstnode1" id=lbl_'+childs[i].id+'>' 
						+childs[i].particulars
						+ '</td><td align="right">'
						+ parseFloat(childs[i].lastYearBudget).toFixed(2)
						+ '</td><td align="right">'
						+ parseFloat(childs[i].thisYearBudget).toFixed(2)
						+ '</td><td align="right">'
						+ parseFloat(childs[i].changePercent).toFixed(2)
						+ '</td>'
								
				row += '</tr>'
			} else {
	
				row = '<tr data-node-id="'+childs[i].id+'" data-node-pid="'+childs[i].parentId+'" class="abc" id="row"' + i + ' id="'+childs[i].id+'">'		
						+ '<td class="firstnode1" id=lbl_'+childs[i].id+'> '
						+ childs[i].particulars
						+ '</td><td align="right">'
						+ parseFloat(childs[i].lastYearBudget).toFixed(2)
						+ '</td><td align="right">'
						+ parseFloat(childs[i].thisYearBudget).toFixed(2)
						+ '</td><td align="right">'
						+ parseFloat(childs[i].changePercent).toFixed(2) 
						+ '</td>'
						
				row += '</tr>'
			}
			$("#expenseAssignedTreeTable").append(row);	
		}
		
		$('#expenseTbl').simpleTreeTable({
			expander : $('#expander'),
			collapser : $('#collapser'),
			store : 'session',
			storeKey : 'simple-tree-table-basic'
		});
		
		$(".branch").each(function(){
			if($(this).find("div").length == 1){
				$(this).find("div").addClass("sole");
			}
		})
		
	}

	
	
</script>


</head>

<body>

	<div layout:fragment="content">
		<div class="content-wrap">
			<div class="container-fluid">
				<div class="maincontent">
					<div class="row">

						<div class="maincontentsec">
							<div class="content_padding">

								<div id="main_content">
								
								<div class="d-flex justify-content-between"
									style="margin-bottom: 10px;">
									<div class="btn-hs">
										<div class="font-design" id="totalReq">
											Budget Aggregation
										</div>
									</div>
								
								
								</div>

									<div class="panel-body">
										<div class="row">
									
											<div class="col-md-3">
												<div class="form-group">
													<label>Financial Year</label>
														<select id="fyId" class="form-control" onchange="updateDataByFy();" disabled>
															<option value="">--Select--</option>
															<option th:each="c,iter:${fiscalYearList}" th:value="${c.key}"
																th:text="${c.name}"></option>
														</select>
												</div>
											</div>
											
											
											
											<div class="col-md-3">
												<div class="form-group">
													<label>Department</label> <input type="text"
														class="form-control" id="department" value="All" disabled>
														<span id="errmsg_fname" ></span>
												</div>
											</div>
											
											
											
											<div class="col-md-3">
												<div class="form-group">
													<label>Currency</label>
														<select id="currency" class="form-control" disabled>
															<option value="">--Select--</option>
															<option th:each="c,iter:${currencyList}" th:value="${c.key}"
																th:text="${c.name}"></option>
														</select>
												</div>
											</div>
											
											<div class="col-md-3">
												<div class="form-group">
													<label>Inflation %</label> <input type="text"
														class="form-control" id="inflation" disabled>
														<span id="errmsg_fname"></span>
												</div>
											</div>
											
											
											
									</div>
									
									
									
									
									
									<div class="row mt-4">
									
									<div class="col-md-12">
										<table class="table modtbl">
	
										<thead style="display: auto;">
											<tr  class="ag-header-viewport" valign="middle">
												<th align="left" width="30%"><strong>Particulars</strong></th>
												<th align="right" width="18%"><strong>2021 Actual</strong></th>
												<th align="right" width="18%"><strong>2022 Actual</strong></th>
												<th align="right" width="18%"><strong>2023 Actual</strong></th>
												<th align="right" width="16%"><strong>% Change </strong>
												
												
	
											</tr>
										</thead>
	
										<tbody id="tblbody" style="display:auto; overflow-x: auto;">
							
										
	
										</tbody>

	
									</table>
									</div>
									
								</div>
									
									
										<div class="row mt-4">
											
											<div class="col-md-6">
												<div class="d-flex justify-content-center align-items-center">
													
													<div class="col-md-12" >INCOME</div>
												
												</div>
												

												<div class="box_reference1">
													<div id="myGrid1" style="width: 0%; height: 0px;"
														class="ag-theme-alpine"></div>
												</div> 
												
												
												
												


												<table id="incomeTbl">
													<thead class="table-header">
													
														<th style="width: 50%;">Particulars</th>
														<th style="width: 18%;">2022 Budget</th>
														<th style="width: 18%;">2023 Budget</th>
														<th style="width: 14%;">% Change</th>
													</thead>
													<tbody id="incomeAssignedTreeTable"></tbody>
											
												</table> 
											</div>
											
											<div class="col-md-6">
												<div class="d-flex justify-content-center align-items-center">
													
													<div class="col-md-12" >EXPENSE</div>
													<!-- <div class="col-md-8 butttonsec">
														<button class="btn4" id="download" onclick="downloadEmpDetails()">Download</button>
													</div> -->
												</div>
												

												<div class="box_reference1">
													<div id="myGrid3" style="width: 0%; height: 0px;"
														class="ag-theme-alpine"></div>
												</div>
												
												


												<table id="expenseTbl">
													<thead class="table-header">
													
														<th style="width: 50%;">Particulars</th>
														<th style="width: 18%;">2022 Budget</th>
														<th style="width: 18%;">2023 Budget</th>
														<th style="width: 14%;">% Change</th>
													</thead>
													<tbody id="expenseAssignedTreeTable"></tbody>
											
												</table> 
												
											</div>
										</div>
										</div>
										
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>