.ag-theme-alpine#appraisalGrid {
    height: 100vh;
}

.ag-theme-alpine#addGoalsGrid {
    height: 30vh;
}

.tab-heading {
    font-size: calc((13 / 16) * 1rem);
    border: 1px solid #cdcdcd;
    padding: calc((6 / 16) * 1rem);
    background-color: #f2f2f2;
    color: #000;
    font-weight: 600;
    margin: 0;
}

/* Reset checkbox*/
input[type=checkbox]:before {
    content: unset;
    border: none;
    background-color: transparent;
}

input[type=checkbox] {
    width: 1em;
    margin: unset;
    top: unset;
    float: unset;
    border: 1px solid rgba(0, 0, 0, .25);
}

input[type=checkbox]:checked {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

input[type=checkbox]:focus {
    border: 1px solid rgba(0, 0, 0, .25);
}
/* Reset checkbox*/

/* Star ratings*/
.star {
    font-size: 2rem;
    cursor: pointer;
    color: #ccc;
}
.star.checked {
    color: var(--mainColor);
}

#kra-table thead th {
    font-weight: bold;
    text-align: center;
    color:black;
    padding: 10px;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa; 
    white-space: nowrap;
}

#kra-table-dep thead th {
    font-weight: 500;
    text-align: center;
    color:black;
    padding: 10px;
    border: 1px solid #dee2e6;
     background-color: #f8f9fa; 
}

#kra-table input.form-control,
#kra-table select.form-control {
	min-height: 36px;
	padding: 6px 10px;
	font-size: 14px;
}

.select2-selection {
	min-height: 36px !important;
	display: flex !important;
	align-items: center;
}

#kra-table td {
	vertical-align: middle;
}

.select2-selection{
	
	position:relative!important;
}

.select2-selection__clear{
    position: absolute!important;
    right: 10px;
    top: -2px;
}

.view-remarks{
	    color: rgb(191, 5, 255);
	    
}
@media screen and (max-width: 768px){
.star {
    font-size: 1rem;
    cursor: pointer;
    color: #ccc;
}
.wd-100{width: 100px !important;}
}