.ag-theme-alpine#appraisalGrid {
    height: 100vh;
}

/*.ag-theme-alpine#addGoalsGrid {
    height: 30vh;
}*/

.tab-heading {
    font-size: calc((13 / 16) * 1rem);
    border: 1px solid #cdcdcd;
    padding: calc((6 / 16) * 1rem);
    background-color: #f2f2f2;
    color: var(--mainColor);
    font-weight: 600;
    margin: 0;
}

/* Reset checkbox*/
input[type=checkbox]:before {
    content: unset;
    border: none;
    background-color: transparent;
}

input[type=checkbox] {
    width: 1em;
    margin: unset;
    top: unset;
    float: unset;
    border: 1px solid rgba(0, 0, 0, .25);
}

input[type=checkbox]:checked {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

input[type=checkbox]:focus {
    border: 1px solid rgba(0, 0, 0, .25);
}
/* Reset checkbox*/

/* Star ratings*/
.star {
    font-size: 2rem;
    cursor: pointer;
    color: #ccc;
}
.star.checked {
    color: var(--mainColor);
}
/* Star ratings*/