<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 25%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 15px;
}

.btn1 {
	border: none;
	border-radius: 4px;
	font-size: 13px;
	background-color: #5784c4;
	color: #fff !important;
	margin-left: 5px;
	margin-bottom: 8px;
	width: 105px;
	height: 33px;
	line-height: 12px;
	float: right;
	text-transform: uppercase;
	cursor: pointer;
}

.taskInfo {
	padding-left: 10px;
	color: #45166a;
}

.rating {
	float: left;
}
 
.rating>input:checked+label:hover, .rating>input:checked+label:hover ~
	label, .rating>input:checked ~ label:hover, .rating>input:checked ~
	label:hover ~ label, .rating>label:hover ~ input:checked ~ label {
	color: #ea0;
	/*  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating>label:active {
	position: relative;
	top: 2px;
	left: 2px;
}

.btn-outline-primary {
	color: #007bff;
	background-color: rgb(240 243 241/ 90%);
	background-image: none;
	border-color: #007bff;
	cursor: pointer;
}

.picker_calendar5 {
	cursor: pointer;
	position: absolute;
	bottom: 361px;
	left: 742px;
}

.picker_calendar6 {
	cursor: pointer;
	position: absolute;
	bottom: 361px;
	left: 1132px;
}

.deletebtn {
	border: none;
	border-radius: 4px;
	font-size: 13px !important;
	background-color: #e35e52 !important;
	color: #fff !important;
	margin-left: 5px;
	margin-bottom: 8px;
	min-width: 70px;
	height: 33px;
	line-height: 12px;
	float: right;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px
		0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 10px;
	opacity: 0.4;
}

#searchRowDiv {
	margin-right: 15%;
}

.swal2-confirm {
	background-color: #264c82;
    color: #fff!important;
}

#cancel {
    border: none;
    border-radius: 4px;
    font-size: 10px;
    background-color: #e50000;
    color: #fff!important;
    margin-left: 5px;
    margin-bottom: 8px;
    width: 70px;
    height: 28px;
    line-height: 12px;
    float: right;
    text-transform: uppercase;
    cursor: pointer!important;
    white-space: normal;
}

.newBtn {
	border: none;
	border-radius: 4px;
	font-size: 10px;
	background-color: #5784c4;
	color: #fff !important;
	margin-left: 5px;
	margin-bottom: 8px;
	width: 80px;
	height: 28px;
	line-height: 12px;
	float: right;
	text-transform: uppercase;
	cursor: pointer !important;
}

.approve-btn {
	border: none;
	border-radius: 4px;
	font-size: 10px;
	background-color: #264c82;
	color: #fff;
	margin-left: 5px;
	text-transform: uppercase;
	margin-bottom: 8px;
	width: 70px;
	height: 28px;
	line-height: 12px;
	float: right;
	text-transform: uppercase;
	cursor: pointer !important;
	white-space: normal;
}

textarea {
    border: 1px solid #d5d5d5;
    background: transparent;
    color: #999;
    font-size: 16px;
    font-weight: 100;
    width: 100%;
}
</style>
<script>
	$(function() {

		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);
		
		var gridDivHistory = document.querySelector('#myGridHistory');
		new agGrid.Grid(gridDivHistory, gridOptionsHistory);

		agGrid.simpleHttpRequest({
			url : "products-conversion-chart-view"
		}).then(function(data) {
			
			var jsonData = JSON.parse(data.body);
			var allData = jsonData.viewProductConversion;
			if(allData == "" || allData == "null" || allData == null){
				gridOptions.api.setRowData();
			}else{
				var len = allData.length;
				$('#totalReq').find('span').html(len);
				gridOptions.api.setRowData(allData);
			}
		});
		$("#myGrid").show();
		$("#myGridHistory").hide();
		$("#delete").attr("disabled", true);
	});

	$(function() {
		$('.collapse').on('show.bs.collapse', function() {
			$(this).siblings('.panel-heading').addClass('active');
		});

	})

	//search bar
	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
		var displayedRowCount = gridOptions.api.getDisplayedRowCount();

		var len = displayedRowCount;
		$('#totalReq').find('span').html(len);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}

	$('input,textarea').focus(
			function() {
				$(this).data('placeholder', $(this).attr('placeholder')).attr(
						'placeholder', '');
			}).blur(function() {
		$(this).attr('placeholder', $(this).data('placeholder'));
	});

	var count = 0;
	function allCheck() {
		count++;

		if (count == 1) {
			$('.checkCls').prop("checked", true);
		} else {
			count = 0;
			$('.checkCls').prop("checked", false);
		}
	}

	var txtLen = 0;
	function textCount(event) {

		var id = event.target.id;
		var pId = $('#' + id).next().attr("id");
		$('#' + pId + ' span').empty();
		txtLen = $('#' + id).val().length;
		$('#' + pId + ' span').append(txtLen);
	}

	function statusFormatter(params) {
		return params.value === 'true' ? 'Active' : 'Inactive';
	}

	// column Defs
	const columnDefs = [
			{
				//headerCheckboxSelection : true,
				//checkboxSelection : true,
				width : 8,
				sortable : false,
				filter : false,
				resizable : true

			},
			{
				headerName : 'Product Id',
				field : "productId",
				width : 150,
				//pinned: 'left',
				cellRenderer : function(params) {
					return '<a onclick=editPage("' + params.data.productId + ','
							+ '0' + '") href="javascript:void(0)">'
							+ params.data.productId + ' <i class="fa fa-edit"></i></a>';
				}
			}, {
				headerName : "Product Name",
				field : "productName",
				width : 250,
				//pinned: 'left',
				cellStyle : {
					textAlign : 'left'
				}
			}, {
				headerName : "SKU",
				field : "productSku",
				width : 150,
				//pinned: 'left',
				cellStyle : {
					textAlign : 'left'
				}
			}, {
				headerName : "Brand",
				field : "productBrand",
				width : 150,
				//pinned: 'left',
				cellStyle : {
					textAlign : 'left'
				}
			}, {
				headerName : "Pack Size",
				field : "packSize",
				width : 100,
				cellStyle : { textAlign : 'right' },
				cellRenderer: function(params) {
			        var value =parseFloat(params.value).toFixed(2);
			        return amountFormatter(value);
			    }
			}, {
				headerName : "Pouch/Bag",
				field : "pouchBag",
				width : 100,
				cellStyle : { textAlign : 'right' },
				cellRenderer: function(params) {
			        var value =parseFloat(params.value).toFixed(2);
			        return amountFormatter(value);
			    }
			}, {
			    headerName: "Cost/MT",
			    field: "costPerMt",
			    width: 100,
			    cellStyle: { textAlign: 'right' },
				cellRenderer: function(params) {
			        var value =parseFloat(params.value).toFixed(2);
			        return amountFormatter(value);
			    }  
			}  ,
				{
				headerName : "Cost/KG",
				field : "costPerKg",
				width : 100,
				cellStyle : { textAlign : 'right' },
				cellRenderer: function(params) {
					var value =parseFloat(params.value).toFixed(2);
			        return amountFormatter(value);
			    }  
			}, {
				headerName : "Cost/Bag",
				field : "costPerBag",
				width : 100,
				cellStyle : { textAlign : 'right' },
				cellRenderer: function(params) {
					var value =parseFloat(params.value).toFixed(2);
			        return amountFormatter(value);
			    }  
			}, {
				headerName : "Status",
				field : "productStatus",
				width : 100,
				cellStyle : {
					textAlign : 'right'
				}
			} ];

	const gridOptions = {
		columnDefs : columnDefs,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 187,
			height : 10
		}
		/* rowSelection : 'multiple',
		suppressRowClickSelection : true,
		onSelectionChanged : rowSelect,
		getRowNodeId : function(data) {
			return data.bankId;
		} */
	};
	
	//for price change history
	const columnDefsHistory = [
			{
				//headerCheckboxSelection : true,
				//checkboxSelection : true,
				width : 8,
				sortable : false,
				filter : false,
				resizable : true

			},	{
				headerName : "Pack Size",
				field : "packSizeHistory",
				width : 100,
				cellStyle : {
					textAlign : 'right'
				}
			}, {
				headerName : "Pouch/Bag",
				field : "pouchBagHistory",
				width : 100,
				cellStyle : {
					textAlign : 'right'
				}
			}, {
				headerName : "Cost/MT",
				field : "costPerMtHistory",
				width : 100,
				cellStyle : {
					textAlign : 'right'
				}
			}, {
				headerName : "Cost/KG",
				field : "costPerKgHistory",
				width : 100,
				cellStyle : {
					textAlign : 'right'
				}
			}, {
				headerName : "Cost/Bag",
				field : "costPerBagHistory",
				width : 100,
				cellStyle : {
					textAlign : 'right'
				}
			}, {
				headerName : "Status",
				field : "productStatusHistory",
				width : 100,
				cellStyle : {
					textAlign : 'right'
				}
			}];

	const gridOptionsHistory = {
		columnDefs : columnDefsHistory,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 187,
			height : 10
		},
		rowSelection : 'multiple',
		suppressRowClickSelection : true
		/* onSelectionChanged : rowSelect,
		getRowNodeId : function(data) {
			return data.bankId;
		} */
	};

	var deleteId = "";
	function rowSelect() {
		//alert('hello select');
		var selectedRows = gridOptions.api.getSelectedRows();
		deleteId = "";

		for (var i = 0; i < selectedRows.length; i++) {
			deleteId = deleteId + '"' + selectedRows[i].bankId + '",';

		}
		deleteId = deleteId.substring(0, deleteId.length - 1);

		var rowCount = 0;

		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			$('#delete').prop("disabled", false).css("opacity", 1);
			$('#add').prop("disabled", true).css("opacity", 0.4);

		} else {

			$('#delete').prop("disabled", true).css("opacity", 0.4);
			$('#add').prop("disabled", false).css("opacity", 1);
		}

	}
	// for new button
	function newBtn() {
		//	alert('hello');
		$("#add").hide();
		$("#copy").hide();
		$("#saveEdit").hide();
		$("#save").show();
		$("#delete").hide();
		$("#myGrid").hide();
		$("#myGridHistory").show();
		$("#searchRowDiv").hide();
		$("#totalReq").hide();
		$("#statusDiv").hide();
		$("#idDiv").hide();
		$("#collapseFour").hide();
		$("#headingFour").hide();
		$("#myGridActivity").hide();
		gridOptionsHistory.api.setRowData();
		$("#demo").show();
		$("#editProductDiv").hide();
		$("#newProductDiv").show();
		
		$("#productId").val("");
		$("#productHsn").val("");
		$("#productSku").val("");
		$("#productBrand").val("");
		$("#productCategory").val("");
		$("#packSize").val("");
		$("#pouchBag").val("");
		$("#costPerMT").val("");
		$("#costPerKG").val("");
		$("#costPerBag").val("");
		$("#status").val("");
		$("#description").val("");
	}
	// for cancel button
	function cancelBtn() {
		$("#add").show();
		$("#copy").show();
		$("#delete").show();
		$("#totalReq").show();
		$("#myGrid").show();
		$("#searchRowDiv").show();
		$("#demo").hide();

		$('#bankId').text("");
		$('#bankName').val("");
		$('#status').val("");
		$('#description').val("");
		$('#add').prop("disabled", false).css("opacity", 1);

		agGrid.simpleHttpRequest({
			url : "products-conversion-chart-view"
		}).then(function(data) {
			
			var jsonData = JSON.parse(data.body);
			var allData = jsonData.viewProductConversion;
			if(allData == "" || allData == "null" || allData == null){
				gridOptions.api.setRowData();
			}else{
				var len = allData.length;
				$('#totalReq').find('span').html(len);
				gridOptions.api.setRowData(allData);
			}
		});
	}

	// Edit & stage change 
	function editPage(id) {
		$(".loader").show();
		$("#saveEdit").show();
		$("#save").hide();
		$("#editProductDiv").show();
		$("#newProductDiv").hide();
		var editId = id.split(",");

		var productId = editId[0];

		var modal = editId[1];
		//alert('bankId------'+bankId);
		$("#demo").show();

		$.ajax({
			type : "GET",
			url : "products-conversion-chart-edit?id=" + productId,
			async : false,
			success : function(data) {
				var jsonData = JSON.parse(data.body);
				var allData = jsonData.editProductConversion;
				if (data.code == "success") {
					$("#add").hide();
					$("#copy").hide();
					$("#delete").hide();
					$("#myGrid").hide();
					$("#myGridHistory").show();
					$("#searchRowDiv").hide();
					$("#totalReq").hide();
					$("#statusDiv").hide();
					$("#idDiv").hide();
					$("#collapseFour").hide();
					$("#headingFour").hide();
					$("#myGridActivity").hide();
					$(".loader").hide();
					$("#demo").show();

					$(".container").hide();

					//$("#productId").val(allData[0].productId);
					$("#productIdEdit").val(allData[0].productId);
					$("#productNameEdit").val(allData[0].productName);
					$("#productHsn").val(allData[0].productHsn);
					$("#productSku").val(allData[0].productSku);
					$("#productBrand").val(allData[0].productBrand);
					$("#productCategory").val(allData[0].productCategory);
					$("#packSize").val(allData[0].packSize);
					$("#pouchBag").val(allData[0].pouchBag);
					$("#costPerMT").val(allData[0].costPerMT);
					$("#costPerKG").val(allData[0].costPerKG);
					$("#costPerBag").val(allData[0].costPerBag);
					$("#status").val(allData[0].productStatus);
					$("#description").val(allData[0].productDescription);
					
					var allDataHistory = jsonData.viewPriceHistory;
					if(allDataHistory == "" || allDataHistory == "null" || allDataHistory == null){
						gridOptionsHistory.api.setRowData();
					}else{
						gridOptionsHistory.api.setRowData(allDataHistory);
					}
					
				}
			}
		})
	}

	function addProductPrice() {
		$(".loader").show();
		var obj = {};

		obj.productId = $('#productId').val();
		obj.packSize = $('#packSize').val();
		obj.pouchBag = $('#pouchBag').val();
		obj.costPerMT = $('#costPerMT').val();
		obj.costPerKG = $('#costPerKG').val();
		obj.costPerBag = $('#costPerBag').val();
		obj.status = $('#status').val();
		obj.description = $('#description').val();
		obj.perEaToGm = $('#pouchBag').val();
		obj.perBagToGm = (parseFloat($('#pouchBag').val()).toFixed(2) * parseFloat($('#packSize').val()).toFixed(2)).toFixed(2);

		console.log("object on add-----------" + JSON.stringify(obj));
		//return false;
		/* FORM VALIDATION STARTS*/
		
		var validation = true;

		if (obj.productId == null || obj.productId == "") {
			$(".loader").hide();
			swal("Please Select Product");
			validation = false;
		}

		if (obj.packSize == null || obj.packSize == "") {
			$(".loader").hide();
			swal("Pack Size Required");
			validation = false;
		}

		if (obj.pouchBag == null || obj.pouchBag == "") {
			$(".loader").hide();
			swal("Pouch Size Required");
			validation = false;
		}
		
		if (obj.costPerMT == null || obj.costPerMT == "") {
			$(".loader").hide();
			swal("Cost Per MT Required");
			validation = false;
		}

		if (validation) {
			$.ajax({
				type : "POST",
				url : "products-conversion-chart-add",
				contentType : "application/json",
				data : JSON.stringify(obj),
				success : function(response) {
					//console.log(JSON.stringify(obj))
					if (response.code == "Success") {
						swal({
							title: "Success", 
							text: "Product Conversion Added Successfully!", 
							type: "success"
							}).then(function(){
						   location.reload();
						   }
						);
					}
				},
				error : function(data) {

					//console.log(data);
				}
			});
		}

	}
	
	function addProductPriceEdit() {
		$(".loader").show();
		var obj = {};

		obj.productId = $('#productIdEdit').val();
		obj.packSize = $('#packSize').val();
		obj.pouchBag = $('#pouchBag').val();
		obj.costPerMT = $('#costPerMT').val();
		obj.costPerKG = $('#costPerKG').val();
		obj.costPerBag = $('#costPerBag').val();
		obj.status = $('#status').val();
		obj.description = $('#description').val();
		obj.perEaToGm = $('#pouchBag').val();
		obj.perBagToGm = (parseFloat($('#pouchBag').val()).toFixed(2) * parseFloat($('#packSize').val()).toFixed(2)).toFixed(2);

		console.log("object on add-----------" + JSON.stringify(obj));
		//return false;
		/* FORM VALIDATION STARTS*/
		
		var validation = true;

		if (obj.productId == null || obj.productId == "") {
			$(".loader").hide();
			swal("Please Select Product");
			validation = false;
		}

		if (obj.packSize == null || obj.packSize == "") {
			$(".loader").hide();
			swal("Pack Size Required");
			validation = false;
		}

		if (obj.pouchBag == null || obj.pouchBag == "") {
			$(".loader").hide();
			swal("Pouch Size Required");
			validation = false;
		}
		
		if (obj.costPerMT == null || obj.costPerMT == "") {
			$(".loader").hide();
			swal("Cost Per MT Required");
			validation = false;
		}

		if (validation) {
			$.ajax({
				type : "POST",
				url : "products-conversion-chart-add",
				contentType : "application/json",
				data : JSON.stringify(obj),
				success : function(response) {
					//console.log(JSON.stringify(obj))
					if (response.code == "Success") {
						swal({
							title: "Success", 
							text: "Product Conversion Added Successfully!", 
							type: "success"
							}).then(function(){
						   location.reload();
						   }
						);
					}
				},
				error : function(data) {

					//console.log(data);
				}
			});
		}

	}

	function deleteBank() {

		var updatedId = '(' + deleteId + ')';

		console.log("ids", updatedId);
		$.ajax({
			type : "GET",
			url : "view-account-bank-delete-id?id=" + updatedId,
			success : function(response) {
				if (response.code == "Success") {
					Swal.fire({
						icon : 'success',
						title : 'Success',
						text : 'Bank Details Delete Successfully',

					});

					cancelBtn();
					agGrid.simpleHttpRequest({
						url : "view-account-bank-throughAjax"
					}).then(function(data) {
						var len = data.length;
						$('#totalReq').find('span').html(len);
						gridOptions.api.setRowData(data);
					});

				}
			}

		});

		$('#delete').prop("disabled", true).css("opacity", 0.4);

	}
	
function getProductDetails(){
	var selectedOption = $("#productId").find("option:selected");
	var productId = $("#productId").val();
	if(productId == ""){
		$("#productHsn").val("");
		$("#productSku").val("");
		$("#productBrand").val("");
		$("#productCategory").val("");
	} else {
		var productHsn = selectedOption.data("hsn");
		$("#productHsn").val(productHsn);
		var productSku = selectedOption.data("sku");
		$("#productSku").val(productSku);
		var productBrand = selectedOption.data("brand");
		$("#productBrand").val(productBrand);
		var productCategory = selectedOption.data("category");
		$("#productCategory").val(productCategory);
	}
	
}

function getCalculation(){
	var amountMT = $("#costPerMT").val();
	var packSize = $("#packSize").val();
	var pouchBag = $("#pouchBag").val();
	if(amountMT != "" && packSize != "" && pouchBag != ""){
		var amountKg = (parseFloat(amountMT).toFixed(2) / 1000.00).toFixed(2);
		$("#costPerKG").val(amountKg);
		var amountBag = (parseFloat(amountMT).toFixed(2) / (1000.00 / (parseFloat(packSize).toFixed(2) * parseFloat(pouchBag).toFixed(2) / 1000.00 ))).toFixed(2);
		$("#costPerBag").val(amountBag);
	} else {
		if(amountMT == ""){
			swal("Cost/MT Required");
		}
		if(packSize == ""){
			swal("Pack Size Required");
			$("#costPerMT").val("");
		}
		if(pouchBag == ""){
			swal("Pouch/Bag Required");
			$("#costPerMT").val("");
		}
	}
}

function amountFormatter(value) {
	    if (value !== null && value !== undefined) {
	        var parts = value.toString().split('.');
	        var integerPart = parts[0];
	        var decimalPart = parts.length > 1 ? '.' + parts[1] : '';
	        var formattedIntegerPart = new Intl.NumberFormat('en-IN').format(integerPart);
	        return formattedIntegerPart + decimalPart;
	    } else {
	        return '';
	    }
	}

</script>
</head>

<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">

					<div class="d-flex flex-wrap justify-content-between">
						<div class="col-md-4  btn-hs">
							<div class="font-design" id="totalReq">
								ALL PRODUCT LIST (<span></span>)
							</div>
						</div>
						<div class="col-md-4  btn-hs" id="searchRowDiv">
							<div class="input-style">
								<input type="text" placeholder="Search.." name="search"
									class="searchboxinput" onkeyup="cancelBar()"
									oninput="onQuickFilterChanged()" id="quickFilter">
								<div class="searchicon">
									<a href="javascript:void(0)"><span
										style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
										id="closeKey"
										onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
										class="close_i"><i class="ti-close srchicon"></i></span></a><a
										href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
								</div>
							</div>

						</div>
						<div class="buttonsec btn-hs">
							<input type="button" class="btn3" onclick="deleteBank()"
								id="delete" value="DELETE" data-toggle="modal"
								data-target="#delete" readonly>
							<!-- <input type="button" class="btn2" id="action" value="Action"
									 readonly> -->

							<input type="button" class="newBtn" id="add" style="width: 110px;"
								value="  New Conversion  " onclick="newBtn()" readonly>
						</div>
					</div>

					<div id="myGrid" style="width: 100%; height: 500px;"
						class="ag-theme-alpine"></div>

					<div class="collapse" id="demo">
						<div class="innercontent">
							<div class="innerstickybg">
								<div class="d-flex justify-content-between" id="main">
									<div class="col-md-3" id="idDiv">
										Bank ID: <span id="bankId"></span>
									</div>
									<div>
										<span class="taskInfo">Product Conversion Information</span>
									</div>


									<div class="col-md-3 padding-0" align="right">
										<button class="btn3" id="" onclick="cancelBtn()">CANCEL</button>
										<button class="approve-btn" id="save" onclick="addProductPrice()">SAVE</button>
										<button class="approve-btn" id="saveEdit" onclick="addProductPriceEdit()">SAVE</button>
									</div>
								</div>
							</div>
							<div class="innercontent">

								<!-- <div class="row"> -->
								<div class="row" id="productDetailsDiv">
								
									<div class="col-md-4" id="newProductDiv">
										<div class="form-group">
											<label>Product</label>
											<div class="select">
												<select id="productId" onchange="getProductDetails()">
													<option value="">--Select Product--</option>
													<option th:each="c,iter:${productList}" th:value="${c.productId}"
														th:data-hsn="${c.productHsn}"
														th:data-sku="${c.productSku}"
								                        th:data-brand="${c.productBrand}"
								                        th:data-category="${c.productCategory}"
														th:text=" '(' + ${c.productSku} + ')---' + ${c.productName}">
													</option>
												</select>
											</div>

										</div>
									</div>
									
									<div class="col-md-4" id="editProductDiv">
										<div class="form-group">
											<label>Product</label>
											<input type="text" class="form-control"
												id="productNameEdit" placeholder="Product Name" readonly>
											<input type="hidden" id="productIdEdit">
										</div>
									</div>

									<div class="col-md-2">
										<div class="form-group">
											<label>HSN Code</label>
											<input type="text" class="form-control"
												id="productHsn" placeholder="HSN Code" readonly>
										</div>
									</div>
									
									<div class="col-md-2">
										<div class="form-group">
											<label>SKU Code</label>
											<input type="text" class="form-control"
												id="productSku" placeholder="SKU Code" readonly>
										</div>
									</div>
									
									<div class="col-md-2">
										<div class="form-group">
											<label>Brand Name</label>
											<input type="text" class="form-control"
												id="productBrand" placeholder="Brand Name" readonly>
										</div>
									</div>
									
									<div class="col-md-2">
										<div class="form-group">
											<label>Product Category</label>
											<input type="text" class="form-control"
												id="productCategory" placeholder="Product Category" readonly>
										</div>
									</div>

								</div>
								
								<div class="row" id="conversionDiv">
								
									<div class="col-md-2">
										<div class="form-group">
											<label>Pack Size</label>
											<input type="text" class="form-control"
												id="packSize" placeholder="Pack Size">
										</div>
									</div>
									
									<div class="col-md-2">
										<div class="form-group">
											<label>Pouch/Bag</label>
											<input type="text" class="form-control"
												id="pouchBag" placeholder="Pouch/Bag">
										</div>
									</div>
									
									<div class="col-md-2">
										<div class="form-group">
											<label>Cost/MT</label>
											<input type="text" class="form-control"
												id="costPerMT" placeholder="Cost/MT" onblur="getCalculation()">
										</div>
									</div>
									
									<div class="col-md-2">
										<div class="form-group">
											<label>Cost/KG</label>
											<input type="text" class="form-control"
												id="costPerKG" placeholder="Cost/KG" readonly>
										</div>
									</div>
									
									<div class="col-md-2">
										<div class="form-group">
											<label>Cost/Bag</label>
											<input type="text" class="form-control"
												id="costPerBag" placeholder="Cost/Bag" readonly>
										</div>
									</div>
									
									<div class="col-md-2">
										<div class="form-group">
											<label>Status</label>
											<div class="select">
												<select id="status" class="form-control">
													<option value="">Select</option>
													<option value="Active">Active</option>
													<option value="Inactive">Inactive</option>
												</select>
											</div>
										</div>
									</div>
									
								</div>

								<div class="row" id="remarksDiv">
									<div class="col-md-4">
										<div class="modal-inrheading">Remarks</div>
										<div class="position-text">
											<textarea rows="4" cols="100" id="description"
												onkeyup="textCount(event)"></textarea>
											<div id="charNumSN" class="txtcounter" align="right">
												<span>0</span> characters
											</div>
										</div>
									</div>
									
								</div>

								<!-- 	main div start here -->

								
											
								<!-- <div class="accordion-body">
									<div id="myGridHistory" style="width: 100%; height: 500px;"
										class="ag-theme-alpine"></div>
								</div> -->
								
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingOne">
										<button class="accordion-button" type="button"
											data-bs-toggle="collapse" data-bs-target="#itemList"
											aria-expanded="false" aria-controls="itemList">
											Price History
										</button>
									</h2>
									<div id="itemList" class="accordion-collapse collapse show"
										aria-labelledby="headingOne"
										data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<div id="myGridHistory" style="width: 100%; height: 200px;"
												class="ag-theme-alpine"></div>
										</div>
									</div>
								</div>

							</div>
						</div>




						<!-- The Modal For Delete-->
						<div class="modal fade" id="delete">
							<div class="modal-dialog modal-confirm">
								<div class="modal-content">
									<div class="modal-header flex-column">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">
											<i class="ti-close modal-close"></i>
										</button>
									</div>
									<div class="modal-body">
										<p>Do you really want to delete these records? This
											process cannot be undone.</p>
									</div>
									<div class="modal-footer justify-content-center">
										<button type="button" class="btn1" data-dismiss="modal"
											aria-hidden="true">Cancel</button>
										<button type="button" class="btn3" id="deleteModalBtn"
											onclick="deleteReq()">Delete</button>
									</div>
								</div>
							</div>
						</div>


						<!-- The Modal For Validation-->
						<div class="modal fade" id="reqValid">
							<div class="modal-dialog modal-confirm">
								<div class="modal-content">
									<div class="modal-header flex-column">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">
											<i class="ti-close modal-close"></i>
										</button>
									</div>
									<div class="modal-body">
										<p id="modalMsg"></p>
									</div>
									<div class="modal-footer justify-content-center">
										<button type="button" class="btn1" data-dismiss="modal"
											aria-hidden="true">Ok</button>
									</div>
								</div>
							</div>
						</div>

						<!-- ------------------Mark Lost modal------------------------- -->

						<div id="markLostModal" class="modal fade">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">Lost Reason</h4>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<i class="ti-close"></i>
										</button>

									</div>
									<div class="modal-body">
										<!-- text input -->
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>Comment</label> <input class="form-control"
														type="text" id="comment">
												</div>
											</div>

										</div>
									</div>
									<div class="modal-footer justify-content-left">
										<button type="button" class="btn1" data-dismiss="modal"
											aria-hidden="true" id="SubmitBtn" onclick="rejectLeave()">Submit</button>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
</body>
</html>