<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>
<meta charset="ISO-8859-1">

<style type="text/css">

/* .searchBox:hover>.searchInput {
	width: 180px;
	padding: 0 6px;
	margin-right: 10px;
} */
.button-right {
	display: flex;
	justify-content: space-between;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script type="text/javascript" charset="utf-8">
	$(document)
			.ready(
					function() {

						var dateFormat = localStorage.getItem("dateFormat");
						$("#fromDateCalender").datetimepicker({
							format : dateFormat,
							closeOnDateSelect : true,
							timepicker : false,
						}).on("change", function() {
							$('#filterFromDate').val($(this).val());
						})

						$('#filterFromDate').blur(function() {
							$("#fromDateCalender").val($(this).val());
						})

						$("#toDateCalendar").datetimepicker({
							format : dateFormat,
							closeOnDateSelect : true,
							timepicker : false,
						}).on("change", function() {
							$('#filterToDate').val($(this).val());
						})

						$('#filterToDate').blur(function() {
							$("#toDateCalendar").val($(this).val());
						})

						var toDayDate = (new Date()).toISOString().split('T')[0];
						var newDate = changeDateFormat(toDayDate);

						$("#filterFromDate").val(newDate);
						$("#filterToDate").val(newDate);

						$("#fromDateCalender").val(newDate);
						$("#toDateCalendar").val(newDate);

						$("#sec").val("salesInvoice");

						
						var gridDiv = document.querySelector('#myGrid');
						new agGrid.Grid(gridDiv, gridOptions);


						var gridDiv2 = document.querySelector('#myGrid2');
						new agGrid.Grid(gridDiv2, itemOptions);
					
						 var gridDiv4 = document
								.querySelector('#myGrid_DownloadSalesInvoice');
						new agGrid.Grid(gridDiv4, downloadSalesInvoice);
						ShowAgGrid("salesInvoice");
						var rowData = [];
						gridOptions.api.setRowData(rowData);
						 $('#totalReq').find('span').html("");
						//gridOptions1.api.setRowData(rowData);
						//activityOptions.api.setRowData(rowData);
						/* $(".loader").show();
						agGrid
								.simpleHttpRequest(
										{
											url : "view-salesReport-salseInvoice?sec="
													+ $("#sec").val()
													+ "&fromdate=" + newDate
													+ "&todate=" + newDate
													
										})
								.then(
										function(data) {
											$(".loader").hide();
											var jsonData = JSON
													.parse(data.body);
											var allData = jsonData.viewSalesInvoiceReportData;
											var salesInvoiceDownload = jsonData.viewSalesInvoiceReportDataDownload;
											console.log(allData);
											var len = allData.length;
											$('#totalReq').find('span').html(
													len);
											console.log("sdfghjkl",salesInvoiceDownload);
											gridOptions.api.setRowData(allData);
											downloadSalesInvoice.api.setRowData(salesInvoiceDownload);
										}); */

						$("#currsec").addClass("active");

					});

	var columnDefs = [
		/* {
			headerCheckboxSelection : false,
			headerCheckboxSelectionFilteredOnly : true,
			checkboxSelection : true,
			width : 10,
			sortable : false,
			filter : false,
			resizable : true,
			pinned: 'left',
		}, */
		{
			headerName : "Sales Invoice Id",
			field : "saleInvoice",
			pinned: 'left',
			width : 180,
			cellRenderer : function(params) {
				return '<a onclick=editsalesInvoice("'
						+ params.data.saleInvoice
						+ '","'+params.data.poId+'") href="javascript:void(0)">'
						+ params.data.saleInvoice + '</a>';
			}
		}, {
			headerName : 'Invoice Date',
			field : "invoiceDate",
			width:140,
			cellStyle : {
				textAlign : 'center'
			}
		}, {
			headerName : 'PO Number',
			field : "poId",
			width:120,
			cellStyle : {
				textAlign : 'center'
			},
		}, {
			headerName : 'SAP Number',
			field : "sapId",
			width:120,
			cellStyle : {
				textAlign : 'center'
			},
		}, {
			headerName : 'Category',
			field : "type",
			width:110,
			cellStyle : {
				textAlign : 'center'
			},
			
		},{	headerName : 'Customer Name',
			field : "custName",
			
		},{	headerName : 'Material Name',
			field : "materialName",
			
		},{
			headerName : 'Quantity',
			field : "totalQuantity",
			width:140,
			type : 'rightAligned',
			valueFormatter: formatIndianNumber,
		},{
			headerName : 'Unit',
			field : "unitName",
			width:100,
			cellStyle : {
				textAlign : 'center'
			},
		},{
			headerName : 'Quantity In Kg',
			field : "totalInKg",
			width:140,
			type : 'rightAligned',
			valueFormatter: formatIndianNumber,
		},{
			headerName : 'Quantity In MT',
			field : "totalInMT",
			width:140,
			type : 'rightAligned',
			valueFormatter: formatIndianNumber,
		},{
			headerName : 'CGST',
			field : "totalCgst",
			width:140,
			type : 'rightAligned',
			valueFormatter: formatIndianNumber,
		},{
			headerName : 'SGST',
			field : "totalSgst",
			width:140,
			type : 'rightAligned',
			valueFormatter: formatIndianNumber,
		},{
			headerName : 'IGST',
			field : "totalIgst",
			width:140,
			type : 'rightAligned',
			valueFormatter: formatIndianNumber,
		},{
			headerName : 'Amount',
			field : "grandTotal",
			width:140,
			type : 'rightAligned',
			//valueFormatter : currencyFormatter,
			valueFormatter: formatIndianNumber,
			/* cellRenderer: function(params) {
				        var value = params.value.toFixed(2);
				        return amountFormatter(value);
				    } */
		},{
			headerName : "Invoice",
			cellStyle : {
				textAlign : 'center'
			},
			cellRenderer : function(params) {
				var s = "";
				if(params.data.saleInvoice === 'Total:' || params.data.saleInvoice == "" || params.data.saleInvoice == null){
					s = "";
				}else{
					s = ' <a href="#" class="grn-btn" onclick="invoicePdfDownloadModal(\''+params.data.saleInvoice+'\')"><i class="ti ti-download"></i> Invoice </a>';
				}
				
				return s;
			},
			width: 140,
		},{
			headerName : 'Invoice Status',
			field : "rejectStatus",
			width:140,
			cellStyle : {
				textAlign : 'center'
			},
			cellRenderer : function(params) {
				if(params.data.saleInvoice === 'Total:' || params.data.saleInvoice == "" || params.data.saleInvoice == null){
					return '';
				}else{
					if (params.data.rejectStatus =="Rejected") { 
						return '<div style="color:red;font-weight: bold;">'+params.data.rejectStatus+'</div>';
					} if (params.data.rejectStatus =="Approved"){
						return '<div style="color:blue;font-weight: bold;">'+params.data.rejectStatus+'</div>';
					} else {
						return '<div style="color:orange;font-weight: bold;">'+params.data.rejectStatus+'</div>';
					}
				}
				
			}
		},{
			headerName : 'Approved/Rejected By',
			field : "approvedBy",
			width:220,
			cellStyle : {
				textAlign : 'center'
			},
		},{
			headerName : 'Approved/Rejected DateTime',
			field : "approve_rejectDate",
			width:250,
			cellStyle : {
				textAlign : 'center'
			},
		},{
			headerName : 'Payment Status',
			field : "paymentStatus",
			width:160,
			cellStyle : {
				textAlign : 'center'
			},
			cellRenderer : function(params) {
				if(params.data.saleInvoice === 'Total:' || params.data.saleInvoice == "" || params.data.saleInvoice == null){
					return '';
				}else{
					if (params.data.paymentStatus =="Pending") { 
						return '<div style="color:red;font-weight: bold;">'+params.data.paymentStatus+'</div>';
					}else {
						return '<div style="color:#0642f5;font-weight: bold;">'+params.data.paymentStatus+'</div>';
					}
				}
				
			}
		},{
			headerName : 'Due Date',
			field : "dueDate",
			width:140,
			cellStyle : {
				textAlign : 'center'
			}
		},{ 
			headerName : 'Payment Term(Days)',
			field : "paymentTermId",
			width:180,
		},{
			headerName : 'Created By',
			field : "qutCreatedBy",
			width:150,
		}];
	var rowData = [ {
		saleInvoice: 'Total:'
    },];
var gridOptions = {
	columnDefs : columnDefs,
	rowSelection : 'single',

	groupSelectsChildren : true,
	suppressRowClickSelection : true,
	suppressAggFuncInHeader : true,
	defaultColDef : {
		sortable : true,
		filter : true,
		resizable : true,
		width : 251,
		height : 10
	},
	//onSelectionChanged : rowSelect,
	pinnedBottomRowData: rowData,
	
		 getRowStyle: function (params) {
			if (params.node.rowPinned) {
		      return { background: '#EAE7FA !important', fontWeight: 'bold' };
		    }
		    return null;
	  	},

};

//Function to call after the data is rendered
function setTotalData() {
 
	var filteredRowCount = 0;
    var data = [];
    gridOptions.api.forEachNodeAfterFilter(function (node) {
        filteredRowCount++;
        data.push(node.data);
    });
    var quantity = data.reduce(function (sum, row) {
        return sum + parseFloat(row.totalQuantity);
    }, 0);
    var quantityInKg = data.reduce(function (sum, row) {
        return sum + parseFloat(row.totalInKg);
    }, 0);
    var quantityInMt = data.reduce(function (sum, row) {
        return sum + parseFloat(row.totalInMT);
    }, 0);
    var cgst = data.reduce(function (sum, row) {
        return sum + parseFloat(row.totalCgst);
    }, 0);
    var sgst = data.reduce(function (sum, row) {
        return sum + parseFloat(row.totalSgst);
    }, 0);
    var igst = data.reduce(function (sum, row) {
        return sum + parseFloat(row.totalIgst);
    }, 0);
    var gt = data.reduce(function (sum, row) {
        return sum + parseFloat(row.grandTotal);
    }, 0);
	
    
    var totalRow = [{
    	saleInvoice: 'Total:',
    	totalQuantity: quantity.toFixed(2),
    	totalCgst: cgst.toFixed(2),
    	totalSgst: sgst.toFixed(2),
    	totalIgst: igst.toFixed(2),
    	grandTotal: gt.toFixed(2),
    	totalInKg: quantityInKg.toFixed(2),
    	totalInMT: quantityInMt.toFixed(2),

    }];
    console.log("addedData",totalRow);
    gridOptions.api.setPinnedBottomRowData(totalRow);
}

function formatIndianNumber(params) {
    if (params.value == null) {
        return null;
    }
    
    let [integerPart, decimalPart] = params.value.toString().split('.');
    
    // Format the integer part in the Indian format
    let lastThree = integerPart.slice(-3);
    let otherNumbers = integerPart.slice(0, -3);
    
    // Add commas after every two digits in the other part (if there are digits)
    if (otherNumbers != '') {
        otherNumbers = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",");
    }

    // Concatenate the properly formatted integer part with the last three digits
    let formattedNumber = otherNumbers ? otherNumbers + ',' + lastThree : lastThree;

    // Return the formatted number with decimals (if any)
    return decimalPart ? `${formattedNumber}.${decimalPart}` : formattedNumber;
}

var itemDefs = [
	/* {
			headerCheckboxSelection : true,
			headerCheckboxSelectionFilteredOnly : true,
			checkboxSelection : true,
			width : 10,
			sortable : false,
			filter : false,
			resizable : true

		}, */
		/* {
			headerName : "SlNo",
			field : "slNo",
			width : 70,
		cellRenderer : function(params) {
				if (params.data.slNo) {
					return '<a onclick=editProduct("' + params.data.slNo
							+ '") href="javascript:void(0)">'
							+ params.data.slNo + '</a>';
				} else {
					return '<a onclick=editProduct("' + params.data.slNo
							+ '") href="javascript:void(0)">'
							+ params.data.slNo + '</a>';
				}
			} 
		}, */ {
			headerName : 'Material Code',
			field : "sku",
		}, {
			headerName : 'HSN Code',
			field : "hsnCode",
		}, {

			headerName : 'Material Name',
			field : "itemName",
			width : 175,
		}, {
			headerName : 'Quantity',
			field : "quantity",
			type : 'rightAligned',
			valueFormatter : currencyFormatter
		}, {
			headerName : 'Unit',
			field : "unitName",
		},{
			headerName : 'Quantity In Kg',
			field : "totalInKg",
			width:140,
			type : 'rightAligned',
			valueFormatter: formatIndianNumber,
		},{
			headerName : 'Quantity In MT',
			field : "totalInMT",
			width:140,
			type : 'rightAligned',
			valueFormatter: formatIndianNumber,
		},  {
			headerName : 'Unit Price',
			field : "unitPrice",
			type : 'rightAligned',
			width : 120,
			cellRenderer: function(params) {
		        var value = params.value.toFixed(2);
		        return amountFormatter(value);
		    } 
		}, {
			headerName : 'Amount',
			field : "lineTotal",
			type : 'rightAligned',
		//	valueFormatter : currencyFormatter,
		cellRenderer: function(params) {
				        var value = params.value.toFixed(2);
				        return amountFormatter(value);
				    },
			aggFunc : 'sum'
		}, {
			headerName : 'GST Rate',
			field : "gstRate",
			type : 'rightAligned',
			cellRenderer: function(params) {
		        var value = params.value.toFixed(2);
		        return amountFormatter(value);
		    } 
		}, {
			headerName : 'CGST',
			field : "itemCgst",
			type : 'rightAligned',
			cellRenderer: function(params) {
		        var value = params.value.toFixed(2);
		        return amountFormatter(value);
		    } 
		}, {
			headerName : 'SGST',
			field : "itemSgst",
			type : 'rightAligned',
			cellRenderer: function(params) {
		        var value = params.value.toFixed(2);
		        return amountFormatter(value);
		    } 
		}, {
			headerName : 'IGST',
			field : "itemIgst",
			type : 'rightAligned',
			cellRenderer: function(params) {
		        var value = params.value.toFixed(2);
		        return amountFormatter(value);
		    } 
		 }, {
			headerName : 'Taxable Amount',
			field : "taxableAmt",
			type : 'rightAligned',
			width : 155,
			//valueFormatter : currencyFormatter 
			cellRenderer: function(params) {
				        var value = params.value.toFixed(2);
				        return amountFormatter(value);
				    }
}];
var itemOptions = {
	columnDefs : itemDefs,
	rowSelection : 'multiple',
	groupSelectsChildren : true,
	suppressRowClickSelection : true,
	suppressAggFuncInHeader : true,
	defaultColDef : {
		sortable : true,
		filter : true,
		resizable : true,
		width : 100,
		height : 10,
		editable : true,
	},
};

var columnDefs = [
	/* {
		headerCheckboxSelection : false,
		headerCheckboxSelectionFilteredOnly : true,
		checkboxSelection : true,
		width : 10,
		sortable : false,
		filter : false,
		resizable : true,
		pinned: 'left',
	}, */
	{
		headerName : "Sales Invoice Id",
		field : "saleInvoice",
		pinned: 'left',
		width : 180,
		cellRenderer : function(params) {
			return '<a onclick=editsalesInvoice("'
					+ params.data.saleInvoice
					+ '","'+params.data.poId+'") href="javascript:void(0)">'
					+ params.data.saleInvoice + '</a>';
		}
	}, {
		headerName : 'Invoice Date',
		field : "invoiceDate",
		width:140,
		cellStyle : {
			textAlign : 'center'
		}
	}, {
		headerName : 'PO Number',
		field : "poId",
		width:120,
		cellStyle : {
			textAlign : 'center'
		},
	}, {
		headerName : 'SAP Number',
		field : "sapId",
		width:120,
		cellStyle : {
			textAlign : 'center'
		},
	}, {
		headerName : 'Category',
		field : "type",
		width:110,
		cellStyle : {
			textAlign : 'center'
		},
		
	},{	headerName : 'Customer Name',
		field : "custName",
		cellStyle : {
			
		},
	},{
		headerName : 'Amount',
		field : "grandTotal",
		width:140,
		type : 'rightAligned',
		//valueFormatter : currencyFormatter,
		cellRenderer: function(params) {
				        var value = params.value.toFixed(2);
				        return amountFormatter(value);
				    }
		
	},/* {
		headerName : "Invoice",
		cellStyle : {
			textAlign : 'center'
		},
		cellRenderer : function(params) {
			var s = "";
			s = ' <a href="#" class="grn-btn" onclick="invoicePdfDownloadModal(\''+params.data.saleInvoice+'\')"><i class="ti ti-download"></i> Invoice </a>';
			return s;
		},
		width: 140,
	}, */{
		headerName : 'Invoice Status',
		field : "rejectStatus",
		width:140,
		cellStyle : {
			textAlign : 'center'
		},
		cellRenderer : function(params) {
			if (params.data.rejectStatus =="Rejected") { 
				return '<div style="color:red;font-weight: bold;">'+params.data.rejectStatus+'</div>';
			} if (params.data.rejectStatus =="Approved"){
				return '<div style="color:blue;font-weight: bold;">'+params.data.rejectStatus+'</div>';
			} else {
				return '<div style="color:orange;font-weight: bold;">'+params.data.rejectStatus+'</div>';
			}
		}
	},{
		headerName : 'Approved/Rejected By',
		field : "approvedBy",
		width:220,
		cellStyle : {
			textAlign : 'center'
		},
	},{
		headerName : 'Approved/Rejected DateTime',
		field : "approve_rejectDate",
		width:250,
		cellStyle : {
			textAlign : 'center'
		},
	},{
		headerName : 'Payment Status',
		field : "paymentStatus",
		width:160,
		cellStyle : {
			textAlign : 'center'
		},
		cellRenderer : function(params) {
			if (params.data.paymentStatus =="Pending") { 
				return '<div style="color:red;font-weight: bold;">'+params.data.paymentStatus+'</div>';
			}else {
				return '<div style="color:#0642f5;font-weight: bold;">'+params.data.paymentStatus+'</div>';
			}
		}
	},{
		headerName : 'Due Date',
		field : "dueDate",
		width:140,
		cellStyle : {
			textAlign : 'center'
		}
	},{ 
		headerName : 'Payment Term(Days)',
		field : "paymentTermId",
		width:180,
	},{
		headerName : 'Created By',
		field : "qutCreatedBy",
		width:150,
	},{
		headerName : 'Material Code',
		field : "sku",
	}, {
		headerName : 'HSN Code',
		field : "hsnCode",
	}, {

		headerName : 'Material Name',
		field : "itemName",
		width : 175,
	}, {
		headerName : 'Quantity',
		field : "quantity",
		type : 'rightAligned',
		valueFormatter : currencyFormatter
	}, {
		headerName : 'Unit',
		field : "unitName",
	},  {
		headerName : 'Unit Price',
		field : "unitPrice",
		type : 'rightAligned',
		width : 120,
	//	valueFormatter : currencyFormatter
	   cellRenderer: function(params) {
				        var value = params.value.toFixed(2);
				        return amountFormatter(value);
				    }
	}, {
		headerName : 'Taxable Amount',
		field : "lineTotal",
		type : 'rightAligned',
	//	valueFormatter : currencyFormatter,
	    cellRenderer: function(params) {
				        var value = params.value.toFixed(2);
				        return amountFormatter(value);
				    },
		aggFunc : 'sum'
	}, {
		headerName : 'GST Rate',
		field : "gstRate",
		type : 'rightAligned',
		cellRenderer: function(params) {
	        var value = params.value.toFixed(2);
	        return amountFormatter(value);
	    } 
	}, {
		headerName : 'CGST',
		field : "itemCgst",
		type : 'rightAligned',
		cellRenderer: function(params) {
	        var value = params.value.toFixed(2);
	        return amountFormatter(value);
	    } 
	}, {
		headerName : 'SGST',
		field : "itemSgst",
		type : 'rightAligned',
		cellRenderer: function(params) {
	        var value = params.value.toFixed(2);
	        return amountFormatter(value);
	    } 
	}, {
		headerName : 'IGST',
		field : "itemIgst",
		type : 'rightAligned',
		cellRenderer: function(params) {
	        var value = params.value.toFixed(2);
	        return amountFormatter(value);
	    } 
	 }, {
		headerName : 'Total Amount',
		field : "taxableAmt",
		type : 'rightAligned',
		width : 155,
		cellRenderer: function(params) {
	        var value = params.value.toFixed(2);
	        return amountFormatter(value);
	    }  
}];

var downloadSalesInvoice = {
columnDefs : columnDefs,
rowSelection : 'single',

groupSelectsChildren : true,
suppressRowClickSelection : true,
suppressAggFuncInHeader : true,
defaultColDef : {
	sortable : true,
	filter : true,
	resizable : true,
	width : 251,
	height : 10
},
//onSelectionChanged : rowSelect,
};


	function downloadDetails() {
		var sec = $("#sec").val();
		if (sec == "salesInvoice") {
			const params = {
			        skipHeader: false,
			        columnGroups: false,
			        skipFooters: false,
			        skipGroups: false,
			        skipPinnedTop: false,
			        skipPinnedBottom: false,
			        allColumns: true,
			        onlySelected: false,
			        suppressQuotes: false,
			        fileName: 'salesInvoice.csv',
			        sheetName: 'Sheet1',
			        customHeader: null,
			        customFooter: null,
			    };
			downloadSalesInvoice.api.exportDataAsCsv(params);
		}else if (sec == "scrapInvoice") {
			const params = {
			        skipHeader: false,
			        columnGroups: false,
			        skipFooters: false,
			        skipGroups: false,
			        skipPinnedTop: false,
			        skipPinnedBottom: false,
			        allColumns: true,
			        onlySelected: false,
			        suppressQuotes: false,
			        fileName: 'scrapSalesInvoice.csv',
			        sheetName: 'Sheet1',
			        customHeader: null,
			        customFooter: null,
			    };
			downloadSalesInvoice.api.exportDataAsCsv(params);
		}

	}

	function ShowAgGrid(sec) {
		$("#sec").val(sec);
		if (sec == 'salesInvoice') {

			$("#salesInvoiceSec").addClass("active");
			$('#scrapInvoiceSec').removeClass('active');
			$('#salesInvoiceExcel').show();
			$('#scrapSalesInvoiceExcel').hide();
			var toDayDate = (new Date()).toISOString().split('T')[0];
			var newDate = changeDateFormat(toDayDate);

			//cancelBar();
			
			$("#filterFromDate").val(newDate);
			$("#filterToDate").val(newDate);

			$("#fromDateCalender").val(newDate);
			$("#toDateCalendar").val(newDate);
			
			gridOptions.columnApi.setColumnVisible('sapId', true);
			gridOptions.columnApi.setColumnVisible('totalInKg', true);
			gridOptions.columnApi.setColumnVisible('totalInMT', true);
			downloadSalesInvoice.columnApi.setColumnVisible('sapId', true);
			downloadSalesInvoice.columnApi.setColumnVisible('totalInKg', true);
			downloadSalesInvoice.columnApi.setColumnVisible('totalInMT', true);
			
			$("#myGrid").show();
			$("#myGrid_DownloadSalesInvoice").hide();

			ShowAgGridData(sec, newDate);
		} else if (sec == 'scrapInvoice') {

			$("#salesInvoiceSec").removeClass("active");
			$('#scrapInvoiceSec').addClass('active');
			$('#salesInvoiceExcel').hide();
			$('#scrapSalesInvoiceExcel').show();
			
			var toDayDate = (new Date()).toISOString().split('T')[0];
			var newDate = changeDateFormat(toDayDate);

			//cancelBar();
			
			$("#filterFromDate").val(newDate);
			$("#filterToDate").val(newDate);

			$("#fromDateCalender").val(newDate);
			$("#toDateCalendar").val(newDate);
			
			gridOptions.columnApi.setColumnVisible('sapId', false);
			gridOptions.columnApi.setColumnVisible('totalInKg', false);
			gridOptions.columnApi.setColumnVisible('totalInMT', false);
			downloadSalesInvoice.columnApi.setColumnVisible('sapId', false);
			downloadSalesInvoice.columnApi.setColumnVisible('totalInKg', false);
			downloadSalesInvoice.columnApi.setColumnVisible('totalInMT', false);
			
			$("#myGrid").show();
			$("#myGrid_DownloadSalesInvoice").hide();
			
			/* $("#messageParagraph").text("Comming Soon!!!!!");
			$("#msgOkModal").removeClass("btn3");
			$("#msgOkModal").addClass("btn1");
			$("#msgModal").modal('show'); */
			//ShowAgGrid("salesInvoice");

			ShowAgGridData(sec, newDate);
		} 

	}

	function ShowAgGridData(sec, newDate) {
		var rowNode = [];
		$(".loader").show();
		agGrid.simpleHttpRequest(
						{
							url : "view-salesReport-salseInvoice?sec="
									+ $("#sec").val()
									+ "&fromdate=" + newDate
									+ "&todate=" + newDate
									
						})
				.then(
						function(data) {
							$(".loader").hide();
							gridOptions.api.setRowData(rowNode);
							downloadSalesInvoice.api.setRowData(rowNode);
							var jsonData = JSON
									.parse(data.body);
							var allData = jsonData.viewSalesInvoiceReportData;
							var salesInvoiceDownload = jsonData.viewSalesInvoiceReportDataDownload;
							console.log("allData",allData);
							var len = "";
							if(allData == null || allData == ""){
								len = "0";
							}else{
								len = allData.length;
							}
							
							$('#totalReq').find('span').html(len);
							console.log("sdfghjkl",salesInvoiceDownload);
							gridOptions.api.setRowData(allData);
							downloadSalesInvoice.api.setRowData(salesInvoiceDownload);
							
							setTotalData();
						});

	}

	function filter() {
		var fromdatex = $("#filterFromDate").val();
		var fd = fromdatex.split("-");
		var todatex = $("#filterToDate").val();
		var td = todatex.split("-");

		if (fromdatex != '' && todatex != '') {
			if (fd[2] == td[2]) {
				if (fd[1] == td[1]) {
					if (fd[0] <= td[0]) {
						filterData();
					} else {
						setFromToDate();
					}
				} else if (fd[1] < td[1]) {
					filterData();
				} else {
					setFromToDate();
				}
			} else if (fd[2] < td[2]) {
				filterData();
			} else {
				setFromToDate();
			}
		}
	}
	function setFromToDate() {
		$("#messageParagraph").text(
				"Please choose to date greater than or equal to from date ");
		$("#msgOkModal").removeClass("btn3");
		$("#msgOkModal").addClass("btn1");
		$("#msgModal").modal('show');
		var date = (new Date()).toISOString().split('T')[0];
		var newToDate = changeDateFormat(date);
		var newFromDate = changeDateFormat(date);
		$("#filterFromDate").val(newToDate);
		$("#filterToDate").val(newToDate);

		$("#fromDateCalender").val(newDate);
		$("#toDateCalendar").val(newDate);
	}

	function filterData() {
		var rowNode = [];
		var secx = $("#sec").val();
		var fromDate = $("#filterFromDate").val();
		var toDate = $("#filterToDate").val();
		$(".loader").show();
		agGrid.simpleHttpRequest(
				{
					url : "view-salesReport-salseInvoice?sec="
						+ secx
						+ "&fromdate=" + fromDate
						+ "&todate=" + toDate
				}).then(function(data) {
					$(".loader").hide();
					gridOptions.api.setRowData(rowNode);
					downloadSalesInvoice.api.setRowData(rowNode);
			var jsonData = JSON.parse(data.body);
				gridOptions.api.setRowData();
				var jsonData = JSON.parse(data.body);
				var allData = jsonData.viewSalesInvoiceReportData;
				var salesInvoiceDownload = jsonData.viewSalesInvoiceReportDataDownload;
				console.log(allData);
				var len = "";
				if(allData == null || allData == ""){
					len = "0";
				}else{
					len = allData.length;
				}
				$('#totalReq').find('span').html(
						len);
				console.log("sdfghjkl",salesInvoiceDownload);
				gridOptions.api.setRowData(allData);
				downloadSalesInvoice.api.setRowData(salesInvoiceDownload);
			
				
				setTotalData();

		});

	}

	function changeDateFormat(inputDate) { // expects Y-m-d
		var splitDate = inputDate.split('-');
		if (splitDate.count == 0) {
			return null;
		}
		var year = splitDate[0];
		var month = splitDate[1];
		var day = splitDate[2];

		return day + '-' + month + '-' + year;
	}

function invoicePdfDownloadModal(saleInvoice) {
		
		
		//var copytype=$('input[name="copyType"]:checked').val();
		var organization = $("#sessionOrganization1").val();
		var orgDivision = $("#sessionOrgDivision").val();
		
		$('#invoiceModal').modal('hide');
		window.open("/sales/view-saleInvoice-pdf-downloads-report?saleInvoice="
				+ window.btoa(saleInvoice)+"&organization="
				/* + window.btoa(copytype)+ "&organization=" */
				+ window.btoa(organization) + "&orgDivision="
				+ window.btoa(orgDivision), '_blank');  
	}
	
	
function editsalesInvoice(id) {
	//alert(id+type);

	agGrid.simpleHttpRequest({
		url : "view-salesReport-salseInvoice-dtls?id=" + id

	}).then(function(data) {
		var jsonData = JSON.parse(data.body);
		var allData = jsonData.viewSalesReportDtls;

		console.log(allData)
		if (allData == 'null' || allData == null) {
			$("#messageParagraph").text("OOps!! No Data Available!");
			$("#msgOkModal").removeClass("btn3");
			$("#msgOkModal").addClass("btn1");
			$("#msgModal").modal('show');
		} else {

			itemOptions.api.setRowData(allData);
			$('#entry').find('span').html(id);
			$('#myModal10').modal('show');
		}

	});

}
function onQuickFilterChanged() {
	gridOptions.api
			.setQuickFilter(document.getElementById('quickFilter').value);
	setTotalData();
}

function cancelBar() {
	var id = document.getElementById("closeKey");
	id.style.display = "block";

	if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
		id.style.display = "none";
		
	}
	
}

function amountFormatter(value) {
    if (value !== null && value !== undefined) {
        var parts = value.toString().split('.');
        var integerPart = parts[0];
        var decimalPart = parts.length > 1 ? '.' + parts[1] : '';
        var formattedIntegerPart = new Intl.NumberFormat('en-IN').format(integerPart);
        return formattedIntegerPart + decimalPart;
    } else {
        return '';
    }
}
var sec= $("#sec").val();
function downloadExcelFromGrid(sec, gridOptions) {
    var fileName;
    var selectedHeaders;

    if (sec === 'salesInvoice') {
        fileName = 'SaleInvoice_Report.xlsx';
    } else if (sec === 'scrapInvoice') {
        fileName = 'SalesScrap_Report.xlsx';
    } else {
        console.error("Invalid type specified");
        return;
    }

    var columns = gridOptions.columnApi.getAllColumns();
    selectedHeaders = columns.map(function (col) {
        return col.getColDef().headerName;
    });

    var fromDate = $("#filterFromDate").val();
    var toDate = $("#filterToDate").val();
    fileName = sec === 'salesInvoice' ? 'Sales_Report_' + '(' + fromDate + ' To ' + toDate + ')' + '.xlsx' :
                                       'SalesScrap_Report_' + '(' + fromDate + ' To ' + toDate + ')' + '.xlsx';
    
    var tAmnt = 0;
    var totalTaxableAmount = 0;
    var totalIGST = 0;
    var totalCGST = 0;
    var totalSGST = 0;
    var totalAmount = 0;
    
    var rowData = [];
    var fieldMap = {};

    columns.forEach(function (col) {
        var colDef = col.getColDef();
        fieldMap[colDef.headerName] = colDef.field;
    });
    
    var fieldMappings = {
        'salesInvoice': {
            'Amount': 'grandTotal',
            'CGST':'itemCgst',
            'SGST':'itemSgst',
            'IGST':'itemIgst',
            'Total Amount':'taxableAmt',
            'Taxable Amount':'lineTotal',
        },
        'scrapInvoice': {
        	 'Amount': 'grandTotal',
             'CGST':'itemCgst',
             'SGST':'itemSgst',
             'IGST':'itemIgst',
             'Total Amount':'taxableAmt',
             'Taxable Amount':'lineTotal',
        }
    };
    gridOptions.api.forEachNodeAfterFilterAndSort(function (node) {
        var data = {};
        selectedHeaders.forEach(function (header) {
            var field = fieldMap[header];
            var value = node.data[field]!= null ? node.data[field] : '';
            if (field === fieldMappings[sec]['Amount'] || field === fieldMappings[sec]['CGST'] || field === fieldMappings[sec]['SGST'] || field === fieldMappings[sec]['IGST'] || field === fieldMappings[sec]['Total Amount']|| field === fieldMappings[sec]['Taxable Amount']) {
                value = amountFormatter(parseFloat(value).toFixed(2));
            }
            data[header] = value;
        });

        rowData.push(data);
        var amount = parseFloat(node.data[fieldMappings[sec]['Amount']]) || 0;
        var cgst =  parseFloat(node.data[fieldMappings[sec]['CGST']]) || 0;
        var sgst =  parseFloat(node.data[fieldMappings[sec]['SGST']]) || 0;
        var igst =  parseFloat(node.data[fieldMappings[sec]['IGST']]) || 0;
        var tAmount =  parseFloat(node.data[fieldMappings[sec]['Total Amount']]) || 0;
        var taxableAmount =  parseFloat(node.data[fieldMappings[sec]['Taxable Amount']]) || 0;
        
        tAmnt += amount;
        totalCGST += cgst;
        totalIGST += igst;
        totalSGST += sgst;
        totalTaxableAmount += taxableAmount;
        totalAmount += tAmount;;
        
    });

    var formattedTotals = {
            'Amount': amountFormatter(tAmnt.toFixed(2)),
            'CGST': amountFormatter(totalCGST.toFixed(2)),
            'SGST': amountFormatter(totalSGST.toFixed(2)),
            'IGST': amountFormatter(totalIGST.toFixed(2)),
            'Total Amount': amountFormatter(totalAmount.toFixed(2)),
            'Taxable Amount': amountFormatter(totalTaxableAmount.toFixed(2))
        };
    
    var totalRow = selectedHeaders.reduce(function (obj, header) {
        obj[header] = formattedTotals[header] || (header === selectedHeaders[0] ? 'Total' : '');
        return obj;
    }, {});
     
    rowData.push(totalRow);

    var ws = XLSX.utils.json_to_sheet(rowData, { header: selectedHeaders });
    var wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, sec + 'Report');
    XLSX.writeFile(wb, fileName);
}


</script>
<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">
						<div id="main_content">
							<div class="row mt-1" id="buttonClass">
								<div class="btn-group col-md-6">
									<button class="btn btn-primary " id="salesInvoiceSec"
										value='salesInvoiceSec' onclick="ShowAgGrid('salesInvoice')">Sales
										Invoice</button>
								</div>
								<div class="btn-group col-md-6 mrg-top">
									<button class="btn btn-primary " id="scrapInvoiceSec"
										value='scrapInvoiceSec' onclick="ShowAgGrid('scrapInvoice')">Scrap
										Sales Invoice</button>
								</div>
							</div>
							<br>
							<div class="d-flex flex-wrap justify-content-between" id="tdiv">
								<div class="btn-hs">
									<div class="font-design" id="totalReq">
										TOTAL INVOICE(<span></span>) <input type="hidden" id="sec">
									</div>
								</div>
								<div id="searchRowDiv">
									<div class="input-style" >
										<input type="text" placeholder="Search.." name="search"
											class="searchboxinput" onkeyup="cancelBar()"
											oninput="onQuickFilterChanged()" id="quickFilter"
											autocomplete="off">
										<div class="searchicon">
											<a href="javascript:void(0)"><span
												style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
												id="closeKey"
												onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';setTotalData();"
												class="close_i"><i class="ti-close srchicon"></i></span></a><a
												href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
										</div>
									</div>
								</div>


								<div class="button-right">
									<div id="dateDiv1" class="d-flex form-group">
										<label style="margin: 5px 8px 0px 0px;">From Dt:</label>
										<div class="form-group calendar_box" id='fdate'
											style="margin-right: 15px;">
											<input type="text" id="filterFromDate" value=""
												class="form-control" placeholder="from date.."
												th:attr="onkeyup=|formatDate('filterFromDate','${session.DATEFORMAT_JS}')|"
												readonly> <i class="ti-calendar picker_calendar"
												id="fromDateCalender" style="top: 14px; right: 5px;"></i>
										</div>
									</div>
									<div id="dateDiv2" class="d-flex form-group">
										<label style="margin: 5px 8px 0px 0px;">To Dt:</label>
										<div class="form-group calendar_box" id="tdate"
											style="margin-right: 15px;">
											<input type="text" id="filterToDate" value=""
												class="form-control" placeholder="to date.."
												th:attr="onkeyup=|formatDate('filterToDate','${session.DATEFORMAT_JS}')|"
												readonly> <i class="ti-calendar picker_calendar"
												id="toDateCalendar" style="top: 14px; right: 5px;"></i>
										</div>
									</div>

									<div class="buttonsec btn-hs" id="ttbtn">
										<button class="new-btn" id="filterBtn" onclick="filter()">
											<i class="bi bi-search"></i> Search
										</button>
									</div>
									<!--  <div class="buttonsec btn-hs" id="ttbtn">
										<button class="download-btn" id="download"
											onclick="downloadDetails()">Download</button>
									</div>  -->
										<!-- <div class="buttonsec btn-hs">
                            		  <input type="button" class="btn1" id="salesInvoiceExcel"
                            		  value="Download Excel" style="width:100px" onclick="downloadExcelFromGrid('salesInvoice', downloadSalesInvoice)" readonly>
                            		   </div> -->
                           			  <!-- <div class="buttonsec btn-hs">
 						 			  <input type="button" class="btn1" id="scrapSalesInvoiceExcel"
       							    value="Download Excel" style="width:100px" onclick="downloadExcelFromGrid('scrapInvoice', gridOptions)" readonly>
									</div> -->
								</div>
							</div>


						</div>
						<input type="hidden" id="sessionOrganization1"
							th:value="${session.ORGANIZATION}" /> <input type="hidden"
							id="sessionOrgDivision"
							th:value="${session.ORGANIZATION_DIVISION}" />
						<div id="gateInGrid">
							<div id="myGrid" style="width: 100%; height: 500px;"
								class="ag-theme-alpine"></div>

						</div>
						<div id="gateOutGrid">
							<div id="myGrid1" style="width: 100%; height: 500px;"
								class="ag-theme-alpine"></div>
						</div>
						<div id="myGrid_DownloadSalesInvoice"
							style="width: 100%; height: 500px;" class="ag-theme-alpine"></div>
						<!-- <div id="myGrid_DownloadGateOut"
							style="width: 100%; height: 500px;" class="ag-theme-alpine"></div>  -->




					</div>
				</div>
				<div class="modal fade" id="myModal10">
					<div class="modal-dialog modal-lg" style="max-width: 1100px">
						<div class="modal-content" style="width: 100%">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title" style="font-size: 16px" id="entry">
									<b>Invoice Id: <span></span></b>
								</h4>
								<button type="button" class="close" data-bs-dismiss="modal"
									style="font-size: 25px">
									<i class="ti-close"></i>
								</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body"
								style="height: 300px; overflow-y: scroll;">
								<div class="vertical-line">

									<div class="row">
										<div id="myGrid2" style="width: 100%; height: 250px;"
											class="ag-theme-alpine"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="myModal11">
					<div class="modal-dialog modal-lg" style="max-width: 1100px">
						<div class="modal-content" style="width: 100%">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title" style="font-size: 16px" id="entry1">
									<b>Invoice Id: <span></span></b>
								</h4>
								<button type="button" class="close" data-bs-dismiss="modal"
									style="font-size: 25px">
									<i class="ti-close"></i>
								</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body"
								style="height: 300px; overflow-y: scroll;">
								<div class="vertical-line">

									<div class="row">
										<div id="myGrid3" style="width: 100%; height: 250px;"
											class="ag-theme-alpine"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

</body>

</html>