<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>
<style type="text/css">
.highcharts-exporting-group {
	display: none;
}

.btn-primarynew {
	color: #fff !important;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.slidebox {
	padding: 14px;
	margin-top: 0px;
	margin: 0px 10px;
}

.form-group label {
	top: 4px;
}

.holdCls {
	background-color: rgb(0, 143, 0);
}

.bg_white {
	background: #ffffff !important;
}

.blueClsWT {
	background: #0076ba;
	color: #fff;
}

.blueCls {
	background: #0076ba;
	color: #fff;
}

.blueClsWT::before {
	font-size: 8px;
	color: #FFF;
	content: '\e64c';
	font-family: 'themify';
	padding-right: 7px;
}

.modal-body table td input[type=checkbox] {
	width: 0px;
	margin-right: 16px;
	position: relative;
	top: 0px;
	float: none;
}

.firstnode {
	color: #929292;
	border-top: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important;
	width: 320px;
	font-size: 12px;
	font-weight: 100;
}

.simple-tree-table-closed .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
	transform: rotate(90deg);
}

.simple-tree-table-opened .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
}

/* .picker_calendar {
	cursor: pointer;
	position: absolute;
	top: 237px;
	right: 914px;
} */
.simple-tree-table-icon {
	display: inline-block;
	width: 1.5em;
	line-height: 1.5em;
	margin: 0.1em;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 13px;
}

element.style {
	
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 13px;
}

/*.picker_calendar {
	cursor: pointer;
	position: absolute;
	top: 40px;
	right: 15px;
}*/
.tptCls {
	background: transparent;
}

/*.picker_calendar2 {
	cursor: pointer;
	position: absolute;
	top: 38px;
	right: 13px;
}*/
.autocomplete {
	position: relative;
	display: inline-block;
	width: 315px;
}

.billtxt {
	font-size: 14px !important;
	white-space: nowrap;
}

.preserve-wrap1 {
	font-size: 14px !important;
	/* white-space: nowrap; */
}

.formValidation1 {
	font-size: 10px;
	font-weight: 100;
	color: #ff9e99;
	background-color: transparent;
	position: relative;
	top: -1px;
	padding: 3px 0;
}

ul#autocomplete-list1 {
	position: relative;
	z-index: 999;
}

ul#autocomplete-list1 li {
	position: relative;
	color: #fff;
	padding-left: 6px;
	background-color: var(--mainColor);
	border-bottom: solid 1px #d6ccd9;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sugg-cls ul {
	height: 150px;
	overflow-x: scroll;
	position: relative;
}

a.addCust {
	color: #fff !important;
}

.cust-detls {
	position: relative;
}

.custom-file-icon {
	font-size: calc(( 14/ 16)* 1rem);
	color: rgb(191, 5, 255);
}

.deleteFileDoc {
	font-size: calc(( 14/ 16)* 1rem);
	left: 12rem;
	top: 1.8rem;
	border: solid 1px var(--grayborderColor) !important;
	display: inline-block;
	cursor: pointer;
	font-weight: 100;
	background-color: var(--whiteColor);
	margin: 0 5px;
	line-height: 31px;
	border-radius: .25rem;
	height: 32px;
	transition: all 0.5s;
	width: 32px;
	text-align: center;
	font-size: 12px;
}

.sp-bw {
	justify-content: space-between;
	align-items: center;
}

.select {
	border-bottom: 1px solid #ccc;
}

select {
	width: 90%;
	border-bottom: none !important;
}

.cal-section .form-label {
	margin-bottom: 0px !important;
	margin-top: 15px;
}

.switch {
	display: inline-block;
	height: 26px;
	position: relative;
	width: 54px;
}

.switch input {
	display: none;
}

.slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:before {
	background-color: #fff;
	bottom: 2px;
	content: "";
	height: 22px;
	left: 3px;
	position: absolute;
	transition: .4s;
	width: 22px;
}

input:checked+.slider {
	background-color: var(--mainColor);
}

input:checked+.slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.go-sale-order {
	display: flex;
	align-items: center;
}

.ml-10 {
	margin-left: 10px;
}
</style>
<script src="/javaScript/sales/po-wo.js"></script>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

</head>
<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<input type="hidden" id="sessionOrganization1"
						th:value="${session.ORGANIZATION}" /> <input type="hidden"
						id="sessionOrganization" th:value="${organization}" /> <input
						type="hidden" id="sessionOrgDivision" th:value="${orgDivision}" />
					<input type="hidden" id="baseUrl" th:value="${baseUrl}" /> <input
						type="hidden" id="sessionId" th:value="${userId}" /> <input
						type="hidden" id="sessionName" th:value="${userName}" /> <input
						type="hidden" id="hrRole" th:value="${hrRole}" /> <input
						type="hidden" id="sessionRole" th:value="${userRole}" /> <input
						type="hidden" id="adRole" th:value="${adRole}" /> <input
						type="hidden" id="totalPageno"> <input type="hidden"
						id="currentPageno">
					<!--Tabbination 1 Start-->
					<div id="tab1" class="tab-pane" role="tabpanel">
						<div class="d-flex flex-column flex-lg-row">
							<!--Left Sec Start-->
							<div class="box-sec" id="collapseWidthR1">
								<div class="out-box">
									<div class="h-100 d-flex flex-column">
										<div class="d-flex justify-content-between bdr-line p-2 flex-wrap gap-2">
											<div class="col-md-8 col-12">
												<div class="d-flex gap-2 search-sec position-relative">
													<input class="form-control search_input_bar"
														placeholder="Search.." type="text" name="search"
														id="quickFilter" autocomplete="off">
													<button class="btn go-btn" onclick="onQuickFilterChanged()"
														id="SearchBtn" type="button">Go</button>
													<button class="btn go-btn" type="button"
														onclick="resetBtn()">Reset</button>
												</div>
											</div>
											<div class="d-flex gap-2 justify-content-end">
												<button class="btn icon-btn" id="downloadExcel"
													onclick="excelDownload()" data-bs-toggle="tooltip"
													data-bs-placement="top" title="Download Excel">
													<i class="fa-solid fa-download"></i>
												</button>
												<button class="btn max-btn" id="collapseButtonR1"
													onclick="triggerExpansionR(1)" data-bs-toggle="tooltip"
													data-bs-placement="top" title="Expand">
													<i class="fa-solid fa-maximize" id="expandIconR1"></i> <i
														class="fa-solid fa-minimize d-none" id="shrinkIconR1"></i>
												</button>
											</div>

										</div>
										<div class="rounded border m-2 mb-0 p-2">
									  <div class="row row-cols-1 row-cols-xl-3 g-3">
									    
									    <!-- From Date -->
									    <div class="col">
									      <div class="row g-3 align-items-center">
									        <div class="col-auto">
									          <label for="fromDateQT" class="form-label">From Date:</label>
									        </div>
									        <div class="col">
									          <div class="position-relative">
									            <input type="text" id="fromDateQT" class="form-control position-relative"
									              autocomplete="off" readonly
									              onblur="removeValid(event)"
									              th:attr="onkeyup=|formatDate('fromDateQT','${session.DATEFORMAT_JS}')|">
									            <i class="ti-calendar picker_calendar" id="fromDateQTCalendar"></i>
									          </div>
									        </div>
									      </div>
									    </div>
									
									    <!-- To Date -->
									    <div class="col">
									      <div class="row g-3 align-items-center">
									        <div class="col-auto">
									          <label for="toDateQT" class="form-label">To Date:</label>
									        </div>
									        <div class="col">
									          <div class="position-relative">
									            <input type="text" id="toDateQT" class="form-control position-relative"
									              autocomplete="off" readonly
									              onblur="removeValid(event)"
									              th:attr="onkeyup=|formatDate('toDateQT','${session.DATEFORMAT_JS}')|">
									            <i class="ti-calendar picker_calendar" id="toDateQTCalendar"></i>
									          </div>
									        </div>
									      </div>
									    </div>
									
									    <!-- Search Button -->
									    <div class="col text-end d-flex align-items-center justify-content-end">
									      <button class="btn go-btn" type="button" id="dtSearch" onclick="filterView()">Search</button>
									    </div>
									    
									  </div>
									</div>
										
										
										
										<div class="card m-2 p-2">
											<div id="myGrid" style="height: 100vh;"
												class="ag-theme-alpine"></div>
											<div id="myGridDraft" style="height: 100vh;"
												class="ag-theme-alpine d-none"></div>
										</div>

									</div>
								</div>
							</div>
							<div id="snackbar" class="snackbar"></div>
							<!--Right Sec Start-->
							<div class="box-sec" id="collapseWidthL1">
								<div class="out-box" id="rightSideDiv">
									<div
										class="d-flex justify-content-between flex-row-reverse align-items-center p-2 bdr-line">
										<button class="btn btn-primary max-btn" id="collapseButtonL1"
											type="button" onclick="triggerExpansionL(1)"
											data-bs-toggle="tooltip" data-bs-placement="top"
											title="Expand">
											<i class="fa-solid fa-maximize" id="expandIconL1"></i> <i
												class="fa-solid fa-minimize d-none" id="shrinkIconL1"></i>
										</button>



										<!--Right Inner Tab Start-->
										<div class="d-flex gap-2">
											<ul class="nav nav-pills newtab" role="tablist">
												<li class="nav-item" role="presentation"
													id="quotationInfLiId"><a class="nav-link active"
													data-bs-toggle="pill" href="#quotationInfo"
													aria-selected="true" role="tab"> Information</a></li>
												<li class="nav-item" role="presentation"
													id="quatationItemId"><a class="nav-link"
													data-bs-toggle="pill" href="#itemDetails"
													aria-selected="false" role="tab" tabindex="-1">Item
														Details</a></li>
												<li class="nav-item" role="presentation" id="othersId"><a
													class="nav-link" data-bs-toggle="pill" href="#otherdetails"
													aria-selected="false" role="tab" tabindex="-1">Others</a></li>
												<li class="nav-item d-none" role="presentation"
													id="shippingAddressId"><a class="nav-link"
													data-bs-toggle="pill" href="#shippingAddress"
													aria-selected="false" role="tab" tabindex="-1">Shipping
														Address</a></li>

											</ul>
										</div>
									</div>

									<!-- Tab panes -->
									<div class="tab-content flex-fill h-25">
										<div id="quotationInfo"
											class="tab-pane fade active p-2 h-100 show" role="tabpanel">
											<div class="requisition-tbl d-flex flex-column h-100 gap-2">

												<!--<div class="mb-2">
													<table class="table table-bordered mb-0" width="100%">
														<tbody>
															<tr valign="middle">
																<td width="50%"><strong id="custName1"></strong></td>


																<td>
																	<div class="d-flex justify-content-end flxwrap">
																		<span th:text="${action_list}"></span>
																		<div class="mr-2">
                                      <button class="btn btn-primary  edit-btn " id="addPobtn" type="button" onclick="add()">Add</button>
																		</div>
																		<div class="mr-2">
                                      <button class="btn btn-primary  edit-btn d-none" id="cancelPobtn" type="button" onclick="cancel()">Cancel</button>
																		</div>
																		<div class="mr-2">
																			&lt;!&ndash; th:if="${session.action_name_list.contains('Edit')}" &ndash;&gt;
                                      <button class="btn btn-primary edit-btn d-none" type="button" id="editPo" onclick="enableFields()">Edit</button>
																		</div>
																		<div class="mr-2">
                                      <button class="btn btn-primary edit-btn d-none" type="button" id="deleteQuot" onclick="deleteOnclick()">Delete</button>
																		</div>
																		<div class="mr-2">
                                      <button class="btn btn-primary  edit-btn d-none" type="button" id="poApproveBtn" onclick="approveRequestOnclick()">Approve</button>
																		</div>
																		<div class="mr-2">
																			<button class="btn btn-primary edit-btn" type="button" onclick="nextTab('quatationItemId')">Next</button>
																		</div>
																	</div>

																</td>
															</tr>
														</tbody>
													</table>
												</div>-->

												<div
													class="d-flex w-100 flex-column flex-xl-row justify-content-between align-items-start align-items-xl-center gap-2 p-2 border rounded">
													<div class="project-name flex-1">
														<span class="head-user-name" id="custName1"></span>
													</div>
													<div class="d-flex justify-content-end w-100 gap-2 flex-1">
														<span th:text="${action_list}"></span>
														<button class="btn m-0 edit-btn" id="addPobtn"
															type="button" onclick="add()">Add</button>
														<button class="btn btn-primary  edit-btn d-none"
															type="button" id="revisionBtn" onclick="revision()">Revision</button>
														<button class="btn m-0 edit-btn d-none" id="cancelPobtn"
															type="button" onclick="cancel()">Cancel</button>
														<button class="btn m-0 edit-btn d-none" type="button"
															id="editPo" onclick="enableFields()">Edit</button>
														<button class="btn m-0 edit-btn d-none" type="button"
															id="deleteQuot" onclick="deleteOnclick()">Delete</button>
														<button class="btn m-0 edit-btn d-none" type="button"
															id="poApproveBtn" onclick="approveRequestOnclick()">Approve</button>
														<button class="btn m-0 edit-btn" type="button"
															onclick="nextTab('quatationItemId')">Next</button>
													</div>
												</div>

												<div class="card p-2">

													<div class="innercontent">
														<div class="cust-detls">
															<!-- Customer Details -->
															<input type="hidden" id="qutNo"> <input
																type="hidden" id="poRef">
															<div class="card">
																<div class="card-header text-black">Customer
																	Details</div>
																<div class="card-body">
																	<div class="row">
																		<div class="col-md-6">
																			<label for="custName">Customer Name</label><span
																				class="mandatory">*</span> <input type="text"
																				id="custName" class="form-control"
																				placeholder="Enter Customer Name"
																				onchange="handleCustomerChange()"
																				onkeyup="getCustomerList()" autocomplete="off">
																			<input type="hidden" id="custId"> <input
																				type="hidden" id="custGSTNo"> <input
																				type="hidden" id="approveStatus">
																			<div id="suggesstion-box1_" class="sugg-cls"></div>
																		</div>
																		<div class="col-md-6">
																			<label for="quotationId">Quotation ID</label> <select
																				name="quotation" id="quotationId"
																				onchange="onQuotationChange(this.value)">
																				<option value="">Select Quotation</option>
																			</select>
																		</div>
																	</div>
																	<div class="row">
																		<div class="col-md-4">
																			<div class="form-group">
																				<label>End Customer Name</label><input type="text"
																					id="endCustomerName" class="form-control">
																			</div>
																		</div>
																		<div class="col-md-4">
																			<div class="form-group">
																				<label>Po/Wo No.</label><span class="mandatory">*</span><input
																					type="text" id="poNo" class="form-control"><input
																					type="hidden" id="referenceId" class="form-control"
																					readonly>
																			</div>
																		</div>

																		<div class="col-md-4">
																			<div class="form-group calendar_box">
																				<label>Po Date</label><span class="mandatory">*</span>
																				<div class="position-relative">
																					<input type="text" id="poDate" class="form-control"
																						onblur="removeValid(event)"
																						th:attr="onkeyup=|formatDate('poDate','${session.DATEFORMAT_JS}')|">
																					<i class="ti-calendar picker_calendar"
																						id="poDateDateCalendar"></i>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>

															<!-- Quotation Details -->
															<div class="card mt-3">
																<div class="card-header text-black">Purchase Order
																	Details</div>
																<div class="card-body">
																	<div class="row">
																		<div class="col-md-4">
																			<div class="form-group calendar_box">
																				<label>Expected Delivery Date</label><span
																					class="mandatory">*</span>
																				<div class="position-relative">
																					<input type="text" id="expectedShipmentDate"
																						class="form-control" onblur="removeValid(event)"
																						th:attr="onkeyup=|formatDate('expectedShipmentDate','${session.DATEFORMAT_JS}')|">
																					<i class="ti-calendar picker_calendar"
																						id="expectedShipmentDateCalendar"></i>
																				</div>
																			</div>
																		</div>

																		<div class="col-md-4">
																			<div class="form-group">
																				<label>Payment Method</label>
																				<div class="select">
																					<select id="deliveryMethodId"
																						onblur="removeValid(event)">
																						<option value="">Select</option>
																						<option th:each="c,iter:${PayModeLists}"
																							th:value="${c.key}" th:text="${c.name}"></option>
																					</select>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-4">
																			<div class="mb-3">
																				<label>Project</label><span class="mandatory">*</span>
																				<input type="hidden" id="projectId"> <input
																					type="hidden" id="projectName"> <select
																					id="project" class="searchable-select">
																					<option value="">Select</option>
																					<option th:each="c,iter:${projectList}"
																						th:value="${c.key}" th:text="${c.name}"></option>
																				</select>
																			</div>
																		</div>

																	</div>
																	<div class="row">
																		<div class="col-md-4">
																			<div class="form-group">
																				<label>Order Type</label><span class="mandatory">*</span>
																				<div class="select">
																					<select id="orderType" onblur="removeValid(event)">
																						<option value="">Select</option>
																						<option value="Work Order">Work Order</option>
																						<option value="Purchase Order">Purchase
																							Order</option>
																						<option value="Purchase Order&Work Order">Purchase
																							Order&Work Order</option>
																					</select>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-4">
																			<div class="form-group">
																				<label>Advance</label><input type="text"
																					id="advance" class="form-control">

																			</div>
																		</div>
																		<div class="col-md-4 d-none">
																			<div class="form-group">
																				<div class="autocomplete" style="width: 100%;">
																					<!-- onkeyup='getSalesPersonList()' -->
																					<label>Sales Person</label> <input type="text"
																						id="salespersonName"
																						placeholder="Sales Person Name"
																						class="form-control"><input type="hidden"
																						id="salesPersonId"> <input type="hidden"
																						id="custGSTNoo"> <input type="hidden"
																						id="taxTypee" onclick="hideShow()">
																				</div>
																				<!-- <div id="suggesstion-box2_" class="sugg-cls"></div> -->
																			</div>
																		</div>
																		<div class="col-md-4">
																			<div class="form-group">
																				<label>Quotation Reference</label><input type="text"
																					id="reference" placeholder="Reference"
																					class="form-control" readonly>
																			</div>
																		</div>
																		<div class="col-md-12">
																			<div class="form-group">
																				<label>Payment Term</label> <input type="text"
																					id="paymentTermId"
																					onkeyup="checkAlphaNumeric('paymentTermId');"
																					class="form-control">
																			</div>
																		</div>
																	</div>
																	<!-- <div class="row mt-3">
																		<div class="col-md-12">
																			<label for="subject">Subject</label><span
																				class="mandatory">*</span>
																			<textarea id="subject" class="form-control"></textarea>
																		</div>
																		<div class="col-md-12 mt-3">
																			<label for="qutDescription">Customer Notes</label>
																			<textarea id="qutDescription" class="form-control"></textarea>
																		</div>
																	</div> -->
																</div>
															</div>

															<!-- Hidden Fields -->
															<input type="hidden" id="taxType">
														</div>
													</div>


												</div>
											</div>
										</div>
										<div id="itemDetails" class="tab-pane fade show p-2 h-100"
											role="tabpanel">
											<div class="requisition-tbl d-flex flex-column h-100 gap-2">

												<!--<div class="mb-2">
													<table class="table table-bordered mb-0" width="100%">
														<tbody>
															<tr valign="middle">
																<td width="50%"><strong id="custName2"></strong></td>
																<td>
																	<div class="d-flex justify-content-end flxwrap">
																		<span th:text="${action_list}"></span>

																		<div class="mr-2">
																			<button class="btn btn-primary edit-btn" type="button" onclick="nextTab('quotationInfLiId')">Prev</button>
																		</div>
																		<div class="mr-2">
																			<button class="btn btn-primary edit-btn" type="button" onclick="nextTab('othersId')">Next</button>
																		</div>
																	</div>

																</td>
															</tr>
														</tbody>
													</table>
												</div>-->

												<div
													class="d-flex w-100 flex-column flex-xl-row justify-content-between align-items-start align-items-xl-center gap-2 p-2 border rounded">
													<div class="project-name flex-1">
														<span class="head-user-name" id="custName2"></span>
													</div>
													<div class="d-flex justify-content-end w-100 gap-2 flex-1">
														<span th:text="${action_list}"></span>
														<button class="btn m-0 edit-btn" type="button"
															onclick="nextTab('quotationInfLiId')">Prev</button>
														<button class="btn m-0 edit-btn" type="button"
															onclick="nextTab('othersId')">Next</button>
													</div>
												</div>

												<div class="card p-2">

													<div class="innercontent">
														<div class="row">
															<div class="col-md-12 cnt-sp-bw">
																<h5 class="sub-header-new">Item Details</h5>
																<div class="d-flex gap-2 mb-2 task-btn-sec">
																	<button
																		class="border-0 btn-transition btn btn-outline-primary br-m-btn"
																		title="Add" onclick="toggleSection()"
																		data-bs-toggle="tooltip">
																		<i class="fa-solid fa-square-plus " aria-hidden="true"></i>
																	</button>
																	<button
																		class="border-0 btn-transition btn btn-outline-primary br-dis br-m-btn"
																		title="Edit" data-bs-toggle="tooltip"
																		onclick="editItemDetails()" disabled>
																		<i class="fa-solid fa-square-pen" aria-hidden="true"></i>
																	</button>
																	<button
																		class="border-0 btn-transition btn btn-outline-primary br-dis br-m-btn"
																		title="Delete" data-bs-toggle="tooltip" disabled
																		onclick="deleteProductOnclick()">
																		<i class="fa-solid fa-trash"></i>
																	</button>
																	<button class="btn btn-primary edit-btn br-s-btn"
																		type="button" onclick="saveTableData()">Save</button>
																	<button class="btn btn-primary edit-btn br-s-btn"
																		type="button" onclick="cancelItemDetails()">Cancel</button>
																</div>
															</div>
														</div>
														<div class="row br-m-btn">
															<div id="item" style="height: 220px;"
																class="ag-theme-alpine"></div>

															<!--Start-->

															<div class="cal-section mt-3">

																<div class="row">
																	<div class="col-md-7 col-sm-7"></div>

																	<div class="col-md-5 col-sm-5">
																		<div class="row">
																			<div class="col-4">
																				<label class="form-label">Sub Total:</label>
																			</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="subTotal"
																						class="form-control text-end" readonly>
																				</div>
																			</div>
																		</div>
																		<div id="sgstTR" class="row">
																			<div class="col-4">
																				<label class="form-label">SGST:</label>
																			</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="qSGST"
																						class="form-control text-end" readonly>
																				</div>
																			</div>
																		</div>
																		<div id="cgstTR" class="row">
																			<div class="col-4">
																				<label class="form-label">CGST:</label>
																			</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="qCGST"
																						class="form-control text-end" readonly>
																				</div>
																			</div>
																		</div>

																		<div id="igstTR" class="row">
																			<div class="col-4">
																				<label class="form-label">IGST:</label>
																			</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="qIGST"
																						class="form-control text-end" readonly>
																				</div>
																			</div>
																		</div>

																		<div class="row d-none">
																			<div class="col-4">
																				<label class="form-label">Adjustment:</label>
																			</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="adjustment"
																						class="form-control text-end"
																						onkeyup="calculateAdjustment();">
																				</div>
																			</div>
																		</div>

																		<div class="row">
																			<div class="col-4">
																				<label class="form-label">Grand Total:</label>
																			</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="grandTotal"
																						class="form-control text-end" readonly>
																				</div>
																			</div>
																		</div>

																	</div>
																</div>

															</div>

															<!--End-->

															<!--<table class="table">
																<tr>
																	<th>
																		<div class="row">
																			<div class="col-4">Sub Total:</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="subTotal"
																						class="form-control" readonly>
																				</div>
																			</div>
																		</div>
																	</th>
																</tr>
																<tr id="sgstTR">
																	<th>
																		<div class="row">
																			<div class="col-4">SGST:</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="qSGST" class="form-control"
																						readonly>
																				</div>
																			</div>
																		</div>
																	</th>
																</tr>
																<tr id="cgstTR">
																	<th>
																		<div class="row">
																			<div class="col-4">CGST:</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="qCGST" class="form-control"
																						readonly>
																				</div>
																			</div>
																		</div>
																	</th>
																</tr>
																<tr id="igstTR">
																	<th>
																		<div class="row">
																			<div class="col-4">IGST:</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="qIGST" class="form-control"
																						readonly>
																				</div>
																			</div>
																		</div>
																	</th>
																</tr>
																<tr>
																	<th>
																		<div class="row">
																			<div class="col-4">Adjustment:</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="adjustment"
																						class="form-control"
																						onkeyup="calculateAdjustment();">
																				</div>
																			</div>
																		</div>
																	</th>
																</tr>
																<tr>
																	<th>
																		<div class="row">
																			<div class="col-4">Grand Total:</div>
																			<div class="col-8">
																				<div class="form-group">
																					<input type="text" id="grandTotal"
																						class="form-control" readonly>
																				</div>
																			</div>
																		</div>
																	</th>
																</tr>
															</table>-->
															<!--End-->

														</div>
														<div class="row br-s-btn">
															<div class="row">
																<div class="col-lg-3">
																	<div class="mb-3">
																		<label class="form-group">Item Name</label><span
																			class="mandatory">*</span> <input type="hidden"
																			id="editProduct"> <input type="hidden"
																			id="itemId"> <input type="hidden"
																			id="productName"> <select id="itemName"
																			class="searchable-select"
																			onchange="getItemdetailsBySku();">
																			<option value="">Select</option>
																			<option th:each="c,iter:${productList}"
																				th:value="${c.key}" th:text="${c.name}"></option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="mb-3">
																		<label class="form-group">Stock Keeping Unit</label><span
																			class="mandatory">*</span> <input type="text"
																			onblur="removeValid(event)" id="sku"
																			class="form-control" disabled>
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="mb-3">
																		<label class="form-group">Size(H*W) In MM</label> <input
																			type="text" id="sizeInMM" class="form-control">
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="mb-3">
																		<label class="form-group">Thickness In MM</label> <input
																			type="text" id="thicknessInMM" class="form-control">
																	</div>
																</div>
															</div>

															<input type="hidden" id="hsnCode"
																onblur="removeValid(event)" class="form-control">

															<div class="row">
																<div class="col-lg-3">
																	<div class="mb-3">
																		<label class="form-group">Unit</label><span
																			class="mandatory">*</span> <select
																			class="form-select" id="unit"
																			onblur="removeValid(event);">
																			<option value="">Select</option>
																			<option th:each="c,iter:${unitList}"
																				th:value="${c.key}" th:text="${c.name}"></option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="mb-3">
																		<label class="form-group">Quantity</label><span
																			class="mandatory">*</span> <input type="text"
																			id="quantity" class="form-control"
																			onkeyup="calculateLineTotal();getGSTRateCal()"
																			onblur="removeValid(event)">
																	</div>
																</div>

																<div class="col-lg-3">
																	<div class="mb-3">
																		<label class="form-group">Unit Price</label><span
																			class="mandatory">*</span> <input type="text"
																			id="unitPrice" class="form-control"
																			onkeyup="calculateLineTotal();getGSTRateCal()"
																			onblur="removeValid(event)">
																	</div>
																</div>
																<div class="col-lg-2">
																	<div class="form-group">
																		<label>Discount</label>
																		<div class="d-flex">
																			<input type="text" id="discount" class="form-control"
																				onkeyup="calculateLineTotal();getGSTRateCal()">

																		</div>

																	</div>
																</div>
																<div class="col-lg-1">
																	<div class="form-group">
																		<div class="select"
																			style="width: 60px; position: relative; top: 24px; right: 15px;">
																			<select id="discountAmount" class="form-control"
																				onkeyup="calculateLineTotal();getGSTRateCal()">
																				<option value="0" selected>%</option>
																				<!-- <option value="1">₹</option> -->
																			</select>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-lg-6">
																<div class="form-group">
																	<label>GST Rate</label><input type="text" id="gstRate"
																		class="form-control" onkeyup="getGSTRateCal()">
																</div>
															</div>
															<input type="hidden" id="gstRate" class="form-control"
																onkeyup="getGSTRateCal()">
															<div class="col-lg-6">
																<div class="mb-3">
																	<label class="form-group">Total Amount</label> <input
																		type="text" id="lineTotal" class="form-control"
																		onblur="removeValid(event)">
																</div>
															</div>


															<div class="row">
																<div class="col-lg-12">
																	<div class="mb-3">
																		<label class="form-group">Description</label>
																	</div>
																	<div class="position-text">
																		<textarea rows="4" cols="100" id="itemDesc"
																			onkeyup="textCount(event);" style="color: black;"></textarea>
																		<div id="charNumSN" class="txtcounter" align="right">
																			<span>0</span> characters
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>


												</div>
											</div>
										</div>
										<div id="otherdetails" class="tab-pane fade show p-2 h-100"
											role="tabpanel">
											<div class="requisition-tbl d-flex flex-column h-100 gap-2">

												<!--<div class="mb-2">
													<table class="table table-bordered mb-0" width="100%">
														<tbody>
															<tr valign="middle">
																<td width="50%"><strong id="custName3"></strong></td>
																<td>
																	<div class="d-flex justify-content-end flxwrap">
																		<span th:text="${action_list}"></span>

																		<div class="mr-2">
																			<button class="btn btn-primary edit-btn" type="button" onclick="nextTab('quatationItemId')">Prev</button>
																		</div>
																		<div class="mr-2">
																			<button class="btn btn-primary edit-btn" type="button" onclick="nextTab('shippingAddressId')">Next</button>
																		</div>

																	</div>

																</td>
															</tr>
														</tbody>
													</table>
												</div>-->

												<div
													class="d-flex w-100 flex-column flex-xl-row justify-content-between align-items-start align-items-xl-center gap-2 p-2 border rounded">
													<div class="project-name flex-1">
														<span class="head-user-name" id="custName3"></span>
													</div>
													<div class="d-flex justify-content-end w-100 gap-2 flex-1">
														<span th:text="${action_list}"></span>
														<button class="btn m-0 edit-btn" type="button"
															onclick="nextTab('quatationItemId')">Prev</button>
														<button class="btn m-0 edit-btn" type="button"
															onclick="nextTab('shippingAddressId')">Next</button>
													</div>
												</div>

												<div class="card p-2">

													<div class="innercontent">
														<div class="mt-0">
															<div class="d-flex sp-bw">
																<h5 class="mb-2">Other Documents</h5>
																<button class="btn btn-primary max-btn" id="addDicId"
																	type="button" onclick="checkEmptyQuot()"
																	data-bs-toggle="tooltip" data-bs-placement="top"
																	title="" data-bs-original-title="Add Document">
																	<i class="fa-solid fa-plus" id="addDocIconId"></i>
																</button>
															</div>
															<!-- <div class="row">
																<div class="col-md-4 btn-hs1">
																	<div class="font-design"></div>
																</div>
															</div> -->

															<div class="row">
																<div class="col-md-4 btn-hs1">
																	<div class="font-design"></div>
																</div>
																<div class="col-md-8 butttonsec">
																	<!--   <button class="download-btn" onclick="rfqCSV()">Download</button> -->
																	<!-- <button class="new-btn" id="saveAttachmentBtn"
																		onclick="checkEmptyQuot();">Add Document</button> -->


																</div>
															</div>

															<table id="docTbl" cellspacing="7" cellpadding="7">
																<thead>
																	<tr class="tr_clone">
																		<!-- <th align="center"></th> -->
																		<th width="320">Document Name</th>
																		<th width="380">Attachment</th>
																		<th type="hidden" id="dltValue"></th>
																	</tr>
																</thead>
																<tbody id="doctbodyData">

																</tbody>
															</table>
														</div>
														<div class="mt-1" id="termsAndConditionCont">
															<div class="col-md-12 mt-3">
																<label for="termCondition" class="mb-2">Customer
																	Notes</label>
																<textarea id="termCondition" class="form-control"></textarea>
															</div>
														</div>
													</div>


												</div>
											</div>
										</div>
										<!--Shipping Address Tab Start -->
										<div id="shippingAddress"
											class="tab-pane fade p-2 h-100 d-none" role="tabpanel">
											<div class="requisition-tbl d-flex flex-column h-100 gap-2">

												<!--<div class="mb-2">
													<table class="table table-bordered mb-0" width="100%">
														<tbody>
															<tr valign="middle">
																<td width="50%"><strong id="custName4"></strong></td>
																<td>
																	<div class="d-flex justify-content-end flxwrap">
																		<span th:text="${action_list}"></span>

																		<div class="mr-2">
																			<button class="btn btn-primary edit-btn" type="button" onclick="nextTab('othersId')">Prev</button>
																		</div>
																		<div class="mr-0">
																			<button class="btn btn-primary edit-btn " type="button" id="savePoWo" onclick="savePoOrWo()">Save</button>
																		</div>
																	</div>

																</td>
															</tr>
														</tbody>
													</table>
												</div>-->

												<div
													class="d-flex w-100 flex-column flex-xl-row justify-content-between align-items-start align-items-xl-center gap-2 p-2 border rounded">
													<div class="project-name flex-1">
														<span class="head-user-name" id="custName4"></span>
													</div>
													<div class="d-flex justify-content-end w-100 gap-2 flex-1">
														<span th:text="${action_list}"></span>
														<button class="btn m-0 edit-btn" type="button"
															onclick="nextTab('othersId')">Prev</button>
														<button class="btn m-0 edit-btn" type="button"
															id="savePoWo" onclick="savePoOrWo()">Save</button>
													</div>
												</div>

												<div class="card p-2">

													<div class="innercontent">
														<!-- <div class="row">
															<div class="col-md-12 cnt-sp-bw">
																<h5 class="sub-header-new">Shipping Address</h5>
																<div class="d-flex gap-1 task-btn-sec">
																	<button class="btn btn-primary max-btn1 br-m-btn-sa" title="" data-bs-toggle="tooltip" data-bs-original-title="Change Address"
																		id="changeAddress" onclick="changeAddress();closeTooltip(this);">
																		<i class="fa-solid fa-right-left" aria-hidden="true"></i>	
																	</button>
																	<button id="selectAddress" class="btn btn-primary max-btn1 br-m-btn-sa d-none" title="" onclick="selectAddress();closeTooltip(this);" data-bs-toggle="tooltip" data-bs-original-title="Select Address">
																		<i class="fa-solid fa-check-square" aria-hidden="true"></i>
																	</button>
																	<button id="closeAddress" class="btn btn-primary max-btn1 br-m-btn-sa d-none" title="" onclick="closeAddress();closeTooltip(this);" data-bs-toggle="tooltip" data-bs-original-title="Close">
																		<i class="fa-solid fa-remove" aria-hidden="true"></i>
																	</button>
																</div>
																<div class="d-flex gap-1 task-btn-sec">
																	<button class="btn btn-primary edit-btn" type="button"
																		id="changeAddress" onclick="changeAddress()">Change
																		Address</button>
																	<button class="btn btn-primary edit-btn d-none"
																		type="button" id="selectAddress"
																		onclick="selectAddress()">Select</button>
																</div>
															</div>
														</div> -->
														<div class="row">
															<div class="col-md-12 cnt-sp-bw">
																<h5 class="font-design">Shipping Address</h5>
																<div class="d-flex gap-1 task-btn-sec">
																	<button class="btn btn-primary icon-btn br-m-btn-sa"
																		title="" data-bs-toggle="tooltip"
																		data-bs-original-title="Change Address"
																		id="changeAddress"
																		onclick="changeAddress();closeTooltip(this);">
																		<i class="fa-solid fa-right-left" aria-hidden="true"></i>
																	</button>
																	<button id="selectAddress"
																		class="btn btn-primary icon-btn br-m-btn-sa d-none"
																		title="" onclick="selectAddress();closeTooltip(this);"
																		data-bs-toggle="tooltip"
																		data-bs-original-title="Select Address">
																		<i class="fa-solid fa-check-square" aria-hidden="true"></i>
																	</button>
																	<button id="addAddress"
																		class="btn btn-primary icon-btn br-m-btn-sa" title=""
																		onclick="addAddress();closeTooltip(this);"
																		data-bs-toggle="tooltip"
																		data-bs-original-title="Add Address">
																		<i class="fa-solid fa-square-plus" aria-hidden="true"></i>
																	</button>
																	<button id="saveAddress"
																		class="btn btn-primary icon-btn br-m-btn-sa d-none"
																		title="" onclick="saveAddress();closeTooltip(this);"
																		data-bs-toggle="tooltip"
																		data-bs-original-title="Save Address">
																		<i class="fa-solid fa-floppy-disk" aria-hidden="true"></i>
																	</button>
																	<button id="closeAddress"
																		class="btn btn-primary icon-btn br-m-btn-sa d-none"
																		title="" onclick="closeAddress();closeTooltip(this);"
																		data-bs-toggle="tooltip"
																		data-bs-original-title="Close">
																		<i class="fa-solid fa-remove" aria-hidden="true"></i>
																	</button>
																</div>
															</div>
														</div>

														<div class="row">
															<div id="mySAGrid" style="height: 120px;"
																class="ag-theme-alpine"></div>
														</div>
														<div class="row" id="shippingAddressSec">
															<div class="col-md-3">
																<div class="form-group">
																	<label>Country</label>
																	<div class="select">
																		<input type=hidden id="shippingHiddenId"> <input
																			type="hidden" id="shippingId"> <select
																			id="country1" onchange="getStateDetails1()"
																			onblur="removeValid(event)">
																			<option th:value="NULL">Select Country</option>
																			<option th:each="c,iter:${countryList}"
																				th:value="${c.key}" th:text="${c.name}"></option>
																		</select>
																	</div>
																</div>
															</div>

															<div class="col-md-3">
																<div class="form-group">
																	<label>State</label>
																	<div class="select">
																		<select id="states1" onblur="removeValid(event)">
																			<option th:value="NULL">Select State</option>
																			<!-- <option th:each="c,iter:${statesList}"
													th:value="${c.key}" th:text="${c.name}"></option> -->
																		</select> <span class="focus"></span>
																	</div>
																</div>
															</div>

															<div class="col-md-3">
																<div class="form-group">
																	<label>City</label> <input type="text"
																		class="form-control" id="city1" placeholder="City"
																		onblur="removeValid(event)"
																		onkeyup="checkAlphabet('city')" maxLength="30">
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>Street 1</label> <input type="text"
																		class="form-control" id="street11"
																		placeholder="Street 1" onblur="removeValid(event)"
																		maxLength="300">
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>Street 2</label> <input type="text"
																		class="form-control" id="street21"
																		placeholder="Street 2" onblur="removeValid(event)"
																		maxLength="300">
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>Zip Code</label> <input type="text"
																		class="form-control" id="zipCode1" autocomplete="off"
																		placeholder="Zip Code"
																		onkeyup="zipcodeVal1();checkNumeric('zipCode1');"
																		onblur="removeValid(event)"> <span
																		id="error15" class="formValidation1"></span>
																</div>
															</div>

															<div class="col-md-3">
																<div class="form-group">
																	<label>Phone</label> <input type="text"
																		class="form-control" id="phone1" placeholder="Phone"
																		onkeyup="checkNumeric('phone1');"
																		onblur="removeValid(event)"> <span
																		id="error12" class="formValidation1"></span>
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>Fax</label> <input type="text"
																		class="form-control" id="fax1" placeholder="Fax"
																		onblur="removeValid(event)">
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>GSTIN</label> <input type="text"
																		class="form-control" id="gstIn1" placeholder="GSTIN"
																		onblur="removeValid(event)">
																</div>
															</div>
														</div>
														<div class="row" id="addshippingAddressSec">
															<div class="col-md-3">
																<div class="form-group">
																	<label>Country<span class="mandatory">*</span></label>
																	<div class="select">
																		<input type=hidden id="shippingHiddenId2"> <input
																			type="hidden" id="shippingId2"> <select
																			id="country2" onchange="getStateDetails2()"
																			onblur="removeValid(event)">
																			<option value="">Select</option>
																			<option th:each="c,iter:${countryList}"
																				th:value="${c.key}" th:text="${c.name}"></option>
																		</select>
																	</div>
																</div>
															</div>

															<div class="col-md-3">
																<div class="form-group">
																	<label>State<span class="mandatory">*</span></label>
																	<div class="select">
																		<select id="states2" onblur="removeValid(event)">
																			<option value="">Select</option>
																		</select>
																	</div>
																</div>
															</div>

															<div class="col-md-3">
																<div class="form-group">
																	<label>City<span class="mandatory">*</span></label> <input
																		type="text" class="form-control" id="city2"
																		placeholder="City" onblur="removeValid(event)"
																		onkeyup="checkAlphabet('city2')" maxLength="30">
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>Street 1<span class="mandatory">*</span></label>
																	<input type="text" class="form-control" id="street12"
																		placeholder="Street 1" onblur="removeValid(event)"
																		maxLength="300">
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>Street 2</label> <input type="text"
																		class="form-control" id="street22"
																		placeholder="Street 2" onblur="removeValid(event)"
																		maxLength="300">
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>Zip Code<span class="mandatory">*</span></label>
																	<input type="text" class="form-control" id="zipCode2"
																		autocomplete="off" placeholder="Zip Code"
																		onkeyup="zipcodeVal2();checkNumeric('zipCode2');"
																		onblur="removeValid(event)"> <span
																		id="error152" class="formValidation1"></span>
																</div>
															</div>

															<div class="col-md-3">
																<div class="form-group">
																	<label>Phone</label> <input type="text"
																		class="form-control" id="phone2" placeholder="Phone"
																		onkeyup="checkNumeric('phone2');"
																		onblur="removeValid(event)"> <span
																		id="error122" class="formValidation1"></span>
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>Fax</label> <input type="text"
																		class="form-control" id="fax2" placeholder="Fax"
																		onblur="removeValid(event)">
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>GSTIN</label> <input type="text"
																		class="form-control" id="gstIn2" placeholder="GSTIN"
																		onblur="removeValid(event)">
																</div>
															</div>
														</div>
														<div class="row mt-20 d-none" id="updateSODiv">
															<div class="col-md-12 go-sale-order">
																<label class="switch" for="updateSOId"> <input
																	type="checkbox" id="updateSOId" />
																	<div class="slider round"></div>
																</label> <span class="ml-10">Auto-approve PO, update SO,
																	and Engineering Design</span>
															</div>
														</div>
													</div>


												</div>
											</div>
										</div>
										<!--Shipping Address Tab End -->
									</div>

									<!--Right Inner Tab End-->
								</div>
							</div>
							<!--Right Sec End-->
						</div>
					</div>
					<!--Tabbination 1 End-->
				</div>
			</div>
		</div>
	</div>
</body>
</html>