#totalLead{
	margin-top: 10px!important;
}

.input-style{
	margin-top: 10px!important;
}
#leadTransfer{
	margin-top: 5px!important;
}

.exe{
	border-radius: 25px!important;
    border: 1px solid #ccc!important;
    height: 30px;
}

.dropd{
	margin: -3px 10px 0px 10px!important;
}

.inner-wrapper {
	position: relative;
	height: calc(100vh - 3.5rem);
	transition: transform 0.3s;
}

.marg-tp{
	margin-top:10px;
}

#lead-grid-contain{
	margin-top: 20px;
	padding-left: 0;
}

 .transfer-history-modal {
	 
      max-width: 1520px;
    margin: 20px auto;
    margin-top: 12px;
    }
    
    .modal-dialog {
      margin: auto;
      top: 0;
      bottom: 0;
    }
    .modal-content {
      height: auto;
      max-height: calc(100vh - 100px); /* Adjust based on the desired vertical space */
    }
    .transfer-item {
      position: relative;
      padding: 19px; /* Increased padding for a bigger modal */
      border-radius: 10px;
      margin-bottom: 30px; /* Increased margin for a bigger modal */
      background-color: #f9f9f9;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .transfer-item .lead-name {
      font-size: 16px; /* Increased font size for a bigger modal */
      font-weight: bold;
      margin-bottom: 3px; /* Increased margin for a bigger modal */
      margin-top: -10px;
    }
    .transfer-item .transfer-type {
	    position: absolute;
	    top: 8px;
	    right: 19px;
	    font-size: 16px;
	    font-weight: bold;
    }
    .transfer-type-previous {
      color: #28a745; /* green for previous lead */
    }
    .transfer-type-temporary {
      color: #ffc107; /* yellow for temporary transfer */
    }
    .transfer-type-permanent {
      color: #007bff; /* blue for permanent transfer */
    }
    
    .trns-margins{
		margin-top: -17px;
        margin-bottom: -24px;
	}
	
	.trans-head{
	color: #6A2BBF!important;
    font-weight: 500!important;
    margin-top: -11px!important;
    margin-right: 412px;
    font-style: oblique;
    font-size: 13px;
   }
   
   .lead-trans{
    font-size: 12px;
    margin-left: 10px;
    color: red!important;
    font-weight: 400!important;
    
  }
  
.close{
	width: 30px!important;
}


#customLoad {
  position: absolute;
  top: 43%;
  left: 50%;
  /*transform: translate(-50%, -50%);*/
  z-index: 9999;
}
.loader-backdrop{
	background:rgba(0,0,0,0.3);
	height: 100vh;
	width: 100%;
	position: absolute;
    left: 0;
    top: 37px;
    z-index: 99;
}
.spinner-border.custom-color {
  color: #6A2BBF !important;
}
body.loader-visible {
  overflow: hidden;
}