:root {
    .tabPackage {
        h5 { margin: 0; }
        .custom-class .ag-header-cell-label { justify-content: flex-end; }
        label.form-label { margin-top: unset; }
        .package-select {
            &.ss-main {
                font-size: 13px;
                color: var(--bs-black);
                font-weight: 400;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                padding-left: 0;
                margin-top: 0.3rem;
                border-radius: 0;

                .ss-values {
                    .ss-single { margin: 0; }
                    .ss-value { background-color: var(--primary-color-500); }
                }
            }
            &.ss-main:focus { box-shadow: 0 0 5px var(--primary-color-500); }
        }
    }
    .package-select {
        &.ss-content {
            .ss-search {
                input { font-size: 13px; }
                input:focus { box-shadow: 0 0 5px var(--primary-color-500); }
            }
            .ss-list {
                .ss-option.ss-highlighted, .ss-option:not(.ss-disabled).ss-selected, .ss-option:hover { background-color: var(--primary-color-500); }
            }
        }
    }
}