
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style type="text/css">
.date-class {
	font-weight: 500;
}

.autocompletedata{
    padding-left: 6px;
    cursor: pointer;
}
.reply-modal-doc {
	background-color: #f2f2f6;
	padding: 15px;
}

.loader-modal {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #3498db;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9999;
	margin-top: -30px;
	margin-left: -30px;
}

.loader-modal-autosearch {
	border: 7px solid #f3f3f3;
	border-radius: 50%;
	border-top: 7px solid #3498db;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9999;
	margin-top: -30px;
	margin-left: -30px;
}

.autocomplete {
	position: relative;
	display: inline-block;
	width: 100%;
}

.sugg-cls ul {
	height: 150px;
	overflow-x: scroll;
	position: relative;
}

.left-design{
text-align : left;
}
ul#autocomplete-list1 {
	position: relative;
	z-index: 999;
}

ul#autocomplete-list1 li {
	position: relative;
	color: #fff;
	padding-left: 6px;
	background-color: #1f57a8;
	border-bottom: solid 1px #6189c2;
	padding-top: 5px;
	padding-bottom: 5px;
}


</style>


<script>
$(document).ready(function () {
	   
	$('#shortlistedCandidate').attr("disabled", true);
	
	 var gridDivResumes = document.querySelector('#myGridResume');
     new agGrid.Grid(gridDivResumes, gridOptionsResume);
    
    
     gridOptionsResume.api.setRowData([]);
     
     getCandidateList();
	})

			/* 
			 *
			  Resume Lists
			 *
			 */

			var columnDefsResume = [{
				headerCheckboxSelection : false,
				headerCheckboxSelectionFilteredOnly : true,
				checkboxSelection : true,
				width : 10,
				sortable : false,
				filter : false,
				resizable : true,
				pinned : 'left',
			}, {
				headerName : "Requisition ID",
				field : "requisitionId",
				cellRenderer : function(params) {
					return '<a>' + params.data.requisitionId + '</a>';
				},pinned : 'left',
				
			}, {
				headerName : "Candidate Id",
				field : "candidateId",
				pinned : 'left',
				cellRenderer : function(params) {
					  let encodedLogData = encodeURIComponent(JSON.stringify(params.data));

				        if (params.data.candidateId) {
				        	return '<a onclick=openCandidateDetails(decodeURIComponent(\'' + encodedLogData + '\')) href="javascript:void(0)" title="Candidate details">'
				             + '<i class="fa fa-info-circle"> '+ params.data.candidateId + ' </i>'
				             + '</a>';
				             
				        } else {
				            return params.data.candidateId;
						}
				}
			}, {
				headerName : "Candidate Name",
				field : "candidateName",
			}, {
				headerName : "Source",
				field : "source"
			}, {
				headerName : "Mobile",
				field : "mobile"
			},  {
				headerName : "DOB",
				field : "dob",

			}, {
				headerName : "Gender",
				field : "gender",

			},{
				headerName : "Experience",
				field : "experience"
			},{
				headerName : "Email",
				field : "email"
			},/*  {
				headerName : "Status",
				field : "joiningStatus"
			}  */];

			var gridOptionsResume = {
				columnDefs : columnDefsResume,
				defaultColDef : {
					sortable : true,
					filter : true,
					resizable : true,
					width : 190,
					height : 10
				},
			    rowSelection: 'multiple', 
			    pagination:true,
				paginationPageSize: 15,
			   onSelectionChanged: onSelectionChangeCandidate

			};
			
			
			 function getCandidateList(status){
				   var exp;
				   if(status){
					   exp = status;
				   }else{
					   exp = '';
				   }
				   
				agGrid.simpleHttpRequest({
					url : "departmentwise-requisition-get-candidates?exp="+exp,
				}).then(function(data) {
					var jsonData = JSON.parse(data.body);
					
					var allData = jsonData.candidateData;
					
						if (allData != null) {
							var len = allData.length;
							$('#totalReqResume').find('span').html(len);
							$('#resumeSpan').html(len);
							
							gridOptionsResume.api.setRowData(allData);
						} else {
							$('#resumeSpan').html("0");
							$('#totalReqResume').find('span').html("0");
							gridOptionsResume.api.setRowData();
						}
				})
 			}

			 
			 
				function filterExpRequi(event) {
				    const selectId = event.target.id;
				    const value = $('#' + selectId).val(); 
				    
				    if (selectId === "filterRequi" && value) { 
				        let minExp;
				        let maxExp;
				        
				        if (value.includes('-')) {
				            const exp = value.split('-');
				            minExp = exp[0] ? exp[0].trim() : null; 
				            maxExp = exp[1] ? exp[1].trim() : null; 
				        } else {
				        	
				            minExp = value.trim();
				        }
				        
				        if (minExp && maxExp) {
				            gridOptionsRequi.api.setFilterModel({
				                minExp: {
				                    type: 'greaterThanOrEqual',
				                    filter: minExp
				                },
				                maxExp: {
				                    type: 'lessThanOrEqual',
				                    filter: maxExp
				                }
				            });
				        }else if(minExp){
				        	gridOptionsRequi.api.setFilterModel({
				                minExp: {
				                    type: 'greaterThanOrEqual',
				                    filter: minExp
				                }
				            });
				        }
				    } else if (selectId === "filterResume") {
				        getCandidateList(value);
				    } else {
				        gridOptionsRequi.api.setFilterModel(null);
				    }
				    
				    const filteredRows = gridOptionsRequi.api.getDisplayedRowCount();
				    $('#totalReq').find('span').html(filteredRows);
				}
				
				var candidateRequisitionPairs = [];
				
				function onSelectionChangeCandidate() {
					
					var selectedRows = gridOptionsResume.api.getSelectedRows();
					var rowCount = 0;
					
					 var candidateRequisitionPairs1 = {}; 
					 
				    selectedRows.forEach(function(selectedRow,index) {
				        rowCount += 1;
				       
				        candidateRequisitionPairs1.candidateId = selectedRows[index].candidateId;
				        candidateRequisitionPairs1.requisitionId = selectedRows[index].requisitionId;
				        });
				        
				        candidateRequisitionPairs.push(candidateRequisitionPairs1)
				    
					if (rowCount > 0) {
				    	$('#shortlistedCandidate').attr("disabled", false);
					}else{
				    	$('#shortlistedCandidate').attr("disabled", true);
					}
					
					
				}
				
				
				function shortListCandidates() {
					
					var data = {};
					data.candidateList =candidateRequisitionPairs;
					
					$(".loader").show();
					
					setTimeout(function() {
				    $.ajax({
				        type: "POST",
				        url: "departmentwise-requisition-candidate-shortlist",
				        data: JSON.stringify(data),
				        contentType: 'application/json',
				        success: function(response) {
				            if (response.code == "success") {
				            	$("#messageParagraph").text(response.message);
								$("#msgOkModal").removeClass("btn3");
								$("#msgOkModal").addClass("btn1");
								$("#msgModal").modal('show');
								$(".loader").hide();
					            getCandidateList();
							    getShortListedCandidate();
								 
				            }else{
				            	$("#messageParagraph").text(response.message);
								$("#msgOkModal").removeClass("btn3");
								$("#msgOkModal").addClass("btn1");
								$("#msgModal").modal('show');
								$(".loader").hide();
					            getCandidateList();
							    getShortListedCandidate();
				            }
				            
				            
				        },
				        error: function(data) {
				        }
				    })
					}, 1000)//ajax ends
				}

</script>
</head>

<body>
	<div layout:fragment="content">
		<div class="content-wrap">
			<div class="container-fluid">
				<div class="maincontent">
				<div class="maincontentsec">
					<div class="row">
							<div class="d-flex justify-content-between" id="tdiv">
                                        <div class="btn-hs">
                                            <div class="font-design" id="totalReqResume">
                                                TOTAL LIST(<span></span>)
                                            </div>
                                        </div>
                                        <div id="searchRowDiv">
                                            <div class="input-style">
                                                <input type="text" placeholder="Search.." name="search" class="searchboxinput" onkeyup="onQuickFilterChangedRequi()" id="quickFilterRequi" autocomplete="off">
                                                <div class="searchicon">
						                               <a href="javascript:void(0)"><span
						                               style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
						                               id="closeKeyOpenReqs" onclick="cancelBar();" class="close_i"><i
						                               class="ti-close srchicon"></i></span></a><a href="javascript:void(0)"><i
						                             class="ti-search srchicon"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                   
  									<div class="col-md-2" id="selectBoxOpenResume">
                                            <div class="form-group">
                                                <div class="select">
                                                    <select id="filterResume" onchange="filterExpRequi(event)">
                                                        <option value="">Filter Experience</option>
								                        <option value="0-1">0-1 years</option>
								                        <option value="1-2">1-2 years</option>
								                        <option value="2-3">2-3 years</option>
								                        <option value="3-4">3-4 years</option>
								                        <option value="4-5">4-5 years</option>
								                        <option value="5+">5+ years</option>
								                        <option value="10+">10+ years</option>
                                                    </select> <span class="focus"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-right">
                                         <button class="approve-btn" id="shortlistedCandidate"
												onclick="shortListCandidates()">ShortList</button>
                                        </div>
                                    </div>
						
							<div class="mt-2">
                                        <div id="myGridResume" style="width: 100%; height: 500px;" class="ag-theme-alpine"></div>
                                    </div>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>