<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>
/* Slimselect ends*/
.select-pure__select {
	align-items: center;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
	color: #363b3e;
	cursor: pointer;
	display: flex;
	font-size: 9px;
	font-weight: 500;
	justify-content: left;
	min-height: 44px;
	padding: 5px 10px;
	position: relative;
	transition: 0.2s;
	width: 100%;
	background: #FFF;
}

.select-pure__options {
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
	color: #363b3e;
	display: none;
	left: 0;
	max-height: 221px;
	overflow-y: scroll;
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 5;
}

.select-pure__select--opened .select-pure__options {
	display: block;
}

.select-pure__option {
	background: #fff;
	border-bottom: 1px solid #e4e4e4;
	box-sizing: border-box;
	height: 44px;
	line-height: 25px;
	padding: 10px;
}

.select-pure__option--disabled {
	color: #e4e4e4;
}

.select-pure__option--selected {
	color: #e4e4e4;
	cursor: initial;
	pointer-events: none;
}

.select-pure__option--hidden {
	display: none;
}

.select-pure__selected-label {
	align-items: 'center';
	background: #931b1e;
	border-radius: 4px;
	color: #fff;
	cursor: initial;
	display: inline-flex;
	justify-content: 'center';
	margin: 5px 10px 5px 0;
	padding: 3px 7px;
}

.select-pure__selected-label:last-of-type {
	margin-right: 0;
}

.select-pure__selected-label i {
	cursor: pointer;
	display: inline-block;
	margin-left: 7px;
}

.select-pure__selected-label img {
	cursor: pointer;
	display: inline-block;
	height: 18px;
	margin-left: 7px;
	width: 14px;
}

.select-pure__selected-label i:hover {
	color: #e4e4e4;
}

.select-pure__autocomplete {
	background: #f9f9f8;
	border-bottom: 1px solid #e4e4e4;
	border-left: none;
	border-right: none;
	border-top: none;
	box-sizing: border-box;
	font-size: 16px;
	outline: none;
	padding: 10px;
	width: 100%;
}

.select-pure__placeholder--hidden {
	display: none;
}

.ss-content.ss-open {
	display: block;
	opacity: 1;
	transform: scaleY(1);
	height: 120px;
	overflow-y: scroll;
}
/*Slimselect ends*/
.blueClsWT {
	background: #0076ba !important;
	color: #fff !important;
}

.redClsWT {
	background: #ff9e99 !important;
	color: #fff !important;
}

.redClsWT::before {
	font-size: 8px;
	color: #FFF;
	content: '\e646';
	font-family: 'themify';
	padding-right: 7px;
}

.blueCls {
	background: #0076ba;
	color: #fff;
}

.blueClsWT::before {
	font-size: 8px;
	color: #FFF;
	content: '\e64c';
	font-family: 'themify';
	padding-right: 7px;
}

.tptCls {
	background: transparnt;
}
/* #myGrid2 .ag-row-selected {
	border: 1px solid #007bff !important;
} */
</style>
<style>
.rating {
	float: left;
}

.rating:not(:checked)>input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
	float: right;
	width: 1em;
	padding: 0 .1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.6);
}

.rating:not(:checked)>label:before {
	content: '★ ';
}

.rating>input:checked ~ label {
	color: #ea0;
}

.rating:not(:checked)>label:hover, .rating:not(:checked)>label:hover ~
	label {
	color: black;
}

.rating>input:checked+label:hover, .rating>input:checked+label:hover ~
	label, .rating>input:checked  label:hover, .rating>input:checked 
	label:hover  label, .rating>label:hover  input:checked ~ label {
	color: #ea0;
}


.rating>label:active {
	position: relative;
	top: 2px;
	left: 2px;
}

.btn-outline-primary {
	color: #007bff;
	background-color: rgb(240 243 241/ 90%);
	background-image: none;
	border-color: #007bff;
	cursor: pointer;
}
#submit{
    margin-left: 451px;
}
</style>
<script>
var sts = " ";
var reqId = " ";
var candId = " ";
$(document).ready(function() {
	 $('#feedback').attr("disabled", true);
	 $('#submit').attr("disabled", true);
	 $('#delete').attr("disabled", true);

	    $("#feedbackDateCalendar").datetimepicker({
	        format: dateFormat,
	        closeOnDateSelect: true,
	        timepicker: false,
	    }).on("change", function() {
	        $('#createdOn').val($(this).val());
	    })

	    $('#createdOn').blur(function() {
	        $("#feedbackDateCalendar").val($(this).val());
	    })
	var gridDiv2 = document.querySelector('#myGrid2');
    new agGrid.Grid(gridDiv2, gridOptions2);
    
    var gridDivSkill = document.querySelector('#myGridSkill');
    new agGrid.Grid(gridDivSkill, gridOptionsSkill);
    
    var gridDiv = document.querySelector('#ratingGrid');
    new agGrid.Grid(gridDiv, ratingOptions);
    ratingOptions.api.setRowData();
    
    var gridDiv3 = document.querySelector('#myGrid3');
    new agGrid.Grid(gridDiv3, gridOptions3);
    
	 agGrid.simpleHttpRequest({
	        url: 'schedule-interview-get-schedule-list' 
	    }).then(function(data1) {
	        var len1 = data1.length;
	        $('#totalSchedule').find('span').html(len1);
	        gridOptions2.api.setRowData(data1);
	    	var firstRowNode = gridOptions2.api.getDisplayedRowAtIndex(0); // Get the first row node
			  if (firstRowNode) {
			    firstRowNode.setSelected(true); // Set the row as selected
			  }
			    $('.loader').show();
			  agGrid.simpleHttpRequest({
			         url: 'schedule-interview-get-feedback-list?id=' + id + "&candId=" + candId
			     }).then(function(data1) {
			         gridOptions3.api.setRowData(data1);
			         countRowsFeedBack();
			         $('.loader').hide();
			     });
			  var displayedRowCount = gridOptions2.api.getDisplayedRowCount();
			  
			    var len = displayedRowCount;
				$('#totalCandidate').find('span').html(len);
	});
	
 
})
var columnDefs2 = [{headerCheckboxSelection: true,
    headerCheckboxSelectionFilteredOnly: true,
    checkboxSelection: true,
    width: 10,
    sortable: false,
    filter: false,
    resizable: true

},{
        headerName: "Requisition ID",
        field: "requisitionId",
        cellRenderer: function(params) {
            return '<a>' + params.data.requisitionId + '</a>';
        }
    },
    {
        headerName: "Candidate Name",
        field: "candId",
        cellRenderer: function(params) {
            return '<div>' + params.data.firstName + '</div>';
        }
    },
    {
        headerName: "Candidate Id",
        field: "candId",
        cellRenderer: function(params) {
            if (params.data.candId) {
                return '<a onclick="openCandidateDetails(\'' + params.data.candId + '\', \'' + params.data.requisitionId + '\')" href="javascript:void(0)" title="Candidate details">'
                    + '<i class="fa fa-info-circle"> ' + params.data.candId + ' </i>'
                    + '</a>';
            } else {
                return params.data.candId;
            }
        }

    },
    {
        headerName: "Title",
        field: "summary",
        cellRenderer: function(params) {
            return '<div>' + params.data.title + '</div>';
        }
    }, {
        headerName: "From Date",
        field: "description",
        cellStyle: {
            textAlign: 'center'
        },
        cellRenderer: function(params) {
            return '<div>' + params.data.fromDate + '</div>';
        }
    }, {
        headerName: "From Time",
        field: "personalMail",
        cellStyle: {
            textAlign: 'center'
        },
        cellRenderer: function(params) {
            return '<div>' + params.data.fromTime + '</div>';
        }
    }, {
        headerName: "To Time",
        field: "emailId",
        cellStyle: {
            textAlign: 'center'
        },
        cellRenderer: function(params) {
            return '<div>' + params.data.toTime + '</div>';
        }
    }, {
        headerName: "Interviewer Name",
        field: "hiringManagerId",
        cellRenderer: function(params) {
            return '<div>' + params.data.hiringManagerName + '</div>';
        }
    }
];


var gridOptions2 = {
    columnDefs: columnDefs2,
    defaultColDef: {
        sortable: true,
        filter: true,
        resizable: true,
        width: 180,
        height: 10
    },
    rowSelection: 'single',
    rowMultiSelectWithClick: true,
    onSelectionChanged: onChangedCandidateScheduleEdit

};	
//
var ratingDefs = [{
        headerCheckboxSelection: true,
        headerCheckboxSelectionFilteredOnly: true,
        checkboxSelection: true,
        width: 10,
        sortable: false,
        filter: false,
        resizable: true

    },
    {
        headerName: "SlNo",
        field: "slNo",
        width:250,
        cellRenderer: function(params) {
            if (params.data.slNo) {
                return '<a onclick=editRatingDetails("' +
                    params.data.slNo +
                    '") href="javascript:void(0)">' +
                    params.data.slNo + '</a>';
            } else {
                return '<a onclick=editRatingDetails("' +
                    params.data.slNo +
                    '") href="javascript:void(0)">' +
                    params.data.slNo + '</a>';
            }
        }
    }, {
        field: "ratingCat",
        hide: true
    }, {

        headerName: 'Rating Category',
        field: "ratingCatName",
        width:250,
    }, {
        field: "ratingType",
        hide: true
    }, {

        headerName: 'Rating Type',
        field: "ratingTypeName",
        width:250,
    }, {
        headerName: 'Rating',
        field: "rating",
        cellStyle: {
            textAlign: 'right'
        },
        width:250,

    }, {

        headerName: 'Comment',
        field: "comment",
        width:250,
    },
];

var ratingOptions = {
    columnDefs: ratingDefs,
    rowSelection: 'multiple',
    groupSelectsChildren: true,
    suppressRowClickSelection: true,
    suppressAggFuncInHeader: true,
    defaultColDef: {
        sortable: true,
        filter: true,
        resizable: true,
        width: 240,
        height: 10
    },
   onSelectionChanged: ratingRowSelect,
    getRowNodeId: function(data) {
        return data.slNo;
    }
};
//
var columnDefs3 = [{
        headerName: "Feedback ID",
        field: "feedbackId",
        width:250,
        cellRenderer: function(params) {
            return '<a onclick=editFeedback("' + params.data.feedbackId + ',' + params.data.requisitionId + ',' + params.data.candId +
                '") href="javascript:void(0)">' +
                params.data.feedbackId + '</a>';
        }
    },
    {
        headerName: "Candidate Name",
        field: "candId",
        width:250,
        cellRenderer: function(params) {
            return '<div>' + params.data.firstName + '</div>';
        }
    },
    {
        headerName: "Mode Of Interview",
        field: "modeOfInt",
        width:300,
    }, {
        headerName: "Interviewer Name",
        field: "intViewerName",
        width:300,
    }, {
        headerName: "Feedback",
        field: "feedback",
        width:220,
    }
];


/* 
 *
	candidate Skills
 *
 */

var columnDefsSkills = [ {
	headerName : "Key Skills",
	field : "skills"
}, {
	headerName : "Self Rating",
	field : "level"
}, {
	headerName : "Years of Exp",
	field : "expSkills",
} ,
{
	headerName : "Skill Descriptionp",
	field : "desc",
} ];


var gridOptionsSkill = {
		columnDefs : columnDefsSkills,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 180,
			height : 10
		},
		rowSelection : 'single',

	};


var gridOptions3 = {
    columnDefs: columnDefs3,
    defaultColDef: {
        sortable: true,
        filter: true,
        resizable: true,
        width: 272,
        height: 10
    },
     	rowSelection : 'single',
    	onSelectionChanged : onChangedCandidateFeedbackEdit

};

function onQuickFilterChanged() {
	gridOptions2.api
        .setQuickFilter(document.getElementById('quickFilter').value);
	gridOptions2.api
        .setQuickFilter(document.getElementById('quickFilter').value);
	var displayedRowCount = gridOptions2.api.getDisplayedRowCount();
	  
    var len = displayedRowCount;
	$('#totalCandidate').find('span').html(len);
}
//
function feedback() {
    $("#addFeedBackData").show();
    $("#ddiv").show();
    $("#main").hide();
    var selectedRows = gridOptions2.api.getSelectedRows();
    var id = selectedRows[0].requisitionId;
    
    $("#modeOfInt").val('');
    ratingOptions.api.setRowData([]);
    $("#feedSummary").val('');
    
    //alert(id)
    //$("#requisitionId").val(id);
    
   
$.ajax({
	type : "GET",
	url : "schedule-interview-get-jobtittle?id="+id,
	contentType : 'application/json',
	success : function(response) {
		if (response.message == "Success") {
			$("#position").val(response.body.data);
			$("#designationId").val(response.body.key);
			$("#designationName").val(response.body.name);
		
		}
	}
});
}
function Cancel() {
    
    $("#addFeedBackData").hide();
    $("#main").show();
    $("#ddiv").hide();
   location.reload();
  

    $('.loader').show();
	  agGrid.simpleHttpRequest({
	         url: 'schedule-interview-get-feedback-list?id=' + id + "&candId=" + candId
	     }).then(function(data1) {
	         gridOptions3.api.setRowData(data1);
	         countRowsFeedBack();
	         $('.loader').hide();
	     });

}
var id = "";

function onChangedCandidateScheduleEdit() {
    var selectedRows = gridOptions2.api.getSelectedRows();

    id = "";
    for (var i = 0; i < selectedRows.length; i++) {
        id = id + '' + selectedRows[i].slNo + '';
    }
    var rowCount = 0;
    selectedRows.forEach(function(i) {
        rowCount = rowCount + 1;
    });
    var selectedNodes = gridOptions2.api.getSelectedNodes();
    var selectedData = selectedNodes.map(node => node.data);
   
    $('#candId').val(selectedData.map(node => node.candId));
    $('#candidateheadId').html(selectedData.map(node => node.candId));
    $('#candName').val(selectedData.map(node => node.firstName));
    $('#createdOn').val(selectedData.map(node => node.createdOn));
    //$('#requisitionId').val(selectedData.map(node => node.requisitionId));
     $('#requisitionId').val(selectedData.map(node => node.requisitionId));
     console.log("SSSSSSSS",selectedData)
    
    var reqId = selectedData.map(node => node.requisitionId);
     $('#requisitionId').val(reqId);
    var candid = selectedData.map(node => node.candId);
   	 $('#candId').val(candid);
    if (rowCount > 0) {
        $('#feedback').attr("disabled", false);
    } else {
        $('#feedback').attr("disabled", true);
    }

    $('.loader').show();
    agGrid.simpleHttpRequest({
        url: 'schedule-interview-get-feedback-list?id=' + reqId + "&candId=" + candid
    }).then(function(data1) {
        gridOptions3.api.setRowData(data1);
        countRowsFeedBack();
        $('.loader').hide();
    });
    
}
function countRowsFeedBack(){
	
	/*  var selectedNodes = gridOptions2.api.getSelectedNodes();
	    var selectedData = selectedNodes.map(node => node.data);
	var count1 =0;
    gridOptions3.api.forEachNodeAfterFilterAndSort(function(node) {
       if(selectedData.map(node => node.candId) == node.data.candId){
       	count1++;
       }
   });
    if (count1 > 0) {
        $('#feedback').attr("disabled", true);
    } else {
        $('#feedback').attr("disabled", false);
    } */
}
//
var id = "";

function ratingRowSelect() {
    var selectedRows = ratingOptions.api.getSelectedRows();

    id = "";
    for (var i = 0; i < selectedRows.length; i++) {
        id = id + '' + selectedRows[i].slNo + '';
    }
    var rowCount = 0;
    selectedRows.forEach(function(i) {
        rowCount = rowCount + 1;
    });
    if (rowCount > 0) {
        $('#delete').attr("disabled", false);
        $('#openRatingNav').attr('disabled', true);
    } else {
        $('#delete').attr("disabled", true);
        $('#openRatingNav').attr('disabled', false);
    }
}
//
function onChangedCandidateFeedbackEdit() {
    var selectedRows = gridOptions3.api.getSelectedRows();
    id = "";
    for (var i = 0; i < selectedRows.length; i++) {
        id = id + '' + selectedRows[i].slNo + '';
    }

    var rowCount = 0;
    selectedRows.forEach(function(i) {
        rowCount = rowCount + 1;

    });

    if (rowCount > 0) {
        $('#submit').attr("disabled", false);
    } else {
        $('#submit').attr("disabled", true);
    }

}
//
function openRatingNav() {
    $("#ratingCat").val('');
    $("#ratingType").val('');
    $("#star1").attr("checked", false);
    $("#star2").prop("checked", false);
    $("#star3").prop("checked", false);
    $("#star4").prop("checked", false);
    $("#star5").prop("checked", false);
    $("#comment").val('');

    $("#editRating").val(null);
    document.getElementById("mySidenavRating").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto; top:285px;";
    document.getElementById("main_content").style.width = "75%";
    document.getElementById("main_content1").style.width = "75%";
    $('#openRatingNav').attr("disabled", true);
    $('#delete').attr("disabled", true);
}
/* Function for close RatingNav */
function closeRatingNav() {
    document.getElementById("mySidenavRating").style.width = "0";
    document.getElementById("main_content").style.width = "100%";
    document.getElementById("main_content1").style.width = "100%";
    $('#openRatingNav').attr("disabled", false);
    $('#delete').attr("disabled", true);

    $("#ratingCat").val('');
    $("#ratingType").val('');
    $("#star1").attr("checked", false);
    $("#star2").prop("checked", false);
    $("#star3").prop("checked", false);
    $("#star4").prop("checked", false);
    $("#star5").prop("checked", false);
    $("#comment").val('');

    $("#editRating").val(null);

}
//
/**********************   On change   *************************/
//get Rating type list on change of Rating category
function getRatingTypeList(rtid) {
    var category = $("#ratingCat").val();
    if (category) {
        $("#ratingType").empty();
        var option = $("<option></option>");
        $(option).val(null);
        $(option).html("---Select---");
        $("#ratingType").append(option);
        $.ajax({
            type: 'GET',
            url: 'schedule-interview-getRatingType?category=' + category,
            contentType: false,
            success: function(response) {
                if (response.message == "success") {
                    $("#ratingType").empty();
                    var option = $("<option></option>");
                    $(option).val(null);
                    $(option).html("---Select---");
                    $("#ratingType").append(option);
                    for (var i = 0; i < response.body.length; i++) {
                        var option = $("<option></option>");
                        $(option).val(response.body[i].key);
                        $(option).html(response.body[i].name);
                        $("#ratingType").append(option);
                    }
                    if(rtid!="" && rtid!=""){
                    	 $("#ratingType").val(rtid);
                    }
                }
            },
            error: function(e) {
                alert("error");
            }
        });
    } else {
        $("#ratingType").empty();
        var option = $("<option></option>");
        $(option).val(null);
        $(option).html("---Select---");
        $("#ratingType").append(option);
    }
}
/* Function for save Rating Details */
function saveTableData() {
    var editRating = $("#editRating").val();
    var rat = {};
    var data = 1;
    var validation = true;
    if (rat.ratingCat == null || rat.ratingCat == "") {
        validation = validationUpdated("Rating Category Required", 'ratingCat');
    }
    if (rat.ratingType == null || rat.ratingType == "") {
        validation = validationUpdated("Rating Type Required", 'ratingType');
    }  
    if (validation) {
        ratingOptions.api.forEachNode(function(rowNode, index) {              	
        	if (!editRating) {
                data = data + 1;               
            }else{
            	 data = editRating;
            }
        }); 
        var ratingId = $("input:radio[name=rating]:checked").val();
        rat.ratingCat = $('#ratingCat').val();
        rat.ratingCatName = $("#ratingCat option:selected").text();
        rat.ratingType = $('#ratingType').val();
        rat.ratingTypeName = $("#ratingType option:selected").text();
        rat.rating = ratingId;
        rat.comment = $('#comment').val();

        rat.slNo = data;        console.log("oooooo",rat)
        var quot = [];
        if (editRating) {
            var rowNode = ratingOptions.api.getRowNode(editRating);
            rowNode.setData(rat);
        } else {
            ratingOptions.api.forEachNode(function(rowNode, index) {
                quot.push(rowNode.data);
            });
            quot.push(rat)
            ratingOptions.api.setRowData(quot);
        }
        closeRatingNav();
    }
}
/* Function for edit Rating Details */
function editRatingDetails(slNo) {
    var rowNode = ratingOptions.api.getRowNode(slNo);
    openRatingNav();
    $("#editRating").val(slNo);
    $("#ratingCat").val(rowNode.data.ratingCat);
    getRatingTypeList(rowNode.data.ratingType);
    let index = rowNode.data.rating;
    $('#star' + index).prop('checked', true);
    $("#comment").val(rowNode.data.comment);
   console.log("slNo",slNo)
}

function deleteRatingOnclick() {
    $('.modal').hide();
    $('.modal-backdrop').hide();

    // Get the selected rows each time the function is called
    var selectedRows = ratingOptions.api.getSelectedRows();

    if (selectedRows.length > 0) {
        ratingOptions.api.applyTransaction({
            remove: selectedRows
           
        });
        $('#deleteRatingDtls').modal('hide');
        // Optionally clear the selection after deletion
        ratingOptions.api.deselectAll();
    } else {
        console.error("No rows selected for deletion.");
    }
    // cancelModalDeleteBtn();
}
//
function deleteRating() {
	//alert("hiii")
    $('#deleteRatingDtls').modal('show');
}
//
/* Function for add final feedback */
function interviewFeedback(sts) {
//alert(st)
   // if (validRatingData() && validFormData()) {
	   var st=sts;
        var datas = [];
        if (ratingOptions.api.getDisplayedRowCount() > 0) {
            ratingOptions.api.forEachNode(function(rowNode, indrx) {
                var obj = rowNode.data;
                var feed = $("input:radio[name=feedback]:checked").val();
               // alert(obj.candId)
                obj.candId = $("#candidateheadId").html();
                obj.feedbackId = $("#feedbackId").val();
                obj.firstName = $("#candId").val();
                //obj.candId = $("#candId").val();
                obj.requisitionId = $("#requisitionId").val();
                obj.position = $("#position").val();
                obj.createDate = $("#createdOn").val();
                obj.modeOfInt = $("#modeOfInt").val();
                obj.intViewerName = $("#intViewerId").val();
                obj.designationName = $("#designationId").val();

                obj.feedSummary = $("#feedSummary").val();
                obj.feedback = feed;
                obj.intViewSubmitSts = st;
                datas.push(obj);
            });
        } else {
            var obj = {};
            var feed = $("input:radio[name=feedback]:checked").val();
            obj.candId = $("#candidateheadId").html();
            obj.firstName = $("#candId").val();
            obj.feedbackId = $("#feedbackId").val();
            obj.requisitionId = $("#requisitionId").val();
            obj.position = $("#position").val();
            obj.createDate = $("#createdOn").val();
            obj.modeOfInt = $("#modeOfInt").val();
            obj.intViewerName = $("#intViewerId").val();
            obj.designationName = $("#designationId").val();
            obj.feedSummary = $("#feedSummary").val();
            obj.feedback = feed;
            obj.intViewSubmitSts = st;

            datas.push(obj);
        }
        saveAllFeedBackDetails(datas);
 //   }
}

function saveAllFeedBackDetails(datas) {
	// $('.loader').show();
    var reqId = $("#requisitionId").val();
    var candid = $("#candId").val();

    $.ajax({
        type: "POST",
        url: "schedule-interview-add-feedback",
        contentType: "application/json",
        data: JSON.stringify(datas),
        success: function(response) {
            if (response.code == "Success") {

                $("#addFeedBackData").hide();
                $("#main").show();
				$("#messageParagraph").text(response.message); 
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				
				agGrid.simpleHttpRequest({
			        url: 'schedule-interview-get-feedback-list?id=' + reqId  + "&candId=" + candid,
			    }).then(function(data1) {
			        gridOptions3.api.setRowData(data1);
			        countRowsFeedBack();
			    });
               
				
            } else {
                $("#addFeedBackData").hide();
                $("#main").show();

				$("#messageParagraph").text(response.message); 
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
            }
        },
        error: function(data) {
        }
    }) //ajax ends
  location.reload();
    
    
}
function validRatingData() {
    return true;
}
function validFormData() {
    var allValid = true;
    if (!validationUpdated("Mode of Interview  can't be Left Blank", 'modeOfInt'))
        allValid = false;
    if (!validationUpdated("FeedBack summary can't be Left Blank",
            'feedSummary'))
        allValid = false;

    return allValid;
}
function editFeedback(id) {
	
	var main_index = id;
    var main_index1 = id.split(",");
    var feedId = main_index1[0];
    var candId = main_index1[1];
    var reqId = main_index1[1];

    agGrid.simpleHttpRequest({
        url: "schedule-interview-edit-feedbackDetails?feedId=" + feedId + "&candId=" + candId
    }).then(function(data) {
    	feedback()

        $("#candidateheadId").html(data[0].candId);
        $("#candId").val(data[0].candId);
        $("#feedbackId").val(data[0].feedbackId);
        $("#candName").val(data[0].firstName);
        $("#requisitionId").val(data[0].requisitionId);
        $("#position").val(data[0].position);
        $("#createdOn").val(data[0].createDate);
        $("#modeOfInt").val(data[0].modeOfInt);
        $("#intViewerId").val(data[0].intViewerId);
        $("#intViewerName").val(data[0].intViewerName);
        $("#designationId").val(data[0].designationId);
        $("#designationName").val(data[0].designationName);
        $("#feedSummary").val(data[0].feedSummary);
        sts = data[0].intViewSubmitSts;
        let index = data[0].feedback;
        if (index == "Reject") {
            $("#feedback1").prop('checked', true);
        }
        if (index == "Hold") {
            $("#feedback2").prop('checked', true);
        }
        if (index == "Hire") {
            $("#feedback3").prop('checked', true);
        }
        if (index == "Second Round") {
            $("#feedback4").prop('checked', true);
        }
        ratingOptions.api.setRowData(data);
    });
    
}
//

function mainCancel(){
	 $('#commentModal').modal('hide');
}
function downloadEmpDetails() { 
    var dataset = [];
    gridOptions2.api.forEachNodeAfterFilterAndSort(function(rowNode, index) {
          dataset.push(rowNode.data);
          
      });
    gridOptions2.api.exportDataAsCsv(dataset);
  }
function cancelModalBtn(){
	 $('#deleteRatingDtls').modal('hide');
}


function openCandidateDetails(candId,reqId){

document.getElementById("mySidenav").style.cssText = "width: 40%; position: absolute; right: -2px; height: auto; top: 167px; max-height: 500px; overflow-y: auto; overflow-x: hidden;";

document.getElementById("resumeGridSection").style.width = "60%";
	
	$.ajax({
		type : "GET",
		url : "schedule-interview-get-candidate?candId=" + candId + "&requiId=" + reqId,
		success : function(response) {
			if (response.code == "success") {
				var data = JSON.parse(response.body);
				var candData = data.candidateData;
				var allData = candData[0];
				
				console.log('allData>>>',allData)
				
				 $("#resumeCandidateId").val(allData.candidateId);
					
				 if(allData.profileImg != null && allData.profileImg != ''){
					 var dynamicPath = "/document/employee/"+allData.profileImg;
					 $("#profileImg").attr("src", dynamicPath);
				 }else{
					 $("#profileImg").attr("src", "/assets/index-img/user.jpg"); 
				 }

			    
				$("#candidateMobile").html(allData.mobile);
				$("#candidateEmailSpan").html(allData.email);
				$("#commAddress").html(allData.address);
				$("#candidateEducation").html(allData.candidateEducation);
				$("#candidateName").html(allData.candidateName);
				$("#expYrs").html(allData.experience != "NOT UPDATED" ? allData.experience + " Years" : "");


				 gridOptionsSkill.api.setRowData(allData.candidateSkill);
			}
		}
	});
				
	

}


function showFormat(){
	   var organization = $("#sessionOrganization").val();
	   var orgDivision = $("#sessionOrgDivision").val();
	   var userId =  $("#resumeCandidateId").val();;

	   window.open("/recruitment/view-candidate-resume-download?candidateId=" +
	      window.btoa(userId) + "&organization=" +
	      window.btoa(organization) + "&orgDivision=" +
	      window.btoa(orgDivision) + "&userId=" +
	      window.btoa(userId), '_blank');
}




</script>
<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">
				<div id="main">
					<div class="d-flex justify-content-between" id="hideTbl">
						<div class="col-md-4">
							<div class="font-design" id="totalCandidate">
								Schedule Interview(<span></span>)
							</div>
						</div>
						
						
						<div id="searchRowDiv">
							<div class="input-style">
								<input type="text" placeholder="Search.." name="search"
									class="searchboxinput" onkeyup="cancelBar()"
									oninput="onQuickFilterChanged()" id="quickFilter"
									autocomplete="off">
								<div class="searchicon">
									<a href="javascript:void(0)"><span
										style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
										id="closeKey"
										onclick="gridOptions2.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
										class="close_i"><i class="ti-close srchicon"></i></span></a><a
										href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 btn-hs" align="right">
							<button class="btn1" id="feedback" onclick="feedback()">FeedBack</button>
								<button class="btn4" id="download" onclick="downloadEmpDetails()">Download</button>
						</div>
					</div>
					<input type="hidden" id="sessionId" th:value="${userId}" />
					
					<div class="row">
					<input type="hidden" id="resumeCandidateId"/> 
					<input type="hidden" id="sessionOrganization" th:value="${organization}" /> 
					<input type="hidden" id="sessionOrgDivision" th:value="${orgDivision}" /> 
					<div id="mySidenav" class="sidenav">
										    <div class="slidebox">
										        <div class="row">
										            <div class="col-md-10">
										                <div class="candProf">Candidate Profile</div>
										            </div>
										            <div class="col-md-2">
										                <div class="arrow">
										                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
										                        <i class="ti-arrow-right"></i>
										                    </a>
										                </div>
										            </div>
										        </div>
										
					                          <div class="row row-cols g-3">
					                            <div class="col-3">
					                              <div class="" style="border: 1px solid rgba(128, 0, 128, 50%); border-radius: 0.5rem; height: 100%;">
					                                <img src="..src/index-img" alt="Profile Image" class="img-fluid profile-img" id="profileImg">
					                              </div>
					                            </div>
					                            <div class="col">
					                              <div class="row row-cols-auto align-items-center g-3">
					                                <div class="col"><h3 id="candidateName"></h3></div>
					                                <div class="col"><h3 >|</h3></div>
					                                <div class="col"><h4 id="candidateEducation"></h4></div>
					                                <div class="col"><h5>Total Years of Experience: <span id="expYrs"></span></h5></div>
					                                
					                              </div>
					                              <div class = "row">
					                              <div class="col-4"><button type="button" onclick = "showFormat()" class="approve-btn">Resume</button></div>
					                              </div>
					                              
					                            </div>
					                          </div>
										
										        <!-- Key Skills Section -->
										        <div class="row">
										            <div class="col-md-12">
										                <div class="form-group">
										                    <label>Key Skills</label>
                                        					<div id="myGridSkill" style="width: 100%; height: 100px;" class="ag-theme-alpine"></div>
										                  
										                </div>
										            </div>
										        </div>
										
										        <!-- Remarks Section -->
										        <div class="row mt-4">
										            <div class="col-md-12">
										                <div class="form-group">
										                    <label>Communication Address :</label>
										                   <div><span id = "commAddress"></span></div>
										                   
										                   </div>
										            </div>
										            <div class="col-md-6 mt-4">
										                <div class="form-group">
										                    <label>Candidate Email Id :</label>
										                   <div><span id = "candidateEmailSpan"></span></div>
										                   
										                   </div>
										            </div>
										             
										            <div class="col-md-6 mt-4">
										                <div class="form-group">
										                    <label>Mobile No :</label>
										                   <div><span id = "candidateMobile"></span></div>
										                   
										                   </div>
										            </div>
										        </div>
										
										       
										
										        <div class="clearfix"></div>
										    </div>
										</div>
					<div class="mt-2" id= "resumeGridSection">
					
					<div id="myGrid2" style="width: 100%; height: 400px;"
						class="ag-theme-alpine"></div>
						</div>
						
						</div>
										
										
						<div class="row mt-20">
									<div class="col-md-7 ">
										<div class="font-design">FEEDBACK</div>
										<div class="section2_new"></div>
										<div class="section3_new" align="right"></div>

									</div>
									
								</div>

								<div id="myGrid3" style="width: 100%; height: 200px;"
									class="ag-theme-alpine"></div>
						</div>
				<!--  -->
				
				<!-- FeedBack Page STARTS -->
						<div class="collapse" id="addFeedBackData">
							<div class="innercontent">
								<div class="innerstickybg">
									<div class="row" id="ddiv">
										<div class="col-md-6" id="idDiv">
											Candidate ID: <span id="candidateheadId"></span>
										</div>

										<div class="col-md-6" align="right">
											<button class="btn3" id="Cancel" onClick="Cancel()">Cancel</button>
											<button class="btn1" onclick="interviewFeedback('1')">Submit</button>
											<button class="btn1" onclick="interviewFeedback('0')">Save as Draft</button>
											
										</div>
									</div>
								</div>

								<div class="row innersticky_contentgap">


									<div class="col-md-4">
										<div class="form-group">
										<input type="hidden" id="feedbackId"> 
											<input type="hidden" id="candId"> <label>Candidate
												Name</label> <input type="text" class="form-control" id="candName"
												readonly>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Requisition Id</label> <input type="text"
												class="form-control" id="requisitionId" readonly>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Position</label> <input type="text"
												class="form-control" id="position"
												th:value="${data}" readonly>
										</div>
									</div>
									<div class="col-md-4" hidden="true">
										<div class="form-group calendar_box">
											<label>Date</label> <input type="text" id="createdOn"
												autocomplete="off" class="form-control"
												onblur="removeValid(event)"
												th:attr="onkeyup=|formatDate('createdOn','${session.DATEFORMAT_JS}')|">
											<i class="ti-calendar picker_calendar"
												id="feedbackDateCalendar"></i>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Mode of interview</label> <input type="text"
												class="form-control" id="modeOfInt"
												placeholder="mode of interview.....">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<input type="hidden" id="intViewerId" th:value="${userId}">
											<label>Interviewer Name</label> <input type="text"
												class="form-control" id="intViewerName"
												th:value="${userName}" readonly>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Designation</label> <input type="hidden"
												id="designationId"><input
												type="text" class="form-control" id="designationName" 
												th:value="${name}" readonly>
										</div>
									</div>

								</div>

								<div id="main_content">
									<div class="accordion" id="accordionExample">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingOne">
												<button class="accordion-button" type="button"
													data-bs-toggle="collapse" data-bs-target="#collapseOne"
													aria-expanded="true" aria-controls="collapseOne">
													Rating Details</button>
											</h2>
											<div id="collapseOne"
												class="accordion-collapse collapse show"
												aria-labelledby="headingOne"
												data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<div class="row">

														<div class="col-md-4 btn-hs1">
															<div class="font-design"></div>
														</div>
														<div class="col-md-8 butttonsec">

															<button class="btn1" id="openRatingNav"
																onclick="openRatingNav()">New</button>
															<button class="btn3" id="delete" onclick="deleteRating()">Delete</button>
														</div>
													</div>
													<div id="ratingGrid" style="width: 100%; height: 200px;"
														class="ag-theme-alpine"></div>


												</div>

											</div>
										</div>

										<div id="mySidenavRating" class="sidenav">
											<div class="slidebox">
												<div class="row">
													<div class="col-md-9">
														<div class="edit">Rating</div>
													</div>
													<div class="col-md-3">
														<div class="arrow">
															<a href="javascript:void(0)" class="closebtn"
																onclick="closeRatingNav()"><i class="ti-arrow-right"></i></a>
														</div>
													</div>
													<div class="chartbtnsec">
														<div align="right">
															<button class="btn3" onclick="closeRatingNav()">CANCEL</button>
															<button class="btn1" id="saveTableData"
																onclick="saveTableData()">SAVE</button>

														</div>
													</div>

													<input type="hidden" id="editRating">
													<div class="col-md-12">
														<div class="form-group">
															<input type="hidden" id="ratingCatId"> <label>Rating
																Category</label>
															<div class="select">
																<select id="ratingCat" onchange="getRatingTypeList('');">
																	<option value="">--Select--</option>
																	<option th:each="c,iter:${ratingCatList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<input type="hidden" id="ratingTypeId"> <label>Rating
																Type</label>
															<div class="select">
																<select id="ratingType">
																	<option value="">--Select--</option>
																	<option th:each="c,iter:${ratingTypeList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<div>
																<label>Rating</label>
															</div>
															<fieldset class="rating">
																<input type="radio" class="rating1" id="star5"
																	name="rating" value="5" /><label for="star5"
																	title="Excellent">5 stars</label> <input type="radio"
																	class="rating1" id="star4" name="rating" value="4" /><label
																	for="star4" title="Very Good">4 stars</label> <input
																	type="radio" class="rating1" id="star3" name="rating"
																	value="3" /><label for="star3" title="High">3
																	stars</label> <input type="radio" class="rating1" id="star2"
																	name="rating" value="2" /><label for="star2"
																	title="Medium">2 stars</label> <input type="radio"
																	class="rating1" id="star1" name="rating" value="1" /><label
																	for="star1" title="Low">1 star</label>
															</fieldset>
														</div>
													</div>
													
													<div class="col-md-12">
														<div class="form-group">
															<label>Comment</label>
															<textarea id="comment"
																class="form-control transparenttxtbox"
																placeholder="comment....."></textarea>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>


								<div id="main_content1">
									<div class="accordion" id="accordionExample">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingOne">
												<button class="accordion-button" type="button"
													data-bs-toggle="collapse" data-bs-target="#collapseOne"
													aria-expanded="true" aria-controls="collapseOne">
													Summary And Final FeedBack</button>
											</h2>
											<div id="collapseOne" class="accordion-collapse collapse"
												aria-labelledby="headingOne"
												data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<div class="col-md-12">
														<div class="modal-inrheading">Summary</div>
														<div class="position-text">
															<textarea rows="4" cols="100" id="feedSummary"
																onkeyup="textCount(event)"></textarea>
															<div id="charNumSN" class="txtcounter" align="right">
																<span>0</span> characters
															</div>
														</div>
													</div>
													<div class="col-md-12">
														<div class="modal-inrheading">Final FeedBack</div>
														<div class="row">

															<div class="col-md-3">
																<label class="radio"> <input type="radio"
																	value="Reject" id="feedback1" name="feedback"><span>Reject</span>
																	<span></span></label>
															</div>

															<div class="col-md-3">
																<label class="radio"> <input type="radio"
																	value="Hold" id="feedback2" name="feedback"><span>Hold
																</span> <span></span></label>
															</div>

															<div class="col-md-3">
																<label class="radio"> <input type="radio"
																	value="Hire" id="feedback3" name="feedback"><span>Hire</span>
																	<span></span></label>
															</div>
															<div class="col-md-3">
																<label class="radio"> <input type="radio"
																	value="Second Round" id="feedback4" name="feedback"><span>Second
																		Round</span> <span></span></label>
															</div>

														</div>

													</div>



												</div>

											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<!-- delete Rating start	 -->
			<div id="deleteRatingDtls" class="modal fade show" aria-modal="true">
				<div class="modal-dialog modal-confirm">
					<div class="modal-content">
						<div class="modal-header flex-column">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" onclick="cancelModalProductBtn()">
								<i class="ti-close modal-close"></i>
							</button>
						</div>
						<div class="modal-body">
							<p>Do you really want to delete these records? This process
								cannot be undone.</p>
						</div>
						<div class="modal-footer justify-content-center"
							style="margin-top: -30px;">

							<button type="button" class="btn4" data-dismiss="modal"
								onclick="cancelModalBtn()">Cancel</button>
							<button type="button" class="btn3"
								onclick="deleteRatingOnclick()">Delete</button>
						</div>
					</div>
				</div>
			</div>
			<div id="commentModal" class="modal fade">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">
								Are you want to submit this feedback?
									<div class="modal-footer justify-content-left">
										<button type="button" class="approve-btn"
											data-bs-dismiss="modal" aria-hidden="true"
											id="approveLeaveSubmitBtn" onclick="mainSubmit()">Submit</button>
											<button type="button" class="cancel-btn"
											data-bs-dismiss="modal" aria-hidden="true"
											id="" onclick="mainCancel()">Cancel</button>
										
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>

</body>


</html>