.innerstickybg {
	background: none;
}

#myReq .ag-row-selected {
	background: #0076ba !important;
	color: #fff;
	text-indent: 10px !important;
}

.blank_row {
	height: 10px !important; /* overwrites any other rules */
	background-color: #FFFFFF;
}

#myReq .ag-row-selected::before {
	font-size: 8px;
	color: #FFF;
	content: '\e64c';
	font-family: 'themify';
	margin-right: 7px;
	position: relative;
	top: 3px;
	right: 4px;
}
.input-styles {
    width: 210px;
    border-radius: 34px;
    border: 1px solid #babfc7;
    font-size: 12px;
    padding: 4px 10px;
    background: #FFF;
    margin-left: 0;
    display: flex;
}

#modalCan {
    padding: 6px;
    width: 81px;
    height: 28px;
    font-size: 10px;
    text-transform: uppercase;
    width: 70px;
    margin-bottom: 8px;
}
#btnDsn {
    margin: auto;
    margin-top: -25px;
}