.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 15px;
}

.createLead {
	padding-left: 10px;
	color: #0c63e4;
}

ul .icon {
	list-style-type: circle !important;
}
.pb-0{padding-bottom: 0px !important;}
.dropbtn {
	border: none;
	border-radius: 4px;
	font-size: 10px;
	background-color: #5784c4;
	color: #fff !important;
	margin-left: 5px;
	margin-bottom: 8px;
	width: 100px;
	height: 28px;
	line-height: 12px;
	float: right;
	text-transform: uppercase;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 180px;
	min-height: 10px;
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	top: 30px;
	transition: all 0.2s;
	right: 6px;
}

.dropdown-content a {
	color: black;
	padding: 6px 0px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.btn11 {
	border: none;
	border-radius: 4px;
	font-size: 10px;
	background-color: #5784c4;
	color: #fff !important;
	margin-left: 5px;
	margin-bottom: 8px;
	width: 150px;
	height: 28px;
	line-height: 12px;
	float: right;
	text-transform: uppercase;
	cursor: pointer;
}

/* ---checkbox start---- */
.multiselect {
	width: 200px;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
	font-weight: bold;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	border: 1px #dadada solid;
	padding-left: 5px;
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}

#checkboxes2 {
	border: 1px #dadada solid;
	padding-left: 5px;
}

#checkboxes2 label {
	display: block;
}

#checkboxes2 label:hover {
	background-color: #1e90ff;
}

.rating {
	float: left;
}

.p_img {
	margin-right: 15px;
}

.d-flex1 span {
	padding: 0px 5px;
	color: #999;
	font-size: 11px;
}

.d-flex1 span>u {
	color: #000;
	text-decoration: none;
}

.u_name {
	padding: 0px 5px;
	font-weight: bold;
}

 .rating:not(:checked)>input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
} 

.rating:not(:checked)>label {
	float: right;
	width: 1em;
	padding: 0 .1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.6);
}

.rating:not(:checked)>label:before {
	content: '★ ';
}

.rating>input:checked ~ label {
	color: #ea0;
}

.rating:not(:checked)>label:hover, .rating:not(:checked)>label:hover 
	 ~ label {
	color: black;
}
 *


.rating>input:checked+label:hover, .rating>input:checked+label:hover ~
	label, .rating>input:checked ~ label:hover, .rating>input:checked ~
	label:hover ~ label, .rating>label:hover ~ input:checked ~ label {
	color: #ea0;
}

.rating>label:active {
	position: relative;
	top: 2px;
	left: 2px;
}

.btn-outline-primary {
	color: #bf05ff;
	background-color: rgb(240 243 241/ 90%);
	background-image: none;
	border-color: #bf05ff;
	cursor: pointer;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #bf05ff;
    border-color: #bf05ff
}
body {
	/* margin-top: 20px; */
	color: #1a202c;
	text-align: left;
	/* background-color: #e2e8f0;  */
}

.inner-wrapper {
	position: relative;
	height: calc(100vh - 3.5rem);
	transition: transform 0.3s;
}

@media ( min-width : 992px) {
	.sticky-navbar .inner-wrapper {
		height: calc(100vh - 3.5rem - 48px);
	}
}

.inner-main, .inner-sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

.inner-sidebar {
	left: 0;
	width: 235px;
	border-right: 1px solid #cbd5e0;
	background-color: #fff;
	z-index: 1;
}

.inner-main {
	right: 0;
	left: 0px;
}

.inner-main-footer, .inner-main-header, .inner-sidebar-footer,
	.inner-sidebar-header {
	height: 3.5rem;
	border-bottom: 1px solid #cbd5e0;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	flex-shrink: 0;
}

.inner-main-body, .inner-sidebar-body {
	padding:0;
	overflow-y: auto;
	position: relative;
	flex: 1 1 auto;
}

.inner-main-body .sticky-top, .inner-sidebar-body .sticky-top {
	z-index: 999;
}

.inner-main-footer, .inner-main-header {
	background-color: #fff;
}

.inner-main-footer, .inner-sidebar-footer {
	border-top: 1px solid #cbd5e0;
	border-bottom: 0;
	height: auto;
	min-height: 3.5rem;
}

@media ( max-width : 767.98px) {
	.buttonsec
	{
		width: 100%;
		margin:11px 0px;
	}
	.inner-sidebar {
		left: -235px;
	}
	.inner-main {
		left: 0;
	}
	.inner-expand .main-body {
		overflow: hidden;
	}
	.inner-expand .inner-wrapper {
		transform: translate3d(235px, 0, 0);
	}
}

.nav .show>.nav-link.nav-link-faded, .nav-link.nav-link-faded.active,
	.nav-link.nav-link-faded:active, .nav-pills .nav-link.nav-link-faded.active,
	.navbar-nav .show>.nav-link.nav-link-faded {
	color: #3367b5;
	background-color: #c9d8f0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #467bcb;
}

.nav-link.has-icon {
	display: flex;
	align-items: center;
}

.nav-link.active {
	color: #467bcb;
}

.nav-pills .nav-link {
	border-radius: .25rem;
}

.nav-link {
	color: #4a5568;
}
/* 
.card {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0
		rgba(0, 0, 0, .06);
} */

/* .card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
} */

.card-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 0.5rem;
}

/* .picker_calendar {
	cursor: pointer;
	position: absolute;
	top: 96px;
	left: 749px;
} */

.picker_calendar8 {
	cursor: pointer;
	position: absolute;
	top: 56px;
	left: 724px;
}

.picker_calendar1 {
	cursor: pointer;
	position: absolute;
	bottom: 60px;
	left: 250px;
}

.picker_calendar2 {
	cursor: pointer;
	position: absolute;
	bottom: 60px;
	left: 450px;
}

.picker_calendar5 {
	cursor: pointer;
	position: absolute;
	bottom: 362px;
	left: 478px;
}

.picker_calendar6 {
	cursor: pointer;
	position: absolute;
	bottom: 361px;
	left: 728px;
}

.mr-5 {
	margin-bottom: 5px;
}

.chk {
	margin-right: 6px !important;
	position: relative;
}

.chk input[type=checkbox] {
	position: relative;
}

.chk input[type=checkbox]:before {
	content: "";
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #f6f8f8;
	margin-top: -15px;
}

.fa-icon {
	font-size: 13px !important;
}

.new_img {
	margin-right: 6px;
}

.new_img img {
	width: 70px;
	height: 70px;
}

/* .img-hover {
	opacity: 0;
	transition: all 0.1s;
} */

.img-hover:hover {
	opacity: 1;
}

.btn-1 {
	border: none;
	border-radius: 4px;
	font-size: 10px;
	background-color: #5784c4;
	color: #fff !important;
	margin-left: 5px;
	margin-bottom: 8px;
	width: 70px;
	height: 28px;
	line-height: 12px;
	float: left;
	text-transform: uppercase;
	cursor: pointer;
}

.btn-3 {
	border: none;
	border-radius: 4px;
	font-size: 10px;
	background-color: #ff8242;
	color: #fff !important;
	margin-left: 5px;
	margin-bottom: 8px;
	width: 70px;
	height: 28px;
	line-height: 12px;
	float: left;
	text-transform: uppercase;
	cursor: pointer;
	white-space: normal;
}

.btn-3:disabled {
	opacity: .08;
	cursor: not-allowed;
}

/* #pagination styles */
:root { --border-color: #ffffff; --border-radius: 4px;  }
#pagination { margin-top: 0.5rem; display: flex; align-items: center; justify-content: flex-end; flex-direction: row; width: 100%; }
#pagination ul li { color: #fff; display: inline-flex; flex-direction: row; align-items: center; }
#pagination ul li a { background-color: #bf05ff; padding: 5px 10px; border: 2px solid var(--border-color); border-right: 0; }
#pagination ul li.active a { background-color: #fff; color:#bf05ff; border: 1px solid #bf05ff; }
#pagination ul li.active { margin-left: 2px; }
#pagination ul li:not(.active) a:hover { background-color: #bf05ff; }
#pagination ul li:first-child a { border-radius: var(--border-radius) 0 0 var(--border-radius); }
#pagination ul li:last-child a { border-radius: 0 var(--border-radius) var(--border-radius) 0; }

/* Import export CSV styles */
.import-section{
	height : 300px;
	    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cntr{
	    display: flex;
    justify-content: center;
}
.file-txt{
	font-size:18px;
	margin-top:20px;
	text-align:center;
}
.bluetext{
	color:#3e0b84;
	font-size:13px;
	cursor : pointer;
}
@media (max-width:767px)
{
	/*.nav .nav-item {
		position: relative;
		width:auto;
		text-align: center;
	}*/
	/*.navbar-collapse
	{
		position: absolute;
		top: 30px;
		left: -90px;
		z-index: 999;
		border: 1px solid #ccc;
		width: 200px;
	}*/
	.flex-responsive
	{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		gap:5px 0px;
	}  
}

@media (max-width: 769px) {
	/*.d-flex button{
	    width: 28%;
	}*/
	
	.btn-small{
		width: 70%!important;
	}
}

#customLoad {
  position: absolute;
  top: 43%;
  left: 50%;
  /*transform: translate(-50%, -50%);*/
  z-index: 9999;
}
.loader-backdrop{
	background:rgba(0,0,0,0.3);
	height: 100vh;
	width: 100%;
	position: absolute;
    left: 0;
    top: 37px;
    z-index: 99;
}
.spinner-border.custom-color {
  color: #6A2BBF !important;
}
body.loader-visible {
  overflow: hidden;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* Style for disabled options */
    select option[disabled] {
        color: #999; /* Change color of disabled options */
    }
    
/*##################################################### */   
/* Project Popup */
.highcharts-exporting-group {
	display: none;
}

.autocomplete {
	position: relative;
	display: inline-block;
	width: 100%;
}

.btn-primarynew {
	color: #fff !important;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.innerstickybg {
	background: #f0f3f1;
	height: 60px;
	width: 100%;
	z-index: 8;
	padding: 10px 5px;
}

.slidebox {
	padding: 14px;
	margin-top: 0px;
	margin: 0px 10px;
}

.form-group label {
	/*font-size: 12px;*/
	position: relative;
	/*top: 4px;*/
}

.holdCls {
	background-color: rgb(0, 143, 0);
}

.bg_white {
	background: #ffffff !important;
}

.blueClsWT {
	background: #0076ba;
	color: #fff;
}

.blueCls {
	background: #0076ba;
	color: #fff;
}

.blueClsWT::before {
	font-size: 8px;
	color: #FFF;
	content: '\e64c';
	font-family: 'themify';
	padding-right: 7px;
}

.modal-body table td input[type=checkbox] {
	width: 0px;
	margin-right: 16px;
	position: relative;
	top: 0px;
	float: none;
}

.modal-content1 {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 120%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 0.3rem;
	outline: 0;
}

.firstnode {
	color: #929292;
	border-top: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important;
	width: 320px;
	font-size: 12px;
	font-weight: 100;
}

.simple-tree-table-closed .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
	transform: rotate(90deg);
}

.simple-tree-table-opened .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.simple-tree-table-icon {
	display: inline-block;
	width: 1.5em;
	line-height: 1.5em;
	margin: 0.1em;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
}

.form-group1 label {
	font-size: 18px;
	position: relative;
	top: 4px;
}

.tptCls {
	background: transparent;
}

.font-small {
	font-size: 13px;
}

.billtxt {
	color: #777 !important;
	font-size: 14px;
	margin-top: 10px;
	text-transform: uppercase;
	display: block;
}

/*.fa {
	display: inline-block;
	!* font: normal normal normal 14px/1 FontAwesome; *!
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}*/

.form-controls {
	/*font-family: 'Montserrat', sans-serif;*/
	display: block;
	width: 100%;
	font-size: 12px;
	color: #929292;
	background-color: transparent;
	background-clip: padding-box;
	border: 1px solid #d5d5d5;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	line-height: 30px;
	border-radius: 0;
	padding: 0;
}

.sugg-cls ul {
	height: max-content;
    overflow-x: scroll;
    position: relative;
    margin: 0;
}

.sugg-cls {
    position: absolute;
    width: 100%;
    /*top: 60px;*/
    z-index: 1;
}

ul#autocomplete-list1 {
	position: relative;
	z-index: 999;
}

ul#autocomplete-list1 li {
	position: relative;
	color: #9b9b9b;
	padding-left: 0;
	background-color: transparent;
	border-bottom: solid 1px rgb(227, 149, 255);
	padding-top: 5px;
	padding-bottom: 5px;
    margin-left: 0;
}

a.addCust {
	color: #fff;
}

.formValidation1 {
	font-size: 10px;
	font-weight: 100;
	color: #ff9e99;
	background-color: transparent;
	position: relative;
	top: -1px;
	padding: 3px 0;
}

.approve-btn1 {
	border: none;
	border-radius: 4px;
	font-size: 11px;
	background-color: #264c82;
	color: #fff;
	margin-left: 5px;
	text-transform: uppercase;
	width: 50px;
	height: 28px;
	line-height: 12px;
	float: right;
	cursor: pointer;
	white-space: normal;
}

/*element.style {
	width: 30%;
	position: absolute;
	right: -10px;
	overflow: hidden;
	height: auto;
	bottom: 150px;
}*/

.form-control_big {
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 100%;
	font-size: 20px;
	font-weight: 300;
	color: #000;
	background-color: transparent;
	background-clip: padding-box;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #d5d5d5;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	margin-top: 10px;
	margin-bottom: 1px;
	padding-bottom: 0;
}

a.addCustnew {
	color: #fff;
	font-size: 13px !important;
}

/* ul li{
	margin:0!important;
	padding:0!important;
}
ul li p{
	margin:0!important;
	padding:0!important;
} */
input[type=checkbox]:before {
	content: "";
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #f6f8f8;
	margin-top: -2px
}

input[type=checkbox]:checked:before {
	background-color: #008000 !important;
	height: 15px;
	width: 15px;
	background: url('../tick.jpg');
	font-size: 15px;
	background-repeat: no-repeat;
	background-size: cover;
}
.loader-modal {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position:absolute;
  top:50%;
  left:50%;
  z-index:9999;
  margin-top:-30px;
  margin-left:-30px;
  
}
.modal-body
{
position:relative;}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.crm-project{
    position: relative;
}
.sidenav {
    height: 100%; /* Full-height */
    width: 0; /* Initial width is 0 */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0; /* Stay at the top */
    right: 0; /* Stay at the right side */
    background-color: rgb(247 247 247); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* style overrides for search section */
.searchicon { float: unset; width: 100%; text-align: unset; }
.close_i { --x: 5px; color: #ccc; position: absolute; right: var(--x); float: unset; width: auto; top: var(--x); }
.custom-file-upload { line-height: 2.5; margin: 0 !important; }
.uploadicon { font-size: 1rem; }