<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}" lang="en">
<head>
<meta charset="UTF-8">
<script
	src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
	integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
	crossorigin="anonymous" async></script>
<link rel="stylesheet" href="/assets/css/pharmacy/dashboard.css">
<script src="/javaScript/pharmacy/dashboard.js"></script>

</head>
<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="hstack pharmacy-dashboard">
				<div class="box-sec">
					<div class="out-box">
						<div class="d-flex flex-column h-100 p-2 overflow-auto">
							<div class="row g-2" data-masonry='{"percentPosition": true }'>
								<div class="col-sm-6 col-lg-4">
									<div class="card shadow">
										<div class="card-body p-2">
											<ul class="nav nav-pills newtab dashboardTabs01"
												role="tablist">
												<li class="nav-item" id="liToday"><a
													class="nav-link text-nowrap active" data-bs-toggle="pill"
													href="#tabToday" onclick="activateTab('tabToday')">Today</a></li>
												<li class="nav-item" id="li7Days"><a
													class="nav-link text-nowrap" data-bs-toggle="pill"
													href="#tab7Days" onclick="activateTab('tab7Days')">7
														Days</a></li>
												<li class="nav-item" id="li30Days"><a
													class="nav-link text-nowrap" data-bs-toggle="pill"
													href="#tab30Days" onclick="activateTab('tab30Days')">30
														Days</a></li>
												<li class="nav-item" id="li60Days"><a
													class="nav-link text-nowrap" data-bs-toggle="pill"
													href="#tab60Days" onclick="activateTab('tab60Days')">60
														Days</a></li>
											</ul>
											<div class="tab-content p-2">
												<div id="tabToday" class="tab-pane fade show active h-100">
													<div class="vstack gap-2">
														<div class="row row-cols-2 g-2">
															<div class="col">
																<div class="vstack gap-2">
																	<h5>Sales</h5>
																	<h4 class="text-primary-color-500">&#8377;90</h4>
																	<p>1 Order</p>
																</div>
															</div>
															<div class="col">
																<div class="vstack gap-2">
																	<h5>Purchase</h5>
																	<h4 class="text-primary-color-700">&#8377;0</h4>
																	<p>0 Orders</p>
																</div>
															</div>
														</div>
														<figure class="highcharts-figure">
															<div id="barChartToday"></div>
														</figure>
													</div>
												</div>
												<div id="tab7Days" class="tab-pane fade h-100">
													<div class="vstack gap-2">
														<div class="row row-cols-2 g-2">
															<div class="col">
																<div class="vstack gap-2">
																	<h5>Sales</h5>
																	<h4 class="text-primary-color-500">&#8377;90</h4>
																	<p>1 Order</p>
																</div>
															</div>
															<div class="col">
																<div class="vstack gap-2">
																	<h5>Purchase</h5>
																	<h4 class="text-primary-color-700">&#8377;0</h4>
																	<p>0 Orders</p>
																</div>
															</div>
														</div>
														<figure class="highcharts-figure">
															<div id="barChart7days"></div>
														</figure>
													</div>
												</div>
												<div id="tab30Days" class="tab-pane fade h-100">
													<div class="vstack gap-2">
														<div class="row row-cols-2 g-2">
															<div class="col">
																<div class="vstack gap-2">
																	<h5>Sales</h5>
																	<h4 class="text-primary-color-500">&#8377;90</h4>
																	<p>1 Order</p>
																</div>
															</div>
															<div class="col">
																<div class="vstack gap-2">
																	<h5>Purchase</h5>
																	<h4 class="text-primary-color-700">&#8377;0</h4>
																	<p>0 Orders</p>
																</div>
															</div>
														</div>
														<figure class="highcharts-figure">
															<div id="barChart30days"></div>
														</figure>
													</div>
												</div>
												<div id="tab60Days" class="tab-pane fade h-100">
													<div class="vstack gap-2">
														<div class="row row-cols-2 g-2">
															<div class="col">
																<div class="vstack gap-2">
																	<h5>Sales</h5>
																	<h4 class="text-primary-color-500">&#8377;90</h4>
																	<p>1 Order</p>
																</div>
															</div>
															<div class="col">
																<div class="vstack gap-2">
																	<h5>Purchase</h5>
																	<h4 class="text-primary-color-700">&#8377;0</h4>
																	<p>0 Orders</p>
																</div>
															</div>
														</div>
														<figure class="highcharts-figure">
															<div id="barChart60days"></div>
														</figure>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-4">
									<div class="card shadow">
										<div class="card-body p-2">
											<div class="vstack gap-2">
												<div class="row row-cols-2 g-2">
													<div class="col">
														<div class="hstack gap-2">
															<h5>Upcoming PDC</h5>
															<i class="fa-solid fa-circle-exclamation"></i>
														</div>
													</div>
													<div class="col text-end">
														<h4>&#8377;0</h4>
													</div>
												</div>
												<div id="gridPDC" class="ag-theme-alpine"
													style="height: 300px;"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-4">
									<div class="card shadow">
										<div class="card-body p-2">
											<div class="table-responsive stock-table">
												<table class="table table-borderless m-0">
													<thead>
														<tr>
															<th class="text-dark"><div class="hstack gap-2">
																	Stock<i class="fa-solid fa-circle-exclamation"></i>
																</div></th>
															<th class="text-end text-primary-color-500">By PTR</th>
															<th class="text-end text-primary-color-500"><div
																	class="hstack gap-2 justify-content-end">
																	By LP<i class="fa-solid fa-circle-exclamation"></i>
																</div></th>
															<th class="text-end text-primary-color-500">By MRP</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="text-primary-color-500">Current</td>
															<td class="text-end">&#8377;2,25,907</td>
															<td class="text-end">&#8377;2,32,948</td>
															<td class="text-end">&#8377;3,50,989</td>
														</tr>
														<tr>
															<td class="text-primary-color-500">Expired</td>
															<td class="text-end">&#8377;4,272</td>
															<td class="text-end">&#8377;4,545</td>
															<td class="text-end">&#8377;6,586</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-4">
									<div class="card shadow">
										<div class="card-body p-2" style="height: 400px;">
											<ul class="nav nav-pills newtab dashboardTabs02"
												role="tablist">
												<li class="nav-item" id="liExpiring"><a
													class="nav-link text-nowrap active" data-bs-toggle="pill"
													href="#tabExpiring" role="tab"> <span
														class="hstack gap-2">Expiring Items <i
															class="fa-solid fa-circle-exclamation"></i></span>
												</a></li>
												<li class="nav-item" id="liExpired"><a
													class="nav-link text-nowrap" data-bs-toggle="pill"
													href="#tabExpired" role="tab"> <span
														class="hstack gap-2">Expired Items <i
															class="fa-solid fa-circle-exclamation"></i></span>
												</a></li>
											</ul>

											<div class="tab-content p-2">
												<!-- Expiring Tab -->
												<div id="tabExpiring"
													class="tab-pane fade show active h-100" role="tabpanel">
													<div class="stock-table">
														<table class="table table-bordered m-0 table-responsive">
															<thead>
																<tr>
																	<th>Item Name</th>
																	<th class="text-end">Expiring Qty</th>
																	<th class="text-end">Expiry</th>
																</tr>
															</thead>
															
															<tbody id="expiredDatList">
																
															</tbody>
														</table>
													</div>
													<!-- 	<a href="#"
														class="text-decoration-none text-primary-color-500 fs--13">
														<div class="hstack justify-content-end gap-2">
															View All <i class="fa-solid fa-chevron-right"></i>
														</div>
													</a> -->
												</div>

												<!-- Expired Tab -->
												<div id="tabExpired" class="tab-pane fade h-100"
													role="tabpanel">
													<div class=" stock-table">
														<table class="table table-bordered m-0 table-responsive">
															<thead>
																<tr>
																	<th>Item Name</th>
																	<th class="text-end">Expired Qty</th>
																	<th class="text-end">Expiry</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>
																		<div class="vstack gap-1">
																			<p class="text-primary-color-500 mb-0">Ranitin
																				300 Tablet (20)</p>
																			<span class="text-muted opacity-50">TORRE | 20
																				Tablet</span>
																		</div>
																	</td>
																	<td class="text-end">40</td>
																	<td class="text-end text-danger">02/25</td>
																</tr>
																<tr>
																	<td>
																		<div class="vstack gap-1">
																			<p class="text-primary-color-500 mb-0">Riboflavine
																				Tablet (10)</p>
																			<span class="text-muted opacity-50">SHREY | 10
																				Tablet</span>
																		</div>
																	</td>
																	<td class="text-end">40</td>
																	<td class="text-end text-danger">02/25</td>
																</tr>
																<tr>
																	<td>
																		<div class="vstack gap-1">
																			<p class="text-primary-color-500 mb-0">Becosules
																				Capsule (20)</p>
																			<span class="text-muted opacity-50">PFIZE | 20
																				Capsules</span>
																		</div>
																	</td>
																	<td class="text-end">30</td>
																	<td class="text-end text-danger">04/25</td>
																</tr>
																<tr>
																	<td>
																		<div class="vstack gap-1">
																			<p class="text-primary-color-500 mb-0">Teimikind
																				20 Tablet (10)</p>
																			<span class="text-muted opacity-50">MANKI | 10
																				Tablet</span>
																		</div>
																	</td>
																	<td class="text-end">30</td>
																	<td class="text-end text-danger">03/25</td>
																</tr>
																<tr>
																	<td>
																		<div class="vstack gap-1">
																			<p class="text-primary-color-500 mb-0">Teimikind
																				80 Tablet (10)</p>
																			<span class="text-muted opacity-50">MANKI | 10
																				Tablet</span>
																		</div>
																	</td>
																	<td class="text-end">20</td>
																	<td class="text-end text-danger">03/25</td>
																</tr>
															</tbody>
														</table>
													</div>
													<!-- <a href="#"
														class="text-decoration-none text-primary-color-500 fs--13">
														<div class="hstack justify-content-end gap-2">
															View All <i class="fa-solid fa-chevron-right"></i>
														</div>
													</a> -->
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-lg-4">
									<div class="card shadow">
										<div class="card-body p-2">
											<div class="vstack gap-2">
												<div class="hstack gap-2">
													<h5>Sales Margin</h5>
													<i class="fa-solid fa-circle-exclamation"></i>
												</div>
												<div class="table-responsive stock-table">
													<table class="table table-bordered m-0"
														style="height: 300px;">
														<thead>
															<tr>
																<th>Item Name</th>
																<th>Pack</th>
																<th class="text-end">Stock</th>
																<th class="text-end">Margin</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td class="text-primary-color-500">Cyra D Capsule</td>
																<td>10 Capsule</td>
																<td class="text-end">114</td>
																<td class="text-end">4.32%</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-4">
									<div class="card shadow">
										<div class="card-body p-2">
											<div class="hstack justify-content-between">
												<h5>Staff Overview</h5>
												<select class="form-select w-25"
													aria-label="Staff Overview Select">
													<option selected>Yesterday</option>
													<option value="1">One</option>
													<option value="2">Two</option>
													<option value="3">Three</option>
												</select>
											</div>
											<ul class="nav nav-pills newtab dashboardTabs03"
												role="tablist">
												<li class="nav-item" id="liSales"><a
													class="nav-link text-nowrap active" data-bs-toggle="pill"
													href="#tabSales">Sales</a></li>
												<li class="nav-item" id="liPurchase"><a
													class="nav-link text-nowrap" data-bs-toggle="pill"
													href="#tabPurchase">Purchase</a></li>
											</ul>
											<div class="tab-content p-2">
												<div id="tabSales" class="tab-pane fade show active h-100">
													<div
														class="vstack gap-2 opacity-50 align-items-center justify-content-center"
														style="height: 300px;">
														<i
															class="fa-solid fa-file-invoice text-primary-color-500 fs-5"></i>
														<h5>No Sales</h5>
													</div>
												</div>
												<div id="tabPurchase" class="tab-pane fade h-100">
													<div
														class="vstack gap-2 opacity-50 align-items-center justify-content-center"
														style="height: 300px;">
														<i
															class="fa-solid fa-file-invoice text-primary-color-500 fs-5"></i>
														<h5>No Purchase</h5>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-4">
									<div class="card shadow">
										<div class="card-body p-2" style="height: 400px;">
											<div class="row row-cols-1 g-2">
												<div class="col">
													<div class="row row-cols-2 g-2 align-items-center">
														<div class="col">
															<div class="hstack gap-2">
																<h5>Need to Pay</h5>
																<i class="fa-solid fa-circle-exclamation"></i>
															</div>
														</div>
														<div class="col">
															<h4
																class="hstack gap-2 justify-content-end align-items-baseline text-danger">
																<i class="fa-solid fa-arrow-up fs-6"></i><span>-<i
																	class="fa-solid fa-indian-rupee-sign fs-5 me-1"></i>3,24,761
																</span>
															</h4>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="stock-table">
														<table class="table table-bordered m-0 table-responsive">
															<thead>
																<tr>
																	<th>Distributor</th>
																	<th class="text-end">Amount</th>
																</tr>
															</thead>
															<tbody id="paymentDatList">
																<!-- 
																<tr>
																	<td>
																		<div class="vstack gap-1">
																			<p>Radhakrishna Agencies</p>
																			<span class="text-muted">21ADAPP64LG1ZW</span>
																		</div>
																	</td>
																	<td class="text-end text-danger align-content-center">-&#8377;1,38,519</td>
																</tr>
																<tr>
																	<td>
																		<div class="vstack gap-1">
																			<p>Brundaban Medlife</p>
																			<span class="text-muted">21ETQPMC599M3ZX</span>
																		</div>
																	</td>
																	<td class="text-end text-danger align-content-center">-&#8377;65,529</td>
																</tr>
																<tr>
																	<td>
																		<div class="vstack gap-1">
																			<p>Kyal Agencies Private Limited</p>
																			<span class="text-muted">21AAFCK2B29R1Z7</span>
																		</div>
																	</td>
																	<td class="text-end text-danger align-content-center">-&#8377;31,643</td>
																</tr>
																<tr>
																	<td>
																		<div class="vstack gap-1">
																			<p>Maa Associates</p>
																			<span class="text-muted">21AESPM4299M1ZR</span>
																		</div>
																	</td>
																	<td class="text-end text-danger align-content-center">-&#8377;24,823</td>
																</tr>
																<tr>
																	<td>
																		<div class="vstack gap-1">
																			<p>Subham Agency</p>
																			<span class="text-muted">21CIXPR128OG1ZO</span>
																		</div>
																	</td>
																	<td class="text-end text-danger align-content-center">-&#8377;21,962</td>
																</tr> -->
															</tbody>
														</table>
													</div>
												</div>
												<div class="col">
													<a href=""
														class="text-decoration-none text-primary-color-500 fs--13"><div
															class="hstack justify-content-end gap-2">
															View All <i class="fa-solid fa-chevron-right"></i>
														</div></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-4 pb-2">
									<div class="card shadow">
										<div class="card-body p-2">
											<div class="row row-cols-1 g-2">
												<div class="col">
													<div class="row row-cols-2 g-2 align-items-center">
														<div class="col">
															<div class="hstack gap-2">
																<h5>Need to Collect</h5>
																<i class="fa-solid fa-circle-exclamation"></i>
															</div>
														</div>
														<div class="col">
															<h4
																class="hstack gap-2 justify-content-end align-items-baseline text-primary-color-500">
																<i class="fa-solid fa-arrow-down fs-6"></i><span>-<i
																	class="fa-solid fa-indian-rupee-sign fs-5 me-1"></i>90,154
																</span>
															</h4>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="table-responsive stock-table">
														<table class="table table-bordered m-0">
															<thead>
																<tr>
																	<th>Customer</th>
																	<th class="text-end">Amount Due</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>
																		<div class="hstack gap-1">
																			<div
																				class="badge rounded-circle bg-danger text-white fs-5 lh-sm">S</div>
																			<div class="vstack gap-1">
																				<p>Suresh Mohapatra</p>
																				<span class="text-muted">8376333535</span>
																			</div>
																		</div>
																	</td>
																	<td
																		class="text-end text-primary-color-500 align-content-center">-&#8377;75,150</td>
																</tr>
																<tr>
																	<td>
																		<div class="hstack gap-1">
																			<div
																				class="badge rounded-circle bg-primary text-white fs-5 lh-sm">B</div>
																			<div class="vstack gap-1">
																				<p>Biswajit Mangaraj</p>
																				<span class="text-muted">9348910702</span>
																			</div>
																		</div>
																	</td>
																	<td
																		class="text-end text-primary-color-500 align-content-center">-&#8377;7,959</td>
																</tr>
																<tr>
																	<td>
																		<div class="hstack gap-1">
																			<div
																				class="badge rounded-circle bg-danger text-white fs-5 lh-sm">S</div>
																			<div class="vstack gap-1">
																				<p>Sarada Prasad Mishra</p>
																				<span class="text-muted">7978402369</span>
																			</div>
																		</div>
																	</td>
																	<td
																		class="text-end text-primary-color-500 align-content-center">-&#8377;4,810</td>
																</tr>
																<tr>
																	<td>
																		<div class="hstack gap-1">
																			<div
																				class="badge rounded-circle bg-warning text-white fs-5 lh-sm">R</div>
																			<div class="vstack gap-1">
																				<p>Rabindra Swain</p>
																				<span class="text-muted">9938412893</span>
																			</div>
																		</div>
																	</td>
																	<td
																		class="text-end text-primary-color-500 align-content-center">-&#8377;1,010</td>
																</tr>
																<tr>
																	<td>
																		<div class="hstack gap-1">
																			<div
																				class="badge rounded-circle bg-danger text-white fs-5 lh-sm">D</div>
																			<div class="vstack gap-1">
																				<p>Debabrata Swain</p>
																				<span class="text-muted">8700375825</span>
																			</div>
																		</div>
																	</td>
																	<td
																		class="text-end text-primary-color-500 align-content-center">-&#8377;450</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
												<div class="col">
													<a href=""
														class="text-decoration-none text-primary-color-500 fs--13"><div
															class="hstack justify-content-end gap-2">
															View All <i class="fa-solid fa-chevron-right"></i>
														</div></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>