/* Set height of body and the document to 100% to enable "full page tabs" */

body, html {
  height: 100%;
  margin: 0;
  font-family:var(mainFornt);
}
.nav-link{
	/* background: linear-gradient(0deg, rgb(42 22 57) 0%, rgb(88 0 152) 100%) !important; */
	  color: #121212 !important;
    border-bottom: 1px solid white;
    background-color: #9ec5ff !important;
}
.nav-pills
{
	display: flex;
	justify-content: space-between;
}


/* Review Tab Css*/
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: #333;
    padding: 20px 20px;
    height: 100%;
}


/* .table-head {
    background: linear-gradient(0deg, rgb(42 22 57) 0%, rgb(88 0 152) 100%)!important;
    color: #FFF;
    padding:5px 10px;
} */

.table-head {
	font-family: 'Montserrat';
    font-size: smaller;
}

.table-box
{
	display:flex;
	gap:10px;
}
.table_text
{
	border:2px solid rgb(42 22 57);
	font-family: 'Montserrat';
    font-size: smaller;
}
.table_text td
{
	padding:3px;
}


.padding-5{
	padding: 5px 5px 5px 5px;
}
.nav-link:hover{
    color: #FFF!important;
    background-color: #3467af !important;
}

.active{
      color: #FFF!important;
    background-color: #3467af !important;
}
.export-btn{
	 color: #FFF!important;
    background-color: #3467af !important;
	
}

.tab-pane.active {
	background: unset !important;
    color: unset;
}