<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<script>

			function openNav1() {

				
				$('#bedcat').val("");
				$('#name4').val("");
				$('#description4').val("");
				$('#status4').val("");

				document.getElementById("mySidenav1").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto; top:90px;";

				document.getElementById("main_content").style.width = "75%";
				}

				function closeNav1() {
				document.getElementById("mySidenav1").style.width = "0";
				document.getElementById("main_content").style.width = "100%";
				}
					
					function openNav2() {
						$("#disdes").val("");
						$("#desname").val("");
						$("#desdescription").val("");
						$("#desstatus").val("");
						
						document.getElementById("mySidenav3").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto; top:350px;";
						document.getElementById("main_content").style.width = "75%";
						
					}

					function closeNav2() {

						document.getElementById("mySidenav3").style.width = "0";
						document.getElementById("main_content").style.width = "100%";
					}
			
					
					
					function openNav3() {

						$('#distype').val("");
						$('#disname').val("");
						$('#disdescription').val("");
						$('#disstatus').val("");


						document.getElementById("mySidenav2").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto; top:90px;";

						document.getElementById("main_content").style.width = "75%";
						}					
					
						function closeNav3() {
						document.getElementById("mySidenav2").style.width = "0";
						document.getElementById("main_content").style.width = "100%";
						}

						
						
						 	function openNav4() {

								$('#concat').val("");
								$('#conname').val("");
								$('#condescription').val("");
								$('#conStatus').val("");
								


								document.getElementById("mySidenav4").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto; top:355px;";

								document.getElementById("main_content").style.width = "75%";
								}

								function closeNav4() {
								document.getElementById("mySidenav4").style.width = "0";
								document.getElementById("main_content").style.width = "100%";
								}
								
								
								function openNav5() {

									$('#testType').val("");
									$('#pathName').val("");
									$('#pathDes').val("");
									$('#pathStatus').val("");


									document.getElementById("mySidenav5").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto; top:660px;";

									document.getElementById("main_content").style.width = "75%";
									}

									function closeNav5() {
									document.getElementById("mySidenav5").style.width = "0";
									document.getElementById("main_content").style.width = "100%";
									}
									
									
								function openNav6() {

										$('#group').val("");
										$('#groupName').val("");
										$('#groupDes').val("");
										$('#groupStatus').val("");


										document.getElementById("mySidenav6").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto; top:660px;";

										document.getElementById("main_content").style.width = "75%";
										}

										function closeNav6() {
										document.getElementById("mySidenav6").style.width = "0";
										document.getElementById("main_content").style.width = "100%";
										}
										
										
										function openNav7() {

											$('#subGroup').val("");
											$('#groupId').val("");
											$('#subName').val("");
											$('#subDes').val("");
											$('#subStatus').val("");


											document.getElementById("mySidenav7").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto; top:996px;";

											document.getElementById("main_content").style.width = "75%";
											}

											function closeNav7() {
											document.getElementById("mySidenav7").style.width = "0";
											document.getElementById("main_content").style.width = "100%";
											}
											
											
											function openNav8() {
												$("#deletePTT").css("opacity", 0);

												$('#surgeryId').val("");
												$('#surgeryName').val("");
												$('#surgeryDes').val("");
												$('#surgeryStatus').val(""); 


												document.getElementById("mySidenav8").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto; top:970px;";

												document.getElementById("main_content").style.width = "75%";
											}

											function closeNav8() {
												document.getElementById("mySidenav8").style.width = "0";
												document.getElementById("main_content").style.width = "100%";
											}
					 	
	
</script>



<script type="text/javascript">
$(document).ready(function() {
	
	agGrid.simpleHttpRequest({
		url : 'configuration-bed-master-view'
		}).then(function(data) {
		
		gridOptions1.api.setRowData(data);
		});
	
	
	agGrid.simpleHttpRequest({
		url : 'configuration-discharge-master-view'
	}).then(function(data) {

	gridOptions3.api.setRowData(data);
	});	
	
	
	 agGrid.simpleHttpRequest({
			url : 'configuration-destination-master-view'
			}).then(function(data) {
				
			gridOptions2.api.setRowData(data);
			});
	
	 
		agGrid.simpleHttpRequest({
				url : 'configuration-concession-master-view'
				}).then(function(data) {
			
				gridOptions4.api.setRowData(data);
				});
		
		agGrid.simpleHttpRequest({
				url : 'configuration-pathology-master-view'
				}).then(function(data) {
			
				gridOptions5.api.setRowData(data);
				});
		
		agGrid.simpleHttpRequest({
				url : 'configuration-group-master-view'
				}).then(function(data) {
				
				gridOptions6.api.setRowData(data);
				});
		
		agGrid.simpleHttpRequest({
				url : 'configuration-sub-master-view'
				}).then(function(data) {
		
				gridOptions7.api.setRowData(data);
				});
		
		
		agGrid.simpleHttpRequest({
			url: 'configuration-surgery-master-view'
		}).then(function (data) {

			gridOptions8.api.setRowData(data);
		});
	 
	 
	 
	
	var gridDiv1 = document.querySelector('#myGrid1');
	new agGrid.Grid(gridDiv1, gridOptions1);
	
	var gridDiv2 = document.querySelector('#myGrid2');
	new agGrid.Grid(gridDiv2, gridOptions2);
	
	var gridDiv3 = document.querySelector('#myGrid3');
	new agGrid.Grid(gridDiv3, gridOptions3);

	var gridDiv4 = document.querySelector('#myGrid4');
	new agGrid.Grid(gridDiv4, gridOptions4);
	
	var gridDiv5 = document.querySelector('#myGrid5');
	new agGrid.Grid(gridDiv5, gridOptions5);
	
	var gridDiv6 = document.querySelector('#myGrid6');
	new agGrid.Grid(gridDiv6, gridOptions6);
	
	var gridDiv7 = document.querySelector('#myGrid7');
	new agGrid.Grid(gridDiv7, gridOptions7);
	 
	
	var gridDiv8 = document.querySelector('#myGrid8');
	new agGrid.Grid(gridDiv8, gridOptions8);
 
	
 	$('.collapse').on('show.bs.collapse', function() {
		$(this).siblings('.panel-heading').addClass('active');
	});

	$('.collapse').on('hide.bs.collapse', function() {
		$(this).siblings('.panel-heading').removeClass('active');
	}); 

	
 	/* selectbox */
	 var x, i, j, l, ll, selElmnt, a, b, c;
	/*look for any elements with the class "custom-select":*/
	x = document.getElementsByClassName("selectbox");
	l = x.length;
	for (i = 0; i < l; i++) {
		selElmnt = x[i].getElementsByTagName("select")[0];
		ll = selElmnt.length;
		/*for each element, create a new DIV that will act as the selected item:*/
		a = document.createElement("DIV");
		a.setAttribute("class", "select-selected");
		a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
		x[i].appendChild(a);
		/*for each element, create a new DIV that will contain the option list:*/
		b = document.createElement("DIV");
		b.setAttribute("class", "select-items select-hide");
		for (j = 1; j < ll; j++) {
			/*for each option in the original select element,
			create a new DIV that will act as an option item:*/
			c = document.createElement("DIV");
			c.innerHTML = selElmnt.options[j].innerHTML;
			c
					.addEventListener(
							"click",
							function(e) {
								var y, i, k, s, h, sl, yl;
								s = this.parentNode.parentNode
										.getElementsByTagName("select")[0];
								sl = s.length;
								h = this.parentNode.previousSibling;
								for (i = 0; i < sl; i++) {
									if (s.options[i].innerHTML == this.innerHTML) {
										s.selectedIndex = i;
										h.innerHTML = this.innerHTML;
										y = this.parentNode
												.getElementsByClassName("same-as-selected");
										yl = y.length;
										for (k = 0; k < yl; k++) {
											y[k].removeAttribute("class");
										}
										this.setAttribute("class",
												"same-as-selected");
										break;
									}
								}
								h.click();
							});
			b.appendChild(c);
		} 
		x[i].appendChild(b);
		a.addEventListener("click", function(e) {
			e.stopPropagation();
			closeAllSelect(this);
			this.nextSibling.classList.toggle("select-hide");
			this.classList.toggle("select-arrow-active");
		});
	} 
	function closeAllSelect(elmnt) {
		
		var x, y, i, xl, yl, arrNo = [];
		x = document.getElementsByClassName("select-items");
		y = document.getElementsByClassName("select-selected");
		xl = x.length;
		yl = y.length;
		for (i = 0; i < yl; i++) {
			if (elmnt == y[i]) {
				arrNo.push(i)
			} else {
				y[i].classList.remove("select-arrow-active");
			}
		}
		for (i = 0; i < xl; i++) {
			if (arrNo.indexOf(i)) {
				x[i].classList.add("select-hide");
			}
		}
	}
});


</script>


<script type="text/javascript">


//Bed Category add


var data3 = {};
function saveBedCategory() {
	closeNav1();
	data3.bedcat = $("#bedcat").val(); 
	data3.name4 = $("#name4").val();
	data3.description4 = $("#description4").val();
	data3.status4 = $("#status4").val();
	
	console.log("Data nnklm",data3)

	$.ajax({
		type: "POST",
		url: "configuration-bed-master-add",
		dataType: "json",
		contentType: "application/json",
		data: JSON.stringify(data3),
		success: function (response) {
			if (response.message == "Success") {
				agGrid.simpleHttpRequest({
					url : 'configuration-bed-master-view'
					}).then(function(data) {
					if(!data3){
					data.push(data3);
					}
					gridOptions1.api.setRowData(data);
					});

			
					}
					},
				error : function(response) {
				console.log(response);
				}
				})
				}
				
				
//Bed Category delete			
				
function deleteBedCategory(){
	closeNav1();
	var bedcat = $('#bedcat').val();

	$.ajax({
		type : "GET",
		url : "configuration-bed-master-delete?bedcat=" + bedcat,
		dataType : "json",
		contentType : "application/json",
		success : function(response) {
			if (response.message == "Success") {
				agGrid.simpleHttpRequest({
				url : 'configuration-bed-master-view'
				}).then(function(data) {
				gridOptions1.api.setRowData(data);
			});
		}
	},
	error : function(response) {
	console.log(response);
	}
	})
	}
				




var columnDefs3 = [

	{
			headerName : "Id",
			field : "bedcat",
			width: 100,
			}, {
		headerName : "Name",
		field : "name4",
		width: 220,
		
		},{
		headerName : "Description",
		field : "description4",
		width: 220,
		
		},  {
			headerName : "Status",
			field : "status4",
			width: 100,
		
		}
		/* ,{
			headerName : "Orgination",
			field : "org4",
			width: 100,
			
			},{
				headerName : "Division",
				field : "div4",
				width: 100,
				
				} */
			];

var gridOptions1 = {
	columnDefs: columnDefs3,
	defaultColDef: {
		sortable: true,
		filter: true,
		resizable: true,
		width: 210,
		height: 10
	},
	rowSelection: 'single',
	rowMultiSelectWithClick: true,
	onSelectionChanged: onSelectionOrgType

};



function onSelectionOrgType()
{
	closeNav1();
	closeNav2();
	closeNav3();
	openNav1();
	
var selectedNodes= gridOptions1.api.getSelectedNodes();

var selectedData= selectedNodes.map(node => node.data);

$('#bedcat').val(selectedData.map(node => node.bedcat));

$('#name4').val(selectedData.map(node => node.name4));
$('#description4').val(selectedData.map(node => node.description4));

if (selectedData.map(node => node.status4) == "Active") {
	$('#status4').val("1");
} else {
	$('#status4').val("0");
} 

$('#org4').val(selectedData.map(node => node.org4));
$('#div4').val(selectedData.map(node => node.div4));


}



//Discharge Type

var columnDefs5 = [

	{
		headerName : "Id",
		field : "distype",
		width: 100,
		}, {
	headerName : "Name",
	field : "disname",
	width: 220,
	
	},{
	headerName : "Description",
	field : "disdescription",
	width: 220,
	
	},  {
		headerName : "Status",
		field : "disstatus",
		width: 100,
		
	} 
	/* ,{
		headerName : "Orgination",
		field : "org2",
		width: 100,
		
		},{
			headerName : "Division",
			field : "div2",
			width: 100,
			
			} */];

var gridOptions3 = {
	columnDefs: columnDefs5,
	defaultColDef: {
		sortable: true,
		filter: true,
		resizable: true,
		width: 160,
		height: 10
	},
	rowSelection: 'single',
	rowMultiSelectWithClick: true,
	onSelectionChanged: onSelectionDischarge

};

function onSelectionDischarge()
{
	closeNav1();
	closeNav2();
	closeNav3();
	closeNav4();
    openNav3();
    var selectedNodes= gridOptions3.api.getSelectedNodes();

    var selectedData= selectedNodes.map(node => node.data);

    $("#distype").val(selectedData.map(node => node.distype));
  

    $('#disname').val(selectedData.map(node => node.disname));
    $('#disdescription').val(selectedData.map(node => node.disdescription));
    if (selectedData.map(node => node.disstatus) == "Active") {
    	$('#disstatus').val("1");
    } else {
    	$('#disstatus').val("0");
    } 

    $('#org2').val(selectedData.map(node => node.org2));
    $('#div2').val(selectedData.map(node => node.div2));


    }



//Discharge Type add

var data5 = {};
function saveDischargeType() {
	closeNav3();
	data5.distype = $("#distype").val(); 
	data5.disname = $("#disname").val();
	data5.disdescription = $("#disdescription").val();
	data5.disstatus = $("#disstatus").val();
	
	console.log("Data",data5)
	


	$.ajax({
		type: "POST",
		url: "configuration-discharge-master-add",
		dataType: "json",
		contentType: "application/json",
		data: JSON.stringify(data5),
		success: function (response) {
			if (response.message == "Success") {
				agGrid.simpleHttpRequest({
					url : 'configuration-discharge-master-view'
					}).then(function(data) {
					if(!data5){
					data.push(data5);
					}
					gridOptions3.api.setRowData(data);
					});
					}
					},
				error : function(response) {
				console.log(response);
				}
				})
				}
				
//Discharge Type delete		
	
	
function deleteDischargeType(){
	closeNav3();
	var distype = $('#distype').val();
	//alert(distype)

	$.ajax({
		type : "GET",
		url : "configuration-discharge-master-delete?distype=" + distype,
		dataType : "json",
		contentType : "application/json",
		success : function(response) {
			if (response.message == "Success") {
				agGrid.simpleHttpRequest({
				url : 'configuration-discharge-master-view'
				}).then(function(data) {
				gridOptions3.api.setRowData(data);
			});
				
				
		}
	},
	error : function(response) {
	console.log(response);
	}
	})
	}
	
	
	
	

//Discharge Destination


var columnDefs4 = [
	{
		headerName : "Id",
		field : "disDes",
		width: 100,
		}, {
	headerName : "Name",
	field : "desName",
	width: 220,
	
	},{
	headerName : "Description",
	field : "desDescription",
	width: 220,
	
	},  {
		headerName : "Status",
		field : "desSatus",
		width: 100,
	
	} /* ,{
		headerName : "Orgination",
		field : "org3",
		width: 100,
		
		},{
			headerName : "Division",
			field : "div3",
			width: 100,
			
			} */];

var gridOptions2 = {
	columnDefs: columnDefs4,
	defaultColDef: {
		sortable: true,
		filter: true,
		resizable: true,
		width: 135,
		height: 79
	},
	rowSelection: 'single',
	rowMultiSelectWithClick: true,
	onSelectionChanged: onSelectionDestination

};
function onSelectionDestination()
{
	
	closeNav1();
	closeNav2();
	closeNav3();


openNav2();


var selectedNodes= gridOptions2.api.getSelectedNodes();
var selectedData= selectedNodes.map(node => node.data);
$('#disdes').val(selectedData.map(node => node.disDes));
$('#desname').val(selectedData.map(node => node.desName));
$('#desdescription').val(selectedData.map(node => node.desDescription));
if (selectedData.map(node => node.desSatus) == "Active") {
	$('#desstatus').val("1");
} else {
	$('#desstatus').val("0");
} 
$('#org3').val(selectedData.map(node => node.org3));
$('#div3').val(selectedData.map(node => node.div3));
}


////Discharge Destination add


function saveDestinationType() {
	var data1 = {};
	closeNav2();
	data1.disDes = $("#disdes").val(); 
	data1.desName = $("#desname").val();
	data1.desDescription = $("#desdescription").val();
	data1.desSatus = $("#desstatus").val();
	
	console.log("Data",data1)
	


	$.ajax({
		type: "POST",
		url: "configuration-destination-master-add",
		dataType: "json",
		contentType: "application/json",
		data: JSON.stringify(data1),
		success: function (response) {
			if (response.message == "Success") {
				agGrid.simpleHttpRequest({
					url : 'configuration-destination-master-view'
					}).then(function(data) {
					if(!data1){
					data.push(data1);
					}
					gridOptions2.api.setRowData(data);
					});
					}
					},
				error : function(response) {
				console.log(response);
				}
				})
				}



//Discharge Destination  delete		


function deleteDestination(){
	closeNav2();
	var disdes = $('#disdes').val();
	
	$.ajax({
		type : "GET",
		url : "configuration-destination-delete?id=" + disdes,
		dataType : "json",
		contentType : "application/json",
		success : function(response) {
			if (response.message == "Success") {
				agGrid.simpleHttpRequest({
				url : 'configuration-destination-master-view'
				}).then(function(data) {
					gridOptions2.api.setRowData(data);
			});
				
				
		}
	},
	error : function(response) {
	console.log(response);
	}
	})
	}


//Concession Category
	
var columnDefs5 = [
	{
		headerName : "Id",
		field : "conCat",
		width: 100,
		}, {
	headerName : "Name",
	field : "conName",
	width: 220,
	
	},{
	headerName : "Description",
	field : "conDescription",
	width: 220,
	
	},  {
		headerName : "Status",
		field : "conStatus",
		width: 100,
		
	} /* ,{
		headerName : "Orgination",
		field : "org1",
		width: 100,
		
		},{
			headerName : "Division",
			field : "div1",
			width: 100,
			
			} */];

var gridOptions4 = {
		columnDefs:columnDefs5,
		defaultColDef: {
			sortable: true,
			filter: true,
			resizable: true,
			width: 145,
			height: 10
		},
		rowSelection: 'single',
		rowMultiSelectWithClick: true,
		onSelectionChanged: onSelectionConcession

	};
	
 	function onSelectionConcession()
	{
		closeNav1();
		closeNav2();
		closeNav3();
	    openNav4();
	var selectedNodes= gridOptions4.api.getSelectedNodes();
	var selectedData= selectedNodes.map(node => node.data);
	$('#concat').val(selectedData.map(node => node.conCat));
	$('#conname').val(selectedData.map(node => node.conName));
	$('#condescription').val(selectedData.map(node => node.conDescription));
	if (selectedData.map(node => node.conStatus) == "Active") {
		$('#conStatus').val("1");
	} else {
		$('#conStatus').val("0");
	} 
	$('#org1').val(selectedData.map(node => node.org1));
	$('#div1').val(selectedData.map(node => node.div1));
	} 
 	
 	
 	
////Concession Category add


 	function saveConcession() {
 		var data4 = {};
 		closeNav4();
 		data4.conCat = $("#concat").val(); 
 		data4.conName = $("#conname").val();
 		data4.conDescription = $("#condescription").val();
 		data4.conStatus = $("#conStatus").val();
 		
 		console.log("Data",data4)
 		


 		$.ajax({
 			type: "POST",
 			url: "configuration-concession-master-add",
 			dataType: "json",
 			contentType: "application/json",
 			data: JSON.stringify(data4),
 			success: function (response) {
 				if (response.message == "Success") {
 					agGrid.simpleHttpRequest({
 						url : 'configuration-concession-master-view'
 						}).then(function(data) {
 						if(!data4){
 						data.push(data4);
 						}
 						gridOptions4.api.setRowData(data);
 						});
 						}
 						},
 					error : function(response) {
 					console.log(response);
 					}
 					})
 					}


 	//Concession Category delete		


 	function deleteConcession(){
 		closeNav4();
 		var concat = $('#concat').val();
 		
 		$.ajax({
 			type : "GET",
 			url : "configuration-concession-delete?id=" + concat,
 			dataType : "json",
 			contentType : "application/json",
 			success : function(response) {
 				if (response.message == "Success") {
 					agGrid.simpleHttpRequest({
 					url : 'configuration-concession-master-view'
 					}).then(function(data) {
 						gridOptions4.api.setRowData(data);
 				});
 					
 					
 			}
 		},
 		error : function(response) {
 		console.log(response);
 		}
 		})
 		}
	   
	   
 	
 	//Pathology Test Type
	
 	var columnDefs6 = [
 		{
 			headerName : "Id",
 			field : "testType",
 			width: 100,
 			}, {
 		headerName : "Name",
 		field : "pathName",
 		width: 100,
 		
 		},{
 		headerName : "Description",
 		field : "pathDes",
 		width: 100,
 		
 		},  {
 			headerName : "Status",
 			field : "pathStatus",
 			width: 100,
 			
 		} ,{
 			headerName : "Orgination",
 			field : "org5",
 			width: 100,
 			
 			},{
 				headerName : "Division",
 				field : "div5",
 				width: 100,
 				
 				}];

 	var gridOptions5 = {
 			columnDefs:columnDefs6,
 			defaultColDef: {
 				sortable: true,
 				filter: true,
 				resizable: true,
 				width: 145,
 				height: 10
 			},
 			rowSelection: 'single',
 			rowMultiSelectWithClick: true,
 			onSelectionChanged: onSelectionPathology

 		};
 	
 	function onSelectionPathology()
	{
		closeNav1();
		closeNav2();
		closeNav3();
		
	    openNav5();
	    
	var selectedNodes= gridOptions5.api.getSelectedNodes();
	var selectedData= selectedNodes.map(node => node.data);
	$('#testType').val(selectedData.map(node => node.testType));
	$('#pathName').val(selectedData.map(node => node.pathName));
	$('#pathDes').val(selectedData.map(node => node.pathDes));
	if (selectedData.map(node => node.pathStatus) == "Active") {
		$('#pathStatus').val("1");
	} else {
		$('#pathStatus').val("0");
	} 
	$('#org5').val(selectedData.map(node => node.org5));
	$('#div5').val(selectedData.map(node => node.div5));
	}
 	
 	
 	
 	
////Pathology Test add


 	function savePathologytest() {
 		var data6 = {};
 		closeNav5();
 		data6.testType = $("#testType").val(); 
 		data6.pathName = $("#pathName").val();
 		data6.pathDes = $("#pathDes").val();
 		data6.pathStatus = $("#pathStatus").val();
 		
 		console.log("Data",data6)
 	
 		$.ajax({
 			type: "POST",
 			url: "configuration-pathology-master-add",
 			dataType: "json",
 			contentType: "application/json",
 			data: JSON.stringify(data6),
 			success: function (response) {
 				if (response.message == "Success") {
 					agGrid.simpleHttpRequest({
 						url : 'configuration-pathology-master-view'
 						}).then(function(data) {
 						if(!data6){
 						data.push(data6);
 						}
 						gridOptions5.api.setRowData(data);
 						});
 						}
 						},
 					error : function(response) {
 					console.log(response);
 					}
 					})
 					}
 					
 	//Pathology Test delete		


 	function deletePathologytest(){
 		closeNav5();
 		var testType = $('#testType').val();
 		
 		$.ajax({
 			type : "GET",
 			url : "configuration-pathology-delete?id=" + testType,
 			dataType : "json",
 			contentType : "application/json",
 			success : function(response) {
 				if (response.message == "Success") {
 					agGrid.simpleHttpRequest({
 					url : 'configuration-pathology-master-view'
 					}).then(function(data) {
 						gridOptions5.api.setRowData(data);
 				});
 					
 					
 			}
 		},
 		error : function(response) {
 		console.log(response);
 		}
 		})
 		}
 	
 	
 	//Group mstr
	
 	var columnDefs7 = [
 		{
 			headerName : "Id",
 			field : "group",
 			width: 100,
 			}, {
 		headerName : "Name",
 		field : "groupName",
 		width: 220,
 		
 		},{
 		headerName : "Description",
 		field : "groupDes",
 		width: 220,
 		
 		},  {
 			headerName : "Status",
 			field : "groupStatus",
 			width: 100,
 			
 		} /* ,{
 			headerName : "Orgination",
 			field : "org6",
 			width: 100,
 			
 			},{
 				headerName : "Division",
 				field : "div6",
 				width: 100,
 				
 				} */];

 	var gridOptions6 = {
 			columnDefs:columnDefs7,
 			defaultColDef: {
 				sortable: true,
 				filter: true,
 				resizable: true,
 				width: 145,
 				height: 10
 			},
 			rowSelection: 'single',
 			rowMultiSelectWithClick: true,
 			onSelectionChanged: onSelectionGroup

 		};
 	
 	
 	function onSelectionGroup() {
 		closeNav7();
 	    /* closeNav1();
 	    closeNav2();
 	    closeNav3();
 	    closeNav4();
 	    closeNav5(); */
 	  
 	  
 	  openNav6(); 
 	    
 	    
 	    var selectedNodes = gridOptions6.api.getSelectedNodes();
 	    var selectedData = selectedNodes.map(node => node.data);
 	  
 	   /*  var firstRowNode = gridOptions6.api.getDisplayedRowAtIndex(0); // Get the first row node
 	    if (firstRowNode) {
 	        firstRowNode.setSelected(true); // Set the first row as selected
 	    } */
 	    
 	    var id = selectedData.map(node => node.group);
 	    
 	    agGrid.simpleHttpRequest({
 	        url: 'configuration-subgroup-master-type-view-onclick?id=' + id
 	    }).then(function(data) { 
 	        for(var i = 0 ; i < data.length ; i++){ 
 	            data[i].group = id ; 
 	        }
 	        
 	        gridOptions7.api.setRowData(data);
 	        gridOptions7.api.forEachNode(node => node.rowIndex ? 0 : node.setSelected(true));
 	       closeNav7();
 	    });
 	    
 	    $('#group').val(selectedData.map(node => node.group));
 	    $('#groupName').val(selectedData.map(node => node.groupName));
 	    $('#groupDes').val(selectedData.map(node => node.groupDes));
 	    if (selectedData.map(node => node.groupStatus) == "Active") {
 	        $('#groupStatus').val("1");
 	    } else {
 	        $('#groupStatus').val("0");
 	    } 
 	    $('#org6').val(selectedData.map(node => node.org6));
 	    $('#div6').val(selectedData.map(node => node.div6));
 	}

 	
 	
////Group mstr add


 	function saveGroupmstr() {
 		var data7 = {};
 		closeNav6();
 		data7.group = $("#group").val(); 
 		data7.groupName = $("#groupName").val();
 		data7.groupDes = $("#groupDes").val();
 		data7.groupStatus = $("#groupStatus").val();
 		
 		console.log("Data",data7)
 	
 		$.ajax({
 			type: "POST",
 			url: "configuration-group-master-add",
 			dataType: "json",
 			contentType: "application/json",
 			data: JSON.stringify(data7),
 			success: function (response) {
 				if (response.message == "Success") {
 					agGrid.simpleHttpRequest({
 						url : 'configuration-group-master-view'
 						}).then(function(data) {
 						if(!data7){
 						data.push(data7);
 						}
 						gridOptions6.api.setRowData(data);
 						});
 						}
 						},
 					error : function(response) {
 					console.log(response);
 					}
 					})
 					}
 					
 	//Group Master delete		


 	function deleteGroupmstr(){
 		closeNav6();
 		var group = $('#group').val();
 		
 		$.ajax({
 			type : "GET",
 			url : "configuration-group-delete?id=" + group,
 			dataType : "json",
 			contentType : "application/json",
 			success : function(response) {
 				if (response.message == "Success") {
 					agGrid.simpleHttpRequest({
 					url : 'configuration-group-master-view'
 					}).then(function(data) {
 						gridOptions6.api.setRowData(data);
 				});
 					
 					
 			}
 		},
 		error : function(response) {
 		console.log(response);
 		}
 		})
 		}
 	
 	
//Sub Group mstr
	
 	var columnDefs8 = [
 		{
 			headerName : "Id",
 			field : "subGroup",
 			width: 100,
 			}, {
 		 		headerName : "Group Id",
 		 		field : "groupId",
 		 		width: 100,
 		 		
 		 }, {
 		headerName : "Group Name",
 		field : "sgroupName",
 		width: 100,
 		
 		},{
 		headerName : "SubGroup Name",
 		field : "subName",
 		width: 100,
 		
 		},{
 		headerName : "Description",
 		field : "subDes",
 		width: 100,
 		
 		},  {
 			headerName : "Status",
 			field : "subStatus",
 			width: 100,
 			
 		} /* ,{
 			headerName : "Orgination",
 			field : "org7",
 			width: 100,
 			
 			},{
 				headerName : "Division",
 				field : "div7",
 				width: 100,
 				
 				} */];

 	var gridOptions7 = {
 			columnDefs:columnDefs8,
 			defaultColDef: {
 				sortable: true,
 				filter: true,
 				resizable: true,
 				width: 145,
 				height: 10
 			},
 			rowSelection: 'single',
 			rowMultiSelectWithClick: true,
 			onSelectionChanged: onSelectionSubGroup

 		};
 	
 	function onSelectionSubGroup()
	{
		closeNav1();
		closeNav2();
		closeNav3();
		
		
	    openNav7();
	    
	var selectedNodes= gridOptions7.api.getSelectedNodes();
	var selectedData= selectedNodes.map(node => node.data);
	
	$('#subGroup').val(selectedData.map(node => node.subGroup));
	$('#groupId').val(selectedData.map(node => node.groupId));
	$('#subName').val(selectedData.map(node => node.subName));
	$('#subDes').val(selectedData.map(node => node.subDes));
	if (selectedData.map(node => node.subStatus) == "Active") {
		$('#subStatus').val("1");
	} else {
		$('#subStatus').val("0");
	} 
	$('#org7').val(selectedData.map(node => node.org6));
	$('#div7').val(selectedData.map(node => node.div6));
	}
 	
 	
//// Sub Group mstr add


 	function saveSubGroupmstr() {
 		var data8 = {};
 		closeNav7();
 		data8.subGroup = $("#subGroup").val(); 
 		data8.groupId = $("#groupId").val();
 		data8.subName = $("#subName").val();
 		data8.subDes = $("#subDes").val();
 		data8.subStatus = $("#subStatus").val();
 		
 		console.log("Data",data8)
 		
 	
 		$.ajax({
 			type: "POST",
 			url: "configuration-subgroup-master-add",
 			dataType: "json",
 			contentType: "application/json",
 			data: JSON.stringify(data8),
 			success: function (response) {
 				if (response.message == "Success") {
 					agGrid.simpleHttpRequest({
 						url : 'configuration-sub-master-view'
 						}).then(function(data) {
 						if(!data8){
 						data.push(data8);
 						}
 						gridOptions7.api.setRowData(data);
 						});
 						}
 						},
 					error : function(response) {
 					console.log(response);
 					}
 					})
 					}
 					
 					
 	//Sub Group Master delete		


 	function deleteSubGroupmstr(){
 		closeNav7();
 		var subGroup = $('#subGroup').val();
 		
 		$.ajax({
 			type : "GET",
 			url : "configuration-subgroup-delete?id=" + subGroup,
 			dataType : "json",
 			contentType : "application/json",
 			success : function(response) {
 				if (response.message == "Success") {
 					agGrid.simpleHttpRequest({
 					url : 'configuration-sub-master-view'
 					}).then(function(data) {
 						gridOptions7.api.setRowData(data);
 				});
 					
 					
 			}
 		},
 		error : function(response) {
 		console.log(response);
 		}
 		})
 		}
 	
 	
 	//Surgery

	var columnDefs9 =  [
		{
			headerName: "Id",
			field: "surgeryId",
			width: 130,
		}, {
			headerName: "Name",
			field: "surgeryName",
			width: 200,

		}, {
			headerName: "Description",
			field: "surgeryDes",
			width: 200,

		}, {
			headerName: "Status",
			field: "surgeryStatus",
			width: 130,

		}/* ,{
 			headerName : "Orgination",
 			field : "org8",
 			width: 100,
 			
 			},{
 				headerName : "Division",
 				field : "div8",
 				width: 100,
 				
 				} */];

	var gridOptions8 = {
		columnDefs: columnDefs9,
		defaultColDef: {
			sortable: true,
			filter: true,
			resizable: true,
			width: 145,
			height: 10
		},
		rowSelection: 'single',
		rowMultiSelectWithClick: true,
		onSelectionChanged: onSelectionSurgery

	};

	function onSelectionSurgery() {
		closeNav1();
		closeNav2();
		closeNav3();

		openNav8();
		$("#deletePTT").css("opacity", 1);

		var selectedNodes = gridOptions8.api.getSelectedNodes();
		var selectedData = selectedNodes.map(node => node.data);
		$('#surgeryId').val(selectedData.map(node => node.surgeryId));
		$('#surgeryName').val(selectedData.map(node => node.surgeryName));
		$('#surgeryDes').val(selectedData.map(node => node.surgeryDes));
		if (selectedData.map(node => node.surgeryStatus) == "Active") {
			$('#surgeryStatus').val("1");
		} else {
			$('#surgeryStatus').val("0");
		}
		$('#org8').val(selectedData.map(node => node.org8));
		$('#div8').val(selectedData.map(node => node.div8));
	}


	////Surgery add


	function saveSurgery() {
		var data9 = {};
		closeNav8();
		data9.surgeryId = $("#surgeryId").val();
		data9.surgeryName = $("#surgeryName").val();
		data9.surgeryDes = $("#surgeryDes").val();
		data9.surgeryStatus = $("#surgeryStatus").val();

		console.log("Data-->", data9)

		$.ajax({
			type: "POST",
			url: "configuration-surgery-master-add",
			dataType: "json",
			contentType: "application/json",
			data: JSON.stringify(data9),
			success: function (response) {
				if (response.message == "Success") {
					agGrid.simpleHttpRequest({
						url: 'configuration-surgery-master-view'
					}).then(function (data) {
						if (!data9) {
							data.push(data9);
						}
						gridOptions8.api.setRowData(data);
					});
				}
			},
			error: function (response) {
				console.log(response);
			}
		})
	}

	//Surgery delete		


	function deleteSurgery() {
		closeNav8();
		var surgeryId = $('#surgeryId').val();

		$.ajax({
			type: "GET",
			url: "configuration-surgery-delete?id=" + surgeryId,
			dataType: "json",
			contentType: "application/json",
			success: function (response) {
				if (response.message == "Success") {
					agGrid.simpleHttpRequest({
						url: 'configuration-surgery-master-view'
					}).then(function (data) {
						gridOptions8.api.setRowData(data);
					});


				}
			},
			error: function (response) {
				console.log(response);
			}
		})
	}

 	
</script>


</head>
<body>

	<div layout:fragment="content">
			
				<div class="maincontent">
					<div class="row">
						<div class="maincontentsec">
							<div class="content_padding">

								<div id="main_content">
									<div class="wrapper center-block">


										<div class="accordion" id="accordionExample">
											<div class="accordion-item">

												<div id="collapseOne"
													class="accordion-collapse collapse show"
													aria-labelledby="headingOne"
													data-bs-parent="#accordionExample">
													<div class="accordion-body">


														<div class="row">

															<div class="col-lg-6 col-md-6 col-sm-12 tablebox">
																<div class="reference_heading">Bed Category</div>
																<div class="d-flex justify-content-between">
																	<div>
																		<div class="sml_plus"
																			onclick='closeNav1();closeNav2();closeNav3();closeNav4();openNav1()'>
																			<i class="ti-plus"></i>
																		</div>

																	</div>
																	
																</div>
																<div class="box_reference">
																	<div id="myGrid1" style="width: 100%; height: 200px;"
																		class="ag-theme-alpine"></div>
																</div>
															</div>


															<div class="col-lg-6 col-md-6 col-sm-12 tablebox">
																<div class="reference_heading">Discharge Type</div>
																<div class="d-flex justify-content-between">
																	<div>
																		<div class="sml_plus"
																			onclick='closeNav1();closeNav2();closeNav3();closeNav4();openNav3()'>
																			<i class="ti-plus"></i>
																		</div>

																	</div>
																	

																</div>
																<div class="box_reference">
																	<div id="myGrid3" style="width: 100%; height: 200px;"
																		class="ag-theme-alpine"></div>
																</div>
															</div>



															<div class="col-lg-6 col-md-6 col-sm-12 tablebox">
																<div class="reference_heading">Discharge
																	Destination</div>
																<div class="d-flex justify-content-between">
																	<div>
																	<div class="sml_plus"
																		onclick='closeNav1();closeNav2();closeNav3();closeNav4();openNav2()'>
																		<i class="ti-plus"></i>
																	</div>

																	</div>
																	

																</div>
																<div class="box_reference">
																	<div id="myGrid2" style="width: 100%; height: 200px;"
																		class="ag-theme-alpine"></div>
																</div>
															</div>
															
															
															<div class="col-lg-6 col-md-6 col-sm-12 tablebox">
																<div class="reference_heading">Concession Category</div>
																<div class="d-flex justify-content-between">
																	<div>
																		<div class="sml_plus"
																			onclick='closeNav1();closeNav2();closeNav3();openNav4()'>
																			<i class="ti-plus"></i>
																		</div>

																	</div>
																	

																</div>
																
																<div class="box_reference">
																	<div id="myGrid4" style="width: 100%; height: 200px;"
																		class="ag-theme-alpine"></div>
																</div>
															</div>
															
															
															
														
															<div class="row">
															<!-- <div class="col-lg-6 col-md-6 col-sm-12 tablebox">
																<div class="reference_heading">Pathology Test Type</div>
																<div class="d-flex justify-content-between">
																	<div>
																		<div class="sml_plus"
																			onclick='closeNav1();closeNav2();closeNav3();closeNav4();closeNav5();openNav5()'>
																			<i class="ti-plus"></i>
																		</div>
																		
																	</div>
																	<div>		
																	</div>

																</div>
																<div class="box_reference">
																	<div id="myGrid5"
																		style="width: 100%; height: 200px;"
																		class="ag-theme-alpine"></div>
																</div>
															</div> -->
															<div class="col-lg-6 col-md-6 col-sm-12 tablebox">
																<div class="reference_heading">Group Master</div>
																<div class="d-flex justify-content-between">
																	<div>
																		<div class="sml_plus"
																			onclick='closeNav1();closeNav2();closeNav3();closeNav4();closeNav5();closeNav6();openNav6();closeNav7()'>
																			<i class="ti-plus"></i>
																		</div>
																		
																	</div>
																	<div>		
																	</div>

																</div>
																<div class="box_reference">
																	<div id="myGrid6"
																		style="width: 100%; height: 200px;"
																		class="ag-theme-alpine"></div>
																</div>
															</div>
															
													<div class="col-lg-6 col-md-6 col-sm-12 tablebox">
																<div class="reference_heading">Sub Group Master</div>
																<div class="d-flex justify-content-between">
																	<div>
																		<div class="sml_plus"
																			onclick='closeNav1();closeNav2();closeNav3();closeNav4();closeNav5();closeNav6();closeNav7();openNav7()'>
																			<i class="ti-plus"></i>
																		</div>
																		
																	</div>
																	<div>		
																	</div>

																</div>
																<div class="box_reference">
																	<div id="myGrid7"
																		style="width: 100%; height: 200px;"
																		class="ag-theme-alpine"></div>
																</div>
															</div>
														</div>
														<div class="row">
																	
															
															
															
														<div class="col-lg-6 col-md-6 col-sm-12 tablebox">
															<div class="reference_heading">Surgery</div>
															<div class="d-flex justify-content-between">
																<div>
																	<div class="sml_plus"
																		onclick='closeNav1();closeNav2();closeNav3();closeNav4();closeNav5();closeNav8();openNav8()'>
																		<i class="ti-plus"></i>
																	</div>

																</div>
																<div>
																</div>

															</div>
															<div class="box_reference">
																<div id="myGrid8" style="width: 100%; height: 200px;"
																	class="ag-theme-alpine"></div>
															</div>
														</div>
												
											

												</div>
															

														</div>
														</div>


													</div>
												</div>



												<div id="mySidenav1" class="sidenav">
													<div class="slidebox">
														<div class="row">

															<div class="col-md-9">
																<div class="edit">Bed Category</div>
															</div>
															<div class="col-md-3">
																<div class="arrow">
																	<a href="javascript:void(0)" class="closebtn"
																		onclick="closeNav1()"><i class="ti-arrow-right"></i></a>
																</div>
															</div>
															<div class="chartbtnsec1">
																<div align="right">
																	<button class="btn4" onclick="closeNav1()">CANCEL</button>
																	<button class="btn3" onclick="deleteBedCategory()">DELETE</button>
																	<button class="btn1" onclick="saveBedCategory()">SAVE</button>
																</div>
															</div>
															<div class="clearfix"></div>

															<div class="col-md-12">
																<div class="form-group">
																	<input type="hidden"
																		class="form-control transparenttxtbox"
																		placeholder="BedCategory" id="bedcat"> 
																</div>
															</div>

															<div class="col-md-12">
																<div class="form-group">
																	<label>Name</label> <input type="text"
																		class="form-control transparenttxtbox"
																		placeholder="Name" id="name4">
																</div>
															</div>

															<div class="col-md-12">
																<div class="form-group">
																	<label>Description</label>
																	<textarea id="description4" cols="50"></textarea>

																</div>
															</div>
															
															<div class="col-md-12">
																<div class="form-group">
																	<label>Status</label>
																	<div class="select">
																		<select id="status4" class="form-control">
																			<option value="">Select</option>
																			<option value=1>Active</option>
																			<option value=0>Inactive</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>


												<div id="mySidenav2" class="sidenav">
													<div class="slidebox">
														<div class="row">

															<div class="col-md-9">
																<div class="edit">Discharge Type</div>
															</div>
															<div class="col-md-3">
																<div class="arrow">
																	<a href="javascript:void(0)" class="closebtn"
																		onclick="closeNav3()"><i class="ti-arrow-right"></i></a>
																</div>
															</div>
															<div class="chartbtnsec1">
																<div align="right">
																	<button class="btn4" onclick="closeNav3()">CANCEL</button>
																	<button class="btn3" onclick="deleteDischargeType()">DELETE</button>
																	<button class="btn1" onclick="saveDischargeType()">SAVE</button>
																</div>
															</div>
															<div class="clearfix"></div>

															<div class="col-md-12">
																<div class="form-group">
																	<input type="hidden"
																		class="form-control transparenttxtbox"
																		placeholder="Discharge " id="distype"> 
																</div>
															</div>

															<div class="col-md-12">
																<div class="form-group">
																	<label>Name</label> <input type="text"
																		class="form-control transparenttxtbox"
																		placeholder="Name" id="disname">
																</div>
															</div>

															<div class="col-md-12">
																<div class="form-group">
																	<label>Description</label>
																	<textarea id="disdescription" cols="50"></textarea>

																</div>
															</div>

															<div class="col-md-12">
																<div class="form-group">
																	<label>Status</label>
																	<div class="select">
																		<select id="disstatus" class="form-control">
																			<option value="">Select</option>
																			<option value="1">Active</option>
																			<option value="0">Inactive</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												
																						
												<div id="mySidenav3" class="sidenav">
													<div class="slidebox">
														<div class="row">

															<div class="col-md-9">
																<div class="edit">Discharge Destination</div>
															</div>
															<div class="col-md-3">
																<div class="arrow">
																	<a href="javascript:void(0)" class="closebtn"
																		onclick="closeNav2()"><i class="ti-arrow-right"></i></a>
																</div>
															</div>
															<div class="chartbtnsec1">
																<div align="right">
																	<button class="btn4" onclick="closeNav2()">CANCEL</button>
																	<button class="btn3" onclick="deleteDestination()">DELETE</button>
																	<button class="btn1" onclick="saveDestinationType()">SAVE</button>
																</div>
															</div>
															<div class="clearfix"></div>
															<div class="col-md-12">
																<div class="form-group">
																	<input type="hidden"
																		class="form-control transparenttxtbox"
																		placeholder="DisDestination" id="disdes">
																</div>
															</div>


															<div class="col-md-12">
																<div class="form-group">
																	<label>Name</label> <input type="text"
																		class="form-control transparenttxtbox"
																		placeholder="Name" id="desname">
																</div>
															</div>

															<div class="col-md-12">
																<div class="form-group">
																	<label>Description</label>
																	<textarea id="desdescription" cols="50"></textarea>

																</div>
															</div>

															<div class="col-md-12">
																<div class="form-group">
																	<label>Status</label>
																	<div class="select">
																		<select id="desstatus" class="form-control">
																			<option value="">Select</option>
																			<option value="1">Active</option>
																			<option value="0">Inactive</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>


												<div id="mySidenav4" class="sidenav">
													<div class="slidebox">
														<div class="row">

															<div class="col-md-9">
																<div class="edit">Concession Category</div>
															</div>
															<div class="col-md-3">
																<div class="arrow">
																	<a href="javascript:void(0)" class="closebtn"
																		onclick="closeNav4()"><i class="ti-arrow-right"></i></a>
																</div>
															</div>
															<div class="chartbtnsec1">
																<div align="right">
																	<button class="btn4" onclick="closeNav4()">Cancel</button>
																	<button class="btn3" onclick="deleteConcession()">DELETE</button>
																	<button class="btn1" onclick="saveConcession()">Save</button>
																</div>
															</div>
															<div class="clearfix"></div>

                                                              <div class="col-md-12">
																<div class="form-group">
																	<input type="hidden"
																		class="form-control transparenttxtbox"
																		placeholder="Concession" id="concat"> 
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Name</label> <input type="text"
																		class="form-control transparenttxtbox"
																		placeholder="Name" id="conname">
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Description</label>
																	<textarea id="condescription" cols="50"></textarea>

																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Status</label>
																	<div class="select">
																		<select id="conStatus" class="form-control">
																			<option value="">Select</option>
																			<option value="1">Active</option>
																			<option value="0">Inactive</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												
															<div id="mySidenav5" class="sidenav">
													<div class="slidebox">
														<div class="row">

															<div class="col-md-9">
																<div class="edit">Pathology Test Type</div>
															</div>
															<div class="col-md-3">
																<div class="arrow">
																	<a href="javascript:void(0)" class="closebtn"
																		onclick="closeNav5()"><i class="ti-arrow-right"></i></a>
																</div>
															</div>
															<div class="chartbtnsec1">
																<div align="right">
																	<button class="btn4" onclick="closeNav5()">CANCEL</button>
																	<button class="btn3"
																		onclick="deletePathologytest()">DELETE</button>
																	<button class="btn1"
																		onclick="savePathologytest()">SAVE</button>
																</div>
															</div>

															<div class="clearfix"></div>


                                                             <div class="col-md-12">
																<div class="form-group">
																	<input type="hidden"
																		class="form-control transparenttxtbox"
																		placeholder="Pathlogy" id="testType"> 
																</div>
															</div>
															
	                                                             <div class="col-md-12">
																<div class="form-group">
																	<label>Name</label> <input type="text"
																		class="form-control transparenttxtbox"
																		placeholder="Name" id="pathName">
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Description</label>
																	<textarea id="pathDes" cols="50"></textarea>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Status</label>
																	<div class="select">
																		<select id="pathStatus" class="form-control">
																			<option value="">Select</option>
																			<option value="1">Active</option>
																			<option value="0">Inactive</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												
													<div id="mySidenav6" class="sidenav">
													<div class="slidebox">
														<div class="row">

															<div class="col-md-9">
																<div class="edit">Group Master</div>
															</div>
															<div class="col-md-3">
																<div class="arrow">
																	<a href="javascript:void(0)" class="closebtn"
																		onclick="closeNav6()"><i class="ti-arrow-right"></i></a>
																</div>
															</div>
															<div class="chartbtnsec1">
																<div align="right">
																	<button class="btn4" onclick="closeNav6()">CANCEL</button>
																	<button class="btn3"
																		onclick="deleteGroupmstr()">DELETE</button>
																	<button class="btn1"
																		onclick="saveGroupmstr()">SAVE</button>
																</div>
															</div>

															<div class="clearfix"></div>


                                                             <div class="col-md-12">
																<div class="form-group">
																	<input type="hidden"
																		class="form-control transparenttxtbox"
																		placeholder="Group" id="group"> 
																</div>
															</div>
															
															
	                                                             <div class="col-md-12">
																<div class="form-group">
																	<label>Name</label> <input type="text"
																		class="form-control transparenttxtbox"
																		placeholder="Name" id="groupName">
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Description</label>
																	<textarea id="groupDes" cols="50"></textarea>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Status</label>
																	<div class="select">
																		<select id="groupStatus" class="form-control">
																			<option value="">Select</option>
																			<option value="1">Active</option>
																			<option value="0">Inactive</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												
												
														<div id="mySidenav7" class="sidenav">
													<div class="slidebox">
														<div class="row">

															<div class="col-md-9">
																<div class="edit">Sub Group Master</div>
															</div>
															<div class="col-md-3">
																<div class="arrow">
																	<a href="javascript:void(0)" class="closebtn"
																		onclick="closeNav7()"><i class="ti-arrow-right"></i></a>
																</div>
															</div>
															<div class="chartbtnsec1">
																<div align="right">
																	<button class="btn4" onclick="closeNav7()">CANCEL</button>
																	<button class="btn3"
																		onclick="deleteSubGroupmstr()">DELETE</button>
																	<button class="btn1"
																		onclick="saveSubGroupmstr()">SAVE</button>
																</div>
															</div>

															<div class="clearfix"></div>


                                                             <div class="col-md-12">
																<div class="form-group">
																	<input type="hidden"
																		class="form-control transparenttxtbox"
																		placeholder="SubGroup" id="subGroup"> 
																</div>
															</div>
														
															
															<div class="col-md-12">
														<div class="form-group">
															<label> Group Id</label>
															<div class="select">
																<select id="groupId">
																	<option value="">--Select--</option>
																	<option th:each="c,iter:${group}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>
															</div>
														</div>
													</div>
															
	                                                             <div class="col-md-12">
																<div class="form-group">
																	<label>Name</label> <input type="text"
																		class="form-control transparenttxtbox"
																		placeholder="Name" id="subName">
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Description</label>
																	<textarea id="subDes" cols="50"></textarea>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Status</label>
																	<div class="select">
																		<select id="subStatus" class="form-control">
																			<option value="">Select</option>
																			<option value="1">Active</option>
																			<option value="0">Inactive</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												
												<div id="mySidenav8" class="sidenav">
											<div class="slidebox">
												<div class="row">

													<div class="col-md-9">
														<div class="edit">Surgery</div>
													</div>
													<div class="col-md-3">
														<div class="arrow">
															<a href="javascript:void(0)" class="closebtn"
																onclick="closeNav8()"><i class="ti-arrow-right"></i></a>
														</div>
													</div>
													<div class="chartbtnsec1">
														<div align="right">
															<button class="btn3" id="deletePTT"
																onclick="deleteSurgery()">DELETE</button>
															<button class="btn4" onclick="closeNav8()">CANCEL</button>

															<button class="btn1"
																onclick="saveSurgery()">SAVE</button>
														</div>
													</div>

													<div class="clearfix"></div>


													<div class="col-md-12">
														<div class="form-group">
															<input type="hidden" class="form-control transparenttxtbox"
																placeholder="Surgery" id="surgeryId">
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label>Name</label> <input type="text"
																class="form-control transparenttxtbox"
																placeholder="Name" id="surgeryName">
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label>Status</label>
															<div class="select">
																<select id="surgeryStatus" class="form-control">
																	<option value="">Select</option>
																	<option value="1">Active</option>
																	<option value="0">Inactive</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<label>Description</label>
															<textarea id="surgeryDes" cols="50"></textarea>
														</div>
													</div>
												</div>
											</div>
										</div>
										
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>			
	     </div>
</html>