<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="../css/his-css/his-reception.css">

<script type="text/javascript" src="../javaScript/his/his-reception.js"></script>
<script type="text/javascript"
	src="../javaScript/his/his-billing-2.js"></script>

<!-- Expand Minimize Script -->
<style>
.alignment {
	float: right;
}

.right-align {
	text-align: right !important;
}
</style>
</head>
<body>

	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid requisition">

			<!-- Tab panes -->
			<div class="tab-content">

				<!--Tabbination 1 Start-->
				<div id="reception" class="tab-pane active">
					<div class="d-flex flex-column flex-lg-row">
						<!--Left Sec Start-->
						<div class="box-sec" id="collapseWidthR1">
							<div class="out-box">
								
								<div class="h-100 d-flex flex-column">
									<div class="d-flex justify-content-between bdr-line p-2">
										<div class="col-md-8 col-12">
											<div class="d-flex search-sec">
												<input class="form-control me-2" type="text" placeholder="Search" id="quickFilter" autocomplete="off" fdprocessedid="ajezji">
												<button class="btn go-btn" type="button" onclick="onQuickFilterChanged()" fdprocessedid="niwjpp">Go</button>
												&nbsp;
												<button class="btn go-btn w-auto" type="button" onclick="reset()" fdprocessedid="ppmn7">Reset</button>
											</div>
										</div>
										<div class="col-md-2 d-flex justify-content-end">
											<button class="btn btn-primary max-btn" id="collapseButtonR1" onclick="triggerExpansionR(1)" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Expand" fdprocessedid="wztozu">
												<i class="fa-solid fa-maximize" id="expandIconR1"></i> <i class="fa-solid fa-minimize d-none" id="shrinkIconR1"></i>
											</button>
										</div>

									</div>

									<div class="card m-2 p-2">
									<div id="myGrid" style="height: 100vh; width: 100%;" class="ag-theme-alpine"></div>
							</div>

								</div>
							</div>
						</div>

						<!--Left Sec End-->

						<!--Right Sec Start-->
						<div class="box-sec" id="collapseWidthL1">
							<div class="out-box">

								<div class="d-flex justify-content-between flex-row-reverse align-items-center p-2 bdr-line">
									<button class="btn btn-primary max-btn" id="collapseButtonL1" type="button" onclick="triggerExpansionL(1)" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Expand" fdprocessedid="az2lo">
										<i class="fa-solid fa-maximize" id="expandIconL1"></i> <i class="fa-solid fa-minimize d-none" id="shrinkIconL1"></i>
									</button>


								<!--Right Inner Tab Start-->
								<div class="d-flex gap-2">
								<ul class="nav nav-pills newtab" role="tablist">
									<li class="nav-item reg wd-11"><a class="nav-link active"
										data-bs-toggle="pill" href="#registration"
										onclick="activityTabs('registration');">Registration</a></li>
									<li class="nav-item  doc wd-12"><a
										class="nav-link text-nowrap" data-bs-toggle="pill"
										href="#doctorsDetail" onclick="activityTabs('doctorsDetail');">Doctor
											Details</a></li>
									<li class="nav-item oth wd-12"><a
										class="nav-link text-nowrap" data-bs-toggle="pill"
										href="#otherDetail" onclick="activityTabs('otherDetail');">Other
											Details</a></li>
									<li class="nav-item pay-tab wd-12"><a
										class="nav-link text-nowrap" data-bs-toggle="pill"
										href="#paymentDetail" onclick="activityTabs('paymentDetail');">Payment
											Details</a></li>
								</ul>
							</div>
							</div>


								<!-- Tab panes -->
								<div class="tab-content flex-fill h-25">
									<div id="registration" class="tab-pane active p-2 h-100">
										<div class="requisition-tbl d-flex flex-column h-100 gap-2">

                      <div class="d-flex w-100 flex-column flex-xl-row justify-content-between align-items-start align-items-xl-center gap-2 p-2 border rounded">
                        <div class="project-name flex-1"><span class="head-user-name" id="pName"></span></div>
                        <div class="d-flex justify-content-end w-100 gap-2 flex-1">
                          <button class="btn m-0 edit-btn" type="button" id="add" onclick="newButton1()">Add</button>
                          <button class="btn m-0 edit-btn" type="button" id="next" onclick="next()">Next</button>
                        </div>
                      </div>

											<div class="card p-2">
											<form>
												<div class="row" id="addPatient">

													<div class="col-md-12" id="newPatId">
														<div class="form-group" style="display: none;">
															<label>New Patient Id</label> <input type="text"
																class="form-control transparenttxtbox" id="newPatientId"
																disabled="true">
														</div>
													</div>

													<!-- <div class="col-md-12" id="patientTypeBox" style="display:none;">
														<div class="form-group" style="margin-bottom: 20px;">
															<div class="bdr-btn">
																<h6>Patient Type</h6>
															</div>


															<label for="opd"> <input type="radio" id="opd"
																value="0" name="patient" checked /> OPD
															</label> <label for="emergency"> <input type="radio"
																id="emergency" value="1" name="patient" /> Emergency
															</label>

														</div>
													</div> -->


													<div class="col-md-12">
														<div class="row">
															<div class="col-md-6">
														<h6>Patient Details</h6>
													</div>
													<div class="col-md-6 text-end">
														<div class="mandatory-txt">
															Note: All fields marked with <span>*</span> are
															mandatory.
														</div>
														</div>
														</div>
													</div>

													<div class="col-lg-4 patDiv">
														<label><input type="checkbox"
															id="existingPatientCheckbox">Existing Patient</label>
													</div>
													<div class="col-lg-8 patDiv" id="extPatDiv" style="display: none;">
														<label for="extPat">Select a patient:</label> <select
															id="extPat" class="searchable-select"
															onchange="getPatientDetailsById(this.value)">
															<option value="">Select</option>
															<option th:each="a : ${patList}" th:value="${a.key}"
																th:text="${a.name}"></option>
														</select>
													</div>


													<div class="col-md-12 form-top">
														<div class="row">
															<input type="hidden" id="patientId">
															<div class="col-lg-4">
																<div class="form-group">
																	<label>Full Name <span class="mandatory">*</span></label>
																	<input type="text" id="fullName" class="form-control">
																</div>
															</div>


															<!-- 	<div class="col-lg-4">
																<div class="form-group">
																	<label>Middle Name </label> <input type="text"
																		id="mName" class="form-control">
																</div>
															</div>
															<div class="col-lg-4">
																<div class="form-group">
																	<label>Last Name <span class="mandatory">*</span></label>
																	<input type="text" id="lName" class="form-control">
																</div>
															</div> -->



															<div class="col-lg-4">
																<div class="form-group">
																	<label>Age <span class="mandatory">*</span></label> <input
																		type="text" id="age" class="form-control"
																		maxlength="3">
																</div>
															</div>
															<div class="col-lg-4">
																<div class="form-group">
																	<label>Mobile No</label> <span class="mandatory">*</span>
																	<input type="text" class="form-control" id="mobNo"
																		maxLength="10"
																		onkeyup="mobVal1();checkNumeric('mobNo');"
																		onblur="removeValid(event)"> <span id="error9"
																		class="formValidation1"></span>
																</div>
															</div>

															<div class="col-lg-4">
																<div class="form-group">
																	<label>Alt. Mobile No</label> <input type="text"
																		class="form-control" id="altMobNo" maxLength="10"
																		onkeyup="mobVal3();checkNumeric('altMobNo');"
																		onblur="removeValid(event)"> <span id="error2"
																		class="formValidation2"></span>
																</div>
															</div>

															<div class="col-lg-4">
																<div class="form-group">
																	<label>Email Id</label> <input type="text" id="email"
																		class="form-control">
																</div>
															</div>



															<div class="col-lg-4">
																<div class="form-group">
																	<label>Gender <span class="mandatory">*</span></label>
																	<select id="gender" class="form-select">
																		<option value="">Select</option>
																		<option th:each="c,iter:${genderList}"
																			th:value="${c.key}" th:text="${c.name}"></option>
																	</select>
																</div>
															</div>

															<div class="col-lg-4">
																<div class="form-group">
																	<label>Nationality</label> <select id="nationality"
																		class="form-select">
																		<option value="">Select</option>
																		<option th:each="c,iter:${nationalityList}"
																			th:value="${c.key}" th:text="${c.name}"></option>
																	</select>
																</div>
															</div>


															<div class="col-md-4">
																<div class="form-group">
																	<label>Country <span class="mandatory">*</span></label>
																	<select id="country" class="form-select"
																		onchange="getStateDetails('0')"
																		onblur="removeValid(event)">
																		<option th:value="NULL">Select</option>
																		<option th:each="c,iter:${countryList}"
																			th:value="${c.key}" th:text="${c.name}"></option>
																	</select>
																</div>
															</div>

															<div class="col-md-4">
																<div class="form-group">
																	<label>State <span class="mandatory">*</span></label> <select
																		id="states" class="form-select"
																		onchange="getDistrictDetails('0')"
																		onblur="removeValid(event)">
																		<option th:value="NULL">Select</option>
																		<option th:each="c,iter:${statesList}"
																			th:value="${c.key}" th:text="${c.name}"></option>
																	</select> <span class="focus"></span>
																</div>
															</div>

															<div class="col-md-4">
																<div class="form-group">
																	<label>District <span class="mandatory">*</span></label>
																	<select id="dist" class="form-select"
																		onblur="removeValid(event)"
																		onchange="getCityDetails('')">
																		<option th:value="NULL">Select</option>
																		<option th:each="c,iter:${districtList}"
																			th:value="${c.key}" th:text="${c.name}"></option>
																	</select> <span class="focus"></span>
																</div>
															</div>

															<div class="col-lg-4">
																<div class="form-group">
																	<label>City</label> <span class="mandatory">*</span> <select
																		class="form-select" id="cityId"
																		onblur="removeValid(event)">
																		<option value="">Select</option>
																		<option th:each="c,iter:${cityList}"
																			th:value="${c.key}" th:text="${c.name}"></option>
																	</select>
																</div>
															</div>
															<div class="col-md-4">
																<label for="address">Address <span
																	class="mandatory">*</span></label>
																<textarea id="address" name="address"
																	class="form-control" rows="1"></textarea>
															</div>

															<div class="col-lg-4">
																<div class="form-group">
																	<label>Pin Code <span class="mandatory">*</span></label>
																	<input type="text" id="zipCode" maxLength="6"
																		onkeyup="mobVal4();checkNumeric('zipCode');"
																		onbur="removeValid(event)" class="form-control">
																	<span id="error3" clalss="formValidation3"></span>
																</div>
															</div>


															<div class="col-lg-4">
																<div class="form-group">
																	<label>Recommended</label> <input type="text"
																		id="recommended" class="form-control">
																</div>
															</div>

															<div class="col-md-4">
																<div class="form-group">
																	<label>Status</label> <select id="patientStatus"
																		class="form-select" disabled>
																		<option value="Active">Active</option>
																		<option value="Inactive">Inactive</option>
																	</select>
																</div>
															</div>

														</div>
													</div>
												</div>
											</form>
											</div>
										</div>
									</div>


									<div id="doctorsDetail" class="tab-pane fade hidden p-2 h-100">

										<div class="requisition-tbl d-flex flex-column h-100 gap-2">

                      <div class="d-flex w-100 flex-column flex-xl-row justify-content-between align-items-start align-items-xl-center gap-2 p-2 border rounded">
                        <div class="project-name flex-1"><span class="head-user-name" id="pName1"></span></div>
                        <div class="d-flex justify-content-end w-100 gap-2 flex-1">
                          <button class="btn m-0 edit-btn" type="button" id="prev" onclick="prev()">Prev</button>
                          <button class="btn m-0 edit-btn" type="button" id="next1" onclick="next1()">Next</button>
                        </div>
                      </div>

										<!--Doctor and Department Details-->
										<div class="card p-2">
										<div class="row form-top" id="doctorsDetail">
											<div class="col-md-6">
												<div class="form-group">
													<label>Department <span class="mandatory">*</span></label>
													<select id="department" class="form-select"
														onchange="getDoctorsList('0')" onblur="removeValid(event)">
														<option th:value="null">Select</option>
														<!-- <option th:each="c,iter:${getDoctorsList}"
															th:value="${c.key}" th:text="${c.name}"></option> -->
													</select> <span class="focus"></span>
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Doctor <span class="mandatory">*</span></label> <select
														id="doctor" class="form-select" onchange="getDocFee()"
														onblur="removeValid(event)">
														<option th:value="null">Select</option>
													</select> <span class="focus"></span>
												</div>
											</div>

											<!--	For Fees-->
											<div class="col-lg-4">
												<div class="form-group">
													<label>Doctor's Fee</label> <input type="text" id="docFee"
														value="0.00" class="form-control" readonly>
												</div>
											</div>

											<!--FOR Time Slot-->
											<!-- <div class="col-lg-6">
												<div class="form-group">
													<label>Slot Available</label> <input type="text"
														id="avlSlot" class="form-control">
												</div>
											</div> -->


											<!-- <div class="col-lg-6">
												<div class="form-group">
													<label>Date Of Appointment</label>
													<div class="input-group date" id="dobPicker"
														data-target-input="nearest">
														<input type="date" id="dateOfAppointment"
															class="form-control datetimepicker-input"
															data-target="#dobPicker" />

													</div>
												</div>
											</div> -->


											<div class="col-lg-4">
												<div class="form-group calendar_box">
													<label>Date Of Appointment</label> <span class="mandatory">*</span>
													<input type="text" id="dateOfAppointment"
														class="form-control" onblur="removeValid(event)"
														th:attr="onkeyup=|formatDate('date','${session.DATEFORMAT_JS}')|"
														readonly> <i class="ti-calendar picker_calendar"
														id="DateCalendar" onchange="Insurancefilter();"></i>
												</div>
											</div>

											<div class="col-lg-4">
												<div class="form-group">
													<label>Time</label> <span class="mandatory">*</span><input
														type="text" id="currentTime" class="form-control"
														onblur="removeValid(event)" readonly>

												</div>
											</div>

											<div class="col-md-12">
												<label for="description">Description</label>
												<textarea id="description" name="description"
													class="form-control" rows="2"></textarea>
											</div>
										</div>
										</div>

									</div>

									</div>

									<div id="otherDetail" class="tab-pane fade hidden p-2 h-100">
										<div class="requisition-tbl d-flex flex-column h-100 gap-2">

                      <div class="d-flex w-100 flex-column flex-xl-row justify-content-between align-items-start align-items-xl-center gap-2 p-2 border rounded">
                        <div class="project-name flex-1"><span class="head-user-name" id="pName2"></span></div>
                        <div class="d-flex justify-content-end w-100 gap-2 flex-1">
                          <button class="btn m-0 edit-btn" type="button" id="prev1" onclick="prev1()">Prev</button>
                          <button class="btn m-0 edit-btn" type="button" id="save" onclick="savePatient()">Save</button>
                        </div>
                      </div>

										<div class="card p-2">
										<div class="row form-top" id="otherDetail">
											<div>
												<h6>Office Details</h6>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label>Occupation</label> <select id="occupation"
														class="form-select">
														<option value="">Select</option>
														<option value="Self Employed">Self Employed</option>
														<option value="Salaried">Salaried</option>
													</select>
												</div>
											</div>


											<div class="col-lg-3">
												<div class="form-group">
													<label>Office Name</label> <input type="text"
														id="officeName" class="form-control">
												</div>
											</div>
											<div class="col-lg-3">
												<div class="form-group">
													<label>Income</label> <input type="text" id="income"
														class="form-control">
												</div>
											</div>
											<div class="col-md-3">
												<label for="address">Office Address</label>
												<textarea id="officeAddress" style="height: 39px;" name="office Address"
													class="form-control" rows="1"></textarea>
											</div>

											
											
										</div>
										<div class="grid-parent-container gap-2">
											<div class="row">
												<div class="col-md-6">
													<h6>Patient Dependent Details:</h6>
												</div>
												<div class="col-md-6 cnt-sp-end mb-1">
													<div class="d-flex gap-1 task-btn-sec">
														<button
															class="border-0 btn-transition btn btn-outline-primary br-m-btn-p"
															title="Add" onclick="togglePSection()" data-bs-toggle="tooltip">
															<i class="fa fa-plus-square" aria-hidden="true"></i>
														</button>
														<!-- <button
															class="border-0 btn-transition btn btn-outline-primary br-dis-p br-m-btn-p"
															title="Edit" onclick="editPDetails()" disabled>
															<i class="fa fa-pencil-square" aria-hidden="true"></i>
														</button> -->
														<button
															class="border-0 btn-transition btn btn-outline-primary br-dis-p br-m-btn-p"
															title="Delete" disabled onclick="deleteSubChildData()" data-bs-toggle="tooltip">
															<i class="fa fa-trash"></i>
														</button>
														<button class="btn btn-primary edit-btn br-s-btn-p"
															type="button" onclick="saveDepChildData()">Save</button>
														<button class="btn btn-primary edit-btn br-s-btn-p"
															type="button" onclick="cancelPDetails()">Cancel</button>
													</div>
												</div>
											</div>
											<div class="grid-container br-m-btn-p">
												<div id="myGridPDtls" class="ag-theme-alpine grid-size"></div>
											</div>
											<div class="row br-s-btn-p">
												<div class="col-lg-4">
													<div class="form-group">
														<label>Name</label> <input type="text" id="depName"
															class="form-control"> <input type="hidden"
															id="depId">
													</div>
												</div>


												<div class="col-lg-4">
													<div class="form-group">
														<label>Mobile No</label> <input type="text"
															class="form-control" id="depMobNo" maxLength="10"
															onkeyup="mobVal2();checkNumeric('depMobNo');"
															onblur="removeValid(event)"> <span id="error1"
															class="formValidation2"></span>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>Relation </label> <select id="depRelation"
															class="form-select">
															<option th:value="NULL">Select</option>
															<option th:each="c,iter:${getRelationList}"
																th:value="${c.key}" th:text="${c.name}"></option>
														</select>
													</div>
												</div>
											</div>
											</div>
										</div>
									</div>
									</div>

									
									<div id="paymentDetail" class="tab-pane p-2 h-100">
										<div th:replace="his/his-billing-2 :: his-billing-2"></div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>