<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="his-billing">
<style>
.alignment {
	float: right;
}

.right-align {
	text-align: right !important;
}
.fnt-16{font-size: 16px;}
.fnt-align{ font-size: calc((12 / 16) * 1rem);}
@media only screen and (max-width: 1399px){
	.fnt-align{ font-size: calc((10 / 16) * 1rem);}
}
</style>
<script>
  $(()=>{
    $('#methodBankSelect').select2();  //#methodBankSelect
    $('#methodCostCenterSelect').select2();  //#methodCostCenterSelect
  });
</script>
<!--Payment Details-->
<div class="requisition-tbl d-flex flex-column gap-2 h-100">

  <div class="d-flex w-100 flex-column flex-xl-row justify-content-between align-items-start align-items-xl-center gap-2 p-2 border rounded">
    <div class="project-name flex-1 fnt-16"><span class="head-user-name" id="bookingIds"></span></div>
    <div class="project-name flex-1 fnt-16"><span class="head-user-name" id="invoiceIds"></span></div>
    <div class="d-flex justify-content-end w-100 flex-wrap gap-2 flex-1">
      <button class="btn m-0 edit-btn" type="button" id="prev1" onclick="billingPrevious()">Prev</button>
      <button class="btn m-0 edit-btn" type="button" id="payBtn" onclick="initiateBillingProcess()">Pay</button>
    </div>
  </div>

	<div class="card p-2">
		<!--Payment Grid-->
		<div id="payment" style="width: 100%; height: 100vh; min-height: 30vh;" class="ag-theme-alpine"></div>
		<input type="hidden" id="accountSubGroupId">

		<!--Payment breakdown list-->
		<div class="row">
			<div class="col-md-6"></div>
			<div class="col-md-6">
				<table class="alignment">
					<tr>
						<td style="text-align: left;"><strong>Sub Total:</strong></td>
						<td style="text-align: right;"><span id="subTotal"></span></td>
					</tr>
					<tr>
						<td style="text-align: left;"><strong>CGST:</strong></td>
						<td style="text-align: right;"><span id="cgst"></span></td>
					</tr>
					<tr>
						<td style="text-align: left;"><strong>SGST:</strong></td>
						<td style="text-align: right;"><span id="sgst"></span></td>
					</tr>
					<tr>
						<td style="text-align: left;"><strong>Grand Total:</strong></td>
						<td style="text-align: right;"><span id="grandTotal"></span></td>
					</tr>
				</table>
			</div>
		</div>

		<!-- Payment Details Starts from here-->
		<div>
			<div class="row" style="margin-bottom: 20px; margin-top: 20px">
				<!-- Payment Mode Section -->
				<div class="col-lg-4" id="paymentModeMethodDiv">
					<div class="form-group btn-align">
						<label>Choose Payment Mode</label><br>
						<div class="radio-group dtl-radiobtn">
							<label> <input type="radio" id="CashMethod"
								name="CashChequeOrOnlineMethod" value="Cash"> Cash
							</label> <label> <input type="radio" id="ChequeMethod"
								name="CashChequeOrOnlineMethod" value="Cheque"> Cheque
							</label> <label> <input type="radio" id="OnlineMethod"
								name="CashChequeOrOnlineMethod" value="Online"> Online
							</label> <label> <input type="radio" id="UpiMethod"
								name="CashChequeOrOnlineMethod" value="Upi"> UPI
							</label>
						</div>
					</div>
				</div>
				<div class="col-lg-4">

					<div class="form-group">
						<label>Select Bank Account</label>
						<div class="select">
							<select class="form-control" id="methodBankSelect">
								<!-- <option value="">Select</option> -->
								<!-- Dynamic bank options -->
								<option th:each="c, iter: ${bankPaymentAccountList}"
									th:value="${c.key}" th:text="${c.name}"
									th:selected="${iter.index == 0}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group">
						<label>Select Cost Center</label>
						<div class="select">
							<select class="form-control" id="methodCostCenterSelect">
								<!-- <option value="">Select</option> -->
								<!-- Dynamic bank options -->
								<option th:each="c, iter: ${ccList}" th:value="${c.key}"
									th:text="${c.name}" th:selected="${iter.index == 0}"></option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- Payment Details (Based on Payment Method) -->
			<div class="row">


				<!-- Bank Details -->
				<div class="col-lg-4 methodBankDiv">
					<div class="form-group">
						<label>Transaction Number</label> <input type="text"
							class="form-control" id="methodTransactionNumber"
							placeholder="Transaction Number">
					</div>
				</div>
				<div class="col-lg-4 methodBankDiv">
					<div class="form-group">
						<label>Receiver Bank Name</label> <input type="text"
							class="form-control" id="methodReceiverBankName"
							placeholder="Receiver Bank Name">
					</div>
				</div>
				<div class="col-lg-4 methodBankDiv">
					<div class="form-group">
						<label>Receiver Bank Branch</label> <input type="text"
							class="form-control" id="methodReceiverBankBranch"
							placeholder="Receiver Bank Branch">
					</div>
				</div>
				<div class="col-lg-4 methodBankDiv">
					<div class="form-group">
						<label>Receiver IFSC Code</label> <input type="text"
							class="form-control" id="methodReceiverIfscCode"
							placeholder="Receiver IFSC Code">
					</div>
				</div>
				<div class="col-lg-4 methodBankDiv">
					<div class="form-group">
						<label>Receiver Account Number</label> <input type="text"
							class="form-control" id="methodReceiverAccountNumber"
							placeholder="Receiver Account Number">
					</div>
				</div>

				<!-- Cheque Details -->
				<div class="col-lg-4 methodChequeDiv">
					<div class="form-group">
						<label>Cheque Number</label> <input type="text"
							class="form-control" id="methodChequeNo"
							placeholder="Cheque Number">
					</div>
				</div>
				<div class="col-lg-4 methodChequeDiv">
					<div class="form-group">
						<label>Receiver Bank Name</label> <input type="text"
							class="form-control" id="methodChequeBankName"
							placeholder="Bank Name">
					</div>
				</div>
				<div class="col-lg-4 methodChequeDiv">
					<div class="form-group">
						<label>Receiver Bank Branch</label> <input type="text"
							class="form-control" id="methodChequeBankBranch"
							placeholder="Bank Branch">
					</div>
				</div>
				<div class="col-lg-4 methodChequeDiv">
					<div class="form-group">
						<label>Receiver Account Number</label> <input type="text"
							class="form-control" id="methodChequeAccountNumber"
							placeholder="Account Number">
					</div>
				</div>

				<!-- UPI Details -->
				<div class="col-lg-4 methodUpiDiv">
					<div class="form-group">
						<label>UPI ID</label> <input type="text" class="form-control"
							id="methodOnlineUpiID" placeholder="UPI ID">
					</div>
				</div>
				<div class="col-lg-4 methodUpiDiv">
					<div class="form-group">
						<label>Receiver UPI ID</label> <input type="text"
							class="form-control" id="methodReceiverOnlineUpiID"
							placeholder="Receiver UPI ID">
					</div>
				</div>
				<div class="col-lg-4 methodUpiDiv">
					<div class="form-group">
						<label>UPI Transaction ID</label> <input type="text"
							class="form-control" id="methodReceiverUpiTransactionID"
							placeholder="Receiver Transaction ID">
					</div>
				</div>

				<!-- Remarks Section -->
				<div class="col-lg-4 methodRemark">
					<div class="form-group">
						<label>Remarks</label> <input type="text" class="form-control"
							id="methodPayRemarks" placeholder="Remarks">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</html>