<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../css/his-css/his-patholab.css">
<script type="text/javascript" src="../javaScript/his/his-patholab.js"></script>
<style>
.btn-position {
	position: absolute;
	right: 20px;
	bottom: 135px;
}

.bk-app {
	line-height: 10px !important;
	width: 102px !important;
}
</style>

</head>
<body>

	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid requisition">
			<!-- Tab panes -->
			<div class="tab-content">

				<!--Tabbination 1 Start-->
				<div id="ipd" class="tab-pane active">
					<div class="d-flex flex-column flex-lg-row">

						<!--Left Sec Start-->
						<div class="box-sec" id="collapseWidthR1">
							<div class="out-box">
								<div class="hstack justify-content-between p-2 border-bottom">
									<div class="col-md-8 col-12">
										<div class="hstack gap-2 search-sec">
											<input class="form-control" type="text"
												placeholder="Search..." id="quickFilter">
											<button class="btn go-btn" type="button"
												onclick="onQuickFilterChanged()">Go</button>
											<button class="btn go-btn" type="reset" onclick="resetList()">Reset</button>
										</div>
									</div>
									<button class="btn btn-primary max-btn" id="collapseButtonR1"
										onclick="triggerExpansionR(1)" data-bs-toggle="tooltip"
										data-bs-placement="top" title="Expand">
										<i class="fa-solid fa-maximize" id="expandIconR1"></i> <i
											class="fa-solid fa-minimize d-none" id="shrinkIconR1"></i>
									</button>
								</div>
								<div class="card p-2 m-2">
									<div id="myGrid" style="height: 80vh;width:100%" class="ag-theme-alpine"></div>

								</div>
							</div>
						</div>

						<!--Left Sec End-->

						<!--Right Sec Start-->
						<div class="box-sec" id="collapseWidthL1">
							<div class="out-box">
								<div class="hstack justify-content-between p-2 border-bottom">
									<ul class="nav nav-pills newtab" role="tablist">
										<li class="nav-item" id="registrationTabLi"><a
											class="nav-link text-nowrap" data-bs-toggle="pill"
											href="#registrationTab">Registration</a></li>
										<li class="nav-item pay-tab" id="paymentDetailLi"><a
											class="nav-link text-nowrap" data-bs-toggle="pill"
											href="#paymentDetail">Payment</a></li>
										<li class="nav-item" id="bloodAccesionTabLi"><a
											class="nav-link active" data-bs-toggle="pill"
											href="#bloodAccesionTab"
											onclick="activityTabs('bloodAccesionTab');">Blood
												Accession</a></li>
										<li class="nav-item wd-11" id="processingTabLi"><a
											class="nav-link text-nowrap" data-bs-toggle="pill"
											href="#processingTab"
											onclick="activityTabs('processingTab');">Processing</a></li>
										<li class="nav-item wd-11" id="reportEntryTabLi"><a
											class="nav-link text-nowrap" data-bs-toggle="pill"
											href="#reportEntryTab"
											onclick="activityTabs('reportEntryTab');">Report Entry</a></li>
										<li class="nav-item wd-11" id="labReportsTabDiv"><a
											class="nav-link text-nowrap" data-bs-toggle="pill"
											href="#labReportsTab"
											onclick="activityTabs('labReportsTab');">Lab Reports</a></li>
									</ul>
									<!-- Right Inner Tabs -->
									<button class="btn btn-primary max-btn" id="collapseButtonL1"
										type="button" onclick="triggerExpansionL(1)"
										data-bs-toggle="tooltip" data-bs-placement="top"
										title="Expand">
										<i class="fa-solid fa-maximize" id="expandIconL1"></i> <i
											class="fa-solid fa-minimize d-none" id="shrinkIconL1"></i>
									</button>
								</div>

								<!-- Tab panes -->
								<div class="tab-content flex-fill">
									<div id="registrationTab" class="tab-pane fade p-2 h-100">
										<div
											th:replace="his/his-inner-patient-regs :: his-inner-patient-regs"></div>
									</div>
									<div id="paymentDetail" class="tab-pane fade p-2 h-100">
										<div th:replace="his/his-billing-2 :: his-billing-2"></div>
									</div>
									<div id="bloodAccesionTab"
										class="tab-pane fade show active p-2 h-100">
										<!--<div class="mb-2">
											<input type="hidden" id="pID">
											<table class="table  mb-0" width="100%">
												<tr valign="middle">
													<td width="50%"><strong id="pName"></strong></td>
													<td>
														<div class="d-flex justify-content-end gap-2">
															<div class="">
																<button id="collectBtns" class="btn edit-btn"
																	onclick="collectBtns()" type="button">Collect</button>
															</div>
															<div class="">
																<button id="nextBTNs1" class="btn edit-btn"
																	onclick="nextBTNs1()" type="button">Next</button>
															</div>
														</div>
													</td>
												</tr>
											</table>
										</div>-->
										<div class="vstack gap-2 h-100">
											<div
												class="hstack w-100 justify-content-between p-2 border rounded">
												<input type="hidden" id="pID">
												<div
													class="project-name flex-column flex-xl-row flex-1 d-flex">
													<span class="head-user-name patientName" id="pName"></span>
												</div>
												<div
													class="d-flex justify-content-end gap-2 flex-1 flex-wrap">
													<button id="collectBtns" class="btn m-0 edit-btn"
														onclick="collectBtns()" type="button">Collect</button>
													<button id="nextBTNs1" class="btn m-0 edit-btn"
														onclick="nextBTNs1()" type="button">Next</button>
												</div>
											</div>
											<div class="card p-2">
												<div id="myGridbloodAccesion" style="height: 80vh;"
													class="ag-theme-alpine"></div>
												<input type="hidden" id="bloddSampleId">
											</div>
										</div>
									</div>

									<div id="processingTab" class="tab-pane p-2 h-100 fade">
										<!--<div class="mb-2">
											<input type="hidden" id="pID1">
											<table class="table  mb-0" width="100%">
												<tr valign="middle">
													<td width="50%"><strong id="pName"></strong></td>
													<td>
														<div class="d-flex justify-content-end gap-2">
															<div class="">
																<button id="qrCodeBtn" class="btn edit-btn"
																	onclick="qrCodeBtn()" type="button">Generate
																	QR Code</button>
															</div>
															<div class="">
																<button id="prev2" class="btn edit-btn"
																	onclick="prev2()" type="button">Prev</button>
															</div>
															<div class="">
																<button id="nextBTNs2" class="btn edit-btn"
																	onclick="nextBTNs2()" type="button">Next</button>
															</div>
														</div>
													</td>
												</tr>
											</table>
										</div>-->
										<div class="vstack gap-2 h-100">
											<div
												class="hstack w-100 justify-content-between p-2 border rounded">
												<input type="hidden" id="pID1">
												<div
													class="project-name flex-column flex-xl-row flex-1 d-flex">
													<span class="head-user-name patientName"></span>
												</div>
												<div
													class="d-flex justify-content-end gap-2 flex-1 flex-wrap">
													<button id="qrCodeBtn" class="btn m-0 edit-btn"
														onclick="qrCodeBtn()" type="button">Generate QR
														Code</button>
													<button id="prev2" class="btn m-0 edit-btn"
														onclick="prev2()" type="button">Prev</button>
													<button id="nextBTNs2" class="btn m-0 edit-btn"
														onclick="nextBTNs2()" type="button">Next</button>
												</div>
											</div>
											<div class="card p-2">
												<div id="myGridProcessing" style="height: 100vh;"
													class="ag-theme-alpine"></div>
												<input type="hidden" id="bloddSampleId">
											</div>
										</div>
									</div>
									<div id="reportEntryTab" class="tab-pane p-2 h-100 fade">
										<!--<div class="mb-2">
											<input type="hidden" id="pID2">
											<table class="table  mb-0" width="100%">
												<tr valign="middle">
													<td width="50%"><strong id="pName"></strong></td>
													<td>
														<div class="d-flex justify-content-end gap-2">
															<div class="">
																<button id="prev3" class="btn  edit-btn"
																	onclick="prev3()" type="button">Prev</button>
															</div>
															<div class="">
																<button id="nextBTNs3" class="btn edit-btn"
																	onclick="nextBTNs3()" type="button">Next</button>
															</div>
															<div class="">
																<button id="saveDetails" class="btn edit-btn"
																	onclick="saveDetails()" type="button">Save</button>
															</div>
														</div>
													</td>
												</tr>
											</table>
										</div>-->
										<div class="vstack gap-2 h-100">
											<div
												class="hstack w-100 justify-content-between p-2 border rounded">
												<input type="hidden" id="pID2">
												<div
													class="project-name flex-column flex-xl-row flex-1 d-flex">
													<span class="head-user-name patientName"></span>
												</div>
												<div
													class="d-flex justify-content-end gap-2 flex-1 flex-wrap">
													<button id="prev3" class="btn m-0 edit-btn"
														onclick="prev3()" type="button">Prev</button>
													<button id="nextBTNs3" class="btn m-0 edit-btn"
														onclick="nextBTNs3()" type="button">Next</button>
													<button id="saveDetails" class="btn m-0 edit-btn"
														onclick="saveDetails()" type="button">Save</button>
												</div>
											</div>
											<div class="card p-2">
												<input type="hidden" id="masterId"> <input
													type="hidden" id="customerId">
												<div id="myGridSecond" style="width: 100%; height: 300px;"
													class="ag-theme-alpine"></div>
												<div class="row mt-2">
													<div class="col-md-12">
														<label for="description">Doctor Notes</label>
														<textarea id="doctNotes" name="doctNotes"
															class="form-control" rows="4"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="labReportsTab" class="tab-pane p-2 h-100 fade">
										<!--<div class="mb-2">
											<table class="table  mb-0" width="100%">
												<tr valign="middle">
													<td width="50%"><strong id="pName"></strong></td>

													<td>
														&lt;!&ndash; <div class="d-flex justify-content-end gap-2">
															<div class="">
																<button id="downloadBtnLabReport" class="btn edit-btn"
																	type="button">Download</button>
															</div>
															<div class="">
																<button id="prev3" class="btn  edit-btn" type="button">Prev</button>
															</div>

														</div>
 &ndash;&gt;
													</td>
												</tr>
											</table>
											<div th:replace="his/lab-test-report :: lab-test-report"></div>
										</div>-->
										<div class="vstack gap-2 h-100">
											<div
												class="hstack w-100 justify-content-between p-2 border rounded">
												<div
													class="project-name flex-column flex-xl-row flex-1 d-flex">
													<span class="head-user-name patientName"></span>
												</div>
												<div
													class="d-flex justify-content-end gap-2 flex-1 flex-wrap">
													<button class="btn m-0 edit-btn invisible" type="button">Space
														Balancer</button>
												</div>
											</div>
											<div class="card p-2">
												<div th:replace="his/lab-test-report :: lab-test-report"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>