<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style type="text/css">
.highcharts-exporting-group {
	display: none;
}

.slidebox {
	padding: 14px;
	margin: 0px 10px;
	position: relative;
	top: 20px;
}

/* .form-group label {
	font-size: 12px;
	position: relative;
	top: 4px;
} */
.holdCls {
	background-color: rgb(0, 143, 0);
}

.bg_white {
	background: #ffffff !important;
}

.textarea {
	border: 1px solid #efeeee;
	background: floralwhite;
	color: #0b0a0b;
	font-size: 16px;
	font-weight: 100;
	width: 100%;
}

.accordion-body {
	padding: 1rem 3.25rem;
}
</style>

<script type="text/javascript">

	$(document).ready(function() {
		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);

		var gridDiv = document.querySelector('#activity');
		new agGrid.Grid(gridDiv, activityOptions);
		$('.loader').show();
		gridOptions.api.setRowData("");
		var type = "unapprove";  
		agGrid.simpleHttpRequest({
		    url: 'audit-plan-view?type=' + type 
		}).then(function(data) {
		    var jsonData = JSON.parse(data.body);  
		    var allData = jsonData.auditPlan;  
		    var len = allData.length;  
		    $('#totalPlan').find('span').html(len);  
		    gridOptions.api.setRowData(allData);  
		});
		$('.loader').hide();
		activityOptions.api.setRowData();
		$('#reqDltBtn').attr('disabled', true);
		$('#assignBtn').attr('disabled', true);
		$('#approveBtn').attr('disabled', true);
		$('#deleteChild').attr('disabled', true);
		$("#emplist").hide();
    	$("#loclist").hide();
       	$("#assigndate").hide();
 	$('.collapse').on('show.bs.collapse', function() {
			$(this).siblings('.panel-heading').addClass('active');
		});

		$('.collapse').on('hide.bs.collapse', function() {
			$(this).siblings('.panel-heading').removeClass('active');
		});
		$("#newBtn").click(function() {

		})

		
		var dateFormat = localStorage.getItem("dateFormat");
$("#DateCalendarAssign").datetimepicker({
	format : dateFormat,
	closeOnDateSelect : true,
	timepicker : false,
}).on("change", function() {
	$('#asdate').val($(this).val());
})

$('#asdate').blur(function() {
	$("#DateCalendarAssign").val($(this).val());
})


var dateFormat = localStorage.getItem("dateFormat");
$("#DateCalendar1").datetimepicker({
	format : dateFormat,
	closeOnDateSelect : true,
	timepicker : false,
}).on("change", function() {
	$('#sdate').val($(this).val());
})

$('#sdate').blur(function() {
	$("#DateCalendar1").val($(this).val());
})

var dateFormat = localStorage.getItem("dateFormat");
		$("#DateCalendar2").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#edate').val($(this).val());
		})

		$('#edate').blur(function() {
			$("#DateCalendar2").val($(this).val());
		})
		
		var dateFormat = localStorage.getItem("dateFormat");
		$("#DateCalendar3").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#pdate').val($(this).val());
		})

		$('#pdate').blur(function() {
			$("#DateCalendar3").val($(this).val());
		})
		var dateFormat = localStorage.getItem("dateFormat");
		
		$("#startDateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#startDate').val($(this).val());
		})

		$('#startDate').blur(function() {
			$("#startDateCalendar").val($(this).val());
		})
		
		
		$("#endDateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#endDate').val($(this).val());
		})

		$('#endDate').blur(function() {
			$("#endDateCalendar").val($(this).val());
		})
		//assign date
		$("#DateCalendar3").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#assignDate').val($(this).val());
		})

		$('#assignDate').blur(function() {
			$("#DateCalendar3").val($(this).val());
		})
		
		
		
		  $('input[name="options"]').on('change', function() {
			    var selectedValue = $('input[name="options"]:checked').val();
			    if(selectedValue=="Employee"){
			    	$("#emplist").show();
			    	$("#loclist").hide();
			    	$("#assetlocation").val("");
			    	$("#assigndate").show();
			    }else if(selectedValue=="Location"){
			    	$("#emplist").hide();
			    	$("#loclist").show();
			    	$("#assetemployee").val("");
			    	s$("#assigndate").show();
			    }
			  });

  
	});
	
	
	
	/* -------------------search bar for mygrid----------------------- */

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
		var totalRowCount = gridOptions.api.getModel().getRowCount();
		$('#totalPlan').find('span').html(totalRowCount);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}
	var columnDefs = [
	    {
	        headerCheckboxSelection: false,
	        headerCheckboxSelectionFilteredOnly: false,
	        checkboxSelection: true,
	        width: 10,
	        sortable: false,
	        filter: false,
	        resizable: true,
	        pinned: 'left'
	    },
	    {
	        headerName: 'Plan ID',
	        field: "planId",
	        pinned: 'left',
	        width: 120,  
		        cellRenderer: function(params) {
					if (params.data.approveStatus=="0") {
						return '<a onclick=editAuditPlan("' + params.data.planId
						+'") href="javascript:void(0)">'
								+ params.data.planId + '  ' + '<i class="bi bi-pencil-square"></i></a>';
					} else {
						return '<a onclick=editAuditPlan("' + params.data.planId
						+'") href="javascript:void(0)">'
								+ params.data.planId + '  ' +'<i class="bi bi-view-list"></i></a>';
					}
	        }
	    },
	    {
	        headerName: 'Audit Type',
	        field: 'auditType',
	        width: 180, 
	        cellStyle: {
	            textAlign: 'center'
	        },
	        valueFormatter: function(params) {
	            const auditTypes = {
	                "2": "Internal Audit",
	                "1": "External Audit"
	            };
	            return auditTypes[params.value] || params.value;
	        }
	    },
	    {
	        headerName: 'Audit Name',
	        field: "auditCategory",
	        width:250
	    },
	    {
	        headerName: 'Audit Location',
	        field: "auditLocation",
	        width:200
	    },
	    {
	        headerName: 'Frequency',
	        field: "frequency",
	        width: 180,
	        cellStyle: {
	            textAlign: 'center'
	        },
	    },
	    {
	        headerName: 'Approve Status',
	        field: "approveStatus",
	        width: 180,
	        cellStyle: {
	            textAlign: 'center'
	        },
	        cellRenderer: function(params) {
	            var status = params.value === 1 ? 'Approved' : 'Pending';
	            var style = params.value === 1 
	                ? 'color: #0642f5; padding: 5px; text-align: center;  #000000; font-size: 14px;' 
	                : 'color: #a9a9a9; padding: 5px; text-align: center;  0px 0px 0px #000000; font-size: 14px;';
	            return '<span style="' + style + '">' + status + '</span>';
	        }
	    }, 
	    {
	        headerName: 'Remark',
	        field: "remark",
	        width: 180  
	    },{
	        headerName: 'Assign Date',
	        field: "assignDate",
	        width: 150 ,
	        hide:true,
	        cellStyle: {
	            textAlign: 'center'
	        },
	    },
	    {

        headerName: 'Start Date',
        field: "startDate",
        hide:true,
        width: 150 ,
        cellStyle: {
            textAlign: 'center'
        },
        
    },{
        headerName: 'End Date',
        field: "endDate",
        hide:true,
        width: 150,
        cellStyle: {
            textAlign: 'center'
        },
    }
	];

var gridOptions = {
	columnDefs : columnDefs,
	rowSelection : 'single',
	groupSelectsChildren : true,
	suppressRowClickSelection : true,
	suppressAggFuncInHeader : true,
	defaultColDef : {
		sortable : true,
		filter : true,
		resizable : true,
		width : 240
	},
	onSelectionChanged : onSelectionChanged,
};
//function for row select parents
var id = "";
var apstatus = "";

function onSelectionChanged() {
	var selectedNodes = gridOptions.api.getSelectedNodes();
	 var selectedData = selectedNodes.map(node => node.data);
	 id= selectedData.map(node => node.planId);
	 apstatus=selectedData.map(node => node.approveStatus);
	var selectedRows = gridOptions.api.getSelectedRows();
	var rowCount = 0;
	selectedRows.forEach(function(i) {
		rowCount = rowCount + 1;
	});

	if (rowCount > 0) {
			if(apstatus=="1"){
			$('#newBtn').attr('disabled', true);
			$('#reqDltBtn').attr("disabled", true);
			$('#approveBtn').attr("disabled", true);
			
			
		}else{
			$('#approveBtn').attr("disabled", false);
			$('#reqDltBtn').attr("disabled", false);
			$('#newBtn').attr('disabled', true);
		}
	}else {
		$('#reqDltBtn').attr("disabled", true);
		$('#approveBtn').attr("disabled", true);
		$('#newBtn').attr('disabled', false);
	}
}
// for activity table
var activityDefs = [
    {
        headerCheckboxSelection: true,
        headerCheckboxSelectionFilteredOnly: true,
        checkboxSelection: true,
        sortable: false,
        filter: false,
        resizable: true,
        width: 30,
        pinned: 'left'
    },
    {
        headerName: "Policy Id",
        field: "planid",
        hide: true,
        pinned: 'left',
        flex:1,  
        cellRenderer: function(params) {
            return '<a onclick=editRow("' + params.data.parameterId + '") href="javascript:void(0)">' +
                params.data.parameterId + '</a>';
        }
    },
    {
        headerName: "Sl. No.",
        field: "taskName",
        flex:1,  
    },
    {
        headerName: "Checklist Name",
        field: "taskDescription",
        flex:2, 
    },
    {
        headerName: "Priority",
        field: "taskPriority",
        cellStyle: {
            textAlign: 'center'
        },
        flex:1, 
    },
    {
        headerName: "Record",
        field: "record",
        cellStyle: {
            textAlign: 'center'
        },
        flex:1, 
    },
    {
        headerName: "Reference",
        field: "reference",
        cellStyle: {
            textAlign: 'center'
        },
        flex:1, 
    }
];

 
var activityOptions = {
	columnDefs : activityDefs,
	rowSelection : 'single',
	groupSelectsChildren : true,
	suppressRowClickSelection : true,
	suppressAggFuncInHeader : true,
	defaultColDef : {
		sortable : true,
		filter : true,
		resizable : true,
		width : 240
	},
	onSelectionChanged : onSelectionChangeChild,

};
//function for row select parents
var childid = "";
function onSelectionChangeChild() {
	 var selectedNodes = activityOptions.api.getSelectedNodes();
	 var selectedData = selectedNodes.map(node => node.data);
	 childid= selectedData.map(node => node.slnoId);
	var selectedRows = activityOptions.api.getSelectedRows();
	var rowCount = 0;
	selectedRows.forEach(function(i) {
		rowCount = rowCount + 1;
	});
	if (rowCount > 0) {
		$('#newchild').attr('disabled', true);
		$('#deleteChild').attr('disabled', false);
		
	}else{
		$('#newchild').attr('disabled', false);
		$('#deleteChild').attr('disabled', true);
	}
}

//parents new plan
function newPlan() {
	$('#uomDiv').hide();
	$('#minRangeDiv').hide();
	$('#maxRangeDiv').hide();
	$("#save").show();
	$("#catid").prop('disabled', false);
	$("#assetsubcat").prop('disabled', false);
	$("#frequency").prop('disabled', false);
	$("#assetsubcat").html('');
	$("#policybox").html('');
	 $("#planid").val('');
	$("#auditTypeId").val('');
	$("#auditCatId").val('');
	$("#auditAreaOrProject").val('');
	$("#startDate").val('');
	$("#endDate").val('');
	$("#assignDate").val('');
	$("#remark").val('');
	$("#myGrid").hide();
	$("#reqTable").hide();
	$(".btn-hs").show();
	$("#btndiv").hide();
	$("#listdiv").hide();
	$("#totalPlan").hide();
	$("#searchRowDiv").hide();
	$("#ttbtn").hide();
	$("#demo").show();
	$("#deleteChild").attr('disabled', true);
	$("#newchild").attr('disabled', false);
	activityOptions.api.setRowData();
	closeNav();
}
//function for cancel
function cancel() {
	$('.loader').show();
	 $(".formValidation").remove();
		$("#totalPlan").show();
		$("#searchRowDiv").show();
		$(".btn-hs").show();
		$("#myGrid").show();
		$("#demo").hide();
		$("#reqDltBtn").attr('disabled', true);
		$("#newBtn").attr('disabled', false);
		var type = "unapprove";  
		agGrid.simpleHttpRequest({
		    url: 'audit-plan-view?type=' + type 
		}).then(function(data) {
		    var jsonData = JSON.parse(data.body);  
		    var allData = jsonData.auditPlan;  
		    var len = allData.length;  
		    $('#totalPlan').find('span').html(len);  
		    gridOptions.api.setRowData(allData);  
		});
		$("#catid").val('');
		$("#assetsubcat").val('');
		$("#frequency").val('');
		closeNav();
		$('.loader').hide();
	}
// function for openNav child	
function openNav() {
	$('#record').val('');
	$('#reference').val('');
	$("#taskName").val('');
	$("#priority").val('');
	$("#description").val('');
	$("#rowEdit").val(null);
	document.getElementById("mySidenav").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto; top:249px;";
	document.getElementById("main").style.width = "75%";
}
//function for closeNav child
function closeNav() {
	document.getElementById("mySidenav").style.width = "0";
	document.getElementById("main").style.width = "100%";
	$("#taskName").val('');
	$("#priority").val('');
	$("#description").val('');
	$('#record').val('');
	$('#reference').val('');
	$("#rowEdit").val(null);
}
//master save data
function masterSaveData() {
	$(".formValidation").remove();
	var valid= true;
	var datas = [];
	var checkList = [];
	var item = {};
	var itemP = {};
	
	item.planId=$("#planid").val();
	item.auditTypeId = $("#auditTypeId").val();
	item.catid = $("#auditCatId").val();
	item.auditLocation = $("#auditAreaOrProject").val();
	item.startDate = $("#startDate").val();
	item.endDate = $("#endDate").val();
	item.frequency = $("#frequency").val();
	item.assignDate = $("#assignDate").val();
	item.remark = $("#remark").val();
	
	
	if (item.auditTypeId == null || item.auditTypeId == "") {
		valid = validationUpdated("Audit Type is Required", "auditTypeId");
	 }
	if (item.catid == null || item.catid == "") {
		valid = validationUpdated("Audit Category  is Required", "auditCatId");
	 }
	if (item.auditLocation == null || item.auditLocation == "") {
		valid = validationUpdated("Audit Location  is Required", "auditAreaOrProject");
	 }
	if (item.frequency == null || item.frequency == "") {
		valid = validationUpdated("Frequency is Required", "frequency");
	 }
	/* if (item.startDate == null || item.startDate == "") {
		valid = validationUpdated("Start Date is Required", "startDate");
	 }
	if (item.endDate == null || item.endDate == "") {
		valid = validationUpdated("End Date is Required", "endDate");
	 }
	if (item.assignDate == null || item.assignDate == "") {
		valid = validationUpdated("End Date is Required", "assignDate");
	 } */
	/* if (item.remark == null || item.remark == "") {
		valid = validationUpdated("End Date is Required", "remark");
	 } */
	
	var rowCount = activityOptions.api.getDisplayedRowCount();
	if(rowCount > 0){
	activityOptions.api.forEachNode(function(rowNode, index) {
		itemP = rowNode.data;
		checkList.push(itemP);

	});
	if (valid) {
		item.checkList = checkList;
		datas.push(item);
		savePlanDetails(datas);
		
		}
	} else {
		$("#messageParagraph").text(
		"Please Add Atleast Plan Detail");
		$("#msgOkModal").removeClass("btn3");
		$("#msgOkModal").addClass("btn1");
		$("#msgModal").modal('show');
	}
}

function savePlanDetails(datas) {
	 
	$('.loader').show();
	  $.ajax({
		type : "POST",
		url : "audit-plan-add",
		dataType : "json",
		contentType : "application/json",
		data : JSON.stringify(datas),
		success : function(response) {
			$('.loader').hide();
			var itemName = $("#itemname option:selected").text();
			if (response.code == "success") {
				cancel()
				$("#messageParagraph").text(response.message);
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				var type = "unapprove";  
				agGrid.simpleHttpRequest({
				    url: 'audit-plan-view?type=' + type 
				}).then(function(data) {
				    var jsonData = JSON.parse(data.body);  
				    var allData = jsonData.auditPlan;  
				    var len = allData.length;  
				    $('#totalPlan').find('span').html(len);  
				    gridOptions.api.setRowData(allData);  
				});
				
			} else {
				$('.loader').hide();
				$("#messageParagraph").text("Something Went Wrong");
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				
				$("#itemid").val('');
				$("#itemname").val('');
				$("#description").val('');
				activityOptions.api.setRowData();
			}
		},
		error : function(data) {
			$('.loader').hide();
		}
	}) 

}
// save data in aggrid table sidenav save

function saveTableData() {
  var datas = [];
  var item = {};
  var valid = true;
  var rowEdit = $("#rowEdit").val();
  var found = false;

  activityOptions.api.forEachNode(function(rowNode, index) {
    var iid = rowNode.data.parameterId;
 
    datas.push(rowNode.data);
  });

  if (!found) {
    item.taskName = $("#taskName").val();
    item.taskPriority = $("#priority").val();
    item.taskDescription = $("#description").val();
    item.record =$('#record').val();
	item.reference =$('#reference').val();
	
    if (item.taskName == null || item.taskName == "") {
		valid = validationUpdated("Sl. No. is Required", "taskName");
	 }
	if (item.priority == null || item.priority == "") {
		valid = validationUpdated("Priority is Required", "priority");
	 }
	if (item.description == null || item.description == "") {
		valid = validationUpdated("Check List Name is Required", "description");
	 }
	if (item.record == null || item.record == "") {
		valid = validationUpdated("Record is Required", "record");
	}
	if (item.reference == null || item.reference == "") {
		valid = validationUpdated("Reference is Required", "reference");
	}

	
    if (valid) {
      if (rowEdit) {
        activityOptions.api.forEachNode(function(rowNode, index) {
          var iid = rowNode.data.parameterId;
          if (iid == rowEdit) {
            rowNode.setData(item);
            return;
          }
        });
        closeNav();
      } else {
        var rowCount = activityOptions.api.getDisplayedRowCount();
        if (rowCount > 0) {
          var foundId = false;
          
          if (!foundId) {
            datas.push(item);
          }
        } else {
          datas = [item];
        }
        activityOptions.api.setRowData(datas);
        closeNav();
      }
    } else {
      $("#mySidenav").show();
    }
  }
}

	// for editing child table of shift 
	function editRow(parameterId,parameterName,record,reference) {
		var rowNode = activityOptions.api.getRowNode(parameterId);
		openNav();
		$("#rowEdit").val(parameterId);
		$("#parameterId").val(rowNode.data.parameterId);
		$("#parameterName").val(rowNode.data.parameterId);
		$("#record").val(rowNode.data.record);
		$("#reference").val(rowNode.data.reference);
	}
	 
	function editAuditPlan(planId) {
	    $('.loader').show();
	    agGrid.simpleHttpRequest({
	        url: 'audit-plan-edit?id=' + planId
	    }).then(function(data) {
	        var jsonData = JSON.parse(data.body);
	        var allData = jsonData.auditPlan;
	        var allData1 = allData[0].planDetailsList;
	        
	        $("#myGrid").hide();
	        $("#demo").show();
	        $("#planid").val(allData[0].planId);
	        
	        var auditTypeData = allData[0].auditType.trim();
	        var auditCatData = allData[0].auditCategory.trim();
	        var auditLocation = allData[0].auditLocation.trim();
	        
	        $("#auditTypeId").val(auditTypeData);
	        $("#auditCatId").val(auditCatData);
	        $("#auditAreaOrProject").val(auditLocation);
	        
	     
	        $("#startDate").val(allData[0].startDate);
	        $("#endDate").val(allData[0].endDate);
	        $("#assignDate").val(allData[0].assignDate);
	        $("#frequency").val(allData[0].frequency);
	        $("#remark").val(allData[0].remark);
	        $("#policybox").html(allData[0].planId);
	        
	       
	        activityOptions.api.setRowData(allData1);
	        
	    
	        if(allData[0].approvests == 1) {
	            $("#catid").prop('disabled', true);
	            $("#assetsubcat").prop('disabled', true);
	            $("#frequency").prop('disabled', true);
	            $("#save").hide();
	        } else {
	            $("#catid").prop('disabled', false);
	            $("#assetsubcat").prop('disabled', false);
	            $("#frequency").prop('disabled', false);
	            $("#save").show();
	        }
	        
	        
	        $("#tdiv").hide();
	        $("#searchRowDiv").hide();
	        $("#totalPlan").hide();
	        $("#ttbtn").hide();
	        
	        
	        $('.loader').hide();
	    });
	}


 
function deleteOnclick() {
	
		if (id) {
			$('.loader').show();
				$.ajax({
		type : "POST",
		url : "audit-plan-delete?id="+ id,
		success : function(response) {
		 if (response.code == "success") {
			 cancel();
				$("#messageParagraph").text("Plan deleted Successfully");
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				$('#delete').modal('hide');
				var type = "unapprove";  
				agGrid.simpleHttpRequest({
				    url: 'audit-plan-view?type=' + type 
				}).then(function(data) {
				    var jsonData = JSON.parse(data.body);  
				    var allData = jsonData.auditPlan;  
				    var len = allData.length;  
				    $('#totalPlan').find('span').html(len);  
				    gridOptions.api.setRowData(allData);  
				});
				$('.loader').hide();
			} else {
				$("#messageParagraph").text("Something went to wrong!");
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				$('.loader').hide();
			}
		},
		error : function(data) {
		}
	})
		} else {
			$('.loader').hide();
			$("#alert").modal('show');
			document.getElementById("textId").innerHTML = "Please Select Atleast one Record !";
		}

}

//function for approve asset  
function approveOnclick() {
		if (id) {
			$('.loader').show();
				$.ajax({
		type : "POST",
		url : "audit-plan-approve?id="+ id,
		success : function(response) {

		 if (response.code == "success") {
				$("#messageParagraph").text("Plan Approved Successfully");
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				$('#approveModal').modal('hide');
				var type = "unapprove";  
				agGrid.simpleHttpRequest({
				    url: 'audit-plan-view?type=' + type 
				}).then(function(data) {
				    var jsonData = JSON.parse(data.body);  
				    var allData = jsonData.auditPlan;  
				    var len = allData.length;  
				    $('#totalPlan').find('span').html(len);  
				    gridOptions.api.setRowData(allData);  
				});
				$('.loader').hide();
				
				$("#newBtn").attr("disabled",false);
				$("#approveBtn").attr("disabled",true);
				$("#reqDltBtn").attr("disabled",true);
			} else {
				$('.loader').hide();
				$("#messageParagraph").text("Something went to wrong!");
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
			}
		},
		error : function(data) {

		}
	})
		} else {
			$('.loader').hide();
			$("#alert").modal('show');
			document.getElementById("textId").innerHTML = "Please Select Atleast one Record !";
		}

}

	// delete selected record from child ag grid
	function deleteDetailsOnclick() {
		$('.modal').hide();
		var selectedRows = activityOptions.api.getSelectedRows();
		activityOptions.api.applyTransaction({
			remove : selectedRows
		});
		cancelModalProductBtn();
	}
	//for closeing modal box for dlt  product
	function cancelModalProductBtn() {
		$("#deleteModalBtn").removeAttr("disabled");
		$('#deleteDetails').modal('hide');
	}

	function deleteFun() {
		$('#delete').modal('show');
	}
	function approveFun() {
		$('#approveModal').modal('show');
	}

	function deleteDetails() {
		$('#deleteDetails').modal('show');
		closeNav();
	}

	function cancelModalBtn() {
		$("#deleteModalBtn").removeAttr("disabled");
		$("#assignsuccessModal").removeAttr("disabled");
	}
//function for download
function downloadDetails() { 
	var dataset = [];
	gridOptions.api.forEachNodeAfterFilterAndSort(function(rowNode, index) {
		dataset.push(rowNode.data);
	});
    gridOptions.api.exportDataAsCsv(dataset);
}


function getParameterId(){
	var parameterId= $("#parameterName").val();
	$("#parameterId").val(parameterId);
}

function getItemid(){
	var parameterId= $("#itemname").val();
	$("#itemid").val(parameterId);
}
	function cancelModalBtn() {
		$('#myModal').modal('hide');

	}
	
	function getsubcategory(){
		var catid=$("#catid").val();
		var options='<option value="">Select</option>';
		if(catid!="" && catid!=null){
		agGrid.simpleHttpRequest(
				{
					url : 'asset-policy-subcategory?id='+ catid
				}).then(function(data) {
					var jsonData = JSON.parse(data.body);
					var allData=jsonData.Asset;
					 allData.forEach(function(rowNode){

						options += '<option value="'+rowNode.subcatid+'">'+rowNode.subcatname+'</option>';
						  });
					 $("#assetsubcat").html(options);
				});
		}else{
			$("#assetsubcat").html(options);
		}

	}
 
	function taskTypeChange(){
		if($("#taskType").val()=="Quantitative"){
			$('#uomDiv').show();
			$('#minRangeDiv').show();
			$('#maxRangeDiv').show();
		}else{
			$('#uomDiv').hide();
			$('#minRangeDiv').hide();
			$('#maxRangeDiv').hide();
		}
	}
	function dateChange() {   
		var fromdate = $('#startDate').val();
		var todate = $('#endDate').val();
		var fd = fromdate.split("-");
		var td = todate.split("-");
		if (fromdate != '' && todate != '') {
			if (fd[2] == td[2]) {
				if (fd[1] == td[1]) {
					if (fd[0] <= td[0]) { 
						
					} else {
						setFromToDate();
					}
				} else if (fd[1] < td[1]) { 
				} else {
					setFromToDate();
				}

			} else if (fd[2] < td[2]) { 
				
			} else {
				setFromToDate();
			}
		} else {

		}
	}
	function setFromToDate() {
		$("#messageParagraph").text(
				"Please choose to date greater than or equal to from date ");
		$("#msgOkModal").removeClass("btn3");
		$("#msgOkModal").addClass("btn1");
		$("#msgModal").modal('show');
		$("#startDate").val("");
		$("#endDate").val(""); 
	} 
</script>

</head>
<body>

	<div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">

						<div class="d-flex justify-content-between" id="tdiv">
							<div class="btn-hs">
								<div class="font-design" id="totalPlan">
									Plan List(<span></span>)
								</div>
							</div>
							<div id="searchRowDiv">
								<div class="input-style">
									<input type="text" placeholder="Search.." name="search"
										class="searchboxinput" onkeyup="cancelBar()"
										oninput="onQuickFilterChanged()" id="quickFilter"
										autocomplete="off">
									<div class="searchicon">
										<a href="javascript:void(0)"><span
											style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
											id="closeKey"
											onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';$('#totalPlan').find('span').html(gridOptions.api.getModel().getRowCount());"
											class="close_i"><i class="ti-close srchicon"></i></span></a><a
											href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
									</div>
								</div>
							</div>
							<div class="buttonsec btn-hs" id="ttbtn">
								<!--  <button class="download-btn" id="download"
									onclick="downloadDetails()">Download</button> -->
								<button class="new-btn" id="approveBtn" onclick="approveFun()">APPROVE</button>
								<button class="delete-btn" id="reqDltBtn" onclick="deleteFun()">DELETE</button>
								<button class="new-btn" id="newBtn" onclick="newPlan()">NEW</button>
							</div>
						</div>

						<input type="hidden" id="sessionId" th:value="${userId}" /> <input
							type="hidden" id="sessionName" th:value="${userName}" /> <input
							type="hidden" id="hrRole" th:value="${hrRole}" /> <input
							type="hidden" id="sessionRole" th:value="${userRole}" /> <input
							type="hidden" id="adRole" th:value="${adRole}" />
						<div id="myGrid" style="width: 100%; height: 500px;"
							class="ag-theme-alpine"></div>

						<div class="collapse" id="demo">
							<div class="innercontent">
								<div class="innerstickybg">
									<div class="row">

										<div class="col-md-6">
											Plan Id: <span id="policybox"></span>
										</div>

										<div class="col-md-6" align="right">
											<button class="cancel-btn" id="cancelBtn" onclick="cancel()">Cancel</button>
											<button class="approve-btn" id="save"
												onclick="masterSaveData()">Save</button>
										</div>
									</div>

								</div>
								<div class="row innersticky_contentgap">
									<input type="hidden" id="planid">

									<div class="col-lg-4">
										<div class="form-group ">
											<label> Audit Type</label>
											<div class="select">
												<select class="" id="auditTypeId"
													onchange="showAuditorList('internalAuditorList','externallAuditorList', this.value);">
													<option value="">Select</option>
													<option th:each="c,iter:${auditType}" th:value="${c.key}"
														th:text="${c.name}"></option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label> Audit Category</label>
											<div class="select">
												<select class="" id="auditCatId">
													<option value="">Select</option>
													<option th:each="c,iter:${auditTypeWiseAuditCategory}"
														th:value="${c.key}" th:text="${c.name}"></option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label>Audit Area/Locationt</label>
											<div class="select">
												<select class="" id="auditAreaOrProject">
													<option value="">Select</option>
													<option th:each="c:${ProjectList}" th:value='${c.key}'
														th:text="${c.name}"></option>
												</select>
											</div>
										</div>
									</div>
									<!-- <div class="col-lg-2">
										<div class="form-group calendar_box">
											<label>Start Date</label> <input type="text" id="startDate"
												placeholder="Start Date" class="form-control"
												th:attr="onkeyup=|formatDate('startDate','${session.DATEFORMAT_JS}')|"
												readonly> <i class="ti-calendar picker_calendar"
												id="startDateCalendar" onchange="dateChange()"></i>
										</div>
									</div> -->
									<!-- <div class="col-lg-2">
										<div class="form-group calendar_box">
											<label>End Date</label> <input type="text" id="endDate"
												placeholder="End Date" class="form-control"
												th:attr="onkeyup=|formatDate('endDate','${session.DATEFORMAT_JS}')|"
												readonly> <i class="ti-calendar picker_calendar"
												id="endDateCalendar" onchange="dateChange()"></i>
										</div>
									</div> -->
									<div class="col-md-2">
										<div class="form-group">
											<label> Frequency </label>
											<div class="select">
												<select id="frequency">
													<option value="">Select</option>
													<option value="Yearly">Yearly</option>
													<option value="Half-Yearly">Half-Yearly</option>
													<option value="Quarterly">Quarterly</option>
													<option value="Monthly">Monthly</option>
													<option value="Weekly">Weekly</option>
													<option value="Daily">Daily</option>
													<option value = "Adhoc">Adhoc</option>
												</select> <span class="focus"></span>
											</div>
										</div>
									</div>
									<!-- <div class="col-lg-2">
										<div class="form-group calendar_box">
											<label>Assign Date</label> <input type="text" id="assignDate"
												class="form-control" onblur="removeValid(event)"
												th:attr="onkeyup=|formatDate('date','${session.DATEFORMAT_JS}')|"
												readonly> <i class="ti-calendar picker_calendar"
												id="DateCalendar3"></i>
										</div>
									</div> -->
									<div class="col-lg-4">
										<div class="form-group">
											<label>Remarks</label>
											<textarea class="textarea" id="remark"
												placeholder="Enter Remark" onblur="removeValid(event)"></textarea>
										</div>
									</div>

									<div id="main" class="mt-4">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingOne">
												<button class="accordion-button" type="button"
													data-bs-toggle="collapse" data-bs-target="#collapseOne"
													aria-expanded="false" aria-controls="collapseOne">
													Check List Details</button>
											</h2>

											<div id="collapseOne"
												class="accordion-collapse collapse show"
												aria-labelledby="headingOne"
												data-bs-parent="#accordionExample">
												<div class="accordion-body">

													<div id="mySidenav" class="sidenav">
														<div class="slidebox">
															<div class="row">
																<div class="col-md-10 edit">Check List Details</div>
																<div class="col-md-2">
																	<div class="arrow">
																		<a href="javascript:void(0)" class="closebtn"
																			onclick="closeNav()"><i class="ti-arrow-right"></i></a>
																	</div>
																</div>
															</div>
															<div style="clear: both;"></div>
															<div class="chartbtnsec">
																<div align="right">
																	<button class="cancel-btn" onclick="closeNav()">CANCEL</button>
																	<button class="approve-btn" id="save1"
																		onclick="saveTableData()">SAVE</button>
																</div>

															</div>
															<div class="clearfix"></div>
															<div class="row">
																<div class="col-lg-12">
																	<div class="form-group">
																		<input type="hidden" class="form-control" id="rowEdit">
																	</div>
																</div>
																<div class="col-lg-12">
																	<div class="form-group">
																		<label>Sl. No.</label> <input type="text"
																			class="form-control transparenttxtbox" id="taskName"
																			onblur="removeValid(event)">
																	</div>
																</div>

																<div class="col-lg-12">
																	<div class="form-group">
																		<label>Priority </label>
																		<div class="select">
																			<select id="priority">
																				<option value="">Select</option>
																				<option th:each="c:${prioLists}"
																					th:value='${c.name}' th:text="${c.name}"></option>
																			</select> <span class="focus"></span>
																		</div>
																	</div>
																</div>
																<div class="col-lg-12">
																	<div class="form-group">
																		<label>Check List Name</label> <input type="text"
																			class="form-control transparenttxtbox"
																			id="description" onblur="removeValid(event)">
																	</div>
																</div>
																
																<div class="col-lg-12">
																	<div class="form-group">
																		<label>Record</label> <input type="text"
																			class="form-control transparenttxtbox" id="record"
																			onblur="removeValid(event)" Autocomplete="off">
																	</div>
																</div>
																<div class="col-lg-12">
																	<div class="form-group">
																		<label>Reference</label> <input type="text"
																			class="form-control transparenttxtbox" id="reference"
																			onblur="removeValid(event)" Autocomplete="off">
																	</div>
																</div>



															</div>
														</div>
													</div>


													<div class="row">
														<div class="col-md-12 buttonsec btn-hs">
															<button class="delete-btn" id="deleteChild"
																onclick="deleteDetails()">DELETE</button>
															<button class="new-btn" id="newchild" onclick="openNav()">NEW</button>
														</div>
														<div id="activity" style="width: 100%; height: 200px;"
															class="ag-theme-alpine"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>


					<!-- delete modal start -->
					<div id="delete" class="modal fade show" aria-modal="true">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column"></div>
								<div class="modal-body">
									<p>Do you really want to delete these data? This process
										cannot be undone.</p>
								</div>
								<div class="modal-footer justify-content-center"
									style="margin-top: 0px;">

									<button type="button" class="cancel-btn"
										data-bs-dismiss="modal" onclick="cancelModalBtn();">Cancel</button>
									<button type="button" class="delete-btn"
										onclick="deleteOnclick()">Delete</button>
								</div>
							</div>
						</div>
					</div>


					<!-- approve modal start -->
					<div id="approveModal" class="modal fade show" aria-modal="true">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column"></div>
								<div class="modal-body">
									<p>Do you want to approve this plan? Once done you will not
										be able to make further changes.</p>
								</div>
								<div class="modal-footer justify-content-center"
									style="margin-top: 0px;">

									<button type="button" class="cancel-btn"
										data-bs-dismiss="modal" onclick="cancelModalBtn();">Cancel</button>
									<button type="button" class="new-btn"
										onclick="approveOnclick()">Approve</button>
								</div>
							</div>
						</div>
					</div>



					<!-- assign success modal start -->
					<div id="assignsuccessModal" class="modal fade show"
						aria-modal="true">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column"></div>
								<div class="modal-body">
									<p>Asset Successfully Assigned</p>
								</div>
								<div class="modal-footer justify-content-center"
									style="margin-top: 0px;">

									<button type="button" class="cancel-btn"
										data-bs-dismiss="modal" onclick="cancelModalBtn();">Close</button>
									<button type="button" class="new-btn"
										onclick="goTOAssignedAsset()">View</button>
								</div>
							</div>
						</div>
					</div>

					<!-- delete product modal start -->
					<div id="deleteDetails" class="modal fade show" aria-modal="true">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column"></div>
								<div class="modal-body">
									<p>Do you really want to delete these data? This process
										cannot be undone.</p>
								</div>
								<div class="modal-footer justify-content-center"
									style="margin-top: 0px;">

									<button type="button" class="cancel-btn"
										data-bs-dismiss="modal" onclick="cancelModalBtn();">Cancel</button>
									<button type="button" class="delete-btn"
										onclick="deleteDetailsOnclick()">Delete</button>
								</div>
							</div>
						</div>
					</div>
					<!-- alert modal start -->
					<div id="alert" class="modal fade show" aria-modal="true">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column">
									<button type="button" class="close" data-bs-dismiss="modal"
										aria-hidden="true" onclick="cancelModalBtn()">
										<i class="ti-close modal-close"></i>
									</button>
								</div>
								<div class="modal-body">
									<p id="textId"></p>
								</div>
								<div class="modal-footer justify-content-center"
									style="margin-top: 0px;">

									<button type="button" class="btn1" data-bs-dismiss="modal">SELECT</button>
									<button type="button" class="btn3" onclick="deleteOnclick()">Delete</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>