<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<style>
.agGridname {
	text-align: center;
	padding-top: 17px;
	font-size: 20px;
	font-weight: 600;
}

#remarks {
	margin-bottom: 40px;
}

.mygrid2 {
	margin-bottom: 20px;
}

.gridStyle {
	padding: 0px 16px;
}

.ag-header-row{
    background: linear-gradient(45deg, #011749, #0c40b6, #5885de) !important;
    color: white!important;
    border: none;

}

.ag-header-group-text{

text-align: center;
    width: 100%;
}

#monthParentDiv,#yearParentDiv{

display:none;
}
.custom-numeric-cell{
	width: 100%;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
	$(document).ready(function() {
		
		$("#headingItem").hide();
		$("#innerDiv").hide();

		var gridDiv1 = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv1, gridOptions);

		var gridDiv2 = document.querySelector('#monitorGrid1');
		new agGrid.Grid(gridDiv2, gridOptionsMonitor1);
		
		gridOptions.api.setRowData("");
		
		
		$('#reqDltBtn').attr('disabled', true);
		
		$('#delete').modal('hide');
		agGrid.simpleHttpRequest({
			url : 'dcaMonitor-report-view'
		}).then(function(data) {
			var jsonData = JSON.parse(data.body);
			var allData=jsonData.NoiseMonitor;
			console.log(allData)
			var len = allData.length;
			 $('#totalReq').find('span').html(len);
			gridOptions.api.setRowData(allData);
		});

		var data = [];
		gridOptions.api.setRowData(data);

		var dateFormat = localStorage.getItem("dateFormat");
		$("#fromDateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false
		}).on("change", function() {
			$('#date').val($(this).val());
		})

		$('#date').blur(function() {
			$("#fromDateCalendar").val($(this).val());
		})
		
		
			
	let dateDropdown = document.getElementById('date');

    let currentYear = new Date().getFullYear();
    let earliestYear = 1970;

 /*    while (currentYear >= earliestYear) {
      let dateOption = document.createElement('option');
      dateOption.text = currentYear;
      dateOption.value = currentYear;
      dateDropdown.add(dateOption);
      currentYear -= 1;
    } */
		
    
    
 var currentDate = new Date();
    
    var currentMonth = currentDate.getMonth(); 
    
    var currentYear2 = currentDate.getFullYear();
    
    var monthNames = ["January", "February", "March", "April", "May", "June",
                      "July", "August", "September", "October", "November", "December"];
    var formattedDate = monthNames[currentMonth - 1] + '-' + currentYear2.toString().slice(-2);
    
  /*   $("#month").val(monthNames[currentMonth]);
    $("#date").val(currentYear2);
     */
    
    
    
    $("#toDateCalendar").datetimepicker('destroy').datetimepicker({
        format: 'd-m-Y',  
        closeOnDateSelect: true,
        timepicker: false,
    }).on("change", function() {

        var selectedDate = $(this).val();
        var dateParts = selectedDate.split("-");  
        
        var day = dateParts[0];    
        var month = dateParts[1];  
        var year = dateParts[2];   
        
    
        
        $('#fromDate').val(selectedDate);  
        $("#month").val(monthNames[month -1]);   
        $("#date").val(year);     
    });

    $('#fromDate').blur(function() {
        $("#toDateCalendar").val($(this).val());
    });
		

	});
	
	function onQuickFilterChanged() {
		gridOptions.api.setQuickFilter(document.getElementById('quickFilter').value);
		var totalRowCount = gridOptions.api.getModel().getRowCount();
		$('#totalReq').find('span').html(totalRowCount);
	}
	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";
		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}
	/*
	 Event Activity
	 */
	var columnDef = [
			{
				headerCheckboxSelection : true,
				headerCheckboxSelectionFilteredOnly : true,
				checkboxSelection : true,
				width : 10,
				sortable : false,
				filter : false,
				resizable : true

			},
			{
				headerName : "Report Id",
				field : "noiseId",
				width : 180,
				cellRenderer : function(params) {
					return '<a onclick=editPage("'
					+ params.data.noiseId
					+ '") href="javascript:void(0)">'
					+ params.data.noiseId + ' <i class="fa fa-edit"></i></a>';
				}
			}, {
				headerName : 'Month',
				field : "noiseMonth",
				width : 190,
			}, {
				headerName : 'Year',
				field : "noiseDate",
				width : 190,
			}, {
				headerName : 'Remarks',
				field : "remark",
				width : 180,
				cellStyle : {
					textAlign : 'center'
				},
			},
			{
				headerName : 'Created On',
				field : "createdOn",
				width : 180,
				cellStyle : {
					textAlign : 'center'
				},
			},
			{
				headerName : 'Created By',
				field : "createdBy",
				width : 185,
				cellStyle : {
					textAlign : 'center'
				},
			},
			{
				headerName : 'REPORT pdf',
				field : "downloaddoc",
				cellStyle : {
					textAlign : 'center'
				},  cellRenderer: function(params) {
		            return '<a onclick="reportDownload(\'' + params.data.noiseId + '\', \'' + params.data.noiseMonth + '\', \'' + params.data.noiseDate + '\')" href="javascript:void(0)">' +
	                   '<i class="bi bi-cloud-download"></i> Download</a>';
	        }}];
	var gridOptions = {
		columnDefs : columnDef,
		rowSelection : 'single',
		groupSelectsChildren : true,
		suppressRowClickSelection : true,
		suppressAggFuncInHeader : true,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 210,
			height : 10
		},
		onSelectionChanged : onSelectionChanged,
	};
	
	
	var id = "";

	function onSelectionChanged() {
		var selectedNodes = gridOptions.api.getSelectedNodes();
		 var selectedData = selectedNodes.map(node => node.data);
		 
		 id= selectedData.map(node => node.noiseId);
		var selectedRows = gridOptions.api.getSelectedRows();
		var rowCount = 0;
		selectedRows.forEach(function(i) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			
				$('#new').attr('disabled', true);
				$('#reqDltBtn').attr('disabled', false);
		}else {
			
			$('#new').attr('disabled', false);
			$('#reqDltBtn').attr('disabled', true);
		}
	}

	/* Monitor Grid1*/
	var columnDefMonitor1 = [ {
		headerCheckboxSelection : false,
		headerCheckboxSelectionFilteredOnly : false,
		checkboxSelection : false,
		width : 0,
		sortable : false,
		filter : false,
		resizable : true,
		pinned: 'left',

	}, {
		headerName : "Name",
		field : "empId",
		width : 180,
		pinned: 'left',
	}, {
		headerName : 'Designation',
		field : "designation",
		width :	180,
		pinned: 'left',
	},
	 ...getMonthColumns(),
	 {
		headerName : 'Total Deep compliance alloted',
		field : "totaldeepcompliance",
		width : 180,
		 editable: true
	},
	 {
		headerName : 'Deep Compliance covered',
		field : "deepcompliance",
		width : 180,
		cellEditor: NumericCellEditor ,
		editable: true
		
	},
	 {
		headerName : '% Compliance status',
		field : "compliancestatus",
		width : 180,
		 editable: false,
		 
	}
	];
	
	var gridApi;
	var gridOptionsMonitor1 = {
		columnDefs : columnDefMonitor1,
		rowSelection : 'multiple',
		groupSelectsChildren : true,
		suppressRowClickSelection : true,
		suppressAggFuncInHeader : true,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 210,
			height : 10,
			singleClickEdit : true,
			stopEditingWhenCellsLoseFocus : true
		},
		onCellValueChanged: function(event) {
	        var rowData = event.data;

	        if(parseInt(rowData.deepcompliance) > parseInt(rowData.totaldeepcompliance)){
	        	
	        	 rowData[event.colDef.field] = event.oldValue;

		         event.api.applyTransaction({ update: [rowData] });
	        	
		         Swal.fire({
		        	  icon: "error",
		        	  title: "Oops...",
		        	  text: "Deep Compliance covered cannot be greater than Total Deep compliance alloted!"
		        	});
	        }
	        else{
	        	 if (parseInt(rowData.totaldeepcompliance) > 0) {
	        		 
	        				console.log("in if clause")
	        				
	        				var complianceValue = ((parseInt(rowData.deepcompliance) / parseInt(rowData.totaldeepcompliance)) * 100).toFixed(2) + "%";
	        				
	        				console.log("complianceValue-->",complianceValue);
	        				if(complianceValue != "NaN%" ){
	        					
		                rowData.compliancestatus = ((parseInt(rowData.deepcompliance) / parseInt(rowData.totaldeepcompliance)) * 100).toFixed(2) + "%";
	        				}
	        				else{
	        					 rowData.compliancestatus = "";
	        				}
		            } else {
		                rowData.compliancestatus = "0%"; 
		            }
	        	 
	        	 event.api.applyTransaction({ update: [rowData] });
	        	 
	        	 
	             updateTotalRow(event.api);


	        }
	    },
	    onGridReady: function(params) {
	        updateTotalRow(params.api);
	        gridApi = params.api;
	    }
    
	};
	
	function NumericCellEditor() {}
	NumericCellEditor.prototype.init = function(params) {
	    this.eInput = document.createElement('input');
	    this.eInput.type = 'number';
	    this.eInput.value = params.value || '';
	    this.eInput.classList.add('custom-numeric-cell'); // Optional: To match ag-grid styling
	};
	NumericCellEditor.prototype.getGui = function() {
	    return this.eInput;
	};
	NumericCellEditor.prototype.afterGuiAttached = function() {
	    this.eInput.focus();
	    this.eInput.select();
	};
	NumericCellEditor.prototype.getValue = function() {
	    return this.eInput.value;
	};
	NumericCellEditor.prototype.destroy = function() {
	};
	NumericCellEditor.prototype.isPopup = function() {
	    return false;
	};

	function calculateTotal(field, gridApi) {
	    let total = 0;
	    gridApi.forEachNode(function(node) {
	        total += parseFloat(node.data[field]) || 0; 
	    });
	    return total;
	}
	
	function updateTotalRow(gridApi) {
	    const totaldeepcomplianceSum = calculateTotal('totaldeepcompliance', gridApi);
	    const deepcomplianceSum = calculateTotal('deepcompliance', gridApi);

	    let compliancestatus = '';
	    if (totaldeepcomplianceSum > 0) {
	        compliancestatus = ((deepcomplianceSum / totaldeepcomplianceSum) * 100).toFixed(2) + "%";
	    } else {
	        compliancestatus = "0%";
	    }

	    gridApi.setPinnedBottomRowData([{
	        month12: 'Total',
	        totaldeepcompliance: totaldeepcomplianceSum,
	        deepcompliance: deepcomplianceSum,
	        compliancestatus: compliancestatus
	    }]);
	}
	
	function getCurrentYear() {
	    const today = new Date();
	    return today.getFullYear();
	}

	function getMonthColumns() {
	    const monthNames = [
	        'January', 'February', 'March', 'April', 'May', 'June',
	        'July', 'August', 'September', 'October', 'November', 'December'
	    ];
	    const year = getCurrentYear();
	    
	    return monthNames.map((month, index) => ({
	        headerName: `${month}`, 
	        field: `month${index + 1}`, 
	        width: 300,
	        editable: true,
	        cellEditor: 'agSelectCellEditor',  
	        cellEditorParams: {
	            values: ['Select', 'DCA Work at confined space checklist', 'DCA Forklift truck checklist 20.01',
	            		'DCA First aid box', 'DCA Machine guarding checklist',
	            		'DCA Personnel change management.' ,'DCA Permit to work check list.',
	            		'DCA Emergency preparedness','DCA Laboratory checklist',
	            		'DCA Hot work check list','DCA Permit to work system',
	            		'DCA Forklift truck check list','DCA Inspection checklist for fire hydrant system',
	            		'DCA Hazardous weste.','DCA Emergency preparedness',
	            		'DCA System audit checklist to cross check NO SMOKING POLICY implementation.',
	            		'DCA Access contral ','DCA Incident investigation and reporting',
	            		'DCA Hot work check list','DCA Protable eletricals hand tools',
	            		'DCA Work at cofined space checklist','DCA Policy  on personnel  chane manegment.',
	            		'DCA Lifting tools and tackles','DCA Inspection checklist for fire hydrand system',
	            		'DCA Access control at HUL factories','DCA Hazardous waste handling',
	            		'DCA Forklift truck checklist','DCA Access contral ','DCA Emergency prepardness plan and EPI',
	            		'DCA Safe working at height','DCA Portable electrical hand tools/devices','DCA Ambulance checklist.',
	            		'DCA Check listfor road worthiness of vehicles',
	            		'DCA Lifting tools and tackles','DCA Emergency preparedness.','DCA Lifting tools and tackles','DCA Emergencey prepardness plan',
	            		'DCA System audit checklist to cross check NO SMOKING POLICY implementation','DCA Hazardous waste handleing ',
	            		'DCA Hot work checklist']	        }
	    }));
	}
	
	

	var evntId = "";
	id = "";
	function rowSelectId() {
		var selectedNodes = gridOptions.api.getSelectedNodes();

	}
	
	function newBtn() {
		$('.formValidation').remove();
		var currentDate = new Date();
	    
	    var currentMonth = currentDate.getMonth(); 
	    
	    var currentYear2 = currentDate.getFullYear();
	    
	    var monthNames = ["January", "February", "March", "April", "May", "June",
	                      "July", "August", "September", "October", "November", "December"];
	    var formattedDate = monthNames[currentMonth - 1] + '-' + currentYear2.toString().slice(-2);
	    
	    /* $("#month").val(monthNames[currentMonth]);
	    $("#date").val(currentYear2);
 */
 
 $("#fromDate").val('');
		$("#myGrid").hide();
		$(".upperDiv").hide();
		$("#totalReq").hide();
		$("#searchRowDiv").hide();
		$("#new").hide();
		$("#download").hide();
		$("#reqDltBtn").hide();
		
		$("#headingItem").show();
		$("#innerDiv").show();


		var dateFormat = "Y"; // Setting the format to only year
		$("#fromDateCalendar").datetimepicker({
		    format: dateFormat,           // Format to display only the year
		    timepicker: false,            // Disable the time picker
		    closeOnDateSelect: true,      // Close the picker after selection
		    yearStart: 1900,              // Set a starting year if needed
		    yearEnd: new Date().getFullYear(), // Set an ending year
		    viewMode: "years",            // Start in year view mode
		    onShow: function (ct, $input) {
		        this.setOptions({
		            format: 'Y',           // Ensure that only the year is shown
		        });
		    }
		}).on("change", function () {
		    $('#date').val($(this).val()); // Set the selected year to the input field
		});

		$('#date').blur(function () {
		    $("#fromDateCalendar").val($(this).val()); // Sync the input with datepicker
		});
		

		var data = [];
		gridOptionsMonitor1.api.setRowData(data);
		
		
		$.ajax({
            type: "GET",
            url: "dcaMonitor-activity-view",
            async: false,
            success: function(response) {
            	
            	var responsedata = JSON.parse(response.body);
            	
            	var grid1Data1 = responsedata.grid;
            	
            	gridOptionsMonitor1.api.setRowData(grid1Data1);
            	
            }
		
		});
		
	}
	
	
	function formSaveBtn() {
		gridOptionsMonitor1.api.stopEditing();
		$(".formValidation").remove();
		var valid= true;
		var datas = [];
		var item = {};
		
		
		item.month = $("#month").val();
		item.date = $("#date").val();
		item.remarks = $("#remarks").val();
		item.monitorId = $("#monitorId").val();
		item.inputDate = $("#fromDate").val();
		
		if (item.date == null || item.date == "") {
			valid = validationUpdated("Date is Required", "fromDate");
		 }
		 if (item.remarks == null || item.remarks == "") {
			valid = validationUpdated("Remarks is Required", "remarks");
		 }
		 /*if (item.month == null || item.month == "") {
			valid = validationUpdated("Month is Required", "month");
		 } */
		 $('.loader').show();
		 setTimeout(function() {
			 var dataOfGrid1 = [];
			 gridOptionsMonitor1.api.forEachNode(function(rowNode, index) {
				 for (let key in rowNode.data) {
				        if (key.startsWith("month") && rowNode.data[key] === "Select") {
				            rowNode.data[key] = "";
				        }
				    }
				 dataOfGrid1.push(rowNode.data);
				  });
			 item.grid1List = dataOfGrid1;
			 
			 if (valid) {
			datas.push(item);
			
			savePlanDetails(datas);
			
			console.log("SAVE DATA",datas);

			 }
			 $('.loader').hide();
		    }, 2000);
		
		
	}		
	
	
	function savePlanDetails(datas) {
		$('.loader').show();
		
		$.ajax({
			type : "POST",
			url : "dcaMonitorDataAdd-activity-add",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(datas),
			success : function(response) {
				
				$("#myGrid").show();
				$(".upperDiv").show();
				$("#totalReq").show();
				$("#searchRowDiv").show();
				$("#new").show();
				$("#download").show();
				$("#reqDltBtn").show();
				
				$("#headingItem").hide();
				$("#innerDiv").hide();
				
				$("#monitorId").val('');
				$("#remarks").val('');
				 $("#date").val('');
				 $("#month").val('');
				
				
				agGrid.simpleHttpRequest({
					url :'dcaMonitor-report-view'
				}).then(function(data) {
					var jsonData = JSON.parse(data.body);
					var allData=jsonData.NoiseMonitor;
					console.log(allData)
					var len = allData.length;
					$('#totalReq').find('span').html(len);
					gridOptions.api.setRowData(allData);
				});
				
				//location.reload();
				
				Cancel();
				$('.loader').hide();
				
				
			},
			error : function(data) {
				$('.loader').hide();
			}
		})

	}
	
	
	function editPage(completionId) {
		
		$("#monitorId").val(completionId);
		
		/* var gridDiv2 = document.querySelector('#monitorGrid1');
		new agGrid.Grid(gridDiv2, gridOptionsMonitor1);
		
		var gridDiv3 = document.querySelector('#monitorGrid2');
		new agGrid.Grid(gridDiv3, gridOptionsMonitor2); */
		
		
		$("#myGrid").hide();
		$(".upperDiv").hide();
		$("#totalReq").hide();
		$("#searchRowDiv").hide();
		$("#new").hide();
		$("#download").hide();
		$("#reqDltBtn").hide();
		$("#fromDate").val('');
		
		$("#headingItem").show();
		$("#innerDiv").show();
		$('.loader').show();
		agGrid.simpleHttpRequest(
				{
					url : 'dcaMonitorReport-activity-edit?id='+ completionId
				}).then(function(data) {
					var jsonData = JSON.parse(data.body);
					var allData=jsonData.completionData;
					var allData1=allData[0].grid1;
					
					gridOptionsMonitor1.api.setRowData(allData1);
					
					$("#month").val(allData[0].noiseMonth);
					$("#date").val(allData[0].noiseDate);
					$("#remarks").val(allData[0].remark);
					$("#fromDate").val(allData[0].inputData);
					
					
					const gridData = jsonData.completionData[0].grid1;

					let totaldeepcomplianceSum = 0;
					let deepcomplianceSum = 0;

					gridData.forEach(row => {
					  totaldeepcomplianceSum += parseInt(row.totaldeepcompliance || 0, 10);
					  deepcomplianceSum += parseInt(row.deepcompliance || 0, 10);
					});

					const compliancestatus = (totaldeepcomplianceSum > 0) 
					  ? ((deepcomplianceSum / totaldeepcomplianceSum) * 100).toFixed(2) + '%' 
					  : '0%';


					gridApi.setPinnedBottomRowData([{
					  month12: 'Total',
					  totaldeepcompliance: totaldeepcomplianceSum,
					  deepcompliance: deepcomplianceSum,
					  compliancestatus: compliancestatus
					}]);
					
					
				});
		$('.loader').hide();
	}

		
	
	function deleteFun() {
		$('#delete').modal('show');
	}
	
	function deleteOnclick() {
		
		if (id) {
			$('.loader').show();
				$.ajax({
		type : "POST",
		url : "dcaMonitorReport-activity-delete?id="+ id,
		success : function(response) {
		 if (response.code == "success") {
			 Cancel();
				$("#messageParagraph").text("Data Deleted Successfully");
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				$('#delete').modal('hide');
				agGrid.simpleHttpRequest({
					url :'dcaMonitor-report-view'
				}).then(function(data) {
					var jsonData = JSON.parse(data.body);
					var allData=jsonData.NoiseMonitor;
					console.log(allData)
					var len = allData.length;
					$('#totalReq').find('span').html(len);
					gridOptions.api.setRowData(allData);
				});
				
				 $('#new').attr('disabled', false);
				$('#reqDltBtn').attr('disabled', true);
				$('.loader').hide();
			} else {
				$("#messageParagraph").text("Something went to wrong!");
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				$('.loader').hide();
			}
		},
		error : function(data) {
		}
	})
		} else {
			$('.loader').hide();
			$("#alert").modal('show');
			document.getElementById("textId").innerHTML = "Please Select Atleast one Record !";
		}

}
	
	
	function Cancel(){
		$("#myGrid").show();
		$(".upperDiv").show();
		$("#totalReq").show();
		$("#searchRowDiv").show();
		$("#new").show();
		$("#download").show();
		$("#reqDltBtn").show();
		
		$("#headingItem").hide();
		$("#innerDiv").hide();
		$('.formValidation').remove();
		//$(".gridStyle").empty();
		
		$("#monitorId").val('');
		$("#remarks").val('');
		 $("#date").val('');
		 $("#month").val('');
		 var totaldeepcomplianceSum = 0;
			var deepcomplianceSum = 0;
			var compliancestatusSum = 0;
			var compliancestatusCount = 0;

		 
		 gridApi.setPinnedBottomRowData([{
			  month12: 'Total',
			  totaldeepcompliance: 0,
			  deepcompliance: 0,
			  compliancestatus: 0
			}]);
		 gridOptions.api.setQuickFilter(null);
			$('#quickFilter').val('');
			document.getElementById('closeKey').style.display='none';
			$('#totalReq').find('span').html(gridOptions.api.getModel().getRowCount());
		
	}
	
	
	function downloadDetails() {
		var params = {
			fileName: 'DCA_Monitoring_Report.csv', // Specify your custom filename here
		};
		gridOptions.api.exportDataAsCsv(params);
	}

	function reportDownload(id,month,noiseDate) {
		
		 const today = new Date();
		 var dateString  = ('0' + today.getDate()).slice(-2) + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + today.getFullYear();
		window.open("/grc/dcaMonitorReport-pdf-downloads?id="+window.btoa(id) + "&month=" + month +"&year=" + noiseDate + "&dateString=" + dateString, '_blank');  
	}
	 
	
	 
</script>
</head>
<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<!-- <div class="innercontent" > -->

					<div class="d-flex justify-content-between upperDiv" id="demo1"
						style="display: none;">
						<div class="btn-hs">
							<div class="font-design" id="totalReq">
								DCA Monitor Report(<span></span>)
							</div>
						</div>
						<div id="searchRowDiv">
							<div class="input-style">
								<input type="text" placeholder="Search.." name="search"
									class="searchboxinput" onkeyup="cancelBar()"
									oninput="onQuickFilterChanged()" id="quickFilter"
									autocomplete="off">
								<div class="searchicon">
									<a href="javascript:void(0)"><span
										style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
										id="closeKey"
										onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';$('#totalReq').find('span').html(gridOptions.api.getModel().getRowCount());"
										class="close_i"><i class="ti-close srchicon"></i></span></a><a
										href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
								</div>
							</div>
						</div>
						<div class="buttonsec btn-hs" id="btndiv">
							<button class="download-btn" id="download"
								onclick="downloadDetails()">Download</button>

							<button class="delete-btn" id="reqDltBtn" onclick="deleteFun()">DELETE</button>
							<input type="button" class="new-btn" id="new" value="NEW"
								onclick="newBtn()" readonly>
						</div>
					</div>

					<input type="hidden" id="sessionOrganization1"
						th:value="${session.ORGANIZATION}" /> <input type="hidden"
						id="sessionDivision1" th:value="${session.ORGANIZATION_DIVISION}" />

					<input type="hidden" id="sessionId" th:value="${session.USER_ID}" />


					<input type="hidden" id="sessionName" th:value="${userName}" /> <input
						type="hidden" id="hrRole" th:value="${hrRole}" /> <input
						type="hidden" id="sessionRole" th:value="${userRole}" /> <input
						type="hidden" id="adRole" th:value="${adRole}" />
					<!------------- parent table my grid ---------------------->

					<div id="myGrid" style="width: 100%; height: 500px;"
						class="ag-theme-alpine"></div>


					<div class="innerstickybg" id="headingItem">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-6">
									DCA MONITORING REPORT: <span id="rtmrReportId"></span>
								</div>
							</div>
							<div class="col-md-6" align="right">
								<button class="cancel-btn" id="Cancel" onclick="Cancel()">Cancel</button>
								<button class="save-btn" id="save" onclick="formSaveBtn()">Save</button>


							</div>
						</div>
					</div>


					<div class="row" id="innerDiv">
						<input type="hidden" id="monitorId">
						
						<div class="col-md-4 form-group" id="fdateDiv"
							>
							<div class="form-group calendar_box">
								<label>Date</label> <input type="text" id="fromDate"
									placeholder="Date" class="form-control" disabled> <i
									class="ti-calendar picker_calendar" id="toDateCalendar"
									style="top: 35px; right: 5px;"></i>
							</div>
						</div>


						 <div class="col-md-4" id="monthParentDiv">
							<div class="form-group" id="emplist">
								<label> Month </label>
								<div class="select">
									<select id="month">
										<option value="">Select</option>
										<option value="January">January</option>
										<option value="February">February</option>
										<option value="March">March</option>
										<option value="April">April</option>
										<option value="May">May</option>
										<option value="June">June</option>
										<option value="July">July</option>
										<option value="August">August</option>
										<option value="September">September</option>
										<option value="October">October</option>
										<option value="November">November</option>
										<option value="December">December</option>
									</select> <span class="focus"></span>
								</div>
							</div>
						</div>
						<div class="col-md-4" id="yearParentDiv">
							<div class="form-group" id="emplist">
								<label> Year </label>
								<input type="text" id="date"
									placeholder="" class="form-control">
								
							</div>
						</div>
						<div class="col-md-10">
							<div class="form-group">
								<label>Remarks</label>
								<textarea type="text" class="form-control transparenttxtbox"
									id="remarks" onblur="removeValid(event)"></textarea>
							</div>
						</div>

						<div class="col-md-12 gridStyle">
							<div id="monitorGrid1" style="width: 100%; height: 350px; margin-bottom:50px"
								class="ag-theme-alpine"></div>
						</div>


					</div>


					<div id="delete" class="modal fade show" aria-modal="true">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column"></div>
								<div class="modal-body">
									<p>Do you really want to delete this Data? This process
										cannot be undone.</p>
								</div>
								<div class="modal-footer justify-content-center"
									style="margin-top: 0px;">

									<button type="button" class="cancel-btn"
										data-bs-dismiss="modal" onclick="cancelModalBtnDlt();">Cancel</button>
									<button type="button" class="delete-btn"
										onclick="deleteOnclick()">Delete</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
</body>
</html>