
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>
.picker_calendar {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 18px;
}
.my-container input {
    width: 90%;
}
</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>

$(document).ready(function() {
    var curDate = new Date();
    var curYear = curDate.getFullYear();
    var financialYearStart = curYear;
    $("#attndyear").val(financialYearStart);

    // Set the default month and year values
    getCurrentDateMonthYear();
 	// getCurrentDateMonthYear1();

    var gridDiv = document.querySelector('#myGrid');
    new agGrid.Grid(gridDiv, gridOptions);
    
    var gridDiv = document.querySelector('#pivotGrid');
    new agGrid.Grid(gridDiv, pivotgridOptions);

    var gridDiv = document.querySelector('#monthlySBOGrid');
	new agGrid.Grid(gridDiv, activityOptions);
   
    ShowGridforMonthly();
    
    //changeMonthYear();
    
    $("#type").hide();
    $("#pivotGrid").hide();
	$("#summaryGrid").hide();
	$("#attendanceGrid").hide();
	$("#leaveGrid").hide();
	$("#monthlyReport").addClass("active");
	$(".searchBox").hover(function() {
		$(".searchInput").css({
			"width" : "180px",
			"padding" : "0 6px",
			"margin-right" : "10px",
			"border-bottom" : "1px solid #d5d5d5"
		});
	}, function() {
		var value = $("#filterSl").val();
		if (value == "" || value == null) {
			$(".searchInput").css({
				"width" : "0px",
				"margin-right" : "0px",
				"border" : "none"
			});
		} else {
			$(".searchInput").css({
				"width" : "180px",
				"padding" : "0 6px",
				"margin-right" : "10px"
			});
		}

	});

});

	var columnDefs = [
				
				{
					headerName : "Report ID",
					field : "reportId",
					cellRenderer : function(params) {
						return '<a onclick=editMonthlyReport("'
						+params.data.reportId
						+ '") href="javascript:void(0)"><i class="bi bi-pencil-square"></i> '
						+ params.data.reportId + '</a>';

					},
					flex:1,
				}, {
					headerName : "Year",
					field : "year",
					cellStyle : {
						textAlign : 'left'
					},
					flex:1,
				}, {
					headerName : "Month",
					field : "month",
					cellStyle : {
						textAlign : 'left'
					},
					flex:1,
				}, {
					headerName : "Created On",
					field : "createdon",
					cellStyle : {textAlign : 'left'},
					flex:1,
				} ];

	var gridOptions = {
		columnDefs : columnDefs,
		suppressRowClickSelection : true,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			height : 20,
			flex:1,
		},
		rowSelection : 'single',
	};
	

	
	
	var columnpivotDefs = [
		 ]; 
	
	var columnDefs = createFinancialYearColumnDefs(new Date().getFullYear());
	console.log(columnDefs);



	
	function createFinancialYearColumnDefs(financialYear) {

	    
	    // Initialize the columnDefs array
	    columnpivotDefs = [];

	    // Add initial employee columns
	    columnpivotDefs.push(
	    		{
	    	        headerName: "Sl No",
	    	        field: "slno",
	    	        flex: 0.7,
	    	    },
	    	    {
	    	        headerName: "Items",
	    	        field: "items",
	    	        flex: 1
	    	    },
	    	    {
	    	        headerName: "Frequency",
	    	        field: "frequency",
	    	        flex: 1,
	    	        
	    	    },
	    	    {
	    	        headerName: "Valid Upto",
	    	        field: "valid",
	    	        flex: 1,
	    	        
	    	    }
	    );

	    var monthNames = ['Mar', 'Jun', 'Sep', 'Dec'];

	    for (let i = 0; i < 4; i++) {
	        var monthName = monthNames[i];
	        var fieldIndex = ((i+1) * 3); 
	        var year = financialYear; 
	        
	        columnpivotDefs.push({
	            headerName: `${monthName} (${year})`,
	            headerClass: 'header-center',
	            children: [
	                {
	                    headerName: "Checked On",
	                    field: `checked_${fieldIndex}`,
	                    cellStyle: { textAlign: 'center' },
	                    flex:1,
	                    suppressMenu: true
	                },
	                {
	                    headerName: "Status",
	                    field: `status_${fieldIndex}`,
	                    cellStyle: { textAlign: 'center' },
	                    flex:1,
	                    suppressMenu: true
	                }
	            ]
	        });
	    }

	    return columnpivotDefs; // Return the final column definitions
	}




	
	 var rowData1 = [{
	            salaryMonth: 'Total'
	        }];
	var pivotgridOptions = {
		columnDefs : columnpivotDefs,
		suppressRowClickSelection : true,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 350,
			height : 20
		},
		rowSelection : 'single',
		 getRowStyle: function (params) {
		    // Check if it is the last row
			if (params.node.rowPinned) {
		      // Apply your custom styling for the last row
		      return { background: '#EAE7FA !important', fontWeight: 'bold' };
		    }
			    // Return null for other rows
		    return null;
	  	},
	};

	var activityDefs = [
	    {
	        headerName: "Sl No",
	        field: "sl_no",
	        flex: 0.5,
	        cellStyle: {
	            textAlign: 'left'
	        },
	    },
	    {
	        headerName: "Items",
	        field: "items",
	        flex: 0.7
	    },
	    {
	        headerName: "Frequency",
	        field: "frequency",
	        flex: 0.7,
	        cellStyle: {
	            textAlign: 'left'
	        },
	    },
	    {
	        headerName: "Valid Upto",
	        field: "valid",
	        flex: 0.7,
	        cellStyle: {
	            textAlign: 'left'
	        },
			cellRenderer : function(params) {
				const today = new Date().toISOString().split('T')[0];
				  return '<input class="dateInput" value="'+params.data.valid+'" type="date" id="validupto'+params.rowIndex+'" min="'+today+'" onchange="dateSave(event)">';
			}},
	    {
	        headerName: "Checked On",
	        field: "checked",
	        flex: 0.7,
	        cellStyle: {
	            textAlign: 'left'
	        },
	    },
	    {
	        headerName: "Status",
	        field: "status",
	        cellClass: 'custom-color-column',
	        editable: true,
	        flex: 0.7,
	        cellStyle: {
	            textAlign: 'left'
	        },
	    }
	];

	// Grid options configuration
	var activityOptions = {
	    columnDefs: activityDefs,
	    rowSelection: 'single',
	    groupSelectsChildren: true,
	    suppressRowClickSelection: true,
	    suppressAggFuncInHeader: true,
	    singleClickEdit: true,
	    stopEditingWhenCellsLoseFocus: true,
	    defaultColDef: {
	        sortable: true,
	        filter: true,
	        height:40,
	        resizable: true,
	    },
	    onGridReady: function (params) {
	        gridApi = params.api;
	        columnApi = params.columnApi;
	    }
	};

	//number cell editor
	function NumericCellEditor() {}
	NumericCellEditor.prototype.init = function(params) {
	    this.eInput = document.createElement('input');
	    this.eInput.type = 'number';
	    this.eInput.value = params.value || '';
	    this.eInput.classList.add('custom-numeric-cell'); // Optional: To match ag-grid styling
	};
	NumericCellEditor.prototype.getGui = function() {
	    return this.eInput;
	};
	NumericCellEditor.prototype.afterGuiAttached = function() {
	    this.eInput.focus();
	    this.eInput.select();
	};
	NumericCellEditor.prototype.getValue = function() {
	    return this.eInput.value;
	};
	NumericCellEditor.prototype.destroy = function() {
	};
	NumericCellEditor.prototype.isPopup = function() {
	    return false;
	};

function getCurrentDateMonthYear() {
    var curDate = new Date();
    var selectedYear = $("#attndyear").val();
    var selectedMonth = $("#attndmonth").val();
    var startDay = $("#startDayForAtten").val();
    
    if (!selectedYear) {
        selectedYear = curDate.getFullYear();
    }
    selectedYear = selectedYear.split("-")[0];

    var fromDate, toDate;

    if (selectedMonth === "0") {
        fromDate = "01-04-" + selectedYear;
        toDate = "31-03-" + (parseInt(selectedYear) + 1);
    } else {
        var month = parseInt(selectedMonth);
        if (startDay > 1 && curDate.getDate() > startDay) {
            month = curDate.getMonth() + 1;
        }
        fromDate = startDay + "-" + String(month).padStart(2, '0') + "-" + selectedYear;
        toDate = startDay + "-" + String(month + 1).padStart(2, '0') + "-" + selectedYear;
    }
    $("#fromDate").val(fromDate);
    $("#fromDateCalendar").val(fromDate);
    $("#endDate").val(toDate);
    $("#endDateCalendar").val(toDate);
}
function getCurrentDateMonthYear1() {
    var curDate = new Date();
    $("#attndyear1").val(curDate.getFullYear());
    var selectedYear = $("#attndyear1").val();
    var selectedMonth = $("#attndmonth1").val();
    var startDay = $("#startDayForAtten").val();
    
    if (!selectedYear) {
        selectedYear = curDate.getFullYear();
    }
    selectedYear = selectedYear.split("-")[0];

    var fromDate, toDate;

    if (selectedMonth === "0") {
        fromDate = "01-01-" + selectedYear;
        toDate = "31-12-" + (parseInt(selectedYear));
    } else {
        var month = parseInt(selectedMonth);
        if (startDay > 1 && curDate.getDate() > startDay) {
            month = curDate.getMonth() + 1;
        }
        fromDate = startDay + "-" + String(month).padStart(2, '0') + "-" + selectedYear;
        toDate = startDay + "-" + String(month + 1).padStart(2, '0') + "-" + selectedYear;
    }
    $("#fromDate").val(fromDate);
    $("#fromDateCalendar").val(fromDate);
    $("#endDate").val(toDate);
    $("#endDateCalendar").val(toDate);
}


//changeStaff
function changeStaff() {
	viewAllApproveData();
	
	 var activeButtonId = $(".btn-group .btn.active").attr("id");
	    if (activeButtonId === "monthlyReport") {
	        ShowGridforMonthly();
	    } else if (activeButtonId === "yearlyReport") {
	        ShowGridforYearly();
	    }
	
}
//get approve Data
function getApproveYrMtData(){
	var curdate = new Date();
	var month = $("#attndmonth").val();
	var sday = $("#startDayForAtten").val();
	var attnyear = $("#attndyear").val();
	if (parseInt(sday) > 1) {
		if (month == 1) {
			var year = attnyear - 1;
			month = 12;
		} else {
			var year = attnyear;
			month = month - 1;
		}
	} else {
		var year = attnyear;
	}

	var nextmonth = parseInt(month) + 1;

	var fromdate = sday + "-" + String(month).padStart(2, '0') + "-" + year;
	const lastDayOfMonth = new Date(year, month, 0).getDate();
	if (sday > 1) {
		if (month == "12") {
			var todate = (parseInt(sday) - 1) + "-"
					+ String(1).padStart(2, '0') + "-" + (year + 1);
		} else {
			var todate = (parseInt(sday) - 1) + "-"
					+ String(nextmonth).padStart(2, '0') + "-" + year;
		}
	} else {
		var todate = lastDayOfMonth + "-" + String(month).padStart(2, '0')
				+ "-" + year;
	}

	$("#fromDate").val(fromdate);
	$("#fromDateCalendar").val(fromdate);
	$("#endDate").val(todate);
	$("#endDateCalendar").val(todate);
}

const monthNames = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
];

function changeMonthYear() {
	$('.loader').show();
    var selectedYear = $("#attndyear").val();
    var columnDefs = createFinancialYearColumnDefs(selectedYear);
    console.log("columnDefs:::",columnDefs);
    pivotgridOptions.api.setColumnDefs(columnDefs);
    pivotgridOptions.api.refreshClientSideRowModel();
    
    $('#totalReq span').text('MASTER CHECK LIST FOR '+selectedYear);
    
    setTimeout(function() {
        
        agGrid.simpleHttpRequest(
    			{
    				url : 'master-checklist-report?financialYr='+ selectedYear
    			}).then(function(data) {
    				var jsonData = JSON.parse(data.body);
    				var allData=jsonData.Master;
    				console.log("PIVOT:::",allData)
    				if(allData!=null){
    					pivotgridOptions.api.setRowData(allData);
    					$('.loader').hide();
    				}else{
    					pivotgridOptions.api.setRowData([]);
    					$('.loader').hide();
    				}
    			});
     // Refresh all cells in the grid
        pivotgridOptions.api.refreshCells();
		}, 500);
    
}
function changeMaster() {
    var year = $("#masterYear").val();
    var month = $("#masterMonth").val();
    if (month != '' && year != '') { 
		activityOptions.api.setRowData("");
		agGrid.simpleHttpRequest(
				{
					url : 'master-checklist-monthly-emplist?month='+ month+'&year='+year,
				}).then(function(data) {
					var jsonData = JSON.parse(data.body);
					var allData=jsonData.Monthly;
					console.log(jsonData)
					if(allData!=null){
						activityOptions.api.setRowData(allData);
						/* $('#masterYear').val(allData[0].year);
						$('#masterMonth').val(allData[0].month);
						$('#reportId').val(allData[0].reportId); */
					}else{
						$('#masterYear').val("");
						$('#masterMonth').val("");
					}
				});
    } else {
    	activityOptions.api.setRowData("");
    }

}



function generateYearMonths(selectedYear, selectedMonth) {
    var calendarYearMonths = [];
    let startMonthIndex, endMonthIndex;

    // If "All" is selected
    if (selectedMonth === 0) {
    	if (selectedYear === new Date().getFullYear()) {
            // If it's the current financial year, display months up to the current month
            startMonthIndex = 1; // April
            endMonthIndex = new Date().getMonth() + 1; // Update end month to current month
        }else {

            startMonthIndex = 1; // January
            endMonthIndex = 12;
        } // December
    } else {
        // If a specific month is selected, only display that month
        startMonthIndex = selectedMonth;
        endMonthIndex = selectedMonth;
    }

    // Generate months from start to end index
    for (let i = startMonthIndex; i <= endMonthIndex; i++) {
        calendarYearMonths.push({
            name: monthNames[i - 1],
            days: new Date(selectedYear, i, 0).getDate(),
            monthIndex: i
        });
    }

    return calendarYearMonths;
}


function formatDate(date) {
    // Format date as DD-MM-YYYY
    var day = date.getDate();
    var month = date.getMonth() + 1; // Months are zero-indexed
    var year = date.getFullYear();

    return (day < 10 ? '0' : '') + day + '-' + (month < 10 ? '0' : '') + month + '-' + year;
}

function getFinancialYear(selectedYear) {
    // Calculate financial year based on the selected year
    var startYear = selectedYear;
    var endYear = startYear + 1;
    var financialYear = startYear + "-" + endYear;
    return { startYear: startYear, endYear: endYear, financialYear: financialYear };
}


	
function ShowGridforMonthly() {
	$('.loader').show();
        $('#yearlyReport').removeClass('active');
        $("#monthlyReport").addClass("active");

    
    $("#myGrid").show();
    $("#myGrid").empty();
    $("#pivotGrid").hide();
    
    $("#searchDiv").show();
    $("#empList").hide();
    $("#searchDiv1").hide();
    $("#searchDiv2").hide();
    $("#empList1").hide();
    $("#empList2").hide();
    $("#searchDiv3").hide();
    $("#empList3").hide();
    
    $("#type").hide();
    
    $("#finYearData").show();
    $("#finMonthData").show();
    $("#yearData").hide();
    $("#monthData").hide();
    
    $("#btndiv").hide();
    $("#btndiv1").show();
    
    var staff = $("#designation").val();
    var fromDate = $("#fromDate").val();
    var toDate = $("#endDate").val();
    var employedBy = $("#employedBy").val();
    
    var gridDiv = document.querySelector('#myGrid');
    new agGrid.Grid(gridDiv, gridOptions);
    gridOptions.api.setRowData();
    
    agGrid.simpleHttpRequest(
			{
				url : 'master-checklist-view'
			}).then(function(data) {
				var jsonData = JSON.parse(data.body);
				var allData=jsonData.Master;
				console.log(jsonData)
				if(allData!=null){
					gridOptions.api.setRowData(allData);
					$('.loader').hide();
					closekey()
				}else{
					gridOptions.api.setRowData([]);
					closekey();
					$('.loader').hide();
				}
			});
    
}

	function ShowGridforYearly() {
		$('.loader').show();
	        $('#monthlyReport').removeClass('active');
	        $('#summaryReport').removeClass('active');
	        $('#attendanceReport').removeClass('active');
	        $("#leaveReport").removeClass('active');
	        $("#yearlyReport").addClass("active");
	        
	        

	    $("#pivotGrid").show();
	    $("#pivotGrid").empty();
	    $("#myGrid").hide();
	    
	    $("#searchDiv").hide();
	    $("#empList").show();
	    $("#searchDiv1").show();
	    $("#empList1").hide();
	    $("#searchDiv2").hide();
	    $("#empList2").hide();
	    $("#searchDiv3").hide();
	    $("#empList3").hide();

	    
	    $("#finYearData").show();
	    $("#finMonthData").show();
	    $("#yearData").hide();
	    $("#monthData").hide();
	    
	    $("#btndiv").show();
	    $("#btndiv1").hide();

	    const currentYear = new Date().getFullYear();
	    $("#attndyear").val(currentYear);
	    var staff = $("#designation").val();
	    var fromDate = $("#fromDate").val();
	    var toDate = $("#endDate").val();
	    var employedBy = $("#employedBy").val();
	    var financialYr = $("#attndyear").val();
	    $('#totalReq span').text('MASTER CHECK LIST FOR '+financialYr);
	    
	    var gridDiv = document.querySelector('#pivotGrid');
	    new agGrid.Grid(gridDiv, pivotgridOptions);
	    pivotgridOptions.api.setRowData();
	    
	    agGrid.simpleHttpRequest(
				{
					url : 'master-checklist-report?financialYr='+ currentYear
				}).then(function(data) {
					var jsonData = JSON.parse(data.body);
					var allData=jsonData.Master;
					console.log("PIVOT:::",jsonData)
					if(allData!=null){
						pivotgridOptions.api.setRowData(allData);
						$('.loader').hide();

					}else{
						pivotgridOptions.api.setRowData('');
						$('.loader').hide();
					}
				});

	}


	//For Employee Table Search Bar
	function onQuickFilterChanged() {
		gridOptions.api.setQuickFilter(document.getElementById('quickFilter').value);
		var totalRowCount = gridOptions.api.getModel().getRowCount();
        $('#totalReq span').text(`Master Checklist Entries (${totalRowCount})`);
	}
	function getListForEmp(){
		gridOptions.api.setQuickFilter(document.getElementById('empSort').value);
		var totalRowCount = gridOptions.api.getModel().getRowCount();
        $('#totalReq span').text(`Master Checklist Entries (${totalRowCount})`);
	}
	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";
		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}
	function closekey(){
		$('#quickFilter').val('');
		gridOptions.api.setQuickFilter(null);
		var totalRowCount = gridOptions.api.getModel().getRowCount();
        $('#totalReq span').text(`Master Checklist Entries (${totalRowCount})`);
	}
	


	function newMasterChecklist(){
		$("#myModalForMonthly").modal('show');
		$("#masterYear").val('');
	    $("#masterMonth").val('');
	    $('#reportId').val("");
	    $(".formValidation").remove();
	    $("#masterIdBox").html('Master Checklist');
		changeMaster();
	}

	function cancelModalBtn() {
		$('#myModalForMonthly').modal('hide');
		$("#sboAnalysisModal").modal('hide');
		$('#reportId').val("");

	}
	
	//master save data
	function submitProgress() {
		activityOptions.api.stopEditing();
		$(".formValidation").remove();
		var valid= true;
		var datas = [];
		var rowCount = activityOptions.api.getDisplayedRowCount();
		if(rowCount > 0){
		activityOptions.api.forEachNode(function(rowNode, index) {
			var item = rowNode.data;
			item.reportId=$('#reportId').val();
			item.year=$('#masterYear').val();
			item.month=$('#masterMonth').val();
			
			if (item.year == null || item.year == "") {
				valid = validationUpdated("Year is Required", "masterYear");
			 }
			if (item.month == null || item.month == "") {
				valid = validationUpdated("Month is Required", "masterMonth");
			 }
			
			if(item.status==null || typeof item.status === 'undefined'){
				item.status ='';
			}

	        if(valid){;
	        	datas.push(item);
	         }
		});
		if (valid) {
			console.log("SAVE DATA::::",datas);
			savePlanDetailsForProgress(datas);
			
			}
		} else {
			$("#messageParagraph").text("No Data Found");
			$("#msgOkModal").removeClass("btn3");
			$("#msgOkModal").addClass("btn1");
			$("#msgModal").modal('show');
		}
	}
	function savePlanDetailsForProgress(datas) {
		$('.loader').show();
		$.ajax({
			type : "POST",
			url : "master-checklist-monthly-add",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(datas),
			success : function(response) {
				$('.loader').hide();
				console.log("response::::",response);
				if (response.code == "success") {
					cancelModalBtn();
					$("#messageParagraph").text(response.message);
					$("#msgOkModal").removeClass("btn3");
					$("#msgOkModal").addClass("btn1");
					$("#msgModal").modal('show');
					ShowGridforMonthly();
					
				} else {
					$('.loader').hide();
					$("#messageParagraph").text("Duplicate Data Found");
					$("#msgOkModal").removeClass("btn3");
					$("#msgOkModal").addClass("btn1");
					$("#msgModal").modal('show');
					
					$("#itemid").val('');
					$("#itemname").val('');
					$("#description").val('');
				}
			},
			error : function(data) {
				$('.loader').hide();
			}
		})

	}
	
	function editMonthlyReport(id){
		$("#myModalForMonthly").modal('show');
		activityOptions.api.setRowData("");
		agGrid.simpleHttpRequest(
				{
					url : 'master-checklist-edit?id='+ id
				}).then(function(data) {
					var jsonData = JSON.parse(data.body);
					var allData=jsonData.Master;
					console.log(jsonData)
					if(allData!=null){
						activityOptions.api.setRowData(allData);
						$('#masterYear').val(allData[0].year);
						$('#masterMonth').val(allData[0].month);
						$('#reportId').val(allData[0].reportId);
						$("#masterIdBox").html('Master Checklist :'+allData[0].reportId);
					}else{
						$('#masterYear').val("");
						$('#masterMonth').val("");
					}

					$('#loaderOverlay').fadeOut();
				      $('#modalBody').css('pointer-events', 'auto');
				});
	}
	
	function showAnalysis(id){
		var categories = [];
        var hiData = [];
        var sboData = [];
        var titletext="HI and SBO Trend Analysis";
		agGrid.simpleHttpRequest(
				{
					url : 'sbo-hi-report-monthly-edit?id='+ id
				}).then(function(data) {
					var jsonData = JSON.parse(data.body);
					var data=jsonData.sbo;
					console.log(jsonData)
					if(data!=null){
						titletext=titletext+" For "+data[0].monthName+" "+data[0].year;
						 $.each(data, function(index, item) {
				             categories.push(item.empName);  // Employee names as categories
				             hiData.push(parseInt(item.hi)); // HI values
				             sboData.push(parseInt(item.sbo)); // SBO values
				         }); 
						 
						 Highcharts.chart('container', {
				             chart: {
				                 type: 'column'
				             },
				             title: {
				                 text: titletext
				             },
				             xAxis: {
				                 categories: categories,
				                 labels: {
				                     rotation: -45
				                 },
				                 title: {
				                     text: 'Employee Names'
				                 }
				             },
				             yAxis: {
				                 min: 0,
				                 title: {
				                     text: 'Values'
				                 }
				             },
				             tooltip: {
				                 shared: true,
				                 headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				                 pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				                              '<td style="padding:0"><b>{point.y}</b></td></tr>',
				                 footerFormat: '</table>',
				                 useHTML: true
				             },
				             plotOptions: {
				                 column: {
				                     pointPadding: 0.2,
				                     borderWidth: 0,
				                     dataLabels: {
				                         enabled: true,
				                         style: {
				                             fontWeight: 'bold',
				                             color: 'black'
				                         }
				                     }
				                 }
				             },
				             series: [{
				                 name: 'HI',
				                 data: hiData,
				                 color: '#1f77b4' // Blue color for HI
				             }, {
				                 name: 'SBO',
				                 data: sboData,
				                 color: '#ff7f0e' // Orange color for SBO
				             }]
				         });
					}else{
						
					}
				});
		
		 

         
		$("#sboAnalysisModal").modal('show');
	}
	
	function downloadMonthly() {
		var params = {
			fileName: 'master_checklist_data.csv', // Specify your custom filename here
		};
		gridOptions.api.exportDataAsCsv(params);
	}
	
	function downloadYearly() {
		var params = {
			fileName: 'master_checklist_report.csv', // Specify your custom filename here
		};
		pivotgridOptions.api.exportDataAsCsv(params);
	}
	
	function dateSave(event) {

	    var idOfNumField = event.target.id;
	    var newValue = event.target.value;
	    var index = idOfNumField.match(/\d+/)[0];

	    // Get the row node for the current row
	    var rowNode = gridApi.getRowNode(index);

	    if (!rowNode) {
	        console.error("Row node not found");
	        return;
	    }

	    // Update the result value in the row data
	    rowNode.setDataValue('valid', newValue);
	    
	    //gridApi.refreshCells({ rowNodes: [rowNode], force: true });
	}
</script>
</head>
<body>

	<div layout:fragment="content">
		<div class="content-wrap">
			<div class="container-fluid">
				<div class="maincontent">
					<div class="row">

						<div class="maincontentsec">
							<div class="content_padding">

								<div id="main_content">



									<div class="row mt-1" id="buttonClass">
										<div class="btn-group col-md-6">
											<button class="btn btn-primary" id="monthlyReport"
												value='monthlyReport' onclick="getCurrentDateMonthYear();ShowGridforMonthly()">Entry
												Details</button>
										</div>
										<div class="btn-group col-md-6">
											<button class="btn btn-primary" id="yearlyReport"
												value='yearlyReport' onclick="getCurrentDateMonthYear();ShowGridforYearly()">Report Details</button>
										</div>
									</div>

									<div class="panel-body">
										<div class="row">

											<div class="col-md-4 btn-hs1">
												<div class="font-design"></div>
											</div>
											<!-- <div class="col-md-8 butttonsec">

												<button class="btn1" id="save" onclick="Approve()">Approve</button>
											</div> -->
										</div>
										<div class="row">
											<input type="hidden" id="startDayForAtten" th:value="${startDayForAtten}" />
											<input type="hidden" id="reportId"/>

											<div class="col-md-2"  style="display: none;">
												<!-- <div class="form-group" id="finYearData">
													<label>Year</label>
													<div class="select">
														<select id="attndyear" class="form-control"
															onchange="changeMonthYear()">
															<option th:each="c,iter:${yearList}" th:value="${c.name}"
																th:text="${c.name}"></option>
														</select>
													</div>
												</div> -->
												<div class="form-group" id="yearData">
													<label>Year</label>
													<div class="select">
														<select id="attndyear1" class="form-control"
															onchange="changeMonthYear1()">
															<option th:each="c,iter:${yearList1}" th:value="${c.name}"
																th:text="${c.name}"></option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-2"  style="display: none;">
												<div class="form-group" id="finMonthData">
													<label>Month Name</label>
													<div class="select">
														<select id="attndmonth" class="form-control"
															onchange="changeMonthYear()">
															<option value="0">All</option>
															<option value="4">APRIL</option>
															<option value="5">MAY</option>
															<option value="6">JUNE</option>
															<option value="7">JULY</option>
															<option value="8">AUGUST</option>
															<option value="9">SEPTEMBER</option>
															<option value="10">OCTOBER</option>
															<option value="11">NOVEMBER</option>
															<option value="12">DECEMBER</option>
															<option value="1">JANUARY</option>
															<option value="2">FEBRUARY</option>
															<option value="3">MARCH</option>
														</select>
													</div>
												</div>
												<div class="form-group" id="monthData">
													<label>Month Name</label>
													<div class="select">
														<select id="attndmonth1" class="form-control"
															onchange="changeMonthYear1()">
															<option value="0">All</option>
															<option value="1">JANUARY</option>
															<option value="2">FEBRUARY</option>
															<option value="3">MARCH</option>
															<option value="4">APRIL</option>
															<option value="5">MAY</option>
															<option value="6">JUNE</option>
															<option value="7">JULY</option>
															<option value="8">AUGUST</option>
															<option value="9">SEPTEMBER</option>
															<option value="10">OCTOBER</option>
															<option value="11">NOVEMBER</option>
															<option value="12">DECEMBER</option>
														</select>
													</div>
												</div>
											</div>
											<!-- <div class="col-md-2">
												<label>From Date</label>
												<div class="form-group calendar_box">
													<input type="text" id="fromDate" value=""
														class="form-control"
														th:attr="onkeyup=|formatDate('fromDate','${session.DATEFORMAT_JS}')|"
														readonly>
													<i class="ti-calendar picker_calendar"
														id="fromDateCalendar"></i>
												</div>
											</div>
											<div class="col-md-2">
												<label>To Date</label>
												<div class="form-group calendar_box">
													<input type="text" id="endDate" value=""
														class="form-control"
														th:attr="onkeyup=|formatDate('endDate','${session.DATEFORMAT_JS}')|"
														readonly>
													<i class="ti-calendar picker_calendar"
														id="endDateCalendar"></i>
												</div>
											</div> -->

										</div>
										<div class="d-flex justify-content-between mt-4">
											<div class="btn-hs">
												<div class="font-design" id="totalReq">
													<span></span>
												</div>
											</div>
											<div class="col-md-3  btn-hs" id="searchDiv">
												<div class="input-style">
													<input type="text" placeholder="Search.." name="search"
														class="searchboxinput" onkeyup="cancelBar()"
														oninput="onQuickFilterChanged()" id="quickFilter"
														autocomplete="off">
													<div class="searchicon">
														<a href="javascript: void(0)"><span
															style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
															id="closeKey"
															onclick="closekey()"
															class="close_i"><i class="ti-close srchicon"></i></span></a><a
															href="javascript: void(0)"><i
															class="ti-search srchicon"></i></a>
													</div>
												</div>

											</div>
											

											<!-- for summary grid -->

											<!-- <div class="col-md-3  btn-hs" id="searchDiv1">
												<div class="input-style">
													<input type="text" placeholder="Search.." name="search"
														class="searchboxinput" onkeyup="cancelBar1()"
														oninput="onQuickFilterChanged1()" id="quickFilter1"
														autocomplete="off">
															<div class="searchicon">
														<a href="javascript: void(0)"><span
															style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
															id="closeKey1"
															onclick="closeKey1()"
															class="close_i"><i class="ti-close srchicon"></i></span></a><a
															href="javascript: void(0)"><i
															class="ti-search srchicon"></i></a>
													</div>

												</div>

											</div> -->
											
											<div class="col-md-2  btn-hs" id="empList">
												<div class="form-group" id="finYearData">
													<!-- <label>Year</label> -->
													<div class="select">
														
														<select id="attndyear" class="form-control"
															onchange="changeMonthYear()">
															<option value="">Select</option>
															<option th:each="c,iter:${yearList1}" th:value="${c.name}"
																th:text="${c.name}"></option>
														</select>
													</div>
													
												</div>
											</div>

										
											
											<div class="  btn-hs" id="empList2">
												<div  class="form-group" >
													<div class="select">
														<select id="empSort2" class="form-control"
															onchange="getListForEmp2()">
															<option value="">All Employee</option>
															<option th:each="c,iter:${EmployeeList}" th:value="${c.key}"
																th:text="${c.name}"></option>
														</select>
													</div>
												</div>
											</div>
											<!--       for leave report        -->
											<div class="col-md-3  btn-hs" id="searchDiv3">
												<div class="input-style">
													<input type="text" placeholder="Search.." name="search"
														class="searchboxinput" onkeyup="cancelBar3()"
														oninput="onQuickFilterChanged3()" id="quickFilter3"
														autocomplete="off">
													<div class="searchicon">
														<a href="javascript: void(0)"><span
															style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
															id="closeKey3"
															onclick="closeKey3();"
															class="close_i"><i class="ti-close srchicon"></i></span></a><a
															href="javascript: void(0)"><i
															class="ti-search srchicon"></i></a>
													</div>
												</div>

											</div>
											<div class="  btn-hs" id="empList3">
												<div  class="form-group" >
													<div class="select">
														<select id="empSort3" class="form-control"
															onchange="getListForEmp3()">
															<option value="">All Employee</option>
															<option th:each="c,iter:${EmployeeList}" th:value="${c.key}"
																th:text="${c.name}"></option>
														</select>
													</div>
												</div>
											</div>
											
											
											<div class="buttonsec btn-hs" id="btndiv">
												<button class="btn4" onclick="downloadYearly()">Download</button>
											</div>
											<div class="buttonsec btn-hs" id="btndiv1">
											<button class="btn1" onclick="newMasterChecklist()">New</button>
												<button class="btn4" onclick="downloadMonthly()">Download</button>
											</div>

								
										</div>

										<div id="myGrid" style="width: 100%; height: 400px;"
											class="ag-theme-alpine"></div>
										<div id="pivotGrid" style="width: 100%; height: 400px;"
											class="ag-theme-alpine"></div>
										<div id="summaryGrid" style="width: 100%; height: 400px;"
											class="ag-theme-alpine"></div>
										<div id="attendanceGrid" style="width: 100%; height: 400px;"
											class="ag-theme-alpine"></div>
										<div id="leaveGrid" style="width: 100%; height: 400px;"
											class="ag-theme-alpine"></div>			
								


									</div>
									
				<div class="modal fade" id="myModalForMonthly" data-bs-backdrop="static" data-bs-keyboard="false">
					<div class="modal-dialog modal-xl" style="margin-top: 15px;">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title md-color" id="masterIdBox">Master Checklist</h4>
								<div class="col-md-4 d-flex">
											<div class="col-md-6">
												<div class="form-group" id="yearData">
													<label>Year</label>
													<div class="select">
														<select id="masterYear" class="form-control"
															onchange="changeMaster()">
															<option value="">Select</option>
															<option th:each="c,iter:${yearList1}" th:value="${c.name}"
																th:text="${c.name}"></option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group" id="monthData">
													<label>Month Name</label>
													<div class="select">
														<select id="masterMonth" class="form-control"
															onchange="changeMaster()">
															<option value="">Select</option>
															<option value="3">MARCH</option>
															<option value="6">JUNE</option>
															<option value="9">SEPTEMBER</option>
															<option value="12">DECEMBER</option>
														</select>
													</div>
												</div>
											</div>
									</div>		
								
							</div>

							<!-- Modal Body -->
							<div class="modal-body row"
								style="height: 450px; overflow-y: scroll;" id="modalBody">
								<!-- Loader overlay -->
								<div id="loaderOverlay" class="custom-loader-overlay"
									style="display: none;">
									<div class="custom-loader"></div>
								</div>

								<!-- Asset Grid -->
								<div class="ag-theme-alpine" id="monthlySBOGrid"
									style="width: 100%; height: 415px;"></div>

								
							</div>

							<!-- Modal Footer -->
							<div class="modal-footer">
								<button class="btn1" data-dismiss="modal" onclick="submitProgress()">SAVE</button>
								<button class="btn4" data-dismiss="modal" onclick="cancelModalBtn()">CANCEL</button>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="modal fade" id="sboAnalysisModal" data-bs-backdrop="static" data-bs-keyboard="false">
				
					<div class="modal-dialog modal-xl" style="margin-top: 15px;">
					
						<div class="modal-content">

							<div class="modal-header">
								<h4 class="modal-title md-color">SBO/HI ANALYSIS GRAPH</h4>
							</div>

							<div class="modal-body row" style="height: 450px; overflow-y: scroll;" id="modalBody">
								<div id="container" style="width: 100%; height: 430px;"></div>
							</div>

							<div class="modal-footer">
								
								<button class="btn4" data-dismiss="modal" onclick="cancelModalBtn()">CLOSE</button>
							</div>
						</div>
					</div>
				</div>
				
								</div>

							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>