#header {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 10px;
			position: relative;
			height: 50px;
			background-color: #f8f9fa;
		}

		/* Breadcrumb styling */
		#breadcrumb {
			font-size: 20px;
			color: #007bff;
			margin-right: 10px;
			white-space: nowrap;
			/* Prevent wrapping */
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: 700;
		}

		/* Back button styling */
		/*#backButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    display: none;
}*/

		#backButton img {
			width: 24px;
			height: 24px;
		}

		/* Folder view styling */
		#folderView {
			display: flex;
			flex-wrap: wrap;
			padding: 20px;
		}

		.icon {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 10px;
			cursor: pointer;
		}

		.icon img {
			width: 65px;
			/* Adjust width as needed */
			height: 65px;
			/* Adjust height as needed */
			object-fit: contain;
		}

		.icon div {
			margin-top: 5px;
			font-size: 14px;
			text-align: center;
			font-weight: 700;
		}

		/* Back button styling */
		#backButton {
			background: none;
			border: none;
			cursor: pointer;
			padding: 0;
			position: absolute;
			/* Position absolutely within the header */
			top: 25px;
			/* Adjust top spacing as needed */
			left: 10px;
			/* Adjust left spacing as needed */
			display: none;
		}

		#backButton i {
			font-size: 24px;
			/* Adjust size as needed */
			color: #007bff;
			/* Adjust color as needed */
		}