.edit-css {
	color: rgb(191, 5, 255);
	text-decoration-line: none;
}
/* Custom CSS for Recruitment Kanban Dashboard */
.recruitment-kanban {
	padding: 6px;
}

.recruitment-kanban .kanban-column {
	margin-top: -13px;
	background-color: #ffffff;
	padding: 9px;
	margin-left: 8px;
}

.recruitment-kanban .kanban-column h5 {
	font-size: 1.25rem;
	font-weight: 600;
	color: #2c3e50;
	margin-bottom: 15px;
}

.recruitment-kanban .candidate-card {
	background-color: #f8f9fa;
	border: 1px solid #e9ecef;
	border-radius: 6px;
	padding: 10px;
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.candidate-forward-card {
	background-color: #f8f9fa;
	border: 1px solid #e9ecef;
	border-radius: 6px;
	padding: 10px;
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.candidate-name {
	font-size: 0.7rem;
	font-weight: 500;
	color: #2c3e50;
}

.candidate-badge-text {
	font-size: 10px;
}

.recruitment-kanban .candidate-card:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recruitment-kanban .candidate-name {
	font-size: 0.7rem;
	font-weight: 500;
	color: #2c3e50;
}

.recruitment-kanban .candidate-id {
	font-size: 0.875rem;
	color: #6c757d;
}

.recruitment-kanban .btn-add-candidate {
	width: 100%;
	margin-top: 10px;
}

.candidate-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.design {
	display: flex;
	align-items: center;
	justify-content: center;
}

.timeline {
	border-left: unset;
}

.timeline-content {
	padding: 20px;
	background: #1f1f1f;
	box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
	border-radius: 6px;
	color: white;
	transition: 0.4s ease;
	overflow-wrap: break-word !important;
	margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
	.timeline {
		display: grid;
		grid-template-columns: 3px 1fr;
		align-items: start;
	}
	.timeline-middle {
		position: relative;
		background-image: linear-gradient(45deg, #60147a, #bf05ff, #8A2387);
		width: 2px;
		height: 100%;
	}
	.timeline-circle {
		position: absolute;
		top: 0;
		left: 50%;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-image: linear-gradient(45deg, #60147a, #bf05ff, #8A2387);
		transform: translateX(-50%);
	}
}

.tc-r {
	margin-left: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.candidate-selection-container {
	padding: 13px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #ffffff;
}

.vendor-selection-container {
	padding: 13px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #ffffff;
	margin-left: 12px;
}

.selected-vendors {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.selected-vendor-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
	border: 1px solid #bf05ff;
	border-radius: 4px;
	background-color: #ffffff;
	color: #bf05ff;
}

.candidate-info {
	font-size: 12px;
	font-weight: bold;
}

.candidate-info-sts {
	font-size: 10px;
	font-weight: 500;
}

.moderate-actions {
	display: flex;
	align-items: center;
	gap: 8px;
}

.moderate-status {
	padding: 3px 8px;
	border-radius: 4px;
	border: 1px solid #9403e7;
	background-color: #f8f9fa;
	font-size: 13px;
	height: 20px;
	font-size: 5px;
	line-height: 11px;
}

.avgRating {
	font-size: 12px;
	background: #17a2b8;
	color: #fff;
	padding: 3px 6px;
	border-radius: 4px;
}

.remove-vendor {
	cursor: pointer;
	color: #dc3545;
}

.badge-success {
	background-color: #157347 !important;
	font-weight: 600 !important;
	border: 1px solid #157347;
	width: 68px;
}

.badge-warning {
	background-color: #0dcaf0 !important;
	font-weight: 600 !important;
	border: 1px solid #0dcaf0;
	color: #ffffff !important;
}

.badge-secondary {
	background-color: #ffc107 !important;
	font-weight: 600 !important;
	border: 1px solid #ffc107;
	width: 47px;
	color: #000000 !important;
}

.comparison-table {
	width: 100%;
	border-collapse: collapse;
}

.comparison-table th, .comparison-table td {
	padding: 6px;
	text-align: left;
	border: 2px solid #ddd;
}

.comparison-table th {
	background-color: rgb(192, 81, 231);
	color: white;
	font-weight: 700;
}

.comparison-table td.fixed {
	position: sticky;
	left: 0;
	background-color: #984bb3;
	font-weight: bold;
	color: white;
}

.comparison-table th.fixed {
	text-align: center;
}

.comparison-table .candidate-header {
	background-color: #c051e7;
	color: #ffffff;
	text-align: center;
}

.comparison-table .candi-score {
	text-align: center;
}

.comparison-table tfoot th {
	font-weight: bold;
	background-color: #e9ecef;
	color: black;
}

.comparison-table-wrapper {
	overflow-x: auto;
}

.filter-container {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 2px;
	background-color: #ffffff;
}

.filter-container label {
	font-weight: bold;
}

.filter-container label {
	font-weight: bold;
}

.form-control input[name=candidateRole], select[name=candidateFilter] {
	line-height: 1.5;
	padding-inline: 0.5rem;
	border-radius: 0.3rem;
	height: calc(1.5em + 0.75rem + 2px);
	background-color: #fff !important;
	color: #495057;
}

input[name=candidateRole]:disabled {
	background-color: #e9ecef;
	cursor: not-allowed;
}

.avgRating {
	background: #9403e7 !important;
}

.edit-btn.disabled {
	background-color: #aaaaaa59 !important;
	border-color: #aaaaaa59 !important;
	opacity: 0.4;
}

.comp-sec .btn-primary {
	background-color: #BF05FF;
	border: solid 1px #BF05FF;
}

.comp-sec .btn-secondary {
	background-color: #fff;
	color: #BF05FF;
	border: solid 1px #dee2e6;
}

.comp-sec .form-control input[name=candidateRole], .comp-sec  select[name=candidateFilter]
	{
	border-radius: 0 !important;
}

.chosen-container-multi .chosen-choices li.search-field {
	margin: 0;
	padding: 0;
	background-color: transparent !important;
	white-space: nowrap;
}

.section-top-header {
	font-size: 13px;
	border: 1px solid #cdcdcd;
	padding: 6px;
	background-color: #f2f2f2;
	color: var(--mainColor) !important;
}

.w-big {
	width: 98px !important;
}

.final-ctc-currency {
	height: 27px;
	border: 1px solid #bf05ff;
	background: #bf05ff;
	color: #ffffff;
	font-weight: 500;
}

.final-ctc-input {
	height: 27px;
	font-size: 14px;
	text-align: end;
	border: 1px solid rgb(191, 5, 255) !important;
	background: rgb(252, 252, 252);
	border-bottom-right-radius: 4px !important;
	border-top-right-radius: 4px !important;
	font-weight: 600;
}

.ag-theme-alpine {
	height: calc(100vh - 100px);
}

.text-right {
	text-align: right !important;
}

.add-ctc {
	color: #9200c4 !important;
	font-weight: 700;
}

.finalCtcCalcDiv .input-field {
	width: 100%;
	border: none;
	text-align: right;
	background-color: #f8f9fa;
}

.finalCtcCalcDiv .input-field:focus {
	outline: none;
	background-color: #fff;
}

.finalCtcCalcDiv .table tr {
	border-width: unset !important;
}

.finalCtcCalcDiv .table th {
	background-color: #bf05ff;
	color: white;
	font-weight: 500;
	text-align: center;
}

.finalCtcCalcDiv .table input {
	width: 100%;
	border: none;
	background: #efefef;
	text-align: right;
	border: 1px solid #cccc;
}

.finalCtcCalcDiv .table .total {
	font-weight: bold;
	background: #f8f9fa;
}

.finalCtcCalcDiv .table .total input {
	background-color: #f6f6f6 !important;
	color: #212529;
}

.input-field-ctc {
	border: 1px solid #bf05ff8a !important;
	background: #ffffff !important;
}

.see-breakup{
    font-weight: 600;
    color: #0d6efd !important;
}
