body {
	background-color: #ffffff;
	font-size: 13px;
}

.requisition .nav-item .active {
	color: #fff;
	background-color: #BF05FF !important;
}

.disabled-icon {
	pointer-events: none;
	opacity: 0.5;
	cursor: not-allowed;
}

/* .sub-header-new {
	padding: 10px 0px;
} */
.nav .nav-link {
	color: #000;
	background-color: #e4e4e4;
	margin: 0px 3px;
	margin-left: 0;
}

.nav .nav-link:hover {
	color: #fff;
	background-color: #BF05FF;
}

.requisition .nav-pills .nav-link {
	border-radius: var(- -bs-nav-pills-border-radius);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #BF05FF !important;
}

.requisition-tbl th, .requisition-tbl td {
	font-size: 12px
}

.go-btn {
	color: #fff;
	background-color: #BF05FF !important;
	border: 1px solid #BF05FF;
	font-size: 13px;
}

.mb-20 {
	margin-bottom: 10px;
}

/* .out-box {
	background-color: #fff;
	border: 1px solid #BF05FF;
	padding: 10px;
	min-height: 510px;
	position: relative;
	height: 36.38rem;
} */
/*
div#demo {
	max-height: 26.38rem;
	overflow-y: auto;
	overflow-x: hidden;
} */

/* .demo {
	max-height: 26.38rem;
	overflow-y: auto;
	overflow-x: hidden;
} */
.patient-head {
	font-size: 13px;
	font-weight: 500;
}

.wd-33 {
	width: 8%;
	text-align: center;
}

.txtbox {
	width: 83%;
}

.unitxt {
	font-size: 14px;
	margin-left: 10px;
}

.profile-sec {
	background-color: #ffffff;
	border: solid 1px #dee2e6;
	padding: 9px 6px;
}

.profile-txt {
	font-size: 14px;
	font-weight: 500;
}

.tab-ht {
	height: 35px;
}

.nav-pills {
	-bs-nav-pills-border-radius: 0 !important;
	-bs-nav-pills-link-active-color: #fff;
	-bs-nav-pills-link-active-bg: #0d6efd;
}

.newtab {
	position: relative;
}

.newtab .nav-link {
	padding: 7px 7px !important;
	margin-left: 0;
}

.newtab .nav .nav-link {
	color: #000;
	background-color: #e4e4e4;
	margin: 0px 3px;
	margin-left: 0 !important;
}

/* .wd-11 {
	width: 14%;
	text-align: center;
} */
.add-btn {
	color: #fff;
	background-color: #BF05FF !important;
	border: 1px solid #BF05FF;
	font-size: 13px;
}

.edit-btn {
	color: #000;
	background-color: #e4e4e4;
	border: 1px solid #e4e4e4;
	font-size: 13px;
}

.edit-btn:hover {
	color: #fff;
	background-color: #BF05FF !important;
	border: 1px solid #BF05FF;
	font-size: 13px;
}

.edit-btn.active {
	color: #fff;
	background-color: #BF05FF !important;
	border: 1px solid #BF05FF;
	font-size: 13px;
}

.mr-2 {
	margin-right: 3px;
}

.pd-r {
	padding-right: 0;
}

.pd-l {
	padding-left: 0;
}

.form-control {
	font-size: 13px !important;
}

.flxwrap {
	position: relative;
}

.search-sec {
	position: relative;
}

.search-sec .form-control {
	font-size: 13px !important;
	border-bottom: 1px solid var(--inputborder);
	border-top: none;
	border-left: none;
	border-right: none;
}

@media screen and (max-width: 767px) {
	.pd-r {
		padding-right: 12px !important;
	}
	.pd-l {
		padding-left: 12px !important;
	}
	.flxwrap {
		flex-wrap: wrap !important;
	}
	/* .search-sec .form-control {
		width: 60%;
	} */
}

.ag-header-cell {
	height: 30px !important;
	background: #ffffff !important;
	color: #000000 !important;
}

.ag-header-cell-text {
	color: #000000 !important;
}

/* General form styling */
/* .row {
	margin-bottom: 15px;
} */

/* .form-group label {
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
	display: block;
	font-size: 11px;
} */

/* .form-control, .select select {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 1px 7px;
	font-size: 14px;
	width: 100%;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
} */
.select::after {
	top: 10px;
	right: 10px;
}

/* .my-container input {
	margin-bottom: 2px;
	padding: 2px 7px;
} */

/* .form-control:focus, .select select:focus {
	border-color: #bf05ff;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
} */

/* Calendar icon */
.calendar_box i {
	position: absolute;
	top: 70%;
	right: 15px;
	transform: translateY(-50%);
	/* color: #bf05ff; */
	cursor: pointer;
}

/* textarea {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	font-size: 14px;
	width: 100%;
	resize: vertical;
}

textarea:focus {
	border-color: #007bff;
	outline: none;
} */
.txtcounter {
	color: #999;
	font-size: 12px;
	margin-top: 5px;
	text-align: right;
}

.tablenewhead {
	background-color: #efefef;
}

.modal-inrheading {
	font-weight: 500;
	color: black;
}

.select-pure__select {
	align-items: center;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
	color: #363b3e;
	cursor: pointer;
	display: flex;
	font-size: 9px;
	font-weight: 500;
	justify-content: left;
	min-height: 44px;
	padding: 5px 10px;
	position: relative;
	transition: 0.2s;
	width: 100%;
	background: #FFF;
}

.select-pure__options {
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
	color: #363b3e;
	display: none;
	left: 0;
	max-height: 221px;
	overflow-y: scroll;
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 5;
}

.select-pure__select--opened .select-pure__options {
	display: block;
}

.select-pure__option {
	background: #fff;
	border-bottom: 1px solid #e4e4e4;
	box-sizing: border-box;
	height: 44px;
	line-height: 25px;
	padding: 10px;
}

.select-pure__option--disabled {
	color: #e4e4e4;
}

.select-pure__option--selected {
	color: #e4e4e4;
	cursor: initial;
	pointer-events: none;
}

.select-pure__option--hidden {
	display: none;
}

.select-pure__selected-label {
	align-items: 'center';
	background: #931b1e;
	border-radius: 4px;
	color: #fff;
	cursor: initial;
	display: inline-flex;
	justify-content: 'center';
	margin: 5px 10px 5px 0;
	padding: 3px 7px;
}

.select-pure__selected-label:last-of-type {
	margin-right: 0;
}

.select-pure__selected-label i {
	cursor: pointer;
	display: inline-block;
	margin-left: 7px;
}

.select-pure__selected-label img {
	cursor: pointer;
	display: inline-block;
	height: 18px;
	margin-left: 7px;
	width: 14px;
}

.select-pure__selected-label i:hover {
	color: #e4e4e4;
}

.select-pure__autocomplete {
	background: #f9f9f8;
	border-bottom: 1px solid #e4e4e4;
	border-left: none;
	border-right: none;
	border-top: none;
	box-sizing: border-box;
	font-size: 16px;
	outline: none;
	padding: 10px;
	width: 100%;
}

.select-pure__placeholder--hidden {
	display: none;
}
/*Slimselect ends*/
.ag-cell.blueClsWT {
	background: #BF05FF !important;
	color: #fff !important;
}

.redClsWT {
	background: #ff9e99 !important;
	color: #fff !important;
}

.redClsWT::before {
	font-size: 8px;
	color: #FFF;
	content: '\e646';
	font-family: 'themify';
	padding-right: 7px;
}

.blueCls {
	background: #0076ba;
	color: #fff;
}

.blueClsWT::before {
	font-size: 8px;
	color: #FFF;
	content: '\e64c';
	font-family: 'themify';
	padding-right: 7px;
}

.tptCls {
	background: transparnt;
}

.date-green-box {
	color: #74348a !important;
	font-weight: 700;
	font-size: 11px;
}

#myVendorReq {
	display: none;
}

/* textarea {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	width: 100%;
	height: 150px;
	padding: 10px;
	resize: vertical;
	outline: none;
	font-family: 'themify';
} */

/* textarea:focus {
	border-color: #bf05ff;
	font-family: 'themify';
} */
.modal-inrheading {
	font-size: 13px;
	margin-bottom: 8px;
	font-weight: 500;
}

.experienceBox {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 12px;
	position: relative;
}

.experienceBox input {
	border-bottom: 1px solid #0000004a;
}

/* #minExpError, #maxExpError {
	position: absolute;
	top: 19px;
	width: 50%;
	font-size: 10px;
	font-weight: 100;
	color: #ff9e99;
	background-color: transparent;
	border-top: 1px solid #ff9e99;
} */
.chosen-container-multi .chosen-choices .search-field input[type="text"]
	{
	color: #999;
	font-style: italic;
	font-size: 14px;
}

/* Style for the Chosen container */
.chosen-container {
	font-family: Arial, sans-serif;
	border-radius: 5px;
}

thead.tablenewhead {
	/* background-color: rgb(192, 81, 231); */
	color: #000 !important;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 1px solid #dee2e6;
	background: transparent;
	font-size: 12px !important;
	color: #000 !important;
	text-align: center;
	font-weight: 500 !important;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .5px;
}

.navbar-nav li {
	padding: 10px 2px;
	border-right: 2px solid #f8f9fa;
	background: #FFF;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
	font-weight: 500;
}

.innerstickybg {
	top: 0;
}

.hr2 {
	position: relative;
	top: 12px;
	left: 3px;
	width: 96%;
	border: 1px solid #be00ff;
}

.grey-box {
	border: 1px solid #bf05ff;
	height: 26px;
	background-color: #be00ff;
	border-radius: 20px;
}

.green-box {
	border: 1px solid #be00ff;
	height: 26px;
	background-color: #ffffff;
	border-radius: 20px;
}

.grey-box div {
	font-size: 11px;
	text-align: center;
	color: #ffffff;
	padding: 3px 6px;
	font-weight: 500;
	position: relative;
	top: 0px;
	text-transform: unset;
}

.innerstickybg {
	background: #f8f8f8;
	background-image: unset !important;
	border-radius: 6px;
	border: solid 1px #ccc;
}

.newgrid {
	width: 20% !important;
	float: left;
	/* padding: 0px 8px; */
	margin-bottom: 14px;
}

.cnt-disabled {
	background: #f8f8f8 !important;
	border: 1px solid #ccc !important;
}

.number1-disabled {
	color: #696969 !important;
}

.profile-img {
	width: 120px;
	height: 120px;
	object-fit: cover;
}

/* label {
	font-size: 1rem;
	color: #6c757d;
} */
h3, h4, h5 {
	margin: 0;
}

.bg-light {
	background-color: #f8f9fa !important;
}

.border {
	border-color: 1px !important;
}

/* .shadow-sm {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* .btn-primary {
	background-color: #6c63ff;
	border-color: #6c63ff;
}

.btn-primary:hover {
	background-color: #5a55d6;
	border-color: #5a55d6;
} */
.edit-css {
	color: rgb(191, 5, 255);
	text-decoration-line: none;
}

.form-control:disabled {
	background-color: #fafafa !important;
}

select:disabled {
	background-color: #dadada;
}

/* textarea:disabled {
	background-color: #dadada;
} */
.btn.disabled, .btn:disabled, fieldset:disabled .btn {
	background-color: #aaaaaa59 !important;
	border-color: #aaaaaa59 !important;
	opacity: 0.4;
}

/* Apply styles to table header row */
#skillsTable thead tr {
	background-color: rgb(192, 81, 231) !important;
}

#skillsTable {
	width: 701px;
	margin-left: 12px;
}

/* Apply styles to header cells */
#skillsTable thead tr th {
	color: white !important;
}

.newgrid .border-line {
	background: #bf05ff08;
	border-radius: 7px;
	height: 113px;
	padding: 0px;
	text-align: center;
	border: 2px solid #bf05ff;
}

.number1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	text-align: center;
	color: #bf05ff;
	font-weight: 600;
	padding-top: 9px;
}

.text1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: unset;
	font-size: 12px;
	color: #bf05ff;
	padding: 10px 0;
	font-weight: 600;
}

.green-box>.green-box-heading {
	color: #be00ff;
	font-size: 12px;
	border-radius: 20px;
	position: relative;
	font-weight: 500;
	top: -2px;
	text-transform: unset;
}

/* Container styling */
.main-div {
	margin-top: 16px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; /* Ensure responsiveness */
	gap: 16px;
	position: relative;
	top: -20px;
}

/* Common box styling */
.grey-box {
	transition: transform 0.3s ease;
}

.grey-box:hover {
	transform: translateY(-5px);
}

/* Status styling */
.status {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 8px;
}

/* Date styling */
.date-green-box {
	color: #59575a !important;
	font-weight: 600;
	font-size: 10px;
	margin-bottom: 8px;
}

.createdname {
	margin-top: -9px;
}

.bg-timeline {
	height: 73px !Important;
}

.flex-item {
	width: calc(100%/ 8);
	height: auto;
	text-align: center;
	border: 1px solid #be00ff;
	border-radius: 6px;
	flex: 1 1 auto;
}
/* Responsive design */
@media ( max-width : 768px) {
	.main-div {
		justify-content: center;
	}
	.grey-box {
		max-width: 100%;
	}
	.bg-timeline {
		height: auto !Important;
	}
	.flex-item {
		width: calc(100%/ 4);
	}
	/* .search-sec .form-control {
        width: 60%;
    } */
	.max-btn {
		display: none;
	}
}

@media ( max-width : 652px) {
	.mb-mt30 {
		margin-top: 30px;
	}
}

@media ( max-width : 575px) {
	.flex-item {
		width: calc(100%/ 3);
	}
	.active-mt25 {
		margin-top: 25px;
	}
}

@media ( max-width : 445px) {
	.approve-mt25 {
		margin-top: 25px;
	}
}

.mt-70 {
	margin-top: 70px;
}

.mb-70 {
	margin-bottom: 70px;
}

.not-found {
	font-size: 12px;
}

.badge-warning {
	color: #212529;
	background-color: #ffc107;
}

.badge-danger {
	color: #fff;
	background-color: #dc3545;
}

.badge-primary {
	color: #fff;
	background-color: #007bff;
}

.badge {
	border-radius: 14px !important;
}

.badge-success {
	color: #fff;
	background-color: #28a745;
}

.text-jd {
	font-size: 54px !important;
	color: #bf05ff !important;
	margin-top: 1px;
}

.alert-success {
	color: #0f5132 !important;
	/* font-weight: 700; */
	background-color: #d1e7dd !important;
	border-color: #badbcc !important;
}

.text-bg-info {
	color: #000 !important;
	background-color: RGBA(var(--bs-info-rgb), var(--bs-bg-opacity, 1))
		!important;
}

.text-bg-secondary {
	color: #fff !important;
	background-color: RGBA(var(--bs-secondary-rgb), var(--bs-bg-opacity, 1))
		!important;
}

.reject-btn {
	margin-bottom: 0 !important;
	height: 26px;
}

.checkbox {
	font-size: 13px !important;
}

.timeline-log {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(26, 54, 126, 0.125);
	border-radius: .25rem;
}

.timeline-body {
	padding: 10px;
}

.vertical-timeline {
	width: 100%;
	position: relative;
	padding: 0;
}

.vertical-timeline .timeline-date {
	position: relative;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #bf05ff;
	margin-bottom: 21px;
	background: #fff;
	display: inline-block;
	padding: 2px 5px;
	border-radius: 5px;
	border: 1px solid #bf05ff;
	left: 33px;
}

.vertical-timeline::before {
	content: '';
	position: absolute;
	top: 4px;
	left: 67px;
	height: 100%;
	width: 4px;
	background: #bf05ff;
	border-radius: .25rem;
}

.vertical-timeline-element {
	position: relative;
	margin: 0 0 1rem;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
	visibility: visible;
	animation: cd-bounce-1 .8s;
}

.vertical-timeline-element-icon {
	position: absolute;
	top: 0;
	left: 60px;
}

.vertical-timeline-element-date {
	position: absolute;
	left: -90px;
	top: 0;
	padding-right: 10px;
	text-align: right;
	color: #bf05ff;
	font-size: 0.7619rem;
	white-space: nowrap;
	font-weight: 700;
}

.vertical-timeline-element-icon .badge-dot-xl {
	box-shadow: 0 0 0 5px #fff;
}

.badge-dot-xl {
	width: 18px;
	height: 18px;
	position: relative;
}

.badge:empty {
	display: none;
}

.badge-dot-xl::before {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: .25rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -5px 0 0 -5px;
	background: #fff;
}

.vertical-timeline-element-content {
	position: relative;
	margin-left: 90px;
	font-size: 0.8rem;
}

.vertical-timeline-element-content .timeline-title {
	font-size: .8rem;
	text-transform: uppercase;
	margin: 0 0 .5rem;
	padding: 2px 0 0;
	font-weight: bold;
	color: #bf05ff;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
	display: block;
	position: absolute;
	left: -90px;
	top: 0;
	padding-right: 10px;
	text-align: right;
	color: #bf05ff;
	font-size: .7619rem;
	white-space: nowrap;
	font-weight: 700;
}

.vertical-timeline-element-content:after {
	content: "";
	display: table;
	clear: both;
}

.vertical-timeline-element-icon i {
	background-color: #bf05ff !important;
}

.timeline-head {
	font-size: 17px;
	margin-bottom: 23px;
	margin-top: -7px;
}

.section-top-header {
	font-size: 13px;
	border: 1px solid #cdcdcd;
	padding: 6px;
	background-color: #f2f2f2;
	color: var(--mainColor) !important;
}

.jd-titile-txt {
	color: #000 !important;
	font-size: 14px;
	font-weight: 500 !important;
}

.ag-theme-alpine {
	height: calc(100vh - 100px);
}

.bg-primary-badge {
	width: 68px;
	background-color: rgb(190 0 255/ 6%) !important;
	font-size: 10px;
	font-weight: 500;
	color: rgb(190, 0, 255);
	line-height: 1.5;
	padding: 0px 8px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(190 0 255/ 21%);
	opacity: 1;
}

.bg-info-for {
	width: 68px;
	background-color: rgb(0 255 231/ 6%) !important;
	font-size: 10px;
	font-weight: 500;
	color: rgb(0, 156, 255);
	line-height: 1.5;
	padding: 0px 8px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(47, 175, 255);
	opacity: 1;
}

.bg-pending {
    width: 68px;
    background-color: rgb(251 255 2 / 19%) !important;
    font-size: 10px;
    font-weight: 500;
    color: rgb(186 170 30);
    line-height: 1.5;
    padding: 0px 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(238 240 22);
    opacity: 1;
}
.bg-close {
    width: 68px;
    background-color: rgb(255 0 0 / 6%) !important;
    font-size: 10px;
    font-weight: 500;
    color: rgb(255 52 52);
    line-height: 1.5;
    padding: 0px 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255 28 68 / 36%);
    opacity: 1;
}

.bg-created {
    width: 68px;
    background-color: rgb(0 0 0 / 6%) !important;
    font-size: 10px;
    font-weight: 500;
    color: rgb(110 110 110);
    line-height: 1.5;
    padding: 0px 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(210 210 210 / 36%);
    opacity: 1;
}

.bg-active-badge {
	background-color: rgb(236, 253, 243);
	font-size: 10px;
	font-weight: 500;
	color: rgb(6, 118, 71);
	line-height: 1.5;
	padding: 0px 8px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(171, 239, 198);
	opacity: 1;
}

select option:hover {
	background-color: #ffcc00 !important;
	color: #000;
}