
:root {
	--mainColor: rgb(191, 5, 255);
	--whiteColor: rgb(255,255,255);
	--secondaryColor:rgb(222, 226, 230);
	--blackColor:rgb(0,0,0);
	--grayborderColor:#dee2e6;
	--inputborder:#d5d5d5;
	/*--primaryFont: 'Arial';*/ /* For Font */
	.flex-fill.tab-content { height: 1px !important; }

	}

/* Table Layout */
.evaluation-table-wrapper {
	overflow-x: auto;
}

.evaluation-table {
	width: 100%;
	border-collapse: collapse;
	min-width: 48vw; /* Ensure there's enough width for the scrolling */
}

.evaluation-table th, .evaluation-table td {
    padding: 6px;
    text-align: center;
    border: 1px solid #cdcdcd;
}
/* Fixed column styles */
.evaluation-table th, .evaluation-table td.fixed {
    position: sticky;
    left: 0;
    background-color: rgb(249 249 249) ;
    z-index: 1;
}

.evaluation-table td.fixed {
    background-color: #ecececa8 !important;
    color: #000000;
    font-size: 12px;
}

/* Style for Average column */
.evaluation-table td.average {
    position: sticky;
    right: 0;
    background-color: #e9ecef;
    font-size: 12px;
}

.evaluation-table th {
    font-weight: 500;
    color: #000;
    font-size: 12px;
}
.evaluation-table td {
	background-color: #fff;
}

.feedback, .score {
	font-size: 12px;
	color: #333;
}

.feedback p, .score p {
	margin: 5px 0;
}

.score {
	text-align: right;
}

.average {
	font-weight: bold;
	color: #333;
	background-color: #e9ecef;
}

@media ( max-width : 768px) {
	.evaluation-table th, .evaluation-table td {
		padding: 8px;
		font-size: 12px;
	}
}

.evaluation-table .tbl-fix {
    z-index: 9999 !important;
    background-color: #f9f9f9;
}

.overall-summary {
    font-size: 15px!important;
    font-weight: 600!important;
    background-color: #b6b6b6 !important;
    color: #ffffff!important;
}
.stick-col {
	position: sticky;
	right: 0;
}

.interviewer-summary {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100px;
}

.evaluation-table td.tbl-fix {
	text-align: left;
}

.stick-col-two {
	position: sticky !important;
	left: 65px !important;
	text-align: center !important;
}

.comparison-table {
	width: 100%;
	border-collapse: collapse;
}

.comparison-table th, .comparison-table td {
	padding: 6px;
	text-align: left;
	border: 2px solid #ddd;
}

.comparison-table th {
	background-color: rgb(192, 81, 231);
	color: white;
	font-weight: 700;
}

.comparison-table td.fixed {
	position: sticky;
	left: 0;
	background-color: #984bb3;
	font-weight: bold;
	color: white;
}

.comparison-table th.fixed {
	text-align: center;
}

.comparison-table .candidate-header {
	background-color: #c051e7;
	color: #ffffff;
	text-align: center;
}

.comparison-table .candi-score {
	text-align: center;
}

.comparison-table tfoot th {
	font-weight: bold;
	background-color: #e9ecef;
	color: black;
}

.comparison-table-wrapper {
	overflow-x: auto;
	margin-top: 14px;
}

.hr-nav-tabs.wizard {
	display: flex;
	flex-wrap: nowrap; /* Prevent wrapping */
	overflow-x: auto; /* Enable horizontal scrolling */
	overflow-y: hidden;
	white-space: nowrap;
	/* Prevent items from breaking into the next line */
	background-color: transparent;
	margin: 0 auto;
	border-radius: .25em;
	border-bottom: none;
	width: 100%;
	scrollbar-width: thin; /* Optional: Customize scrollbar width */
}

/* Optional: Styling for smooth scrolling */
.hr-nav-tabs.wizard::-webkit-scrollbar {
	height: 6px;
}

.hr-nav-tabs.wizard::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 3px;
}

.hr-nav-tabs.wizard li {
	display: inline-block;
	flex-shrink: 0; /* Prevents shrinking */
}

/* Ensure the parent container allows scrolling */
.nav-container {
	overflow-x: auto;
	width: 100%;
}

.hr-nav-tabs.wizard li {
	display: flex;
	margin-bottom: 3px;
	flex: 1 1 auto;
	width: 100%;
}

.hr-nav-tabs.wizard li>* {
	position: relative;
	padding: 1em .8em .8em 2.5em;
	color: #000000;
	background-color: #dedede;
	border-color: #dedede;
	width: 100%;
}

.hr-nav-tabs.wizard li.completed>* {
	color: #fff !important;
	background: linear-gradient(45deg, #ffcd0c, #c644ff) !important;
	border-color: #cd53e5 !important;
	border-bottom: none !important;
	border-color: #cd53e5 !important;
}

.hr-nav-tabs.wizard li.active>* {
	color: #fff !important;
	background: linear-gradient(45deg, #be00ff, #8103d4) !important;
	border-color: #8803e0 !important;
	border-bottom: none !important;
}

.hr-nav-tabs.wizard li::after:last-child {
	border: none;
}

.hr-nav-tabs.wizard>li>a {
	opacity: 1;
	font-size: 10px;
	text-decoration: none;
	font-weight: 600;
	align-content: center !important;
}

span.nmbr {
	display: inline-block;
	padding: 10px 0 0 0;
	background: #ffffff;
	width: 35px;
	line-height: 100%;
	height: 35px;
	margin: auto;
	border-radius: 50%;
	font-weight: bold;
	font-size: 16px;
	color: #555;
	margin-bottom: 10px;
	text-align: center;
}

.hr-nav-tabs.wizard li {
	position: relative;
	padding: 0;
	margin: 4px 4px 4px 0;
	width: auto;
	float: left;
	text-align: center;
	display: flex;
}

@media ( min-width :992px) {
	.hr-nav-tabs.wizard li.active a {
		/* padding-top: 15px; */
		text-decoration: none;
	}
	.hr-nav-tabs.wizard li::after, .hr-nav-tabs.wizard li>*::after {
		content: '';
		position: absolute;
		top: -6px;
		left: 100%;
		height: 0;
		width: 0;
		border: 23px solid transparent;
		border-right-width: 0;
		/*border-left-width: 20px*/
	}
	.hr-nav-tabs.wizard li::after {
		z-index: 1;
		-webkit-transform: translateX(4px);
		-moz-transform: translateX(4px);
		-ms-transform: translateX(4px);
		-o-transform: translateX(4px);
		transform: translateX(4px);
		border-left-color: #fff;
		margin: 0
	}
	.hr-nav-tabs.wizard li>*::after {
		z-index: 2;
		border-left-color: inherit
	}
	.hr-nav-tabs.wizard>li:nth-of-type(1)>a {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		text-decoration: none;
	}
	.hr-nav-tabs.wizard li:last-child a {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		text-decoration: none;
	}
	.hr-nav-tabs.wizard li:last-child {
		margin-right: 0;
	}
	.hr-nav-tabs.wizard li:last-child a:after, .hr-nav-tabs.wizard li:last-child:after
		{
		content: "";
		border: none;
	}
	span.nmbr {
		display: block;
	}
}

/* Interview Progress Timeline Css */
.interview-timeline {
	margin-top: 7px;
	background: #fff;
	border: 1px solid #ddd;
}

.round {
	border-bottom: 1px solid #eee;
	padding: 10px 0px;
}

.round:last-child {
	border-bottom: none;
}

.round-header {
	display: flex;
	align-items: center;
}

.status-badge {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 6px 12px;
	border-radius: 15px;
	color: #fff;
	position: relative;
	margin-right: 15px;
}

.status-badge.selected {
	background: linear-gradient(45deg, #be00ff, #8803e0);
	/* Website's primary color */
}

.status-badge.rejected {
	background: #dc3545; /* Red */
}

.round-info h3 {
    margin: 0;
    font-size: 13px;
    color: #5c5c5c;
	margin-bottom: 2px;
}
.round-info p {
	margin: 0;
	font-size: 12px;
	color: #777;
}

.feedback-list {
	/* background: #f9f9f9; */
	border-radius: 5px;
	margin-top: 8px;
	/* padding: 10px; */
}

.feedback {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
}

.feedback-header h4 {
	margin: 0;
	font-size: 12px;
	color: #bf05ff; /* Website's primary color */
}

.feedback-header p {
	margin: 0;
	font-size: 12px;
	color: #888;
}

.feedback-header .toggle-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #fff;
	color: #bf05ff;
	border: solid 1px #bf05ff!important;
	border-radius: 5px;
	font-size: 14px;
	width: 25px;
	height: 25px;
	line-height: 23px;
	text-align: center;
	cursor: pointer;
}

.feedback-details {
	display: none;
	margin-top: 10px;
}


.feedback-item {
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 10px;
	background-color: #fafafa;
}


.feedback-item span {
	display: block;
	font-size: 10px;
	color: #7800a1;
	font-weight: 700;
	position: relative;
	left: 4px;
	align-items: center;
}

.skill-name {
	display: inline-block;
	max-width: 65px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.rating {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 8px;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	color: #fff;
}

.rating.good {
	background: linear-gradient(45deg, #be00ff, #8803e0); /* Teal */
	width: 100%;
	text-align: center;
}

.comments {
    font-size: 11px;
    color: #838080;
    font-weight: 400;
	margin-bottom: 0;
}

.feedback-score {
	width: 75px;
}

.avgRating {
	background: #9403e7 !important;
}

.round-toggle-btn {
	background: #fff;
	color: #bf05ff;
	border: solid 1px #bf05ff!important;
	border-radius: 5px;
	font-size: 14px;
	width: 25px;
	height: 25px;
	line-height: 23px;
	text-align: center;
	cursor: pointer;
}

.custom-tablist-scroll {
	overflow-x: auto;
}

.custom-tablist {
	padding-left: 0;
	margin: 6px 0 0;
	list-style-type: none;
	display: table;
	white-space: nowrap;
	width: 100%;
}

.custom-tab-item {
	display: table-cell;
}

.custom-tab-link {
	display: block;
	padding: 8px;
	background-color: #a704df;;
	color: #fff;
	text-decoration: none;
}

.custom-tab-link[aria-selected="false"]:hover {
	background-color: #602594;
	color: #fff;
}

.custom-tab-link[aria-selected="true"] {
	background-color: #fff;
	padding: 13px 12px;
	color: #a704df;
	border-top: 4px solid;
	margin-top: -6px;
}

.custom-tab-panel {
	background: #fff;
	width: 100%;
}

.custom-tab-panel[aria-hidden="true"] {
	display: none;
	visibility: hidden;
}

.custom-tab-panel[aria-hidden="false"] {
	display: block; /* Show the active panel */
}

.interviewed-details-timeline {
	margin-right: 5px;
	width: 96%;
	margin: 12px;
	background: #fff;
	border: 1px solid #ddd;
}

.interviewer-names-container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px; /* space between the name boxes */
}

.interviewer-box {
	background-color: #be00ff00;
	padding: 2px 6px;
	border-radius: 5px;
	border: 1px solid #bf05ff;
	font-weight: bold;
	color: #bf05ff;
	text-align: center;
	white-space: nowrap;
	word-wrap: break-word;
}

.interviewed-details-rounds {
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 10px;
	background-color: #fafafa;
}

#candidateStatusMsg {
	width: 96%;
	margin-left: 12px;
	padding: 4px;
	/* font-weight: 500; */
	padding: 4px;
	margin-bottom: -3px;
}

.hidden {
	display: none;
}

.hr-nav-tabs.wizard li.disabled {
	pointer-events: none;
	opacity: 0.6; /* Reduce visibility for disabled items */
	cursor: not-allowed; /* Change cursor to indicate non-clickable */
}

.hr-nav-tabs.wizard li.disabled a {
	pointer-events: none;
	color: #6c757d; /* Optional: Change color to a "disabled" look */
}

#skipRound {
	font-size: 13px;
	font-weight: bold;
	float: right;
	margin-top: -21px;
}

.filter-container {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #ffffff;
}

.filter-container label {
	font-weight: bold;
}

.filter-container label {
	font-weight: bold;
}

.form-control input[name=candidateRole], select[name=candidateFilter] {
	line-height: 1.5;
	padding-inline: 0.5rem;
	border-radius: 0.3rem;
	height: calc(1.5em + 0.75rem + 2px);
	background-color: #fff !important;
	color: #495057;
}

input[name=candidateRole]:disabled {
	background-color: #e9ecef;
	cursor: not-allowed;
}

button {
	font-size: 0.875rem;
}

.badge-strongly-recommended {
	background-color: #28a745;
	color: #fff;
}

.badge-recommended {
	background-color: #17a2b8;
	color: #fff;
}

.badge-maybe {
	background-color: #ffc107;
	color: #212529;
}

.badge-not-recommended {
	background-color: #dc3545;
	color: #fff;
}

.badge-no-opinion {
	background-color: #6c757d;
	color: #fff;
}

.badge-default {
	background-color: #f8f9fa;
	color: #212529;
}

.candidate-header {
	text-align: left;
	padding: 8px;
	vertical-align: middle;
}

.candidate-checkbox {
	cursor: pointer;
}

.candidate-header.selected {
	background-color: lightblue; /* Selected color */
}

.candidate-header label {
	color: #ffffff !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
	margin: 6px 5px 3px 0;
}

.chosen-container-multi .chosen-choices {
	border-radius: 8px;
	line-height: 1.5;
	padding-inline: 0.5rem;
	border-radius: 0.3rem;
	height: calc(1.5em + 0.75rem + 2px);
	background-color: #fff !important;
	color: #495057;
	border: 0;
}

.jd-titile-txt {
	color: #000 !important;
    font-size: 14px;
    font-weight: 500 !important;
}

.jobDetailsSec {
	margin-top: 8px;
}

.list-unstyled {
	left: 6px;
	top: 5px;
	background: transparent;
	position: relative;
}

.bg-web-clr {
	background-color: #bf05ff !important;
}

.bg-web-clr-txt {
	color: #bf05ff !important;
}

.avatar-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: linear-gradient(40deg, #c546f0, #7000aa) !important;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
}

.avatar {
	width: 3rem;
	height: 3rem;
}

.rounded-3 {
	border-radius: 0.5rem !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

.me-4 {
	margin-right: 1.5rem !important;
}

@media only screen and (max-width: 979px) {
	.jobs-item {
		flex-basis: calc(50% - 30px);
	}
	.jobs-item-title {
		font-size: 24px;
	}
}

@media only screen and (max-width: 767px) {
	.jobs-container {
		width: 96%;
	}
}

@media only screen and (max-width: 639px) {
	.jobs-item {
		flex-basis: 100%;
	}
	.jobs-item-title {
		min-height: 72px;
		font-size: 24px;
	}
	.jobs-item-link {
		padding: 22px 40px;
	}
	.jobs-item-date-box {
		font-size: 16px;
	}
}

.form-section {
	margin-bottom: 20px;
}

.form-section h5 {
	margin-bottom: 15px;
}

.form-section table {
	width: 100%;
}

.skills-section {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-card {
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
	border-radius: 8px;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	padding-left: 18px !important;
}

.skill-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-card i {
	font-size: 1.5rem;
}

.skill-card span {
	font-size: 12px;
	color: #333;
}

.text-jd {
	font-size: 54px !important;
	color: #bf05ff !important;
	margin-top: 1px;
}

.skill-card small {
	font-size: 11px;
	color: #777;
}

.bg-pending {
	background-color: #ffbe00 !important;
}

.round-icon-btn {
	margin-top: 4px;
	width: 33px !important;
	height: 33px !important;
	margin-right: 4px;
}

.round-icon-btn i {
	font-size: 20px;
	position: relative;
	right: 6px;
	bottom: 1px;
	color: #bf05ff;
}

.round-icon-radius-r {
	left: 4px;
}

.round-icon-radius-l {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.interviewed-details-rounds h6{
	margin-bottom: 7px;
	font-size: 12px !important;
}
.feedback-item h6{
	margin-bottom: 7px;
	font-size: 12px !important;
}
.section-top-header {
    font-size: 13px;
    border: 1px solid #cdcdcd;
    padding: 6px;
    background-color: #f2f2f2;
    color: var(--mainColor) !important;

}

.txt-bold{
	font-weight: 500;
}
