<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>
<style>
#myReq .ag-row-selected {
	background: #0076ba !important;
	color: #fff;
	text-indent: 10px !important;
}

#myReq .ag-row-selected::before {
	font-size: 8px;
	color: #FFF;
	content: '\e64c';
	font-family: 'themify';
	margin-right: 7px;
	position: relative;
	top: 3px;
	right: 4px;
}

.formValidation1 {
	font-size: 10px;
	font-weight: 100;
	color: #f60909f7;
	background-color: transparent;
	position: relative;
	top: -1px;
	padding: 3px 0px;
}

.sugg-cls ul {
	height: 150px;
	overflow-x: scroll;
	position: absolute;
	top: 110px;
}

ul#autocomplete-list1 {
	position: absolute;
	width: 100%;
	z-index: 999;
}

ul#autocomplete-list1 li {
	position: relative;
	color: #fff;
	padding-left: 6px;
	background-color: #1f57a8;
	border-bottom: solid 1px #6189c2;
	padding-top: 5px;
	padding-bottom: 5px;
}
</style>
<script>
	function viewEmployees() {
		agGrid.simpleHttpRequest({
			url : 'manage-off-days-view'
		}).then(function(data) {
			var jsonData = JSON.parse(data.body);
			var allData = jsonData.viewData;
			console.log("view>>>>>>>>>>>>>", allData)
			if (allData != null) {
				gridOptions.api.setRowData(allData);
				var totalRowCount = gridOptions.api.getModel().getRowCount();
				$('#totalCandidate').find('span').html(totalRowCount);
			} else {
				$('#totalCandidate').find('span').html('0');
				gridOptions.api.setRowData('');
			}
		});
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";
		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}
	var columnDefs = [
			{
				headerCheckboxSelection : true,
				headerCheckboxSelectionFilteredOnly : true,
				checkboxSelection : true,
				rowSelection : 'single',
				width : 10,
				sortable : false,
				filter : false,
				resizable : true,
				pinned : 'left',
			},
			{
				headerName : "Employee Id",
				field : "empId",
				width : 130,
				pinned : 'left',
				cellRenderer : function(params) {
					return '<a onclick=editPage("' + params.data.offId
							+ '") href="javascript:void(0)">'
							+ params.data.empId + '</a>';
				}
			}, {
				headerName : "offId",
				field : "offId",
				width : 220,
				cellStyle : {
					textAlign : 'center'
				},
				hide : true,
			}, {
				headerName : "Employee Name",
				field : "employeeName",
				width : 220,
				pinned : 'left',
			}, {
				headerName : "Department",
				field : "dept",
				width : 200,
			}, {
				headerName : "Desgnation",
				field : "desg",
				width : 200,
				cellStyle : {
					textAlign : 'left'
				},
			}, {
				headerName : "OFF Days",
				field : "offDays",
				width : 150,
				cellStyle : {
					textAlign : 'center'
				},
			}, {
				headerName : "Effective Date",
				field : "date",
				width : 150,
				cellStyle : {
					textAlign : 'center'
				}
			}, {
				headerName : "Status",
				field : "status",
				width : 150,
				cellStyle : {
					textAlign : 'center'
				},
				cellRenderer : function(params) {
					if (params.data.status == 'Approved') {
						return '<div style="color:#0642f5">Approved</div>';
					} else {
						return '<div style="color:#a9a9a9">Pending</div>';
					}
				}
			}, {
				headerName : "Approved By",
				field : "approvedBy",
				width : 190,
				cellStyle : {
					textAlign : 'center'
				},
			} ];
	var gridOptions = {
		columnDefs : columnDefs,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 149,
			height : 10
		},
		rowSelection : 'multiple',
		suppressRowClickSelection : true,
		onSelectionChanged : onSelectionChangedState
	};

	function onSelectionChangedState() {
		var selectedRows = gridOptions.api.getSelectedRows();
		var rowCount = 0;
		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});
		if (rowCount == 1) {
			$('#newItem').attr("disabled", true);
			$('#delete1').attr("disabled", false);
			var selectedRows = gridOptions.api.getSelectedRows();
			var status = selectedRows[0].status;
			if (status == 'Approved') {
				$('#approve').attr("disabled", true);
				$('#delete1').attr("disabled", true);
			} else {
				$('#approve').attr("disabled", false);
				$('#delete1').attr("disabled", false);
				$('#newItem').attr("disabled", true);
			}
		} else if (rowCount > 1) {
			var status = selectedRows[0].status;
			if (status == 'Approved') {
				$('#approve').attr("disabled", true);
			} else {
				$('#approve').attr("disabled", false);
			}
			$('#newItem').attr("disabled", true);
		} else {
			$('#approve').attr("disabled", true);
			$('#delete1').attr("disabled", true);
			$('#newItem').attr("disabled", false);
		}
	}

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
		var totalRowCount = gridOptions.api.getModel().getRowCount();
		$('#totalCandidate').find('span').html(totalRowCount);
	}

	function openNav() {
		$(".formValidation").remove();
		$('#save').attr("disabled", false);
		$('#cancelBtn').attr("disabled", true);
		$("#approve").attr("disabled", true);
		$("#delete1").attr("disabled", true);
		$("#newItem").attr("disabled", true);
		$("#editProduct").val("");
		$("#offId").val("");
		$("#empId").val("");
		$('#employeeName').val("");
		$('#offDays').val("");
		var dateFormat = localStorage.getItem("dateFormat");
		var currentDate = (new Date()).toISOString().split('T')[0];
		var newDate = changeDateFormat(currentDate);
		$('#date').val(newDate);
		document.getElementById("mySidenav").style.cssText = "width: 30%; position: absolute; right:-10px; overflow: hidden; height:auto; bottom:200px;";
		document.getElementById("main").style.width = "70%";
	}

	function closeNav() {
		$("#approve").attr("disabled", true);
		$("#delete1").attr("disabled", true);
		$("#newItem").attr("disabled", false);
		$("#offId").val("");
		$("#empId").val("");
		$('#employeeName').val("");
		$('#offDays').val("");
		document.getElementById("main").style.width = "100%";
		document.getElementById("mySidenav").style.width = "0%";
	}

	function getEmployeeList() {
		var search = $("#employeeName").val();
		if (search) {
			$
					.ajax({
						type : "POST",
						url : "manage-off-days-employee-list",
						dataType : 'json',
						contentType : 'application/json',
						data : search,
						success : function(response) {
							if (response.message == "success") {
								if (response.body.length != 0) {
									$("#empId").val("");
									$("#employeeName")
											.css("background", "#FFF");
									var content = '<ul id="autocomplete-list1" style="margin-left:-40px; font-weight:100; font-size:14px; color:#ccc;">';
									for (var i = 0; i < response.body.length; i++) {
										content += '<li class="autocompletedata cp" onClick="selectAutocompleteValueItem1(\''
												+ response.body[i].key
												+ '\',\''
												+ window
														.btoa(response.body[i].name)
												+ '\')">'
												+ response.body[i].key
												+ " - "
												+ response.body[i].name
												+ '</li>';
									}
									content += '</ul>';
									$("#suggesstion-box_").show();
									$("#suggesstion-box_").html(content);
								} else {
									$("#employeeName")
											.css("background", "#FFF");
									var content = '<ul id="autocomplete-list1">';
									content += '<font-weight:100; font-size:14px;color:#ccc;background-color: #0909e4;"li onClick="selectAutocompleteValueItem()">'
											+ "No Data Found" + '</li>';
									content += '</ul>';
									$("#suggesstion-box_").show();
									$("#suggesstion-box_").html(content);
								}
							}
						},
						error : function(data) {
							console.log(data);
						}
					})
		} else {
			$("#empId").val("");
			$("#employeeName").val("");
			$("#suggesstion-box_").hide();
		}
	}

	function selectAutocompleteValueItem1(empId, employeeName) {
		if (empId) {
			$("#error1").hide();
			$("#employeeName").val(window.atob(employeeName));
			$("#empId").val(empId);
			$("#employeeName").attr('data-procat', empId);
			$("#suggesstion-box_").hide();
		} else {
			$("#empId").val("");
			$("#employeeName").val("");
			$("#employeeName").attr('data-procat', "");
			$("#suggesstion-box_").hide();
		}
	}
	document.addEventListener('DOMContentLoaded', function() {
		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);
	});
	$(document).ready(function() {
		$("#approve").attr('disabled', true);
		$("#delete1").attr('disabled', true);
		var dateFormat = localStorage.getItem("dateFormat");
		var currentDate = (new Date()).toISOString().split('T')[0];
		var newDate = changeDateFormat(currentDate);
		$('#date').val(newDate);
		$("#dateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
			value : newDate,
		}).on("change", function() {
			$('#date').val($(this).val());
		})
		$('#date').blur(function() {
			$("#dateCalendar").val($(this).val());
		});
		viewEmployees();
	});

	function editPage(id) {
		//	getEmployeeList(id);
		$("#searchDiv").hide();
		$("#download").hide();
		$.ajax({
			type : "GET",
			url : "manage-off-days-edit?id=" + id,
			success : function(response) {
				if (response.code == "success") {
					openNav();
					var jsonData = JSON.parse(response.body);
					var allData = jsonData.editData;
					var len = allData.length;
					$("#offId").val(allData[0].offId);
					$("#empId").val(allData[0].empId);
					$('#employeeName').val(allData[0].employeeName);
					$('#offDays').val(allData[0].offDays);
					$('#date').val(allData[0].date);
					if (allData[0].status == '1') {
						$('#save').attr('disabled', true);
					} else {
						$('#save').attr('disabled', false);
					}
				}
			},
			error : function(e) {
			}
		});
	}

	function addOFFDays() {
		var editProduct = $("#editProduct").val();
		var item = {};
		var validation = true;
		item.offId = $("#offId").val();
		item.empId = $("#empId").val();
		item.employeeName = $('#employeeName').val();
		item.offDays = $('#offDays').val();
		item.date = $('#date').val();
		var rowCount = 0;
		gridOptions.api.forEachNodeAfterFilterAndSort(function(node) {
			console.log(node.data.empId);
			if (node.data.empId === item.empId && node.data.date===item.date) {
				rowCount += 1;
			}
		});
		var validation = true;
		if (item.employeeName == null || item.employeeName == "") {
			validation = validationUpdated("Employee Name  Required",
					"employeeName");
		}
		if (item.empId == null || item.empId == "") {
			validation = validationUpdated("Employee Id  Required", "empId");
		}
		if (item.offDays == null || item.offDays == "") {
			validation = validationUpdated("OFF Day Required", "offDays");
		}
		if (item.date == null || item.date == "") {
			validation = validationUpdated("Date Required", "date");
		}
		console.log("add--", item);
		if (validation) {
			console.log("item", item);
			if (rowCount > 0 && (item.offId == '' || item.offId == null)) {
				$('#candMsg').text("");
				$('#candValid').modal('toggle');
				$('#candMsg').text("Employee Already Exists on the Same Effective Date");
				$("#offId").val("");
				$("#empId").val("");
				$('#employeeName').val("");
				$('#offDays').val("");
				//		$('#date').val("");
			} else {
				saveDatas(item);
			}
		}
	}

	function saveDatas(datas) {
		$.ajax({
			type : "POST",
			url : "manage-off-days-add",
			contentType : "application/json",
			data : JSON.stringify(datas),
			success : function(response) {
				if (response.message == "Success") {
					closeNav();
					$('.loader').hide();
					$("body").removeClass("overlay");
					$('#candMsg').text("");
					$('#candValid').modal('toggle');
					$('#candMsg').text("Data Saved Successfully");
					viewEmployees();
				}
			},
			error : function(data) {
				$('.loader').hide();
				$("body").removeClass("overlay");
			}
		})
	}

	function changeDateFormat(inputDate) { // expects Y-m-d
		var splitDate = inputDate.split('-');
		if (splitDate.count == 0) {
			return null;
		}
		var year = splitDate[0];
		var month = splitDate[1];
		var day = splitDate[2];
		return day + '-' + month + '-' + year;
	}

	function deleteItem() {
		$('#deleteProduct').modal('show');
	}

	function cancelModalBtn() {
		$('#deleteProduct').modal('hide');
	}

	function modalApprove() {
		$('#approveModal').modal('show');
	}

	function closeapprove() {
		$('#approveModal').modal('hide');
	}

	function approve() {
		var selectedRows = gridOptions.api.getSelectedRows();
		var id = selectedRows[0].offId;
		var emplist = "";
		selectedRows.forEach(function(rowNode) {
			emplist += '"' + rowNode.offId + '",';
		});
		emplist = '(' + emplist.substring(0, emplist.length - 1) + ')';
		console.log(emplist);
		$.ajax({
			type : "GET",
			url : "manage-off-days-approve?id=" + emplist,
			success : function(response) {
				if (response.code == "success") {
					$("#messageParagraph").text(response.message);
					$("#msgOkModal").removeClass("btn3");
					$("#msgOkModal").addClass("btn1");
					$("#msgModal").modal('show');
					$('#delete').modal('hide');
					viewEmployees();
					$('#approveModal').modal('hide');
					$('#approve').attr("disabled", true);
					$('#delete1').attr("disabled", true);
					$('#newItem').attr("disabled", false);
				} else {
					$("#messageParagraph").text("Something went to wrong!");
					$("#msgOkModal").removeClass("btn3");
					$("#msgOkModal").addClass("btn1");
					$("#msgModal").modal('show');
				}
			},
			error : function(data) {
				console.log(data)
			}
		})
	}

	function deleteProductOnclick() {
		var selectedRows = gridOptions.api.getSelectedRows();
		var emplist = "";
		selectedRows.forEach(function(rowNode) {
			emplist += '"' + rowNode.offId + '",';
		});
		emplist = '(' + emplist.substring(0, emplist.length - 1) + ')';
		console.log(emplist);
		$.ajax({
			type : "GET",
			url : "manage-off-days-delete?id=" + emplist,
			success : function(response) {
				if (response.code == "success") {
					$("#messageParagraph").text(response.message);
					$("#msgOkModal").removeClass("btn3");
					$("#msgOkModal").addClass("btn1");
					$("#msgModal").modal('show');
					$('#delete').modal('hide');
					cancelModalBtn();
					viewEmployees();
					$('#approve').attr("disabled", true);
					$('#delete1').attr("disabled", true);
					$('#newItem').attr("disabled", false);
				} else {
					$("#messageParagraph").text("Something went to wrong!");
					$("#msgOkModal").removeClass("btn3");
					$("#msgOkModal").addClass("btn1");
					$("#msgModal").modal('show');
				}
			},
			error : function(data) {
				console.log(data)
			}
		})
	}
	function downloadOffDayDetails() {
		var rowCount = 0;
		gridOptions.api.forEachNodeAfterFilterAndSort(function(rowNode, index) {
		    if (rowNode.data.empId) {
		        rowCount++;
		    }
		});
		if (rowCount > 0) {
			var name = "Employee Off Days Details "; // Name of the CSV file
		    var allColumns = gridOptions.columnApi.getAllColumns();

		    allColumns.forEach(col => {
		        if (col.getColDef().headerName) {
		            col.getColDef().headerName = col.getColDef().headerName.toUpperCase();
		        }
		    });

		    var visibleColumns = allColumns.filter(col => {
		        const headerName = col.getColDef().headerName;
		        const isColumnVisible = !col.getColDef().hide;
		        return headerName !== undefined && headerName !== null && isColumnVisible;
		    });

		    var visibleColumnIds = visibleColumns.map(col => col.getColId());

		    const params = {
		        skipHeader: false,
		        columnGroups: false,
		        skipFooters: false,
		        skipGroups: false,
		        skipPinnedTop: false,
		        skipPinnedBottom: false,
		        allColumns: true,
		        onlySelected: false,
		        suppressQuotes: false,
		        fileName: name + '.csv',
		        sheetName: 'Sheet1',
		        customHeader: null,
		        customFooter: null,
		        columnKeys: visibleColumnIds
		    };
		    gridOptions.api.exportDataAsCsv(params);
		} else {
		    $("#messageParagraph").text("NO DATA AVAILABLE FOR DOWNLOAD!");
		    $("#msgOkModal").removeClass("btn3");
		    $("#msgOkModal").addClass("btn1");
		    $("#msgModal").modal('show');
		}
}
 
</script>
<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">
					<div id="grid">
						<div class="d-flex justify-content-between" id="hideTbl">
							<div class=" btn-hs">
								<div class="font-design" id="totalCandidate">
									Employee List (<span></span>)
								</div>
							</div>
							<div class=" btn-hs" id="searchRowDiv">
								<div class="input-style">
									<input type="text" placeholder="Search.." name="search"
										class="searchboxinput" onkeyup="cancelBar()"
										oninput="onQuickFilterChanged()" id="quickFilter"
										autocomplete="off">
									<div class="searchicon">
										<a href="javascript:void(0)"><span
											style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
											id="closeKey"
											onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
											class="close_i"><i class="ti-close srchicon"></i></span></a><a
											href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
									</div>
								</div>
							</div>
							<div class=" btn-hs" align="right">
								<button class="download-btn" id="download" onclick="downloadOffDayDetails()">Download</button>
								<button class="delete-btn" id="delete1" onclick="deleteItem()">Delete</button>
								<button class="btn2" id="approve" onclick="modalApprove()">Approve</button>
								<button class="new-btn" id="newItem" onclick="openNav()">New</button>
							</div>
						</div>
						<div class="row" id="main">
							<div id="myGrid" style="width: 100%; height: 500px;"
								class="ag-theme-alpine"></div>
						</div>
						<div id="mySidenav" class="sidenav">
							<input type="hidden" id="sessionId" th:value="${userId}" /> <input
								type="hidden" id="sessionName" th:value="${userName}" /> <input
								type="hidden" id="adRole" th:value="${adRole}" /> <input
								type="hidden" id="mrRole" th:value="${mrRole}" /> <input
								type="hidden" id="empRole" th:value="${empRole}" /> <input
								type="hidden" id="sessionRole" th:value="${userRole}" />
							<div class="innercontent">
								<div class="slidebox">
									<div class="row">
										<div class="row">
											<div class="form-group">
												<button class="delete-btn" id="cancel" onclick="closeNav()">CANCEL</button>
												<button class="btn1" id="save" onclick="addOFFDays()">SAVE</button>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="row">
										<input type="hidden" id="offId">
										<div class="col-md-12">
											<div class="form-group">
												<div class="autocomplete" style="width: 100%">
													<label>Employee Name</label> <input type="text"
														class="form-control" id="employeeName" autocomplete="off"
														onkeyup='getEmployeeList()' onblur="removeValid(event)"
														placeholder="Enter Employee Id/Name" /> <span id="error1"
														class="formValidation-other"></span>
												</div>
												<div id="suggesstion-box_" class="sugg-cls"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label>Employee ID</label> <input type="text"
													class="form-control" id="empId" disabled>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label>OFF Days</label>
												<div class="select">
													<select class="form-control" id="offDays">
														<option value="">Select</option>
														<option value="Monday">Monday</option>
														<option value="Tuesday">Tuesday</option>
														<option value="Wednesday">Wednesday</option>
														<option value="Thursday">Thursday</option>
														<option value="Friday">Friday</option>
														<option value="Saturday">Saturday</option>
														<option value="Sunday">Sunday</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group calendar_box">
											<label>Effective Date</label> <input type="text" id="date"
												autocomplete="off" class="form-control"
												onblur="removeValid(event)"
												th:attr="onkeyup=|formatDate('date','${session.DATEFORMAT_JS}')|"
												readonly> <i class="ti-calendar picker_calendar"
												id="dateCalendar"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- The Modal For Validation-->
					<div class="modal fade" id="candValid">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column"></div>
								<div class="modal-body">
									<p id="candMsg"></p>
								</div>
								<div class="modal-footer justify-content-center">
									<button type="button" class="btn1" data-bs-dismiss="modal">Ok</button>
								</div>
							</div>
						</div>
					</div>
					<div id="deleteProduct" class="modal fade show" aria-modal="true">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column">
									<button type="button" class="close" data-bs-dismiss="modal"
										aria-hidden="true" onclick="deleteProductOnclick()"></button>
								</div>
								<div class="modal-body">
									<p>Do you really want to delete these records? This process
										cannot be undone.</p>
								</div>
								<div class="modal-footer justify-content-center"
									style="margin-top: -30px;">
									<button type="button" class="cancel-btn" data-dismiss="modal"
										onclick="cancelModalBtn();">Cancel</button>
									<button type="button" class="delete-btn"
										onclick="deleteProductOnclick()">Delete</button>
								</div>
							</div>
						</div>
					</div>
					<div id="approveModal" class="modal fade show" aria-modal="true">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column">
									<button type="button" class="close" data-bs-dismiss="modal"
										aria-hidden="true" onclick="closeapprove()"></button>
								</div>
								<div class="modal-body">
									<p>Do you really want to approve ?</p>
								</div>
								<div class="modal-footer justify-content-center"
									style="margin-top: -30px;">
									<button type="button" class="cancel-btn" data-dismiss="modal"
										onclick="closeapprove();">Cancel</button>
									<button type="button" class="approve-btn" onclick="approve()">Approve</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>