<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="../css/setting/warehouse-item-configuration.css">
<script type="text/javascript"
	src="../javaScript/setting/warehouse-item-configuration.js"></script>
	<style>
		.out-box .focus-btns .edit-btn:focus{color: #000;}
	</style>
</head>

<body>

	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid requisition">

			<!-- Tab panes -->
			<div class="tab-content">

				<!--Tabbination 1 Start-->
				<div id="warehouse" class="tab-pane active">
					<div class="d-flex flex-column flex-lg-row">
						<!--Left Sec Start-->
						<div class="box-sec" id="collapseWidthR1">
							<div class="out-box">
								<div
									class="d-flex justify-content-between p-2 gap-3 bdr-line">
									<div class="col-md-8 col-12">
										<form class="d-flex search-sec gap-2 position-relative">
											<input class="form-control" type="text"
												placeholder="Search" id="quickFilter"
												onkeyup="cancelBar()">
											<button class="btn go-btn" type="button"
												onclick="onQuickFilterChanged()">Go</button>
												<button class="btn go-btn" type="button"
												onclick="resetGrnDetails()">Reset</button>
										</form>
									</div>
									<div class="col-md-2 d-flex justify-content-end">
									<button class="btn max-btn" id="collapseButtonR1"
										onclick="triggerExpansionR(1)" data-bs-toggle="tooltip"
										data-bs-placement="top" title="Expand">
										<i class="fa-solid fa-maximize" id="expandIconR1"></i> <i
											class="fa-solid fa-minimize d-none" id="shrinkIconR1"></i>
									</button>
									</div>
								</div>
								<div class="card m-2 p-2">
									<div id="myGrid" style="width: 100%; height: 100vh;" class="ag-theme-alpine"></div>
								</div>
							</div>
						</div>


						<!--Left Sec End-->

						<!--Right Sec Start-->
						<div class="box-sec" id="collapseWidthL1">
							<div class="out-box">
								<div class="d-flex justify-content-between  p-2 bdr-line">
									<!-- <div>
										<a class="erp-page-name active" data-bs-toggle="pill"
											href="#itemAllocation"
											onclick="activityTabs('itemAllocation');">Item Allocation</a>
									</div> -->
									<ul class="nav nav-pills newtab" role="tablist">

										<li class="nav-item"><a class="nav-link active"
											data-bs-toggle="pill" href="#itemAllocation" id="itemAllocationTab">Item Allocation</a></li>
									</ul>
									<button class="btn max-btn" id="collapseButtonL1"
										type="button" onclick="triggerExpansionL(1)"
										data-bs-toggle="tooltip" data-bs-placement="top"
										title="Expand">
										<i class="fa-solid fa-maximize" id="expandIconL1"></i> <i
											class="fa-solid fa-minimize d-none" id="shrinkIconL1"></i>
									</button>
								</div>

								<!--Right Inner Tab Start-->
								<!-- Tab panes -->
								<div class="tab-content flex-fill h-25">
									<!--Personal Information New Start  -->
									<div class="tab-pane fade show active h-100" id="itemAllocation" role="tabpanel">
										<div class="d-flex flex-column h-100 ">


											<!--<div class="border m-2">
												<table class="table mb-0" width="100%">
													<tr valign="middle">
														<td width="20%">Warehouse ID <strong id="pId" class="fnt-b"></strong></td>
														<td width="20%">Warehouse Name <strong id="pName"></strong></td>
														<td>
															<div class="d-flex justify-content-end">
																<div class="mr-2"></div>
																<div class="mr-0 focus-btns">
																	<button id="add" onclick="addDetails()" class="btn btn-primary edit-btn" type="button">Add</button>
																	<button id="edits" onclick="enableFields()" class="btn btn-primary edit-btn" type="button">Edit</button>
																	<button id="delete" onclick="deleteDetails()" class="btn btn-primary edit-btn" type="button">Delete</button>
																</div>
															</div>

														</td>
													</tr>
												</table>
											</div>-->

                      <div class="d-flex align-items-center justify-content-between border rounded m-2 p-2">
                        <div class="project-name flex-1"><span class="fw-600 fs--14" id="pName"></span></div>
                        <div class="d-flex justify-content-end gap-2 flex-1 flex-wrap">
                          <button id="add" onclick="addDetails()" class="btn m-0 edit-btn" type="button">Add</button>
                          <button id="edits" onclick="enableFields()" class="btn m-0 edit-btn" type="button">Edit</button>
                          <button id="delete" onclick="deleteDetails()" class="btn m-0 edit-btn" type="button">Delete</button>
                        </div>
                      </div>

											<div class="card h-100 m-2 p-2 mt-0">
												<div id="activity" style="width: 100%; height: 350px;"
													class="ag-theme-alpine"></div>
												<div class="mt-2">
													<div class="d-flex gap-2 justify-content-end">
														<button id="save" onclick="masterSaveData()"
															class="btn m-0 edit-btn" type="button">Save</button>
														<button id="resetBtn" onclick="resetData()"
															class="btn m-0 edit-btn" type="button">Reset</button>
													</div>
												</div>
												<div class="row mt-2">
													<input type="hidden" id="edit">
													<div class="col-lg-6">
														<div class="form-group">
															<label>Material Name</label> <span class="mandatory">*</span>
															<select id="sku" class="form-select">
																<option value="">Select</option>
																<option th:each="c,iter:${itemlist}" th:value="${c.key}"
																	th:text="${c.name}"></option>
															</select>
														</div>
													</div>
													<div class="col-lg-6">
														<div class="form-group">
															<label>Minimum Quantity</label> <span class="mandatory">*</span>
															<input type="text" class="form-control" id="minQty"
																maxLength="10" onkeyup="checkNumeric('minQty');"
																onblur="removeValid(event)"> <span id="error2"
																class="formValidation1"></span>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>