div#myGridEducation, #workDetailsContainer, #bankDetailsContainer, #salaryDetailsContainer, #documentDetailsContainer, #ccrDetailsContainer {
	font-family: var(--bs-body-font-family), sans-serif;
	font-size: calc((13/16)*1rem);
	& .fw-bold {
		font-weight: 500 !important;
	}
}

.clear {
	clear: both;
}

#addressid_ {
	height: 36px;
}

.newtab .nav-link {
	padding: 3px 7px !important;
	margin-left: 0;
	height: 36px;
	width: auto;
	min-width: 8ch;
	display: flex;
	align-items: center;
	justify-content: center;
}

.picker_calendar1 {
	cursor: pointer;
	position: absolute;
	top: 12px;
	right: 15px;
}

/* .search-sec {
	position: relative;
	width: 320px;
} */
.new-btn {
	height: 36px;
	margin-bottom: 0px;
}

.download-btn {
	height: 28px;
	background-color: #BF05FF;
	color: #FFF;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.custom-form-title {
	/*background-color: #BF05FF;*/
	color: #333;
	font-size: 15px;
}

.custom-btn-height {
	height: 41px;
}

.close_i.close-search {
	position: absolute;
	right: 50px;
	top: 2px;
	width: auto;
	margin: 5px;
}

.snackbar {
	visibility: hidden;
	min-width: 150px;
	margin-left: -125px;
	background-color: #BF05FF;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 16px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	bottom: 30px;
	font-size: 14px;
	opacity: 0;
	transition: opacity 0.5s, bottom 0.5s;
}

.snackbar.show {
	visibility: visible;
	opacity: 1;
	bottom: 50px;
}

.tab-content>.active {
	max-height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
}

.sub-heading {
	/* background-color: #efefef; */
	color: #333;
	font-size: 15px;
	/* padding: 5px 10px; */
}

.cardAddress {
	width: 350px;
	background: #fff;
	border-radius: 0.25rem;
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
	padding: 0.5rem;
	text-align: left;
	flex: 1;
	position: relative;
}

.card h5 {
	font-size: 14px !important;
}

.card .card-header {
	padding: 0 !important;
	margin-bottom: 0;
	background-color: transparent !important;
	border-bottom: none !important;
}

#addTypeField .btn-primary {
	color: #fff;
	background-color: #BF05FF;
	border-color: #BF05FF
}

#nameDtls i {
	font-size: 13px;
	line-height: 1.66;
	vertical-align: text-bottom;
	margin-right: 4px;
}

#nameDtls {
	font-size: 13px;
	font-weight: 500;
}

.details a {
	font-size: 13px;
	font-weight: 400;
	color: #333;
}

.details label {
	font-size: 13px;
	font-weight: 500;
}

.card-title h4 {
	font-size: 14px;
	font-weight: 500;
}

.custom-file-upload {
	margin-top: 0 !important;
}

.imageName {
	margin-top: 0 !important;
}

.uploadicon {
	/*margin-top: 7px !important;*/
}

/* Timeline Circle */
.timeline-circle {
	background-color: rgb(191, 5, 255);
	width: 10px;
	height: 10px;
	position: absolute;
	left: -5px;
	/*top: 10px;*/
	top: 45%;
	border-radius: 50%;
}

/* Timeline Vertical Line */
.timeline-line {
	background-color: rgb(191, 5, 255);
	width: 2px;
	height: 100%;
	position: absolute;
	left: -1px;
	/*top: 20px;*/
	top: 45%;
}

/* Education Card */
.education-card {
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	flex-grow: 1;
	position: relative;
}

/* Edit Icon (Top Right Corner) */
.edit-icon {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	color: rgb(191, 5, 255);
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
}

.edit-icon:hover {
	color: #9b04d3;
}

/* Document Link */
.document-link {
	color: rgb(191, 5, 255);
	text-decoration: none;
	font-weight: 500;
}

.document-link:hover {
	color: #9b04d3; /* Slightly darker on hover */
	text-decoration: underline;
}

.no-education-message {
	background-color:#ffffff;
	color: #BF05FF;
	text-align: center;
	padding: 15px;
	border-radius: 6px;
	font-weight: 500;
	border:solid 1px #e3e2e2;
}

#imageName_0 {
	position: absolute;
	top: 2.3rem;
	left: 68px;
}

.image-delete-icon {
	position: absolute;
	bottom: 38px;
	left: 11rem;
}

#imageName_2 {
	position: absolute;
	/*top: 22px;*/
	top: 2.2rem;
	left: 83px;
}

.image-delete-icon1 {
	position: absolute;
	bottom: 45px;
	left: 15rem;
}

#candidateDetailsBar {
	/* margin-left: 67px; */
}

.close_sec {
	position: absolute;
	right: -11rem;
}

.close_sec {
	position: absolute;
	right: -9rem;
}

.close_icon_ccr {
	position: absolute;
	font-size: calc((14/16)*1rem);
	left: 12rem;
	top: -5px;
}

.offerLetter {
	position: relative;
	/* position: absolute;
	right: 8rem;
	top: 47px; */
}

.image-delete-icon2 {
	position: absolute;
	bottom: 39px;
	left: 14rem;
}

.custom-file-icon {
	font-size: calc((14/16)*1rem); /* Increases icon size */
	color: rgb(191, 5, 255); /* Custom purple color */
}

.deleteFile {
	cursor: pointer;
	font-size: calc((14/16)*1rem);
	position: absolute;
	left: 8rem;
	bottom: -7px;
	border: solid 1px var(--grayborderColor) !important;
    display: inline-block;
    cursor: pointer;
    font-weight: 100;
    background-color: var(--whiteColor);
    margin: 0 5px;
    line-height: 31px;
    border-radius: .25rem;
    height: 32px;
    transition: all 0.5s;
    width: 32px;
    text-align: center;
	font-size: 12px;
}

.deleteFile:hover{
	background-color: #F5F6F6 !important;
}

.custom-file-icon1 {
	font-size: calc((14/16)*1rem);
	color: rgb(191, 5, 255);
	position: absolute;
	/*bottom: 20px;*/
	bottom: 1.5rem;
	/*left: 33px;*/
	left: 3.5rem;
}

.deleteFile1 {
	cursor: pointer;
	font-size: calc((14/16)*1rem);
	left: 177px;
	position: absolute;
	/*bottom: 18px;*/
	bottom: 1.8rem;
	left: 11rem;
}

.custom-file-icon2 {
	font-size: calc((14/16)*1rem);
	color: rgb(191, 5, 255);
	position: absolute;
	bottom: 1.1rem;
	left: 2.8rem;
}

.deleteFileCCR2 {
	cursor: pointer;
	font-size: calc((14/16)*1rem);
	/*left: 177px;*/
	/*position: absolute;*/
	/*top: -2px;*/
	/*left: 13rem;*/
}

.custom-file-iconCCR {
	font-size: calc((14/16)*1rem);
	/*position: absolute;*/
	color: rgb(191, 5, 255);
	/*right: 0px;*/
	/*top: -5px;*/
}

.deleteFileEd {
	position: absolute;
	cursor: pointer;
	font-size: calc((14/16)*1rem);
    right: 110px;
}

.deleteFileBank {
	position: absolute;
	cursor: pointer;
	font-size: calc((14/16)*1rem);
	left: 14rem;
	bottom: 1.5rem;
}

.custom-file-iconBank {
	font-size: calc((14/16)*1rem);
	position: absolute;
	color: rgb(191, 5, 255);
	left: 54px;
	top: 2.4rem;
}

.custom-file-iconCCR1 {
	position: absolute;
	font-size: calc((14/16)*1rem);
	color: rgb(191, 5, 255);
	left: 50px;
	top: 13rem;
}

.deleteFileCCR1 {
	position: absolute;
	font-size: calc((14/16)*1rem);
	left: 13rem;
	top: 13rem;
}

.custom-file-iconDoc {
	position: absolute;
	font-size: calc((14/16)*1rem);
	color: rgb(191, 5, 255);
	left: 2.8rem;
	top: 2.3rem;
}

.deleteFileDoc {
	position: absolute;
	font-size: calc((14/16)*1rem);
	left: 12rem;
	top: 1.8rem;
	border: solid 1px var(--grayborderColor) !important;
    display: inline-block;
    cursor: pointer;
    font-weight: 100;
    background-color: var(--whiteColor);
    margin: 0 5px;
    line-height: 31px;
    border-radius: .25rem;
    height: 32px;
    transition: all 0.5s;
    width: 32px;
    text-align: center;
	font-size: 12px;
}

.deleteFileDoc:hover{
	background-color: #F5F6F6 !important;
}	

.edutitle{
	font-size: 14px;
}
.type-txt{
	font-size: 13px;
	font-weight: 500;
}
.form-group label{
	margin-top: 4px;
}


.edit-icon-add {
	position: absolute;
	color: rgb(191, 5, 255);
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
	top: 0.5rem;
	right: 0.5rem;
}
.card-add-new{
	position: relative;
}
#myGridEducation h6{
	display: none!important;
}
.salary-table{
	position: relative;
}

.salary-table table tr th{
	font-weight: 500!important;
}
.salary-table table tr td{
	font-size: 12px!important;
}

@media screen and (max-width: 480px) {
	.cardAddress {
        width: 100%; 
        padding: 1rem; 
		margin-bottom: 4px;
    }
	.card-add-new{
		display: block!important;
	}
}