.dyheadCls {
	text-align: center;
}

td input {
	overflow: visible;
	width: 100%;
	border: 0;
	text-align: right;
	font-size: 12px;
	font-weight: 100;
}

input:focus {
	border: 0;
	outline: 0;
}

input disabled {
	background: none;
}

 #basic th:first-child {
	border: none;
}

.abc td:first-child {
	border: 1px solid #ccc;
} 
#myModal input[type=checkbox] {
	width: 0px;
	margin-right: 16px;
	position: relative;
	top: -2px;
	float: none;
}
.firstnodec {
	/* color: #333;
	border-top: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important; */
	/* width: 300px; */
	/* font-size: 12px;
	font-weight: 100; */
	text-align-last: right
}
.firstnode1 {
	color: #676666;
	border-top: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important;
	width: 320px;
	font-size: 14px;
	font-weight: 100;
}

table {
	border: 1px solid #ebeded;
}

table th {
	border: 1px solid #ccc;
	background: #a6a6a6;
	color: #fff;
	padding: 2px 4px;
	font-weight: 600;
}

table td {
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 2px 4px;
}

.simple-tree-table-closed .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
	transform: rotate(90deg);
}

.simple-tree-table-opened .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.simple-tree-table-icon {
	display: inline-block;
	width: 1.5em;
	line-height: 1.5em;
	margin: 0.1em;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
}

.txt-rt {
	text-align: right
}

.mrg-lft {
	margin-left: 8px
}
/* table td
{
width:250px;
} */
.tooltip-wrap {
	position: relative;
}

.tooltip-wrap .tooltip-content {
	display: none;
	position: absolute;
	bottom: 5%;
	left: -65%;
	right: 5%;
	background-color: #afff;
	padding: .15px;
	min-width: 10px;
}

.tooltip-wrap:hover .tooltip-content {
	display: block;
	height: 50px;
	width: 150px;
}

/* #myGrid2 .ag-row:first-child {
	border: 1px solid #007bff;
	
}  */
#cancel {
    margin-bottom: 20px;
}
.buttonsec {
    margin: auto;
    margin-top: 7px;
}