/* body {
            background-color: #f8f8f8;
        } */

        .mt-10 {
            margin-top: 16px !important;
        }
        .mr-10 {
        margin-right: 16px !important}

        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12 {
            padding: 0px 8px;
        }

        div.card {
            border: 0;
            /* margin-bottom: 30px; */
            margin-top:0px;
            border-radius: 6px;
            color: rgba(0, 0, 0, .87);
            background: #e0e0e0;
            width: 100%;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        }

        div.card.card-plain {
            background: transparent;
            box-shadow: none;
        }

        div.card .card-header {
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 0px;
            padding: 0;
            border: none;
            /* border: 0; */
            /* background: linear-gradient(60deg, #eee, #bdbdbd); */
        }

        .card-plain .card-header:not(.card-avatar) {
            margin-left: 0;
            margin-right: 0;
        }

        .div.card .card-body {
            padding: 0px 16px 10px 16px;
        }

        div.card .card-header-primary {
            /* background: linear-gradient(60deg, #0070c0, #0161a7); */
            background-color: #ffffff;
            /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(55, 39, 176, 0.6); */
        }

        .card-header:first-child {
            border-radius: 0 !important;
        }

        /* .card-nav-tabs .card-header {
            margin-top: -30px !important;
        } */

        .card .card-header .nav-tabs {
            padding: 0;
        }

        .nav-tabs {
            border: 0;
            border-radius: 3px;
            padding: 0 15px;
        }

        .nav {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        .nav-tabs .nav-item {
            margin-bottom: -1px;
        }

        .nav-tabs .nav-item .nav-link.active {
            background-color: hsla(0, 0%, 100%, .2);    
            transition: border-bottom .3s .2s;
            border:none;
            border:2px solid rgb(191, 5, 255);
            border-top:0px;
            border-radius: 0;
            color:#000;
        } 

        .nav-tabs .nav-item .nav-link {
            color: #000000;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            transition: border-bottom .3s 0s;
            -webkit-backdrop-filter: blur(0px);
            /* border: 2px solid rgba(255, 255, 255, 0.18); */
            margin: 2px;
            background: #FFF;
            border:1px solid #dee2e6;
            padding: 5px 10px;

        }
        .nav-tabs .nav-item .nav-link:hover {
            color:#000;
        }
        .nav-link {
            display: block;
        }

        .nav-tabs .nav-item .material-icons {
            margin: -1px 5px 0 0;
            vertical-align: middle;
        }

        .nav .nav-item {
            position: relative;
            /*width: 14%;*/
            text-align: center;
        }

        .dashboard-header {
            margin: 0;
            text-align: center;
            /* color: #ffffff; */
            color: #0070c0;
            text-transform: uppercase;
        }

        .d-box {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 15px 8px;
            border-radius: 10px;
            border: 1px solid #cccccc;
            background: #ffffff;
        }

        .d-box p {
            margin: 0;
            color: #000000;
            text-transform: uppercase;
            font-size: 12px !important;
            font-weight: 600;
        }

        .d-box-1 {
            border-bottom: 3px solid #ffc000;
        }

        .d-box-2 {
            border-bottom: 3px solid #0070c0;
        }

        .d-box-3 {
            border-bottom: 3px solid #1fca9e;
        }

        .d-box-4 {
            border-bottom: 3px solid #00bbf3;
        }

        .d-box-5 {
            border-bottom: 3px solid #be05ff;
        }

        .d-box-6 {
            border-bottom: 3px solid #ec70dd;
        }

        img {
            height: 100%;
            width: 100%;
        }

        .grey-bg {
            background-color: #f2f2f2;
            padding: 4px 8px;
        }

        .kpi-heading {
            /* background-color: #dc97f3; */
            margin: 0;
            /*font-size: 12px;*/
            font-size: 13px;
            color: #000000;
            /*padding: 7px 0px;*/
            text-align: left;
            text-transform:uppercase;
        }

        .numbers-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: #ffffff;
            padding: 5px;
        }

        .numbers {
            align-self: flex-end;
            margin: 0;
            font-size: 14px;
            font-weight: 500;
        }

        .numbers-box-text {
            font-size: 13px;
    		text-align: left;
        }

        .numbers-box-text span {
            margin-left: 2px;
        }

        .profit {
            color: #00b050;
        }

        .loss {
            color: #c50500;
        }

        .indents-table {
            display: flex;
            flex-flow: column;
            width: 100%;
            border-collapse: collapse;
            background: #ffffff;
        }

        .indents-table td {
            border: 1px solid rgba(0, 0, 0, .125);
            font-weight: normal;
            text-align: left;
            padding-left: 3px;
        }

        .indents-table th {
            border: 1px solid #b7b7b7 !important;
            background: #FFF;
            font-weight: bold !important;
            color: #000;
            text-align: left;
            font-weight: 500;
            padding-left: 3px;
            font-size: 13px;
        }

        .indents-table th {
        }

        .indents-table td {
            font-size: 12px;
        }

        .indents-table thead {
            padding-right: 5px;
            flex: 0 0 auto;
        }

        .indents-table tbody {
            flex: 1 1 auto;
            display: block;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .indents-table tr {
            width: 100%;
            display: table;
            table-layout: fixed;
        }

        .compliance-dds {
            display: flex;
        }

        .compliance-dashboard-heading {
            display: flex;
            justify-content: space-between;
        }

        .compliance-dashboard-heading h2 {
            font-size: 16px;
            margin: 0;
        }

        .form-select {
            padding-top: 0px;
            padding-bottom: 0px;
            font-size: 13px;
        }

        .form-select:focus {
            border-color: #bdbdbd;
            outline: 0;
            box-shadow: 0 0 0 3px rgba(89, 89, 89, 0.25);
        }

        .dashboard-separator {
            height: 2px;
            background: linear-gradient(45deg, #0d0036, #040056, #434ea9, #b1bceb)
        }

        .kpi-card-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            background-color: #ffffff;
        }

        .recruitment-h6 {
            /*font-size: 12px;*/
            font-size: 13px;
            text-transform: uppercase;
            text-align: left;
        }


        .mrtop{
            position: relative;
           }


 /*Mobile Responsive */
 @media screen and (max-width: 1025px) {
   /* .nav-tabs .nav-item .nav-link {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
    }*/
    .mrtop{
        margin-top: 8px;
       }

       .net-sales-text{
        display: none;
       }
 }

 .nav-tabs .nav-item .nav-link:hover {
    background-color: #F8F8F8 !important;
    border-radius: 0 !important;
}

/*HRMS  Start */
.crm-cmo-rev-num {
    /*font-size: 12px;*/
    font-size: 13px;
    margin: 0;
    margin-top: 10px;
    color: #212529;
}

.resetbtn {
    border: none;
    border-radius: 4px;
    font-size: 10px;
    background-color: #dc3545;
    color: #fff !important;
    margin-left: 5px;
    margin-bottom: 8px;
    width: 70px;
    height: 28px;
    line-height: 12px;
    float: right;
    text-transform: uppercase;
    cursor: pointer !important;
}
.greenborder {
    border-bottom: solid 2px #00b050;
}
.redborder {
    border-bottom: solid 2px #c50500;
}
.violetborder {
    border-bottom: solid 2px #be05ff;
}
.blueborder {
    border-bottom: solid 2px #00bbf3;
}
.orangeborder {
    border-bottom: solid 2px #FE6A35;
}
.redborder {
    border-bottom: solid 2px #c50500;
}

.box {
    height: 64px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px 8px;
    border-radius: 0px!important;
    background-color: #ffffff;
    transition: all 0.5s;
}
.newbx {
    margin: 10px 0;
    margin-bottom: 0 !important;
    margin-top: 14px;
}

 .box p {
		margin: 0;
		color: #000000;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
	}

	.box:hover {
		background-color: #BF05FF;
		color: #FFF!important;
		cursor :pointer;	
	}

	.box:focus {
		background-color: var(--primary)!important;
		color: #FFF!important;	
	}
	
	.box:hover p {
		color: #FFF!important;
	} 

	.box:focus p {
		color: #FFF!important;
	} 
	
	 .box.active{
		 color: #FFF!important;
		 background-color: #BF05FF;
	} 
	.box.active p {
    color: #FFF !important;
    background-color: #BF05FF;
	}
	.kpi-card-container .btn1{
	  text-transform: uppercase!important;
	  font-size: 10px!important;
	}