:root {
    .tabMyCare {
        h5 { margin: 0; }
        .badge { font-size: calc((10.6/16)*1rem); font-weight: 600; vertical-align: text-bottom; }
        .custom-class-1 .ag-header-cell-label { justify-content: flex-end; }
        .custom-class-2 .ag-header-cell-label, .custom-class-2 { justify-content: center; text-transform: capitalize !important; height: 40px !important; }
        label.form-label { margin-top: unset; }

    .ag-theme-alpine#gridPhysicalActivity {
        input[type=radio].form-check-input:checked {
            border-color: var(--primary-color-500);
            background-color: var(--primary-color-500);
        }
        .ag-header {
            height: 40px !important;
            .ag-header-row, .ag-header-cell {
                height: 38px !important;
            }
        }
        .ag-row {
            height: 90px !important;

            .ag-cell {
                height: 90px !important;
                line-height: 1.4 !important;
            }
        }
    }

}