
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<style>
.innerstickybg {
    /*  background: #33b5e5 ; */
 		background: none ;
}

#myModal input[type=checkbox] {
	width: 0px;
	margin-right: 16px;
	position: relative;
	top: -2px;
	float: none;
}
.firstnode1 {
	color: #676666;
	border-top: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important;
	width: 320px;
	font-size: 14px;
	font-weight: 100;
}
table {
	border: 1px solid #ebeded;
}

table th {
	border: 1px solid #ccc;
	background: #a6a6a6;
	color: #fff;
	padding: 2px 4px;
	font-weight: 600;
}

table td {
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 2px 4px;
}

.simple-tree-table-closed .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
	transform: rotate(90deg);
}

.simple-tree-table-opened .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.simple-tree-table-icon {
	display: inline-block;
	width: 1.5em;
	line-height: 1.5em;
	margin: 0.1em;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
}

#myReq .ag-row-selected {
	background: #0076ba !important;
	color: #fff;
	text-indent: 10px !important;
}

.blank_row {
	height: 10px !important; /* overwrites any other rules */
	background-color: #FFFFFF;
}

#myReq .ag-row-selected::before {
	font-size: 8px;
	color: #FFF;
	content: '\e64c';
	font-family: 'themify';
	margin-right: 7px;
	position: relative;
	top: 3px;
	right: 4px;
}

#myGrid .ag-row:first-child {
	border: 1px solid #007bff;
}

#myGrid .ag-row-selected {
	border: 1px solid #007bff !important;
}



#basic th:first-child {
	border: none;
}

.abc:first-child {
	border: 1px solid #ccc;
}

.firstnode {
	/* color: #333;
	border-top: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important; */
	width: 300px;
	/* font-size: 12px;
	font-weight: 100; */
}

table {
	border: 1px solid #ebeded;
}

table th {
	border: 1px solid #ccc;
	background: #a6a6a6;
	color: #fff;
	padding: 2px 4px;
	font-weight: 600;
}

table td {
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 2px 4px;
}

.simple-tree-table-closed .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
	transform: rotate(90deg);
}

.simple-tree-table-opened .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.simple-tree-table-icon {
	display: inline-block;
	width: 1.5em;
	line-height: 1.5em;
	margin: 0.1em;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
}

/* #staticEmail {
	margin-left: -45px;
} */
</style>
<script>
	//Multiple Document Upload Ends

		$(document)
			.ready(
					function() {
						
						$('#basic').simpleTreeTable({
				    	    expander: $('#expander'),
				    	    collapser: $('#collapser'),
				    	    store: 'session',
				    	    storeKey: 'simple-tree-table-basic'
				    	  });	
						
						
		$("#demo").hide();
		$("#demo1").show();
		$("#myGrid1").show();
		$("#noteskk").show();
		$("#child").show();

		 $("#addId1").show();
		 $("#delete1").show();
		agGrid.simpleHttpRequest({
			url : 'view-candidate-view-ajax'
		}).then(function(data) {
			var len = data.length;
			$('#totalCandidate').find('span').html(len);
			gridOptions.api.setRowData(data);
			
		});
		
	});

		
	var columnDefs = [
		{
		headerCheckboxSelection : true,
		headerCheckboxSelectionFilteredOnly : true,
		checkboxSelection : true,
		width : 10,
		sortable : false,
		filter : false,
		resizable : true
	}, {
		headerName : 'Sl No.',
		field : "slno",
		type : 'rightAligned',
		//valueFormatter : currencyFormatter,
		width : 130,
		cellStyle : {
			textAlign : 'center'
		}
	}, {
		headerName : "Date",
		field : "date",
		width : 150,
		cellStyle : {
			textAlign : 'center'
		}
	}, {
			headerName : "RFP No.",
			field : "rfpno",
			cellRenderer : function(params){
				return '<a instrno="editId" onclick=editId("'
				+ params.data.rfpno
				+ '") href="javascript:void(0)">'
				+ params.data.rfpno + '</a>';
	},
			cellStyle : {
				textAlign : 'center'
			}
		}, {
			headerName : 'RFP Date',
			field : "rfpdate",
			type : 'rightAligned',
			cellStyle : {
				textAlign : 'center'
			}
		}, {
			headerName : 'Cut Off Date',
			field : "cutoff",
			type : 'rightAligned',
			cellStyle : {
				textAlign : 'center'
			}
		} , {
			headerName : 'Customer Name',
			field : "custName",
		},{
			headerName : "Location",
			field : "loc",
			width : 150,
			cellStyle : {
				textAlign : 'center'
			}
		},{
			headerName : 'State',
			field : "state",
		}, {
			headerName : "Category",
			field : "category",
			cellStyle : {
				textAlign : 'center'
			}
		}, {
			headerName : "Sub-Category",
			field : "subCategory",
			cellStyle : {
				textAlign : 'center'
			}
		}, {
			headerName : "Owner",
			field : "owner",cellStyle : {
				textAlign : 'center'
			},
			width : 150
		}, {
			headerName : 'RFP Document',
			field : "rfpdocs",
		}, {
			headerName : 'Pre-Qualification Ques.',
			field : "preQualQues",
			type : 'rightAligned',
			cellStyle : {
				textAlign : 'center'
			},
			width : 130
		}, {
			headerName : 'Clarifications',
			field : "clarify",
			width : 150,
			cellStyle : {
				textAlign : 'center'
			}}
		,{
			headerName : 'Status',
			field : "status",
			cellStyle : {
				textAlign : 'center'
			},
			width : 150,
		
		}
		
				  ];
	const rowData = [ 
		{
		    slno: 1,
		    rfpno: "RFP001",
		    cutoff: "2023-06-05",
		    rfpdate: "2023-07-05",
		    date : "2023-06-07",
		    category: "Category 1",
		    custName : "Sradha Panda",
		    owner: "Biraja P Nath",
		    loc : "BBSR",
		    category : "Manpower",
		    subCategory : "painting",
		    state : "Odisha",
		    preQualQues: 10,
		    status: "Active",
		    comment: "Some comment",
		    createdBy: "User 1",
		    createdOn: "2023-05-30",
		    updatedBy: "User 2",
		    updatedOn: "2023-06-01"
		  },
		  {
		  slno: 2,
		    rfpno: "RFP002",
		    cutoff: "2023-06-05",
		    rfpdate: "2023-07-05",
		    category: "Category 1",
		    date : "2023-06-07",
		    custName : "Amarendra Maity",
		    owner: "Biraja P Nath",
		    loc : "BBSR",
		    category : "Manpower",
		    subCategory : "Fabrication",
		    state : "Odisha",
		    preQualQues: 10,
		    status: "Active",
		    comment: "Some comment",
		    createdBy: "User 1",
		    createdOn: "2023-05-30",
		    updatedBy: "User 2",
		    updatedOn: "2023-06-01"
		  },
		];

	
	var gridOptions = {
		columnDefs : columnDefs,
		rowData: rowData,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 200,
			height : 20
		},
		rowSelection : 'multiple',
		onSelectionChanged : onSelectionChanged
	};
	/* APPLY FOR REQUISITION ENDS */

	// setup the grid after the page has finished loading
	$(document).ready(function() {
		
		 $("#browseBtn").click(function(){
			 $('#basic1').simpleTreeTable({
		    	    expander: $('#expander'),
		    	    collapser: $('#collapser'),
		    	    store: 'session',
		    	    storeKey: 'simple-tree-table-basic'
		    	  });
		    	$("#myModal").modal('show');
		    	
		    	
		    });
		 

		    var chk1 = $("input[type='checkbox'][value='1']");
	    

		$('#check1').change(function() {
	        if(this.checked) {
	          
	           chk1.prop('checked',this.checked);
	        }
	    });
		
		var chk2 = $("input[type='checkbox'][value='2']");
		
		$('#checkbox2').change(function() {
	        if(this.checked) {
	          
	        	    chk2.prop('checked',this.checked);
	        	
	        }
	    });
		    
		  
		
		 
		$("#selectCategory").click(function(){ 
			$("#myModalSelected").modal("show");
			$("#myModal").modal("hide");
			closeNav();
			
				
	    })
		
		
		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);
		/* var gridDiv1 = document.querySelector('#myGrid1');
		new agGrid.Grid(gridDiv1, gridOptions1); */
		
		
			$("#selectCategory").click(function(){ 
				$("#myModalSelected").modal("show");
				$("#myModal").modal("hide");
				
			
		});

		
	});

	
	function cancelbtn() {
		$('#reqDltBtn').attr('disabled', true);
		$("#myGrid").show();
		$("#btn1").hide();
		$("#demo").hide();
		$("#hideTbl").show();
		$("#buttonDetails").show();
	}

	function onSelectionChanged() {
		var selectedRows = gridOptions.api.getSelectedRows();
		var rowCount = 0;
		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			$('#delete').attr('disabled', false);
			$("#reject").attr('disabled', false);
			$("#approve").attr('disabled', false);
		} else {
			$('#delete').attr('disabled', true);
			$("#reject").attr('disabled', true);
			$("#approve").attr('disabled', true);
		}

	}

	
	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function addId() {
		 document.getElementById("demo").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto;";
		document.getElementById("main").style.width = "75%";
		$("#demo").show();
		 $("#myGrid").show();
		 $("#addId").hide();
		 $("#rfqid").hide();
		 $("#delete").hide(); 
		 $("#addId1").hide();
		 $("#delete1").hide();
	}
	
	function addId1() {
		document.getElementById("demo2").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto;";
		document.getElementById("myGrid1").style.width = "75%";
		document.getElementById("noteskk").style.width = "75%";
		document.getElementById("rfqid").style.width = "75%";
		
		 $("#demo2").show();
		 $("#myGrid").show();
		 $("#child").show();
		 $("#addId").hide();
		 $("#delete").hide();
		 $("#addId1").hide();
		 $("#delete1").hide();
		 
		 
		 
	}

	function cancel() {
		$("#demo").hide();
		 $("#myGrid").show();
		 $("#addId").show();
		 $("#rfqid").show();
		 $("#delete").show(); 
		 document.getElementById("main").style.width = "100%";

			document.getElementById("demo").style.width = "0";
	}
	/* function cancel2() {
		$("#demo").hide();
		 $("#myGrid").show();
		 $("#addId").show();
		 $("#rfqid").show();
		 $("#delete").show(); 
		 $("#myGrid1").hide();
			$("#noteskk").hide();
			$("#demo1").hide();
			$("#child").hide();
			 $("#addId1").hide();
			 $("#delete1").hide();
		 document.getElementById("main").style.width = "100%";

			document.getElementById("demo").style.width = "0";
	} */
	function cancel1() {
		$("#myGrid").show();
		$("#delete").hide();
		$("#addId").hide();
		$("#myGrid1").show();
		$("#noteskk").show();
		$("#demo1").show();
		$("#child").show();
		 $("#addId1").show();
		 $("#delete1").show();
		document.getElementById("demo2").style.width = "0";
		 document.getElementById("noteskk").style.width = "100%";
		 document.getElementById("myGrid1").style.width = "100%";
		 document.getElementById("rfqid").style.width = "100%";
		 $("#myModal").modal('hide');
		 $("#myModalSelected").modal('hide');
	}

	function saveTableData() {
		var item = {};
        var valid = true;
        var data = 1;
        var rowEdit = $("#rowEdit").val();
        if (true) {

            gridOptions.api.forEachNode(function (rowNode, index) {
                if (!rowEdit) {
                    data = data + 1;
                }
            });
            item.rfpno = $("#rfpno").val();
            item.cutoff = $("#cutoff").val();
            item.loc = $("#loc").val();
            item.slno = data;
            item.category = $("#category").val();
            item.owner = $("#owner").val();
            item.preQualQues = $("#preQualQues").val();
            item.status = $("#status").val();
            item.comment = $("#comment").val();
            item.date = $("#date").val();
            item.rfpdate = $("#rfpdate").val();
            item.custName = $("#custName").val()
            item.subCategory = $("#subCategory").val();
            item.rfpdocs = $("#rpfdocs").val();
            item.clarify = $("#clarify").val();
            item.state = $("#state").val();
            var datas = [];
            if (valid) {
                cancel();
        			if (rowEdit) {
        				var rowNode = gridOptions.api.getRowNode(rowEdit);
        				rowNode.setData(item);
        			} else {

        				gridOptions.api.forEachNode(function(rowNode, index) {
        					datas.push(rowNode.data);
        				});

        				datas.push(item)
        				gridOptions.api.setRowData(datas);
        			}
            } else {
                $('#demo').show();

            }
        }
	}
	function saveTableData3() {

    	cancel1();
		var item = {};
		item.task = $("#task").val();
        item.assignTo = $("#assignTo").val();
        item.dueDate = $("#dueDate").val();
        item.status = $("#category").val();
        item.attach = $("#owner").val();
        item.remarks = $("#remarks").val();
			var datas = [];
			
			datas.push(item)
			gridOptions1.api.setRowData(datas);
			$("#myModalSelected").modal('hide');
		

	}
	function editId(data){
		
		$("#demo").hide();
		$("#myGrid").show();
		$("#delete").show();
		$("#addId").show();
		$("#rfqid").show();
		$("#myGrid1").show();
		$("#noteskk").show();
		$("#demo1").show();
		$("#child").show();

		 $("#addId1").show();
		 $("#delete1").show();
		 
		 $("#rfpno").val(data);
		 $("#cutoff").val(cutoff);
		 
		 
	}
	
</script>
<body>
	<div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
				<div class="maincontentsec">
					<div class="content_padding" id="main">
					<div class="collapse" id="demo">
					<div class="slidebox">
							<div class="row">

									<div class="col-md-7"></div>
									
									<div class="col-md-12" align="right" id="btn1">
										<button class="btn3" onclick="cancel()" id ="cancel">CANCEL</button>
											<button class="btn1" id="saveTableData"
												onclick="saveTableData()">SAVE</button>

									</div>
								</div>
							<div class="row">
							
								<div class="col-lg-6">
										<div class="form-group">
											<label>Date</label> <input type="date" id="date"
												class="form-control">
										</div>
									</div>
								<div class="col-lg-6">
										<input type="hidden" id="slno">
										<div class="form-group">
											<label>RFP No.</label>
											 <input type="text" id="rfpno"
												class="form-control">
										</div>
									</div>
									
									<div class="col-lg-6">
										<div class="form-group">
											<label>RFP Date</label> <input type="date" id="rfpdate"
												class="form-control">
										</div>
									</div>
								<div class="col-lg-6">
										<div class="form-group">
											<label>Cut Off Date</label>

											 <input type="date" id="cutoff"
												class="form-control">
										</div>
									</div>	
									
									<div class="col-lg-6">
										<div class="form-group">
											<label>Customer Name</label> <input type="text" id="custName"
												class="form-control">
										</div>
									</div>
								<div class="col-lg-6">
										<div class="form-group">
											<label>Location</label> <input type="text" id="loc"
												class="form-control">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>State</label> 
										</div><select class="" id="state"
													onblur="removeValid(event);">
													<option value="">Select</option>
													<option value="">Odisha</option>
													<option value="">Jharkhand</option>
													<option value="">Maharastra</option>
													<option th:each="c,iter:${stateList}"
														th:value="${c.key}" th:text="${c.name}"></option>
												</select>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Category</label> <input type="text" id="category"
												class="form-control">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Sub-Category</label> <select class="" id="subCategory"
													onblur="removeValid(event);">
													<option value="">Select</option>
													<option value="">Manpower</option>
													<option value="">Hiring of equipment and machineries</option>
													<option value="">Purchase tools and tackles</option>
													<option th:each="c,iter:${subCategoryList}"
														th:value="${c.key}" th:text="${c.name}"></option>
												</select>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Owner</label> <input type="text" id="owner"
												class="form-control">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>RFP Documentation</label> 
											<input type="text" id="rpfdocs"
												class="form-control">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Pre-Qualification Questions</label> <input type="text" id="preQualQues"
												class="form-control">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Status</label> <input type="text" id="status"
												class="form-control">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Comment</label> <input type="text" id="comment"
												class="form-control">
										</div>
									</div>
									
									<div class="col-lg-6">
										<div class="form-group">
											<label>Clarification</label> <input type="text" id="clarify"
												class="form-control">
										</div>
									</div>
						</div> 

						</div>
					</div>
						
						<div class="row" id="upperOne">
							<div class="innerstickybg">
								<div class="row" id ="rfqid">
									 <div class="col-md-4 ">
										<h3>List of RFPs</h3>
									</div> 
									<div class="col-md-4 btn-hs" id="searchRowDiv">
							</div>
							
							<div class="col-md-4 buttonsec btn-hs" id="btndiv">
								
								
									<!-- <button class="new-btn" id="addId" onclick="addId()" >Add</button>
									<button class="btn3" id="delete" onclick="deleteFun()" >Delete</button>
										 -->
										
								</div>
							</div>
						</div>

						<div id="myGrid" style="width: 100%; height: 200px;"
							class="ag-theme-alpine"></div>
							<div style="width: 100%; height: 50px;"
								class="ag-theme-alpine"></div>
							
						
									
						</div>
						
						<div class="collapse" id="demo1">
								<div class="row">
								
							<div class="col-md-7 " id ="child">
										<h3>Schedule and assign for evaluation </h3>
									</div> 
									
									<div class="col-md-5" align="right" id="btn1">
										<button class="btn3" onclick="cancel2()" id ="cancel">CANCEL</button>
											<button class="btn1" id="saveTableData2"
												onclick="saveTableData2()">SAVE</button>

									</div>
								</div>

							<div class="row">
								<div class="col-lg-6">
										<input type="hidden" id="slno">
										<div class="form-group">
											<label>RFP No.</label>
											 <input type="text" id="rfpno" value="RPF001"
												class="form-control">
										</div>
									</div>
									
								<div class="col-lg-6">
										<div class="form-group">
											<label>Cut Off Date</label>

											 <input type="date" id="cutoff" placeholder="05-06-2023"
												class="form-control">
										</div>
									</div>	
									
									<div class="col-lg-6">
										<div class="form-group">
											<label>Customer Name</label> <input type="text" id="custname"
												value="Sradha Panda" class="form-control">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>State</label> 
										</div><select class="" id="state"
													onblur="removeValid(event);">
													<option value="">Select</option>
													<option value="">Odisha</option>
													<option value="">Jharkhand</option>
													<option value="">Maharastra</option>
													<!-- <option th:each="c,iter:${stateList}"
														th:value="${c.key}" th:text="${c.name}"></option> -->
												</select>
									</div>
									<div class="col-lg-6"><div class="form-group"><br></br></div></div>
										</div>
										<div class="row">

									<!-- <div id="myGrid" class="ag-theme-alpine"></div> -->
									
													
								</div>
								</div>
								<div class="collapse" id="demo2">
					<div class="slidebox">
							<div class="row">

									<div class="col-md-7"></div>
									
									<div class="col-md-12" align="right" id="btn1">
										<button class="btn3" onclick="cancel1()" id ="cancel1">CANCEL</button>
											<!-- <button class="btn1" id="saveTableData3"
												onclick="saveTableData3()">SAVE</button> -->

									</div>
								</div>
							<div class="row">
								<div class="col-lg-9">
										<div class="form-group">
											<label>Activity/Task</label>
											 <input type="text" id="task"
												class="form-control" onblur="removeValid(event)">
										</div>
									</div>
									<div class="col-lg-3 mrt_24">
										<div class="form-group">
											<button id="browseBtn" class="btn2">Browse</button>
										</div>
									</div>
								
						</div>

						</div>
					</div>
							<div class="innerstickybg">
								<div class="row">
							
							<div class="col-md-12 buttonsec btn-hs" id="btndiv">
								
								
									<button class="new-btn" id="addId1" onclick="addId1()" >Add</button>
									<button class="btn3" id="delete1" onclick="deleteFun1()" >Delete</button>
										
										
								</div>
							</div>
						</div>	
						<!-- <div id="myGrid1" style="width: 100%; height: 250px;"
							class="ag-theme-alpine"></div> -->
							<div class="row">
														<div class="col-lg-12" id="myGrid1">
															<input type="hidden" id="hiddenYear"> <input
																type="hidden" id="hiddenMonthDataset">
															<table id="basic" width="100%" border="1">
																<thead id="theadData">
																	<th class="firstnode">Task Name</th>
																	<th width="100">Assigned To</th>
																	<th>Due Date</th>
																	<th>Status</th>
																	<th width="100">Attachment</th>
																	<th>Remarks</th>
																	<th>Created By</th>
																	<th>Created On</th>
																	<th>Updated By</th>
																	<th>Updated On</th>
																</thead>
																<tbody id="tbodyData12">
																	<tr data-node-id="1" class="abc" id="1">
																		<td class="firstnode">1 -Manpower</td>
																		<td>Sradha</td>
																		<td>2023-06-01</td>
																		<td>In Progress</td>
																		<td class="txt-rt">Attachment 1</td>
																		<td class="txt-rt">Remarks 1</td>
																		<td class="txt-rt">User1</td>
																		<td>2023-05-30</td>
																		<td>User2</td>
																		<td>2023-05-31</td>
																	</tr>

																	<tr data-node-id="1.1" data-node-pid="1" class="abc"
																		id="1.1">
																		<td class="firstnode">1.1 Painting</td>
																		<td>Sradha</td>
																		<td>2023-06-01</td>
																		<td>In Progress</td>
																		<td class="txt-rt">Attachment 1</td>
																		<td class="txt-rt">Remarks 1</td>
																		<td class="txt-rt">User1</td>
																		<td>2023-05-30</td>
																		<td>User2</td>
																		<td>2023-05-31</td>
																	</tr>

																	<tr data-node-id="1.2" data-node-pid="1" class="abc"
																		id="1.2">
																		<td class="firstnode">1.2 Fabrification</td>
																		<td>Sradha</td>
																		<td>2023-06-01</td>
																		<td>In Progress</td>
																		<td class="txt-rt">Attachment 1</td>
																		<td class="txt-rt">Remarks 1</td>
																		<td class="txt-rt">User1</td>
																		<td>2023-05-30</td>
																		<td>User2</td>
																		<td>2023-05-31</td>
																	</tr>

																	<tr data-node-id="1.3" data-node-pid="1" class="abc"
																		id="1.3">
																		<td class="firstnode">1.3 Stud Welding</td>
																		<td>Sradha</td>
																		<td>2023-06-01</td>
																		<td>In Progress</td>
																		<td class="txt-rt">Attachment 1</td>
																		<td class="txt-rt">Remarks 1</td>
																		<td class="txt-rt">User1</td>
																		<td>2023-05-30</td>
																		<td>User2</td>
																		<td>2023-05-31</td>
																	</tr>

																	<tr data-node-id="2" class="abc" id="2">
																		<td class="firstnode">2. Hiring of
																			Equipments/Machineries</td>
																		<td>Sradha</td>
																		<td>2023-06-01</td>
																		<td>In Progress</td>
																		<td class="txt-rt">Attachment 1</td>
																		<td class="txt-rt">Remarks 1</td>
																		<td class="txt-rt">User1</td>
																		<td>2023-05-30</td>
																		<td>User2</td>
																		<td>2023-05-31</td>
																	</tr>

																	<tr data-node-id="2.1" data-node-pid="2" class="abc"
																		id="2.1">
																		<td class="firstnode">2.1.Sheeting/Decking</td>
																		<td>Sradha</td>
																		<td>2023-06-01</td>
																		<td>In Progress</td>
																		<td class="txt-rt">Attachment 1</td>
																		<td class="txt-rt">Remarks 1</td>
																		<td class="txt-rt">User1</td>
																		<td>2023-05-30</td>
																		<td>User2</td>
																		<td>2023-05-31</td>
																	</tr>

																	<tr data-node-id="2.2" data-node-pid="2" class="abc"
																		id="2.2">
																		<td class="firstnode">2.2.Task 2</td>
																		<td>Sradha</td>
																		<td>2023-06-01</td>
																		<td>In Progress</td>
																		<td class="txt-rt">Attachment 1</td>
																		<td class="txt-rt">Remarks 1</td>
																		<td class="txt-rt">User1</td>
																		<td>2023-05-30</td>
																		<td>User2</td>
																		<td>2023-05-31</td>
																	</tr>

																	<tr data-node-id="2.3" data-node-pid="2" class="abc"
																		id="2.3">
																		<td class="firstnode">2.3.Task 3</td>
																		<td>Sradha</td>
																		<td>2023-06-01</td>
																		<td>In Progress</td>
																		<td class="txt-rt">Attachment 1</td>
																		<td class="txt-rt">Remarks 1</td>
																		<td class="txt-rt">User1</td>
																		<td>2023-05-30</td>
																		<td>User2</td>
																		<td>2023-05-31</td>
																	</tr>

																	<tr data-node-id="2.4" data-node-pid="2" class="abc"
																		id="9">
																		<td class="firstnode">2.4.Task 4</td>
																		<td>Sradha</td>
																		<td>2023-06-01</td>
																		<td>In Progress</td>
																		<td class="txt-rt">Attachment 1</td>
																		<td class="txt-rt">Remarks 1</td>
																		<td class="txt-rt">User1</td>
																		<td>2023-05-30</td>
																		<td>User2</td>
																		<td>2023-05-31</td>
																	</tr>



																</tbody>
															</table>
														</div>
													</div>
							<div class="innerstickybg">
							<div class="row" id="noteskk">
								<h3>Notes</h3>
									<textarea id="reviewTextArea" rows="5" cols="30">
													  </textarea>
									
									<!-- <div class="col-md-12" align="right" id="btn1">
										<button class="btn3" onclick="cancelQ()" id ="cancelq">CANCEL</button>
											<button class="btn1" id="submit"
												onclick="submitNotes()">Submit</button>
										</div> -->
									</div>
							</div>
					</div>
							
						

						
				</div>
				
				<!-- delete modal start -->
				<div class="modal fade" id="myModal">
					<div class="modal-dialog modal-lg" style="margin-top: 130px;">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title md-color">Select Product Category</h4>
								<button type="button" class="close cp" onclick="cancel1();"
									data-dismiss="modal">&times;</button>
							</div>

							<!-- Modal body -->

							<div class="modal-body modal-cat">
								<div class="row">
									<table id="basic1">
										<tbody id="">
											<tr data-node-id="1" class="abc" id="1">
												<td class="firstnode1"><input type="checkbox"
													id="check1"> 1 -Manpower <span class="mrg-lft"></span></td>

											</tr>

											<tr data-node-id="1.1" data-node-pid="1" class="abc" id="1.1">
												<td class="firstnode1" id=lbl_><input type="checkbox"
													id="check1.1" value="1">Painting</td>

											</tr>
											<tr data-node-id="1.2" data-node-pid="1" class="abc" id="1.2">

												<td class="firstnode1"><input type="checkbox"
													id="check1.1" value="1"> Fabrication</td>

											</tr>

											<tr data-node-id="1.3" data-node-pid="1" class="abc" id="1.3">

												<td class="firstnode1"><input type="checkbox"
													id="check1.1" value="1">Stud Welding</td>

											</tr>


											<tr data-node-id="2" class="abc" id="2">
												<td class="firstnode1"><input type="checkbox"
													id="checkbox2"> 2. Hiring of Equipments/Machineries
													<span class="mrg-lft"></span></td>

											</tr>

											<tr data-node-id="2.1" data-node-pid="2" class="abc" id="2.1">
												<td class="firstnode1"><input type="checkbox"
													id="check1.1" value="2" />Farana- F-15</td>

											</tr>
											<tr data-node-id="2.2" data-node-pid="2" class="abc" id="2.2">

												<td class="firstnode1"><input type="checkbox"
													id="check1.1" value="2"> Crane- 250 MT</td>

											</tr>



										</tbody>
									</table>
								</div>
							</div>

							<!-- Modal footer -->

							<div class="modal-footer">
								<button class="cancel-btn" data-dismiss="modal"
									onclick="cancel1();">Cancel</button>
								<button class="approve-btn" id="selectCategory">Proceed</button>
							</div>

						</div>
					</div>
				</div>


				<!-- //for excel file upload -->

				<div class="modal fade" id="myModalSelected">
					<div class="modal-dialog modal-lg" style="margin-top: 130px;">
						<div class="modal-content">

							<!-- Modal Header -->
							<!-- <div class="modal-header">
								 <h4 class="modal-title md-color">Select Product Category</h4> 
								<button type="button" class="close cp" onclick="closeModal();"
									data-dismiss="modal">&times;</button>
							</div> -->

							<!-- Modal body -->

							<div class="modal-body modal-cat">
								<div class="row">


									<div class="col-lg-6">
										<div class="form-group">
											<label>Assigned To</label>

											 <input type="text" id="assignTo"
												class="form-control">
										</div>
									</div>	
									
								<div class="col-lg-6">
										<div class="form-group">
											<label>Due Date</label> <input type="text" id="dueDate"
												class="form-control">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Status</label> <input type="text" id="status"
												class="form-control">
										</div>
									</div>
									
									<div class="col-lg-6">
										<div class="form-group">
											<label>Attachment</label> <input type="text" id="attach"
												class="form-control">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Remarks</label> <input type="text" id="remarks"
												class="form-control">
										</div>
									</div>
								</div>
							</div>

							<!-- Modal footer -->

							<div class="modal-footer">
								<div class="row">

									<div class="col-md-7"></div>
									
									<div class="col-md-12" align="right" id="btn1">
										<button class="btn3" onclick="cancel1()" id ="cancel1">CANCEL</button>
											<button class="btn1" id="saveTableData3"
												onclick="saveTableData3()">SAVE</button>

									</div>
								</div>
							</div>

						</div>
						
						
					</div>


			</div>
				
					
			</div>
		</div>

</body>

</html>