<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<link rel="stylesheet" href="../assets/css/account/account-day-book.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<link rel="stylesheet" href="../assets/css/gstReturn/gstsalereturn.css">
<script src="../javaScript/gstReturn/gstrPrepareList.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
</head>
<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">
					<div class="tab-content">
						<!-- Tabbination 1 Start -->
						<div id="opd" class="tab-pane active">
							<div class="row">
								<!-- Left Section Start -->
								<div class="col-md-6 pd-r tab-transition position-relative">
									<div class="out-box">
										<div class="row d-flex mb-20">
											<div class="col-md-10">
												<form class="d-flex search-sec flxwrap">
													<input class="form-control me-2 search_input_bar"
														placeholder="Search.." type="text" name="search"
														oninput="onQuickFilterChanged()" id="quickFilter"
														autocomplete="off">
													<button class="btn btn-primary go-btn"
														onclick="onQuickFilterChanged()" id="SearchBtn"
														type="button">Go</button>
												</form>
											</div>
											<div class="col-md-2 d-flex justify-content-end">
												<div class="btn btn-primary max-btn">
													<i class="fas fa-arrows-alt"></i>
												</div>
											</div>
										</div>
										<div class="leftSideParentContainer">

											<div class="row">
												<div class="col-lg-2 font-design">GST Report</div>
												<div class="col-lg-2">
													<div class="form-group">
														<div class="select">
															<select class="form-control" id="month"
																onchange="getMonthWiseData(this.value)">
															</select>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="form-group">
														<div class="select">
															<select class="form-control" id="year"
																onchange="getYearWiseData(this.value)">
																<option value="2021" text="2021">2021</option>
																<option value="2022" text="2022">2022</option>
																<option value="2023" text="2023">2023</option>
																<option value="2024" text="2024">2024</option>
																<option value="2025" text="2025">2025</option>
																<option value="2026" text="2026">2026</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="mt-5 mb-5">
												<!-- Nav pills -->
												<ul class="nav nav-pills mt-5 mb-5">
													<li class="nav-item flex-fill  padding-5"><a
														class="nav-link active btn-block" data-bs-toggle="pill"
														href="#gstr1">Review GSTR-1</a></li>
													<li class="nav-item flex-fill padding-5"><a
														class="nav-link btn-block" data-bs-toggle="pill"
														href="#gstr2">Review GSTR-2</a></li>
													<li class="nav-item flex-fill padding-5"><a
														class="nav-link btn-block" data-bs-toggle="pill"
														href="#gstr3">Review GSTR-3B</a></li>
												</ul>

												<!-- Tab panes -->
												<div class="tab-content p-0">
													<div class="tab-pane active container p-0" id="gstr1">
														<ul class="nav nav-pills mt-5 mb-5">
															<li class="nav-item flex-fill padding-5"><a
																class="nav-link active btn-block" data-bs-toggle="pill"
																href="#prepare1">Prepare</a></li>
															<li class="nav-item flex-fill padding-5"><a
																class="nav-link btn-block" data-bs-toggle="pill"
																href="#review1">Review</a></li>
														</ul>

														<!-- Tab panes -->
														<div class="tab-content p-0">
															<div class="tab-pane container active p-0" id="prepare1">
																<ul class="nav nav-pills mt-5 mb-5">
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link active" data-bs-toggle="pill"
																		href="#all1">All</a></li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#b2b1">B2B</a>
																	</li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#b2cs1">B2CS</a>
																	</li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#b2cl1">B2CL</a>
																	</li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#hsn1">HSN</a>
																	</li>
																</ul>

																<!-- Tab panes -->
																<div class="tab-content">

																	<div class="tab-pane container active" id="all1">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn btn-primary table-head"
																				onclick="downloadJson()">
																				<i class="fa fa-download"></i> Download JSON
																			</button>
																			&nbsp;
																			<button class="btn btn-primary table-head"
																				onclick="getAllSalesInvoice()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>
																		<!-- Sales Invoice AG Grid Table-->
																		<div id="gridAllInvoice"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>

																	<div class="tab-pane container fade" id="b2b1">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn btn-primary table-head"
																				onclick="getB2BSalesInvoice()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>
																		<!-- B2B Sales Invoice AG Grid Table-->
																		<div id="gridB2BInvoice"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>

																	<div class="tab-pane container fade" id="b2cs1">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn btn-primary table-head"
																				onclick="getB2CSSalesInvoice()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>

																		<!-- B2CS Sales Invoice AG Grid Table-->
																		<div id="gridB2CSInvoice"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>

																	<div class="tab-pane container fade" id="b2cl1">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn btn-primary table-head"
																				onclick="getB2CLSalesInvoice()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>

																		<!-- B2CL Sales Invoice AG Grid Table-->
																		<div id="gridB2CLInvoice"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>

																	<div class="tab-pane container fade" id="hsn1">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn btn-primary table-head"
																				id="invoiceWise" onclick="changeToOthers('I')">
																				Invoice Wise</button>
																			<button class="btn btn-primary table-head"
																				id="groupWise" onclick="changeToOthers('G')">
																				Group Wise</button>
																			&nbsp;
																			<button class="btn btn-primary table-head"
																				onclick="exportCSV()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>

																		<!-- B2CL Sales Invoice AG Grid Table-->
																		<div id="gridHSNInvoiceSales"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																		<div id="gridHSNInvoiceSalesGroupWise"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>
																</div>
															</div>

															<!-- GSTR-1 Review Tab -->
															<div class="tab-pane container fade" id="review1">

																<div id="Review" class="tabcontent">
																	<div class="font-design">Invoice Summary</div>
																	<div class="table-box">
																		<div class="col-lg-3  card" id="allData">
																			<div class="table-head">All Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData" id="taxAmountAll">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstAll">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstAll">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstAll">0</td>
																				</tr>
																			</table>
																		</div>
																		<div class="col-lg-3 card" id="b2bData">
																			<div class="table-head">B2B Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData" id="taxAmountb2b">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstb2b">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstb2b">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstb2b">0</td>
																				</tr>
																			</table>
																		</div>
																		<div class="col-lg-3 card" id="b2csData">
																			<div class="table-head">B2Cs Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData" id="taxAmountb2cs">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstb2cs">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstb2cs">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstb2cs">0</td>
																				</tr>
																			</table>
																		</div>
																		<div class="col-lg-3 card" id="b2clData">
																			<div class="table-head">B2Cl Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData" id="taxAmountb2cl">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstb2cl">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstb2cl">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstb2cl">0</td>
																				</tr>
																			</table>
																		</div>
																	</div>
																</div>
															</div>

														</div>


													</div>
													<div class="tab-pane container fade p-0" id="gstr2">

														<ul class="nav nav-pills mt-5 mb-5">
															<li class="nav-item flex-fill padding-5"><a
																class="nav-link flex-fill active" data-bs-toggle="pill"
																href="#prepare2">Prepare</a></li>
															<li class="nav-item flex-fill padding-5"><a
																class="nav-link flex-fill" data-bs-toggle="pill"
																href="#review2">Review</a></li>
														</ul>

														<!-- Tab panes -->
														<div class="tab-content">
															<div class="tab-pane container active" id="prepare2">
																<ul class="nav nav-pills mt-5 mb-5">
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link active" data-bs-toggle="pill"
																		href="#all2">All</a></li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#b2b2">B2B</a>
																	</li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#b2cs2">B2CS</a>
																	</li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#b2cl2">B2CL</a>
																	</li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#hsn2">HSN</a>
																	</li>
																</ul>
																<div class="tab-content">
																	<div class="tab-pane container active" id="all2">
																		<div class="d-flex justify-content-end pb-3">
																			<button class=" btn table-head btn-primary"
																				id="approveBtn" onclick="approveComparedPurcGST()">Approve</button>
																			&nbsp;
																			<button class="btn reset-clr table-head btn-default"
																				id="resetBtn" onclick="resetCompareAgGrid()">Reset</button>
																			&nbsp; <input type="file" id="fileInput"
																				accept=".json" onchange="readJSONFileData()" />
																			<button class=" btn table-head btn-primary"
																				id="uploadJSONFileBtn">Upload JSON File</button>
																			&nbsp;
																			<button class=" btn table-head btn-primary"
																				onclick="getPurchaseInvoice()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>

																		<!-- Purchase Invoice AG Grid Table-->
																		<div id="gridPurchInvoice"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																		<div id="gridCompPurchInvoice"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>
																	<div class="tab-pane container fade" id="b2b2">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn btn-primary table-head"
																				onclick="getB2BSalesInvoicePur()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>
																		<!-- B2B Sales Invoice AG Grid Table-->
																		<div id="gridB2BInvoicePur"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>
																	<div class="tab-pane container fade" id="b2cs2">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn btn-primary table-head"
																				onclick="getB2CSSalesInvoicePur()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>

																		<!-- B2CS Sales Invoice AG Grid Table-->
																		<div id="gridB2CSInvoicePur"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>
																	<div class="tab-pane container fade" id="b2cl2">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn btn-primary table-head"
																				onclick="getB2CLSalesInvoicePur()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>

																		<!-- B2CL Sales Invoice AG Grid Table-->
																		<div id="gridB2CLInvoicePur"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>
																	<div class="tab-pane container fade" id="hsn2">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn btn-primary table-head"
																				onclick="getHsnPurchase()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>

																		<div id="gridHSNpurchase"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>
																</div>
															</div>

															<div class="tab-pane container fade" id="review2">

																<div id="Review" class="tabcontent">
																	<div class="font-design">Invoice Summary</div>
																	<div class="table-box">
																		<div class="col-lg-3  card">
																			<div class="table-head">All Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData"
																						id="taxAmountAllPur">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstAllPur">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstAllPur">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstAllPur">0</td>
																				</tr>
																			</table>
																		</div>
																		<div class="col-lg-3 card">
																			<div class="table-head">B2B Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData"
																						id="taxAmountb2bPur">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstb2bPur">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstb2bPur">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstb2bPur">0</td>
																				</tr>
																			</table>
																		</div>
																		<div class="col-lg-3 card">
																			<div class="table-head">B2Cs Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData"
																						id="taxAmountb2csPur">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstb2csPur">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstb2csPur">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstb2csPur">0</td>
																				</tr>
																			</table>
																		</div>
																		<div class="col-lg-3 card">
																			<div class="table-head">B2Cl Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData"
																						id="taxAmountb2clPur">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstb2clPur">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstb2clPur">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstb2clPur">0</td>
																				</tr>
																			</table>
																		</div>
																	</div>
																</div>

															</div>
														</div>
													</div>

													<!-- GSTR-3B -->
													<div class="tab-pane container fade p-0" id="gstr3">
														<ul class="nav nav-pills mt-5 mb-5">
															<li class="nav-item flex-fill padding-5"><a
																class="nav-link flex-fill active" data-bs-toggle="pill"
																href="#prepare3">Prepare</a></li>
															<li class="nav-item flex-fill padding-5"><a
																class="nav-link flex-fill" data-bs-toggle="pill"
																href="#review3">Review</a></li>
														</ul>

														<!-- Tab panes -->
														<div class="tab-content">
															<div class="tab-pane container active" id="prepare3">
																<ul class="nav nav-pills mt-5 mb-5">
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link active" data-bs-toggle="pill"
																		href="#all3">All</a></li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#b2b3">B2B</a>
																	</li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#b2cs3">B2CS</a>
																	</li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#b2cl3">B2CL</a>
																	</li>
																	<li class="nav-item flex-fill padding-5"><a
																		class="nav-link" data-bs-toggle="pill" href="#hsn3">HSN</a>
																	</li>
																</ul>
																<div class="tab-content">
																	<div class="tab-pane container active" id="all3">
																		<div class="d-flex justify-content-end pb-3">
																			<input type="file" id="fileInput1"
																				accept="application/pdf"
																				onchange="uploadPDFFileData()" />
																			<button class="btn table-head mx-1 btn-primary"
																				onclick="" id="uploadPDFFileBtn">Upload PDF</button>
																			<input type="file" id="fileInput2" accept=".json"
																				onchange="readJSONFileData1()" />
																			<button class="btn table-head mx-1 btn-primary"
																				onclick="" id="uploadJSONFileBtn1">Upload
																				JSON File</button>
																			<button class="btn table-head mx-1 btn-primary"
																				onclick="get3BInvoice()">
																				<i class="fa fa-download"></i> Export
																			</button>
																			<button class="btn table-head btn-primary"
																				onclick="get3BInvoicePdf()">GST 3B</button>
																		</div>


																		<!-- Purchase Invoice AG Grid Table-->
																		<div id="grid3BInvoice"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>
																	<div class="tab-pane container fade" id="b2b3">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn1 table-head export-btn"
																				onclick="getB2BInvoice3B()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>
																		<!-- B2B Sales Invoice AG Grid Table-->
																		<div id="gridB2BInvoice3B"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>
																	<div class="tab-pane container fade" id="b2cs3">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn1 table-head export-btn"
																				onclick="getB2CSInvoice3B()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>

																		<!-- B2CS Sales Invoice AG Grid Table-->
																		<div id="gridB2CSInvoice3B"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>
																	<div class="tab-pane container fade" id="b2cl3">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn1 table-head export-btn"
																				onclick="getB2CLInvoice3B()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>

																		<!-- B2CL Sales Invoice AG Grid Table-->
																		<div id="gridB2CLInvoice3B"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>
																	<div class="tab-pane container fade" id="hsn3">
																		<div class="d-flex justify-content-end pb-3">
																			<button class="btn1 table-head export-btn"
																				onclick="getHsn3B()">
																				<i class="fa fa-download"></i> Export
																			</button>
																		</div>

																		<div id="gridHSN3B"
																			style="width: 100%; height: 500px;"
																			class="ag-theme-alpine"></div>
																	</div>
																</div>
															</div>
															<div class="tab-pane container fade" id="review3">
																<div id="Review" class="tabcontent">
																	<div class="font-design">Invoice Summary</div>
																	<div class="table-box">
																		<div class="col-lg-3  card">
																			<div class="table-head">All Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData" id="taxAmountAll3B">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstAll3B">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstAll3B">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstAll3B">0</td>
																				</tr>
																			</table>
																		</div>
																		<div class="col-lg-3 card">
																			<div class="table-head">B2B Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData" id="taxAmountb2b3B">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstb2b3B">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstb2b3B">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstb2b3B">0</td>
																				</tr>
																			</table>
																		</div>
																		<div class="col-lg-3 card">
																			<div class="table-head">B2Cs Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData"
																						id="taxAmountb2cs3B">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstb2cs3B">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstb2cs3B">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstb2cs3B">0</td>
																				</tr>
																			</table>
																		</div>
																		<div class="col-lg-3 card">
																			<div class="table-head">B2Cl Invoice</div>
																			<table class="table_text">
																				<tr>
																					<td>Taxable Amount</td>
																					<td class="reviewAllAmountData"
																						id="taxAmountb2cl3B">0</td>
																				</tr>
																				<tr>
																					<td>IGST</td>
																					<td class="reviewAllAmountData" id="igstb2cl3B">0</td>
																				</tr>
																				<tr>
																					<td>SGST</td>
																					<td class="reviewAllAmountData" id="sgstb2cl3B">0</td>
																				</tr>
																				<tr>
																					<td>CGST</td>
																					<td class="reviewAllAmountData" id="cgstb2cl3B">0</td>
																				</tr>
																			</table>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Right Section Start -->
								<div class="col-md-6 pd-l tab-transition">
									<div class="out-box" id="rightSideDiv">
										<div class="btn btn-primary max-btn">
											<i class="fas fa-arrows-alt"></i>
										</div>
										<!-- Right Inner Tab Start -->
										<ul class="nav nav-pills newtab mb-20 tablistUl navbarSticky"
											role="tablist">
											<li class="nav-item wd-11"><a class="nav-link active"
												data-bs-toggle="pill" id="manageTab" href="#manageControl"
												onclick="tabAccess('manageControl')">Manage</a></li>
										</ul>
										<!-- Tab Panes -->
										<div class="tab-content">
											<div id="manageControl"
												class="tab-pane active operational-tabs">
												<div class="innercontent">
													<div class="btn-hs">
														<h2 id="ledgerVcrName" style="font-size: 20px;">GST Return</h2>
														<label id="openinbalanceDate" class="animate-charcter"></label>
													</div>
													<div class="container">
														
													</div>
													
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Right Section End -->
							</div>
						</div>
						<!-- Tabbination 1 End -->
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
