<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <link rel="stylesheet" href="../css/canteen-css/canteen-menu.css">
<script type="text/javascript" src="../javaScript/Canteen/menu.js"></script>


</head>
<body>

  	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid requisition mt-3 mb-3">

			<!-- Tab panes -->
			<div class="tab-content">

				<!--Tabbination 1 Start-->
				<div id="reception" class="tab-pane active mt-5">
					<div class="d-flex flex-column flex-lg-row">

						<div class="col-md-6 pd-r tab-width-css">
								<div class="out-box">
									<div class="row d-flex  mb-20">

										<div class="col-md-10">
											<form class="d-flex search-sec flxwrap">
												<input class="form-control me-2" type="text"
													placeholder="Search">
												<button class="btn btn-primary go-btn" type="button">Go</button>
											</form>
										</div>

										<div class="col-md-2 d-flex justify-content-end">
											<div class="btn btn-primary max-btn">
												<!-- <i class="fas fa-arrow-up"></i>-->
												<i class="fas fa-arrows-alt"></i>
											</div>
										</div>

									</div>
									<div id="myGrid" style="width: 100%; height: 500px;"
						                 class="ag-theme-alpine"></div>
								</div>
							</div>

						<!--Left Sec End-->

						<!--Right Sec Start-->
						<div class="col-md-6 pd-l">
							<div class="out-box">

									<button  class="btn btn-primary max-btn" type="button" id="collapseButtonL">		   
									    <i class="fas fa-arrows-alt" id="expandIconL"></i>
							      <svg class="d-none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" id="shrinkIconL"><use href="#shrinkIcon"></use></svg>
									  </button>



								<!--Right Inner Tab Start-->
								<ul class="nav nav-pills newtab mb-20" role="tablist">
          <li class="nav-item wd-11">
            <a class="nav-link active" data-bs-toggle="pill" href="#item" onclick="activityTabs('item');">Item</a>
          </li>
        </ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div id="item" class="tab-pane active">
										<div class="requisition-tbl ">

											<div class="mb-2">
												<table class="table  mb-0" width="100%">
													<tr valign="middle">
														<td>
															<div class="d-flex justify-content-end">
																<div class="mr-2">
																	<button id="add" class="btn  edit-btn" onclick="addBtn()"
																	 type="button">Add</button>
																</div>
																<div class="mr-2">
																	<button id="edit" class="btn  edit-btn" type="button" onclick="editPage()">Edit</button>
																</div>
																<div class="mr-0">
																	<button id="next" class="btn  edit-btn" onclick="addIncentiveInfo()" type="button">Save</button>
																</div>
															</div>

														</td>
													</tr>
												</table>
											</div>

									<div class="row">
									<input type="hidden" id="itemId">
									<div class="col-md-6">
										<div class="form-group">
											<label>Item Name</label> <input type="text"
												class="form-control" id="itemName"
												placeholder="Item Name"> <span
												id="errmsg_name"></span>
										</div>
									</div>
									
									
									<div class="col-md-6">
										<div class="form-group">
											<label>Price</label> <input type="text"
												class="form-control" id="price"
												placeholder="Price">
												<span id="errmsg_price"></span>
												
												
										</div>
									</div>
									
									
									<div class="col-md-6" id="searchFilterDiv"
										style="margin-bottom: 10px;">

										<div class="form-group">
											<label>Category</label>
											<div class="select">
												<select id="categry" class="form-control" onchange="getIncentiveStatus()">
													<option value="">--Select--</option>
													<option th:each="c,iter:${incentivedetails}"
														th:value="${c.key}" th:text="${c.name}"></option>
												</select> <span id="errmsg_categry"></span>
											</div>

										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label>Sub Category</label>
											<div class="select">
												<select id="subcategry" class="form-control" onchange="clubMemberGetDetail()">
													<option value="">--Select--</option>
													<option th:each="c,iter:${clubMemberDetails}"
														th:value="${c.key}" th:text="${c.name}" ></option>
												</select> <span id="errmsg_subcategry"></span>
											</div>

										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label>Variant</label>
											<div class="select">
												<select id="variant" class="form-control" onchange="clubMemberGetDetail()">
													<option value="">--Select--</option>
													<option th:each="c,iter:${variantDetails}"
														th:value="${c.key}" th:text="${c.name}" ></option>
												</select> <span id="errmsg_variant"></span>
											</div>

										</div>
									</div>
										<div class="col-md-6">
										<div class="form-group">
											<label>Active</label>
											<div class="select">
												<select id="status" class="form-control">
													<option value="">Select</option>
													<option value="1">Active</option>
													<option value="0">Inactive</option>
												</select>
												<span id="errmsg_status"></span>
											</div>
										</div>
									</div>

								</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
  
</body>
</html>