<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>
<title>Stake Holder DashBoard</title>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<style type="text/css">
.btnDisable {
	color: #ccc !important;
}
/* chart */
.highcharts-figure, .highcharts-data-table table {
	min-width: 310px;
	max-width: 800px;
	margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #ebebeb;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}

.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}

.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th,
	.highcharts-data-table caption {
	padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even)
	{
	background: #f8f8f8;
}

.highcharts-data-table tr:hover {
	background: #f1f7ff;
}
/* pie */
.highcharts-figure, .highcharts-data-table table {
	min-width: 320px;
	max-width: 660px;
	margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #ebebeb;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}

.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}

.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th,
	.highcharts-data-table caption {
	padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even)
	{
	background: #f8f8f8;
}

.highcharts-data-table tr:hover {
	background: #f1f7ff;
}

.highcharts-figure, .highcharts-data-table table {
	min-width: 310px;
	max-width: 800px;
	margin: 1em auto;
}
/* 4 */
.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #ebebeb;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}

.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}

.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th,
	.highcharts-data-table caption {
	padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even)
	{
	background: #f8f8f8;
}

.highcharts-data-table tr:hover {
	background: #f1f7ff;
}
/* 5 */
.highcharts-figure, .highcharts-data-table table {
	min-width: 310px;
	max-width: 800px;
	margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #ebebeb;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}

.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}

.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th,
	.highcharts-data-table caption {
	padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even)
	{
	background: #f8f8f8;
}

.highcharts-data-table tr:hover {
	background: #f1f7ff;
}
</style>


<script>
	$(document).ready(function() {
		chart();
		districtPropertyCategorise();
		categoryWiseReturnOS();
		categoryWiseMaintainanceBar();
		

		categoryWiseLateFeeBar();

	})
	$(document)
			.ready(
					function() {

						

						// Build the chart
						Highcharts
								.chart(
										'container2',
										{
											chart : {
												plotBackgroundColor : null,
												plotBorderWidth : null,
												plotShadow : false,
												type : 'pie'
											},
											title : {
												text : 'Browser market shares in January, 2018'
											},
											tooltip : {
												pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
											},
											accessibility : {
												point : {
													valueSuffix : '%'
												}
											},
											plotOptions : {
												pie : {
													allowPointSelect : true,
													cursor : 'pointer',
													dataLabels : {
														enabled : true,
														format : '<b>{point.name}</b>: {point.percentage:.1f} %',
														connectorColor : 'silver'
													}
												}
											},
											series : [ {
												name : 'Share',
												data : [ {
													name : 'Chrome',
													y : 61.41
												}, {
													name : 'Internet Explorer',
													y : 11.84
												}, {
													name : 'Firefox',
													y : 10.85
												}, {
													name : 'Edge',
													y : 4.67
												}, {
													name : 'Safari',
													y : 4.18
												}, {
													name : 'Other',
													y : 7.05
												} ]
											} ]
										});

						Highcharts
								.chart(
										'container1',
										{
											chart : {
												type : 'column'
											},
											title : {
												text : 'Monthly Average Rainfall'
											},
											subtitle : {
												text : 'Source: WorldClimate.com'
											},
											xAxis : {
												categories : [ 'Jan', 'Feb',
														'Mar', 'Apr', 'May',
														'Jun', 'Jul', 'Aug',
														'Sep', 'Oct', 'Nov',
														'Dec' ],
												crosshair : true
											},
											yAxis : {
												min : 0,
												title : {
													text : 'Rainfall (mm)'
												}
											},
											tooltip : {
												headerFormat : '<span style="font-size:10px">{point.key}</span><table>',
												pointFormat : '<tr><td style="color:{series.color};padding:0">{series.name}: </td>'
														+ '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
												footerFormat : '</table>',
												shared : true,
												useHTML : true
											},
											plotOptions : {
												column : {
													pointPadding : 0.2,
													borderWidth : 0
												}
											},
											series : [
													{
														name : 'Tokyo',
														data : [ 49.9, 71.5,
																106.4, 129.2,
																144.0, 176.0,
																135.6, 148.5,
																216.4, 194.1,
																95.6, 54.4 ]

													},
													{
														name : 'New York',
														data : [ 83.6, 78.8,
																98.5, 93.4,
																106.0, 84.5,
																105.0, 104.3,
																91.2, 83.5,
																106.6, 92.3 ]

													},
													{
														name : 'London',
														data : [ 48.9, 38.8,
																39.3, 41.4,
																47.0, 48.3,
																59.0, 59.6,
																52.4, 65.2,
																59.3, 51.2 ]

													},
													{
														name : 'Berlin',
														data : [ 42.4, 33.2,
																34.5, 39.7,
																52.6, 75.5,
																57.4, 60.4,
																47.6, 39.1,
																46.8, 51.1 ]

													} ]
										});

						// Radialize the colors
						Highcharts
								.setOptions({
									colors : Highcharts
											.map(
													Highcharts.getOptions().colors,
													function(color) {
														return {
															radialGradient : {
																cx : 0.5,
																cy : 0.3,
																r : 0.7
															},
															stops : [
																	[ 0, color ],
																	[
																			1,
																			Highcharts
																					.color(
																							color)
																					.brighten(
																							-0.3)
																					.get(
																							'rgb') ] // darken
															]
														};
													})
								});

						//propertyCategoriseReturnPie();
					
					})

	function chart() {
		var userid = $("#sessionId").val();
		$
				.ajax({
					type : "GET",
					url : "dashboard-property-categorise-bar?userid=" + userid,
					success : function(response) {
						if (response.message == "Success") {
							var area = [];
							var count1 = [];
							for (i = 0; i <= response.body.length - 1; i++) {
								area.push(response.body[i].propertytype);
								count1.push(parseInt(response.body[i].count));
							}

							Highcharts
									.chart(
											'container',
											{
												chart : {
													type : 'column'
												},
												title : {
													text : 'Monthly Average Rainfall'
												},
												subtitle : {
													text : 'Source: WorldClimate.com'
												},
												xAxis : {
													categories : area,
													crosshair : true
												},
												yAxis : {
													min : 0,
													title : {
														text : 'Number'
													}
												},
												tooltip : {
													headerFormat : '<span style="font-size:10px">{point.key}</span><table>',
													pointFormat : '<tr><td style="color:{series.color};padding:0">{series.name}: </td>'
															+ '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
													footerFormat : '</table>',
													shared : true,
													useHTML : true
												},
												plotOptions : {
													column : {
														pointPadding : 0.2,
														borderWidth : 0
													}
												},
												series : [

												{
													name : 'Number',
													color : '#4AAAF5',
													data : count1

												} ]
											});

						}
					},

				});

	}

	function districtPropertyCategorise() {
		var userid = $("#sessionId").val();

		$.ajax({
					type : "GET",
					url : "dashboard-district-property-categorise-bar?userid="
							+ userid,
					success : function(response) {
						
						if (response.message == "Success") {
							console.log("Dsitricyt"+JSON.stringify(response));

						}

					},
					error : function(data) {

					}
				});
	}
	function propertyCategoriseReturnPie() {
		var userid = $("#sessionId").val();

		$.ajax({
			type : "GET",
			url : "dashboard-propertycategorise-pie?userid=" + userid,
			success : function(response) {
				console.log(response);
				if (response.message == "Success") {
					console.log(response);

				}

			},
			error : function(data) {

			}
		});
	}
	function categoryWiseReturnOS() {
		var userid = $("#sessionId").val();

		$
				.ajax({
					type : "GET",
					url : "dashboard-categorywisereturnos-bar?userid=" + userid,
					success : function(response) {

						if (response.message == "Success") {
							var area = [];
							var count1 = [];
							for (i = 0; i <= response.body.length - 1; i++) {
								area.push(response.body[i].propertytype);
								count1.push(parseInt(response.body[i].count));
							}

							Highcharts
									.chart(
											'container3',
											{
												chart : {
													type : 'column'
												},
												title : {
													text : 'Monthly Average Rainfall'
												},
												subtitle : {
													text : 'Source: WorldClimate.com'
												},
												xAxis : {
													categories : area,
													crosshair : true
												},
												yAxis : {
													min : 0,
													title : {
														text : 'Number'
													}
												},
												tooltip : {
													headerFormat : '<span style="font-size:10px">{point.key}</span><table>',
													pointFormat : '<tr><td style="color:{series.color};padding:0">{series.name}: </td>'
															+ '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
													footerFormat : '</table>',
													shared : true,
													useHTML : true
												},
												plotOptions : {
													column : {
														pointPadding : 0.2,
														borderWidth : 0
													}
												},
												series : [

												{
													name : 'Number',
													color : '#4AAAF5',
													data : count1

												} ]
											});

						}

					},
					error : function(data) {

					}
				});
	}
	function categoryWiseMaintainanceBar() {
		var userid = $("#sessionId").val();

		$.ajax({
			type : "GET",
			url : "dashboard-categorywisemaintainance-bar?userid=" + userid,
			success : function(response) {
				console.log(response);
				if (response.message == "Success") {
					var area = [];
					var count1 = [];
					for (i = 0; i <= response.body.length - 1; i++) {
						area.push(response.body[i].propertytype);
						count1.push(parseInt(response.body[i].count));
					}
					Highcharts
							.chart(
									'container4',
									{
										chart : {
											type : 'bar'
										},
										title : {
											text : 'Historic World Population by Region'
										},
										subtitle : {
											text : 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
										},
										xAxis : {
											categories : area,
											title : {
												text : null
											}
										},
										yAxis : {
											min : 0,
											title : {
												text : 'Price (Rs)',
												align : 'high'
											},
											labels : {
												overflow : 'justify'
											}
										},
										tooltip : {
											valueSuffix : ' Rs'
										},
										plotOptions : {
											bar : {
												dataLabels : {
													enabled : true
												}
											}
										},
										legend : {
											layout : 'vertical',
											align : 'right',
											verticalAlign : 'top',
											x : -40,
											y : 80,
											floating : true,
											borderWidth : 1,
											backgroundColor : Highcharts.defaultOptions.legend.backgroundColor
													|| '#FFFFFF',
											shadow : true
										},
										credits : {
											enabled : false
										},
										series : [ {
											name : 'Year 1800',
											color : '#4AAAF5',
											data : count1
										} ]
									});

				}

			},
			error : function(data) {

			}
		});
	}
	function categoryWiseLateFeeBar() {
		var userid = $("#sessionId").val();

		$.ajax({
			type : "GET",
			url : "dashboard-categorise-latefee-bar?userid=" + userid,
			success : function(response) {
				console.log(response);
				if (response.message == "Success") {
					var area = [];
					var count1 = [];
					for (i = 0; i <= response.body.length - 1; i++) {
						area.push(response.body[i].propertytype);
						count1.push(parseInt(response.body[i].count));
					}
					Highcharts
					.chart(
							'container5',
							{
								chart : {
									type : 'areaspline'
								},
								title : {
									text : 'Average fruit consumption during one week'
								},
								legend : {
									layout : 'vertical',
									align : 'left',
									verticalAlign : 'top',
									x : 150,
									y : 100,
									floating : true,
									borderWidth : 1,
									backgroundColor : Highcharts.defaultOptions.legend.backgroundColor
											|| '#FFFFFF'
								},
								xAxis : {
									categories : area,
									plotBands : [ { // visualize the weekend
										from : 4.5,
										to : 6.5,
										color : 'rgba(68, 170, 213, .2)'
									} ]
								},
								yAxis : {
									title : {
										text : 'Fruit units'
									}
								},
								tooltip : {
									shared : true,
									valueSuffix : ' units'
								},
								credits : {
									enabled : false
								},
								plotOptions : {
									areaspline : {
										fillOpacity : 0.5
									}
								},
								series : [ {
									name : 'John',
									color : '#4AAAF5',
									data : count1
								} ]
							});

				}

			},
			error : function(data) {

			}
		});
	}
</script>



</head>

<body>
	<div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">
						<!--  <div class="dashboard_heading">Login By: Pinaki Datta 
            <div class="vshort_details">Value Added: #2,000</div>
            <div class="vshort_details">Requisition: 200</div>
            <div class="vshort_details">Spending: $ 400,000</div>
            <div class="vshort_details">Suppliers: 5000</div>
          </div> -->
						<div class="row">
							<input type="hidden" id="sessionId" th:value="${userId}" />
							<!-- <div class="col-md-2">
								<div class="box_green">
									<div class="inner-box-number" id="totalVendor">500</div>
									<div class="inner-box-text">Tenants</div>
								</div>
							</div> -->
							<div class="col-md-3">
								<div class="box_yellow">
									<div class="inner-box-number">₹ 67,56,000.00</div>
									<div class="inner-box-text">Rent Collected</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="box_pink">
									<div class="inner-box-number">₹ 7,36,000.00</div>
									<div class="inner-box-text">Total O/S</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="box_brown">
									<div class="inner-box-number" id="totalStocks">₹
										56,000.00</div>
									<div class="inner-box-text">Late Fee Collected</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="box_deepblue">
									<div class="inner-box-number" id="totalPo">₹ 10,6,000.00</div>
									<div class="inner-box-text">Maint. Expenses</div>
								</div>
							</div>
							<!-- 
							<div class="col-md-2">
								<div class="box_blue">
									<div class="inner-box-number" id="totalInventory">500</div>
									<div class="inner-box-text">Inventory</div>
								</div>
							</div> -->
						</div>
						<div class="clearfix"></div>

						<div class="row">
							<!-- <div class="col-lg-6">
								<div class="dashboard_box">
									<div class="dashboard_subheading">Top 3 Avg. Procurement
										Cycle (Vendor Classification)</div>
									<div class="row">
										<div class="col-lg-4" align="center">
											<div class="progress blue">
												<span class="progress-left"> <span
													class="progress-bar"></span>
												</span> <span class="progress-right"> <span
													class="progress-bar"></span>
												</span>
												<div class="progress-value">
													16%<br> <span>Short</span>
												</div>
											</div>

										</div>
										<div class="col-lg-4" align="center">
											<div class="progress yellow">
												<span class="progress-left"> <span
													class="progress-bar"></span>
												</span> <span class="progress-right"> <span
													class="progress-bar"></span>
												</span>
												<div class="progress-value">
													36%<br> <span>Medium</span>
												</div>
											</div>
										</div>
										<div class="col-lg-4" align="center">
											<div class="progress green">
												<span class="progress-left"> <span
													class="progress-bar"></span>
												</span> <span class="progress-right"> <span
													class="progress-bar"></span>
												</span>
												<div class="progress-value">
													48%<br> <span>Long</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> -->
							<div class="col-lg-4">
								<div class="dashboard_box">
									<div class="dashboard_subheading">
										Category Wise Property
										<div class="float-right">
											<a href="#"><i class="ti-download"></i></a> <a href="#"><i
												class="ti-printer"></i></a> &nbsp; &nbsp; &nbsp; <a
												href="javascript:void(0)"><i class="ti-bar-chart"></i></a>
										</div>
									</div>

									<div class="highcharts-figure" id="invChartDiv1">
										<div id="container" style="height: 400 px;"></div>
									</div>

								</div>
							</div>
							<div class="col-lg-4">
								<div class="dashboard_box">
									<div class="dashboard_subheading">
										District Wise Property
										<div class="float-right">
											<a href="#"><i class="ti-download"></i></a> <a href="#"><i
												class="ti-printer"></i></a> &nbsp; &nbsp; &nbsp; <a
												href="javascript:void(0)"><i class="ti-bar-chart"></i></a>
										</div>
									</div>

									<div class="highcharts-figure" id="invChartDiv1">
										<div id="container1" style="height: 300 px;"></div>
									</div>

								</div>
							</div>
							<div class="col-lg-4">
								<div class="dashboard_box">
									<div class="dashboard_subheading">
										Property Category Wise Return
										<div class="float-right">
											<a href="#"><i class="ti-download"></i></a> <a href="#"><i
												class="ti-printer"></i></a> &nbsp; &nbsp; &nbsp; <a
												href="javascript:void(0)"><i class="ti-bar-chart"></i></a>
										</div>
									</div>

									<div class="highcharts-figure" id="invChartDiv1">
										<div id=container2 style="height: 300 px;"></div>
									</div>

								</div>
							</div>
							<div class="col-lg-4">
								<div class="dashboard_box">
									<div class="dashboard_subheading">
										Category Wise O/S
										<div class="float-right">
											<a href="#"><i class="ti-download"></i></a> <a href="#"><i
												class="ti-printer"></i></a> &nbsp; &nbsp; &nbsp; <a
												href="javascript:void(0)"><i class="ti-bar-chart"></i></a>
										</div>
									</div>

									<div class="highcharts-figure" id="invChartDiv1">
										<div id="container3" style="height: 300 px;"></div>
									</div>

								</div>
							</div>

							<div class="col-lg-4">
								<div class="dashboard_box">
									<div class="dashboard_subheading">
										Category Wise Maintenance
										<div class="float-right">
											<a href="#"><i class="ti-download"></i></a> <a href="#"><i
												class="ti-printer"></i></a> &nbsp; &nbsp; &nbsp; <a
												href="javascript:void(0)"><i class="ti-bar-chart"></i></a>
										</div>
									</div>

									<div class="highcharts-figure" id="invChartDiv1">
										<div id="container4" style="height: 300 px;"></div>
									</div>

								</div>
							</div>
							<div class="col-lg-4">
								<div class="dashboard_box">
									<div class="dashboard_subheading">
										Category Wise Late Fee
										<div class="float-right">
											<a href="#"><i class="ti-download"></i></a> <a href="#"><i
												class="ti-printer"></i></a> &nbsp; &nbsp; &nbsp; <a
												href="javascript:void(0)"><i class="ti-bar-chart"></i></a>
										</div>
									</div>

									<div class="highcharts-figure" id="invChartDiv1">
										<div id="container5" style="height: 300 px;"></div>
									</div>

								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</body>
</html>