<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
    @page {
    size: A4; /* This sets the page orientation to landscape */
    font-size:7.5px;
}
    body{
    font-size:7.5px;
    }
        table{
            margin:10px 0px;
        }
        table td{
            font: size 16px;
            padding: 5px;
        }
        .heading
        {
            text-align: center;
            font-weight: bold;
        }
 .left-sec {
    display: flex; 
    flex-direction:row;
    width: 100%; 
    margin: 0; 
    padding: 0; 
}

.ref-table {
    width: auto; 
    margin: 0; 
    padding: 0; 
}

.left-sec td {
    padding: 5px; 
}
        
    </style>
</head>
<body>

    <table border="1" width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td rowspan="2" class="heading">
            <img th:src="${logo}" alt="OriFood Logo" width="100" /></td>
    
            <td class="heading">Annexture-03</td>
    
            <td rowspan="2" class="heading">Orifood &amp; Beverage Pvt.Ltd. </td>
        </tr>
        <tr>
            <td class="heading">Media Preparation Record</td>
        </tr>
    </table>
    
  <table border="1" width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="13" class="heading">Date: <span th:text="${respdata[0].mediaDate}"></span></td>
    </tr>
    <tr>
        <td rowspan="2" class="heading">Media</td>
        <td rowspan="2" class="heading">Batch Code</td>
        <td rowspan="2" class="heading">Date of expiry</td>
        <td rowspan="2" class="heading">Qty. of Media Used(gms)</td>
        <td rowspan="2" class="heading">Required Final<br/> pH (+_ 0.2&deg;C)</td>
        <td colspan="2" class="heading">pH</td>
        <td rowspan="2" class="heading">Dispensed Qty.</td>
        <td colspan="3" class="heading">Autoclaving Details</td>
        <td rowspan="2">pH After sterilization</td>
        <td rowspan="2">Steam Indicator strip</td>
    </tr>

    <tr>
        <td>Before Adjustment</td>
        <td>After Adjustment</td>
        <td>Start Time</td>
        <td>Time When 121 &deg;C/ 115 &deg; C @15 psi reached</td>
        <td>Cycle overtime</td>
    </tr>

    <tr th:each="items, iterStat : ${respdata}">
        <td th:text="${items.media}" align="left"></td>
            <td th:text="${items.batchCode}" align="left"></td>
            <td th:text="${items.expiryDate}" align="left"></td>
            <td th:text="${items.qtyMedia}" align="left"></td>
            <td th:text="${items.finalpH}" align="left"></td>
            <td th:text="${items.beforeAdj}" align="left"></td>
            <td th:text="${items.afterAdj}" align="left"></td>
            <td th:text="${items.disQty}" align="left"></td>
            
        <!-- Autoclaving Details with rowspan for 23 rows -->
        <td th:if="${iterStat.index == 0}" th:rowspan="23" th:text="${items.startTime}" align="left"></td>
        <td th:if="${iterStat.index == 0}" th:rowspan="23" th:text="${items.reachedTime}" align="left"></td>
        <td th:if="${iterStat.index == 0}" th:rowspan="23" th:text="${items.cycleTime}" align="left"></td>

 		
 		<td th:if="${iterStat.index >= 23}" th:colspan="3" th:text="${items.startTime}" align="left"></td>

 		

       <td th:text="${items.sterilization}" align="left"></td>
       

        <td th:if="${iterStat.index < 19 && iterStat.index % 20 == 0}" th:rowspan="20" class="table-data">
            <p>Image: <img th:src="${docName}" alt="Media Image" width="100"></img></p>
        </td>
        <td th:if="${iterStat.index > 19 && iterStat.index % 20 == 0}" th:rowspan="13" class="table-data">
            <p>Remark:<span th:text="${items.remarks}"></span></p>
        </td>
    </tr>
</table>

    

<!-- <div class="footer-notes"> -->
						
<div>

<table style="padding-top: 10px;">
    <tr style="height: 3px;">
        <td>Signature(Microbiologist)</td>
        <td>QA Manager</td>
    </tr>
    
</table>

 <table class="ref-table">
        <tbody>
        <tr style="height: 5px;">
            <td>Ref. No. :</td>
                <td><span>OBPL/QA/012/F/03</span></td>
                </tr>
            <tr style="height: 5px;">
                <td>Issue No. :</td>
                <td><span>01</span></td>
            </tr>
            <tr style="height: 5px;">
                <td>Issued Date :</td>
                <td><span>01-07-2022</span></td>
            </tr>
        </tbody>
    </table> 
</div>

					
				
						
</body>
</html> 