<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>
<link rel="stylesheet" href="../assets/css/extend/lightslider.css" />
<style type="text/css">
.highcharts-exporting-group {
	display: none;
}

.autocomplete {
	position: relative;
	display: inline-block;
	width: 100%;
}

.btn-primarynew {
	color: #fff !important;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.innerstickybg {
	background: #f0f3f1;
	height: 60px;
	width: 100%;
	z-index: 8;
	padding: 10px 5px;
}

.slidebox {
	padding: 14px;
	margin-top: 0px;
	margin: 0px 10px;
}

.form-group label {
	font-size: 12px;
	position: relative;
	top: 4px;
}

.holdCls {
	background-color: rgb(0, 143, 0);
}

.bg_white {
	background: #ffffff !important;
}

.blueClsWT {
	background: #0076ba;
	color: #fff;
}

.blueCls {
	background: #0076ba;
	color: #fff;
}

.blueClsWT::before {
	font-size: 8px;
	color: #FFF;
	content: '\e64c';
	font-family: 'themify';
	padding-right: 7px;
}

.modal-body table td input[type=checkbox] {
	width: 0px;
	margin-right: 16px;
	position: relative;
	top: 0px;
	float: none;
}

.firstnode {
	color: #929292;
	border-top: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important;
	width: 320px;
	font-size: 12px;
	font-weight: 100;
}

.simple-tree-table-closed .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
	transform: rotate(90deg);
}

.simple-tree-table-opened .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.simple-tree-table-icon {
	display: inline-block;
	width: 1.5em;
	line-height: 1.5em;
	margin: 0.1em;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
}

.form-group1 label {
	font-size: 18px;
	position: relative;
	top: 4px;
}

.tptCls {
	background: transparnt;
}

.font-small {
	font-size: 13px;
}

.billtxt {
	color: #777 !important;
	font-size: 14px;
	margin-top: 10px;
	text-transform: uppercase;
	display: block;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.form-controls {
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 100%;
	font-size: 12px;
	color: #929292;
	background-color: transparent;
	background-clip: padding-box;
	border: 1px solid #d5d5d5;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	line-height: 30px;
	border-radius: 0;
	padding: 0;
}

.sugg-cls ul {
	height: 150px;
	overflow-x: scroll;
	position: relative;
}

ul#autocomplete-list1 {
	position: relative;
	z-index: 999;
}

ul#autocomplete-list1 li {
	position: relative;
	color: #fff;
	padding-left: 6px;
	background-color: #1f57a8;
	border-bottom: solid 1px #6189c2;
	padding-top: 5px;
	padding-bottom: 5px;
}

a.addCust {
	color: #fff;
}

.formValidation1 {
	font-size: 10px;
	font-weight: 100;
	color: #ff9e99;
	background-color: transparent;
	position: relative;
	top: -1px;
	padding: 3px 0;
}

.approve-btn1 {
	border: none;
	border-radius: 4px;
	font-size: 11px;
	background-color: #264c82;
	color: #fff;
	margin-left: 5px;
	text-transform: uppercase;
	width: 50px;
	height: 28px;
	line-height: 12px;
	float: right;
	text-transform: uppercase;
	cursor: pointer;
	white-space: normal;
}

element.style {
	width: 30%;
	position: absolute;
	right: -10px;
	overflow: hidden;
	height: auto;
	bottom: 150px;
}

.form-control_big {
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 100%;
	font-size: 20px;
	font-weight: 300;
	color: #000;
	background-color: transparent;
	background-clip: padding-box;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #d5d5d5;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	margin-top: 10px;
	margin-bottom: 1px;
	padding-bottom: 0;
}

a.addCustnew {
	color: #fff;
	font-size: 13px !important;
}
/* ul li{
	margin:0!important;
	padding:0!important;
}
ul li p{
	margin:0!important;
	padding:0!important;
} */
</style>
<script>
	$(document).ready(function() {
		
						
						var gridDiv = document.querySelector('#myGrid');
						new agGrid.Grid(gridDiv, gridOptions);

						
						
						var gridDiv = document.querySelector('#item');
						new agGrid.Grid(gridDiv, itemOptions);
						
						$("#Cancel").hide();
						$("#addData").hide();
						$("#save").hide();
						$('#delete').attr("disabled", true);
						$('#aprove').attr("disabled", true);
						
						gridOptions.api.setRowData();
						
						itemOptions.api.setRowData();
						view();

						
						
						var dateFormat = localStorage.getItem("dateFormat");
						$("#toDateCalendar").datetimepicker({
							format : dateFormat,
							closeOnDateSelect : true,
							timepicker : false,
							minDate : 0,
						}).on("change", function() {
							$('#monthYear').val($(this).val());
						})
						
						$("#issueDateCalendarDate").datetimepicker({
							format : dateFormat,
							closeOnDateSelect : true,
							timepicker : false,
							//minDate : 0,
						}).on("change", function() {
							$('#dateOfIssue').val($(this).val());
						})

								
	$("#toDateCalendarTime").datetimepicker({
		format : 'H:i',
		closeOnDateSelect : false,
		timepicker : true,
		datepicker : false,
		step: 5
	}).on("change", function() {
		$('#time').val($(this).val());
	})

	$('#time').blur(function() {
		$("#toDateCalendarTime").val($(this).val());
	})
						$('#newItem2').attr("disabled", true);
	                   	$('#delete2').attr("disabled", true);
	                   	
	                   	$("#toDateCalendarDate").datetimepicker({
							format : dateFormat,
							closeOnDateSelect : true,
							timepicker : false
							
						}).on("change", function() {
							$('#date').val($(this).val());
						})

						
						$('#newItem2').attr("disabled", true);
	                   	$('#delete2').attr("disabled", true);
					
				
});
	
	
	function view(){
		
		var type1="";
		var funId1 = sessionStorage.getItem('funId');
		if(funId1 == 'FUN0103'){
			type1 = 'mt';
		}else if(funId1 == 'FUN0104'){
			type1 = 'ct';
		}
		$(".loader").show();
		agGrid.simpleHttpRequest({
			url : "rtmr-record-view?type=" + type1
		}).then(function(data) {
			$(".loader").hide();
			var jsonData = JSON.parse(data.body);
			console.log("lllllllll",jsonData);
			var allData=jsonData.rtmrData;
			if(allData!=null){
				var len = allData.length;
				$('#totalCandidate').find('span').html(len);
				gridOptions.api.setRowData(allData);
			}else{
				$('#totalCandidate').find('span').html('0');
				gridOptions.api.setRowData('');
			}
			
		}); 
	}

	

	var columnDefs = [{
				headerCheckboxSelection : false,
				headerCheckboxSelectionFilteredOnly : true,
				checkboxSelection : true,
				width : 10,
				sortable : false,
				filter : false,
				resizable : true,
				pinned: 'left'

			},
			{
				headerName : "Id",
				field : "rtmrId",
				pinned: 'left',
				//width:150,
				cellRenderer : function(params) {
					
							
							return ' <a onclick=editRtmr("'
									+ params.data.rtmrId + '","'
									 +params.data.approveStatus
									+ '") href="javascript:void(0)">'
									+ params.data.rtmrId + '</a>';
				}
			},{
				headerName : 'Month',
				field : "month",
				//width:150,
				
			}, {
					 headerName : 'Ref No.',
				field : "refNo",
				//width:200,
			}, { 
				
			 	headerName : 'Issue No',
				field : "issueNo",
				//width:200,
			
		
				headerName : 'Approve Status',
				field : "approveStatus",
				//width:200,
				
				cellRenderer : function(params) {
					if (params.data.approveStatus =="Approved") { 
						return '<div style="color:#0642f5">'+params.data.approveStatus+'</div>';
					}else {
						return '<div style="color:#a9a9a9">'+params.data.approveStatus+'</div>';
					}
				}
			
	    },{
			headerName : 'PDF',
			field : "downloaddoc",
			cellStyle : {
				textAlign : 'center'
			},cellRenderer : function(params) {
				return '<a  onclick=reportDownload("'
				+params.data.rtmrId
				+ '") href="javascript:void(0)"><i class="bi bi-cloud-download">Download</i></a>';
				

			}
		},];


	/* 
	 *
	 quotation item  
	
	 */

	var itemDefs = [
			{
				headerCheckboxSelection : true,
				headerCheckboxSelectionFilteredOnly : true,
				checkboxSelection : true,
				width : 10,
				sortable : false,
				filter : false,
				resizable : true,
				pinned: 'left',

			},
			{
				headerName : "SL No.",
				field : "slNo",
				width : 100,
				pinned: 'left',
				cellRenderer : function(params) {
					if (params.data.slNo) {
						return '<a onclick=editProduct("' + params.data.slNo
								+ '") href="javascript:void(0)">'
								+ params.data.slNo + '</a>';
					} else {
						return '<a onclick=editProduct("' + params.data.slNo
								+ '") href="javascript:void(0)">'
								+ params.data.slNo + '</a>';
					}
				}
			}, {
				headerName : 'Date',
				field : "date",
				//width : 90,
				pinned: 'left',
			}, {
				headerName : 'Time',
				field : "time",
				//width : 90,
				pinned: 'left',
			}, {

				headerName : 'Temp',
				field : "temp",
				//width : 175,
			}, 
			{
				
				headerName : 'Sign',
				field : "sign",
				//width : 150,
			
			},];

	var gridOptions = {
		columnDefs : columnDefs,
		rowSelection : 'single',

		groupSelectsChildren : true,
		suppressRowClickSelection : true,
		suppressAggFuncInHeader : true,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 250,
			height : 10
		},

		onSelectionChanged : rowSelect,
	
	};


	
	var itemOptions = {
		columnDefs : itemDefs,
		rowSelection : 'multiple',
		groupSelectsChildren : true,
		suppressRowClickSelection : true,
		suppressAggFuncInHeader : true,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 250,
			height : 10
		}, 
		onSelectionChanged : rowSelectItem,
		getRowNodeId : function(data) {
			return data.slNo;
		}
	};

	 function reportDownload(id) {
			window.open("/qa/rtmr-record-pdf-downloads?id="+window.btoa(id), '_blank');  
		}


	function add() {
		$('#delete1').attr("disabled", true);
		$('.formValidation').remove();
		$('#searchRowDiv').hide();
		$('#delete').hide();
		$('#aprove').hide();
		$('#delete1').show();
		$('#newItem').show();
		$("#add").hide();
		$("#myGrid").hide();
		$("#save").show();
	    $("#Cancel").show();
		$("#addData").show();
		$("#totalCandidate").hide();
		$("#dwnld").hide();
		$("#rtmrReportId").html("");
		$("#month").val("");
		$("#time").val("");
		$("#date").val("");
		$("#temp").val("");
		$("#sign").val("");
		//$("#refNo").val("");
		//$("#issueNo").val("");
		//$("#dateOfIssue").val("");
		//$("#minTemp").val("0");
		//$("#maxTemp").val("0");
 
	}

	function Cancel() {
		closeNav();
		$("#reqTable").show();
		$(".btn-hs").show();
		$("#myGrid").show();
		$("#addData").hide();
		view(); 


		
		$("#rtmrReportId").html('');
		
		$("#suggesstion-box1_").hide();
		$("#searchRowDiv").show();
		$("#delete").show();
		$("#approve").show();
		$('.formValidation').remove();
		$("#add").show();
		$("#myGrid").show();
		$("#save").show();
        $("#Cancel").hide();
		$("#addData").hide();
		$("#totalCandidate").show();
		$("#dwnld").show();
		itemOptions.api.setRowData();
		$('#delete').attr("disabled", true);
		$('#aprove').attr("disabled", true);
		$('#add').attr("disabled", false);
		$("#month").val("");
		$("#time").val("");
		$("#monthYear").val("");
		$("#date").val("");
		$("#temp").val("");
		$("#sign").val("");
		//$("#refNo").val("");
		//$("#issueNo").val("");
		//$("#dateOfIssue").val("");
		//$("#minTemp").val("");
		//$("#maxTemp").val("");
		
	}

	function openNav() {
		
		if(itemOptions.api.getDisplayedRowCount() < 31){
			$("#date").val("");
			$("#time").val("");
			$("#temp").val("");
			$("#sign").val("");

			$("#editProduct").val("");
			
			
				document.getElementById("mySidenav").style.cssText = "width: 25%; position: absolute; right:-10px; overflow: hidden; height:auto; top:290px;";
				document.getElementById("accordionExample").style.width = "75%";
			
		}else{
			$("#messageParagraph").text(
			"Limit Already Reached. Please Create A New Record.");
			$("#msgOkModal").removeClass("btn3");
			$("#msgOkModal").addClass("btn1");
			$("#msgModal").modal('show');
		}
		
		
	}

	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("accordionExample").style.width = "100%";
		$('.formValidation').remove();
		$("#suggesstion-box_").hide();
		$("#date").val("");
		$("#time").val("");
		$("#temp").val("");
		$("#sign").val("");
		$("#editProduct").val(null);

	}
	


	

	
	
	/* //quotation item  table add */

	function saveTableData() {
		var editProduct = $("#editProduct").val();
		var item = {};
		var data = 1;
		var validation = true;
		
		 if (!validationUpdated("Date Required", 'date'))
			 validation = false; 
		
	if (validation) {
		item.slNo = data;
			itemOptions.api.forEachNode(function(rowNode, index) {
				if (!editProduct) {
					data = data + 1;
					item.slNo = data;
				}
				else{
					item.slNo = editProduct;
				}
				
			});
		
			item.date = $('#date').val();
			item.time = $('#time').val();
			item.temp = $('#temp').val();
			item.sign = $('#sign').val();
	
			var quot = [];

			if (editProduct) {
				var rowNode = itemOptions.api.getRowNode(editProduct);
				rowNode.setData(item);
			} else {
				itemOptions.api.forEachNode(function(rowNode, index) {
					quot.push(rowNode.data);
				});
				quot.push(item)
				itemOptions.api.setRowData(quot);
		
			}
			closeNav();
			$("#date").val('');
			$("#time").val('');
			$("#temp").val('');
			$("#sign").val('');
			
			$("#editProduct").val(null);
		}

	}

	
	
	/* //Quotation  table add */

	function save() {
		if (validProductData() && validFormData()) {
			var datas = [];
			var type="";
			var funId = sessionStorage.getItem('funId');
			if(funId == 'FUN0103'){
				type = 'mt';
			}else if(funId == 'FUN0104'){
				type = 'ct';
			}
			
			setTimeout(function() {
			   if (itemOptions.api.getDisplayedRowCount() > 0 ) {

					itemOptions.api.forEachNode(function(rowNode, indrx) {
						var obj = rowNode.data;
						obj.type = type;
						obj.rtmrId = $("#rtmrReportId").html();
						obj.rtmrId = $("#rtmrId").val();
						obj.month = $("#month").val();
						obj.refNo = $("#refNo").val();
						obj.issueNo = $("#issueNo").val();
						obj.dateOfIssue = $("#dateOfIssue").val();
						//obj.minTemp = $("#minTemp").val();
						//obj.maxTemp = $("#maxTemp").val();
						console.log('Object',obj)
						datas.push(obj);
					});
					saveRmtr(datas);
				}else{
					$("#messageParagraph").text(
					"Please Add Items Details");
					$("#msgOkModal").removeClass("btn3");
					$("#msgOkModal").addClass("btn1");
					$("#msgModal").modal('show');
				}
			}, 1000)
		
		}
	}


	function deleteRtmr(){
		var selectedRows = gridOptions.api.getSelectedRows();
				 var id=selectedRows[0].rtmrId;
				$.ajax({
					type : "GET",
					url : "rtmr-record-delete?id=" + id,
					async : false,
					success : function(response) {
                          console.log(response.code);
						if (response.code == "200") {
							
							$("#messageParagraph").text(
							"Data Deleted Successfully");
							$("#msgOkModal").removeClass("btn3");
							$("#msgOkModal").addClass("btn1");
							$("#msgModal").modal('show');
							
							view();

							
							
							$('#delete').attr("disabled", true);
							$('#aprove').attr("disabled", true);
							$('#add').attr("disabled", false);
							
							
						}

					},
					error : function(data) {
					}
				});
	}
	
	//saveTableDataSale()
	function saveRmtr(datas) {
		console.log(datas)
		$('.loader').show();
		$("body").addClass("overlay");
		$
				.ajax({
					type : "POST",
					url : "rtmr-record-save",
					contentType : "application/json",
					data : JSON.stringify(datas),
					success : function(response) {
						if (response.message == "Success") {
							$('.loader').hide();
							$("body").removeClass("overlay");
							$("#addData").hide();
							$("#myGrid").show();
							$("#searchRowDiv").show();
							$("#totalCandidate").show();
							$("#total").show();
							$("#btndiv").show();
						    $("#reqTable").show();
						    $("#add").show();
						    $("#dwnld").show();
						    $("#delete").show();
						    $("#aprove").show();
						    $('#add').attr("disabled", false);
							$('#delete').attr("disabled", true);
							$('#aprove').attr("disabled", true);
							console.log(response.message)
							console.log('Data',JSON.stringify(datas))
								view();


							$("#messageParagraph").text("Data Saved Successfully");
							$("#msgOkModal").removeClass("btn3");
							$("#msgOkModal").addClass("btn1");
							$("#msgModal").modal('show');

							$("#rtmrId").val(response.body[0].rtmrId);
						}else{
							$('.loader').hide();
							$("body").removeClass("overlay");
							$("#messageParagraph").text("Something went to wrong!");
							$("#msgOkModal").removeClass("btn3");
							$("#msgOkModal").addClass("btn1");
							$("#msgModal").modal('show');
						}

					},
					error : function(datas) {
						console.log(datas)
					}
				})

	}
	

	function validFormData() {
		var allValid = true;
	/* 	if (!validationUpdated("Customer Name Required", 'custName'))
			allValid = false;
		if (!validationUpdated("Valid Up To Date Required", 'monthYear'))
			allValid = false;
		if (!validationUpdated("Subject Required", 'subject'))
			allValid = false; */
		/* if (!validationUpdated("Order Type Required", 'orderType'))
			allValid = false; */
		return allValid;
	}

	function validProductData() {
		return true;
	}

	/* 
	Edit Quotation
	 */
	function editProduct(slNo) {
		var quotationId = $("#rtmrReportId").html();
		var rowNode = itemOptions.api.getRowNode(slNo);

		
		
		openNav();
		$("#editProduct").val(slNo);
		$("#date").val(rowNode.data.date);
		$("#time").val(rowNode.data.time);
		$("#temp").val(rowNode.data.temp);
		$("#sign").val(rowNode.data.sign);
	
	}
	
	
	
	
	/* function hideMsgModal(){
		location.reload();
	} */
	function editRtmr(rtmrId,approveStatus) {
		
		Cancel();
	    $('#delete1').attr("disabled", true);
		$("#searchRowDiv").hide();
		$("#myGrid").hide();
		$("#reqTable").hide();
		$(".btn-hs").hide();
		$("#addData").show();
		$("#add").hide();
		
		$("#Cancel").show();
		$("#totalCandidate").hide();
		$("#dwnld").hide();
		 if(approveStatus=="Approved"){
	       	 $("#save").hide(); 
	        }else{
	       	 $("#save").show(); 
	        }
	
		$.ajax({
			type : "GET",
			url : "rtmr-record-edit?rtmrId="+ rtmrId,
			success : function(response) {
				if (response.code == "200") {
					var jsonData = JSON.parse(response.body);
					var allData=jsonData.editRtmrData;
					console.log("allData>>>",allData);
					var len = allData.length;
					$("#rtmrReportId").html(allData[0].rtmrId);
				    $("#rtmrId").val(allData[0].rtmrId);
					$("#month").val(allData[0].month);
					//$("#refNo").val(allData[0].refNo);
					//$("#issueNo").val(allData[0].issueNo);
					//$("#dateOfIssue").val(allData[0].dateOfIssue);
					//$("#minTemp").val(allData[0].minTemp);
					//$("#maxTemp").val(allData[0].maxTemp);
					itemOptions.api.setRowData(allData[0].editRtmrDetails);
				}
			},
			error : function(e) {
			}
		}); 

		
		
	}
	
	
	
	function deleteItem() {

		$('#deleteProduct').modal('show');
	}

	function cancelModalBtn() {
		$("#deleteModalBtn").removeAttr("disabled");
		$('#deleteQuot').modal('hide');
		$('#deleteProduct').modal('hide');
	}

	function cancelModalProductBtn() {
		$("#deleteModalBtn").removeAttr("disabled");
		$('#deleteProduct').modal('hide');
	}

	function rowSelect() {
		var selectedRows = gridOptions.api.getSelectedRows();
		 var selectedNodes = gridOptions.api.getSelectedNodes();
		 var selectedData = selectedNodes.map(node => node.data);
		var rowCount = 0;
		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			$('#delete').attr("disabled", false);
			
			 if (selectedData.map(node => node.approveStatus)!="Pending"){
				
		        	$('#aprove').attr('disabled', true);
					$('#delete').attr("disabled", true);
					
				 
			 } else {
				
				  $('#aprove').attr('disabled', false);
					$('#delete').attr("disabled", false);
		        }
			
			
		} else {
		
			$('#delete').attr("disabled", true);
			 $('#aprove').attr('disabled', true);
			
		}

	}

	
	
	function rowSelectItem() {
		var selectedRows = itemOptions.api.getSelectedRows();
		
		var rowCount = 0;
		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});
		if (rowCount > 0) {
			$('#delete1').attr("disabled", false);
			$('#newItem').attr("disabled", true);
		} else {
			$('#newItem').attr("disabled", false);
			$('#delete1').attr("disabled", true);
		}
	}

 
	function deleteProductOnclick() {
		var selectedRows = itemOptions.api.getSelectedRows();
		itemOptions.api.applyTransaction({
			remove : selectedRows

		});
		cancelModalProductBtn();
	
	}
	

	
	function onQuickFilterChanged() {
		$(".ti-search srchicon").hide();
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}

	
</script>

<script>


function approveRtmr(){
$('#approveRequestModel').modal('show');
}
function cancelApproveRequest() {
 $('#approveRequestModel').modal('hide');
} 

function approveRequestOnclick() {
	
	var selectedRows = gridOptions.api.getSelectedRows();
	 var id=selectedRows[0].rtmrId;
	 console.log("vvv",id);
	$.ajax({
		type : "GET",
		url : "rtmr-record-approve?id=" + id,
		async : false,
		success : function(response) {

			if (true) {
				$("#messageParagraph").text("Approved Successfully");
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				 $('#approveRequestModel').modal('hide');
				 view();

				
				$('#delete').attr("disabled", true);
				$('#aprove').attr("disabled", true);
				$('#add').attr("disabled", false);
				
				
			}

		},
	});
}


	

function onQuickFilterChanged() {
	gridOptions.api.setQuickFilter(document.getElementById('quickFilter').value);
var totalRowCount = gridOptions.api.getModel().getRowCount();
	
	$('#totalCandidate').find('span').html(gridOptions.api.getModel().getRowCount());
}
function cancelBar() {
	var id = document.getElementById("closeKey");
	id.style.display = "block";

	if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
		id.style.display = "none";
	}
}


function totalProductCSV() {
	var dataset = [];
	gridOptions.api.forEachNodeAfterFilterAndSort(function(rowNode, index) {
		dataset.push(rowNode.data);
	});
	gridOptions.api.exportDataAsCsv(dataset);
}

function cancelModalBtn() {
	$('#delete').modal('hide');
	
}


</script>

</head>

<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">

						<div class="d-flex justify-content-between" id="reqTable"
							style="display: none;">

							<div class="btn-hs" id="total">
								<div class="font-design" id="totalCandidate">
									RTMR REPORT (<span></span>)
								</div>
							</div>

							<div id="searchRowDiv">
								<div class="input-style">
									<input type="text" placeholder="Search.." name="search"
										class="searchboxinput" onkeyup="cancelBar()"
										oninput="onQuickFilterChanged()" id="quickFilter"
										autocomplete="off">
									<div class="searchicon">
										<a href="javascript:void(0)"><span
											style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
											id="closeKey"
											onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
											class="close_i"><i class="ti-close srchicon"></i></span></a><a
											href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
									</div>
								</div>
							</div>

							<div class="col-md-5 buttonsec btn-hs" id="btndiv">
								<button class="download-btn" id=dwnld
									onclick="downloadDetails()">Download</button>
								<button onclick="add()" class="new-btn" id="add">New</button>
								<button onclick="deleteRtmr()" class="delete-btn" id="delete">delete</button>
								<button onclick="approveRtmr()" class="approve-btn" id="aprove">Approve</button>

							</div>
						</div>
						<input type="hidden" id="sessionOrganization1"
							th:value="${session.ORGANIZATION}" /> <input type="hidden"
							id="sessionOrganization" th:value="${organization}" /> <input
							type="hidden" id="sessionOrgDivision" th:value="${orgDivision}" />
						<input type="hidden" id="sessionId" th:value="${userId}" /> <input
							type="hidden" id="sessionName" th:value="${userName}" /> <input
							type="hidden" id="hrRole" th:value="${hrRole}" /> <input
							type="hidden" id="sessionRole" th:value="${userRole}" /> <input
							type="hidden" id="adRole" th:value="${adRole}" />

						<div id="myGrid" style="height: 500px; width: 100%;"
							class="ag-theme-alpine"></div>
						<div class="collapse" id="addData">
							<div class="innerstickybg" id="headingItem">
								<div class="row">
									<div class="col-md-6">
										<div class="col-md-6">
											RTMR REPORT: <span id="rtmrReportId"></span>
										</div>
									</div>
									<div class="col-md-6" align="right">
										<button class="cancel-btn" id="Cancel" onClick="Cancel()">Cancel</button>
										<button class="save-btn" id="save" onclick="save()">Save</button>


									</div>
								</div>
							</div>

							<div class="row innersticky_contentgap" id="mainPage"
								style="margin-top: 3px;">

								<input type="hidden" id="rtmrId">

								<div class="col-md-3">
									<div class="form-group">
										<label>Month</label>
										<div class="select">
											<select id="month" onblur="removeValid(event)">
												<option value="JANUARY">JANUARY</option>
												<option value="FEBRUARY">FEBRUARY</option>
												<option value="MARCH">MARCH</option>
												<option value="APRIL">APRIL</option>
												<option value="MAY">MAY</option>
												<option value="JUNE">JUNE</option>
												<option value="JULY">JULY</option>
												<option value="AUGUST">AUGUST</option>
												<option value="SEPTEMBER">SEPTEMBER</option>
												<option value="OCTOBER">OCTOBER</option>
												<option value="NOVEMBER">NOVEMBER</option>
												<option value="DECEMBER">DECEMBER</option>
											</select>
										</div>
									</div>

								</div>
								
												<div class="col-md-3">
										<div class="form-group">
											<label> Ref.No: </label>
											<input type="text"
												class="form-control" id="refNo" value="OBPL/QA/012/A/05" readonly>
											
										</div>
									</div>
									
									<div class="col-md-3">
										<div class="form-group">
											<label>Issue No: </label>
											<input type="text"
												class="form-control" id="issueNo" value = "01" readonly>
											
										</div>
									</div>
									
									<!-- <div class="col-md-3">
													<div class="form-group calendar_box">
														<label>Date Of Issue</label> <input type="text" id="dateOfIssue"
															class="form-control" onblur="removeValid(event)"
															th:attr="onkeyup=|formatDate('dateOfIssue','${session.DATEFORMAT_JS}')|"
															readonly> <i class="ti-calendar picker_calendar"
															id="issueDateCalendarDate" onblur="removeValid(event)"></i>
													</div>
												</div> -->
												<div class="col-md-3">
													<div class="form-group calendar_box">
														<label>Date Of Issue</label> <input type="text" id="dateOfIssue"
															class="form-control" onblur="removeValid(event)"
															value = "01-07-2022"
															readonly> 
													</div>
												</div>
												
															<div class="col-md-3">
										<div class="form-group">
											<label>Min Temp. </label>
											<input type="text"
												class="form-control" id="minTemp" value = "2 deg C" readonly>
											
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label>Max Temp. </label>
											<input type="text"
												class="form-control" id="maxTemp" value = "8 deg C" readonly>
											
										</div>
									</div>


							</div>

							<div class="accordion" id="accordionExample">
								<div id="main_content">
									<div class="accordion-item mt-4">
										<h2 class="accordion-header" id="headingOne"
											onclick="closeAllNav()">
											<button class="accordion-button" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseOne"
												aria-expanded="false" aria-controls="collapseOne">
												Details</button>
										</h2>
										<div id="collapseOne" class="accordion-collapse collapse show"
											aria-labelledby="headingOne"
											data-bs-parent="#accordionExample">
											<div class="accordion-body">
												<div class="row">
													<div class="col-md-4 btn-hs1">
														<div class="font-design"></div>
													</div>
													<div class="col-md-8 butttonsec">
														<button class="new-btn" id="newItem" onclick="openNav()">ADD</button>
														<button class="delete-btn" id="delete1"
															onclick="deleteItem()">Delete</button>
													</div>
												</div>
												<div id="item" style="width: 100%; height: 200px;"
													class="ag-theme-alpine"></div>


											</div>

										</div>
									</div>

									<div id="mySidenav" class="sidenav">
										<div class="slidebox">
											<div class="row">
												<div class="chartbtnsec">
													<div align="right">
														<button class="cancel-btn" onclick="closeNav()">CANCEL</button>
														<button class="approve-btn" id="saveTableData"
															onclick="saveTableData()">SAVE</button>

													</div>
												</div>

												<div class="col-lg-12">
													<div class="form-group calendar_box">
														<label>Date</label> <input type="text" id="date"
															class="form-control" onblur="removeValid(event)"
															th:attr="onkeyup=|formatDate('date','${session.DATEFORMAT_JS}')|"
															readonly> <i class="ti-calendar picker_calendar"
															id="toDateCalendarDate" onblur="removeValid(event)"></i>
													</div>
												</div>

												<div class="col-md-12" id="entryT">
													<div class="form-group calendar_box">
														<label> Time</label> <input type="text" id="time"
															class="form-control" onblur="removeValid(event)"
															th:attr="onkeyup=|formatDate('time','${session.DATEFORMAT_JS}')|"
															readonly> <i class="ti-calendar picker_calendar"
															id="toDateCalendarTime"></i>
													</div>
												</div>

												<div class="col-lg-12">
													<div class="form-group">
													<input type="hidden" id="editProduct">
														<label>Temp &#8451; </label> <input type="text" id="temp"
															class="form-control">
													</div>
												</div>

												<div class="col-lg-12">
													<div class="form-group">
														<label>Sign</label> <input type="text" id="sign"
															class="form-control">
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>





							</div>
						</div>

					</div>







					<!-- delete item start	 -->
					<div id="deleteProduct" class="modal fade show" aria-modal="true">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column"></div>
								<div class="modal-body">
									<p>Do you really want to delete these records? This process
										cannot be undone.</p>
								</div>
								<div class="modal-footer justify-content-center"
									style="margin-top: -30px;">

									<button type="button" class="cancel-btn" data-dismiss="modal"
										onclick="cancelModalProductBtn();">Cancel</button>
									<button type="button" class="delete-btn"
										onclick="deleteProductOnclick()">Delete</button>
								</div>
							</div>
						</div>
					</div>


					<div id="approveRequestModel" class="modal fade show"
						aria-modal="true">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column"></div>
								<div class="modal-body">
									<p>Do you want to Approve</p>
								</div>
								<div class="modal-footer justify-content-center"
									style="margin-top: -30px;">
									<button type="button" class="cancel-btn" data-dismiss="modal"
										onclick="cancelApproveRequest();">No</button>
									<button type="button" class="approve-btn"
										onclick="approveRequestOnclick()">Yes</button>
								</div>
							</div>
						</div>
					</div>



				</div>
			</div>
		</div>
	</div>
</body>
</html>