<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style type="text/css">
.highcharts-exporting-group {
	display: none;
}

.slidebox {
	padding: 14px;
	margin-top: 0px;
	margin: 0px 10px;
}

/* .form-group label {
	font-size: 12px;
	position: relative;
	top: 4px;
} */
.holdCls {
	background-color: rgb(0, 143, 0);
}

.bg_white {
	background: #ffffff !important;
}

.totalHour {
	border: 1px solid #ddd;
	border-radius: 2px;
	background-color: #f5f5f5;
	padding: 10px;
	font-size: 12px;
	color: #333;
	transition: border-color 0.3s ease-in-out;
	width: 370px;
	height: 23px;
}
.custom-color-column {
	border: 1px solid #ddd;
	border-radius: 2px;
	background-color: #f5f5f5;
	/* padding: 10px; */
	font-size: 12px;
	color: #333;
	transition: border-color 0.3s ease-in-out;
	width: 370px;
	height: 23px;
}
</style>

<script type="text/javascript">

	$(document).ready(function() {

		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);
		var rowData = [];
		gridOptions.api.setRowData(rowData);
		$(".loader").show();
		agGrid.simpleHttpRequest({
			url : 'spot-check--details-view'
		}).then(function(data) {
			$(".loader").hide();
			var jsonData = JSON.parse(data.body[0]);
			var allData=jsonData.view;
			console.log(allData)
			var len = allData.length;
			$('#totalReq').find('span').html(len);
			gridOptions.api.setRowData(allData);
		});
		var gridDiv = document.querySelector('#activity');
		new agGrid.Grid(gridDiv, activityOptions);
		//activityOptions.api.setRowData();
		$('#reqDltBtn').attr('disabled', true);
		$('#assignBtn').attr('disabled', true);
		$('#deleteChild').attr('disabled', true);
		$('.collapse').on('show.bs.collapse', function() {
			$(this).siblings('.panel-heading').addClass('active');
		});

		$('.collapse').on('hide.bs.collapse', function() {
			$(this).siblings('.panel-heading').removeClass('active');
		});
		$("#newBtn").click(function() {

		})
		
$("#toDateCalendarTime1").datetimepicker({
		 format:'h:i A',
		    closeOnDateSelect: false,
		    timepicker: true,
		    datepicker: false,
		    step: 1,
		    formatTime: 'h:i A'
	}).on("change", function() {
		$('#exitTime').val($(this).val());
	})

		
		var dateFormat = localStorage.getItem("dateFormat");
		$("#DateCalendar3").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#pdate').val($(this).val());
		})

		$('#pdate').blur(function() {
			$("#DateCalendar3").val($(this).val());
		})


	});
	
	function newPlannn(){
		 $("#additionModal").modal('show');
		 $("#add").val("");
		 $("#skg").val("");
			
	}
	function cancelBtn2(){
		 $("#additionModal").modal('hide');
	}
	
	
	
	/* -------------------search bar for mygrid------------------------ */

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}
	var columnDefs = [
		{
			headerCheckboxSelection : false,
			headerCheckboxSelectionFilteredOnly : false,
			checkboxSelection : true,
			width : 10,
			sortable : false,
			filter : false,
			resizable : true

		},
		{
			headerName : 'Spot Id',
			width : 150,
			field : "spotId",
				cellRenderer : function(params) {
				return '<a id="spotId" onclick=editSpot("'
				+params.data.spotId
				+ '") href="javascript:void(0)">'
				+ params.data.spotId + ' <i class="fa fa-edit"></i></a>';

			}

		},{
			headerName : 'Date',
			field : "pdate",
			cellStyle : {
				textAlign : 'center'
			}
		} ,{
			headerName : 'Product',
			field : "product",
			width : 250,
			cellStyle : {
				textAlign : 'center'
			}
		}, {
			headerName : 'Batchsize',
			field : "batchsize",
			cellStyle : {
				textAlign : 'center'
			}
		}, {
			headerName : 'Operator',
			field : "operator",
			cellStyle : {
				textAlign : 'center'
			}
		}, {
			headerName : 'Shift',
			field : "shift",
			cellStyle : {
				textAlign : 'center'
			}
		}, {
			headerName : 'Approve Status',
			field : "approvests",
			cellStyle : {
				textAlign : 'center'
			},cellRenderer : function(params) {
				if(params.data.approvests==1){
					return '<div style="color:#0642f5">Approved</div>';
				}else{
					return '<div style="color:#a9a9a9">Pending</div>';
				}
				

			}
		}, {
			headerName : 'PDF',
			field : "downloaddoc",
			cellStyle : {
				textAlign : 'center'
			},cellRenderer : function(params) {
				if(params.data.approvests==1){
					return '<a id="spotId" onclick=spotPdfDownload("'
					+params.data.spotId
					+ '") href="javascript:void(0)"><i class="bi bi-cloud-download">Download</i></a>';
				}else{
					return '';
				}
				

			}
		}];

// let the grid know which columns and what data to use
var gridOptions = {
	columnDefs : columnDefs,
	rowSelection : 'single',
	groupSelectsChildren : true,
	suppressRowClickSelection : true,
	suppressAggFuncInHeader : true,
	defaultColDef : {
		sortable : true,
		filter : true,
		resizable : true,
		width : 150
	},
	onSelectionChanged : onSelectionChanged,
};
//function for row select parents
var id = "";
var apstatus="";
function onSelectionChanged() {
	var selectedNodes = gridOptions.api.getSelectedNodes();
	 var selectedData = selectedNodes.map(node => node.data);
	 id= selectedData.map(node => node.spotId);
	 apstatus=selectedData.map(node => node.approvests);
	var selectedRows = gridOptions.api.getSelectedRows();
	var rowCount = 0;
	selectedRows.forEach(function(i) {
		rowCount = rowCount + 1;
	});
	if (rowCount > 0) {
		if(apstatus==1){
			$('#reqDltBtn').attr("disabled", true);
			$('#assignBtn').attr("disabled", true);
			$('#newBtn').attr('disabled', true);
		}else{
		$('#newBtn').attr('disabled', true);
		$('#reqDltBtn').attr("disabled", false);
		$('#assignBtn').attr("disabled", false);
		}
	}else {
		$('#reqDltBtn').attr("disabled", true);
		$('#assignBtn').attr("disabled", true);
		$('#newBtn').attr('disabled', false);
	}
}
// for activity table

var activityDefs = [
		{
			headerName : "Addition",
			field : "add"
		},{
			headerName : "Standard in Kg",
			field : "skg",
			editable:true,
			cellClass: 'custom-color-column',
			
		}, {
			headerName : "Actual in Kg",
			field : "akg",
			cellRenderer : function(params) {
				return '<input type="text" class="totalHour" value="'+params.data.akg+'"  id="'+"akg"+params.rowIndex+'" onkeydown="handleTextFieldKeyDown(event)">';
		}
			},{
				headerName : "Remarks",
				field : "remark",
				editable:true,
				cellClass: 'custom-color-column',
				
			}];


//let the grid know which columns and what data to use product table
var activityOptions = {
	columnDefs : activityDefs,
	rowSelection : 'single',
	groupSelectsChildren : true,
	suppressRowClickSelection : true,
	suppressAggFuncInHeader : true,
	defaultColDef : {
		sortable : true,
		filter : true,
		
		resizable : true,
		width : 350,
		singleClickEdit: true,
		stopEditingWhenCellsLoseFocus: true,
	}
};
//function for row select parents
var childid = "";
function onSelectionChangeChild() {
	 var selectedNodes = activityOptions.api.getSelectedNodes();
	 var selectedData = selectedNodes.map(node => node.data);
	 childid= selectedData.map(node => node.slnoId);
	var selectedRows = activityOptions.api.getSelectedRows();
	var rowCount = 0;
	selectedRows.forEach(function(i) {
		rowCount = rowCount + 1;
	});
	if (rowCount > 0) {
		$('#newchild').attr('disabled', true);
		$('#deleteChild').attr('disabled', false);
	}else{
		$('#newchild').attr('disabled', false);
		$('#deleteChild').attr('disabled', true);
	}
}
function newPlan1() {
	$('#productModal').modal('show');
}
//parents new plan
function newPlan() {
	var selectedOption = $("#producttype").find('option:selected');
	$("#product").val(selectedOption.text());
	$("#pro").val(selectedOption.val());
	if(selectedOption.val()=="TBBM/00007" || selectedOption.val()=="TBBM/00008"){
		$("#weightdiscdiv").show();
		$("#weightSampleDiv").show();
		$("#weightdiscsamplediv").show();
		$("#weightlossdiv").show();
		$("#saltmoisturediv").show();
		$("#weightsample1div").show();
		$("#h2s041div").show();
		$("#factor1div").show();
		$("#soda1div").show();
		$("#weightsample2div").show();
		$("#h2s042div").show();
		$("#factor2div").show();
		$("#soda2div").show();
		$("#labsadosediv").show();
		$("#perfumeimpactdiv").show();
		$("#colourdiv").show();
		$("#bdgmm3div").show();
		$("#dfrdiv").show();
		$("#addiv").show();
		$("#mcdiv").show();
		$("#sleve1020div").show();
		$("#fgsleve8div").show();
		$("#magnetconditiondiv").show();
		$("#sprayqualitydiv").show();
		$("#temppowderdiv").show();
		$("#basepowdersleve10div").hide();
		$("#bdgmmldiv").hide();
		$("#dyeav50div").hide();
		$("#zeolitediv").hide();
		$("#uctdiv").hide();
		$("#save").show();
		$("#appearancediv").hide();
		$("#odourdiv").hide();
		$("#phdiv").hide();
		$("#rmsleve20div").hide();
		$("#fpsleve10div").hide();
		$('#productModal').modal('hide');
	    var currentDate = new Date();
	    var formattedDate = currentDate.getDate() + "-" + (currentDate.getMonth() + 1) + "-" + currentDate.getFullYear();
	    $('#pdate').val(formattedDate);
		$("#myGrid").hide();
		$("#reqTable").hide();
		$(".btn-hs").show();
		$("#btndiv").hide();
		$("#listdiv").hide();
		$("#totalReq").hide();
		$("#searchRowDiv").hide();
		$("#ttbtn").hide();
		$("#demo").show();
		$("#deleteChild").attr('disabled', true);

		$("#newchild").attr('disabled', false);
		showGridRow($('#producttype').val());
	}	else if(selectedOption.val()=="TBBM/00003"){
		$("#weightdiscdiv").hide();
		$("#weightSampleDiv").hide();
		$("#weightdiscsamplediv").hide();
		$("#weightlossdiv").hide();
		$("#weightlossdiv").hide();
		$("#saltmoisturediv").hide();
		$("#weightsample1div").hide();
		$("#h2s041div").hide();
		$("#factor1div").hide();
		$("#soda1div").hide();
		$("#weightsample2div").hide();
		$("#h2s042div").hide();
		$("#factor2div").hide();
		$("#soda2div").hide();
		$("#labsadosediv").show();
		$("#perfumeimpactdiv").show();
		$("#colourdiv").show();
		$("#bdgmm3div").hide();
		$("#dfrdiv").hide();
		$("#addiv").show();
		$("#mcdiv").show();
		$("#sleve1020div").hide();
		$("#fgsleve8div").hide();
		$("#magnetconditiondiv").hide();
		$("#sprayqualitydiv").show();
		$("#temppowderdiv").hide();
		$("#basepowdersleve10div").hide();
		$("#bdgmmldiv").show();
		$("#dyeav50div").hide();
		$("#zeolitediv").hide();
		$("#uctdiv").hide();
		$("#appearancediv").show();
		$("#odourdiv").show();
		$("#phdiv").show();
		$("#rmsleve20div").show();
		$("#fpsleve10div").show();
		$('#productModal').modal('hide');
	    var currentDate = new Date();
	    var formattedDate = currentDate.getDate() + "-" + (currentDate.getMonth() + 1) + "-" + currentDate.getFullYear();
	    $('#pdate').val(formattedDate);
		$("#myGrid").hide();
		$("#reqTable").hide();
		$(".btn-hs").show();
		$("#btndiv").hide();
		$("#listdiv").hide();
		$("#totalReq").hide();
		$("#searchRowDiv").hide();
		$("#ttbtn").hide();
		$("#demo").show();
		$("#deleteChild").attr('disabled', true);

		$("#newchild").attr('disabled', false);
		showGridRow($('#producttype').val());
	}	else if(selectedOption.val()=="TBBM/00011"){
		$("#weightdiscdiv").hide();
		$("#weightSampleDiv").hide();
		$("#weightdiscsamplediv").hide();
		$("#weightlossdiv").hide();
		$("#weightlossdiv").hide();
		$("#saltmoisturediv").hide();
		$("#weightsample1div").hide();
		$("#h2s041div").hide();
		$("#factor1div").hide();
		$("#soda1div").hide();
		$("#weightsample2div").hide();
		$("#h2s042div").hide();
		$("#factor2div").hide();
		$("#soda2div").hide();
		$("#labsadosediv").show();
		$("#perfumeimpactdiv").show();
		$("#colourdiv").show();
		$("#bdgmm3div").hide();
		$("#dfrdiv").hide();
		$("#addiv").show();
		$("#mcdiv").show();
		$("#sleve1020div").hide();
		$("#fgsleve8div").hide();
		$("#magnetconditiondiv").hide();
		$("#sprayqualitydiv").show();
		$("#temppowderdiv").hide();
		$("#basepowdersleve10div").show();
		$("#bdgmmldiv").show();
		$("#dyeav50div").show();
		$("#zeolitediv").show();
		$("#uctdiv").show();
		$("#appearancediv").hide();
		$("#odourdiv").hide();
		$("#phdiv").show();
		$("#rmsleve20div").hide();
		$("#fpsleve10div").hide();
		$('#productModal').modal('hide');
	    var currentDate = new Date();
	    var formattedDate = currentDate.getDate() + "-" + (currentDate.getMonth() + 1) + "-" + currentDate.getFullYear();
	    $('#pdate').val(formattedDate);
		$("#myGrid").hide();
		$("#reqTable").hide();
		$(".btn-hs").show();
		$("#btndiv").hide();
		$("#listdiv").hide();
		$("#totalReq").hide();
		$("#searchRowDiv").hide();
		$("#ttbtn").hide();
		$("#demo").show();
		$("#deleteChild").attr('disabled', true);

		$("#newchild").attr('disabled', false);
		showGridRow($('#producttype').val());
	}else{
		$('#productModal').modal('hide');
		$("#messageParagraph").text("No Report for this Product has been set");
		$("#msgOkModal").removeClass("btn3");
		$("#msgOkModal").addClass("btn1");
		$("#msgModal").modal('show');
	}
}
//function for cancel
function cancel() {
	$('#productModal').modal('hide');
	$('#producttype').val("");
	 $(".formValidation").remove();
		$("#totalReq").show();
		$("#searchRowDiv").show();
		$(".btn-hs").show();
		$("#myGrid").show();
		$("#demo").hide();
		$("#reqDltBtn").attr('disabled', true);
		$("#assignBtn").attr('disabled', true);
		$("#newBtn").attr('disabled', false);
		$(".loader").show();
		agGrid.simpleHttpRequest({
			url : 'spot-check--details-view'
		}).then(function(data) {
			$(".loader").hide();
			var jsonData = JSON.parse(data.body[0]);
			var allData=jsonData.view;
			console.log(allData)
			var len = allData.length;
			$('#totalReq').find('span').html(len);
			gridOptions.api.setRowData(allData);
		});

		$("#pcrobox").html("");
		$('#spotId').val("");
		$('#weightdiscsample').val("");
		$('#weightdisc').val("");
		$('#weightSample').val("");
		$('#weightloss').val("");
		$('#saltmoisture').val("");
		$('#weightsample1').val("");
		$('#h2s041').val("");
		$('#factor1').val("");
		$('#soda1').val("");
		$('#weightsample2').val("");
		$('#h2s042').val("");
		$('#factor2').val("");
		$('#soda2').val("");
		$('#labsadose').val("");
		$('#perfumeimpact').val("");
		$('#colour').val("");
		$('#bdgmm3').val("");
		$('#dfr').val("");
		$('#ad').val("");
		$('#mc').val("");
		$('#sleve1020').val("");
		$('#fgsleve8').val("");
		$('#magnetcondition').val("");
		$('#sprayquality').val("");
		$('#temppowder').val("");
		$('#basepowdersleve10').val("");
		$('#bdgmml').val("");
		$('#dyeav50').val("");
		$('#zeolite').val("");
		$('#uct').val("");
		$('#appearance').val("");
		$('#odour').val("");
		$('#ph').val("");
		$('#rmsleve20').val("");
		$('#fpsleve10').val("");
		$('#product').val("");
		$('#pro').val("");
		$('#batchsize').val("");
		$('#tad').val("");
		$('#tmc').val("");
		$('#pdate').val("");
		$('#exitTime').val("");
		$('#shift').val("");
		$('#operator').val("");
	}

//master save data
function masterSaveData() {
	$(".formValidation").remove();
	activityOptions.api.stopEditing();
	var valid= true;
	var datas = [];
	var i=-1;
	var rowCount = activityOptions.api.getDisplayedRowCount();
	if(rowCount > 0){
	activityOptions.api.forEachNode(function(rowNode, index) {
		var item = rowNode.data;
		
		item.akg = $('#akg'+index).val();
		item.spotId= $('#spotId').val();
		item.spotId= $('#spotId').val();
		item.weightdiscsample= $('#weightdiscsample').val();
		item.weightdisc= $('#weightdisc').val();
		item.weightSample= $('#weightSample').val();
		item.weightloss= $('#weightloss').val();
		item.saltmoisture= $('#saltmoisture').val();
		item.weightsample1= $('#weightsample1').val();
		item.h2s041= $('#h2s041').val();
		item.factor1= $('#factor1').val();
		item.soda1= $('#soda1').val();
		item.weightsample2= $('#weightsample2').val();
		item.h2s042= $('#h2s042').val();
		item.factor2= $('#factor2').val();
		item.soda2= $('#soda2').val();
		item.labsadose= $('#labsadose').val();
		item.perfumeimpact= $('#perfumeimpact').val();
		item.colour= $('#colour').val();
		item.bdgmm3= $('#bdgmm3').val();
		item.dfr= $('#dfr').val();
		item.ad= $('#ad').val();
		item.mc= $('#mc').val();
		item.sleve1020= $('#sleve1020').val();
		item.fgsleve8= $('#fgsleve8').val();
		item.magnetcondition= $('#magnetcondition').val();
		item.sprayquality= $('#sprayquality').val();
		item.temppowder= $('#temppowder').val();
		item.basepowdersleve10= $('#basepowdersleve10').val();
		item.bdgmml= $('#bdgmml').val();
		item.dyeav50= $('#dyeav50').val();
		item.zeolite= $('#zeolite').val();
		item.uct= $('#uct').val();
		item.appearance= $('#appearance').val();
		item.odour= $('#odour').val();
		item.ph= $('#ph').val();
		item.rmsleve20= $('#rmsleve20').val();
		item.fpsleve10= $('#fpsleve10').val();
		item.product= $('#pro').val();
		item.batchsize= $('#batchsize').val();
		item.tad= $('#tad').val();
		item.tmc= $('#tmc').val();
		item.pdate= $('#pdate').val();
		item.toDateCalendarTime1= $('#toDateCalendarTime1').val();
		item.shift= $('#shift').val();
		item.operator= $('#operator').val();
		item.remark = $('#remark'+index).val();
		
		
        if(valid){
        	datas.push(item);
         }
	});
	if (valid) {
		savePlanDetails(datas);
		
		}
	} else {
		$("#messageParagraph").text(
		"Please Add Atleast One Plan Details");
		$("#msgOkModal").removeClass("btn3");
		$("#msgOkModal").addClass("btn1");
		$("#msgModal").modal('show');
	}
	console.log("data",datas);
}

function savePlanDetails(datas) {
	$('.loader').show();
	$.ajax({
		type : "POST",
		url : "spot-check-details-add",
		dataType : "json",
		contentType : "application/json",
		data : JSON.stringify(datas),
		success : function(response) {
			$('.loader').hide();
			var itemName = $("#itemname option:selected").text();
			if (response.code == "success") {
				cancel()
				$("#messageParagraph").text(response.message);
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				$(".loader").show();
				agGrid.simpleHttpRequest({
					url : 'spot-check--details-view'
				}).then(function(data) {
					$(".loader").hide();
					var jsonData = JSON.parse(data.body[0]);
					var allData=jsonData.view;
					console.log(allData)
					var len = allData.length;
					$('#totalReq').find('span').html(len);
					gridOptions.api.setRowData(allData);
				});
				
			} else {
				$('.loader').hide();
				$("#messageParagraph").text("Test Parameter For "+itemName+" Already Exist.");
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				
				$("#itemid").val('');
				$("#itemname").val('');
				$("#description").val('');
				activityOptions.api.setRowData();
			}
		},
		error : function(data) {
			$('.loader').hide();
		}
	})

}
// save data in aggrid table sidenav save

function showGridRow(pid) {
  var datas = [];
  var item = {};
  
  agGrid.simpleHttpRequest({
				url : 'spot-check-show-aggrid?id='+ pid
			}).then(function(data) {
		var jsonData = JSON.parse(data.body);
		var allData=jsonData.spotgrid;
		console.log("tttttt",jsonData);
		activityOptions.api.setRowData(allData);
	});
  	

}


	// for editing child table of shift 
	function editRow(parameterId,parameterName,minRange,maxRange) {
		var rowNode = activityOptions.api.getRowNode(parameterId);
		openNav();
		$("#rowEdit").val(parameterId);
		$("#parameterId").val(rowNode.data.parameterId);
		$("#parameterName").val(rowNode.data.parameterId);
		$("#minRange").val(rowNode.data.minRange);
		$("#maxRange").val(rowNode.data.maxRange);
	}
	//editing the qc master parent table
	function editSpot(spotid) {
		  
		agGrid.simpleHttpRequest(
				{
					url : 'spot-check-edit?id='+ spotid
				}).then(function(data) {
					console.log("allDATA",data);
					var jsonData = JSON.parse(data.body);
					var allData=jsonData.edit;
					$("#myGrid").hide();
					$("#demo").show();
					activityOptions.api.setRowData(allData);
					var rowCount = activityOptions.api.getDisplayedRowCount();
					
					$("#pcrobox").html(allData[0].pcroId);
					$('#spotId').val(allData[0].spotId);
					$('#weightdiscsample').val(allData[0].weightdiscsample);
					$('#weightdisc').val(allData[0].weightdisc);
					$('#weightSample').val(allData[0].weightSample);
					$('#weightloss').val(allData[0].weightloss);
					$('#saltmoisture').val(allData[0].saltmoisture);
					$('#weightsample1').val(allData[0].weightsample1);
					$('#h2s041').val(allData[0].h2s041);
					$('#factor1').val(allData[0].factor1);
					$('#soda1').val(allData[0].soda1);
					$('#weightsample2').val(allData[0].weightsample2);
					$('#h2s042').val(allData[0].h2s042);
					$('#factor2').val(allData[0].factor2);
					$('#soda2').val(allData[0].soda2);
					$('#labsadose').val(allData[0].labsadose);
					$('#perfumeimpact').val(allData[0].perfumeimpact);
					$('#colour').val(allData[0].colour);
					$('#bdgmm3').val(allData[0].bdgmm3);
					$('#dfr').val(allData[0].dfr);
					$('#ad').val(allData[0].ad);
					$('#mc').val(allData[0].mc);
					$('#sleve1020').val(allData[0].sleve1020);
					$('#fgsleve8').val(allData[0].fgsleve8);
					$('#magnetcondition').val(allData[0].magnetcondition);
					$('#sprayquality').val(allData[0].sprayquality);
					$('#temppowder').val(allData[0].temppowder);
					$('#basepowdersleve10').val(allData[0].basepowdersleve10);
					$('#bdgmml').val(allData[0].bdgmml);
					$('#dyeav50').val(allData[0].dyeav50);
					$('#zeolite').val(allData[0].zeolite);
					$('#uct').val(allData[0].uct);
					$('#appearance').val(allData[0].appearance);
					$('#odour').val(allData[0].odour);
					$('#ph').val(allData[0].ph);
					$('#rmsleve20').val(allData[0].rmsleve20);
					$('#fpsleve10').val(allData[0].fpsleve10);
					$('#product').val(allData[0].product);
					$('#pro').val(allData[0].ptype);
					$('#batchsize').val(allData[0].batchsize);
					$('#tad').val(allData[0].tad);
					$('#tmc').val(allData[0].tmc);
					$('#pdate').val(allData[0].pdate);
					$('#exitTime').val(allData[0].toDateCalendarTime1);
					$('#shift').val(allData[0].shift);
					$('#operator').val(allData[0].operator);
					if(allData[0].ptype=="TBBM/00007" || allData[0].ptype=="TBBM/00008"){
						$("#weightdiscdiv").show();
						$("#weightSampleDiv").show();
						$("#weightdiscsamplediv").show();
						$("#weightlossdiv").show();
						$("#saltmoisturediv").show();
						$("#weightsample1div").show();
						$("#h2s041div").show();
						$("#factor1div").show();
						$("#soda1div").show();
						$("#weightsample2div").show();
						$("#h2s042div").show();
						$("#factor2div").show();
						$("#soda2div").show();
						$("#labsadosediv").show();
						$("#perfumeimpactdiv").show();
						$("#colourdiv").show();
						$("#bdgmm3div").show();
						$("#dfrdiv").show();
						$("#addiv").show();
						$("#mcdiv").show();
						$("#sleve1020div").show();
						$("#fgsleve8div").show();
						$("#magnetconditiondiv").show();
						$("#sprayqualitydiv").show();
						$("#temppowderdiv").show();
						$("#basepowdersleve10div").hide();
						$("#bdgmmldiv").hide();
						$("#dyeav50div").hide();
						$("#zeolitediv").hide();
						$("#uctdiv").hide();
						$("#appearancediv").hide();
						$("#odourdiv").hide();
						$("#phdiv").hide();
						$("#rmsleve20div").hide();
						$("#fpsleve10div").hide();
						$('#productModal').modal('hide');
					    var currentDate = new Date();
					    var formattedDate = currentDate.getDate() + "-" + (currentDate.getMonth() + 1) + "-" + currentDate.getFullYear();
					    $('#pdate').val(formattedDate);
						$("#myGrid").hide();
						$("#reqTable").hide();
						$(".btn-hs").show();
						$("#btndiv").hide();
						$("#listdiv").hide();
						$("#totalReq").hide();
						$("#searchRowDiv").hide();
						$("#ttbtn").hide();
						$("#demo").show();
						$("#deleteChild").attr('disabled', true);

						$("#newchild").attr('disabled', false);
						
					}	else if(allData[0].ptype=="TBBM/00003"){
						$("#weightdiscdiv").hide();
						$("#weightSampleDiv").hide();
						$("#weightdiscsamplediv").hide();
						$("#weightlossdiv").hide();
						$("#weightlossdiv").hide();
						$("#saltmoisturediv").hide();
						$("#weightsample1div").hide();
						$("#h2s041div").hide();
						$("#factor1div").hide();
						$("#soda1div").hide();
						$("#weightsample2div").hide();
						$("#h2s042div").hide();
						$("#factor2div").hide();
						$("#soda2div").hide();
						$("#labsadosediv").show();
						$("#perfumeimpactdiv").show();
						$("#colourdiv").show();
						$("#bdgmm3div").hide();
						$("#dfrdiv").hide();
						$("#addiv").show();
						$("#mcdiv").show();
						$("#sleve1020div").hide();
						$("#fgsleve8div").hide();
						$("#magnetconditiondiv").hide();
						$("#sprayqualitydiv").show();
						$("#temppowderdiv").hide();
						$("#basepowdersleve10div").hide();
						$("#bdgmmldiv").show();
						$("#dyeav50div").hide();
						$("#zeolitediv").hide();
						$("#uctdiv").hide();
						$("#appearancediv").show();
						$("#odourdiv").show();
						$("#phdiv").show();
						$("#rmsleve20div").hide();
						$("#fpsleve10div").hide();
						$('#productModal').modal('hide');
					    var currentDate = new Date();
					    var formattedDate = currentDate.getDate() + "-" + (currentDate.getMonth() + 1) + "-" + currentDate.getFullYear();
					    $('#pdate').val(formattedDate);
						$("#myGrid").hide();
						$("#reqTable").hide();
						$(".btn-hs").show();
						$("#btndiv").hide();
						$("#listdiv").hide();
						$("#totalReq").hide();
						$("#searchRowDiv").hide();
						$("#ttbtn").hide();
						$("#demo").show();
						$("#deleteChild").attr('disabled', true);

						$("#newchild").attr('disabled', false);
						
					}	else if(allData[0].ptype=="TBBM/00011"){
						$("#weightdiscdiv").hide();
						$("#weightSampleDiv").hide();
						$("#weightdiscsamplediv").hide();
						$("#weightlossdiv").hide();
						$("#weightlossdiv").hide();
						$("#saltmoisturediv").hide();
						$("#weightsample1div").hide();
						$("#h2s041div").hide();
						$("#factor1div").hide();
						$("#soda1div").hide();
						$("#weightsample2div").hide();
						$("#h2s042div").hide();
						$("#factor2div").hide();
						$("#soda2div").hide();
						$("#labsadosediv").show();
						$("#perfumeimpactdiv").show();
						$("#colourdiv").show();
						$("#bdgmm3div").hide();
						$("#dfrdiv").hide();
						$("#addiv").show();
						$("#mcdiv").show();
						$("#sleve1020div").hide();
						$("#fgsleve8div").hide();
						$("#magnetconditiondiv").hide();
						$("#sprayqualitydiv").show();
						$("#temppowderdiv").hide();
						$("#basepowdersleve10div").show();
						$("#bdgmmldiv").show();
						$("#dyeav50div").show();
						$("#zeolitediv").show();
						$("#uctdiv").hide();
						$("#appearancediv").hide();
						$("#odourdiv").hide();
						$("#phdiv").show();
						$("#rmsleve20div").hide();
						$("#fpsleve10div").hide();
						$('#productModal').modal('hide');
					    var currentDate = new Date();
					    var formattedDate = currentDate.getDate() + "-" + (currentDate.getMonth() + 1) + "-" + currentDate.getFullYear();
					    $('#pdate').val(formattedDate);
						$("#myGrid").hide();
						$("#reqTable").hide();
						$(".btn-hs").show();
						$("#btndiv").hide();
						$("#listdiv").hide();
						$("#totalReq").hide();
						$("#searchRowDiv").hide();
						$("#ttbtn").hide();
						$("#demo").show();
						$("#deleteChild").attr('disabled', true);

						$("#newchild").attr('disabled', false);
						
					}
					if(allData[0].approvests==1){
						$('#save').hide();
					}else{
						$('#save').show();
					}
					$("#tdiv").hide();
					$("#searchRowDiv").hide();
					$("#totalReq").hide();
					$("#ttbtn").hide(); 
				});
		
	}
	
	
// function for delete qc  
function deleteOnclick() {
	console.log(id);
		if (id) {
				$.ajax({
		type : "POST",
		url : "spot-check-detls-delete?id="+ id[0],
		success : function(response) {
		 if (response.message == "Success") {
			 cancel();
				$("#messageParagraph").text("Plan deleted sucessfully");
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
				$('#delete').modal('hide');
				$(".loader").show();
				agGrid.simpleHttpRequest({
					url : 'spot-check--details-view'
				}).then(function(data) {
					$(".loader").hide();
					var jsonData = JSON.parse(data.body[0]);
					var allData=jsonData.view;
					console.log(allData)
					var len = allData.length;
					$('#totalReq').find('span').html(len);
					gridOptions.api.setRowData(allData);
				});
				
			} else {
				$("#messageParagraph").text("Something went to wrong!");
				$("#msgOkModal").removeClass("btn3");
				$("#msgOkModal").addClass("btn1");
				$("#msgModal").modal('show');
			}
		},
		error : function(data) {
			console.log(data)
		}
	})
		} else {
			$("#alert").modal('show');
			document.getElementById("textId").innerHTML = "Please Select Atleast one Record !";
		}

}

	// delete selected record from child ag grid
	function deleteDetailsOnclick() {
		$('.modal').hide();
		var selectedRows = activityOptions.api.getSelectedRows();
		activityOptions.api.applyTransaction({
			remove : selectedRows
		});
		cancelModalProductBtn();
	}
	//for closeing modal box for dlt  product
	function cancelModalProductBtn() {
		$("#deleteModalBtn").removeAttr("disabled");
		$('#deleteDetails').modal('hide');
	}

	function deleteFun() {
		$('#delete').modal('show');
	}

	function deleteDetails() {
		$('#deleteDetails').modal('show');
	}

	function cancelModalBtn() {
		$("#deleteModalBtn").removeAttr("disabled");
	}
//function for download
function downloadDetails() { 
	var dataset = [];
	gridOptions.api.forEachNodeAfterFilterAndSort(function(rowNode, index) {
		dataset.push(rowNode.data);
	});
    gridOptions.api.exportDataAsCsv(dataset);
}


function getParameterId(){
	var parameterId= $("#parameterName").val();
	$("#parameterId").val(parameterId);
}

function getItemid(){
	var parameterId= $("#itemname").val();
	$("#itemid").val(parameterId);
}



      function calculatesoda() {
          var a,b,c,d,factor1,factor2;
          var res = 0;
        a = $("#weightsample1").val();
        b = $("#h2s041").val();
        c = $("#weightsample2").val();
        d = $("#h2s042").val();
        factor1 =$("#factor1").val();
        factor2 =$("#factor2").val();
        if (a.length > 0 && b.length > 0 && factor1.length > 0) {
        	document.getElementById('soda1').value = (parseFloat(b)*parseFloat(factor1)*106)/parseFloat(a).toFixed(2);
        	}else{
        		document.getElementById('soda1').value = 0;
        	}
        if (c.length > 0 && d.length > 0 && factor2.length > 0) {
        	document.getElementById('soda2').value = (parseFloat(d)*parseFloat(factor2)*106)/parseFloat(c).toFixed(2);
      	}else{
      		document.getElementById('soda2').value = 0;
      	}
      }
      function calculateMc() {
    	  var a, b, c, d;
    	  var res = 0;
    	  a = $("#weightdisc").val();
    	  b = $("#weightloss").val();
    	  c = $("#weightdiscsample").val();

    	  if (a.length > 0 && b.length > 0 && c.length > 0) {
    	      d = parseFloat(c) - parseFloat(a);
    	      if (d <= 0) {
    	          document.getElementById('mc').value = 0;
    	      } else {
    	          var mcValue = (parseFloat(b) / (parseFloat(c) - parseFloat(a))) * 100;
    	          document.getElementById('mc').value = mcValue.toFixed(2);
    	      }
    	  } else {
    	      document.getElementById('mc').value = 0;
    	  }

       
      }
      
      
      function calculateWeightDiskSample(){
    	  calculateWeightSample();
    	  calculateMc();
    	  calculateSalt();
      }
      
      
      function calculateWeightSample() {
    	    var a, b, res;

    	    a = $("#weightdisc").val();
    	    b = $("#weightdiscsample").val();

    	    if (a.length > 0 && b.length > 0) {
    	        res = parseFloat(b) - parseFloat(a);
    	    } else {
    	        res = 0;
    	    }

    	    if (parseFloat(res) < 0) {
    	        res = 0;
    	    }

    	    res = res.toFixed(2);

    	    document.getElementById('weightSample').value = res;
    	    calculateMc();
    	    calculateSalt();
    	}

     
      
      function calculateSalt() {
    	    var a, b, c;

    	    a = $("#weightloss").val();
    	    b = $("#weightSample").val();

    	    if (a.length > 0 && b.length > 0 && parseFloat(a) > 0 && parseFloat(b) > 0) {
    	        c = (parseFloat(a) / parseFloat(b)) * 100;

    	        if (c <= 0) {
    	            document.getElementById('saltmoisture').value = 0;
    	        } else {
    	            c = c.toFixed(2);
    	            document.getElementById('saltmoisture').value = c;
    	        }
    	    } else {
    	        document.getElementById('saltmoisture').value = 0;
    	    }

    	    calculateMc();
    	}

      
	function approveFun(){
		$('#approveModal').modal('show');
	}
	function approveResult(data){
		if (id && data=='1') {
			$.ajax({
	type : "POST",
	url : "spot-check-detls-approve?id="+ id,
	success : function(response) {
	 if (response.message == "Success") {
		 cancel();
			$("#messageParagraph").text("Approved sucessfully");
			$("#msgOkModal").removeClass("btn3");
			$("#msgOkModal").addClass("btn1");
			$("#msgModal").modal('show');
			$('#delete').modal('hide');
			$('#approveModal').modal('hide');
			$(".loader").show();
			agGrid.simpleHttpRequest({
				url : 'spot-check--details-view'
			}).then(function(data) {
				$(".loader").hide();
				var jsonData = JSON.parse(data.body[0]);
				var allData=jsonData.view;
				console.log(allData)
				var len = allData.length;
				$('#totalReq').find('span').html(len);
				gridOptions.api.setRowData(allData);
			});
			
		} else {
			$("#messageParagraph").text("Something went to wrong!");
			$("#msgOkModal").removeClass("btn3");
			$("#msgOkModal").addClass("btn1");
			$("#msgModal").modal('show');
		}
	},
	error : function(data) {
		console.log(data)
	}
})
	} else {
		$('#approveModal').modal('hide');
	}
	}

	function spotPdfDownload(id) {
		window.open("/production/spot-check-pdf-downloads?spotId="+window.btoa(id), '_blank');  
	}
	
	function productDetails(){
		var productid=$("#product").val();
		agGrid.simpleHttpRequest(
				{
					url : 'pcro-product_detls_drop?id='+ productid
				}).then(function(data) {
					console.log("allDATA",data);
					var jsonData = JSON.parse(data.body);
					var allData=jsonData.edit;
					console.log(jsonData[0].variant);
					$("#variant").val(jsonData[0].variant);
					$("#packsize").val(jsonData[0].packsize);
					 
				});
	};

	
	function handleTextFieldKeyDown(event) {

		let currentCell = '';
		const idChar = {};
		if (event.code === 'Tab') {
			const currentInput = event.target;
			let currentId = currentInput.id;
            var regexResult = currentId.match(/^([a-zA-Z]+)(\d+)$/);
            if (regexResult) {
                var color = regexResult[1];
                var numberPart = regexResult[2];
                            }
			if (numberPart < 27) {
				const nextInput = parseInt(numberPart) + 1;
				let nextInputId = color+nextInput;
				let nextInputCell = document.getElementById(`${nextInputId}`);
				if (nextInputCell) {
					nextInputCell.focus();
					event.preventDefault(); // Prevent the default Tab behavior
				}
			}
		}
	}
	
	
	function addNewDetails(){
		
		var add = $('#add').val();
		var skg = $('#skg').val();
	    var product=$('#pro').val();
		console.log(product);
		
		var validation = true;

	     if (add == null || add == "") {
			validation = validationUpdated("add Name Required",
					"add");
			return validation;
		}
	    if (skg == null || skg == "") {
				validation = validationUpdated("skg Type Required",
						"skg");
				return validation;
		}
	   
	   if (validation) {
		$.ajax({
			type : "GET",
			url : 'spot-check-detailsname-add?add=' + add +"&skg=" + skg + "&product=" +product,
			async : false,
			success : function(response) {

				if (response.code == "success") {
					
					$("#messageParagraph").text("Name Added Successfully");
					$("#msgOkModal").removeClass("btn3");
					$("#msgOkModal").addClass("btn1");
					$("#msgModal").modal('show');
					$("#additionModal").modal('hide');
					
					showGridRow(product);
				}else{
					$("#messageParagraph").text("Something Went Wrong");
					$("#msgOkModal").removeClass("btn3");
					$("#msgOkModal").addClass("btn1");
					$("#msgModal").modal('show');
					$("#additionModal").modal('hide');
					
				}

			},
		});
		}
	}



    </script>

</head>
<body>

	<div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">

						<div class="d-flex justify-content-between" id="tdiv">
							<div class="btn-hs">
								<div class="font-design" id="totalReq">
									Spot Check List(<span></span>)
								</div>
							</div>
							<div id="searchRowDiv">
								<div class="input-style">
									<input type="text" placeholder="Search.." name="search"
										class="searchboxinput" onkeyup="cancelBar()"
										oninput="onQuickFilterChanged()" id="quickFilter"
										autocomplete="off">
									<div class="searchicon">
										<a href="javascript:void(0)"><span
											style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
											id="closeKey"
											onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
											class="close_i"><i class="ti-close srchicon"></i></span></a><a
											href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
									</div>
								</div>
							</div>
							<div class="buttonsec btn-hs" id="ttbtn">
								<button class="download-btn" id="download"
									onclick="downloadDetails()">Download</button>
								<button class="delete-btn" id="reqDltBtn" onclick="deleteFun()">DELETE</button>
								<button class="new-btn" id="assignBtn" onclick="approveFun()">APPROVE</button>
								<button class="new-btn" id="newBtn" onclick="newPlan1()">NEW</button>
							</div>
						</div>

						<input type="hidden" id="sessionId" th:value="${userId}" /> <input
							type="hidden" id="sessionName" th:value="${userName}" /> <input
							type="hidden" id="hrRole" th:value="${hrRole}" /> <input
							type="hidden" id="sessionRole" th:value="${userRole}" /> <input
							type="hidden" id="adRole" th:value="${adRole}" />
						<div id="myGrid" style="width: 100%; height: 500px;"
							class="ag-theme-alpine"></div>

						<div class="collapse" id="demo">
							<div class="innercontent">
								<div class="innerstickybg">
									<div class="row">

										<div class="col-md-6">
											Spot Check: <span id="pcrobox"></span>
										</div>

										<div class="col-md-6" align="right">
											<button class="cancel-btn" id="cancelBtn" onclick="cancel()">Cancel</button>
											<button class="approve-btn" id="save"
												onclick="masterSaveData()">Save</button>
										</div>
									</div>

								</div>
								<div class="row">
									<input type="hidden" id="spotId"> <input type="hidden"
										id="pro">

									<div class="col-md-3">
										<div class="form-group">
											<label> Product </label> <input type="text"
												class="form-control" id="product" readonly> <span
												class="focus"></span>

										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label> Batch Size </label> <input type="text"
												class="form-control" id="batchsize">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label> Target A.D% </label> <input type="text"
												class="form-control" id="tad">
										</div>
									</div>

									<div class="col-md-3">
										<div class="form-group">
											<label> Target M.C% </label> <input type="text"
												class="form-control" id="tmc">
										</div>
									</div>

									<div class="col-lg-3">
										<div class="form-group calendar_box">
											<label>Date</label> <input type="text" id="pdate"
												class="form-control" onblur="removeValid(event)"
												th:attr="onkeyup=|formatDate('date','${session.DATEFORMAT_JS}')|"
												readonly> <i class="ti-calendar picker_calendar"
												id="DateCalendar3"></i>
										</div>
									</div>

									<div class="col-md-3" id="exitT">
										<div class="form-group calendar_box">
											<label>Time</label> <input type="text" id="exitTime"
												class="form-control" onblur="removeValid(event)"
												th:attr="onkeyup=|formatDate('exitTime','${session.DATEFORMAT_JS}')|"
												readonly> <i class="ti-time picker_calendar"
												id="toDateCalendarTime1"></i>
										</div>
									</div>

									<div class="col-md-3">
										<div class="form-group">
											<label> Shift </label>
											<div class="select">
												<select id="shift">
													<option value="">Select</option>
													<option th:each="c:${shiftLists}" th:value='${c.key}'
														th:text="${c.name}"></option>
												</select> <span class="focus"></span>
											</div>
										</div>
									</div>


									<div class="col-md-3">
										<div class="form-group">
											<label> Line Mixure Operartor </label> <input type="text"
												class="form-control" id="operator">
										</div>
									</div>



									<div id="main" class="mt-4">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingOne">
												<button class="accordion-button" type="button"
													data-bs-toggle="collapse" data-bs-target="#collapseOne"
													aria-expanded="false" aria-controls="collapseOne">
													Details</button>
											</h2>

											<div id="collapseOne"
												class="accordion-collapse collapse show"
												aria-labelledby="headingOne"
												data-bs-parent="#accordionExample">
												<div class="accordion-body">
												<div class="row">
                                                    <div class="row">

														<div class="col-md-4 btn-hs1">
															<div class="font-design"></div>
														</div>
														<div class="col-md-8 butttonsec">
														
															<button class="btn1" id="addCategory"
																onclick="newPlannn()">Add New Addition</button>
														
														</div>
													</div>
														<div id="activity" style="width: 100%; height: 350px;"
															class="ag-theme-alpine"></div>
												</div>
											</div>
										</div>
									</div>
									
									
									
									
									
									<div class="row innersticky_contentgap">
										<div class="col-md-2" id="weightdiscdiv">
											<div class="form-group">
												<label> Weight of the Disc </label> <input type="text"
													class="form-control" id="weightdisc"
													oninput="calculateWeightDiskSample()">
											</div>
										</div>
										<div class="col-md-3" id="weightdiscsamplediv">
											<div class="form-group">
												<label> Weight of the Disc + Sample </label> <input
													type="text" class="form-control" id="weightdiscsample"
													oninput="calculateWeightSample()" >
											</div>
										</div>
										<div class="col-md-2" id="weightSampleDiv">
											<div class="form-group">
												<label> Weight of the Sample </label> <input type="text"
													class="form-control" id="weightSample"
													 readonly>
											</div>
										</div>
										<div class="col-md-3" id="weightlossdiv">
											<div class="form-group">
												<label> Weight Loss after Drying </label> <input type="text"
													class="form-control" id="weightloss"
													oninput="calculateSalt()">
											</div>
										</div>
										<div class="col-md-2" id="saltmoisturediv">
											<div class="form-group">
												<label> Salt Moisture </label> <input type="text"
													class="form-control" id="saltmoisture" readonly>
											</div>
										</div>
										<div class="row innersticky_contentgap">
											<div class="col-md-3" id="weightsample1div">
												<div class="form-group">
													<label> 1-Weight of the Sample </label> <input type="text"
														class="form-control" id="weightsample1"
														oninput="calculatesoda()">
												</div>
											</div>
											<div class="col-md-3" id="h2s041div">
												<div class="form-group">
													<label> 1-Vol. of H2SO4 Consumed </label> <input
														type="text" class="form-control" id="h2s041"
														oninput="calculatesoda()">
												</div>
											</div>
											<div class="col-md-3" id="factor1div">
												<div class="form-group">
													<label> 1-Factor </label> <input type="text"
														class="form-control" id="factor1"
														oninput="calculatesoda()">
												</div>
											</div>
											<div class="col-md-3" id="soda1div">
												<div class="form-group">
													<label> 1-Soda% </label> <input type="text"
														class="form-control" id="soda1" readonly>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3" id="weightsample2div">
												<div class="form-group">
													<label> 2-Weight of the Sample </label> <input type="text"
														class="form-control" id="weightsample2"
														oninput="calculatesoda()">
												</div>
											</div>
											<div class="col-md-3" id="h2s042div">
												<div class="form-group">
													<label> 2-Vol. of H2SO4 Consumed </label> <input
														type="text" class="form-control" id="h2s042"
														oninput="calculatesoda()">
												</div>
											</div>
											<div class="col-md-3" id="factor2div">
												<div class="form-group">
													<label> 2-Factor </label> <input type="text"
														class="form-control" id="factor2"
														oninput="calculatesoda()">
												</div>
											</div>
											<div class="col-md-3" id="soda2div">
												<div class="form-group">
													<label> 2-Soda% </label> <input type="text"
														class="form-control" id="soda2" readonly>
												</div>
											</div>
										</div>
										<div class="row mt-2">
											<div class="col-md-2" id="labsadosediv">
												<div class="form-group">
													<label>Time For LABSA Dosing</label> <input type="text"
														class="form-control" id="labsadose">
												</div>
											</div>

											<div class="col-md-2" id="perfumeimpactdiv">
												<div class="form-group">
													<label> Perfume Impact </label>
													<div class="select">
														<select id="perfumeimpact">
															<option value="">Select</option>
															<option value="Satisfactory">Satisfactory</option>
															<option value="Not Satisfactory">Not
																Satisfactory</option>
														</select> <span class="focus"></span>
													</div>
												</div>
											</div>

											<div class="col-md-2" id="colourdiv">
												<div class="form-group">
													<label> Colour </label>
													<div class="select">
														<select id="colour">
															<option value="">Select</option>
															<option value="Light">Light</option>
															<option value="Standard">Standard</option>
															<option value="Dark">Dark</option>
														</select> <span class="focus"></span>
													</div>
												</div>
											</div>

											<div class="col-md-2" id="bdgmm3div">
												<div class="form-group">
													<label> BD gm/m3 </label> <input type="text"
														class="form-control" id="bdgmm3">
												</div>
											</div>
											<div class="col-md-2" id="dfrdiv">
												<div class="form-group">
													<label> DFR cm3/sec </label> <input type="text"
														class="form-control" id="dfr">
												</div>
											</div>
											<div class="col-md-2" id="addiv">
												<div class="form-group">
													<label> A.D % </label> <input type="text"
														class="form-control" id="ad">
												</div>
											</div>


											<div class="col-md-2" id="mcdiv">
												<div class="form-group">
													<label> M.C % </label> <input type="text"
														class="form-control" id="mc">
												</div>
											</div>
											<div class="col-md-2" id="sleve1020div">
												<div class="form-group">
													<label> 10# & 20# Sleve </label> <input type="text"
														class="form-control" id="sleve1020">
												</div>
											</div>
											<div class="col-md-2" id="fgsleve8div">
												<div class="form-group">
													<label> 08# F.G Sleve </label> <input type="text"
														class="form-control" id="fgsleve8">
												</div>
											</div>
											<div class="col-md-2" id="magnetconditiondiv">
												<div class="form-group">
													<label> Magnet Condition </label>
													<div class="select">
														<select id="magnetcondition">
															<option value="">Select</option>
															<option value="Okay">Okay</option>
															<option value="Not Okay">Not Okay</option>
														</select> <span class="focus"></span>
													</div>
												</div>
											</div>
											<div class="col-md-2" id="sprayqualitydiv">
												<div class="form-group">
													<label> Spray Quality </label> <input type="text"
														class="form-control" id="sprayquality">
												</div>
											</div>
											<div class="col-md-2" id="temppowderdiv">
												<div class="form-group">
													<label> Temperature of the Powder </label> <input
														type="text" class="form-control" id="temppowder">
												</div>
											</div>
											<div class="col-md-2" id="basepowdersleve10div">
												<div class="form-group">
													<label> 10# Base Powder Sleve </label> <input type="text"
														class="form-control" id="basepowdersleve10">
												</div>
											</div>
											<div class="col-md-2" id="bdgmmldiv">
												<div class="form-group">
													<label> BD gm/ml </label> <input type="text"
														class="form-control" id="bdgmml">
												</div>
											</div>
											<div class="col-md-2" id="dyeav50div">
												<div class="form-group">
													<label> AV-50 Dye Mg/Kg </label> <input type="text"
														class="form-control" id="dyeav50">
												</div>
											</div>
											<div class="col-md-2" id="zeolitediv">
												<div class="form-group">
													<label> Zeolite% </label> <input type="text"
														class="form-control" id="zeolite">
												</div>
											</div>
											<div class="col-md-2" id="uctdiv">
												<div class="form-group">
													<label> UCT% </label> <input type="text"
														class="form-control" id="uct">
												</div>
											</div>
											<div class="col-md-2" id="appearancediv">
												<div class="form-group">
													<label> Appearance </label> <input type="text"
														class="form-control" id="appearance">
												</div>
											</div>
											<div class="col-md-2" id="odourdiv">
												<div class="form-group">
													<label> Odour </label> <input type="text"
														class="form-control" id="odour">
												</div>
											</div>
											<div class="col-md-2" id="phdiv">
												<div class="form-group">
													<label> pH </label> <input type="text" class="form-control"
														id="ph">
												</div>
											</div>
											<div class="col-md-2" id="rmsleve20div">
												<div class="form-group">
													<label> 20# RM Sleve </label> <input type="text"
														class="form-control" id="rmsleve20">
												</div>
											</div>
											<div class="col-md-2" id="fpsleve10div">
												<div class="form-group">
													<label> 10# FP Sleve </label> <input type="text"
														class="form-control" id="fpsleve10">
												</div>
											</div>
										</div>




									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
				
				<div class="modal fade" id="additionModal">
				<div class="modal-dialog modal-lg"
					style="margin-top: 130px; height: 900px; max-width: 600px">
					<div class="modal-content">

						<!-- 	Modal Header -->
						<div class="modal-header"></div>
						<!-- Modal body -->
						<div class="modal-body">

							<div class="col-md-12" id="additiondata">
								<div class="card-title">
									<h4>Additon Name</h4>
								</div>
								<div class="row">

									<div class="col-md-6">
										<div class="form-group">
											<label>Addition</label> <input type="text"
												class="form-control transparenttxtbox"
												id="add" onblur="removeValid(event);">
										</div>
									</div>
							
								<div class="col-md-6">
										<div class="form-group">
											<label>Standard in Kg</label> <input type="text"
												class="form-control transparenttxtbox"
												id="skg" onblur="removeValid(event);">
										</div>
									</div>

								</div>

								<div class="row mt-4">
									<div class="form-group">

										<button class="delete-btn" id="cancel" onclick="cancelBtn2()">CANCEL</button>
										<button class="btn1" id="save" onclick="addNewDetails()">SAVE</button>

									</div>
								</div>
							</div>



						</div>
					</div>
				</div>
			</div>


				<!-- delete modal start -->
				<div id="delete" class="modal fade show" aria-modal="true">
					<div class="modal-dialog modal-confirm">
						<div class="modal-content">
							<div class="modal-header flex-column"></div>
							<div class="modal-body">
								<p>Do you really want to delete these records? This process
									cannot be undone.</p>
							</div>
							<div class="modal-footer justify-content-center"
								style="margin-top: 0px;">

								<button type="button" class="cancel-btn" data-bs-dismiss="modal"
									onclick="cancelModalBtn();">Cancel</button>
								<button type="button" class="delete-btn"
									onclick="deleteOnclick()">Delete</button>
							</div>
						</div>
					</div>
				</div>

				<!-- delete product modal start -->
				<div id="deleteDetails" class="modal fade show" aria-modal="true">
					<div class="modal-dialog modal-confirm">
						<div class="modal-content">
							<div class="modal-header flex-column"></div>
							<div class="modal-body">
								<p>Do you really want to delete these records? This process
									cannot be undone.</p>
							</div>
							<div class="modal-footer justify-content-center"
								style="margin-top: -30px;">

								<button type="button" class="cancel-btn" data-bs-dismiss="modal"
									onclick="cancelModalBtn();">Cancel</button>
								<button type="button" class="delete-btn"
									onclick="deleteDetailsOnclick()">Delete</button>
							</div>
						</div>
					</div>
				</div>
				<div id="approveModal" class="modal fade show" aria-modal="true">
					<div class="modal-dialog modal-confirm">
						<div class="modal-content">
							<div class="modal-header flex-column"></div>
							<div class="modal-body">
								<p>Are you sure ?</p>
							</div>
							<div class="modal-footer justify-content-center"
								style="margin-top: -10px;">
								<button type="button" class="cancel-btn"
									onclick="approveResult('0');">Don't Approve</button>
								<button type="button" class="approve-btn"
									onclick="approveResult('1')">Approve</button>
							</div>
						</div>
					</div>
				</div>
				<div id="productModal" class="modal fade show" aria-modal="true">
					<div class="modal-dialog modal-confirm">
						<div class="modal-content">
							<div class="modal-header flex-column"></div>
							<div class="modal-body">
								<p style="font-size: 16px;color:black;font-weight: 500;">Select the Product</p>
							</div>
							<div class="col-md-12" style="margin-bottom: 55px;">
								<div class="form-group">
									<div class="select">
										<select id="producttype" onchange="productDetails()">
											<option value="">Select</option>
											<option th:each="c:${itemList}" th:value='${c.key}'
												th:text="${c.name}"></option>
										</select> <span class="focus"></span>
									</div>
								</div>
							</div>
							<div class="modal-footer justify-content-center"
								style="margin-top: -10px;">
								<button type="button" class="cancel-btn" onclick="cancel()">Cancel</button>
								<button type="button" class="approve-btn" onclick="newPlan()">Select</button>
							</div>
						</div>
					</div>
				</div>
				<!-- alert modal start -->
				<div id="alert" class="modal fade show" aria-modal="true">
					<div class="modal-dialog modal-confirm">
						<div class="modal-content">
							<div class="modal-header flex-column">
								<button type="button" class="close" data-bs-dismiss="modal"
									aria-hidden="true" onclick="cancelModalBtn()">
									<i class="ti-close modal-close"></i>
								</button>
							</div>
							<div class="modal-body">
								<p id="textId"></p>
							</div>
							<div class="modal-footer justify-content-center"
								style="margin-top: 0px;">

								<button type="button" class="btn1" data-bs-dismiss="modal">SELECT</button>
								<button type="button" class="btn3" onclick="deleteOnclick()">Delete</button>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		</div>
		</div>
		
</body>
</html>