<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/master}">

<head>
	<script>

		$(document).ready(function () {

			var gridDivm = document.querySelector('#myGridEmployee');
			new agGrid.Grid(gridDivm, gridOptionsEmployee);
			$('.loader').show();
			$("#transferEmp").attr('disabled', true);
			gridOptionsEmployee.api.setRowData([]);

			agGrid.simpleHttpRequest({
				url: "view-manage-employee-master-through-ajax"
			}).then(function (data) {
				var len = data.length;
				$('#totalEmp').find('span').html(len);
				console.log("data", data);
				gridOptionsEmployee.api.setRowData(data);
				$('.loader').hide();
			});

			var today = new Date();
			var dd = String(today.getDate()).padStart(2, '0');
			var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
			var yyyy = today.getFullYear();
			today = yyyy + '-' + mm + '-' + dd;

			// Set the min attribute for both date inputs
			$('#effectiveDate').attr('min', today);
			$('#transferDate').attr('min', today);
		});

		var columnDefsEmployee = [{
			headerCheckboxSelection: true,
			headerCheckboxSelectionFilteredOnly: true,
			checkboxSelection: true,
			width: 10,
			sortable: false,
			filter: false,
			resizable: true,
			pinned: 'left',
		}, {
			headerName: "Employee Id",
			field: "employeeId",
			width: 130,
			pinned: 'left',
			cellRenderer: function (params) {
				return params.data.employeeId;
			}
		}, {
			headerName: "Employee Name",
			field: "firstName",
			pinned: 'left',
		},
		{
			headerName: "Department",
			field: "department",
			width: 230,

		},
		{
			headerName: "Sub Department",
			field: "subDepartment",
			hide: true,
		},
		{
			headerName: "Designation",
			field: "designation"
		},
		{
			headerName: "Staff Type",
			field: "stafftype"
		},
		{
			headerName: "Band",
			field: "bandname"
		}, {
			headerName: "Manager",
			field: "manager"
		}, {
			headerName: "Gender",
			field: "gender",
			width: 100,
		}, {
			headerName: "Date Of Birth",
			field: "dob",
			cellStyle: {
				textAlign: 'center'
			},
			width: 135,
		}, {
			headerName: "Mobile No",
			field: "mobileNo",
			type: "rightAligned",
			width: 110,
		}, {
			headerName: "	Personal Mail",
			field: "personalMail"
		}, {
			headerName: "Father Name",
			field: "fatherName"
		}, {
			headerName: "Emergency Contact",
			field: "ememobilenoid"
		}, {
			headerName: "Employed By",
			field: "employedBy"
		}, {
			headerName: "Blood Group",
			field: "bloodGroup"
		}
		];

		var gridOptionsEmployee = {
			columnDefs: columnDefsEmployee,
			rowSelection: 'single',
			groupSelectsChildren: true,
			suppressRowClickSelection: true,
			suppressAggFuncInHeader: true,
			defaultColDef: {
				sortable: true,
				filter: true,
				resizable: true,
				width: 185,
				height: 10
			},
			onSelectionChanged: onSelectionChanged,
		};

		function onQuickFilterChanged() {
			gridOptionsEmployee.api.setQuickFilter(document
				.getElementById('quickFilter').value);
			var totalRowCount = gridOptionsEmployee.api.getModel().getRowCount();
			$('#totalEmp').find('span').html(totalRowCount);
		}

		function cancelBar() {
			var id = document.getElementById("closeKey");
			id.style.display = "block";
			if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
				id.style.display = "none";
			}
		}

		var empid = "";
		function onSelectionChanged() {
			var selectedNodes = gridOptionsEmployee.api.getSelectedNodes();
			var selectedData = selectedNodes.map(node => node.data);
			empid = selectedData.map(node => node.employeeId);
			var selectedRows = gridOptionsEmployee.api.getSelectedRows();
			var rowCount = 0;
			selectedRows.forEach(function (i) {
				rowCount = rowCount + 1;
			});
			if (rowCount > 0) {
				$("#transferEmp").attr('disabled', false);
			} else {
				$("#transferEmp").attr('disabled', true);
			}
		}

		function transferEmployee() {
		    $(".formValidation").remove();
			var selectedNodes = gridOptionsEmployee.api.getSelectedNodes();
			var selectedData = selectedNodes.map(node => node.data);
			var empId = selectedData.map(node => node.employeeId)[0];
			var empName = selectedData.map(node => node.firstName)[0];
			var empOrg = selectedData.map(node => node.organization)[0];
			var empOrgDiv = selectedData.map(node => node.orgDivision)[0];

			// Get transfer data (Already applied/approved data)
			agGrid.simpleHttpRequest({
				url: "employee-transfer-data"
			}).then(function (data) {
				const parsedResponse = JSON.parse(data.body);
				var requestData = parsedResponse[0].transferRequestData || [];
				var approveData = parsedResponse[0].transferApproveData || [];
				const today = new Date();
				const todayStr = today.toISOString().split('T')[0];

				// Check if employee has an existing applied transfer request
				var existingRequest = requestData.find(request => request.transferEmpId === empId && request.transferStatus === "Applied");
				if (existingRequest) {
					$("#messageParagraph").html(`Employee <strong>${empName}</strong> is already in the transfer process.`);
					$("#msgOkModal").removeClass("btn3").addClass("btn1");
					$("#msgModal").modal('show');
					return;
				}

				// Check if employee has an approved transfer, and if effective date is later than today
				/*var existingApproval = approveData.find(approval => approval.transferEmpId === empId && approval.transferStatus === "Approved");
				if (existingApproval) {
					var effectiveDate = new Date(existingApproval.effectiveDate.split('-').reverse().join('-'));
					if (today > effectiveDate) {
						$("#empId").val(empId);
						$("#employeeName").val(empName);
						$("#currentOrg").val(empOrg);
						$("#currentDivision").val(empOrgDiv);
						document.getElementById('transferDate').value = todayStr;
						$("#employeeTransferModal").modal("show");
						getOrganisation();
					} else {
						$("#messageParagraph").html(`Employee <strong>${empName}</strong> has already been transferred from <strong>${existingApproval.empCurrentOrgDiv}</strong> to <strong>${existingApproval.newOrgName}</strong>. The transfer will be effective from <strong>${existingApproval.effectiveDate}</strong>.`);
						$("#msgOkModal").removeClass("btn3").addClass("btn1");
						$("#msgModal").modal('show');
					}
					return;
				}*/

				getOrganisation();
				$("#empId").val(empId);
				$("#employeeName").val(empName);
				$("#currentOrg").val(empOrg);
				$("#currentDivision").val(empOrgDiv);
				document.getElementById('transferDate').value = todayStr;
				$("#effectiveDate").val("");
				$("#employeeTransferModal").modal("show");

			}).catch(function (err) {
				console.error("Error fetching transfer data", err);
			});
		}

		function cancelBtn() {
			$("#employeeTransferModal").modal("hide");
		}

		function getOrganisation() {
			var selectedNodes = gridOptionsEmployee.api.getSelectedNodes();
			var selectedData = selectedNodes.map(node => node.data);
			var empOrgDiv = selectedData.map(node => node.orgDivision)[0];

			agGrid.simpleHttpRequest({
				url: 'employee-transfer-organisationl-details'
			}).then(function (data) {
				var newOrganizationDropdown = $('#newOrganization');
				newOrganizationDropdown.empty();
				newOrganizationDropdown.append('<option value="">-- Select Organization --</option>');

				data.forEach(function (org) {

					if (org.organisationNamediv !== empOrgDiv) {
						console.log(org.organisationNamediv)
						newOrganizationDropdown.append(
							`<option value="${org.organisationId}">${org.organisationNamediv}</option>`
						);
					}
				});
			});
		}



		function changeOrganisation() {
			const currentDivision = $("#currentDivision").val();
			const selectedOrg = $("#newOrganization").val();
			const selectedOrgName = $("#newOrganization option:selected").text();
			if (selectedOrgName === currentDivision) {
				$("#messageParagraph").html(`Select Different Organisation!`);
				$("#msgOkModal").removeClass("btn3").addClass("btn1");
				$("#msgModal").modal('show');
				$("#newOrganization").val('');
			}
		}


		function saveTrasfer() {

			const empId = $("#empId").val();
			const empName = $("#employeeName").val();
			const currentOrg = $("#currentOrg").val();
			const currentDivision = $("#currentDivision").val();
			const selectedOrgName = $("#newOrganization option:selected").text();
			const selectedOrgId = $("#newOrganization").val();
			const effectiveDate = $("#effectiveDate").val();
			const transferDate = $("#transferDate").val();

			var validAll = true;
			if (!validationUpdated("Organisation Division Required", "newOrganization")) {
				validAll = false;
			}
			if (!validationUpdated("Effective Date Required", "effectiveDate")) {
				validAll = false;
			}

			if (validAll) {

				$(".loader").show();

				let employeeData = {
					empId: empId,
					empName: empName,
					currentOrg: currentOrg,
					currentDivision: currentDivision,
					selectedOrgName: selectedOrgName,
					selectedOrgId: selectedOrgId,
					effectiveDate: effectiveDate,
					transferDate: transferDate
				};

				$.ajax({
					type: "POST",
					url: "employee-transfer-save-data",
					contentType: "application/json",
					data: JSON.stringify(employeeData),
					success: function (response) {
						if (response.code == "Success") {
							$(".loader").hide();
							$("#employeeTransferModal").modal('hide');
							$("body").removeClass("overlay");
							$("#messageParagraph").text(response.message);
							$("#msgOkModal").removeClass("btn3");
							$("#msgOkModal").addClass("btn1");
							$("#msgModal").modal('show');

						} else {
							$(".loader").hide();
							$("#messageParagraph").text(response.message);
							$("#msgOkModal").removeClass("btn3");
							$("#msgOkModal").addClass("btn1");
							$("#msgModal").modal('show');
						}
					},
					error: function (datas) {
						console.log(datas);
					}
				});
			}

		}




	</script>
	<style>
		.modal-header-emp {
			background: linear-gradient(45deg, #011749, #0c40b6, #5885de) !important;
		}
	</style>
</head>


<body>

	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">
						<div class="d-flex justify-content-between" id="tdiv">
							<div class="btn-hs">
								<div class="btn-hs">
									<div class="font-design" id="totalEmp">
										Employee List (<span></span>)
									</div>
								</div>
							</div>
							<!-- Search Bar Section -->
							<div class="btn-hs" id="searchDiv">
								<div class="input-style">
									<input type="text" placeholder="Search.." name="search" class="searchboxinput"
										onkeyup="cancelBar()" oninput="onQuickFilterChanged()" id="quickFilter"
										autocomplete="off">
									<div class="searchicon">
										<a href="javascript: void(0)"><span
												style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
												id="closeKey"
												onclick="gridOptionsEmployee.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';$('#totalEmp').find('span').html(gridOptionsEmployee.api.getModel().getRowCount());"
												class="close_i"><i class="ti-close srchicon"></i></span></a><a
											href="javascript: void(0)"><i class="ti-search srchicon"></i></a>
									</div>
								</div>

							</div>


							<div class="buttonsec btn-hs">
								<button class="approve-btn" id="transferEmp" onclick="transferEmployee()">Transfer
									Employee</button>
							</div>

						</div>

						<div id="myGridEmployee" style="width: 100%; height: 500px;" class="ag-theme-alpine"></div>

						<div class="modal fade" id="employeeTransferModal" tabindex="-1" role="dialog"
							aria-labelledby="employeeTransferModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header modal-header-emp text-white">
										<h5 class="modal-title" id="employeeTransferModalLabel">Employee Transfer</h5>
										<button type="button" class="close text-white" data-dismiss="modal"
											aria-label="Close" onclick="cancelBtn();">
											<span aria-hidden="true" style="color: black;">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form>
											<!-- Employee Information -->
											<div class="row mb-3">
												<div class="col-md-6">
													<input type="hidden" id="empId">
													<label for="employeeName">Employee Name</label>
													<input type="text" class="form-control" id="employeeName"
														placeholder="Name" readonly onblur="removeValid(event);">
												</div>
												<div class="col-md-6">
													<label for="currentOrg">Current Organization</label>
													<input type="text" class="form-control" id="currentOrg"
														placeholder="Organisation Name" readonly onblur="removeValid(event);">
												</div>
											</div>
											<div class="row mb-3">
												<div class="col-md-6">
													<label for="currentDivision">Current Division</label>
													<input type="text" class="form-control" id="currentDivision"
														placeholder="Org Division Name" readonly onblur="removeValid(event);">
												</div>
												<div class="col-md-6">
													<label for="newOrganization">Select New Organization
														Division</label>
													<select class="form-control" id="newOrganization"
														onchange="changeOrganisation();" onblur="removeValid(event);">
													</select>
												</div>
											</div>
											<!-- Effective Date and Transfer Date in a Single Row -->
											<div class="row mb-3">
												<div class="col-md-6">
													<label for="effectiveDate">Effective Date</label>
													<input type="date" class="form-control" id="effectiveDate" onblur="removeValid(event);">
												</div>
												<div class="col-md-6">
													<label for="transferDate">Transfer Date</label>
													<input type="date" class="form-control" id="transferDate" readonly onblur="removeValid(event);">
												</div>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="cancel-btn" data-dismiss="modal"
											onclick="cancelBtn();">Close</button>
										<button type="button" class="approve-btn" onclick="saveTrasfer();">Save</button>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>