<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<!-- <link rel="stylesheet" href="../css/production-plan/inventory-requisition.css"> -->
<!-- <script src="../javaScript/his/productionPlan/inventory-requisition.js"></script> -->

<head>
<script type="text/javascript">
let checkboxesEnabled = false;
    $(document).ready(function() {
        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        view();
        var gridDiv = document.querySelector('#product');
        new agGrid.Grid(gridDiv, productOptions);
 
        document.getElementById("quickFilter").addEventListener("keydown", function(event) {
            if (event.key === "Enter") {
                onQuickFilterChanged()
            }
        });
        var dateFormat = localStorage.getItem("dateFormat");
        $("#receiveDateCalendar1").datetimepicker({
            format: 'd-m-Y',
            closeOnDateSelect: true,
            timepicker: false,
            datepicker: true,
            scrollMonth: false,

        }).on("change", function() {
            $('#receiveDate').val($(this).val());
        })
        $('#receiveDate').blur(function() {
            $("#receiveDateCalendar1").val($(this).val());
        })
        $(".br-s-btn").hide();
        $('#itemName').select2({
            placeholder: "Select",
            allowClear: true          
        });
        $("#add").attr("disabled", true);
        $("#delete-btn").hide();
        $("#save-btn").hide();
        $("#desc").prop("readonly", true);
        $("#receiveDateCalendar1").css("pointer-events", "none");
        $("#receiveDateCalendar1").css("opacity", "0.5");
    	$('#model').attr('disabled', true);
    	$('#unit').attr('disabled', true);
    	checkboxesEnabled = false;
    });

function view() {
    $('.loader').show();
    agGrid.simpleHttpRequest({
        url: 'inventory-requisition-view'
    }).then(function(data) {
        $('.loader').hide();
        var jsonData = JSON.parse(data.body);
        var allData = jsonData.view;
       
        gridOptions.api.setRowData(allData);

        if(allData && allData != "" && allData != 'null'){
        	var firstRowNode = gridOptions.api.getDisplayedRowAtIndex(0);
            if (firstRowNode) {
                firstRowNode.setSelected(true);
            }
        }else{
        	
        	   $("#receiveDate").val('');
        	   $("#desc").val('');
        	   productOptions.api.setRowData([]);
        	   $("#reqHeadId").html('');
        	   $("#desc").prop("readonly", false);
        	   $("#receiveDateCalendar1").css("pointer-events", "all");
        	   $("#receiveDateCalendar1").css("opacity", "1");
        	   $("#add").attr("disabled", false);
        	   checkboxesEnabled = true;
        	   productOptions.api.setColumnDefs(productDefs); // Reapply column definitions
        	   productOptions.api.redrawRows(); 
        	$("#add-btn").hide();
        	$("#editBtnReq").hide();
        	$("#approve-btn").hide();
        	$("#delete-btn").hide();
        	$("#cancelMainBtn").hide();
        	$("#save-btn").show();
        }
        
    });
}

function onQuickFilterChanged() {
    gridOptions.api.setQuickFilter(document.getElementById('quickFilter').value);
    var firstRowNode = gridOptions.api.getDisplayedRowAtIndex(0);
    if (firstRowNode) {
        firstRowNode.setSelected(true);
    }
}

function reset() {
    $('#quickFilter').val("");
    onQuickFilterChanged();
}
function toggleSection() {
	$(".br-m-btn").hide();
	$("#product").hide();
	$(".br-s-btn").show();
    $("#editProduct").val("");
    $("#sku").val("");
    $("#itemId").val("");
    $("#hsnCode").val("");
    $("#itemName").val("").trigger('change');
    $("#model").val("");
    $("#editProduct").val("");
    $("#quantity").val("");
    $("#unit").val("");
    $("#skuName").val('');
}
function closeToggleSection() {
	$(".br-m-btn").show();
	$("#product").show();
	$(".br-s-btn").hide();
    $("#editProduct").val("");
    $("#sku").val("");
    $("#itemId").val("");
    $("#hsnCode").val("");
    $("#itemName").val("").trigger('change');
    $("#model").val("");
    $("#editProduct").val("");
    $("#quantity").val("");
    $("#unit").val("");
    $("#skuName").val('');
}
var columnDefs = [{
        headerCheckboxSelectionFilteredOnly: true,
        checkboxSelection: true,
        sortable: false,
        filter: false,
        resizable: true,
        // width: 08,
        pinned: 'left',
        width: 10
    },
    {
        headerName: "Requisition Id",
        field: "reqId",
        pinned: 'left',
    }, {
        headerName: "Plan Id",
        field: "planId",
        hide: true,
        cellStyle: {
            textAlign: 'center'
        }
    }, {
        headerName: "Required Date",
        field: "receiveDate",
        width: 115
    },

    {
        headerName: "Purpose",
        field: "desc",
        width: 275,
        cellRenderer: function(params) {
        	 return safeBase64Decode(params.value);
        }
    }, {
        headerName: "Status",
        field: "aprroveStatus",
        width: 80,
        cellStyle: {
            textAlign: 'center'
        },
        cellRenderer: function(params) {
            if (params.data.aprroveStatus == "Pending") {
                return '<div style="color:#a9a9a9">Pending</div>';
            } else {
                return '<div style="color:#0642f5">Approved</div>';
            }
        }
    },
    {
        headerName: "Created By",
        field: "createdBy",
    }, {
        headerName: "Created Date",
        field: "createdDate",
    }
];
//let the grid know which columns and what data to use
var gridOptions = {
    columnDefs: columnDefs,
    rowSelection: 'single',
    groupSelectsChildren: true,
    suppressRowClickSelection: true,
    suppressAggFuncInHeader: true,
    defaultColDef: {
        sortable: true,
        filter: true,
        resizable: true,
        width: 110
    },
    onSelectionChanged: onSelectionChanged,
    pagination: true, 
    paginationPageSize: 15,
    paginationPageSizeSelector: [15, 30, 45],
    onPaginationChanged: function () {
        const currentPage = gridOptions.api.paginationGetCurrentPage() + 1;
    }

};

function onSelectionChanged() {
    var selectedRows = gridOptions.api.getSelectedRows();
    var rowCount = 0;
    selectedRows.forEach(function(selectedRow, index) {
        rowCount = rowCount + 1;
    });
    var selectedNodes = gridOptions.api.getSelectedNodes();
    var selectedData = selectedNodes.map(node => node.data);
    var approveStatus = selectedData.map(node => node.aprroveStatus);
    checkboxesEnabled = false;
    productOptions.api.setColumnDefs(productDefs); // Reapply column definitions
    productOptions.api.redrawRows();
    if (rowCount > 0) {
    	$("#add-btn").show();
    	$("#cancelMainBtn").hide();
        if (approveStatus == "Pending") {
            $('#reqDltBtn').attr('disabled', false);
            $('#reqAppvBtn').attr('disabled', false);
            $('#newBtn').attr('disabled', true);
            $("#approve-btn").show();
            $("#delete-btn").show();
            $("#editBtnReq").show();
        } else {
            $('#reqDltBtn').attr('disabled', true);
            $('#reqAppvBtn').attr('disabled', true);
            $('#newBtn').attr('disabled', true);
            $("#approve-btn").hide();
            $("#delete-btn").hide();
            $("#editBtnReq").hide();
        }
        $("#save-btn").hide();
        $("#desc").prop("readonly", true);
        $("#receiveDateCalendar1").css("pointer-events", "none");
        $("#receiveDateCalendar1").css("opacity", "0.5");
        var id = selectedRows[0].reqId;
        var status = selectedRows[0].aprroveStatus;
        editRequisition(id, status);
    } else {
    	Add();
    	$("#add-btn").hide();
    	$("#cancelMainBtn").show();
    	$("#save-btn").show();
        $('#newBtn').attr('disabled', false);
        $('#reqDltBtn').attr('disabled', true);
        $('#reqAppvBtn').attr('disabled', true);
        $("#delete-btn").hide();
        $("#approve-btn").hide();
        $("#editBtnReq").hide();
        $("#receiveDate").val('');
        $("#desc").val('');
        //productOptions.api.setRowData([]);
        $("#reqHeadId").html('');
    }

}
// for product table

var productDefs = [{
	    checkboxSelection: params => checkboxesEnabled, // Dynamically enable/disable checkboxes
	    sortable: false,
	    filter: false,
	    resizable: true,
	    width: 10
    },
   /*  {
        headerCheckboxSelectionFilteredOnly: false,
        checkboxSelection: true,
        sortable: false,
        filter: false,
        resizable: true,
        // width: 08,
        pinned: 'left',
        width: 10
    }, */
    {
        headerName: "SlNo",
        field: "slNo",
        width: 67,
        hide: "true",
    },
    {
        headerName: "SKU",
        field: "sku",
        flex: 2,
    }, {
        headerName: "HSN CODE",
        field: "hsnCode",
        hide: "true",
    },
    {
        headerName: "Item Name",
        field: "itemName",
        flex: 3,

    }, {
        headerName: "itemId",
        field: "itemId",
        hide: "true"
    }, {
        headerName: "Model/Size",
        field: "model",
       // width: 130
        flex: 2,
    }, {
        headerName: "Quantity",
        field: "quantity",
        flex: 2,
        cellStyle: {
            textAlign: 'right'
        }

    }, {

        headerName: 'Unit',
        field: "unitName",
        flex: 1,
    }, {
        headerName: 'Unit',
        field: "unit",
        hide: true,

    },
];


// let the grid know which columns and what data to use activity table
var productOptions = {
    columnDefs: productDefs,
    rowSelection: 'multiple',
    groupSelectsChildren: true,
    suppressRowClickSelection: true,
    suppressAggFuncInHeader: true,
    defaultColDef: {
        sortable: true,
        filter: true,
        resizable: true,
       width: 100,
        //flex: 2,
    },
    onSelectionChanged: onSelectionChangedItem,
    onGridReady: function (params) {
        params.api.refreshCells({ force: true }); // Apply the disabled state on load
    },
    getRowNodeId: function(data) {
        return data.slNo;
    }

};



function onSelectionChangedItem() {
    var selectedRows = productOptions.api.getSelectedRows();
    var requisitionSelect = gridOptions.api.getSelectedRows();
   if(requisitionSelect=="" || requisitionSelect==null){
	   var status = '';
   }else{
	   var status = requisitionSelect[0].aprroveStatus;  
   }
    var rowCount = 0;
    selectedRows.forEach(function(selectedRow, index) {
        rowCount = rowCount + 1;
    });
    var selectedNodes = productOptions.api.getSelectedNodes();
    var selectedData = selectedNodes.map(node => node.data);
    if (rowCount > 0) {
        if (status == "Approved") {
        	$(".br-dis").attr("disabled", true);
        	$("#add").attr("disabled", false);
        } else {
        	$(".br-dis").attr("disabled", false);
        	$("#add").attr("disabled", true);
        } 
    	/* $(".br-dis").attr("disabled", false);
    	$("#add").attr("disabled", true); */
    } else {
    	$(".br-dis").attr("disabled", true);
    	$("#add").attr("disabled", false);
    }

}
function Add() {
   $("#save-btn").show();
   $("#editBtnReq").hide();
   $("#add-btn").hide();
  // gridOptions.api.deselectAll();
   $("#receiveDate").val('');
   $("#desc").val('');
   productOptions.api.setRowData([]);
   $("#reqHeadId").html('');
   $("#desc").prop("readonly", false);
   $("#receiveDateCalendar1").css("pointer-events", "all");
   $("#receiveDateCalendar1").css("opacity", "1");
   $("#add").attr("disabled", false);
   checkboxesEnabled = true;
   productOptions.api.setColumnDefs(productDefs); // Reapply column definitions
   productOptions.api.redrawRows(); 
}
function editReq() {
   $("#add").attr("disabled", false);
   $("#add-btn").hide(); 
   $("#approve-btn").hide(); 
   $("#delete-btn").hide(); 
   $("#save-btn").show();
   $("#cancelMainBtn").show();
   $("#editBtnReq").hide();
   $("#desc").prop("readonly", false);
   $("#receiveDateCalendar1").css("pointer-events", "all");
   $("#receiveDateCalendar1").css("opacity", "1");
   checkboxesEnabled = true;
   productOptions.api.setColumnDefs(productDefs); // Reapply column definitions
   productOptions.api.redrawRows(); 

}
function saveTableData(event) {
    event.preventDefault();
    var item = {};
    var data = 1;
    var validation = true;
    var editProduct = $("#editProduct").val();
    var itemIds = $('#itemName').val();
    var qty = $("#quantity").val();
    if (itemIds == null || itemIds == "") {
		toastr.error('Item Name Required');
		return;
    }
    if (qty == null || qty == "") {
		toastr.error('Quantity Required');
		return;
    }
    if (validation) {
        item.slNo = data;
        productOptions.api.forEachNode(function(rowNode, index) {
            if (!editProduct) {
                data = data + 1;
                item.slNo = data;
            } else {
                item.slNo = editProduct;
            }

        });
        item.itemId = $('#itemId').val();
        item.sku = $('#itemName').val();
        item.itemName = $('#skuName').val();
        item.hsnCode = $('#hsnCode').val();
        item.model = $("#model").val();
        item.quantity = $("#quantity").val();
        item.unit = $('#unit').val();
        item.unitName = $("#unit option:selected").text();
        var datas = [];

        if (editProduct) {
            productOptions.api.forEachNode((node) => {
                var currentSlNo = node.rowIndex + 1;
                if (currentSlNo == editProduct) {
                    node.setData(item);
                }
            });
        } else {
            productOptions.api.forEachNode(function(rowNode, index) {
                datas.push(rowNode.data);
            });
            datas.push(item)

            console.log("datas-->", datas);

            productOptions.api.setRowData(datas);
        }
        closeToggleSection();
        checkboxesEnabled = true;
        productOptions.api.setColumnDefs(productDefs); // Reapply column definitions
        productOptions.api.redrawRows(); 
    }

}
function saveData() {
    var item = {};
    var validation = true;
    var requiredDate = $("#receiveDate").val();
    var desc1 = $("#desc").val();
    if (requiredDate == null || requiredDate == "") {
		toastr.error('Required Date Required');
		return;
    }
    if (desc1 == null || desc1 == "") {
		toastr.error('Purpose Required');
		return;
    }
    var totalRowCount1 = productOptions.api.getModel().getRowCount();
    if (totalRowCount1 > 0) {
        item.planId = $("#planId").val();
        item.desc = safeBase64Encode($("#desc").val());
        item.receiveDate = $("#receiveDate").val();
        item.reqId = $("#reqHeadId").html();

        var datas = [];
        productOptions.api.forEachNode(function(rowNode, index) {
            var item1 = rowNode.data;
            datas.push(item1);
        });
        item.details = datas;
        if (validation) {
            saveAllRequisition(item);
        }
    } else {
    	toastr.error('At Least One Item/Service Detail Is Required');
    }
}

function saveAllRequisition(datas) {
    $('.loader').show();
    $("body").addClass("overlay");
    $.ajax({
        type: "POST",
        url: "inventory-requisition-add",
        contentType: "application/json",
        data: JSON.stringify(datas),
        success: function(response) {
            if (response.code == "success") {
                view();
                $('.loader').hide();
                $("body").removeClass("overlay");
                toastr.success(response.message);
                $("#desc").prop("readonly", true);
                checkboxesEnabled = false;
                productOptions.api.setColumnDefs(productDefs); // Reapply column definitions
                productOptions.api.redrawRows(); 
            }

        },
        error: function(datas) {
            //console.log(datas)
        }
    })

}
function editRequisition(id, approveStatus) {
    var reqId = id;
    $("#rfq").attr('disabled', true);
    $("#planId").attr('disabled', true);
    $("#receiveDate").attr('disabled', true);
    $('.loader').show();
    agGrid.simpleHttpRequest({
        url: 'inventory-requisition-edit?id=' + reqId
    }).then(function(data) {
        var jsonData = JSON.parse(data.body);
        var allData = jsonData.edit;
        $("#planId").val(allData[0].planId);
        $("#desc").val(safeBase64Decode(allData[0].desc));
        $("#receiveDate").val(allData[0].receiveDate);
        $("#reqId").val(allData[0].reqId);
        $("#reqHeadId").html(allData[0].reqId);
        productOptions.api.setRowData(allData);
        $("#add").attr("disabled", true);
        $("#add-btn").show();
        $('.loader').hide();
        $("body").removeClass("overlay");
    });
}
function editChildData() {
    var selectedNodes = productOptions.api.getSelectedNodes();
    var selectedData = selectedNodes.map(node => node.data);
    var slNo = selectedData[0].slNo;
    toggleSection();
    console.log("slNo<<<<<>>>>>" + slNo);
    var reqId = $("#reqHeadId").html();
    var data = getRowDataBySlNo(slNo);
    console.log("data<<<<<>>>>>" + data);
    $("#editProduct").val(slNo);
    $("#itemId").val(data.itemId);
    //$("#itemName").val(data.sku).trigger('change');
    $("#itemName").val(data.sku);
    $('#itemName').select2({}).trigger('select2:selecting');
    $("#hsnCode").val(data.hsnCode);
    $("#skuName").val(data.itemName);
    $("#model").val(data.model);
    $("#quantity").val(data.quantity);
    $('#unit').val(data.unit);
} 
function getRowDataBySlNo(targetSlNo) {
	let targetRowData = null;
	productOptions.api.forEachNode((node) => {
		const currentSlNo = node.rowIndex + 1; // Dynamically calculate slNo based on row index
		console.log("currentSlNo<<<<>>>>",currentSlNo);
		if (currentSlNo == targetSlNo) {
			
			targetRowData = node.data;
		}
	});
	if (targetRowData) {
		return targetRowData;
	} else {
		return null;
	}
} 
function deleteProduct(event) {
    var selectedRows = productOptions.api.getSelectedRows();
    productOptions.api.applyTransaction({
        remove: selectedRows
    });
    $(".br-dis").attr("disabled", true);
}
 
function approveOnclick(){
	   var selectedRows = gridOptions.api.getSelectedRows();
	    var reqId = selectedRows[0].reqId;
		if(reqId == null || reqId == '') {
			toastr.error('There Is No Requisition Selected To Approve');
			return;
		}
		Swal.fire({
	        title: 'Are you sure?',
	        text: 'Do you want to approve this?',
	        icon: 'warning',
	        showCancelButton: true,
	        confirmButtonText: 'Yes, approve it!',
	        cancelButtonText: 'No, keep it',
	        confirmButtonColor: 'var(--mainColor)',
	    }).then((result) => {
	        if (result?.value) {
	        	$(".loader").show();
	        	$.ajax({
	                type: "GET",
	                url: "inventory-requisition-approve?id=" + reqId,
	                success: function(response) {
	    				if (response.code == "success") {
	    					view();
	    					toastr.success("Requistion Approved Successfully");
	    					$(".loader").hide();
	    	                checkboxesEnabled = false;
	    	                productOptions.api.setColumnDefs(productDefs); // Reapply column definitions
	    	                productOptions.api.redrawRows(); 
	    	                $(".br-dis").attr("disabled", true);
	    				} else {
	    					$(".loader").hide();
	    					toastr.error('Something Went Wrong');
	    				}
	    			}

	    		});
	        } 
 });
}
 
function deleteOnclick() {
    var selectedRows = gridOptions.api.getSelectedRows();
    var id = selectedRows[0].reqId;
	if(id == null || id == '') {
		toastr.error('There Is No Requisition Selected To Delete');
		return;
	}
	Swal.fire({
        title: 'Are you sure?',
        text: 'Do you want to delete this?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, keep it',
        confirmButtonColor: 'var(--mainColor)',
    }).then((result) => {
        if (result?.value) {
        	$(".loader").show();
        	$.ajax({
                type: "GET",
                url: "inventory-requisition-delete?id=" + id,
                success: function(response) {
    				if (response.code == "success") {
    					view();
    					toastr.success("Requistion Deleted Successfully");
    					$(".loader").hide();
    	                checkboxesEnabled = false;
    	                productOptions.api.setColumnDefs(productDefs); // Reapply column definitions
    	                productOptions.api.redrawRows();
    	                $(".br-dis").attr("disabled", true);
    				} else {
    					$(".loader").hide();
    					toastr.error('Something Went Wrong');
    				}
    			}

    		});
        } 
    });
}
// delete selected record from ag grid
function deleteProductOnclick() {
    var selectedRows = productOptions.api.getSelectedRows();
    productOptions.api.applyTransaction({
        remove: selectedRows
    });
}
function getItemdetailsBySku() {
    var id = $("#itemName").val();
    if(id){
    	
    	const idTracker = new Set();
		
		productOptions.api.forEachNode(node => {
	   		 idTracker.add(node.data.sku);
	        });
		
		if (idTracker.has(id)) {
    		 toastr.error("Item Already Present.");
    		 $("#itemName").val("").trigger('change');
         	$("#itemId").val("");
         	$("#skuName").val("");
         	$("#model").val("");
         	$("#unit").val("");
         	$("#hsnCode").val("");
         } else {
        	 $.ajax({
        	        type: "GET",
        	        url: "inventory-requisition-getItemdDtailsBySku?id=" + id,
        	        success: function(response) {
        	            if (response.code == "success") {
        	        		var jsonData = JSON.parse(response.body);
        	        		var allData = jsonData.details;
        	        		if(allData!=null){
        	                	$("#itemId").val(allData[0].productId);
        	                	$("#skuName").val(allData[0].skuName);
        	                	$("#model").val(allData[0].model);
        	                	$("#unit").val(allData[0].unit);
        	                	$("#hsnCode").val(allData[0].hsn);	
        	        		}else{
        	                	toastr.error("Something Went Wrong!");
        	        			$("#itemName").val("").trigger('change');
        	                	$("#itemId").val("");
        	                	$("#skuName").val("");
        	                	$("#model").val("");
        	                	$("#unit").val("");
        	                	$("#hsnCode").val("");
        	        		}
        	            }else{
        	            	toastr.error("Something Went Wrong!");
        	    			$("#itemName").val("").trigger('change');
        	            	$("#skuName").val("");
        	            	$("#itemId").val("");
        	            	$("#model").val("");
        	            	$("#unit").val("");
        	            	$("#hsnCode").val("");
        	            }
        	        },
        	        error: function(e) {}
        	    });
         }
    	 
   
    }
}
function validateQuantity(fieldId) {
    var tempVal = $("#" + fieldId).val().replace(/[^0-9.]/g, ''); // Allow digits and one dot
    // Ensure only one decimal point
    var parts = tempVal.split('.');
    if (parts.length > 2) {
        tempVal = parts[0] + '.' + parts.slice(1).join(''); // Keep first '.', remove others
    }
    // Limit integer part to 7 digits
    if (parts[0].length > 7) {
        parts[0] = parts[0].substring(0, 7);
    }
    // Limit to 3 decimal places
    if (parts[1] && parts[1].length > 3) {
        parts[1] = parts[1].substring(0, 3);
    }
    tempVal = parts.join('.');
    $("#" + fieldId).val(tempVal);
}

function cancelMain(){
	let selectedRows = gridOptions.api.getSelectedRows();
	
	let rowCount = 0;
    selectedRows.forEach(function(selectedRow, index) {
        rowCount = rowCount + 1;
    });
    
    if(rowCount == 0){
    	gridOptions.api.getDisplayedRowAtIndex(0).setSelected(true);
    }else{
    	
    	var selectedNodes = gridOptions.api.getSelectedNodes();
    	const selectedRowIndex = selectedNodes[0].rowIndex;
    	gridOptions.api.getDisplayedRowAtIndex(selectedRowIndex).setSelected(true);
    	onSelectionChanged();
    }

}

function addNew(){
	gridOptions.api.deselectAll();
}


function safeBase64Encode(text) {
    if (!text || text === "null") {
        return "";
    }
    
    return btoa(String.fromCharCode(...new TextEncoder().encode(text)));
}

function safeBase64Decode(base64) {
    if (!base64 || base64 === "null") {
        return ""; 
    }
    
    return new TextDecoder().decode(Uint8Array.from(atob(base64), c => c.charCodeAt(0)));
}



</script>
</head>

<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">
					<!--Tabbination 1 Start-->
					<div id="tab1" class="tab-pane" role="tabpanel">
						<div class="d-flex flex-column flex-lg-row">
							<!--Left Sec Start-->
							<div class="box-sec" id="collapseWidthR1">
								<div class="out-box">
									<div class="d-flex justify-content-between bdr-line p-2">
										<div class="col-md-8 col-12">
											<div class="d-flex search-sec">
												<input class="form-control me-2" type="text"
													placeholder="Search" id="quickFilter" autocomplete="off">
												<button class="btn go-btn" type="button"
													onclick="onQuickFilterChanged()">Go</button>
												&nbsp;
												<button class="btn go-btn w-auto" type="button"
													onclick="reset()">Reset</button>
											</div>
										</div>
										<div class="col-md-2 d-flex justify-content-end">
											<button class="btn btn-primary max-btn" id="collapseButtonR1"
												onclick="triggerExpansionR(1)" data-bs-toggle="tooltip"
												data-bs-placement="top" title="Expand">
												<i class="fa-solid fa-maximize" id="expandIconR1"></i> <i
													class="fa-solid fa-minimize d-none" id="shrinkIconR1"></i>
											</button>
										</div>
									</div>
									<div class="card-scroll m-2">
										<div id="myGrid" style="width: 100%; height: 100vh;"
												class="ag-theme-alpine"></div>
									</div>
								</div>

							</div>
							<!--Left Sec End-->

							<div id="snackbar" class="snackbar"></div>

							<!--Right Sec Start-->
							<div class="box-sec" id="collapseWidthL1">
								<div class="out-box">
									<!-- Left aligned max-btn -->
									<div
										class="d-flex flex-row-reverse justify-content-between align-items-center p-2 bdr-line">
										<button class="btn btn-primary max-btn" id="collapseButtonL1"
											type="button" onclick="triggerExpansionL(1)"
											data-bs-toggle="tooltip" data-bs-placement="top"
											title="Expand">
											<i class="fa-solid fa-maximize" id="expandIconL1"></i> <i
												class="fa-solid fa-minimize d-none" id="shrinkIconL1"></i>
										</button>

										<!-- Right aligned buttons -->
										<div class="d-flex gap-2">
											<ul class="nav nav-pills newtab" role="tablist" id="tabMenu">
												<li class="nav-item"><a class="nav-link active"
													data-bs-toggle="pill" href="#raiseTicket">Requisition
														Information</a></li>
											</ul>
										</div>
									</div>
									<!-- Tab Start -->
									<!-- Start of Tab Content -->
									<div class="tab-content flex-fill h-25" id="tabContent">
										<div id="raiseTicket" class="tab-pane active show h-100 p-2"
											role="tabpanel">
											<div class="requisition-tbl d-flex flex-column h-100">
												<div class="mb-2 m-2">
													<table class="table table-bordered mb-0" width="100%">
														<tr valign="middle">
															<td width="40%" style="vertical-align: middle;"><span
																class="head-user-name" id="reqHeadId"></span></td>
															<td>
																<div class="d-flex justify-content-end flxwrap">
																	<div class="mr-2">
																		<button class="btn btn-primary edit-btn" type="button" 
																			id="add-btn" onclick="addNew()">Add</button>
																	</div>
																	<div class="mr-2">
																		<button class="btn btn-primary edit-btn operation-btn"
																			type="button" id="editBtnReq" onclick="editReq()">Edit</button>
																		<input type="hidden" class="form-control"
																			id="editTktId">
																	</div>
																	<div class="mr-0">
																		<button class="btn btn-primary edit-btn operation-btn"
																			type="button" id="delete-btn"
																			onclick="deleteOnclick()">Delete</button>
																		<input type="hidden" class="form-control"
																			id="editTktId">

																	</div>
																	<div class="mr-2">
																		<button class="btn btn-primary edit-btn operation-btn"
																			type="button" id="approve-btn"
																			onclick="approveOnclick()">Approve</button>

																	</div>
																	<div class="mr-2">
																			<button class="btn btn-primary edit-btn"
																				id="cancelMainBtn" type="button"
																				onclick="cancelMain()">Cancel</button>
																		</div>
																	<div class="mr-2">
																		<button class="btn btn-primary edit-btn" id="save-btn"
																			onclick="saveData()" type="button">Save</button>
																	</div>
																	
																	
																</div>

															</td>
														</tr>
													</table>
												</div>
												<div class="crd card p-2 m-2">
													<div class="bdr-btn d-flex justify-content-between mb-2">
														<div
															style="text-align: right; color: red; font-weight: bold; font-size: 12px;">
															Note: All fields marked with <span>*</span> are
															mandatory.
														</div>
													</div>
													<div class="row">
														<div class="col-md-4">
															<div class="form-group calendar_box">
																<label>Required Date</label><span class="mandatory">*</span>
																<input type="text" id="receiveDate"
																	onchange="dateChange()" autocomplete="off"
																	class="form-control" onblur="removeValid(event)"
																	th:attr="onkeyup=|formatDate('receiveDate','${session.DATEFORMAT_JS}')|"
																	readonly> <i
																	class="ti-calendar picker_calendar"
																	id="receiveDateCalendar1"></i>
															</div>
														</div>
														<div class="col-md-12">
															<div class="form-group">
																<label>Purpose</label><span class="mandatory">*</span>
																<textarea class="form-control" id="desc"
																	style="line-height: 27px !important;"></textarea>
																<input type="hidden" id="reqId" />
															</div>
														</div>
													</div>
													<div class="row mt-2">
														<div class="col-md-12 cnt-sp-bw">
															<h5 class="sub-header-new">Item/Service Details</h5>
															<div class="d-flex gap-1 task-btn-sec">
																<button
																	class="border-0 btn-transition btn btn-outline-primary br-m-btn"
																	id='add' title="Add" onclick="toggleSection()">
																	<i class="fa fa-plus-square" aria-hidden="true"></i>
																</button>
																<button
																	class="border-0 btn-transition btn btn-outline-primary br-dis br-m-btn"
																	title="Edit" onclick="editChildData()" disabled>
																	<i class="fa fa-pencil-square" aria-hidden="true"></i>
																</button>
																<button
																	class="border-0 btn-transition btn btn-outline-primary br-dis br-m-btn"
																	title="Delete" disabled onclick="deleteProduct(event)">
																	<i class="fa fa-trash"></i>
																</button>
																<button class="btn btn-primary edit-btn br-s-btn"
																	type="button" onclick="saveTableData(event)">Save</button>
																<button class="btn btn-primary edit-btn br-s-btn"
																	type="button" onclick="closeToggleSection()">Cancel</button>
															</div>
														</div>
													</div>

													<div class="row br-m-btn">
														<div id="product" style="height: 250px;"
															class="ag-theme-alpine"></div>
													</div>
													<div class="row br-s-btn">
														<input type="hidden" id="editProduct"> <input
															type="hidden" id="itemId">
														<div class="col-md-6">
															<div class="form-group">
																<label>Item Name</label> <span class="mandatory">*</span>
																<select id="itemName" class="searchable-select"
																	onchange="getItemdetailsBySku();">
																	<option value="">Select</option>
																	<option th:each="c,iter:${itemlist}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>
															</div>
														</div>
														<input type="hidden" id="skuName" readonly> <input
															type="hidden" id="hsnCode" readonly>
														<div class="col-md-6">
															<div class="form-group">
																<label>Model/Size</label> <input type="text"
																	class="form-control" id="model" readonly>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label>Unit</label>
																<div class="select">
																	<select id="unit">
																		<option th:each="c:${unitList}" th:value='${c.key}'
																			th:text="${c.name}"></option>
																	</select>
																</div>

															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label>Quantity</label><span class="mandatory">*</span>
																<input type="text" maxLength="15"
																	placeholder="Enter Quantity.." class="form-control"
																	id="quantity" oninput="validateQuantity('quantity')"
																	autocomplete="off">
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<!-- end of Tab Content -->
							</div>
							<!-- Tab End -->
						</div>
					</div>
					<!--Tabbination 1 End-->

				</div>

			</div>
		</div>

	</div>
</body>
</html>