
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 25%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 15px;
}

.btn1_new {
    width: 135px;
    border: none;
    border-radius: 4px;
    font-size: 13px!important;
    background: linear-gradient(0deg, rgb(42 22 57) 0%, rgb(88 0 152) 100%) !important;
    color: #fff!important;
    margin-left: 5px;
    margin-bottom: 8px;
    /* min-width: 70px !important; */
    height: 33px;
    line-height: 12px;
    float: right;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    padding: 0 5px;
}


.taskInfo {
	padding-left: 10px;
	color: #0c63e4;
}

.rating {
	float: left;
}

.rating:not(:checked )>input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rating:not(:checked )>label {
	float: right;
	width: 1em;
	padding: 0 .1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.6);
	/*  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked )>label:before {
	content: '★ ';
}

.rating>input:checked ~ label {
	color: #ea0;
	/*  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked )>label:hover, .rating:not(:checked )>label:hover 
	 ~ label {
	color: black;
	/*  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating>input:checked+label:hover, .rating>input:checked+label:hover ~
	label, .rating>input:checked ~ label:hover, .rating>input:checked ~
	label:hover ~ label, .rating>label:hover ~ input:checked ~ label {
	color: #ea0;
	/*  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating>label:active {
	position: relative;
	top: 2px;
	left: 2px;
}

.btn-outline-primary {
	color: #007bff;
	background-color: rgb(240 243 241/ 90%);
	background-image: none;
	border-color: #007bff;
	cursor: pointer;
}

.picker_calendar5 {
	cursor: pointer;
	position: absolute;
	bottom: 361px;
	left: 742px;
}

.picker_calendar6 {
	cursor: pointer;
	position: absolute;
	bottom: 361px;
	left: 1132px;
}

.btnbill {
	position: absolute;
	right: 70px;
	margin-top: -50px;
	z-index: 999;
}

.btn-primarynew {
	color: #fff !important;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.formValidation1 {
	font-size: 10px;
	font-weight: 100;
	color: #ff9e99;
	background-color: transparent;
	position: relative;
	top: -1px;
	padding: 3px 0;
}
.ag-header-cell-text {
    color:white!important;
}
.ag-header-viewport{
    background:linear-gradient(0deg, rgba(87, 132, 196,1) 0%, rgba(12,25,180,1) 100%);
}

table.table-bordered > thead > tr > th{
  border:1px solid #073d9c!important;
}

table.table-bordered > tbody > tr > td{
  border:1px solid #9f9b9b!important;
}

.table thead th{
	vertical-align:bottom;
	background-color: #3467af!important;
	border-bottom:1px solid #dee2e6;
	background:transparent;
	font-size:12px!important;
	color: #fff!important;
	text-align:center;
	font-weight:100;
	font-family:'Montserrat',sans-serif;
	letter-spacing:.5px;
	text-transform: uppercase;
}

.modal-content {
	width: 160% !important;
	right: 220px;
}
</style>
<script>
	$(function() {

		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);

		$('.loader').show();
		gridOptions.api.setRowData();
		agGrid.simpleHttpRequest({
			url : "view-send-amount-through-ajax"
		}).then(function(data) {
			//alert(data.length)
			$('.loader').hide();
			var len = data.length;
			$('#totalReq').find('span').html(len);

			gridOptions.api.setRowData(data);

		});
		$("#myGrid").show();
		$("#delete").attr("disabled", true);
		$('#paymentApprove').attr("disabled", true);
	});

	$(function() {
		$('.collapse').on('show.bs.collapse', function() {
			$(this).siblings('.panel-heading').addClass('active');
		});

	})
	//search bar

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}

	$('input,textarea').focus(
			function() {
				$(this).data('placeholder', $(this).attr('placeholder')).attr(
						'placeholder', '');
			}).blur(function() {
		$(this).attr('placeholder', $(this).data('placeholder'));
	});

	var count = 0;
	function allCheck() {
		count++;

		if (count == 1) {
			$('.checkCls').prop("checked", true);
		} else {
			count = 0;
			$('.checkCls').prop("checked", false);
		}
	}

	var txtLen = 0;
	function textCount(event) {

		var id = event.target.id;
		var pId = $('#' + id).next().attr("id");
		$('#' + pId + ' span').empty();
		txtLen = $('#' + id).val().length;
		$('#' + pId + ' span').append(txtLen);
	}
	// column Defs
	const columnDefs = [
			{
				headerCheckboxSelection : false,
				headerCheckboxSelectionFilteredOnly : true,
				//checkboxSelection : true,
				checkboxSelection: function (params) {
		            const approveStatus = params.data.approvalStatus;
		            return approveStatus !== 'Approved' && approveStatus !== 'Rejected';
		        },	
				width : 8,
				sortable : false,
				filter : false,
				resizable : true
	
			},{
				headerName : 'Payment Id',
				field : "paymentId",
				width : 140,
				cellRenderer : function(params) {
					return '<a onclick=getPaymentDetails("' + params.data.paymentId + ',' + params.data.vendorGrnAmount + '") href="javascript:void(0)">'
							+ params.data.paymentId + '</a>';
				}
			},{
				headerName : "Invoice Id",
				field : "vendorGrnId",
				width : 140,
				cellStyle : {
					textAlign : 'center'
				},
			},{
				headerName : "Vendor Name",
				field : "vendorId",
				width : 230,
				cellStyle : {
					textAlign : 'center'
				},
			},{
				headerName : "Amount Sent",
				field : "vendorGrnAmount",
				width : 140,
				cellStyle : {
					textAlign : 'right'
				},
				  cellRenderer: function(params) {
					  const formattedValue = parseFloat(params.data.vendorGrnAmount).toFixed(2);
					  return '<div style="color:black;font-weight: bold;">' +
					         formattedValue +
					         '</div>';
					}
				
			},{
				headerName : "Payment Status",
				field : "payStatus",
				width : 140,
				cellStyle : {
					textAlign : 'center'
					
				},
			},{
				headerName : "Approval Status",
				field : "approvalStatus",
				width : 140,
				cellStyle : {
					textAlign : 'center'
				},
				cellRenderer : function(params) {
					if (params.data.approvalStatus =="Pending") { 
						return '<div style="color:red;font-weight: bold;">'+params.data.approvalStatus+'</div>';
					}else {
						return '<div style="color:#0642f5;font-weight: bold;">'+params.data.approvalStatus+'</div>';
					}
				}
			},{
				headerName : "Approved By",
				field : "approvedBy",
				width : 140,
				cellStyle : {
					textAlign : 'center'
				},
			},{
				headerName : "Sent By",
				field : "sentBy",
				width : 140,
				cellStyle : {
					textAlign : 'center'
				},
			},{
				headerName : "Payment Datetime",
				field : "paymentDate",
				width : 230,
				cellStyle : {
					textAlign : 'center'
				},
			}];

	const gridOptions = {
		columnDefs : columnDefs,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 200,
			height : 10
		},
		rowSelection : 'multiple',
		suppressRowClickSelection : true,
		onSelectionChanged : rowSelect,
		getRowNodeId : function(data) {
			return data.paymentId;
		}
	};

	
	var deleteId = "";
	function rowSelect() {
		//alert('hello select');
		var selectedRows = gridOptions.api.getSelectedRows();
		deleteId = "";

		for (var i = 0; i < selectedRows.length; i++) {
			deleteId = deleteId + '"' + selectedRows[i].paymentId + '",';
			// deleteId = deleteId  + selectedRows[i].incentiveId + ',';
		}
		deleteId = deleteId.substring(0, deleteId.length - 1);
		console.log(deleteId)
		var rowCount = 0;

		var selectedNodes = gridOptions.api.getSelectedNodes();
		var selectedData = selectedNodes.map(node => node.data);
		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			if (selectedData.map(node => node.approvalStatus)=="Approved"){
				$('#paymentApprove').attr("disabled", true);
				$('#delete').attr("disabled", true);
				$('#add').attr("disabled", true);
			}else{
				$('#paymentApprove').attr("disabled", false);
				$('#delete').attr("disabled", false);
				$('#add').attr("disabled", true);
			}
			
		} else {
			$('#delete').attr("disabled", true);
			$('#add').attr("disabled", false);
			$('#paymentApprove').attr("disabled", true);
		}
	}
	// for new button
	function newBtn() {
		//	alert('hello');
		$("#add").hide();
		$("#copy").hide();
		$("#delete").hide();
		$("#myGrid").hide();
		$("#searchRowDiv").hide();
		$("#totalReq").hide();
		$("#statusDiv").hide();
		$("#idDiv").hide();
		$("#collapseFour").hide();
		$("#headingFour").hide();
		$("#myGridActivity").hide();
		$("#clubMemberId").empty();
		$("#paymentApprove").hide();
		
		
		$("#vendorName").val("");
		$("#vendorId").val("");
		
		$("#vendorGrnAmount").val("");
		$("#vendorGrnPendingAmount").val("");
		$("#vendorGrnBulkAmount").val("");
		$("#vendorBankName").val("");
		$("#vendorBankBranch").val("");
		$("#vendorAccountNumber").val("");
		$("#vendorTransactionNumber").val("");
		$("#vendorRemarks").val("");
		$("#vendorGrnId").empty();
		var option = $("<option></option>");
		$(option).val(null);
		$(option).html("Select");
		$("#vendorGrnId").append(option);
		$("#demo").show();

	}
	// for cancel button
	function cancelBtn() {
		$("#add").show();
		$("#copy").show();
		$("#delete").show();
		$("#totalReq").show();
		$("#myGrid").show();
		$("#searchRowDiv").show();
		$("#demo").hide();
		$("#paymentApprove").show();
		$('#delete').attr("disabled", true);
		$('#add').attr("disabled", false);
		$('#paymentApprove').attr("disabled", true);
		$('#clubMemberId').val("");
		$('#clubMemberName').val("");
		$('#formatCode').val("");
		$('#effectiveStartDate').val("");
		$('#effectiveEndDate').val("");  
		$('#salesRangeFrom').val("");
		$('#salesRangeTo').val("");
		$('#tradeDiscountRemark').val("");
		$('#status').val("");

		gridOptions.api.setRowData();
		agGrid.simpleHttpRequest({
			url : "view-send-amount-through-ajax"
		}).then(function(data) {
			var len = data.length;
			$('#totalReq').find('span').html(len);

			gridOptions.api.setRowData(data);

		});
	}

	function getPaymentDetails(paymentDetails) {
		var paymentArray = paymentDetails.split(',');
		var paymentId = paymentArray[0];
		var paidAmount = paymentArray[1];
		$("#paymentIdModal").val(paymentId);
		$("#totalPaidAmtModal").val(paidAmount);
		$("#paymentListPopup").modal("show");
		
	}


	
</script>
<script>
	//addClubMemberInfo

	function addPayment() {

		var obj = {};

		
		var selectedOption = $("#vendorGrnId option:selected");
	    var grnId = selectedOption.val();
	    obj.paymentId = $('#paymentId').html();
		obj.vendorId = $('#vendorId').val();
		obj.vendorGrnId = grnId;
		obj.vendorGrnAmount = $('#vendorGrnAmount').val();
		//obj.vendorGrnPendingAmount = $('#vendorGrnPendingAmount').val();
		obj.vendorGrnBulkAmount = $('#vendorGrnBulkAmount').val();                 
		obj.vendorBankName = $('#vendorBankName').val();
		obj.vendorBankBranch = $('#vendorBankBranch').val();
		obj.vendorAccountNumber = $('#vendorAccountNumber').val();
		obj.vendorTransactionNumber = $('#vendorTransactionNumber').val();
		obj.vendorRemarks = $('#vendorRemarks').val();
		if(obj.vendorGrnId == ""){
			obj.vendorPayToggle = 'multi';
		}else{
			obj.vendorPayToggle = 'single';
		}

		console.log("object on add-----------" + JSON.stringify(obj));
		//return false;

		/* FORM VALIDATION STARTS*/

		var validation = true;

	     if (obj.vendorId == null || obj.vendorId == "") {
			validation = validationUpdated("Vendor Name Required",
					"vendorName");
			return validation;
		}

		/* FORM VALIDATION ENDS*/

		if (validation) {
			$.ajax({
				type : "POST",
				url : "view-send-amount-saveData",
				contentType : "application/json",
				data : JSON.stringify(obj),
				success : function(response) {
					if (response.message == "Success") {
						console.log(response);
						$("#messageParagraph").text("Sent Successfully").css("color", "red");
						$("#msgOkModal").removeClass("btn3");
						$("#msgOkModal").addClass("btn1");
						$("#msgModal").modal('show');
						cancelBtn();
						

					}
				},
				error : function(data) {

					//console.log(data);
				}
			})
		}

	}

	function deleteCustomer() {
		//console.log("delete ids--------------"+deleteId);

		$.ajax({
			type : "GET",
			url : "view-send-amount-delete?id=" + deleteId,
			success : function(response) {
				if (response.message == "Success") {
					//swal("Club member deleted successfully!", " ", "success");
					$("#messageParagraph").text("Deleted Successfully").css("color", "red");
					$("#msgOkModal").removeClass("btn3");
					$("#msgOkModal").addClass("btn1");
					$("#msgModal").modal('show');
					cancelBtn();
					

				}
			}

		});

		$('#delete').attr("disabled", true);
	}

	function getVendorList() {
		var search = $("#vendorName").val();
		if (search) {

			$.ajax({
						type : "POST",
						url : "quotation-details-get-vendor-list",
						dataType : 'json',
						contentType : 'application/json',
						data : search,
						success : function(response) {
							if (response.message == "success") {
								$('.loader').hide();
								if (response.body.length != 0) {
									$("#search").css("background", "#FFF");
									var content = '<ul id="autocomplete-list1" >';
									for (var i = 0; i < response.body.length; i++) {
										content += '<li style="margin-left:-30px; font-weight:100; font-size:12px;"   class="autocompletedata cp" onClick="selectAutocompleteValue1(\''
												+ response.body[i].vendorId
												+ '\',\''
												+ response.body[i].vendorName
												+ '\',\''
												+ response.body[i].custGSTNo
												+ '\',\''
												+ response.body[i].taxType
												+ '\')">'
												+ response.body[i].vendorName
												+ '</li>';
									}
									
									content += '</ul>';
									//console.log("content " + content)
									$("#suggesstion-box1_").show();
									$("#suggesstion-box1_").html(content);

								} else {
									$("#search").css("background", "#FFF");
									var content = '<ul id="autocomplete-list1">';
									content += '<li style="margin-left:-30px; font-weight:100; font-size:14px; color:#ccc;     background-color: #0909e4;" onClick="selectAutocompleteValue()">'
											+ "No Data Found" + '</li>';
									
									content += '</ul>';
									$("#suggesstion-box1_").show();
									$("#suggesstion-box1_").html(content);
									$('.loader').hide();
								}
							} else {
								$("#search").css("background", "#FFF");
								var content = '<ul id="autocomplete-list1">';
								content += '<li style="margin-left:-30px; font-weight:100; font-size:14px; color:#ccc;     background-color: #0909e4;" onClick="selectAutocompleteValue()">'
										+ "No Data Found" + '</li>';
								
								content += '</ul>';
								$("#suggesstion-box1_").show();
								$("#suggesstion-box1_").html(content);
								$('.loader').hide();
							}
						},
						error : function(data) {
							console.log(data);
							$('.loader').hide();}
					})
		} else {
			$("#suggesstion-box1_").hide();
			$('.loader').hide();
		}

	}

	function selectAutocompleteValue1(vendorId, vendorName, custGSTNo, taxType) {

		if (vendorId) {

			$("#vendorId").val(vendorId);

			$("#vendorName").val(vendorName);
			$("#custGSTNo").val(custGSTNo);
			$("#taxType").val(taxType);
			$("#search").val(vendorName);
			$("#search").attr('data-procat', vendorId);
			$("#suggesstion-box1_").hide();
			$("#vendorGrnBulkAmount").attr("readonly", true);
			$("#vendorGrnBAmount").attr("readonly", true);
			
			$("#vendorGrnAmount").val("");
			$("#vendorGrnPendingAmount").val("");
			$("#vendorGrnBulkAmount").val("");
			$("#vendorBankName").val("");
			$("#vendorBankBranch").val("");
			$("#vendorAccountNumber").val("");
			$("#vendorTransactionNumber").val("");
			$("#vendorRemarks").val("");
			
			getGrnList(vendorId);
			
		} else {
			$("#vendorId").val("");
			$("#vendorName").val("");
			$("#custGSTNo").val("");
			$("#taxType").val("");
			$("#search").val("");
			$("#search").attr('data-procat', "");
			$("#suggesstion-box1_").hide();
		}
	}
	function selectAutocompleteValue() {
		$("#vendorId").val("");
		$("#vendorName").val("");
		$("#custGSTNo").val("");
		$("#taxType").val("");
		$("#search").val("");
		$("#search").attr('data-procat', "");
		$("#suggesstion-box1_").hide();
	}
	
	 function getGrnList(vendorId){
			if (vendorId) { 
				var option = $("<option></option>");
				$(option).val(null);
				$(option).html("Select");
				//$("#dname").append(option);
				$.ajax({type : "GET",
					url : "view-send-amount-getGrnList?id="+ vendorId,
							success : function(response) {
								if (response.message == "success") {
									console.log("grnList===="+JSON.stringify(response.body))
							
									$("#vendorGrnId").empty();
									var option = $("<option></option>");
									$(option).val(null);
									$(option).html("Select");
									$("#vendorGrnId").append(option);
									for (var i = 0; i < response.body.length; i++) {
										var option = $("<option></option>");
										$(option).val(response.body[i].key);
										$(option).html(response.body[i].key+" ("+response.body[i].name+")");
										$(option).attr('data-amount', response.body[i].name);
										$("#vendorGrnId").append(option);
										//alert("hello");
									}
									
								}
							},
							error : function(e) { 
							}
						});
			} else {
				$("#vendorGrnId").empty();
				var option = $("<option></option>");
				$(option).val(null);
				$(option).html("vendorGrnId");
				$("#vendorGrnId").append(option);
				$("#vendorGrnId").empty();
				var option = $("<option></option>");
				$(option).val(null);
				$(option).html("Select");
				//$("#salesOrderId").append(option);
			}
			

		}
	 
	 function getGrnAmount() {
			
		    var selectedOption = $("#vendorGrnId option:selected");
		    var amount = selectedOption.attr('data-amount');
		    if (amount !== undefined) {
		    	$("#vendorGrnAmount").val(amount)
		    	$("#vendorGrnPendingAmount").val('')
		    	$("#vendorGrnBulkAmount").attr("readonly", true);
		    } else {
		    	var totalAmount = 0;
			    $("#vendorGrnId option").each(function () {
			        var dataAmount = $(this).data("amount");
			        if (dataAmount) {
			            totalAmount += parseFloat(dataAmount);
			        }
			    });
			    console.log("Total Amount: " + totalAmount);
			    $("#vendorGrnPendingAmount").val(totalAmount)
		    	$("#vendorGrnAmount").val("")
		    	$("#vendorGrnBulkAmount").removeAttr("readonly");
		    }
		}
	 
		function approvePayment(){
			$('#approveModal').modal('show');
		}

		function approveResultbtn(){
			$('#approveModal').modal('hide');
		}
	
		function approveResult(){
		    var selectedRows = gridOptions.api.getSelectedRows();
			var paymentIds = [];
			selectedRows.forEach(function(row) {
			     paymentIds.push(row.paymentId);
			 });
			var paymentIdsString = paymentIds.join(',');
			console.log(paymentIdsString);
			
					 var paymentId=selectedRows[0].paymentId;
					 var userId = $("#userId").val();
					$.ajax({
						type : "GET",
						url : "view-send-amount-approval?paymentId=" + paymentIdsString + "&userId=" + userId,
						async : false,
						success : function(response) {

							if (response.code == "success") {
								//cancel();
								$("#messageParagraph").text("Approved Successfully");
								$("#msgOkModal").removeClass("btn3");
								$("#msgOkModal").addClass("btn1");
								$("#msgModal").modal('show');
								 $('#approveModal').modal('hide');
								 cancelBtn();
								
							}

						},
					});
				
			}
</script>
</head>

<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">

					<div class="d-flex justify-content-between mb-2">
						<div class="col-md-2  btn-hs">
							<div class="font-design" id="totalReq">
								Send Amount(<span></span>)
							</div>
						</div>
						<div class="col-md-4  btn-hs" id="searchRowDiv">
							<div class="input-style">
								<input type="text" placeholder="Search.." name="search"
									class="searchboxinput" onkeyup="cancelBar()"
									oninput="onQuickFilterChanged()" id="quickFilter">
								<div class="searchicon">
									<a href="javascript:void(0)"><span
										style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
										id="closeKey"
										onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
										class="close_i"><i class="ti-close srchicon"></i></span></a><a
										href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
								</div>
							</div>

						</div>
						<div class="col-md-6  buttonsec btn-hs">
							<!-- <input type="button" class="btn3" onclick="deleteCustomer()"
								id="delete" value="DELETE" data-toggle="modal"
								data-target="#delete" readonly> -->
							<!-- <input type="button" class="btn2" id="action" value="Action"
									 readonly> -->

							<!-- <input type="button" class="btn1" id="add"
								value="Add Amount" onclick="newBtn()" > -->
							<!-- <button onclick="approvePayment()" class="btn2" id="paymentApprove">Approve</button> -->
						</div>
					</div>

					<div id="myGrid" style="width: 100%; height: 500px;"
						class="ag-theme-alpine"></div>

					<div class="collapse" id="demo">
						<div class="innercontent">
							<div class="innerstickybg">
								<div class="d-flex justify-content-between" id="main">
									<div class="col-md-3" >
										Payment ID: <span id="paymentId"></span>
									</div>
									
									<div class="col-md-6 padding-0" align="right">
										<button class="btn3" id="cancel" onclick="cancelBtn()">CANCEL</button>
										<button class="btn1" id="save" onclick="addPayment()">SAVE</button>
										<input type="hidden" id="userId" th:value="${session.USER_ID}" />
									</div>
								</div>
							</div>
							<div class="innercontent">


								<div class="row">


									<div class="col-md-4">
										<div class="form-group">
											<div class="form-group">
													<input type="hidden" id="editProduct"> 
													<input type="hidden" id="vendorId"> 
													<label>Vendor Name</label>
														<input type="text" id="vendorName" class="form-control" placeholder="Vendor Name"
															onkeyup='getVendorList()'>
											</div>
											<div id="suggesstion-box1_" class="sugg-cls"></div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label>GRN Number</label>
											<div class="select">
												<select  name="" id="vendorGrnId" onChange="getGrnAmount()" class="form-control">
													<option value="" data-amount="">Select</option>
												</select> <span class="focus"></span>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label>GRN Amount</label>
											<input type="text" id="vendorGrnAmount" placeholder="Amount" class="form-control" autocomplete="off" readonly>
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label>Pending Total Amount</label>
											<input type="text" id="vendorGrnPendingAmount" placeholder="Amount" class="form-control" autocomplete="off" readonly>
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label>Bulk Amount</label>
											<input type="text" id="vendorGrnBulkAmount" placeholder="Amount" class="form-control" autocomplete="off" readonly>
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label>Bank Name</label>
											<input type="text" id="vendorBankName" placeholder="Bank Name" class="form-control" autocomplete="off">
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label>Bank Branch</label>
											<input type="text" id="vendorBankBranch" placeholder="Bank Branch" class="form-control" autocomplete="off">
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label>Account Number</label>
											<input type="text" id="vendorAccountNumber" placeholder="Account Number" class="form-control" autocomplete="off">
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label>Transaction Number</label>
											<input type="text" id="vendorTransactionNumber" placeholder="Transaction Number" class="form-control" autocomplete="off">
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label>Remarks</label>
											<input type="text" id="vendorRemarks" placeholder="Remarks" class="form-control" autocomplete="off">
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Invoice Model Starts-->
						<div id="paymentListPopup" class="modal fade" role="dialog">
							<div class="modal-dialog modal-lg">
								<!-- Modal content-->
								<div class="modal-content">
	
									<div class="modal-body">
	
										<div class="modal-header flex justify-content-between">
											<h4>Payment Details</h4>
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true" onclick="cancelInvoiceModalBtn()">
												<i class="ti-close modal-close"></i>
											</button>
										</div>
	
									</div>
									
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label>Payment ID</label>
												<input type="text" id="paymentIdModal" placeholder="Payment Id" class="form-control" autocomplete="off" readonly>
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group">
												<label>Total Paid Amount</label>
												<input type="text" id="totalPaidAmtModal" placeholder="Total Paid Amount" class="form-control" autocomplete="off" readonly>
											</div>
										</div>
									</div>
	
									<div class="row">
										
										<table class="table table-bordered table-striped mt-2"
											style="width: 100%; margin-top: 0px;" id="offeredScheduleTable">
											<thead class="tablenewhead">
												<tr>
													<th class="text-style">Invoice Id</th>
													<th class="text-style">Invoice Date</th>
													<th class="text-style">Quantity</th>
													<th class="text-style">Amount</th>
													<th class="text-style">Quantity Received</th>
													<th class="text-style">Shortage Quantity</th>
													<th class="text-style">Shortage Amount</th>
													<th class="text-style">Net Value</th>
													<th class="text-style">TDS</th>
													<th class="text-style">Net Payment</th>
													<th class="text-style">Paid Amount</th>
													<th class="text-style">Payment Date</th>
												</tr>
											</thead>
											<tbody id="paymentInvoiceList">
											</tbody>
		
										</table>
									</div>
								</div>
							</div>
						</div>
				<!-- Invoice Model Ends -->
				
				<!-- approve modal starts -->
				<div id="approveModal" class="modal fade show" aria-modal="true">
					<div class="modal-dialog modal-confirm">
						<div class="modal-content">
							<div class="modal-header flex-column"></div>
							<div class="modal-body">
								<p>Are you sure ?</p>
							</div>
							<div class="modal-footer justify-content-center">
								<button type="button" class="cancel-btn" onclick="approveResultbtn()">Don't Approve</button>
								<button type="button" class="approve-btn" onclick="approveResult()">Approve</button>
							</div>
						</div>
					</div>
				</div>
				<!-- approve modal ends-->
				
			</div>
		</div>
	</div>
</body>
</html>