 body {
    background-color: #ffffff;
	font-size:13px;
}
    .requisition .nav-item .active {
    color: #fff;
    background-color: #BF05FF !important;
    }
    .nav .nav-link {
    color: #000;
    background-color: #e4e4e4;
    margin: 0px 3px;
	margin-left: 0;
    }
	 .nav .nav-link:hover {
    color: #fff;
    background-color: #BF05FF;
    }
	
	
    .requisition .nav-pills .nav-link {
    border-radius: var(--bs-nav-pills-border-radius);
    }
    .requisition-tbl th,.requisition-tbl td{font-size: 13px}
    .go-btn{
      color: #fff;
    background-color: #BF05FF !important;
    border: 1px solid #BF05FF;
	font-size:13px;
    }
    .mb-20{
      margin-bottom: 10px;
    }
    .out-box{
      background-color: #fff;
      border: 1px solid #BF05FF;
      padding: 10px;
	  min-height:653px;
	  position:relative;
    }
    .patient-head{
    font-size: 13px;
	font-weight:500;
    }
    .wd-33{    
      width: 12%;
    text-align: center;}
	
	.txtbox{
		width: 83%;
	}
	.unitxt{
		font-size: 14px;
		margin-left:10px;
	}
	.profile-sec{
	  background-color:#ffffff;
	  border:solid 1px #dee2e6;
	  padding:9px 6px;
	}
	.profile-txt{
	 font-size: 14px;
	 font-weight:500;
	}
	.tab-ht{
	  height:35px;
	}
	
	.nav-pills {
    --bs-nav-pills-border-radius: 0!important;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0d6efd;
	}
	
	.newtab {
		position:relative; 
	}

	.newtab .nav-link{
		padding:7px 7px!important;  
		margin-left:0;
	}


	.newtab .nav .nav-link {
    color: #000;
    background-color: #e4e4e4;
    margin: 0px 3px;
    margin-left: 0!important;
	}
	.wd-11 {
    width: 14%;
    text-align: center;
	}
	.add-btn {
    color: #000;
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
	font-size: 13px;
}
	.edit-btn {
    color: #000;
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
	font-size: 13px;
	height: 33px;
	padding:5px 10px;
}


	.edit-btn:hover {
    color: #fff;
    background-color: #BF05FF !important;
    border: 1px solid #BF05FF;
	font-size: 13px;
}

.edit-btn.active {
    color: #fff;
     background-color: #BF05FF !important;
    border: 1px solid #BF05FF;
	font-size: 13px;
}
.edit-btn:focus{
	 color: #fff;
     background-color: #BF05FF !important;
}
.btn{
	height: 33px;
	padding:5px 10px!important;
}

	.mr-2{
	margin-right:3px;
	}
	.pd-r{
		padding-right:0;
	}
	
	.pd-l{
		padding-left:0;
	}
	
	.form-control {
    font-size: 20px !important;
}
	.max-btn {
    color: #fff;
    background-color: #BF05FF !important;
    border: 1px solid #BF05FF;
    font-size: 16px;
	padding:8px 12px;
	position:absolute;
	right:2px;
	top:2px;
	margin-left:5px;
	z-index:1;
}
	.flxwrap {
    position:relative;
	}
	.search-sec{
	  position:relative;
	}
	
	
	.search-sec .form-control {
    font-size: 13px !important;
	}
	
	
	
    @media screen and (max-width: 767px) {

	
	/*.pd-r{
		padding-right:12px!important;
	}
	
	.pd-l{
		padding-left:12px!important;
	}*/
	.flxwrap {
    flex-wrap: wrap !important;
	}
	
	.search-sec .form-control {
    width:60%;
	}
	
	
	}
    
    .expanded { flex: 2; visibility: visible; }
    .hidden { flex: 0 !important; visibility: hidden; width: 0; margin: 0; }
    .box-sec { flex: 1; display: flex; flex-direction: column; transition: flex 0.3s ease, visibility 0.01s ease;  overflow-x: hidden; }
	
	/* @media screen and (width < 1024px) {
      .max-btn { display: none; }
    }
     */
    .input-style{
    border-radius:6px!important;
    }
    .bdr-btn{
    border-bottom:solid 1px #ccc;
    padding-bottom:6px;
    margin-bottom:12px;
    }
    
    .mandatory {
	color: red;
	font-weight: bold;
}

.ag-header-cell {
    height: 30px!important;
    background: white !important;
}
.ag-header-cell-text { color: #000 !important; }

.hidden{
	display: none!important;
}
.form-top{
	position:relative;
	margin-bottom:4px;
	}
.form-top .form-group{
	margin-bottom:5px;
	}	
	
.form-top label{
	margin-bottom:4px;
	}	
	
.form-top .form-group .select{
	border: solid 1px #dee2e6;
    border-radius:6px;
    padding:5px;
    height: 30px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}	
	
.form-top .form-group .form-select{
	font-size:13px;
}

.form-top .form-group .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
	
.table th, .table td{
	font-size:13px!important;
}

	.btn-position {
	position: absolute;
	right: 20px;
	bottom: 135px;
}
	
