
    body {
    background-color: #ffffff;
	font-size:13px;
}
    .requisition .nav-item .active {
    color: #fff;
    background-color: #BF05FF !important;
    }
    .nav .nav-link {
    color: #000;
    background-color: #e4e4e4;
    margin: 0px 3px;
	margin-left: 0;
    }
	 .nav .nav-link:hover {
    color: #fff;
    background-color: #BF05FF;
    }
	
	
    .requisition .nav-pills .nav-link {
    border-radius: var(--bs-nav-pills-border-radius);
    }
    .requisition-tbl th,.requisition-tbl td{font-size: 13px}
    .go-btn{
      color: #fff;
    background-color: #BF05FF !important;
    border: 1px solid #BF05FF;
	font-size:13px;
    }
    .mb-20{
      margin-bottom: 10px;
    }
    .out-box{
      background-color: #fff;
      border: 1px solid #BF05FF;
      padding: 10px;
	  min-height:565px !important;
	  position:relative;
    }
    .patient-head{
    font-size: 13px;
	font-weight:500;
    }
    .wd-33{    
      width: 8%;
    text-align: center;}
	
	.txtbox{
		width: 83%;
	}
	.unitxt{
		font-size: 14px;
		margin-left:10px;
	}
	.profile-sec{
	  background-color:#ffffff;
	  border:solid 1px #dee2e6;
	  padding:9px 6px;
	}
	.profile-txt{
	 font-size: 14px;
	 font-weight:500;
	}
	.tab-ht{
	  height:35px;
	}
	
	.nav-pills {
    --bs-nav-pills-border-radius: 0!important;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0d6efd;
	}
	
	.newtab {
		position:relative; 
	}

	.newtab .nav-link{
		padding:7px 7px!important;  
		margin-left:0;
	}


	.newtab .nav .nav-link {
    color: #000;
    background-color: #e4e4e4;
    margin: 0px 3px;
    margin-left: 0!important;
	}
	.wd-11 {
    width: 14%;
    text-align: center;
	}
	.add-btn {
    color: #fff;
    background-color: #BF05FF !important;
    border: 1px solid #BF05FF;
	font-size: 13px;
}
	.edit-btn {
    color: #000;
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
	font-size: 13px;
}


	.edit-btn:hover {
    color: #fff;
    background-color: #BF05FF !important;
    border: 1px solid #BF05FF;
	font-size: 13px;
}

.edit-btn.active {
    color: #fff;
     background-color: #BF05FF !important;
    border: 1px solid #BF05FF;
	font-size: 13px;
}



	.mr-2{
	margin-right:3px;
	}
	.pd-r{
		padding-right:0;
	}
	
	.pd-l{
		padding-left:0;
	}
	
	.form-control{
		font-size: 13px!important;
	}
	
	.max-btn {
    color: #fff;
    background-color: #BF05FF !important;
    border: 1px solid #BF05FF;
    font-size: 16px;
	padding:8px 12px;
	position:absolute;
	right:2px;
	top:2px;
	margin-left:5px;
	z-index:999;
}
	.flxwrap {
    position:relative;
	}
	.search-sec{
	  position:relative;
	}
	
	
	.search-sec .form-control {
    font-size: 13px !important;
	}
	
	
	
    @media screen and (max-width: 767px) {

	
	.pd-r{
		padding-right:12px!important;
	}
	
	.pd-l{
		padding-left:12px!important;
	}
	.flxwrap {
    flex-wrap: wrap !important;
	}
	
	.search-sec .form-control {
    width:60%;
	}
	
	
	}
	
	.w-100 {
		width: 100% !important
	}
	.sub-header-new {
    padding: 10px 0px;
}
.picker_calendarexecution {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 1px;
}

.autocomplete {
	position: relative;
	display: inline-block;
	width: 100%;
}

.sugg-cls ul {
	height: 150px;
	overflow-x: scroll;
	position: relative;
}

ul#autocomplete-list1 {
	position: relative;
	z-index: 999;
}

ul#autocomplete-list1 li {
	position: relative;
	/* color: #fff; */
	padding-left: 6px;
/* 	background-color: #1f57a8;
	border-bottom: solid 1px #6189c2;
 */	padding-top: 5px;
	padding-bottom: 5px;
}

.sugg-cls ul {
	height: 150px;
	overflow-x: scroll;
	position: relative;
}



.dyheadCls {
	text-align: center;
}

 td input {
	overflow: visible;
	width: 100%;
	border: 0;
	text-align: right;
	font-size: 12px;
	font-weight: 100;
} 

input:focus {
	border: 0;
	outline: 0;
}

input disabled {
	background: none;
}

/* .ag-theme-alpine .ag-cell-wrapper>:not (.ag-cell-value ):not (.ag-group-value) {
	height: 21px !important;
} */
#basic th:first-child {
	border: none;
}

.abc:first-child {
	border: 1px solid #ccc;
}

.firstnodec {
	/* color: #333;
	border-top: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important; */
	/* width: 300px; */
	/* font-size: 12px;
	font-weight: 100; */
	text-align-last: right
}

table {
	border: 1px solid #ebeded;
}

table th {
	border: 1px solid #ccc;
	background: #a6a6a6;
	color: #fff;
	padding: 2px 4px;
	font-weight: 600;
}

table td {
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 2px 4px;
}

.simple-tree-table-closed .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
	transform: rotate(90deg);
}

.simple-tree-table-opened .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.simple-tree-table-icon {
	display: inline-block;
	width: 1.5em;
	line-height: 1.5em;
	margin: 0.1em;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
}

.txt-rt {
	text-align: right
}

.mrg-lft {
	margin-left: 8px
}
/* table td
{
width:250px;
} */
.slidebox {
	padding: 14px;
	margin-top: 0px;
	margin: 0px 10px;
}

/* .form-group label {
	font-size: 12px;
	position: relative;
	top: 4px;
} */
.holdCls {
	background-color: rgb(0, 143, 0);
}

.bg_white {
	background: #ffffff !important;
}
.searchicon {
    float: right;
     width: auto; 
    text-align: right;
}

#searchRowDiv1 {
    margin: auto;
    margin-left: 2px;
    margin-bottom: 10px;
}

.overflow-content {
  height: 180px;
  overflow: scroll;
}