 div.card {
            border: 0;
            /* margin-bottom: 30px; */
            margin-top: 100px;
            border-radius: 6px;
            color: rgba(0, 0, 0, .87);
            background: #fff;
            width: 100%;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        }

        div.card.card-plain {
            background: transparent;
            box-shadow: none;
        }

        div.card .card-header {
            margin-left: 15px;
            margin-right: 15px;
            margin-top: -30px;
            /* border: 0; */
            background: linear-gradient(60deg, #eee, #bdbdbd);
        }

        .card-plain .card-header:not(.card-avatar) {
            margin-left: 0;
            margin-right: 0;
        }

        .div.card .card-body {
            padding: 15px 30px;
        }

        div.card .card-header-primary {
            background: linear-gradient(60deg, #0070c0, #0161a7);
            /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(55, 39, 176, 0.6); */
        }

        .card-header:first-child {
            border-radius: 0 !important;
        }

        .card-nav-tabs .card-header {
            margin-top: -36px !important;
        }

        .card .card-header .nav-tabs {
            padding: 0;
        }

        .nav-tabs {
            border: 0;
            border-radius: 3px;
            padding: 0 15px;
        }

        .nav {
            display: flex;
            justify-content: left;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        .nav-tabs .nav-item {
            margin-bottom: -1px;
        }

        .nav-tabs .nav-item .nav-link.active {
            background-color: hsla(0, 0%, 100%, .2);
            transition: background-color .3s .2s;
        }

        .nav-tabs .nav-item .nav-link {
            /* border: 0 !important; */
            color: #fff !important;
            font-weight: 500;
        }

        .nav-tabs .nav-item .nav-link {
            color: #fff;
            margin: 0;
            line-height: 24px;
            text-transform: uppercase;
            font-size: 12px;
            padding: 10px 15px;
            transition: background-color .3s 0s;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(0px);
            -webkit-backdrop-filter: blur(0px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            margin: 2px;
        }

        .nav-link {
            display: block;
        }

        .nav-tabs .nav-item .material-icons {
            margin: -1px 5px 0 0;
            vertical-align: middle;
        }

        .nav .nav-item {
            position: relative;
            width: 14%;
            text-align: center;
        }

        .dashboard-header {
            margin: 0;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
        }

        .box {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 15px 8px;
            margin:0px;
            height:90px;
            border-radius:0px;
        }

        .box p {
            margin: 0;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
        }

        .box-1 {
            background-color: #ffc000;
        }

        .box-2 {
            background-color: #0070c0;
        }

        .box-3 {
            background-color: #1fca9e;
        }

        .box-4 {
            background-color: #00bbf3;
        }

        .box-5 {
            background-color: #be05ff;
        }

        .box-6 {
            background-color: #ec70dd;
        }

        .mt-10 {
            margin-top: 10px;
        }

        .grey-bg {
            background-color: #f2f2f2;
            padding: 4px 8px;
        }

        .kpi-heading {
            background-color: #9dd0ef;
            margin: 0;
            font-size: 18px;
            color: #ffffff;
            padding: 7px 9px;
            text-align: left;
        }

        .numbers-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: #ffffff;
            padding: 5px;
        }

        .numbers {
            align-self: flex-end;
            margin: 0;
            font-size: 15px;
            font-weight: 700;
        }

        .numbers-box-text {
            font-size: 13px;
        }

        .numbers-box-text span {
            margin-left: 2px;
        }

        .profit {
            color: #00b050;
        }

        .loss {
            color: #c50500;
        }

        .recurring-invoice-table,
        td,
        th {
            border: 1px solid #000000;
            font-weight: 400;
            font-size: 13px;
            
        }

        .recurring-invoice-table th {
            background-color: #3467af;
            color: #ffffff;
            text-align: left;
            font-weight: 500;
            padding-left: 10px;
        }

        .recurring-invoice-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
            height: 89%;
        }

        .recurring-invoice-table td:nth-child(odd) {
            text-align: left;
            padding-left: 10px;
        }

        .recurring-invoice-table td:nth-child(even) {
            text-align: right;
            padding-right: 10px;
        }

        .first-section-perf {
            background: linear-gradient(50deg, #46dcd8, #46aaa7, #2ba7a2);
            width: 100%;
            padding: 15px 20px;
        }

        .performance-card-container {
            display: flex;
            justify-content: center;
            color: #ffffff;
        }

        .perf-number-container {
            text-align: left;
            margin-left: 20px;
            min-width: 50%;
            font-weight: normal;
        }

        .perf-number-container h3 {
            margin: 0;
            font-size: 20px;
        }

        .perf-number-container p {
            margin: 0;
            font-size: 12px;
            text-transform: uppercase;
        }

        .perf-icon-container {
            min-width: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .perf-icon-container i {
            font-size: 33px;
        }

        .pb-20 {
            border-bottom: 2px solid #44e0bc;
            padding: 20px 0px;
        }

        .second-section-perf {
            margin-top: 10px;
        }

        .monthly-sales-growth-card {
            -webkit-box-shadow: 1px 1px 5px 1px rgba(43, 201, 201, 1);
            -moz-box-shadow: 1px 1px 5px 1px rgba(43, 201, 201, 1);
            box-shadow: 1px 1px 5px 1px rgba(43, 201, 201, 1);
            padding: 10px;
            min-height: 323px;
            max-height: 324px;
        }

        .monthly-sales-growth-card:hover {
            border: none;
            -webkit-box-shadow: 4px 3px 15px 0px rgba(43, 201, 201, 1);
            -moz-box-shadow: 4px 3px 15px 0px rgba(43, 201, 201, 1);
            box-shadow: 4px 3px 15px 0px rgba(43, 201, 201, 1);
        }

        .monthly-sales-growth-card-heading {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            color: #04a4a4;
        }

        .percentage-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .percentage-container .percentage {
            color: #ffffff;
            font-weight: 700;
            font-size: 20px;
            background-color: #04a4a4;
            border-radius: 7px;
            padding: 7px 20px;
            width: 100px;
        }

        .target-sales-growth {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            color: #04a4a4;
            margin-top: 10px;
        }

        .target-sales-growth span {
            font-size: 14px;
            font-weight: bolder;
        }

        .avg-rev-card {
            justify-content: space-between;
            display: flex;
        }

        .avg-rev-data-heading {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            color: #04a4a4;
        }

        .avg-rev-data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* box-shadow: 0 4px 6px -6px #222; */
        }

        .kpi-card-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            -webkit-box-shadow: 4px -1px 9px 1px rgba(145, 145, 145, 1);
            -moz-box-shadow: 4px -1px 9px 1px rgba(145, 145, 145, 1);
            box-shadow: 4px -1px 9px 1px rgba(145, 145, 145, 1);
            border-radius: 5px;
            padding: 10px;
        }

        .target-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .target {
            width: 43%;
            display: flex;
            justify-content: center;
            background: #f0efef;
            align-items: center;
            padding: 4px;
        }

        .target p {
            margin: 0;
        }

        .target i {
            font-size: 25px;
        }

        .target .fa-calendar-days {
            margin-right: 10px;
            color: #1e837c;
        }
        
        

        .target .fa-crosshairs {
            margin-right: 10px;
            color: #1e837c;
        }

        .target .profit {
            color: #409795;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
        }

        .target .loss {
            color: #ff0000;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
        }

        .kpi-card-heading {
            font-size: 14px;
            text-transform: uppercase;
            color: #000000;
            font-weight: 600;
        }

        .kpi-card-number {
            font-size: 22px;
            color: #1e837c;
            font-weight: 500;
            margin: 0;
        }

        .up-cross-card {
            display: flex;
            justify-content: space-between;
            width: 100%;
            text-transform: capitalize;
        }

        .break-line {
            border-bottom: solid #f0f0f0;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .up-cross-card-number {
            font-size: 17px;
            font-weight: 500;
            color: #15807e;
        }

        .up-cross-card-text {
            font-size: 15px;
        }

        #salesRevenue {
            width: 100%;
        }

        .cost-breakdown-chart-cont {
            display: flex;
            width: 100%;
        }

        .cost-breakdown-chart-cont p {
            margin: 0;
            text-align: left;
        }

        div#costBreakdown {
            flex-grow: 1;
        }

        .cost-breakdown-chart-num {
            font-size: 20px;
            font-weight: 500;
            color: #19837c;
        }

        #incrementalSales {
            width: 100%;
        }

        .conversion-left-card {
            text-align: left;
            color: #ffffff;
            padding: 15px;
        }

        .card1 {
            background-color: #107f8c;
        }

        .card2 {
            background-color: #15807e;
        }

        .card3 {
            background-color: #199487;
        }

        .card4 {
            background-color: #1da381;
        }

        .card5 {
            background-color: #50b88e;
        }

        .card6 {
            background-color: #78daa9;
        }

        .conversion-left-card p {
            margin: 0;
            font-weight: 500;
        }

        .conversion-left-card h3 {
            text-transform: capitalize;
            font-size: 21px;
        }

        .card-flex {
            display: flex;
            margin-top: 13px;
            justify-content: space-between;
            align-items: center;
        }

        #convertedLeads,
        #leadOpportunityRatio,
        #opportunityWinRatio,
        #conversionRate,
        #conversionRate1,
        #conversionRate2,
        #averageSalesCycle,
        #leadConversionRate,
        #leadConversionRate1,
        #leadConversionRate2,
        #salesCycleLength,
        #salesCycleLength1,
        #salesCycleLength2,
        #revenueAndProfit,
        #productByRevenue,
        #churnReason, #oppAndAvgPurchase, #salesOppAndPurchase{
            width: 100%;
        }

        .lead-opp-title {
            text-align: center;
            width: 100%;
            color: #ffffff;
            font-weight: 500;
            background-color: #199487;
            font-size: 12px;
            padding: 0 5px;
        }

        .conv-text-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .conv-text-container h3 {
            margin: 0;
            text-align: left;
            font-size: 17px;
        }

        .conv-text-container p {
            margin: 0;
            font-size: 10px;
            text-transform: capitalize;
            color: #a4a2a2;
        }

        text.highcharts-legend-navigation {
            display: none;
        }

        path.highcharts-legend-nav-inactive {
            display: none;
        }

        .sales-funnel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #ffffff;
        }

        .sales-funnel-heading {
            text-align: center;
            width: 100%;
            font-size: 14px;
            text-transform: uppercase;
            color: #04a4a4;
        }

        .sales-funnel span {
            font-size: 20px;
            line-height: 1;
            font-weight: 500;
        }

        .trapezoid-1 {
            width: 300px;
            height: 50px;
            background: #89d1cf;
            clip-path: polygon(8.5% 100%, 0% 0%, 100% 0%, 91.5% 100%);
        }

        .trapezoid-2 {
            width: 245px;
            height: 50px;
            margin-top: 5px;
            background: #d48c84;
            clip-path: polygon(8.5% 100%, 0% 0%, 100% 0%, 91.5% 100%);
        }

        .trapezoid-3 {
            width: 201px;
            height: 50px;
            margin-top: 5px;
            background: #fad3b6;
            clip-path: polygon(8.5% 100%, 0% 0%, 100% 0%, 91.5% 100%);
        }

        .trapezoid-4 {
            width: 165px;
            height: 50px;
            margin-top: 5px;
            background: #828181;
            clip-path: polygon(8.5% 100%, 0% 0%, 100% 0%, 91.5% 100%);
        }

        .avg-length-container p {
            margin: 0;
            color: #777777;
        }

        .avg-length-container {
            display: flex;
            margin-bottom: 6px;

        }

        .colored-box-1 {
            height: 42px;
            width: 20px;
            background: #89d1cf;
        }

        .colored-box-2 {
            height: 42px;
            width: 20px;
            background: #d48c84;
        }

        .colored-box-3 {
            height: 42px;
            width: 20px;
            background: #fad3b6;
        }

        .colored-box-4 {
            height: 42px;
            width: 20px;
            background: #828181;
        }

        .avg-length-container-text {
            text-align: start;
            margin-left: 15px;
        }

        .lcr p {
            margin: 0;
            line-height: 1;
            color: #04a4a4;
            font-size: 13px;
        }

        .lcr h5 {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            color: #3e3e3e;
        }

        .countries-revenue-table,
        td,
        th {
            border: 1px solid #b7b7b7;
            font-weight: 600;
        }

        .countries-revenue-table th {
            background-color: #136e6d;
            color: #ffffff;
            text-align: left;
            font-weight: 500;
            padding-left: 10px;
            font-size: 12px;
        }

        .countries-revenue-table td {
            font-size: 11px;
        }

        .countries-revenue-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }

        .countries-revenue-table td:first-child {
            text-align: left;
            padding-left: 10px;
        }

        .countries-revenue-table td:nth-child() {
            text-align: right;
            padding-right: 10px;
        }

        .countries-revenue-table tr:last-child {
            color: #ffffff;
            background-color: #1f9c9a;
        }

        .analysis-nums-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .analysis-nums-cont p {
            margin: 0;
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            text-transform: capitalize;
        }

        .analysis-nums-cont-text {
            font-size: 16px !important;
        }

        .analysis-table-heading {
            font-size: 1.2em;
            color: rgb(51, 51, 51);
            font-weight: bold;
            fill: rgb(51, 51, 51);
            margin: 0;
            text-align: center;
            text-transform: capitalize;
            width: 100%;
        }

        .sales-vol-country-heading h6 {
            margin: 0;
            font-size: 13px;
            text-transform: capitalize;
        }

        .sales-vol-country-heading p {
            margin: 0;
            font-size: 10px;
            text-transform: uppercase;
            color: #838383;
        }

        .sales-vol-country-heading div {
            position: relative;
            top: -5px;
        }

        .details-latest-opportunity-table,
        td,
        th {
            border: 1px solid #b7b7b7;
            font-weight: 600;
        }

        .details-latest-opportunity-table th {
            background-color: #136e6d;
            color: #ffffff;
            text-align: left;
            font-weight: 500;
            padding-left: 10px;
            font-size: 12px;
        }

        .details-latest-opportunity-table td {
            font-size: 11px;
        }

        .details-latest-opportunity-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }

        .details-latest-opportunity-table td:first-child {
            text-align: left;
            padding-left: 10px;
        }

        .details-latest-opportunity-table td:nth-child() {
            text-align: right;
            padding-right: 10px;
        }

        .details-latest-opportunity-table tr:nth-child(even) {
            color: #ffffff;
            background-color: #1f9c9a83;
        }

        .details-latest-opportunity-table {
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 200px;
        }

        .details-latest-opportunity-table thead {
            padding-right: 13px;
            flex: 0 0 auto;
        }

        .details-latest-opportunity-table tbody {
            flex: 1 1 auto;
            display: block;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .details-latest-opportunity-table tr {
            width: 100%;
            display: table;
            table-layout: fixed;
        }

        .details-latest-opportunity-table tr:first-child {
            position: sticky;
            top: 0;
        }

        .opp-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }

        .opp-card-text {
            font-weight: 500;
            font-size: 14px;
            text-transform: capitalize;
            color: #1fca9e;
        }

        .opp-card-num {
            line-height: 1;
            font-weight: 700;
            font-size: 21px;
            color: #136e6d;
        }

        .opp-card-num .opp-card-perc {
            font-size: 16px;
        }

        .opp-card-last-text,
        .churn-card-last-text {
            font-size: 10px;
        }

        .churn-card {
            box-shadow: 1px 1px 5px 1px rgba(43, 201, 201, 1);
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 5px;
        }

        .churn-card-text {
            font-size: 12px;
            font-weight: 600;
            line-height: 1;
        }

        .churn-card-num {
            font-weight: bold;
            line-height: 1;
            font-size: 19px;
        }

        .churn-card-num .churn-card-perc {
            font-size: 14px;
        }
        
        body {
	background: #fff;
}

.top-heading {
	padding: 10px;
	margin-bottom: 10px;
	color: #fff;
	background-color: #0071c1;
	font-size: 20px;
	text-transform: uppercase;
}

.inr-cnt {
	padding: 0px 10px;
}

.chat-box {
	background-color: #fff;
	border: 1px solid #000;
	width: 33%;
	margin: 5px;
}

.chat-box2 {
	background-color: #fff;
	border: 1px solid #000;
	width: 49.3%;
	margin: 5px;
}

.chat-heading {
	background-color: #bfbfbf;
	color: #005c99;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	font-weight: 700;
	border-bottom: 1px solid #000;
}

.chat-inr {
	background-color: #fff;
	padding: 10px;
}

.dot {
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.grn {
	background-image: linear-gradient(#87ce42, #25ad4b);
}

.red {
	background-image: linear-gradient(#fda9a9, #f73847);
}

.chat-inr table th {
	background-color: #045ca3;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

.chat-inr table td {
	font-size: 12px;
	text-align: center;
	background-color: #e6f4ff;
}

.chat-inr table tr td:first-child {
	background-color: #aedeff;
	font-weight: 700;
}

.icon-box {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	height: 90px;
	width: 80px;
}

.icon-box img {
	height: 65px;
}

.cnt-name {
	position: relative;
}

.cnt-name::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 2px;
	height: 20px;
	background: #000;
}

.num {
	font-size: 20px;
	font-weight: 700;
}

.flow-chbox {
	border: 2px solid #bbbbbb;
	padding: 10px;
	border-bottom: none !important;
	width: 70%;
	margin: 0 auto;
}

.clr {
	width: 72%;
	margin: 0 auto;
}

.spc-btn {
	justify-content: space-between;
}

.crl-box {
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #bbbbbb;
}

.rectangle {
	position: relative;
}

/* LEVEL-1 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-1 {
	width: 50%;
	margin: 0 auto 20px;
	text-align: center;
}

.level-1::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 2px;
	height: 20px;
	background: #bbbbbb;
}

.highcharts-title {
	display: none !important;
}

.highcharts-axis-title {
	display: none !important;
}

#projects .highcharts-data-labels {
	display: none !important;
}

.bg-new {
	background: #fff !important;
}


  #govtvscorp .highcharts-series-label {
      display: none !important;
    }
.main-sec{
	padding: 10px;
}
.ds2-chat-box{
	background-color: #f6f8f8;
	border: 1px solid #000;
	margin: 5px;
  width: 48.7%;
}
.ds2-chat-box1{
  background-color: #f6f8f8;
  border: 1px solid #000;
  margin: 5px;
  width: 100%;
}
.center-txt
{
    height: calc(100% - 3rem);
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}
.chat-heading{
    color: #000000;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}
.chat-inr{
	background-color: #f6f8f8;
	padding: 10px;
}
.dot{
	height: 20px;
	width: 20px;
    border-radius: 50%;
}
.grn{background-image: linear-gradient(#87ce42, #25ad4b);}
.red{background-image: linear-gradient(#fda9a9, #f73847);}
.chat-inr table th{
	background-color: #045ca3;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.chat-inr table td{
	font-size: 12px;
	text-align: center;
	background-color: #e6f4ff;
}
.chat-inr table tr td:first-child {
  background-color: #aedeff;
  font-weight: 700;
}

.icon-box{
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	height: 90px;
    width: 80px;
}
.icon-box img{
	height: 65px;
}
.cnt-name{position: relative;}
.cnt-name::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: #000;
}
.num{
	font-size: 20px;
	font-weight: 700;
}
.flow-chbox{
  border: 2px solid #bbbbbb;
  padding: 10px;
  border-bottom: none !important;
  width: 70%;
  margin: 0 auto;
}
.clr{
  width: 72%;
    margin: 0 auto;
}
.spc-btn{
  justify-content: space-between;
}
.crl-box{
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
.rectangle {
  position: relative;
}

/* LEVEL-1 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-1 {
  width: 50%;
  margin: 0 auto 20px;
  text-align: center;
}

.level-1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: #bbbbbb;
}


.highcharts-title {
	display: none !important;
}

.highcharts-axis-title {
	display: none !important;
}

#projects .highcharts-data-labels {
	display: none !important;
}
/*-----------------------new dashboard------------------------*/
        .top-box{

        	color: #fff;
        	font-weight: 500;
					  text-align: center;
					  height: 85px;
					  margin-bottom: 20px;
            padding: 15px 0px;
        }
        .bg-yellow{
        	background-color:#ffc000;
        }
        .bg-green{
        	background-color:#1fca9e;
        }
          .bg-blue{
        	background-color: #00baf3;
        }
          .bg-violet{
        	background-color: #be05ff;
        }
          .bg-pink{
        	background-color: #ec70de;
        }


        .highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
.left-sec{
  width: 66%;
}
.right-sec{
  width: 33%;
}
.flex-wrap{
  flex-wrap: wrap;
}

@media screen and (max-width:920px) {
.ds2-chat-box{
  background-color: #f2f2f2;
  border: 1px solid #000;
  margin: 5px;
  width: 99%;
}
}
@media screen and (max-width:520px) {
.ds2-chat-box{
  width: 99%;
}
.ds2-chat-box1 {
    width: 98%;
}
.left-sec{
  width: 100%;
}
.right-sec{
  width: 100%;
}
}