<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 25%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 15px;
}

.btn1 {
    border: none;
    border-radius: 4px;
    font-size: 10px;
    background-color: #5784c4;
    color: #fff!important;
    margin-left: 5px;
    margin-bottom: 8px;
    width: 105px;
    height: 28px;
    line-height: 12px;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
}

.taskInfo{
	padding-left: 10px;
    color: #45166a;
}

.rating {
	float: left;
}

.rating:not(:checked)>input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
	float: right;
	width: 1em;
	padding: 0 .1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.6);
	/*  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked)>label:before {
	content: '★ ';
}

.rating>input:checked ~ label {
	color: #ea0;
	/*  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked)>label:hover, .rating:not(:checked)>label:hover ~
	label {
	color: black;
	/*  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating>input:checked+label:hover, .rating>input:checked+label:hover ~
	label, .rating>input:checked ~ label:hover, .rating>input:checked ~
	label:hover ~ label, .rating>label:hover ~ input:checked ~ label {
	color: #ea0;
	/*  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating>label:active {
	position: relative;
	top: 2px;
	left: 2px;
}

.btn-outline-primary {
	color: #007bff;
	background-color: rgb(240 243 241/ 90%);
	background-image: none;
	border-color: #007bff;
	cursor: pointer;
}
.picker_calendar5 {
 cursor: pointer;
    position: absolute;
    bottom: 361px;
    left: 742px;
}
.picker_calendar6 {
    cursor: pointer;
    position: absolute;
    bottom: 361px;
    left: 1132px;
}
</style>
<script>
	
	$(function() {
		
		 $("input[name=ReminderYesOrNo]:radio").click(function () {
		        if ($('input[name=ReminderYesOrNo]:checked').val() == "Yes") {
		            $('.reminderBtn').show();

		        } else if ($('input[name=ReminderYesOrNo]:checked').val() == "No") {
		            $('.reminderBtn').hide();
		            $('#reminderDateid').val("");
		            $('#reminderTime').val("");
		            $('#taskAlertBy').val("");

		        }
		    });
		
		
		var dateFormat = localStorage.getItem("dateFormat");								
		$("#startDateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#startDate').val($(this).val());
		})
		
		$('#startDate').blur(function(){
			$("#startDateCalendar").val($(this).val());
		})
		
		
		$("#endDateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#endDate').val($(this).val());
		})
		
		$('#endDate').blur(function(){
			$("#endDateCalendar").val($(this).val());
		})
	
	
	
	
	 $("#toDateCalendarTime").datetimepicker({
		format : 'H:i',
		closeOnDateSelect : false,
		timepicker : true,
		datepicker : false,
		step : 15
	}).on("change", function() {
		$('#reminderTime').val($(this).val());
	})

	$('#reminderTime').blur(function() {
		$("#toDateCalendarTime").val($(this).val());
	}) 
	});
	
	$(function() {

		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);

		agGrid.simpleHttpRequest({
			url : "view-currency-adjustment-throughAjax"
		}).then(function(data) {
			var len = data.length;
			$('#totalReq').find('span').html(len);

			gridOptions.api.setRowData(data);

		});
		$("#myGrid").show();
		$("#delete").attr("disabled", true);
	});

	$(function() {
		$('.collapse').on('show.bs.collapse', function() {
			$(this).siblings('.panel-heading').addClass('active');
		});

	})
	//search bar

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}

	$('input,textarea').focus(
			function() {
				$(this).data('placeholder', $(this).attr('placeholder')).attr(
						'placeholder', '');
			}).blur(function() {
		$(this).attr('placeholder', $(this).data('placeholder'));
	});

	var count = 0;
	function allCheck() {
		count++;

		if (count == 1) {
			$('.checkCls').prop("checked", true);
		} else {
			count = 0;
			$('.checkCls').prop("checked", false);
		}
	}

	var txtLen = 0;
	function textCount(event) {

		var id = event.target.id;
		var pId = $('#' + id).next().attr("id");
		$('#' + pId + ' span').empty();
		txtLen = $('#' + id).val().length;
		$('#' + pId + ' span').append(txtLen);
	}
	// column Defs
	const columnDefs = [
			{
				headerCheckboxSelection : true,
				checkboxSelection : true,
				width : 8,
				sortable : false,
				filter : false,
				resizable : true

			},{
				headerName : 'Currency Id',
				field : "currencyId",
				cellRenderer : function(params) {
					return '<a onclick=editPage("' + params.data.currencyId
							+ ',' + '0' + '") href="javascript:void(0)">'
							+ params.data.currencyId + '</a>';
				}
			},
			
			 {
				headerName : "Date",
				field : "dateAdjust",
				cellStyle : {
					textAlign : 'left'
				}
			},
			 {
				headerName : "Currency",
				field : "currency",
				cellStyle : {
					textAlign : 'left'
				}
			},

			 {
				headerName : "Exchange Rate",
				field : "exchangeRateInr",
				cellStyle : {
					textAlign : 'left'
				}
			},
			{
				headerName : "Notes",
				field : "notes",
				cellStyle : {
					textAlign : 'left'
				}
			},{
				headerName : "Status",
				field : "status",
				cellStyle : {
					textAlign : 'left'
				}
			}];

	const gridOptions = {
		columnDefs : columnDefs,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 187,
			height :10
		},
		rowSelection : 'multiple',
		suppressRowClickSelection : true,
		onSelectionChanged : rowSelect,
		getRowNodeId : function(data) {
			return data.currencyId;
		}
	};
	
	var deleteId = "";
	function rowSelect() {
		//alert('hello select');
		var selectedRows = gridOptions.api.getSelectedRows();
		deleteId = "";

		for (var i = 0; i < selectedRows.length; i++) {
			deleteId = deleteId + '"' + selectedRows[i].currencyId + '",';
			 // deleteId = deleteId  + selectedRows[i].currencyId + ',';
		}
		deleteId = deleteId.substring(0, deleteId.length - 1);
		console.log(deleteId)
		var rowCount = 0;

		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			$('#delete').attr("disabled", false);

		} else {
			$('#delete').attr("disabled", true);
		}
	}
	// for new button
	function newBtn() { 
	//	alert('hello');
		$("#add").hide();
		$("#copy").hide();
		$("#delete").hide();
		$("#myGrid").hide();
		$("#searchRowDiv").hide();
		$("#totalReq").hide();
		$("#statusDiv").hide();
		$("#idDiv").hide();
		$("#collapseFour").hide();
		$("#headingFour").hide();
		$("#myGridActivity").hide();

		$("#demo").show();

	}
	// for cancel button
	function cancelBtn() {
		$("#add").show();
		$("#copy").show();
		$("#delete").show();
		$("#totalReq").show();
		$("#myGrid").show();
		$("#searchRowDiv").show();
		$("#demo").hide();

		$("#currencyId").text("");
		$('#bankName').val("");
		$('#accountHolder').val("");
		$('#branchName').val("");
		$('#accountType').val("");
		$('#accountNumber').val("");
		$('#status').val("");

		agGrid.simpleHttpRequest({
			url : "view-currency-adjustment-throughAjax"
		}).then(function(data) {
			gridOptions.api.setRowData(data);
		});
	}

	$(document).ready(function() {
		$("#date").datetimepicker({
			format : "d-m-Y",
			closeOnDateSelect : true,
			minDate : new Date(),
			timepicker : false,
		});
		$("#currencyId").val("");

		var dateFormat = localStorage.getItem("dateFormat");
		$("#fromDateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#fromDate').val($(this).val());
		})

		$('#fromDate').blur(function() {
			$("#fromDateCalendar").val($(this).val());
		})

		$("#toDateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#toDate').val($(this).val());
		})

		$('#toDate').blur(function() {
			$("#toDateCalendar").val($(this).val());
		})

		$("#fromTime").datetimepicker({
			format : 'H:i',
			closeOnDateSelect : false,
			timepicker : true,
			datepicker : false,
			step : 15
		})

		$("#toTime").datetimepicker({
			format : "H:i",
			closeOnDateSelect : false,
			timepicker : true,
			datepicker : false,
			step : 15
		})

	});
	
	
	// Edit & stage change 
	function editPage(id) {
	//	alert(id);
		var editId = id.split(",");
		
		var currencyId = editId[0];
		
		var modal = editId[1];
		//alert('currencyId------'+currencyId);
		$("#demo").show();

		$.ajax({
			type : "GET",
			url : "view-currency-adjustment-edit?id=" + currencyId,
			async : false,
			success : function(response) {
				console.log("response for edit currency------"+JSON.stringify(response));
				if (response.code == "Success") {
					
					$("#add").hide();
					$("#copy").hide();
					$("#delete").hide();
					$("#myGrid").hide();
					$("#searchRowDiv").hide();
					$("#totalReq").hide();
					$("#statusDiv").hide();
					$("#idDiv").hide();
					$("#collapseFour").hide();
					$("#headingFour").hide();
					$("#myGridActivity").hide();

					$("#demo").show();
					
					$(".container").hide();
					
					var dateAdjust = response.body[0].dateAdjust;
					dateAdjust = dateAdjust.split(' ')[0];
									
					var currencyId=$("#currencyId").text(response.body[0].currencyId);
									
					$('#currency').val(response.body[0].currency);
					$('#dateAdjust').val(dateAdjust);
					$('#exchangeRateInr').val(response.body[0].exchangeRateInr);
					$('#status').val(response.body[0].status);
					$('#notes').val(response.body[0].notes);
					
					
				}
			}
		})
	}

</script>
<script>
	//addVendorInfo
	
	function addCurrencyInfo() { 
		//alert('hello');return false;
		var obj = {};
		
		obj.currencyId = $('#currencyId').text();
		obj.currency = $('#currency').val();
		obj.dateAdjust = $('#dateAdjust').val();
		obj.exchangeRateInr = $('#exchangeRateInr').val();
		obj.status = $('#status').val();
		obj.notes = $('#notes').val();
		console.log("object on add currency-----------"+JSON.stringify(obj));
		//return false;

		/* FORM VALIDATION STARTS*/

		var validation = true;

	   /* if (obj.bankName == null || obj.bankName == "") {
			validation = validationUpdated("Bank Name Required",
					"bankName");
		}
	   
	   if (obj.status == null || obj.status == "") {
			validation = validationUpdated("Bank Status Required",
					"status");
		}    
	    */
	    
		/* FORM VALIDATION ENDS*/

		if (validation) {
			$.ajax({
				type : "POST",
				url : "view-currency-adjustment-add",
				contentType : "application/json",
				data : JSON.stringify(obj),
				success : function(response) {
					if (response.code == "Success") {
						console.log(response);
						/* viewDetails();
						$("#add").show();
						$("#copy").show();
						$("#delete").show();
						$("#totalReq").show();
						$(".container").show();
						$("#searchRowDiv").show();
						$("#demo").hide();
						$("#demoSetReminder").hide();
						$("#demoMassUpdate").hide();
						$("#demoAddCampaign").hide();
						$("#demoUpdateResponse").hide();
						$("#demoPrintMailingLabels").hide();
						$("#demoMassConvert").hide();*/
					//	location.reload();
						
						$("#add").show();
						$("#copy").show();
						$("#delete").show();
						$("#totalReq").show();
						$("#myGrid").show();
						$("#searchRowDiv").show();
						$("#demo").hide();
						
						agGrid.simpleHttpRequest({
							url : "view-currency-adjustment-throughAjax"
						}).then(function(data) {
							gridOptions.api.setRowData(data);
						});
									
					}
				},
				error : function(data) {

					//console.log(data);
				}
			})
		}

	}
	

	
	function deleteCurrency(){
		//console.log("delete ids--------------"+deleteId);
		
		$.ajax({
			type : "GET",
			url : "view-currency-adjustment-delete-id?id=" + deleteId,
			success : function(response) {
				if (response.code == "Success") {
					cancelBtn();
					agGrid.simpleHttpRequest({
						url : "view-currency-adjustment-throughAjax"
					}).then(function(data) {
						gridOptions.api.setRowData(data);
					});

				}
			}

		});
		
		$('#delete').attr("disabled", true);
	}
	
	
	
	function saveFile() {
		var uFile = $('#fileUpload')[0].files[0];
		var fileName = $('#fileUpload').val();

		var lastIndex = fileName.lastIndexOf("\\");
		if (lastIndex >= 0) {
			fileName = fileName.substring(lastIndex + 1);
		}
		var iURL = URL.createObjectURL(uFile);

		$('#imgLoc').attr('src', '');
		$('#imgLoc').attr('src', iURL);

		var fileData = new FormData();
		fileData.append('file', uFile);
		fileData.append('path', 'none');

		$.ajax({
			type : "POST",
			url : "view-crm-vendors-upload-file",
			enctype : "multipart/form-data",
			contentType : false,
			data : fileData,
			processData : false,
			cache : false,
			success : function(response) {

			},
			error : function(e) {

			}
		});
	}

	function deleteFile() {

		$('#imgLoc').attr('src', '');
		$('#imgLoc').attr('src', '../assets/images/noimage.jpg');

		var fileData = new FormData();

		fileData.append('file', 'none');
		fileData.append('path', 'none');

		$.ajax({
			type : "POST",
			url : "view-crm-vendors-delete-file",
			enctype : "multipart/form-data",
			contentType : false,
			/* data        : fileData, */
			processData : false,
			cache : false,
			success : function(response) {
			},
			error : function(e) {

			}
		});
	}

	
	function getStateDetails(){
		
		var cname = $('#country').val();
		if (cname) { 
			var option = $("<option></option>");
			$(option).val(null);
			$(option).html("Select");
			//$("#dname").append(option);
			$.ajax({type : "GET",
				url : "view-account-branch-stateList?id="+ cname,
						success : function(response) {
							if (response.message == "success") {
								$("#states").empty();
								var option = $("<option></option>");
								$(option).val(null);
								$(option).html("Select");
								$("#states").append(option);
								for (var i = 0; i < response.body.length; i++) {
									var option = $("<option></option>");
									$(option).val(response.body[i].key);
									$(option).html(response.body[i].name);
									$("#states").append(option);
								}
							}
						},
						error : function(e) { 
						}
					});
		} else {
			$("#states").empty();
			var option = $("<option></option>");
			$(option).val(null);
			$(option).html("Select");
			$("#states").append(option);
			$("#states").empty();
			var option = $("<option></option>");
			$(option).val(null);
			$(option).html("Select");
			//$("#dname").append(option);
		}
	}

	function getStateDataOnEdit(stateId) {
		var country = $("#country").val();
		if (country) { 
			$.ajax({
				type : "GET",
				url : "view-crm-leads-stateList?id=" + country,
				success : function(response) {
					if (response.message == "success") {
						$("#states").empty();
						var option = $("<option></option>");
						$(option).val(null);
						$(option).html("Select");
						$("#states").append(option);
						for (var i = 0; i < response.body.length; i++) {
							var option = $("<option></option>");
							$(option).val(response.body[i].key);
							$(option).html(response.body[i].name);
							$("#states").append(option);
						}
						$("#states").val(stateId);
					}
				},
				error : function(e) { 
				}
			});
		} else {
			$("#states").empty();
			var option = $("<option></option>");
			$(option).val(null);
			$(option).html("Select");
			$("#states").append(option);
		}
	}
	
</script>
</head>

<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">

						<div class="d-flex justify-content-between">
							<div class="col-md-4  btn-hs">
								<div class="font-design" id="totalReq">
									ALL CURRENCY ADJUSTMENT (<span></span>)
								</div>
							</div>
							<div class="col-md-4  btn-hs" id="searchRowDiv">
							<div class="input-style">
								<input type="text" placeholder="Search.." name="search"
									class="searchboxinput" onkeyup="cancelBar()"
									oninput="onQuickFilterChanged()" id="quickFilter">
								<div class="searchicon">
									<a href="javascript:void(0)"><span
										style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
										id="closeKey"
										onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
										class="close_i"><i class="ti-close srchicon"></i></span></a><a
										href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
								</div>
							</div>

						</div>
					<div class="buttonsec btn-hs">
								<input type="button" class="btn3" onclick="deleteCurrency()" id="delete" value="DELETE"
									data-toggle="modal" data-target="#delete" readonly> 
									<!-- <input type="button" class="btn2" id="action" value="Action"
									 readonly> -->
									
									<input type="button" class="btn1" id="add" value="Create Currency"
									onclick="newBtn()" readonly>
							</div>
						</div>
						
						<div id="myGrid" style="width: 100%; height: 500px;"
							class="ag-theme-alpine"></div>

						<div class="collapse" id="demo">
							<div class="innercontent">
								<div class="innerstickybg">
									<div class="d-flex justify-content-between" id="main">
										<div class="col-md-3" id="idDiv">
											Currency ID: <span id="currencyId"></span>
										</div>
										<div><span class="taskInfo">Currency Information</span></div>


										<div class="col-md-3 padding-0" align="right">
											<button class="new-btn" id="cancel" onclick="cancelBtn()">CANCEL</button>
											<button class="btn1" id="save" onclick="addCurrencyInfo()">SAVE</button>
										</div>
									</div>
								</div>
								<div class="innercontent">

									<!-- <div class="row"> -->
									<div class="row">
									        
					                    
					                    <div class="col-md-6">
											<div class="form-group">
												<label>Currency</label>
												<div class="select">
												<select id="currency">
													<option value="">Select</option>
													<option value="AED-UAE Dirham">AED-UAE Dirham</option>
												    <option value="AUD-Australian Doller">AUD-Australian Dollar</option>
												    <option value="CAD-Canadian Doller">CAD-Canadian Dollar</option>
												    <option value="CNY-Yuan Renminbi">CNY-Yuan Renminbi</option>
												    <option value="EUR-Euro">EUR-Euro</option>
												    <option value="GBP-Pound Sterlin">GBP-Pound Sterlin</option>
												    <option value="JPY-Japanese Yen">JPY-Japanese Yen</option>
												    <option value="SAR-Saudi Riyal">SAR-Saudi Riyal</option>
												    <option value="USD-United State Doller">USD-United State Dollar</option>
												    <option value="ZAR-South Africa Rand">ZAR-South Africa Rand</option>
												</select>
											</div>
											</div>
										</div>
										
										
										<div class="col-md-6">
											<div class="form-group">
												<label>Date of Adjustment</label>
												<input type="date" class="form-control"
													id="dateAdjust" placeholder="Date of Adjustment">
											</div>
										</div>
										
										<div class="col-md-6">
											<div class="form-group">
												<label>Exchange Rate In INR</label>
												<input type="text" class="form-control"
													id="exchangeRateInr" placeholder="Exchange Rate In INR">
											</div>
										</div>
										
										
											
										<div class="col-md-6">
											<div class="form-group">
												<label>Status</label>
												<div class="select">
												<select id="status">
													<option value="">Select</option>
													<option value="Active">Active</option>
												    <option value="Inactive">Inactive</option>
												</select>
											</div>
											</div>
										</div>
										
								<div class="col-md-8">
									<div class="modal-inrheading">Notes</div>
									<div class="position-text">
										<textarea rows="4" cols="100" id="notes"
											onkeyup="textCount(event)"></textarea>
										<div id="charNumSN" class="txtcounter" align="right">
											<span>0</span> characters
										</div>
									</div>
								</div>
										
										
										
																		
									
										
																		     							
									</div>
									
									
									
								<!-- 	main div start here -->
								
							
								
						</div>
					</div>




					<!-- The Modal For Delete-->
					<div class="modal fade" id="delete">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">
										<i class="ti-close modal-close"></i>
									</button>
								</div>
								<div class="modal-body">
									<p>Do you really want to delete these records? This process
										cannot be undone.</p>
								</div>
								<div class="modal-footer justify-content-center">
									<button type="button" class="btn1" data-dismiss="modal"
										aria-hidden="true">Cancel</button>
									<button type="button" class="btn3" id="deleteModalBtn"
										onclick="deleteReq()">Delete</button>
								</div>
							</div>
						</div>
					</div>


					<!-- The Modal For Validation-->
					<div class="modal fade" id="reqValid">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">
										<i class="ti-close modal-close"></i>
									</button>
								</div>
								<div class="modal-body">
									<p id="modalMsg"></p>
								</div>
								<div class="modal-footer justify-content-center">
									<button type="button" class="btn1" data-dismiss="modal"
										aria-hidden="true">Ok</button>
								</div>
							</div>
						</div>
					</div>
					
						<!-- ------------------Mark Lost modal------------------------- -->

					<div id="markLostModal" class="modal fade">
						<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Lost Reason</h4>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<i class="ti-close"></i>
									</button>

								</div>
								<div class="modal-body">
									<!-- text input -->
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>Comment</label> <input class="form-control"
													type="text" id="comment">
											</div>
										</div>

									</div>
								</div>
								<div class="modal-footer justify-content-left">
									<button type="button" class="btn1" data-dismiss="modal"
										aria-hidden="true" id="SubmitBtn"
										onclick="rejectLeave()">Submit</button>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>