<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>
body
{
overflow-x:hidden;
}
.tr-node-one {
	padding-top: 12px !important;
}

.firstnode {
	color: #676666;
	border-top: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important;
	width: 320px;
	font-size: 14px;
	font-weight: 100;
}

.simple-tree-table-closed .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
	transform: rotate(90deg);
}

.simple-tree-table-opened .simple-tree-table-icon:after {
	content: "\f105" !important;
	font-family: 'FontAwesome';
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.simple-tree-table-icon {
	display: inline-block;
	width: 1.5em;
	line-height: 1.5em;
	margin: 0.1em;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
}

.tree ul li:before {
	content: none;
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0;
}

.form-control {
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 100%;
	font-size: 12px;
	color: #929292;
	background-color: #f8f8f8 !important;
	background-clip: padding-box;
	border: 1px solid #aeaeae !important;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	line-height: 1.5;
	border-radius: 0.25rem;
	padding: 2px 6px !important;
	color: black;
	font-weight: bold;
	height: 35px;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form-control:focus {
	border-color: #86b7fe !important;
	box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
}

.form-select {
	font-size: 12px !important;
	border: 1px solid #aeaeae !important;
}

.modal-title{
    font-weight: 600;
    text-align: center;
    width: 100%;
}
      
.modal-header{
	background-color: #5784c4;
    color: white;
    margin: 10px 0px;
}

input[type="button"], button, .taskInfo, label, .listName {
	font-family: 'Montserrat', sans-serif;
}

.form-group label {
	font-size: 13px !important;
}

.form-control {
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 100%;
	font-size: 12px;
	color: #929292;
	background-color: #f8f8f8 !important;
	background-clip: padding-box;
	border: 1px solid #aeaeae !important;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	line-height: 1.5;
	border-radius: 0.25rem;
	padding: 2px 6px !important;
	color: black;
	font-weight: bold;
	height: 35px;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form-controlarea {
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 100%;
	font-size: 12px;
	color: #929292;
	background-color: #f8f8f8 !important;
	background-clip: padding-box;
	border: 1px solid #aeaeae !important;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	line-height: 1.5;
	border-radius: 0.25rem;
	padding: 2px 6px !important;
	color: black;
	font-weight: bold;
	height: 130px;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
</style>
<script>

	 $(function() {
         	//For tree structure of Module,Function and Activity Tree structure
         $.fn.extend({
                treed: function(o) {
         
                    var openedClass = 'fa-minus-circle';
                    var closedClass = 'fa-plus-circle';
         
                     if (typeof o != 'undefined') {
                        if (typeof o.openedClass != 'undefined') {
                            openedClass = o.openedClass;
                        }
                        if (typeof o.closedClass != 'undefined') {
                            closedClass = o.closedClass;
                        }
                    }; 
         
                    //initialize each of the top levels
                    var tree = $(this);
                    tree.addClass("tree");
                    tree.find('li').has("ul").each(function() {
                        var branch = $(this); //li with children ul
                        var titleExpand = "Expand";
                        var titleCollapse = "Collapse";
                        branch.prepend("<i class='indicator fa " + closedClass + "' title='" + titleExpand + "'></i>");
                        branch.addClass('branch');
                        branch.on('click', function(e) {
                            if (this == e.target) {
                                var icon = $(this).children('i:first'); 
                                icon.toggleClass(openedClass + " " + closedClass);
                                $(this).children().children().toggle();
                                //alert('hello');
                                var title = icon.hasClass(openedClass) ? titleCollapse : titleExpand;
           						icon.attr('title', title);
                                $('.listName').show();
                                $('.addChild').show(); 
                                $('.editChild').show(); 
                            }
                        })
                        branch.children().children().toggle();
                    });
                    //fire event from the dynamically added icon
                    tree.find('.branch .indicator').each(function() {
                        $(this).on('click', function() {
                            $(this).closest('li').click();
                        });
                    });
                    //fire event to open branch if the li contains an anchor instead of text
                    tree.find('.branch>a').each(function() {
                        $(this).on('click', function(e) {
                            $(this).closest('li').click();
                            e.preventDefault();
                        });
                    });
                    //fire event to open branch if the li contains a button instead of text
                    tree.find('.branch>button').each(function() {
                        $(this).on('click', function(e) {
                            $(this).closest('li').click();
                            e.preventDefault();
                        });
                    });
                }
            });
          
             $('#tree1').treed(); 
          
         })      
         	
          	/* $(function () {
     			  if(!window.location.hash) {
     			        //setting window location
     			        window.location = window.location + '#valid';
     			        //using reload() method to reload web page
     			        window.location.reload();
     			        
     			    }  
         	 });  */  
         
          $(function () {  
     		 $('.listName').show();
     		 $('.addChild').show();
     		$('.editChild').show();
     		
     		 $("#sbmtdata").click(function(){  
     			const ipAPI = 'https://api.ipify.org?format=json';
       	        if (!blankValidation("groupName","TextField", "Child Name can not be left blank"))
       	          return false; 
       	        var groupName=$('#groupName').val();
       	        var parentId=$("#parentId").val();
       	        var levelName=$("#levelName").val();
       	        
       	        //submitAndNext(data);
       	   swal.fire({
				title				: "Are you sure to Submit?",
				text				: "Once Submited,Can't revert back !",
				type 				: "warning",
				
				showCancelButton	: true,
				confirmButtonColor	: "#DD6BB5",
				confirmButtonText	:"Submit",
				showLoaderOnConfirm	: true,
				reverseButtons : true,
				confirmButtonAriaLabel : 'Thumbs up, great!',
				cancelButtonText : 'Cancel',
				cancelButtonAriaLabel : 'Thumbs down',
				
				 preConfirm: () => {
				    return fetch(ipAPI)
				    .then(response => response.json())
				    .then(data => Swal.insertQueueStep(data.ip))
				      .catch(() => {
				        Swal.insertQueueStep({
				          type: 'error',
				          title: 'Unable to get your public IP'
				,        })
				      })
				 }   
			}).then((result) => {
				if(result.value){
					$.ajax({
					type		: "POST",
					url 		: "add-child", 
					data		: {'groupName': groupName,  'parentId':parentId, 'levelName':levelName},
					success		: function(response){
						console.log(response);
						if(response.message){
							 swal({
									title:"Data Saved Successfully.",
									type: "success",
							}).then(function(){
								window.location.href="view-inventory-group";
							}) 
						}else{ 
							swal("Data Saved Successfully.");
							window.location.href="view-inventory-group";
							//window.location.href="view-inventory-group";
						}
					},error		: function(response){
						swal(response.code);	
						window.location.href="view-inventory-group";
					}
				}) 
			}
		  })  
       	        
       });
     		  
     		
     		 $("#sbmtdataParent").click(function(){  
     			const ipAPI = 'https://api.ipify.org?format=json';
       	        if (!blankValidation("parentName","TextField", "Parent Name can not be left blank"))
       	        return false; 
       	        var parentName=$('#parentName').val(); 
       	        
       	        //submitAndNext(data);
		       	   swal.fire({
						title				: "Are you sure to Submit?",
						text				: "Once Submited,Can't revert back !",
						type 				: "warning",
						
						showCancelButton	: true,
						confirmButtonColor	: "#DD6BB5",
						confirmButtonText	:"Submit",
						showLoaderOnConfirm	: true,
						reverseButtons : true,
						confirmButtonAriaLabel : 'Thumbs up, great!',
						cancelButtonText : 'Cancel',
						cancelButtonAriaLabel : 'Thumbs down',
						
						 preConfirm: () => {
						    return fetch(ipAPI)
						    .then(response => response.json())
						    .then(data => Swal.insertQueueStep(data.ip))
						      .catch(() => {
						        Swal.insertQueueStep({
						          type: 'error',
						          title: 'Unable to get your public IP'
						,        })
						      })
						 }   
					}).then((result) => {
						if(result.value){
							$.ajax({
							type		: "POST",
							url 		: "add-parent", 
							data		: {'parentName': parentName},
							success		: function(response){
								console.log(response);
								if(response.message){
									 swal({
											title:"Data Saved Successfully.",
											type: "success",
									}).then(function(){
										window.location.href="view-inventory-group";
									}) 
								}else{ 
									swal("Data Saved Successfully");
									window.location.href="view-inventory-group";
								}
							},error		: function(response){
								swal(response.code);	
								window.location.href="view-inventory-group";
							}
						}) 
					}
				  }) 
       	        
        	});
     		  
     });   
         	 
         	 
       function addChildInfo(){
    	   const ipAPI = 'https://api.ipify.org?format=json';
  	        if (!blankValidation("groupName","TextField", "Child Name can not be left blank"))
  	          return false; 
  	        var groupName=$('#groupName').val();
  	        var parentId=$("#parentId").val();
  	        var levelName=$("#levelName").val();
  	        
  	        //submitAndNext(data);
		  	   swal.fire({
					title				: "Are you sure to Submit?",
					text				: "Once Submited,Can't revert back !",
					type 				: "warning",
					
					showCancelButton	: true,
					confirmButtonColor	: "#DD6BB5",
					confirmButtonText	:"Submit",
					showLoaderOnConfirm	: true,
					reverseButtons : true,
					confirmButtonAriaLabel : 'Thumbs up, great!',
					cancelButtonText : 'Cancel',
					cancelButtonAriaLabel : 'Thumbs down',
					
					 preConfirm: () => {
					    return fetch(ipAPI)
					    .then(response => response.json())
					    .then(data => Swal.insertQueueStep(data.ip))
					      .catch(() => {
					        Swal.insertQueueStep({
					          type: 'error',
					          title: 'Unable to get your public IP'
					,        })
					      })
					 }   
				}).then((result) => {
					if(result.value){
						$.ajax({
						type		: "POST",
						url 		: "view-inventory-group-add-child", 
						data		: {'groupName': groupName,  'parentId':parentId, 'levelName':levelName},
						success		: function(response){
							console.log(response);
							if(response.message){
								 swal({
										title:"Data Saved Successfully.",
										type: "success",
								}).then(function(){
									window.location.href="manage-inventory-group";
								}) 
							}else{ 
								swal("Data Saved Successfully.");
								window.location.href="manage-inventory-group";
								/* swal({
									title:response.code,
									text: response.message,
									type:"warning"
								}) */
							}
						},error		: function(response){
							swal(response.code);	
							window.location.href="manage-inventory-group";
						}
					}) 
				}
			  }) 
       }  	 
         
         	
       function addParentInfo(){
    	   const ipAPI = 'https://api.ipify.org?format=json';
    	   
    	  /*  if ($("#parentName").val() == null) {
	   			validation = validationUpdated("Parent Name can not be left blank",
	   					"parentName");
	   		}  */    	   
    	   
  	        if (!blankValidation("parentName","TextField", "Parent Name can not be left blank"))
  	        	return false; 
	   		/* if (!blankValidation("natureOfGroup","TextField", "Select Nature Of Group"))
	  	        return false;  */
  	        var parentName=$('#parentName').val(); 
  	      	var natureOfGroup=$('#natureOfGroup').val(); 
  	        //console.log("parentName=="+parentName+"===natureOfGroup===="+natureOfGroup);
  	        //return false;
  	        //submitAndNext(data);
	       	   swal.fire({
					title				: "Are you sure to Submit?",
					text				: "Once Submited,Can't revert back !",
					type 				: "warning",
					
					showCancelButton	: true,
					confirmButtonColor	: "#DD6BB5",
					confirmButtonText	:"Submit",
					showLoaderOnConfirm	: true,
					reverseButtons : true,
					confirmButtonAriaLabel : 'Thumbs up, great!',
					cancelButtonText : 'Cancel',
					cancelButtonAriaLabel : 'Thumbs down',
					
					 preConfirm: () => {
					    return fetch(ipAPI)
					    .then(response => response.json())
					    .then(data => Swal.insertQueueStep(data.ip))
					      .catch(() => {
					        Swal.insertQueueStep({
					          type: 'error',
					          title: 'Unable to get your public IP'
					,        })
					      })
					 }   
				}).then((result) => {
					if(result.value){
						$.ajax({
						type		: "POST",
						url 		: "view-inventory-group-add-parent", 
						data		: {'parentName': parentName,'natureOfGroup': natureOfGroup},
						success		: function(response){
							console.log(response);
							if(response.message){
								 swal({
										title:"Data Saved Successfully.",
										type: "success",
								}).then(function(){
									window.location.href="manage-inventory-group";
								}) 
							}else{ 
								swal("Data Saved Successfully");
								window.location.href="manage-inventory-group";
							}
						},error		: function(response){
							swal(response.code);	
							window.location.href="manage-inventory-group";
						}
					}) 
				}
			  }) 
         		 
       }
         
       function OpenModel(index,levelName) { 
    	    $('#levelName').val(levelName);
	   		$('#parentId').val(index);
	   		$('#myModal').modal('show');
   		 
   	}
         
         
         function OpenModelParent() { 
     	 	$("#parentName").val("");
    	 	$("#natureOfGroup").val("");
      		$('#myModalParent').modal('show');
      		 
      	}
         
         
         
         function closeModelAddParent(index) {
        	 	$("#parentName").val("");
        	 	$("#natureOfGroup").val("");
        		$('#myModalParent').modal('hide');
        	}
         
         function closeModelAddChild(index) {
     		$('#myModal').modal('hide');
     	}
         
function editModel(index,levelName) { 
	//alert(index)
	$('#editId').val(index);
	$('#editName').val(levelName);
	$('#myModalEdit').modal('show');
    		 
}     

function closeModelEdit(){
	$('#myModalEdit').modal('hide');
}

function modifyNameCategory(){
	var selectedId = $("#editId").val();
	var changedName = $("#editName").val();
	console.log("changedName=="+changedName)

 	$.ajax({
		type : "GET",
		url : "view-inventory-group-modifyName?id=" + selectedId + "&nameGroup=" + changedName,
		success : function(response) {
			if (response.code == "Success") {
				swal({
						title:"Modified Successfully.",
						type: "success",
				}).then(function(){
					window.location.href="manage-inventory-group";
				}) 

			}
		}

	});
}

function editModelParent(index,levelName,natureGrp) { 
	//alert(index)
	console.log(natureGrp)
	$('#editIdParent').val(index);
	$('#editNameParent').val(levelName);
	if(natureGrp === null || natureGrp === "null"){
		$('#natureOfGroupParent').val("");
	} else {
		$('#natureOfGroupParent').val(natureGrp);
	}
	
	$('#myModalEditParent').modal('show');
    		 
}     

function closeModelEditParent(){
	$('#myModalEditParent').modal('hide');
}

function modifyNameCategoryParent(){
	var selectedId = $("#editIdParent").val();
	var changedName = $("#editNameParent").val();
	var changedNatureGrp = $("#natureOfGroupParent").val();
 	$.ajax({
		type : "GET",
		url : "view-inventory-group-modifyNameParent?id=" + selectedId + "&nameGroup=" + changedName + "&natureGrp=" + changedNatureGrp,
		success : function(response) {
			if (response.code == "Success") {
				swal({
						title:"Modified Successfully.",
						type: "success",
				}).then(function(){
					window.location.href="manage-inventory-group";
				}) 

			}
		}

	});
}

</script>
</head>
 <div layout:fragment="content">
      <div class="main mrt_20">
         <div class="col-md-12">
            <!--Alert Box-->
            <div class="alert alert-success alert-dismissible"
               style="display: none;">
               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
               <strong>Success!</strong> Indicates a successful or positive action.
            </div>
            <div class="alert alert-danger alert-dismissible"
               style="display: none;">
               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
               <strong>Success!</strong> Indicates a successful or positive action.
            </div>
            <div class="alert alert-warning alert-dismissible"
               style="display: none;">
               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
               <strong>Success!</strong> Indicates a successful or positive action.
            </div>
          
         </div>
         <div class="card-title">
            <h4>View Account Group</h4>
         </div>
         <div class="container-fluid">
            
            <div class="card">
               <div class="card-body">
                  <div class="basic-elements">
                     <form action="javascript:void(0)" th:object="${urole}" onsubmit="return validateForm();">
                        <div class="row">
                           <div th:if="${message != null}">
                              <span th:text="${message}" style="color: red;"></span>
                           </div>
                        </div>
                        <div class="row">
                          
                           <div class="col-lg-12">
                              <div class="form-group">
                                 <label>Stock Group</label> 
            
             				   <div class="col-md-12">
             				    <input type="button" value="ADD PARENT GROUP" class="btn btn-primary"  th:attr="onclick=|OpenModelParent()|"/>
					               <ul id="tree1"  >
					              
					                  <li  th:each="tree,iter : ${treeData1}">
					                      <span th:if="${tree.parentId == NULL}"> 
					                      <a  th:attr="a='\''+${iter.index}+ '\''" class="listName" th:text="${tree.groupName}"></a> 
					                       <a data-toggle='modal' class="addChild" title='Add Child' 
					                       th:attr="onclick=|OpenModel('${tree.groupId}','L2')|" >
													<i class='fa fa-plus-square'></i></a>
											<a data-toggle='modal' class="editChild" title='Edit' style="cursor: pointer;"
					                       th:attr="onclick=|editModelParent('${tree.groupId}','${tree.groupName}','${tree.natureOfGroup}')|" >
													<i class='fa fa-edit'></i></a>
					                       
					                        <ul>  
					                          <li th:each="tree2,iter2 : ${treeData1}" >
					                            <span th:if="${tree.groupId == tree2.parentId}">
					                            <a  th:attr="a='\''+${iter2.index}+ '\''" class="listName" th:text="${tree2.groupName}"></a> 
					                            <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree2.groupId}','L3')|" >
													<i class='fa fa-plus-square'></i></a>
												<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree2.groupId}','${tree2.groupName}')|" >
													<i class='fa fa-edit'></i></a>	
					                            <ul>
					                            	<li th:each="tree3,iter3 : ${treeData1}">
					                            		<span th:if="${tree2.groupId == tree3.parentId}">
							                            <a  th:attr="a='\''+${iter3.index}+ '\''" class="listName" th:text="${tree3.groupName}"></a> 
							                            <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree3.groupId}','L4')|" >
															<i class='fa fa-plus-square'></i></a>
							                            <a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree3.groupId}','${tree3.groupName}')|" >
															<i class='fa fa-edit'></i></a>
							                            <ul>
							                            	<li th:each="tree4,iter4 : ${treeData1}">
							                            		<span th:if="${tree3.groupId == tree4.parentId}">
									                            <a  th:attr="a='\''+${iter4.index}+ '\''" class="listName" th:text="${tree4.groupName}"></a> 
									                            <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree4.groupId}','L5')|" >
																	<i class='fa fa-plus-square'></i></a>
																<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree4.groupId}','${tree4.groupName}')|" >
																	<i class='fa fa-edit'></i></a>	
									                          		<ul>
										                            	<li th:each="tree5,iter5 : ${treeData1}">
										                            		<span th:if="${tree4.groupId == tree5.parentId}">
												                            <a  th:attr="a='\''+${iter5.index}+ '\''" class="listName"  th:text="${tree5.groupName}"></a> 
												                          	<a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree5.groupId}','L6')|" >
																				<i class='fa fa-plus-square'></i></a>
																			<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree5.groupId}','${tree5.groupName}')|" >
																				<i class='fa fa-edit'></i></a>	
												                          		<ul>
												                            	<li th:each="tree6,iter6 : ${treeData1}">
												                            		<span th:if="${tree5.groupId == tree6.parentId}">
														                            <a  th:attr="a='\''+${iter6.index}+ '\''" class="listName"  th:text="${tree6.groupName}"></a> 
														                            <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree6.groupId}','L7')|" >
																						<i class='fa fa-plus-square'></i></a>
																					<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree6.groupId}','${tree6.groupName}')|" >
																						<i class='fa fa-edit'></i></a>	
														                          	<ul>
														                            	<li th:each="tree7,iter7 : ${treeData1}">
														                            		<span th:if="${tree6.groupId == tree7.parentId}">
																                            <a  th:attr="a='\''+${iter7.index}+ '\''"  class="listName" th:text="${tree7.groupName}"></a> 
																                            <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree7.groupId}','L8')|" >
																								<i class='fa fa-plus-square'></i></a>
																                          	<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree7.groupId}','${tree7.groupName}')|" >
																								<i class='fa fa-edit'></i></a>	
																                          		<ul>
																                            	<li th:each="tree8,iter8 : ${treeData1}">
																                            		<span th:if="${tree7.groupId == tree8.parentId}">
																		                            <a  th:attr="a='\''+${iter8.index}+ '\''" class="listName"  th:text="${tree8.groupName}"></a> 
																		                       		<a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree8.groupId}','L9')|" >
																										<i class='fa fa-plus-square'></i></a>
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree8.groupId}','${tree8.groupName}')|" >
																										<i class='fa fa-edit'></i></a>
																									<ul>
																                            	<li th:each="tree9,iter9 : ${treeData1}">
																                            		<span th:if="${tree8.groupId == tree9.parentId}">
																		                            <a  th:attr="a='\''+${iter9.index}+ '\''" class="listName" th:text="${tree9.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child'  class="addChild" th:attr="onclick=|OpenModel('${tree9.groupId}','L10')|" >
																										<i class='fa fa-plus-square'></i></a>
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree9.groupId}','${tree9.groupName}')|" >
																										<i class='fa fa-edit'></i></a>					
																									<ul>
																                            	<li th:each="tree10,iter10 : ${treeData1}">
																                            		<span th:if="${tree9.groupId == tree10.parentId}">
																		                            <a  th:attr="a='\''+${iter10.index}+ '\''" class="listName"  th:text="${tree10.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree10.groupId}','L11')|" >
																										<i class='fa fa-plus-square'></i></a>	
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree10.groupId}','${tree10.groupName}')|" >
																										<i class='fa fa-edit'></i></a>				
																									<ul>
																                            	<li th:each="tree11,iter11 : ${treeData1}">
																                            		<span th:if="${tree10.groupId == tree11.parentId}">
																		                            <a  th:attr="a='\''+${iter11.index}+ '\''" class="listName"  th:text="${tree11.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree11.groupId}','L12')|" >
																										<i class='fa fa-plus-square'></i></a>	
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree11.groupId}','${tree11.groupName}')|" >
																										<i class='fa fa-edit'></i></a>
																													
																									<ul>
																                            	<li th:each="tree12,iter12 : ${treeData1}">
																                            		<span th:if="${tree11.groupId == tree12.parentId}">
																		                            <a  th:attr="a='\''+${iter12.index}+ '\''" class="listName"  th:text="${tree12.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree12.groupId}','L13')|" >
																										<i class='fa fa-plus-square'></i></a>	
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree12.groupId}','${tree12.groupName}')|" >
																										<i class='fa fa-edit'></i></a>				
																									<ul>
																                            	<li th:each="tree13,iter13 : ${treeData1}">
																                            		<span th:if="${tree12.groupId == tree13.parentId}">
																		                            <a  th:attr="a='\''+${iter13.index}+ '\''" class="listName"  th:text="${tree13.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree13.groupId}','L14')|" >
																										<i class='fa fa-plus-square'></i></a>	
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree13.groupId}','${tree13.groupName}')|" >
																										<i class='fa fa-edit'></i></a>				
																									<ul>
																                            	<li th:each="tree14,iter14 : ${treeData1}">
																                            		<span th:if="${tree13.groupId == tree14.parentId}">
																		                            <a  th:attr="a='\''+${iter14.index}+ '\''" class="listName"  th:text="${tree14.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree14.groupId}','L15')|" >
																										<i class='fa fa-plus-square'></i></a>	
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree14.groupId}','${tree14.groupName}')|" >
																										<i class='fa fa-edit'></i></a>				
																									<ul>
																                            	<li th:each="tree15,iter15 : ${treeData1}">
																                            		<span th:if="${tree14.groupId == tree15.parentId}">
																		                            <a  th:attr="a='\''+${iter15.index}+ '\''" class="listName"  th:text="${tree15.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree15.groupId}','L16')|" >
																										<i class='fa fa-plus-square'></i></a>				
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree15.groupId}','${tree15.groupName}')|" >
																										<i class='fa fa-edit'></i></a>
																									<ul>
																                            	<li th:each="tree16,iter16 : ${treeData1}">
																                            		<span th:if="${tree15.groupId == tree16.parentId}">
																		                            <a  th:attr="a='\''+${iter16.index}+ '\''" class="listName"  th:text="${tree16.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree16.groupId}','L17')|" >
																										<i class='fa fa-plus-square'></i></a>				
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree16.groupId}','${tree16.groupName}')|" >
																										<i class='fa fa-edit'></i></a>
																									<ul>
																                            	<li th:each="tree17,iter17 : ${treeData1}">
																                            		<span th:if="${tree16.groupId == tree17.parentId}">
																		                            <a  th:attr="a='\''+${iter17.index}+ '\''" class="listName"  th:text="${tree17.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree17.groupId}','L18')|" >
																										<i class='fa fa-plus-square'></i></a>				
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree17.groupId}','${tree17.groupName}')|" >
																										<i class='fa fa-edit'></i></a>
																									<ul>
																                            	<li th:each="tree18,iter18 : ${treeData1}">
																                            		<span th:if="${tree17.groupId == tree18.parentId}">
																		                            <a  th:attr="a='\''+${iter18.index}+ '\''" class="listName"  th:text="${tree18.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree18.groupId}','L19')|" >
																										<i class='fa fa-plus-square'></i></a>				
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree18.groupId}','${tree18.groupName}')|" >
																										<i class='fa fa-edit'></i></a>
																									<ul>
																                            	<li th:each="tree19,iter19 : ${treeData1}">
																                            		<span th:if="${tree18.groupId == tree19.parentId}">
																		                            <a  th:attr="a='\''+${iter19.index}+ '\''" class="listName"  th:text="${tree19.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree19.groupId}','L20')|" >
																										<i class='fa fa-plus-square'></i></a>				
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|editModel('${tree19.groupId}','${tree19.groupName}')|" >
																										<i class='fa fa-edit'></i></a>
																									<ul>
																                            	<li th:each="tree20,iter20 : ${treeData1}">
																                            		<span th:if="${tree19.groupId == tree20.parentId}">
																		                            <a  th:attr="a='\''+${iter20.index}+ '\''" class="listName"  th:text="${tree20.groupName}"></a> 
																		                          <a data-toggle='modal'  title='Add Child' class="addChild" th:attr="onclick=|OpenModel('${tree20.groupId}','L21')|" >
																										<i class='fa fa-plus-square'></i></a>				
																									<a data-toggle='modal'  title='Edit Child' style="cursor: pointer;" class="editChild" th:attr="onclick=|EditModel('${tree20.groupId}','${tree20.groupName}')|" >
																										<i class='fa fa-edit'></i></a>
																		                            </span>
																                            	 </li>
																                               </ul>
																		                            </span>
																                            	 </li>
																                               </ul>
																		                            </span>
																                            	 </li>
																                               </ul>
																		                            </span>
																                            	 </li>
																                               </ul>
																		                            </span>
																                            	 </li>
																                               </ul>
																		                            </span>
																                            	 </li>
																                               </ul>
																		                            </span>
																                            	 </li>
																                               </ul>
																		                            </span>
																                            	 </li>
																                               </ul>
																		                            </span>
																                            	 </li>
																                               </ul>
																		                            </span>
																                            	 </li>
																                               </ul>
																		                            </span>
																                            	 </li>
																                               </ul>
																		                            </span>
																                            	 </li>
																                               </ul>
																                               
																                               
																		                            </span>
																                            	 </li>
																                               </ul>
																                            </span>
														                            	 </li>
														                               </ul>
														                            </span>
												                            	 </li>
												                               </ul>
												                            </span>
										                            	 </li>
										                               </ul>
									                            </span>
							                            	 </li>
							                               </ul>
							                            </span>
					                            	  </li>
					                               </ul>
					                             </span> 
					                           </li> 
					                         </ul> 
					                      </span>
					                    </li>  
							         </ul>
							      </div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
               <div style="clear: both;"></div>
            </div>
         </div>
         
         
         <!-- <div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				Modal content
				<div class="modal-content" style="width: 550px; height:240px;">
				 <h4 class="modal-title">Add Child</h4> 
							
								<div class="row">
									<span style="color: red;" id="errorMsg"></span>
									<div th:if="${message != null}">
										<span th:text="${message}" style="color: red;"></span>
									</div>
								</div>
							 
								<div class="row">
									<div class="col-lg-12">
									<input type="hidden" id="parentId" name="parentId" value=""  >
									<input  type="hidden" id="levelName" name="levelName" value="">
                        				<div class="form-group">
                         					<label>Child Name</label>
											<input type="text" class="form-control" name="groupName" id="groupName" >
										</div> <br></br>
										
										<div class="form-group">
											 
											<input type="submit" id="sbmtdata" value="Submit" class="btn btn-success" />
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
										</div>	
										
									</div>
								</div> 
					</div>
				</div>
			</div>   -->
		
		<!-- <div id="myModalParent" class="modal fade" role="dialog">
			<div class="modal-dialog">
				Modal content
				<div class="modal-content" style="width: 550px; height:240px;">
				 <h4 class="modal-title">Add Parent</h4> 							
								<div class="row">
									<span style="color: red;" id="errorMsg"></span>
									<div th:if="${message != null}">
										<span th:text="${message}" style="color: red;"></span>
									</div>
								</div>							 
								<div class="row">
									<div class="col-lg-12">
                        				<div class="form-group">
                         					<label>Parent Name</label>
											<input type="text" class="form-control" name="parentName" id="parentName" >
										</div> <br></br>										
										<div class="form-group">											 
											<input type="submit" id="sbmtdataParent" value="Submit" class="btn btn-success" />
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
										</div>											
									</div>
								</div> 
					</div>
				</div>
			</div>  -->
		
		
		<div id="myModalParent" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Parent</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" onclick="closeModelAddParent();">
							<i class="ti-close"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
	                      					<label>Parent Name</label>
									<input type="text" class="form-control" name="parentName" id="parentName" >
								</div>	
							</div>
							<input type="hidden" id="natureOfGroup"  >
				<!-- 			<div class="col-lg-4">
								<div class="form-group">
									<label>Nature Of Group</label>
									<select class="form-select" id="natureOfGroup">
										<option value="">Select</option>
										<option value="Assets">Assets</option>
										<option value="Liabilities">Liabilities</option>
										<option value="Expenses">Expenses</option>
										<option value="Incomes">Incomes</option>
									</select>
								</div>
							</div> -->
							
						</div>
						
						<div class="modal-footer mt-4">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary"
								onclick="addParentInfo()">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Child</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" onclick="closeModelAddChild();">
							<i class="ti-close"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<input type="hidden" id="parentId" name="parentId" value=""  >
							<input  type="hidden" id="levelName" name="levelName" value="">
                			<div class="form-group">
                 				<label>Child Name</label>
								<input type="text" class="form-control" name="groupName" id="groupName" >
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary"
								onclick="addChildInfo()">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="myModalEdit" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Modify Name</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" onclick="closeModelEdit();">
							<i class="ti-close"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<!-- <input type="hidden" id="parentId" name="parentId" value=""  > -->
							<!-- <input  type="hidden" id="levelName" name="levelName" value=""> -->
							<input type="hidden" id="editId">
                			<div class="form-group">
                 				<label>Name</label>
								<input type="text" class="form-control" id="editName" >
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal" onclick="closeModelEdit();">Close</button>
							<button type="button" class="btn btn-primary"
								onclick="modifyNameCategory()">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="myModalEditParent" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Modify Name</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" onclick="closeModelEditParent();">
							<i class="ti-close"></i>
						</button>
					</div>
					<div class="modal-body">
					
						<div class="row">
						
							<div class="col-lg-12">
								<input type="hidden" id="editIdParent">
	                			<div class="form-group">
	                 				<label>Name</label>
									<input type="text" class="form-control" id="editNameParent" >
								</div>
							</div>
							<input type="hidden" id="natureOfGroupParent"  >
						<!-- 	<div class="col-lg-4">
								<div class="form-group">
									<label>Nature Of Group</label>
									<select class="form-select" id="natureOfGroupParent">
										<option value="">Select</option>
										<option value="Assets">Assets</option>
										<option value="Liabilities">Liabilities</option>
										<option value="Expenses">Expenses</option>
										<option value="Incomes">Incomes</option>
									</select>
								</div>
							</div> -->
						
						
						<div class="modal-footer mt-4">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal" onclick="closeModelEditParent();">Close</button>
							<button type="button" class="btn btn-primary"
								onclick="modifyNameCategoryParent()">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	
      </div>
   </div>
</html>

