<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>



<script src="../javaScript/account/manage-account-group.js"></script>
<link rel="stylesheet"
	href="../assets/css/account/manage-account-group.css" />
<!-- <link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"> -->


</head>

<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">
					<div class="tab-content">

						<!--Tabbination 1 Start-->
						<div id="opd" class="tab-pane active">
							<div class="d-flex flex-column flex-lg-row">

								<!--Left Sec Start-->
								<div class="box-sec" id="collapseWidthR1">
									<div class="out-box">
										<div class="d-flex justify-content-between bdr-line p-2">
											<div class="col-md-8 col-12">
												<div class="d-flex search-sec">
													<input class="form-control me-2" type="text"
														placeholder="Search" id="quickFilter"
														onkeyup="SearchUserInput(event)" autocomplete="off"
														fdprocessedid="bgu18d">
													<button class="btn go-btn" type="button"
														onclick="onQuickFilterChanged()" fdprocessedid="m9agzr">Go</button>
													&nbsp;
													<button class="btn go-btn w-auto" type="button"
														fdprocessedid="iumyz" onclick="resetBtn()">Reset</button>
												</div>
											</div>
											<div class="col-md-2 d-flex justify-content-end">
												<button class="btn btn-primary max-btn"
													id="collapseButtonR1" onclick="triggerExpansionR(1)"
													data-bs-toggle="tooltip" data-bs-placement="top" title=""
													data-bs-original-title="Expand" fdprocessedid="7i2el8">
													<i class="fa-solid fa-maximize" id="expandIconR1"></i> <i
														class="fa-solid fa-minimize d-none" id="shrinkIconR1"></i>
												</button>
											</div>

										</div>



										<div class="card m-2 p-2">
											<div class="card-body p-2">
												<div class="basic-elements">
													<form action="javascript:void(0)" th:object="${urole}"
														onsubmit="return validateForm();">
														<div class="row">
															<div th:if="${message != null}">
																<span th:text="${message}" style="color: red;"></span>
															</div>
														</div>
														<div class="row">

															<div class="col-lg-12">
																<div class="form-group">
																	<h5 class="childSection-title">Account Group</h5>


																	<div class="col-md-12">
																		<!-- 	<input type="button" value="ADD PARENT GROUP"
																					class="btn btn-primary"
																					th:attr="onclick=|OpenModelParent()|" /> -->
																		<ul id="tree1">

																			<li th:each="tree,iter : ${treeData1}"><span
																				th:if="${tree.parentId == NULL}"> <a
																					th:attr="a='\''+${iter.index}+ '\''"
																					class="listName" th:text="${tree.groupName}"></a> <a
																					data-toggle='modal' class="addChild"
																					title='Add Child'
																					th:attr="onclick=|OpenModel('${tree.groupId}','L2')|">
																						<i class='fa fa-plus-square'></i>
																				</a> <a data-toggle='modal' class="editChild"
																					title='Edit' style="cursor: pointer;"
																					th:attr="onclick=|editModelParent('${tree.groupId}','${tree.groupName}','${tree.natureOfGroup}')|">
																						<i class='fa fa-edit'></i>
																				</a>

																					<ul>
																						<li th:each="tree2,iter2 : ${treeData1}"><span
																							th:if="${tree.groupId == tree2.parentId}">
																								<a th:attr="a='\''+${iter2.index}+ '\''"
																								class="listName" th:text="${tree2.groupName}"></a>
																								<a data-toggle='modal' title='Add Child'
																								class="addChild"
																								th:attr="onclick=|OpenModel('${tree2.groupId}','L3')|">
																									<i class='fa fa-plus-square'></i>
																							</a> <a data-toggle='modal' title='Edit Child'
																								style="cursor: pointer;" class="editChild"
																								th:attr="onclick=|editModel('${tree2.groupId}','${tree2.groupName}')|">
																									<i class='fa fa-edit'></i>
																							</a>
																								<ul>
																									<li th:each="tree3,iter3 : ${treeData1}">
																										<span
																										th:if="${tree2.groupId == tree3.parentId}">
																											<a th:attr="a='\''+${iter3.index}+ '\''"
																											class="listName" th:text="${tree3.groupName}"></a>
																											<a data-toggle='modal' title='Add Child'
																											class="addChild"
																											th:attr="onclick=|OpenModel('${tree3.groupId}','L4')|">
																												<i class='fa fa-plus-square'></i>
																										</a> <a data-toggle='modal' title='Edit Child'
																											style="cursor: pointer;" class="editChild"
																											th:attr="onclick=|editModel('${tree3.groupId}','${tree3.groupName}')|">
																												<i class='fa fa-edit'></i>
																										</a>
																											<ul>
																												<li th:each="tree4,iter4 : ${treeData1}">
																													<span
																													th:if="${tree3.groupId == tree4.parentId}">
																														<a th:attr="a='\''+${iter4.index}+ '\''"
																														class="listName"
																														th:text="${tree4.groupName}"></a> <a
																														data-toggle='modal' title='Add Child'
																														class="addChild"
																														th:attr="onclick=|OpenModel('${tree4.groupId}','L5')|">
																															<i class='fa fa-plus-square'></i>
																													</a> <a data-toggle='modal' title='Edit Child'
																														style="cursor: pointer;" class="editChild"
																														th:attr="onclick=|editModel('${tree4.groupId}','${tree4.groupName}')|">
																															<i class='fa fa-edit'></i>
																													</a>
																														<ul>
																															<li th:each="tree5,iter5 : ${treeData1}">
																																<span
																																th:if="${tree4.groupId == tree5.parentId}">
																																	<a
																																	th:attr="a='\''+${iter5.index}+ '\''"
																																	class="listName"
																																	th:text="${tree5.groupName}"></a> <a
																																	data-toggle='modal' title='Add Child'
																																	class="addChild"
																																	th:attr="onclick=|OpenModel('${tree5.groupId}','L6')|">
																																		<i class='fa fa-plus-square'></i>
																																</a> <a data-toggle='modal'
																																	title='Edit Child'
																																	style="cursor: pointer;"
																																	class="editChild"
																																	th:attr="onclick=|editModel('${tree5.groupId}','${tree5.groupName}')|">
																																		<i class='fa fa-edit'></i>
																																</a>
																																	<ul>
																																		<li
																																			th:each="tree6,iter6 : ${treeData1}">
																																			<span
																																			th:if="${tree5.groupId == tree6.parentId}">
																																				<a
																																				th:attr="a='\''+${iter6.index}+ '\''"
																																				class="listName"
																																				th:text="${tree6.groupName}"></a> <a
																																				data-toggle='modal'
																																				title='Add Child' class="addChild"
																																				th:attr="onclick=|OpenModel('${tree6.groupId}','L7')|">
																																					<i class='fa fa-plus-square'></i>
																																			</a> <a data-toggle='modal'
																																				title='Edit Child'
																																				style="cursor: pointer;"
																																				class="editChild"
																																				th:attr="onclick=|editModel('${tree6.groupId}','${tree6.groupName}')|">
																																					<i class='fa fa-edit'></i>
																																			</a>
																																				<ul>
																																					<li
																																						th:each="tree7,iter7 : ${treeData1}">
																																						<span
																																						th:if="${tree6.groupId == tree7.parentId}">
																																							<a
																																							th:attr="a='\''+${iter7.index}+ '\''"
																																							class="listName"
																																							th:text="${tree7.groupName}"></a>
																																							<a data-toggle='modal'
																																							title='Add Child'
																																							class="addChild"
																																							th:attr="onclick=|OpenModel('${tree7.groupId}','L8')|">
																																								<i class='fa fa-plus-square'></i>
																																						</a> <a data-toggle='modal'
																																							title='Edit Child'
																																							style="cursor: pointer;"
																																							class="editChild"
																																							th:attr="onclick=|editModel('${tree7.groupId}','${tree7.groupName}')|">
																																								<i class='fa fa-edit'></i>
																																						</a>
																																							<ul>
																																								<li
																																									th:each="tree8,iter8 : ${treeData1}">
																																									<span
																																									th:if="${tree7.groupId == tree8.parentId}">
																																										<a
																																										th:attr="a='\''+${iter8.index}+ '\''"
																																										class="listName"
																																										th:text="${tree8.groupName}"></a>
																																										<a data-toggle='modal'
																																										title='Add Child'
																																										class="addChild"
																																										th:attr="onclick=|OpenModel('${tree8.groupId}','L9')|">
																																											<i class='fa fa-plus-square'></i>
																																									</a> <a data-toggle='modal'
																																										title='Edit Child'
																																										style="cursor: pointer;"
																																										class="editChild"
																																										th:attr="onclick=|editModel('${tree8.groupId}','${tree8.groupName}')|">
																																											<i class='fa fa-edit'></i>
																																									</a>
																																										<ul>
																																											<li
																																												th:each="tree9,iter9 : ${treeData1}">
																																												<span
																																												th:if="${tree8.groupId == tree9.parentId}">
																																													<a
																																													th:attr="a='\''+${iter9.index}+ '\''"
																																													class="listName"
																																													th:text="${tree9.groupName}"></a>
																																													<a data-toggle='modal'
																																													title='Add Child'
																																													class="addChild"
																																													th:attr="onclick=|OpenModel('${tree9.groupId}','L10')|">
																																														<i
																																														class='fa fa-plus-square'></i>
																																												</a> <a data-toggle='modal'
																																													title='Edit Child'
																																													style="cursor: pointer;"
																																													class="editChild"
																																													th:attr="onclick=|editModel('${tree9.groupId}','${tree9.groupName}')|">
																																														<i class='fa fa-edit'></i>
																																												</a>
																																													<ul>
																																														<li
																																															th:each="tree10,iter10 : ${treeData1}">
																																															<span
																																															th:if="${tree9.groupId == tree10.parentId}">
																																																<a
																																																th:attr="a='\''+${iter10.index}+ '\''"
																																																class="listName"
																																																th:text="${tree10.groupName}"></a>
																																																<a data-toggle='modal'
																																																title='Add Child'
																																																class="addChild"
																																																th:attr="onclick=|OpenModel('${tree10.groupId}','L11')|">
																																																	<i
																																																	class='fa fa-plus-square'></i>
																																															</a> <a data-toggle='modal'
																																																title='Edit Child'
																																																style="cursor: pointer;"
																																																class="editChild"
																																																th:attr="onclick=|editModel('${tree10.groupId}','${tree10.groupName}')|">
																																																	<i class='fa fa-edit'></i>
																																															</a>
																																																<ul>
																																																	<li
																																																		th:each="tree11,iter11 : ${treeData1}">
																																																		<span
																																																		th:if="${tree10.groupId == tree11.parentId}">
																																																			<a
																																																			th:attr="a='\''+${iter11.index}+ '\''"
																																																			class="listName"
																																																			th:text="${tree11.groupName}"></a>
																																																			<a
																																																			data-toggle='modal'
																																																			title='Add Child'
																																																			class="addChild"
																																																			th:attr="onclick=|OpenModel('${tree11.groupId}','L12')|">
																																																				<i
																																																				class='fa fa-plus-square'></i>
																																																		</a> <a
																																																			data-toggle='modal'
																																																			title='Edit Child'
																																																			style="cursor: pointer;"
																																																			class="editChild"
																																																			th:attr="onclick=|editModel('${tree11.groupId}','${tree11.groupName}')|">
																																																				<i
																																																				class='fa fa-edit'></i>
																																																		</a>

																																																			<ul>
																																																				<li
																																																					th:each="tree12,iter12 : ${treeData1}">
																																																					<span
																																																					th:if="${tree11.groupId == tree12.parentId}">
																																																						<a
																																																						th:attr="a='\''+${iter12.index}+ '\''"
																																																						class="listName"
																																																						th:text="${tree12.groupName}"></a>
																																																						<a
																																																						data-toggle='modal'
																																																						title='Add Child'
																																																						class="addChild"
																																																						th:attr="onclick=|OpenModel('${tree12.groupId}','L13')|">
																																																							<i
																																																							class='fa fa-plus-square'></i>
																																																					</a> <a
																																																						data-toggle='modal'
																																																						title='Edit Child'
																																																						style="cursor: pointer;"
																																																						class="editChild"
																																																						th:attr="onclick=|editModel('${tree12.groupId}','${tree12.groupName}')|">
																																																							<i
																																																							class='fa fa-edit'></i>
																																																					</a>
																																																						<ul>
																																																							<li
																																																								th:each="tree13,iter13 : ${treeData1}">
																																																								<span
																																																								th:if="${tree12.groupId == tree13.parentId}">
																																																									<a
																																																									th:attr="a='\''+${iter13.index}+ '\''"
																																																									class="listName"
																																																									th:text="${tree13.groupName}"></a>
																																																									<a
																																																									data-toggle='modal'
																																																									title='Add Child'
																																																									class="addChild"
																																																									th:attr="onclick=|OpenModel('${tree13.groupId}','L14')|">
																																																										<i
																																																										class='fa fa-plus-square'></i>
																																																								</a> <a
																																																									data-toggle='modal'
																																																									title='Edit Child'
																																																									style="cursor: pointer;"
																																																									class="editChild"
																																																									th:attr="onclick=|editModel('${tree13.groupId}','${tree13.groupName}')|">
																																																										<i
																																																										class='fa fa-edit'></i>
																																																								</a>
																																																									<ul>
																																																										<li
																																																											th:each="tree14,iter14 : ${treeData1}">
																																																											<span
																																																											th:if="${tree13.groupId == tree14.parentId}">
																																																												<a
																																																												th:attr="a='\''+${iter14.index}+ '\''"
																																																												class="listName"
																																																												th:text="${tree14.groupName}"></a>
																																																												<a
																																																												data-toggle='modal'
																																																												title='Add Child'
																																																												class="addChild"
																																																												th:attr="onclick=|OpenModel('${tree14.groupId}','L15')|">
																																																													<i
																																																													class='fa fa-plus-square'></i>
																																																											</a> <a
																																																												data-toggle='modal'
																																																												title='Edit Child'
																																																												style="cursor: pointer;"
																																																												class="editChild"
																																																												th:attr="onclick=|editModel('${tree14.groupId}','${tree14.groupName}')|">
																																																													<i
																																																													class='fa fa-edit'></i>
																																																											</a>
																																																												<ul>
																																																													<li
																																																														th:each="tree15,iter15 : ${treeData1}">
																																																														<span
																																																														th:if="${tree14.groupId == tree15.parentId}">
																																																															<a
																																																															th:attr="a='\''+${iter15.index}+ '\''"
																																																															class="listName"
																																																															th:text="${tree15.groupName}"></a>
																																																															<a
																																																															data-toggle='modal'
																																																															title='Add Child'
																																																															class="addChild"
																																																															th:attr="onclick=|OpenModel('${tree15.groupId}','L16')|">
																																																																<i
																																																																class='fa fa-plus-square'></i>
																																																														</a> <a
																																																															data-toggle='modal'
																																																															title='Edit Child'
																																																															style="cursor: pointer;"
																																																															class="editChild"
																																																															th:attr="onclick=|editModel('${tree15.groupId}','${tree15.groupName}')|">
																																																																<i
																																																																class='fa fa-edit'></i>
																																																														</a>
																																																															<ul>
																																																																<li
																																																																	th:each="tree16,iter16 : ${treeData1}">
																																																																	<span
																																																																	th:if="${tree15.groupId == tree16.parentId}">
																																																																		<a
																																																																		th:attr="a='\''+${iter16.index}+ '\''"
																																																																		class="listName"
																																																																		th:text="${tree16.groupName}"></a>
																																																																		<a
																																																																		data-toggle='modal'
																																																																		title='Add Child'
																																																																		class="addChild"
																																																																		th:attr="onclick=|OpenModel('${tree16.groupId}','L17')|">
																																																																			<i
																																																																			class='fa fa-plus-square'></i>
																																																																	</a> <a
																																																																		data-toggle='modal'
																																																																		title='Edit Child'
																																																																		style="cursor: pointer;"
																																																																		class="editChild"
																																																																		th:attr="onclick=|editModel('${tree16.groupId}','${tree16.groupName}')|">
																																																																			<i
																																																																			class='fa fa-edit'></i>
																																																																	</a>
																																																																		<ul>
																																																																			<li
																																																																				th:each="tree17,iter17 : ${treeData1}">
																																																																				<span
																																																																				th:if="${tree16.groupId == tree17.parentId}">
																																																																					<a
																																																																					th:attr="a='\''+${iter17.index}+ '\''"
																																																																					class="listName"
																																																																					th:text="${tree17.groupName}"></a>
																																																																					<a
																																																																					data-toggle='modal'
																																																																					title='Add Child'
																																																																					class="addChild"
																																																																					th:attr="onclick=|OpenModel('${tree17.groupId}','L18')|">
																																																																						<i
																																																																						class='fa fa-plus-square'></i>
																																																																				</a> <a
																																																																					data-toggle='modal'
																																																																					title='Edit Child'
																																																																					style="cursor: pointer;"
																																																																					class="editChild"
																																																																					th:attr="onclick=|editModel('${tree17.groupId}','${tree17.groupName}')|">
																																																																						<i
																																																																						class='fa fa-edit'></i>
																																																																				</a>
																																																																					<ul>
																																																																						<li
																																																																							th:each="tree18,iter18 : ${treeData1}">
																																																																							<span
																																																																							th:if="${tree17.groupId == tree18.parentId}">
																																																																								<a
																																																																								th:attr="a='\''+${iter18.index}+ '\''"
																																																																								class="listName"
																																																																								th:text="${tree18.groupName}"></a>
																																																																								<a
																																																																								data-toggle='modal'
																																																																								title='Add Child'
																																																																								class="addChild"
																																																																								th:attr="onclick=|OpenModel('${tree18.groupId}','L19')|">
																																																																									<i
																																																																									class='fa fa-plus-square'></i>
																																																																							</a>
																																																																								<a
																																																																								data-toggle='modal'
																																																																								title='Edit Child'
																																																																								style="cursor: pointer;"
																																																																								class="editChild"
																																																																								th:attr="onclick=|editModel('${tree18.groupId}','${tree18.groupName}')|">
																																																																									<i
																																																																									class='fa fa-edit'></i>
																																																																							</a>
																																																																								<ul>
																																																																									<li
																																																																										th:each="tree19,iter19 : ${treeData1}">
																																																																										<span
																																																																										th:if="${tree18.groupId == tree19.parentId}">
																																																																											<a
																																																																											th:attr="a='\''+${iter19.index}+ '\''"
																																																																											class="listName"
																																																																											th:text="${tree19.groupName}"></a>
																																																																											<a
																																																																											data-toggle='modal'
																																																																											title='Add Child'
																																																																											class="addChild"
																																																																											th:attr="onclick=|OpenModel('${tree19.groupId}','L20')|">
																																																																												<i
																																																																												class='fa fa-plus-square'></i>
																																																																										</a>
																																																																											<a
																																																																											data-toggle='modal'
																																																																											title='Edit Child'
																																																																											style="cursor: pointer;"
																																																																											class="editChild"
																																																																											th:attr="onclick=|editModel('${tree19.groupId}','${tree19.groupName}')|">
																																																																												<i
																																																																												class='fa fa-edit'></i>
																																																																										</a>
																																																																											<ul>
																																																																												<li
																																																																													th:each="tree20,iter20 : ${treeData1}">
																																																																													<span
																																																																													th:if="${tree19.groupId == tree20.parentId}">
																																																																														<a
																																																																														th:attr="a='\''+${iter20.index}+ '\''"
																																																																														class="listName"
																																																																														th:text="${tree20.groupName}"></a>
																																																																														<a
																																																																														data-toggle='modal'
																																																																														title='Add Child'
																																																																														class="addChild"
																																																																														th:attr="onclick=|OpenModel('${tree20.groupId}','L21')|">
																																																																															<i
																																																																															class='fa fa-plus-square'></i>
																																																																													</a>
																																																																														<a
																																																																														data-toggle='modal'
																																																																														title='Edit Child'
																																																																														style="cursor: pointer;"
																																																																														class="editChild"
																																																																														th:attr="onclick=|EditModel('${tree20.groupId}','${tree20.groupName}')|">
																																																																															<i
																																																																															class='fa fa-edit'></i>
																																																																													</a>
																																																																												</span>
																																																																												</li>
																																																																											</ul>
																																																																									</span>
																																																																									</li>
																																																																								</ul>
																																																																						</span>
																																																																						</li>
																																																																					</ul>
																																																																			</span>
																																																																			</li>
																																																																		</ul>
																																																																</span>
																																																																</li>
																																																															</ul>
																																																													</span>
																																																													</li>
																																																												</ul>
																																																										</span>
																																																										</li>
																																																									</ul>
																																																							</span>
																																																							</li>
																																																						</ul>
																																																				</span>
																																																				</li>
																																																			</ul>
																																																	</span>
																																																	</li>
																																																</ul>
																																														</span>
																																														</li>
																																													</ul>
																																											</span>
																																											</li>
																																										</ul>


																																								</span>
																																								</li>
																																							</ul>
																																					</span>
																																					</li>
																																				</ul>
																																		</span>
																																		</li>
																																	</ul>
																															</span>
																															</li>
																														</ul>
																												</span>
																												</li>
																											</ul>
																									</span>
																									</li>
																								</ul>
																						</span></li>
																					</ul>
																			</span></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>

										</div>


									</div>

								</div>

								<!--Left Sec End-->



								<!--Right Sec Start-->
								<div class="box-sec" id="collapseWidthL1">
									<div class="out-box" id="rightSideDiv">

										<div
											class="d-flex justify-content-between align-items-center p-2 border-bottom">
											<!--Right Inner Tab Start-->
											<ul class="nav nav-pills newtab  tablistUl" role="tablist">
												<li class="nav-item wd-11"><a class="nav-link active"
													data-bs-toggle="pill" id="userGroupNav"
													href="#groupCreation" onclick="createWorkspace()">Account
														Group</a></li>

											</ul>
											<button alt="Maximize" class="btn btn-primary max-btn"
												id="collapseButtonL1" onclick="triggerExpansionL(1)"
												data-bs-toggle="tooltip" data-bs-placement="top"
												title="Expand">
												<i class="fa-solid fa-maximize" id="expandIconL1"></i> <i
													class="fa-solid fa-minimize d-none" id="shrinkIconL1"></i>
											</button>
										</div>








										<!-- Tab panes -->

										<div class="tab-content flex-fill h-25">
											<!-- Create Workspace -->
											<div id="groupCreation" class="tab-pane active p-2 h-100">

												<div class="requisition-tbl d-flex flex-column h-100">

													<div class="mb-2">
														<table class="table table-bordered mb-0" width="100%">
															<tr valign="middle" class="operation-row">
																<td width="50%"><strong><div
																			class="col-md-12 requisition_ids_text parent_acc_grp_name_text d-none">
																			<span id="parentGroupName"></span> <span
																				id="accountId"></span>
																		</div></strong></td>
																<!-- <td width="10%">Male</td>
																<td width="10%">45</td> -->
																<td>
																	<div class="d-flex justify-content-end">
																		<div class="mr-2">
																			<button
																				class="btn btn-primary operation-btn  edit-btn"
																				type="button" id="add-btn"
																				onclick="addParentGroup()">Add</button>
																		</div>

																		<div class="mr-2">
																			<button
																				class="btn btn-primary operation-btn  edit-btn d-none"
																				type="button" id="cancelform-btn"
																				onclick="cancelForm()">Cancel</button>
																		</div>


																		<div class="mr-2" id="parentSaveBtn">
																			<button class="btn btn-primary edit-btn d-none"
																				id="parent_save_btn_for_grup"
																				onclick="handelSaveBtn()" type="button">Save</button>
																		</div>


																	</div>

																</td>
															</tr>
														</table>
													</div>

													<div class="card p-2">
														<div class="parentChildOperations">

															<div class="rightSideFormParent formSection" data-div="1"
																id="parentAddForm">
																<div class="parentForm-header">
																	<h5 class="parentForm-title">Add Parent</h5>

																</div>

																<div class="parentForm-body">
																	<div class="row">
																		<div class="col-lg-8">
																			<div class="form-group">
																				<label>Parent Name</label><span class="mandatory">*</span>
																				<input type="text" class="form-control"
																					name="parentName" id="parentName" onkeyup="removeSpecialChars(this)">
																			</div>
																		</div>

																		<div class="col-lg-4">
																			<div class="form-group">
																				<label>Nature Of Group</label><span
																					class="mandatory">*</span> <select
																					class="form-select" id="natureOfGroup">
																					<option value="">Select</option>
																					<option value="Assets">Assets</option>
																					<option value="Capital">Capital</option>
																					<option value="Expenses">Expenses</option>
																					<option value="Incomes">Incomes</option>
																					<option value="Investments">Investments</option>
																					<option value="Liabilities">Liabilities</option>
																					<option value="Loans">Loans</option>
																					<option value="Reserve">Reserve</option>
																					<option value="Suspense or Provisions">Suspense
																						or Provisions</option>
																				</select>
																			</div>

																		</div>

																	</div>

																	<!-- <div class="modal-footer mt-4">
																	<button type="button" class="btn btn-secondary"
																		data-bs-dismiss="modal">Close</button>
																	<button type="button" class="btn btn-primary"
																		onclick="addParentInfo()">Save</button>
																</div> -->
																</div>
															</div>

															<div class="formForChild formSection" data-div="2"
																id="addChildData" style="display: none">
																<div class="childSection-content">
																	<div class="childSection-header">
																		<h5 class="childSection-title">Add Child</h5>

																	</div>
																	<div class="childSection-body">
																		<div class="row">
																			<input type="hidden" id="parentId" name="parentId"
																				value=""> <input type="hidden"
																				id="levelName" name="levelName" value="">
																			<div class="form-group">
																				<label>Child Name</label> <input type="text"
																					class="form-control" name="groupName"
																					id="groupName" onkeyup="removeSpecialChars(this)">
																			</div>
																		</div>
																		<!-- <div class="modal-footer">
																		<button type="button" class="btn btn-secondary"
																			data-bs-dismiss="modal">Close</button>
																		<button type="button" class="btn btn-primary"
																			onclick="addChildInfo()">Save</button>
																	</div> -->
																	</div>
																</div>

															</div>


															<div class="childModifySection formSection" data-div="3"
																id="childModify" style="display: none">
																<div class="childModifySection-dialog">
																	<!-- Modal content-->
																	<div class="childModifySection-content">
																		<div class="childModifySection-header">
																			<h5 class="childModifySection-title">Modify Name</h5>

																		</div>
																		<div class="childModifySection-body">
																			<div class="row">
																				<!-- <input type="hidden" id="parentId" name="parentId" value=""  > -->
																				<!-- <input  type="hidden" id="levelName" name="levelName" value=""> -->
																				<input type="hidden" id="editId">
																				<div class="form-group">
																					<label>Name</label> <input type="text"
																						class="form-control" id="editName">
																				</div>
																			</div>
																			<!-- <div class="modal-footer">
																			<button type="button" class="btn btn-secondary"
																				data-bs-dismiss="modal" onclick="closeModelEdit();">Close</button>
																			<button type="button" class="btn btn-primary"
																				onclick="modifyNameCategory()">Save</button>
																		</div> -->
																		</div>
																	</div>
																</div>
															</div>

															<div class="parentModification formSection" data-div="4"
																id="parentModification" style="display: none">
																<div class="parentModification-dialog">
																	<!-- Modal content-->
																	<div class="parentModification-content">
																		<div class="parentModification-header">
																			<h5 class="parentModification-title">Modify Name</h5>

																		</div>
																		<div class="parentModification-body">

																			<div class="row">

																				<div class="col-lg-8">
																					<input type="hidden" id="editIdParent">
																					<div class="form-group">
																						<label>Name</label> <input type="text"
																							class="form-control" id="editNameParent">
																					</div>
																				</div>

																				<div class="col-lg-4">
																					<div class="form-group">
																						<label>Nature Of Group</label> <select
																							class="form-select" id="natureOfGroupParent">
																							<option value="">Select</option>
																							<option value="Assets">Assets</option>
																							<option value="Liabilities">Liabilities</option>
																							<option value="Expenses">Expenses</option>
																							<option value="Incomes">Incomes</option>
																						</select>
																					</div>
																				</div>


																				<!-- <div class="modal-footer mt-4">
																				<button type="button" class="btn btn-secondary"
																					data-bs-dismiss="modal"
																					onclick="closeModelEditParent();">Close</button>
																				<button type="button" class="btn btn-primary"
																					onclick="modifyNameCategoryParent()">Save</button>
																			</div> -->
																			</div>
																		</div>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>

									</div>

								</div>
							</div>
							<!--Tabbination 1 End-->

						</div>

					</div>
				</div>

			</div>
		</div>
</body>
</html>