
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 25%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 15px;
}

/*.btn1 {
	border: none;
	border-radius: 7px;
	font-size: 14px;
	background-color: #5784c4;
	color: #fff !important;
	margin-left: 5px;
	margin-bottom: 8px;
	width: 102px;
	height: 33px;
	line-height: 12px;
	float: right;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
}*/

.btn3 {
	border: none;
	border-radius: 7px;
	font-size: 14px;
	background-color: #ff4b4b;
	color: #fff !important;
	margin-left: 5px;
	margin-bottom: 8px;
	width: 70px;
	height: 28px;
	line-height: 12px;
	float: right;
	text-transform: uppercase;
	cursor: pointer;
	white-space: normal;
	font-weight: bold;
}

.taskInfo {
	padding-left: 10px;
	color: #0c63e4;
}

.rating {
	float: left;
}

.rating:not(:checked )>input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rating:not(:checked )>label {
	float: right;
	width: 1em;
	padding: 0 .1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.6);
	/*  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked )>label:before {
	content: '★ ';
}

.rating>input:checked ~ label {
	color: #ea0;
	/*  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked )>label:hover, .rating:not(:checked )>label:hover 
	 ~ label {
	color: black;
	/*  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating>input:checked+label:hover, .rating>input:checked+label:hover ~
	label, .rating>input:checked ~ label:hover, .rating>input:checked ~
	label:hover ~ label, .rating>label:hover ~ input:checked ~ label {
	color: #ea0;
	/*  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating>label:active {
	position: relative;
	top: 2px;
	left: 2px;
}

.btn-outline-primary {
	color: #007bff;
	background-color: rgb(240 243 241/ 90%);
	background-image: none;
	border-color: #007bff;
	cursor: pointer;
}

.picker_calendar5 {
	cursor: pointer;
	position: absolute;
	bottom: 361px;
	left: 742px;
}

.picker_calendar6 {
	cursor: pointer;
	position: absolute;
	bottom: 361px;
	left: 1132px;
}

.btnbill {
	position: absolute;
	right: 70px;
	margin-top: -50px;
	z-index: 999;
}

.btn-primarynew {
	color: #fff !important;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.formValidation1 {
	font-size: 10px;
	font-weight: 100;
	color: #ff9e99;
	background-color: transparent;
	position: relative;
	top: -1px;
	padding: 3px 0;
}
</style>
<script>
	$(function() {

		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);

		agGrid.simpleHttpRequest({
			url : "manage-currency-view"
		}).then(function(data) {
			var len = data.length;
			$('#totalReq').find('span').html(len);

			gridOptions.api.setRowData(data);

		});
		$("#myGrid").show();
		$("#delete").attr("disabled", true);
	});

	$(function() {
		$('.collapse').on('show.bs.collapse', function() {
			$(this).siblings('.panel-heading').addClass('active');
		});

	})
	//search bar

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}

	$('input,textarea').focus(
			function() {
				$(this).data('placeholder', $(this).attr('placeholder')).attr(
						'placeholder', '');
			}).blur(function() {
		$(this).attr('placeholder', $(this).data('placeholder'));
	});

	var count = 0;
	function allCheck() {
		count++;

		if (count == 1) {
			$('.checkCls').prop("checked", true);
		} else {
			count = 0;
			$('.checkCls').prop("checked", false);
		}
	}

	var txtLen = 0;
	function textCount(event) {

		var id = event.target.id;
		var pId = $('#' + id).next().attr("id");
		$('#' + pId + ' span').empty();
		txtLen = $('#' + id).val().length;
		$('#' + pId + ' span').append(txtLen);
	}
	// column Defs
	const columnDefs = [
			{
				headerCheckboxSelection : true,
				checkboxSelection : true,
				width : 8,
				sortable : false,
				filter : false,
				resizable : true

			},
			{
				headerName : 'Currency Id',
				field : "currencyid",
				width : 200,
				cellRenderer : function(params) {
					return '<a onclick=editPage("' + params.data.currencyid
							+ ',' + '0' + '") href="javascript:void(0)">'
							+ params.data.currencyid + '</a>';
				}
			},

			{
				headerName : "Formal name",
				field : "formalname",
				width : 200,
				cellStyle : {
					textAlign : 'left'
				}
			},

			{
				headerName : "Formal name",
				field : "currencysymbol",
				width : 200,
				cellStyle : {
					textAlign : 'left'
				}
			}, {
				headerName : "ISO Currency Code",
				field : "currencycode",
				width : 200,
				cellStyle : {
					textAlign : 'left'
				}
			}, {
				headerName : "Number Of Decimal Places",
				field : "decimalplaces",
				width : 200,
				cellStyle : {
					textAlign : 'left'
				}
			}, {
				headerName : "Show Amount in Millions",
				field : "amountmillions",
				width : 200,
				cellStyle : {
					textAlign : 'left'
				}
			}, {
				headerName : "Suffix Symbol to Amount",
				field : "saymbolamount",
				width : 200,
				cellStyle : {
					textAlign : 'left'
				}
			}, {
				headerName : "Add Space Between amount and Symbol",
				field : "spaceamountsymbol",
				width : 200,
				cellStyle : {
					textAlign : 'left'
				}
			}, {
				headerName : " Decimal Places For Amount in Words",
				field : "placesamountwords",
				width : 200,
				cellStyle : {
					textAlign : 'left'
				}
			}];

	const gridOptions = {
		columnDefs : columnDefs,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 200,
			height : 10
		},
		rowSelection : 'multiple',
		suppressRowClickSelection : true,
		onSelectionChanged : rowSelect,
		getRowNodeId : function(data) {
			return data.currencyid;
		}
	};

	
	var deleteId = "";
	function rowSelect() {
		//alert('hello select');
		var selectedRows = gridOptions.api.getSelectedRows();
		deleteId = "";

		for (var i = 0; i < selectedRows.length; i++) {
			deleteId = deleteId + '"' + selectedRows[i].currencyid + '",';
			// deleteId = deleteId  + selectedRows[i].incentiveId + ',';
		}
		deleteId = deleteId.substring(0, deleteId.length - 1);
		console.log(deleteId)
		var rowCount = 0;

		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			$('#delete').attr("disabled", false);

		} else {
			$('#delete').attr("disabled", true);
		}
	}
	// for new button
	function newBtn() {
		//	alert('hello');
		$("#add").hide();
		$("#copy").hide();
		$("#delete").hide();
		$("#myGrid").hide();
		$("#searchRowDiv").hide();
		$("#totalReq").hide();
		$("#statusDiv").hide();
		$("#idDiv").hide();
		$("#collapseFour").hide();
		$("#headingFour").hide();
		$("#myGridActivity").hide();
		$("#currencyid").empty();

		$("#demo").show();

	}
	// for cancel button
	function cancelBtn() {
		$("#add").show();
		$("#copy").show();
		$("#delete").show();
		$("#totalReq").show();
		$("#myGrid").show();
		$("#searchRowDiv").show();
		$("#demo").hide();

		$('#currencyid').val("");
		$('#formalname').val("");
		$('#currencysymbol').val("");
		$('#currencycode').val("");
		$('#decimalplaces').val("");
		$('#amountmillions').val("");
		$('#saymbolamount').val("");  
		$('#spaceamountsymbol').val("");
		$('#placesamountwords').val("");
		

		agGrid.simpleHttpRequest({
			url : "manage-currency-view"
		}).then(function(data) {
			gridOptions.api.setRowData(data);
		});
	}


	// Edit & stage change 
	function editPage(id) {
		//alert(id);
		var editId = id.split(",");

		var currencyid = editId[0];

		var modal = editId[1];
		//alert('colorId------'+colorId);
		$("#demo").show();
		$("#add").hide();
		$("#copy").hide();
		$("#delete").hide();
		$("#myGrid").hide();
		$("#searchRowDiv").hide();
		$("#totalReq").hide();
		$("#statusDiv").hide();
		$("#idDiv").show();
		$("#collapseFour").hide();
		$("#headingFour").hide();
		$("#myGridActivity").hide();

		$.ajax({
			type : "GET",
			url : "manage-currency-edit?id=" + currencyid,
			async : false,
			success : function(response) {
				console.log("response------" + JSON.stringify(response));
				if (response.message == "Success") {

					$("#add").hide();
					$("#copy").hide();
					$("#delete").hide();
					$("#myGrid").hide();
					$("#searchRowDiv").hide();
					$("#totalReq").hide();
					$("#statusDiv").hide();
					$("#idDiv").hide();
					$("#collapseFour").hide();
					$("#headingFour").hide();
					$("#myGridActivity").hide();

					$("#demo").show();

					$(".container").hide();

					$("#currencyid").text(response.body[0].currencyid);
					$("#formalname").val(response.body[0].formalname);
					$("#currencysymbol").val(response.body[0].currencysymbol);
					$("#currencycode").val(response.body[0].currencycode);
					$("#decimalplaces").val(response.body[0].decimalplaces);
					$("#amountmillions").val(response.body[0].amountmillions); 
					$("#saymbolamount").val(response.body[0].saymbolamount);  
					$("#spaceamountsymbol").val(response.body[0].spaceamountsymbol);
					$("#placesamountwords").val(response.body[0].placesamountwords);
				
				}

			}
		})
	}


	
</script>
<script>
	//addClubMemberInfo

	function addCurrencyInfo() {

		var obj = {};

		obj.currencyid = $('#currencyid').text();
		obj.formalname = $('#formalname').val();
		obj.currencysymbol = $('#currencysymbol').val();
		obj.currencycode = $('#currencycode').val();
		obj.decimalplaces = $('#decimalplaces').val();
		obj.amountmillions = $('#amountmillions').val(); 
		obj.saymbolamount = $('#saymbolamount').val();
		obj.spaceamountsymbol = $('#spaceamountsymbol').val();
		obj.placesamountwords = $('#placesamountwords').val();
	

		console.log("object on add-----------" + JSON.stringify(obj));
		//return false;

		/* FORM VALIDATION STARTS*/

		var validation = true;

	      if (obj.formalname == null || obj.formalname == "") {
			validation = validationUpdated("Formal name Required",
					"formalname");
			return validation;
		}
		if (obj.currencysymbol == null || obj.currencysymbol == "") {
			validation = validationUpdated("Currency Symbol Required", "currencysymbol");
			return validation;
		}
		if (obj.currencycode == null || obj.currencycode == "") {
			validation = validationUpdated(" ISO Currency Code Required", "currencycode");
			return validation;
		}
		if (obj.decimalplaces == null || obj.decimalplaces == "") {
			validation = validationUpdated("Number Of Decimal Places Required",
					"decimalplaces");
			return validation;
		} 
		if (obj.amountmillions == null || obj.amountmillions == "") {
			validation = validationUpdated("Show Amount in Millions Required",
					"amountmillions");
			return validation;
		} 
		if (obj.saymbolamount == null || obj.saymbolamount == "") {                      
			validation = validationUpdated("Suffix Symbol to Amount Required",
					"saymbolamount");
			return validation;
		} 
		if (obj.spaceamountsymbol == null || obj.spaceamountsymbol == "") {
			validation = validationUpdated("Add Space Between amount and Symbol Required",
					"spaceamountsymbol");
			return validation;
		}   
		
		if (obj.placesamountwords == null || obj.placesamountwords == "") {
			validation = validationUpdated(" Decimal Places For Amount in Words Required",
					"placesamountwords");
			return validation;
		}   
		
 
		/* FORM VALIDATION ENDS*/
//alert(validation);
		if (validation) {
			$.ajax({
				type : "POST",
				url : "manage-currency-add",
				contentType : "application/json",
				data : JSON.stringify(obj),
				success : function(response) {
					if (response.message == "Success") {
						console.log(response);
						swal("Currency added successfully!", " ", "success");

						cancelBtn();
						agGrid.simpleHttpRequest({
							url : "manage-currency-view"
						}).then(function(data) {
							gridOptions.api.setRowData(data);
						});

					}
				},
				error : function(data) {

					//console.log(data);
				}
			})
		}

	}

	function deleteCurrency() {
		//console.log("delete ids--------------"+deleteId);

		$.ajax({
			type : "GET",
			url : "manage-currency-delete?id=" + deleteId,
			success : function(response) {
				if (response.message == "Success") {
					swal("Currency deleted successfully!", " ", "success");
					cancelBtn();
					agGrid.simpleHttpRequest({
						url : "manage-currency-view"
					}).then(function(data) {
						gridOptions.api.setRowData(data);
					});

				}
			}

		});

		$('#delete').attr("disabled", true);
	}

	
</script>
</head>

<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">

					<div class="d-flex justify-content-between">
						<div class="col-md-2  btn-hs">
							<div class="font-design" id="totalReq">
								All Currency(<span></span>)
							</div>
						</div>
						<div class="col-md-4  btn-hs" id="searchRowDiv">
							<div class="input-style">
								<input type="text" placeholder="Search.." name="search"
									class="searchboxinput" onkeyup="cancelBar()"
									oninput="onQuickFilterChanged()" id="quickFilter">
								<div class="searchicon">
									<a href="javascript:void(0)"><span
										style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
										id="closeKey"
										onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
										class="close_i"><i class="ti-close srchicon"></i></span></a><a
										href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
								</div>
							</div>

						</div>
						<div class="col-md-6  buttonsec btn-hs">
							<input type="button" class="btn3" onclick="deleteCurrency()"
								id="delete" value="DELETE" data-toggle="modal"
								data-target="#delete" readonly>
							<!-- <input type="button" class="btn2" id="action" value="Action"
									 readonly> -->

							<input type="button" class="btn1" id="add"
								value="Add Currency" style="width:125px" onclick="newBtn()" readonly>
						</div>
					</div>

					<div id="myGrid" style="width: 100%; height: 500px;"
						class="ag-theme-alpine"></div>

					<div class="collapse" id="demo">
						<div class="innercontent">
							<div class="innerstickybg">
								<div class="d-flex justify-content-between" id="main">
									<div class="col-md-3" >
										Currency ID: <span id="currencyid"></span>
									</div>
									
									<div class="col-md-6 padding-0" align="right">
										<button class="btn1" id="cancel" onclick="cancelBtn()">BACK</button>
										<button class="btn4" id="cancel" onclick="cancelBtn()">CANCEL</button>
										<button class="btn1" id="save" onclick="addCurrencyInfo()">SAVE</button>
									</div>
								</div>
							</div>
							<div class="innercontent">


								<div class="row">


									<div class="col-md-6">
										<div class="form-group">
											<label>Formal name</label> <input type="text"
												class="form-control" id="formalname"
												placeholder="Formal_Name">
										</div>
									</div>

                                          
                                          	<div class="col-md-6">
										<div class="form-group">
											<label>Currency Symbol</label> <input type="text"
												class="form-control" id="currencysymbol"
												placeholder="Currency_Symbol">
										</div>
									</div>
                                          

									<div class="col-md-6">
										<div class="form-group">
											<label>ISO Currency Code</label> <input type="text"
												class="form-control" id="currencycode"
												placeholder="ISO_Currency_Code">
										</div>
									</div>


                                   <div class="col-md-6">
										<div class="form-group">
											<label>Number Of Decimal Places</label> <input type="text"
												class="form-control" id="decimalplaces"
												placeholder="Number_Of_Decimal_Places">
										</div>
									</div>
                                   

									  <div class="col-md-6">
										<div class="form-group">
											<label>Show Amount in Millions</label> <input type="text"
												class="form-control" id="amountmillions"
												placeholder="Show_Amount_in_Millions">
										</div>
									</div>
									
										  <div class="col-md-6">
										<div class="form-group">
											<label>Suffix Symbol to Amount</label> <input type="text"
												class="form-control" id="saymbolamount"
												placeholder="Suffix_Symbol_to_Amount">
										</div>
									</div>

                                      <div class="col-md-6">
										<div class="form-group">
											<label>Add Space Between amount and Symbol</label> <input type="text"
												class="form-control" id="spaceamountsymbol"
												placeholder="Add_Space_Between_amount_and_Symbol">
										</div>
									</div>
                                    
                                       <div class="col-md-6">
										<div class="form-group">
											<label> Decimal Places For Amount in Words</label> <input type="text"
												class="form-control" id="placesamountwords"
												placeholder="Decimal_Places_For_Amount_in_Words">
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>