.nav-tabs .nav-item .nav-link {
    display: flex;
    height: 54px;
    align-items: center;
    justify-content: center;
}
/*.nav-tabs .nav-item .nav-link:hover{
	border:none !important;
}*/
.form-select {font-size: 12px;}

        .order-conf {
            font-size: 10px;
            margin: 0 28px;
        }

        .inventory-overview-table th {
            border: 1px solid #b7b7b7 !important;
            font-weight: 600;
            background-color: #c0c0c0;
            font-weight: 500;
            font-size: 10px;
        }

        .inventory-overview-table td {
            font-size: 14px;
            font-weight: 500;
        }

        .inventory-overview-table {
            display: flex;
            flex-flow: column;
            width: 100%;
            border-collapse: collapse;
        }

        .inventory-overview-table thead {
            padding-right: 5px;
            flex: 0 0 auto;
        }

        .inventory-overview-table tbody {
            flex: 1 1 auto;
            display: block;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .inventory-overview-table tr {
            width: 100%;
            display: table;
            table-layout: fixed;
        }

        .inventory-dashboard-heading {
            display: flex;
            flex-direction: column;
        }

        .aging-heading {
            font-size: 13px;
            background-color: #d8d8d8;
            padding: 3px;
        }

        .aging-groupwise-table th {
            background-color: #005c9f;
            color: #ffffff;
            text-align: left;
            font-weight: 500;
            padding-left: 3px;
            font-size: 11px;
            border: 1px solid #b7b7b7;
            font-weight: 600;
        }

        .aging-groupwise-table td {
            font-size: 10px;
            border: 1px solid #b7b7b7;
            font-weight: 600;
        }

        .aging-groupwise-table {
            width: 100%;
            border-collapse: collapse;
            display: flex;
            flex-flow: column;
            max-height: 320px;
        }

        .aging-groupwise-table thead {
            padding-right: 13px;
            flex: 0 0 auto;
        }

        .aging-groupwise-table tbody {
            flex: 1 1 auto;
            display: block;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .aging-groupwise-table tr {
            width: 100%;
            display: table;
            table-layout: fixed;
        }

        .aging-groupwise-table tr:first-child {
            position: sticky;
            top: 0;
        }

        .aging-groupwise-table tr:last-child {
            color: #ffffff;
            background-color: #4c6acd;
            font-weight: bold !important;
            position: sticky;
            bottom: 0;
        }

        .table-height-aging {
            max-height: 145px;
        }

        .table-height-aging tr td:last-child {
            font-weight: bold;
        }

        .inventory-dashboard-h2 {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
        }

        .charts-in-row .col-md-3 {
            padding: 2px !important;
        }

      #stockValuesAndSales,
        #stockValuesAndSales1,
        #stockValuesAndSales2,
        #stockValuesAndSales3,
        #stockValuesAndSales4,
        #stockValuesAndSales5,
        #stockValuesAndSales6,
        #stockValuesAndSales7,
        #stockValuesAndSales8,
        #stockValuesAndSales9,
        #stockValuesAndSales10,
        #stockValuesAndSales11,
        #stockValuesAndSales12,
        #stockValuesAndSales13,
        #stockValuesAndSales14,
        #stockValuesAndSales15,
        #inventoryOverviewLine1,
        #inventoryOverviewLine2 ,
        #inventoryOverviewLine3,
        #inventoryOverviewLine4,
        #inventoryOverviewLine5,
        #inventoryOverviewLine6,
        #inventoryOverviewLine7,
        #inventoryOverviewLine8,
        #inventoryOverviewLine9,
        #inventoryOverviewLine10,
        #inventoryOverviewLine11,
        #inventoryOverviewLine12 {
            border: 1px solid #cccccc;
        }

        .net-sales-text {
            transform: rotateZ(-90deg);
            white-space: nowrap;
            width: 38px;
            position: relative;
            top: 82px;
            left: 286px;
            z-index: 1;
            color: rgb(102, 102, 102);
            font-size: 0.9em;
            fill: rgb(102, 102, 102);
        }

        .chart-x-label {
            margin: 0;
            color: rgb(102, 102, 102);
            font-size: 0.9em;
            fill: rgb(102, 102, 102);
        }

        .net-sales-bg {
            background: #423da7;
            height: 3px;
            width: 39px;
        }

        .stock-value-bg {
            background: #61c3fe;
            height: 3px;
            width: 39px;
        }

        .table-height-stock-values {
            max-height: 381px;
        }
        .table-height-stock-values-2 {
            max-height: 135px;
        }
        .table-height-sales-inventory {
            max-height: 350px;
        }
        .table-height-sales-inventory-2 {
            max-height: 150px;
        }
        .sales-inventory-card-head {
    margin: 0;
    font-size: 10px;
    background: #cccccc;
    font-weight: 600;
}
.sales-inventory-card-num {
    margin-top: 11px;
    font-size: 14px;
    color: #777787;
}
.sales-inventory-card {
    margin: 0 2px;
    width: 100%;
}
.inventory-overview-card-head {
    margin: 0;
    font-size: 10px;
    font-weight: 600;
    padding: 1px;
    background-color: #c0c0c0;
    font-weight: 500;
    font-size: 10px;
}
.inventory-overview-card-num {
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0 4px 0;
}
.inventory-overview-card {
    margin: 0 6px;
    width: 100%;
}
.table-inventory-overview-height-1, .table-inventory-overview-height-2, .table-inventory-overview-height-3,
.table-inventory-overview-height-4 {max-height:141.4px;min-height: 141.3px;}
.table-inventory-overview-height-5 {max-height:302.6px !important;min-height: 302.5px;}
.inventory-dashboard-tag {
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    margin: 0;
}
.table-height-item-table{max-height: 241px;}
.brdr-cls {
    height: 148px;
    overflow-y: auto;
    padding: 0 !important;
}
.item-table-cb-heading {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: gainsboro;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding: 4px ;
    font-size: 14px;
}
.cb-item-table-cont {
    padding-left: 10px;
}
.warehouse-cb-heading {
    background: #0263ac;
    width: 100%;
    color: #ffffff;
    text-align: left;
    padding: 3px;
}
.cb-warehouse-cont {
    padding-left: 10px;
}
.warehouse-pie-head {
    background: #ff7171;
    padding: 3px;
}
.brdr-warehouse {
    border: 1px solid #fe7172;
    height: 148px;
    background: #ffffff;
}
.warehouse-icon {
    color: #2091c8;
    font-size: 32px;
}
.warehouse-icon-cont h2 {
    margin: 0;
    font-size: 16px;
}
.warehouse-icon-cont p {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}
.warehouse-card-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: 391px;
    justify-content: space-around;
}
.vendor-warehouse-table {
    width: 100%;
            border-collapse: separate;
            border-spacing: 0 7px;
}
.vendor-warehouse-table tr td:first-child {
    font-size: 10px;
    font-weight: 600;
}
.vendor-warehouse-head {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    margin-top: 10px;
}
.table-height-warehouse th {
            background-color: #005c9f;
            color: #ffffff;
            text-align: left;
            font-weight: 500;
            padding-left: 3px;
            font-size: 11px;
            border: 1px solid #b7b7b7;
            font-weight: 600;
        }

        .table-height-warehouse td {
            font-size: 10px;
            border: 1px solid #b7b7b7;
            font-weight: 600;
        }

        .table-height-warehouse {
            width: 100%;
            border-collapse: collapse;
            display: flex;
            flex-flow: column;
    height: 371px;
        }

        .table-height-warehouse thead {
            padding-right: 13px;
            flex: 0 0 auto;
        }

        .table-height-warehouse tbody {
            flex: 1 1 auto;
            display: block;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .table-height-warehouse tr {
            width: 100%;
            display: table;
            table-layout: fixed;
        }

        .table-height-warehouse tr:first-child {
            position: sticky;
            top: 0;
        }

        .table-height-warehouse tr:last-child {
            color: #ffffff;
            background-color: #4c6acd;
            font-weight: bold !important;
            position: sticky;
            bottom: 0;
        }
        #agingStockValue,
        #agingStockValueByAgingGroup,
        #stockTurnoverDays,
        #agingStockValueByYear,
        #stockValuesAndSales,
        #stockValuesAndSales1,
        #stockValuesAndSales2,
        #stockValuesAndSales3,
        #stockValuesAndSales4,
        #stockValuesAndSales5,
        #stockValuesAndSales6,
        #stockValuesAndSales7,
        #stockValuesAndSales8,
        #stockValuesAndSales9,
        #stockValuesAndSales10,
        #stockValuesAndSales11,
        #stockValuesAndSales12,
        #stockValuesAndSales13,
        #stockValuesAndSales14,
        #stockValuesAndSales15,
        #netSalesInventory, #netProfitInventory, #inventoryOverviewPie,
        #inventoryOverviewLine1,#inventoryOverviewLine2,#inventoryOverviewLine3,#inventoryOverviewLine4,
        #inventoryOverviewLine5,#inventoryOverviewLine6,#inventoryOverviewLine7,#inventoryOverviewLine8,
        #inventoryOverviewLine9,#inventoryOverviewLine10,#inventoryOverviewLine11,#inventoryOverviewLine12,
        #warehouseInventoryValue, #warehouseRestockingCost,#warehouseInventoryStock  {
            width: 100%;
        }

        input[type=checkbox] {
            width: 0;
            margin-right: 16px;
            position: relative;
            top: 0;
            float: left;
        }
        .cb-warehouse-cont label{
            font-size: 13px;
        }
        .cb-item-table-cont label{
            font-size: 13px;
        }
       
/*Added on 18th Oct 2024*/
        .table-height-item-table-new{max-height: 241px;}

        .aging-groupwise-table-new th {
            background-color: #005c9f;
            color: #ffffff;
            text-align: left;
            font-weight: 500;
            padding-left: 3px;
            font-size: 11px;
            border: 1px solid #b7b7b7;
            font-weight: 600;
        }

        .aging-groupwise-table-new td {
            font-size: 10px;
            border: 1px solid #b7b7b7;
            font-weight: 600;
        }

        .aging-groupwise-table-new {
            width: 100%;
            border-collapse: collapse;
            display: flex;
            flex-flow: column;
            /*max-height: 320px;*/
        }

        .aging-groupwise-table-new thead {
            padding-right: 13px;
            flex: 0 0 auto;
        }

        .aging-groupwise-table-new tbody {
            flex: 1 1 auto;
            display: block;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .aging-groupwise-table-new tr {
            width: 100%;
            display: table;
            table-layout: fixed;
        }

        .aging-groupwise-table-new tr:first-child {
            position: sticky;
            top: 0;
        }

        .aging-groupwise-table-new tr:last-child {
            color: #ffffff;
            background-color: #4c6acd;
            font-weight: bold !important;
            position: sticky;
            bottom: 0;
        }



        @media screen and (max-width: 768px) {

            .table-height-item-table-new {
                 max-height: 100%!important;
                 height: 300px!important;
            }
            .aging-groupwise-table-new {
                position: relative;
            }

            .kpi-card-container {
                display: block!important;
            }
            .aging-groupwise-table-new tr {
                width: 100%;
                table-layout: fixed;
                display: revert;
            }
            .aging-groupwise-table-new tbody {
                flex: 1 1 auto;
                display: block;
                overflow-y: auto;
                overflow-x: auto!important;
                 }

                 .table-height-sales-inventory-2{
                    /*max-height: 100%!important;*/
                    max-height: 210px!important;
                } 

                .table-height-sales-inventory{
                     /*max-height: 100%!important;*/
                     max-height: 210px!important;
                }  

        }