<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="nerp-manage">
<head>
<style>
.box-heading {
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	color: #4c4c4c;
	font-family: system-ui, system-ui, sans-serif;
	line-height: 10px;
}

.box-small {
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	color: #4c4c4c;
	font-family: system-ui, system-ui, sans-serif;
	line-height: 10px;
}

.col-gap-1 {
	column-gap: 1em;
}

.box_das {
	height: 177px;
	background: #FFF;
	border-radius: 0.25rem;
	margin: 8px 0px;
	background: transparent;
	/*box-shadow: 3px 5px 8px #dedcdc;*/
	width: 15%;
	flex: 1 1 auto !important;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	border: 1px solid #dedcdc;
}

.box_das:hover {
	cursor: pointer;
	/*box-shadow: 0 0 2px 3px #6a27c070;*/
	border: 2px solid var(- -mainColor);
}

.index-img {
	height: 40px;
	transition: .2s;
	margin-bottom: 5px;
}

.p-lr-10 {
	padding: 0px 10px;
}

.overflow-scroll {
	overflow: scroll;
}

.service-title {
	font-size: 14px;
	text-align: center;
	font-weight: 500;
}
</style>
<script>
function callActivity(id, url) {
	var textValue = $("#" + id).text();
	sessionStorage.setItem('activity', id);
	sessionStorage.setItem('textValue', textValue);
	window.location.href = url;
}
function callActivityWithoutEnc(mod_id, mod_name, func_id, func_name,
		act_id, act_name, url) {
	sessionStorage.setItem('module', mod_id);
	localStorage.setItem('moduleName', mod_id);
	sessionStorage.setItem('function', func_id);
	sessionStorage.setItem('moduleName', mod_name);
	sessionStorage.setItem('activity', act_id);
	sessionStorage.setItem('textValue', act_name);
	sessionStorage.setItem('funText', func_name);
	sessionStorage.setItem('funId', func_id);
	window.location.href = url;
}

function openChangePasswordSection() {
	$(".operationSecDiv").addClass('d-none');
	$("#changePasswordSecDiv").show();
	$("#profileSecDiv,#shiftSecDiv").hide();
}

function openProfileSection() {
	$(".operationSecDiv").addClass('d-none');
	$("#profileSecDiv").show();
	$("#changePasswordSecDiv,#shiftSecDiv").hide();
}

function openShiftSection() {
	$(".operationSecDiv").addClass('d-none');
	$("#shiftSecDiv").show();
	$("#changePasswordSecDiv,#profileSecDiv").hide();
}

$(document).ready(()=>{
	$("#changePasswordSecDiv,#profileSecDiv,#shiftSecDiv").hide();
})
</script>
</head>
<body>
	<div class="container-fluid">
		<div class="d-flex p-1">
			<div class="maincontentsec">
				<div id="tab1" class="tab-pane" role="tabpanel">
					<div class="d-flex flex-column flex-lg-row">
						<!-- <div class="box-sec" id="collapseWidthR1">
							<div class="out-box">
								<div class="h-100 d-flex flex-column">
									<div class="d-flex justify-content-center bdr-line p-2">
										<div class="service-title">Self-Services</div>

									</div>

									<div class="tab-content h-100 overflow-scroll">
										<div class="d-flex flex-wrap col-gap-1 p-lr-10">
											<div class="p-2 box_das flex-fill"
												onclick="openProfileSection()">
												<div align="center">
													<img th:src="${'../assets/index-img/'+'my-profile.png'}"
														class="index-img" style="cursor: pointer;">
												</div>
												<div style="cursor: pointer;" align="center"
													class="box-heading">My Profile</div>
											</div>
											<div class="p-2 box_das flex-fill"
												th:each="d,abm :  ${session.SELFSERVICELIST}"
												th:if="${not #lists.isEmpty(session.SELFSERVICELIST)}"
												th:attr="onclick=|callActivityWithoutEnc('${d.moduleId}','${d.module}','${d.functionId}','${d.function}','${d.activityId}','${d.activity}','${d.url}')|">
												<div align="center">
													<img th:src="${'../assets/index-img/'+d.moduleLogo}"
														class="index-img" style="cursor: pointer;"
														th:id="${d.activityId}">
												</div>
												<div style="cursor: pointer;" align="center"
													class="box-heading" th:id="'act_'+${d.activityId}"
													th:text="${d.activity}"></div>
											</div>
											<div class="p-2 box_das flex-fill"
												onclick="openShiftSection()">
												<div align="center">
													<img th:src="${'../assets/index-img/'+'empl-shift.png'}"
														class="index-img" style="cursor: pointer;">
												</div>
												<div style="cursor: pointer;" align="center"
													class="box-heading">Shift</div>
											</div>
											<div class="p-2 box_das flex-fill"
												onclick="openChangePasswordSection()">
												<div align="center">
													<img th:src="${'../assets/index-img/'+'empl-password.png'}"
														class="index-img" style="cursor: pointer;">
												</div>
												<div style="cursor: pointer;" align="center"
													class="box-heading">Change Password</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> -->
						<div class="box-sec" id="collapseWidthL1">
							<div class="out-box" id="rightSideDiv">
								<div id="changePasswordSecDiv">
									<div th:replace="nerp-change-password :: nerp-change-password"></div>
								</div>
								<div id="profileSecDiv">
									<div th:replace="nerp-profile :: nerp-profile"></div>
								</div>
								<div id="shiftSecDiv">
									<div th:replace="nerp-shift :: nerp-shift"></div>
								</div>
								<!-- <div id="operationSecDiv"> -->
								<div
									class="d-flex justify-content-center bdr-line p-2 operationSecDiv">
									<div class="service-title">Operational</div>
								</div>
								<div class="tab-content h-100 overflow-scroll operationSecDiv">
									<div class="d-flex flex-wrap col-gap-1 p-lr-10">
										<div class="p-2 box_das flex-fill"
											th:each="module,abm :  ${session.MENU}"
											th:if="${not #lists.isEmpty(session.MENU) and module.moduleId != 'MOD061'}"
											th:attr="onclick=|setModule('${module.moduleId}')|">
											<div align="center">
												<img
													th:src="${'../assets/index-img/'+module.moduleLogoName}"
													class="index-img" onClick="setModule(this.id)"
													style="cursor: pointer;" th:id="${module.moduleId}">
											</div>
											<div style="cursor: pointer;" align="center"
												onClick="setModule(this.id)" class="box-heading"
												th:id="'mod_'+${module.moduleId}" th:text="${module.name}">HUMAN
												RESOURCE</div>
											<div style="cursor: pointer;" align="center"
												class="box-small" onClick="setModule(this.id)"
												th:id="${module.moduleId}">Management</div>
											<input type="hidden" th:id="'act_'+${module.moduleId}"
												th:value="${module.activityId}"> <input
												type="hidden" th:id="'fun_'+${module.moduleId}"
												th:value="${module.functionId}">
										</div>
									</div>
								</div>
								<!-- </div> -->
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>