<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Job Listing</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
<script src="../javaScript/recruitment/candidate-portal.js"></script>
<link rel="stylesheet" href="../css/recruitment/candidate-portal.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body>
	<!-- Navbar -->
	<!-- Navbar -->
	<div class="loader-backdrop">
		<div class="spinner-border"></div>
	</div>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light bdr-btm fixed-top top-header">
		<div class="container">
			<div class="d-flex justify-content-between align-items-center w-100">
				<!-- Logo -->
				<div class="logo">
					<a class="navbar-brand" href="https://www.nerp.in"> <img
						src="../assets/images/web-nerp-logo.png" class="img-fluid" />
					</a>
				</div>

				<!-- Centered Navigation Tabs -->
				<div class="d-flex justify-content-center w-100 menu-tab">
					<ul class="nav nav-pills" id="pills-tab" role="tablist">

						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="pills-findjobs-tab"
								data-bs-toggle="pill" data-bs-target="#pills-findjobs"
								type="button" role="tab" aria-controls="pills-findjobs"
								aria-selected="true">Explore Jobs</button>
						</li>
						<li th:if="${session.USER_NAME != null}" class="nav-item"
							role="presentation">
							<button class="nav-link" id="pills-applyjobs-tab"
								data-bs-toggle="pill" data-bs-target="#pills-applyjobs"
								type="button" role="tab" aria-controls="pills-applyjobs"
								aria-selected="false">My Applications</button>
						</li>

						<!-- Optional About Section (commented out) -->
						<!--  
						<li class="nav-item" role="presentation">
						    <button class="nav-link" id="pills-home-tab"
						        data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
						        role="tab" aria-controls="pills-home" aria-selected="false">About Us</button>
						</li> 
						-->

						<li th:if="${session.USER_NAME != null}" class="nav-item"
							role="presentation">
							<button class="nav-link" id="pills-profile-tab"
								data-bs-toggle="pill" data-bs-target="#pills-profile"
								type="button" role="tab" aria-controls="pills-profile"
								aria-selected="false">My Profile</button>
						</li>

					</ul>
				</div>

				<div class="d-flex gap-2 align-content-center align-items-center">
					<input type="hidden" id="userId" th:value="${session.USER_ID}">
					<div th:if="${session.USER_NAME == null}"
						class="login-sec d-flex gap-2">
						<div class="btn btn-primary" id="loginBtn">
							<i class="fa-solid fa-arrow-right-to-bracket"></i> Login
						</div>
						<div class="btn btn-primary" id="registerBtn">
							<i class="fa-solid fa-user-tie"></i> Register
						</div>
					</div>



					<!-- Avatar -->
					<div th:if="${session.USER_NAME != null}" class="dropdown ms-auto">
						<a class="nav-link dropdown-toggle" href="#" id="adminDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img
							src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
							alt="Admin Avatar" style="width: 40px;"
							class="admin-avatar rounded-pill"> <span
							class="profile-name" th:text="${session.USER_NAME}"></span>
						</a>
						<ul class="dropdown-menu dropdown-menu-end"
							aria-labelledby="adminDropdown">

							<li class="nav-item" role="presentation"><button
									class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
									data-bs-target="#pills-profile" type="button" role="tab"
									aria-controls="pills-profile" aria-selected="false">
									<i class="fas fa-user"></i> Profile
								</button>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item text-danger" href="/logout"><i
									class="fas fa-sign-out-alt"></i> Logout</a></li>
						</ul>
					</div>


				</div>
			</div>
		</div>
	</nav>




	<!--Start-->
	<div class="mt-0 pt-0">

		<div class="tab-content" id="pills-tabContent">

			<!--Find Jobs Start-->
			<div class="tab-pane fade show active" id="pills-findjobs"
				role="tabpanel" aria-labelledby="pills-findjobs-tab">

				<!--Banner Start-->
				<div class="banner-sec bg-light">
					<div class="container">
						<h2 class="header-bold">Find your dream job</h2>
						<p>Explore the latest job opportunities and take the next step
							in your career. Browse, apply, and land your perfect role with
							ease.</p>
					</div>
				</div>
				<!--Banner End-->


				<div class="container mt-4">
					<div class="row">
						<!-- Sidebar Filters -->
						<div class="col-md-3 mb-3">
							<div class="border rounded bg-white">


								<div class="filter-section">
									<div class="filter-header">
										<h5>Filter</h5>
										<span class="clear-all">Clear all</span>
									</div>


									<div class="filter-inner">
										<label class="form-label">Date Post</label> <select
											class="form-select mb-3">
											<option>Anytime</option>
										</select>

										<div class="border-bottom mb-2"></div>

										<label class="form-label">Job Type</label>
										<div id="jobTypeList">
											<div class="form-check" th:each="c : ${jobTypeList}">
												<input class="form-check-input" type="checkbox"
													th:value="${c.key}" th:id="'jobType-' + ${c.key}">
												<label class="form-check-label"
													th:for="'jobType-' + ${c.key}" th:text="${c.name}"></label>
											</div>
										</div>


										<div class="border-bottom mt-3 mb-2"></div>

										<label class="form-label mt-2">Range Salary</label>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="salary">
											<label class="form-check-label">Under $1000</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="salary">
											<label class="form-check-label">$1000 to $2500</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="salary">
											<label class="form-check-label">$2500 to $5000</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="salary"
												checked> <label class="form-check-label">Custom</label>
										</div>
										<input type="range" class="form-range mt-2">
										<div class="d-flex justify-content-between range-price">
											<span>$1500</span> <span>$2500</span>
										</div>

										<div class="border-bottom mt-3 mb-2"></div>

										<label class="form-label mt-2">On-site/Remote</label>
										<div class="form-check">
											<input class="form-check-input" type="checkbox"> <label
												class="form-check-label">On-site</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="checkbox"> <label
												class="form-check-label">Hybrid</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" checked>
											<label class="form-check-label">Remote</label>
										</div>

									</div>

								</div>


							</div>
						</div>


						<!-- Job Listings Start -->
						<div class="col-md-9">


							<!-- Search -->
							<div class="search-bar mb-4 d-flex border bg-white">
								<div class="col">
									<div class="d-flex bdr-r align-items-center gap-2">


										<div class="input-group">
											<span class="input-group-text" id="basic-addon1"> <i
												class="fa-solid fa-magnifying-glass mr-1"></i></span> <input
												type="text" class="form-control" id="jobSearchInput"
												placeholder="Search job title or keyword"
												aria-label="Username" aria-describedby="basic-addon1">

										</div>

									</div>
								</div>
								<div class="col">
									<div class="d-flex align-items-center gap-2">

										<div class="input-group">
											<span class="input-group-text"><i
												class="fa-solid fa-location-dot mr-1"></i></span> <select
												class="form-select" id="locationDropdown"
												onchange="locationDropdown(this.value);">
												<option value="" selected>All Location</option>
												<option th:each="c,iter:${jobLocationList}"
													th:value="${c.key}" th:text="${c.name}"></option>
											</select>
										</div>



									</div>
								</div>

								<button>Find jobs</button>
							</div>



							<h5 class="job-title" id="totalJobs"></h5>

							<div class="job-container" id="job-container"></div>

						</div>
					</div>
				</div>





			</div>
			<!--Find Jobs Start-->




			<!--Applied Jobs Start-->
			<div class="tab-pane fade" id="pills-applyjobs" role="tabpanel"
				aria-labelledby="pills-applyjobs-tab">

				<!--Banner-->
				<div class="banner-sec bg-light">
					<div class="container">
						<h2 class="header-bold">Track your job applications</h2>
						<p style="width: 74%;">Stay updated on your job applications
							and track your progress in real time. Check your application
							status, interview updates, and more all in one place!</p>


					</div>
				</div>

				<!--Banner-->


				<!--Start-->

				<div class="container mt-4">
					<div class="card p-4">
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<h2 class="job-title-name" id="jobTitleHead"></h2>
								<p class="job-location" id="jobLocHead"></p>
							</div>
							<div class="text-end">
								<p class="salary" id="jobSalary"></p>
								<p class="job-status">Job post is online</p>
							</div>
						</div>

						<div class="breadcrumbs mt-3">
							<div class="breadcrumbs__item is-active" role="progressbar"
								style="width: 20%">Bookmarked</div>
							<div class="breadcrumbs__item" role="progressbar"
								style="width: 20%">Applying</div>
							<div class="breadcrumbs__item" role="progressbar"
								style="width: 20%">Applied</div>
							<div class="breadcrumbs__item" role="progressbar"
								style="width: 20%">Interviewing</div>
							<div class="breadcrumbs__item" role="progressbar"
								style="width: 20%">Negotiating</div>
						</div>
						<div class="btn-section d-flex gap-3 mt-4 align-items-center">
							<a href="#" class="click-btn" onclick="myFunction()">See
								Details</a> <a href="#" class="btn btn-primary">Apply</a>
						</div>
						<div id="myDIV" class="d-none">
							<div class="row mt-4 desc-txt">
								<div class="col-md-6">
									<h5>Description</h5>

									<div class="job-sum">

										<div class="d-flex flex-column gap-2 border p-3 rounded">
											<div class="d-flex">
												<div class="fw-bold w-25">Job Title</div>
												<div>:</div>
												<div class="ms-2 w-75" id="jobTittle"></div>
											</div>
											<div class="d-flex">
												<div class="fw-bold w-25">Location</div>
												<div>:</div>
												<div class="ms-2 w-75" id="jobLocation"></div>
											</div>
											<div class="d-flex">
												<div class="fw-bold w-25">Date of Joining</div>
												<div>:</div>
												<div class="ms-2 w-75" id="joinDate"></div>
											</div>
											<div class="d-flex">
												<div class="fw-bold w-25">Experience</div>
												<div>:</div>
												<div class="ms-2 w-75" id="jobExperience"></div>
											</div>
											<div class="d-flex">
												<div class="fw-bold w-25">Position Summary</div>
												<div>:</div>
												<div class="ms-2 w-75" id="positionSummary"></div>
											</div>
											<div class="d-flex">
												<div class="fw-bold w-25">Responsibilities</div>
												<div>:</div>
												<div class="ms-2 w-75" id="positionResp"></div>
											</div>
										</div>



									</div>




								</div>
								<div class="col-md-6">
									<h5>Required Skills</h5>
									<ul class="list-group" id="job-skills">
										<!-- <li
											class="list-group-item d-flex justify-content-between align-items-center">
											Adobe
											<div class="progress w-50">
												<div class="progress-bar" style="width: 80%"></div>
											</div>
										</li>
										<li
											class="list-group-item d-flex justify-content-between align-items-center">
											Marketing
											<div class="progress w-50">
												<div class="progress-bar" style="width: 60%"></div>
											</div>
										</li>
										<li
											class="list-group-item d-flex justify-content-between align-items-center">
											Digital Experiences
											<div class="progress w-50">
												<div class="progress-bar" style="width: 70%"></div>
											</div>
										</li>
										<li
											class="list-group-item d-flex justify-content-between align-items-center">
											Strategy
											<div class="progress w-50">
												<div class="progress-bar" style="width: 50%"></div>
											</div>
										</li> -->
									</ul>
								</div>


							</div>


							<div class="row mt-4 desc-txt">
								<div class="col-md-12">
									<div class="border rounded p-3">
										<div class="skills">
											<h5>
												Rate yourself in these skills to increase your chances of
												getting hired. <i
													class="fa-solid fa-chart-line skills-header"></i>
											</h5>

											<table id="jobSkillsTable">
												<thead>
													<tr>
														<th>Skill Name</th>
														<th>Experience Required (Years)</th>
														<th>Required Rating</th>
														<th>Rate Yourself</th>
														<th>Rate Yourself</th>
													</tr>
												</thead>
												<tbody>
													<!-- Skills data will be appended here dynamically -->
												</tbody>
											</table>
										</div>

									</div>


								</div>

							</div>



						</div>
					</div>
				</div>

				<!--End-->

			</div>
			<!--Applied Jobs End-->

			<!--Profile start-->

			<div class="tab-pane fade" id="pills-profile" role="tabpanel"
				aria-labelledby="pills-profile-tab">

				<!--Banner-->
				<div class="banner-sec-profile bg-light">
					<div class="container">
						<h2 class="header-bold">Build Your Professional Profile</h2>
						<p style="width: 74%;">Showcase your skills, experience, and
							achievements to stand out to recruiters. Keep your profile
							updated and increase your chances of landing your dream job!</p>



					</div>
				</div>

				<!--Banner-->


				<!--Start-->

				<div class="container mt-4">
					<div class="card">
						<div class="container profile-sec">
							<div class="row">
								<div class="container rounded mb-5 bg-profile">
									<div class="row">

										<div class="col-md-6 bg-white">

											<div class="p-4 bg-white pb-0">
												<div class="row">
													<!-- Profile Image and Progress Bar -->
													<div class="col-md-6 border-right text-center p-3">
														<div class="progress-circle" id="profileCompletion"
															role="progressbar" aria-valuenow="0" aria-valuemin="0"
															aria-valuemax="100" style="--value: 0">
															<img id="profileImage"
																src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
																alt="Profile Image">
														</div>
														<!-- Percentage Text -->
														<div class="profile-completion-text" id="percentageText">0%</div>
														<!-- Profile Picture Update Button -->
														<div class="profile-picture-update">
															<label for="profilePictureInput">Update Profile
																Picture</label> <input type="file" id="profilePictureInput"
																accept="image/*">
														</div>
														<h5 class="font-weight-bold mt-3">
															<span id="view-cand-fname"></span> <span
																id="view-cand-lname"></span>
														</h5>
														<span class="text-black-50" id="view-cand-email"></span>
													</div>

													<!-- Personal Information Section -->
													<div class="col-md-6 border-right p-3 profile-sec">
														<div class="">
															<h4 class="font-weight-bold">Personal Information</h4>
															<div class=" mt-3">
																<div class=" row">
																	<div class="col-md-12">
																		<label class="labels">Name <span
																			class="text-danger">*</span></label><input type="text"
																			class="form-control profile-input"
																			id="candidate-name" placeholder="First name">
																	</div>
																	<div class="col-md-12">
																		<label class="labels">Surname <span
																			class="text-danger">*</span></label><input type="text"
																			class="form-control profile-input"
																			placeholder="Surname" id="candidate-surname">
																	</div>
																</div>

																<div class="col-md-12 mt-2">
																	<label class="labels">Email <span
																		class="text-danger">*</span></label><input type="text"
																		class="form-control profile-input"
																		placeholder="Enter email" id="candidate-email">
																</div>
																<div class="col-md-12 mt-2">
																	<label class="labels">Phone <span
																		class="text-danger">*</span></label><input type="text"
																		class="form-control profile-input"
																		placeholder="Enter phone number" id="candidate-phone"
																		maxlength="10">
																</div>

																<div class="col-md-12">
																	<label class="labels">Designation <span
																		class="text-danger">*</span></label><input type="text"
																		class="form-control profile-input"
																		placeholder="Designation" id="candidate-designation">
																</div>

																<div class="col-md-12 mt-2">
																	<label for="dob">Date of Birth <span
																		class="text-danger">*</span></label> <input type="date"
																		id="dob" name="dob" class="form-control">
																</div>






															</div>
														</div>
													</div>

												</div>
											</div>

											<!-- Start -->
											<div class="p-4 bg-white pt-0">
												<div class="row">
													<div class="col-md-6">
														<div class="col-md-12 mt-2">
															<label for="gender">Gender <span
																class="text-danger">*</span></label> <select
																class="form-control" id="gender">
																<option value="" selected="" disabled="">Select</option>
																<option value="TGM0001">Male</option>
																<option value="TGM0002">Female</option>
																<option value="TGM0003">Other</option>
															</select>
														</div>

														<div class="col-md-12 mt-2">
															<label class="labels">Country <span
																class="text-danger">*</span></label><input type="text"
																class="form-control profile-input" placeholder="Country">
														</div>


													</div>


													<div class="col-md-6">
														<div class="col-md-12 mt-2">
															<label class="labels">Postcode <span
																class="text-danger">*</span></label><input type="text"
																class="form-control profile-input"
																placeholder="Enter postcode">
														</div>

														<div class="col-md-12 mt-2">
															<label class="labels">State <span
																class="text-danger">*</span></label><input type="text"
																class="form-control profile-input"
																placeholder="Enter state">
														</div>




													</div>


												</div>


												<div class="row mt-2">
													<div class="col-md-12 ">
														<label class="labels">Address <span
															class="text-danger">*</span></label><input type="text"
															class="form-control profile-input"
															placeholder="Enter address">
													</div>
													<div class="col-md-12 ">
														<div class=" mt-4">
															<div
																class="d-flex justify-content-between align-items-center mb-3">
																<h4 class="font-weight-bold">Projects</h4>
																<div>
																	<button type="button" class="btn add-project"
																		id="addProject">Add Project</button>
																</div>
															</div>
																<div id="projectContainer">
																	<div class="card mt-3 p-3 position-relative"
																		id="project-1">
																		<div class="mb-2">
																			<label class="form-label">Project Name</label> <input
																				type="text" class="form-control project-name"
																				name="project_name[]" required>
																		</div>
																		<div class="row mb-2">
																			<div class="col-md-12">
																				<label class="form-label">Project Duration</label>
																				<div class="d-flex">
																					<input type="month" class="form-control me-2 project-start"
																						name="project_start[]" required> <span
																						class="align-self-center">to</span> <input
																						type="month" class="form-control ms-2 project-end"
																						name="project_end[]" required>
																				</div>
																			</div>
																		</div>
																		<div class="mb-2">
																			<label class="form-label">Project Description</label>
																			<textarea class="form-control project-description"
																				name="project_description[]" required></textarea>
																			<small class="text-muted">Max 100 words</small>
																		</div>
																	</div>
																</div>
														</div>
													</div>

												</div>
											</div>
											<!-- End -->

										</div>


										<div class="col-md-6 border-right p-3 py-5 profile-sec">

                                           <!-- <button id="downloadPdf">Download PDF</button> -->
                                           
											<div class="resume-container">
												<div class="resume-header">
													<div class="pic-flex align-content-center mb-3">
														<div class="profile-pic">
															<img id="resumeProfilePic"
																src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
																alt="Profile Image">
														</div>
														<div class="name-sec">
															<div class="full-name">
																<span id="resumeFirstName" class="first-name">Pankaj</span>
																<span id="resumeLastName" class="last-name">Kumar</span>
															</div>
															<div class="contact-info">
																<span class="email"><i
																	class="fa-solid fa-envelope"></i> </span> <span
																	id="resumeEmail" class="email-val">kpankaj@gmail.com</span>
																<span class="separator"></span> <span class="phone"><i
																	class="fa-solid fa-phone"></i> </span>+91<span
																	id="resumePhone" class="phone-val">603692140</span>
															</div>
														</div>
													</div>
													<div class="about">
														<span id="resumePosition" class="position">Full
															Stack Developer</span> <span id="resumeSummary" class="desc">I
															am a full stack developer...</span>
													</div>
												</div>
												<div class="details">
													<div class="section">
														<div class="section__title">Experience</div>
														<div class="section__list" id="resumeExperience">
															<div class="section__list-item">
																<div class="left">
																	<div class="name">KlowdBox</div>
																	<div class="addr">San Fr, CA</div>
																	<div class="duration">Jan 2011 - Feb 2015</div>
																</div>
																<div class="right">
																	<div class="name">Fr developer</div>
																	<div class="desc">did This and that</div>
																</div>
															</div>

															<div class="section__list-item">
																<div class="left">
																	<div class="name">Akount</div>
																	<div class="addr">San Monica, CA</div>
																	<div class="duration">Jan 2011 - Feb 2015</div>
																</div>
																<div class="right">
																	<div class="name">Fr developer</div>
																	<div class="desc">did This and that</div>
																</div>
															</div>
															<!-- Experience items will be dynamically added here -->
														</div>
													</div>
													<div class="section">
														<div class="section__title">Education</div>
														<div class="section__list" id="resumeEducation">
															<!-- Education items will be dynamically added here -->
															<div class="section__list-item">
																<div class="left">
																	<div class="name">Sample Institute of technology</div>
																	<div class="addr">San Fr, CA</div>
																	<div class="duration">Jan 2011 - Feb 2015</div>
																</div>
																<div class="right">
																	<div class="name">Fr developer</div>
																	<div class="desc">did This and that</div>
																</div>
															</div>

															<div class="section__list-item">
																<div class="left">
																	<div class="name">Akount</div>
																	<div class="addr">San Monica, CA</div>
																	<div class="duration">Jan 2011 - Feb 2015</div>
																</div>
																<div class="right">
																	<div class="name">Fr developer</div>
																	<div class="desc">did This and that</div>
																</div>
															</div>
														</div>
													</div>
													<div class="section">
														<div class="section__title">Projects</div>
														<div class="section__list" id="resumeProjects">
															<!-- Project items will be dynamically added here -->
															<div class="section__list-item">
															   <div class="d-flex justify-content-between"><div class="name"></div>
																<div class="project-date"></div></div>
																<div class="text"></div>
															</div>

															<div class="section__list-item">
																<div class="d-flex justify-content-between"><div class="name"></div>
																<div class="project-date"></div></div>
																<div class="text"> 
																</div>
															</div>
														</div>
													</div>
													<div class="section">
														<div class="section__title">Skills</div>
														    <div id="resumeSkillsContainer" class="mt-2">
														        <!-- Added skills will be displayed here in the resume -->
														    </div>
													</div>
													<div class="section">
														<div class="section__title">Interests</div>
														<div class="section__list" id="resumeInterests">
															<div class="section__list-item">
																<div id="resumeInterestText" class="text">Football,
																	programming.</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>



									</div>
								</div>

								<!-- Experience Section -->
								<div class="resume-sec-bg">
									<div class="p-3 py-4 border-top">
										<div class="header">
											<h4 class="font-weight-bold">Professional Summary</h4>
										</div>
										<div id="about-container">
											<!-- Default Experience Card -->
											<div class="anout-card" data-index="1">
												<div class="mb-3">
													<textarea class="form-control" id="profile-summary"
														placeholder="A brief overview of your experience and career aspirations."
														rows="5" oninput="countWords()"></textarea>
													<small class="text-danger" id="wordCount">Word
														Count: 0/200</small>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Experience Section -->
								<div class="resume-sec-bg">
									<div class="p-3 py-4 border-top">
										<div class="header">
											<h4 class="font-weight-bold">Experience</h4>
											<button class="add-experience-btn" onclick="addExperience()">Add
												More Experience</button>
										</div>
										<div id="experience-container">
											<!-- Default Experience Card -->
											<div class="experience-card" data-index="1">
												<h5 class="experience-title">Experience 1</h5>
												<div class="mb-3">
													<label class="form-label">Job Title</label> <input
														type="text" class="form-control"
														placeholder="Enter your job title">
												</div>
												<div class="mb-3">
													<label class="form-label">Company Name</label> <input
														type="text" class="form-control"
														placeholder="Enter company name">
												</div>
												<div class="mb-3">
													<label class="form-label">Experience Description</label>
													<textarea class="form-control"
														placeholder="Describe your experience" rows="3"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Skills Section -->
								<div class="p-3 py-4 border-top resume-sec-bg">
									<h4 class="font-weight-bold">Skills & Experience</h4>
									<div class="row mt-3">
										<div class="col-md-4">
											<label class="labels">Select Skill</label> <select
												id="skillDropdown"
												class="form-control profile-input chosen-select">
												<option value="" disabled selected>-- Select a
													Skill --</option>
											</select>
										</div>
										<div class="col-md-3">
											<label class="labels">Experience</label> <input type="number"
												id="experienceInput" class="form-control profile-input"
												placeholder="Enter number" min="0">
										</div>
										<div class="col-md-3">
											<label class="labels">Duration</label> <select
												id="experienceType" class="form-control profile-input">
												<option value="Years">Years</option>
												<option value="Months">Months</option>
											</select>
										</div>
										<div class="col-md-2 d-flex align-items-end">
											<button class="btn btn-primary w-100" id="addSkill">Add
												Skills</button>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-12">
											<div id="skillsContainer" class="mt-2">
												<!-- Skills with experience will be added here dynamically -->
											</div>
										</div>
									</div>
								</div>
								<!-- Educational Information Section -->
								<div class="p-3 py-4 border-top resume-sec-bg">
									<h4 class="font-weight-bold">Educational Information</h4>
									<div class="row mt-3">
										<div class="col-md-12">
											<label class="labels">Education</label><input type="text"
												class="form-control profile-input"
												placeholder="Enter education details">
										</div>
									</div>
								</div>

								<!-- Resume Upload Section -->
								<div class="p-3 py-4 border-top resume-sec-bg">
									<h4 class="font-weight-bold">Resume</h4>
									<div class="row mt-3">
										<div class="col-md-12">
											<label class="labels">Upload Resume</label><input type="file"
												class="form-control profile-input">
										</div>
									</div>
								</div>

								<!-- Save Profile Button -->
								<div class="mt-4 text-center mb-3 prf-btn">
									<button class="btn btn-primary profile-button" type="button">Save
										Profile</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--End-->

		</div>

	</div>

	<div id="snackbar" class="snackbar"></div>


	</div>

	<!-- Modal -->
	<div class="modal fade authModal" id="authModal"
		data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>

				<div class="modal-body">
					<div class="container" id="container">
						<div class="form-container sign-up-container">

							<div id="sign-up-container">
								<h1>Create Account</h1>

								<div class="d-flex gap-2 mb-2">
									<div class="col">
										<input type="text" id="first-name" placeholder="First Name"
											class="form-control" />
									</div>
									<div class="col">
										<input type="text" id="last-name" placeholder="Last Name"
											class="form-control" />
									</div>

								</div>

								<div class="mb-2 w-100">
									<input type="email" id="email" placeholder="Email"
										class="form-control" autocomplete="off" />
								</div>
								<div class="mb-2 w-100">
									<input type="text" id="phone" placeholder="Phone"
										class="form-control" autocomplete="off" />
								</div>
								<div class="mb-2 w-100">
									<select class="form-control" id="gender">
										<option value="" selected disabled>Select Gender</option>
										<option value="TGM0001">Male</option>
										<option value="TGM0002">Female</option>
										<option value="TGM0003">Other</option>
									</select>
								</div>
								<div class="mb-2 w-100">
									<input type="date" id="dob" name="dob" class="form-control">
								</div>
								<div class="mb-2 w-100">
									<select id="job-source" name="jobSource" class="form-control">
										<option value="" disabled selected>Select your job
											source</option>
										<option value="linkedin">LinkedIn</option>
										<option value="indeed">Indeed</option>
										<option value="naukri">Naukri</option>
										<option value="monster">Monster</option>
										<option value="company_website">Company Website</option>
										<option value="referral">Referral</option>
										<option value="other">Other</option>
									</select>
								</div>
								<div class="mb-2 w-100">
									<input type="text" id="location" name="location"
										class="form-control" placeholder="Location" required="">
								</div>
								<!--  <div class="mb-2 w-100">
                            <input type="email" placeholder="Email" class="form-control"/>
                            </div> -->

								<button class="activebtn" id="signUpCandidate">Sign Up</button>
							</div>

							<div id="otp-container" class="d-none">
								<h6 class="modal-title text-danger fw-bold modal-header-cnt"
									id="otpModalLabel">Please enter the one-time password to
									verify your account</h6>
								<p>
									OTP has been sent to <span id="userEmailDisplay"></span>
								</p>

								<!-- OTP Input Fields -->
								<div class="d-flex justify-content-center gap-2 my-3">
									<input type="text" maxlength="1"
										class="otp-input form-control text-center" /> <input
										type="text" maxlength="1"
										class="otp-input form-control text-center" /> <input
										type="text" maxlength="1"
										class="otp-input form-control text-center" /> <input
										type="text" maxlength="1"
										class="otp-input form-control text-center" />
								</div>

								<!-- OTP Timer (Will be replaced with success message) -->
								<p id="otpTimer" class="text-danger fw-bold"></p>
								<p id="otpVerified" class="text-danger fw-bold"></p>

								<div
									class="modal-footer border-0 d-flex justify-content-center align-items-center gap-2 p-0">
									<button id="verifyOtpBtn" class="btn btn-danger btn-sm">Validate</button>
									<button id="resendOtpBtn" class="btn btn-link btn-sm" disabled>Resend
										OTP</button>
								</div>

								<div id="passwordFields" class="pw-sec"
									style="display: none; text-align: left;">
									<!-- <h5 class="fw-bold text-center text-primary mt-3">Reset Password</h5> -->
									<div class="mb-2">
										<label for="password" class="normal ">New Password</label> <input
											type="password" id="password" class="form-control"
											placeholder="Enter New Password">
									</div>
									<div class="mb-3">
										<label for="confirmPassword" class="normal">Confirm
											Password</label> <input type="password" id="confirmPassword"
											class="form-control" placeholder="Re-enter Password">
									</div>
									<div class="text-center">
										<button id="submitPasswordBtn" class="activebtn">Sign
											Up</button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-container sign-in-container">
							<form th:action="@{/login}" method="post">
								<h1>Sign in</h1>
								<span class="mb-2">or use your account</span>
								<div class="w-100 mb-2">
									<input type="text" name="username" id="username"
										class="form-control" placeholder="User Id /Mobile No ..." />
								</div>
								<div class="w-100 mb-2">
									<input type="password" name="password" id="password"
										class="form-control" placeholder="Password" />
								</div>
								<a href="#">Forgot your password?</a>
								<button class="activebtn">Sign In</button>
							</form>
						</div>
						<div class="overlay-container">
							<div class="overlay">
								<div class="overlay-panel overlay-left">
									<h1>Welcome Back!</h1>
									<p>To keep connected with us please login with your
										personal info</p>
									<button class="ghost activebtn" id="signIn"
										onclick="signInSwitch();">Sign In</button>
								</div>
								<div class="overlay-panel overlay-right">
									<h1>Hello, Friend!</h1>
									<p>Enter your personal details and start journey with us</p>
									<button class="ghost activebtn" id="signUp">Sign Up</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--End-->


</body>
</html>
