<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<!-- <link rel="stylesheet" href="../assets/css/extend/style-extend.css"> -->
<title>Welcome To NERP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<script>

//Document Upload Starts

$(document).ready(function(){	
	
	var temp;
	
		var dateFormat = localStorage.getItem("dateFormat");
		
		$("#fromDateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#idDate').val($(this).val());
		})

		$('#idDate').blur(function() {
			$("#fromDateCalendar").val($(this).val());
		})
		
		var gridDiv = document.querySelector('#myGridVehicle');
		new agGrid.Grid(gridDiv, gridOptionsVehicle);
		
		agGrid.simpleHttpRequest({
			url : 'refuel-setting-view'
			}).then(function(data) {
				console.log("data is"+data);
			gridOptionsVehicle.api.setRowData(data);
			});
		
		
		$("#fromDateCalendar").val("");
		
			$('#dlbutton').attr("disabled", true);
			$("#cancelBtn").hide();
			$("#addData").hide();
			$("#savedetails").hide();
			$("#myGridVehicle").show();
			$('#dlbutton').attr("disabled", true);
					
	});
	
	
		
	function cancelBtn(){
		
	$("#profile").hide();
	$("#newId").show();
	$("#myGridVehicle").show();
			
	}
	
function addissue() {
	
	$("#rfsettingid").val("");
	
	$("#vehicleregno").val("");
	$("#drivername").val("");
	$("#driverphone").val("");
	$("#fueltype").val("");
	$("#idDate").val("");
	$("#rflimit").val("");
	$("#place").val("");
	$("#budget").val("");
	$("#maxunit").val("");
	$("#cpercent").val("");
	$("#kpunit").val("");
	$("#odometerday").val("");
	$("#odorefueling").val("");
	$("#stationname").val("");
	$("#lreading").val("");
	$("#lastunit").val("");
	$("#utaken").val("");
	
	$("#scapply").prop("checked", true);
	$("#fileUpload").val("");
	
	$("#myGridVehicle").hide();

	$('#newId').hide();
	$("#profile").show();
	
}
	
	function savedetails()
	{
		alert("Refuel Setting List Successfully Added!");
		
		var veh={};
		
		veh.rfsettingid = $("#rfsettingid").val();
		
		veh.vehicleregno = $("#vehicleregno").val();
		veh.drivername = $("#drivername").val();
		veh.driverphone = $("#driverphone").val();
		veh.fueltype = $("#fueltype").val();
		veh.idDate = $("#idDate").val();
		veh.rflimit = $("#rflimit").val();
		veh.stationname = $("#stationname").val();
		veh.place = $("#place").val();
		veh.budget = $("#budget").val();
		veh.maxunit = $("#maxunit").val();
		veh.cpercent = $("#cpercent").val();
		veh.kpunit = $("#kpunit").val();
		veh.odometerday = $("#odometerday").val();
		veh.odorefueling = $("#odorefueling").val();
		veh.lreading = $("#lreading").val();
		veh.lastunit= $("#lastunit").val();
		veh.utaken= $("#utaken").val();
		
		veh.scapply= $("#scapply:checkbox:checked").val();
		veh.docName = $("#fileUpload").val();
		
		if (veh.scapply == undefined) {
			
			veh.scapply = "0";

		} else {
			veh.scapply = "1";
		}
		
		$.ajax({
			type : "POST",
			url : "refuel-setting-add",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(veh),
			success : function(response) {
				if (response.message == "Success") {
					agGrid.simpleHttpRequest({
						url : 'refuel-setting-view'
					}).then(function(data) {
					
						gridOptionsVehicle.api.setRowData(data);
					});
					cancelBtn(); 
					
				}
			},
			error : function(response) {
				console.log(response);
			}
		})
	}
		
		//Table For Vehicle Details Starts
		var columnDefsVehicle = [
				{
					headerCheckboxSelection : true,
					headerCheckboxSelectionFilteredOnly : true,
					checkboxSelection : true,
					width : 10,
					sortable : false,
					filter : false,
					resizable : true
					
				},
				{
					headerName : "Refuel Setting ID",
					field : "rfsettingid",
					width: 80,
					 cellRenderer : function(params) {
							return '<a id="" onclick=editdetails("' + params.data.rfsettingid
									+ '") href="javascript:void(0)">'
									+ params.data.rfsettingid + '</a>';
						} 
				}, {
					headerName : "Vehicle Reg No",
					field : "vehicleregno"
				}, {
					headerName : "Driver Name",
					field : "drivername",
				},{
					headerName : "Driver Phone",
					field : "driverphone",
				},{
					headerName : "Fuel Type",
					field : "fueltype",
				},{
					headerName : "Refueled Date",
					field : "idDate",
				},
				{
					headerName : 'Last Reading',
					field : "lreading"
				},
				{
					headerName : 'Refuel Limit',
					field : "rflimit"
				},
				{
					headerName : 'Station Name',
					hide: true,
					field : "stationname"
				},
				{
					headerName : 'Place',
					hide: true,
					field : "place"
				},
				{
					headerName : 'Budget',
					hide: true,
					field : "budget"
				},
				{
					headerName : 'Max Unit',
					hide: true,
					field : "maxunit"
				},
				{
					headerName : 'Consumption Per Cent',
					hide: true,
					field : "cpercent"
				},
				{
					headerName : 'Kilometer Per Unit',
					hide: true,
					field : "kpunit"
				},
				{
					headerName : 'Odometer KM After Day End Stop',
					hide: true,
					field : "odometerday"
				},
				{
					headerName : 'Odometer KM At Time of Refueling',
					hide: true,
					field : "odorefueling"
				},
				{
					headerName : 'Last Unit',
					hide: true,
					field : "lastunit"
				},
				{
					headerName : 'Unit Taken',
					hide: true,
					field : "utaken"
				},
				{
					headerName : 'Safety Check',
					hide: true,
					field : "scapply"
				},
				
				{
					headerName : 'Document Name',
					field : "docName", 
					cellRenderer : function(params) {
						if(params.data.docName != null && params.data.docName != "") {
							var url = window.btoa(params.data.docUrl);
							return '<a id="" onclick=openFile("' + url
							+ '") href="javascript:void(0)">'
							+ params.data.docName + '</a>';
						}
						
					} 
				},
				
			
		];
		
		function openFile(fileName) {
			var url = window.atob(fileName);
			window.location.href = url;
		}
		

		var gridOptionsVehicle = {
			columnDefs : columnDefsVehicle,
			defaultColDef : {
				sortable : true,
				filter : true,
				resizable : true,
				width : 190,
				height : 10
			},
			rowSelection : 'multiple',
			onSelectionChanged : onSelectionChangedState
		};
		
	
	function deletefn()
	{ 
		var selectedRows = gridOptionsVehicle.api.getSelectedRows();
		var id = selectedRows[0].rfsettingid;
		
		alert("Deleted Successfully!"); 
		
		$.ajax({
			type : "POST",
			url : "refuel-setting-delete?id=" + id,
			success : function(response) {
				if (response.message == "Success") {
				//	location.reload();
					agGrid.simpleHttpRequest({
						//url : "view-salary-revision-view?userid="+userid,
						url : 'refuel-setting-view'
					}).then(function(data) {
						gridOptionsVehicle.api.setRowData(data);
					});
					cancelBtn();
				}
			},
			error : function(data) {
				console.log(data);
			}
			
		})
		

	}
	
	function onSelectionChangedState() {

		var selectedRows = gridOptionsVehicle.api.getSelectedRows();
		var rowCount = 0;
		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			
			$('#dlbutton').attr("disabled", false);
			$('#addissue').attr("disabled", true);
		} else {
			$('#dlbutton').attr("disabled", true);
			$('#addissue').attr("disabled", false);
		
		}
	}
		
	//For Search
	function onQuickFilterChanged() {
		gridOptionsVehicle.api.setQuickFilter(document
				.getElementById('quickFilter').value);
	}
	
	
	function editdetails(id) { 
		
		var temp="xyz";
		var status="xyz";
		var temp1="xyz";
		var iURL="/document/issueHistory/"
		
		
		addissue()
		
		$.ajax({
			
			type : "GET",
			url : "refuel-setting-edit?id=" + id,
			
			success : function(response) {
				if (response.message == "success") {
					addissue()
									
					console.log("edit", response.body)
					
					$("#rfsettingid").val(response.body[0].rfsettingid);
					
					$("#vehicleregno").val(response.body[0].vehicleregno);
					$("#drivername").val(response.body[0].drivername);
					$("#driverphone").val(response.body[0].driverphone);
					$("#fueltype").val(response.body[0].fueltype); 
					$("#rflimit").val(response.body[0].rflimit);
					$("#stationname").val(response.body[0].stationname);
					$("#place").val(response.body[0].place);
					$("#budget").val(response.body[0].budget);
					$("#maxunit").val(response.body[0].maxunit);
					$("#cpercent").val(response.body[0].cpercent);
					$("#kpunit").val(response.body[0].kpunit);
					$("#odometerday").val(response.body[0].odometerday);
					$("#odorefueling").val(response.body[0].odorefueling);
					$("#lreading").val(response.body[0].lreading);
					$("#lastunit").val(response.body[0].lastunit);
					$("#utaken").val(response.body[0].utaken);
					
					$("#idDate").val(response.body[0].idDate);
					
					
					$("#userImage").val(response.body[0].docName);
				
					
					var temp = response.body[0].docName;
					console.log("temp=", temp);
					
					$("#imageName_0").html(temp);
					
					var LightImg = "<div class='uploadicon position-l'><a class='example-image-link' href='" + iURL + temp + "' target='_balnk'><i class='fa fa-picture-o'></i></a></div>";

					$("#uploadedBillDiv_").html(LightImg);
					
					var status = response.body[0].scapply;
					if (status === '0') {

						$('#scapply').prop('checked', false)

					} else {
						$('#scapply').prop('checked', true)
					}
					
					$("#savedetails").show();
					
				} 
			},
			error : function(data) {
				console.log(data)
				
				$("#rfsettingid").val("");
				
				$("#vehicleregno").val("");
				$("#drivername").val("");
				$("#driverphone").val("");
				$("#fueltype").val("");
				$("#idDate").val("");
				$("#rflimit").val("");
				$("#place").val("");
				$("#budget").val("");
				$("#maxunit").val("");
				$("#cpercent").val("");
				$("#kpunit").val("");
				$("#odometerday").val("");
				$("#odorefueling").val("");
				$("#stationname").val("");
				$("#lreading").val("");
				$("#lastunit").val("");
				$("#utaken").val("");
				
				$("#fileUpload").val("");			
				
			}
					
		});
		
		
	
}
	
function saveFile() { 

		var uFile = $('#fileUpload')[0].files[0];
		var fileName = $('#fileUpload').val();
		var iURL = URL.createObjectURL(uFile);
		var LightImg = "<div class='uploadicon position-l'><a class='example-image-link' href='" + iURL + "' title='" + fileName + "' target='_balnk'><i class='fa fa-picture-o'></i></a></div>";
		$("#uploadedBillDiv_").html(LightImg);
		
		var lastIndex = fileName.lastIndexOf("\\");
		if (lastIndex >= 0) {
			fileName = fileName.substring(lastIndex + 1);
		}
		
		var iURL = URL.createObjectURL(uFile);

		$('#imgLoc').attr('src', '');
		$('#imgLoc').attr('src', iURL);
  
		var fileData = new FormData();
		fileData.append('file', uFile);
		fileData.append('path', 'none');
		
		console.log("uFile: ",uFile)
		console.log("fileName: ",fileName)
		console.log("iURL: ",iURL)
		console.log("lastIndex: ",lastIndex)
		console.log("fileData: ",fileData)

		$.ajax({
			type : "POST",
			url : "refuel-setting-upload-file",
			enctype : "multipart/form-data",
			contentType : false,
			data : fileData,
			processData : false,
			cache : false,
			success : function(response) {

			},
			error : function(e) {

			}
		});
	
       $("#imageName_0").html(fileName);
	}
	
	
</script>

</head>
<body>
	<div layout:fragment="content">
		<div class="content-wrap">
			<div class="container-fluid">
				<div class="maincontent">
					<div class="row">
						<div class="maincontentsec">
							<div class="content_padding">
								<div id="newId">
									<div class="row">
										<div class="col-md-4  btn-hs">
											<div class="font-design" id="totalEmp">Refuel Setting List</div>
										</div>
										
										<div class="col-md-4  btn-hs">
											<div class="input-style">
												<input type="text" placeholder="Search.." name="search"
													class="searchboxinput" onkeyup="cancelBar()"
													oninput="onQuickFilterChanged()" id="quickFilter">
												<div class="searchicon">
													<a href="javascript: void(0)"><span
														style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
														id="closeKey"
														onclick="gridOptionsVehicle.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
														class="close_i"><i class="ti-close srchicon"></i></span></a><a
														href="javascript: void(0)"><i
														class="ti-search srchicon"></i></a>
												</div>
											</div>

										</div>

										<div class="col-md-4 btn-hs" align="right">

											<button class="btn3" id="dlbutton" onclick="deletefn()">Delete</button>
											<button class="btn4" onclick="upload()">Upload</button>
											<button class="btn4" onclick="downloadEmpDetails()">Download</button>
											<button class="btn2" id="addissue" onclick="addissue()">New</button>

										</div>

									</div>

									<div id="myGridVehicle" style="width: 100%; height: 500px;"
										class="ag-theme-alpine"></div>
								</div>


								<div id="profile" class="collapse">
									<div class="innerstickybg">
										<div class="row">
											<div class="col-md-6 btn-hs"></div>
											<div class="col-md-12" align="right">
												<button class="btn4" id="profilecancelbtn"
													onclick="cancelBtn()">Cancel</button>
												<button class="btn1" id="saveDetails" onclick="savedetails()">Save</button>
											</div>
										</div>
									</div>
									<div class="innercontent">
									
										<div class="row">
										<input type="hidden" class="form-control" id="rfsettingid" autocomplete="off">

											<div class="col-md-4">
												<div class="form-group">
													<label>Vehicle Registration No</label>
													<div class="select">
														<select class="form-control" id="vehicleregno">
															<option value="">Select</option>
															<option th:each="c,iter:${vehiclergList}"
															th:value="${c.name}" th:text="${c.name}"></option>
														</select>
													</div>
												</div>
											</div>
											
										
											<div class="col-md-4">
												<div class="form-group">
													<label>Driver Name</label> <input type="text"
														name="Driver Name" value="" placeholder="Driver Name"
														class="form-control" id="drivername">
												</div>
											</div>
											
											<div class="col-md-4">
												<div class="form-group">
													<label>Driver Phone No</label> <input type="text"
														name="Driver Phone" value="" placeholder="Driver Phone"
														class="form-control" id="driverphone">
												</div>
											</div>
											
											<div class="col-md-4">
												<div class="form-group">
													<label>Fuel Type</label>
													<div class="select">
														<select class="form-control" id="fueltype">
															<option value="">Select</option>
															<option th:each="c,iter:${fuelList}"
															th:value="${c.name}" th:text="${c.name}"></option>
														</select>
													</div>
												</div>
											</div>
											
											<div class="col-md-4">
									<div class="form-group calendar_box">
										<label>Refueled Date</label> <input type="text" disabled id="idDate"
											class="form-control" onblur="removeValid(event)"
											th:attr="onkeyup=|formatDate('idDate','${session.DATEFORMAT_JS}')|">
										<i class="ti-calendar picker_calendar" id="fromDateCalendar"></i>
										</div>
									</div>							
									
									
											<div class="col-md-4">
												<div class="form-group">
													<label>Refuel Limit Type</label> <input type="text"
														name="Driver Phone" value="" placeholder="Refuel Limit Type"
														class="form-control" id="rflimit">
												</div>
											</div></div>
											
											<div class=row>

											<div class="col-md-4">
												<div class="form-group">
													<label>Station Name</label> <input type="text"
														name="Station Name" value="" placeholder="Station Name"
														class="form-control" id="stationname">
												</div>
											</div>
											

											<div class="col-md-4">
												<div class="form-group">
													<label>Place</label> <input type="textarea"
														name="Place" value="" placeholder="Place"
														class="form-control" id="place">
												</div>
											</div>
											
											
											<div class="col-md-4">
												<div class="form-group">
													<label>Budget Given</label> <input type="number"
														name="Budget Given" value="" placeholder="Budget Given"
														class="form-control" id="budget">
												</div>
											</div></div>
											
												<div class=row>

											<div class="col-md-4">
												<div class="form-group">
													<label>Max Unit</label> <input type="number"
														name="Max Unit" value="" placeholder="Max Unit"
														class="form-control" id="maxunit">
												</div>
											</div>
											

											<div class="col-md-4">
												<div class="form-group">
													<label>Consumption Percent</label> <input type="number"
														name="Consumption Percent" value="" placeholder="Consumption %"
														class="form-control" id="cpercent">
												</div>
											</div>
											
											
											<div class="col-md-4">
												<div class="form-group">
													<label>Kilometer Per Unit</label> <input type="number"
														name="Kilometer Per Unit" value="" placeholder="Kilometer / Unit"
														class="form-control" id="kpunit">
												</div>
											</div></div>
											
											<div class=row>

											<div class="col-md-4">
												<div class="form-group">
													<label>Odometer KM After Day End Stop</label> <input type="number"
														name="Odometer KM Day End Stop" value="" placeholder="Odometer KM After Day End Stop"
														class="form-control" id="odometerday">
												</div>
											</div>
											

											<div class="col-md-4">
												<div class="form-group">
													<label>Odometer KM At Time of Refueling</label> <input type="number"
														name="Odometer KM Refueling" value="" placeholder="Odometer KM At Time of Refueling"
														class="form-control" id="odorefueling">
												</div>
											</div><div>
											
											
											<div class=row>

											<div class="col-md-4">
												<div class="form-group">
													<label>Last Reading</label> <input type="number"
														name="Last Reading" value="" placeholder="Last Reading"
														class="form-control" id="lreading">
												</div>
											</div>
											

											<div class="col-md-4">
												<div class="form-group">
													<label>Last Unit</label> <input type="number"
														name="Last Unit" value="" placeholder="Last Unit"
														class="form-control" id="lastunit">
												</div>
											</div>
											
											
											<div class="col-md-4">
												<div class="form-group">
													<label>Unit Taken</label> <input type="number"
														name="Unit Taken" value="" placeholder="Unit Taken"
														class="form-control" id="utaken">
												</div>
											</div></div>
																
								
								<div class="row">
									<div class="col-md-6">
									
										<table id="docTbl">
											<thead>
											<tr class="tr_clone"> <p>
											<th width="380" class="green_type">Fuel Slip Scan Copy</th>
																</tr>
															</thead>
											<tbody id="doctbodyData">

											<td>
											<div class="control-group position-r">
											<label class="custom-file-upload" for="fileUpload"
											 id="uploadFor_0"> <i id="imgLoc" class="ti-plus"></i>
											<div id="uploadedBillDiv_" align="center" class="uploadedBillCls">
											<div class="uploadicon position-l"></div>
											</div>
											</label>
																		
																		
											<div class="controls">
											<input type="file" id="fileUpload" name="userImage" accept="image/*" onchange="saveFile()" />
											</div>
											</div>
											
											 
											<input type="hidden" id="uploadHidden_0" class="uploadHidCls">
											
											
											<div id="uploadedBillDiv_0" align="center" class="uploadedBillCls"></div>
										   <div id="imageName_0" class="userImage"></div>
										    
										  
											</td>
											
											<td width="380" > <br>
					
											<div class="control-group position-xyz">
														<div class="form-group">
															<label>Strict Consumption Apply</label> <input type="checkbox"
																name="scapply" value="" placeholder="Details"
																class="form-control" id="scapply">
											</div> </div>
											</td>
											
											</tbody>
											</table>				
											
											
								
									</div>
								</div>
							</div>
						</div> </div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
</body>
</html>