:root { /* These styles will override the libs native styles */

    body:has(.select2-dropdown) {
        overflow: hidden; /* hide the overflow on body when dropdown is being displayed */
    }

    .select:has(.select2)::after {
        content: ''; /* remove select class's customization when using select-2 */
    }

    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 100% !important; /* select-2 occupies 100% width */
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #ced4da !important; /* match the border color used in nerp standards */
        border-radius: 0 !important;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 35px !important; /* match the height of the tag with nerp standards */
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        display: block;
        padding-left: 0; /* start the content from left matching the label, nerp standard */
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 32px !important; /* adjust the line-height of the font, nerp standards */
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 30px !important; /* adjust the height, nerp standards */
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border: none;
        top: 0;
        left: unset;
        right: 0;
        margin: 0;
    }

    /* replace the select-2's dropdown arrow with nerp standard select dropdown arrow */
    .select2-container--default .select2-selection--single .select2-selection__arrow b::after {
        border: none !important;
        margin: 0 !important;
        content: '\e64b';
        font-family: 'themify';
        position: absolute;
        top: 3px;
        right: 0;
        bottom: 0;
        padding: 0;
        pointer-events: none;
        height: 30px !important;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
        color: #212529;
        width: auto;
        font-size: 16px;
        font-weight: 200;
    }

    .select2-container--default .select2-selection--single .select2-selection__clear {
        cursor: pointer;
        float: right;
        font-weight: bold;
        height: 30px !important; /* adjust the height, nerp standards */
        margin-right: 20px;
        padding-right: 0;
    }

    .select2-container .select2-selection--single .select2-selection__clear {
        background-color: transparent;
        border: none;
        font-size: 1.4em;
		font-weight: lighter;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 32px !important;
        font-size: 12px;
    }

    .select2-container--default .select2-results > .select2-results__options {
        max-height: 200px !important; /* Increase the height of the drop-down as required */
        overflow-y: auto;
    }

    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-radius: 10px !important; /* match the border-radius as per look & feel of a html native select */
    }

    .select2-container--default .select2-search--dropdown .select2-search__field {
        border: 1px solid #aaa;
        border-radius: 8px !important; /* adjust as required for better view */
    }

    .select2-results__option--selectable {
        cursor: pointer;
        font-size: 13px; /* dropdown text font-size */
        font-weight: 100; /* and font-weight */
    }
    .select2-container--default.select2-container--disabled .select2-selection--single, .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__rendered {
        /*background-color: rgb(128 128 128 / 4%) !important;*/
        background-color: transparent !important;
        color: rgba(0, 0, 0, 0.5) !important;
        font-size: 13px !important;
    }
    .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow {
        visibility: hidden;
    }

}