<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"> -->
<link rel="stylesheet" href="../css/his-css/property-management.css">
<script src="/javaScript/asset/property-management.js"></script>
<script src="/javaScript/asset/property-management-functionality.js"></script>


</head>

<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">
					<!--Tabination 1 Start-->
					<div id="tab1" class="tab-pane" role="tabpanel">
						<div class="d-flex flex-column flex-lg-row">
							<!--Left Sec Start-->
							<div class="box-sec" id="collapseWidthR1">
								<div class="out-box">
									<div class="d-flex justify-content-between bdr-line p-2">
										<div class="col-md-8 col-12">
											<div class="d-flex search-sec position-relative">
												<input class="form-control me-2" type="text"
													placeholder="Search" id="quickFilter">
												<button class="btn btn-primary go-btn me-2" type="button"
													onclick="onQuickFilterChanged()">Go</button>
												<button class="btn go-btn w-auto" type="button"
													onclick="reset()">Reset</button>

											</div>
										</div>
										<div class="col-md-2 d-flex justify-content-end">
											<button class="btn btn-primary max-btn" id="collapseButtonR1"
												onclick="triggerExpansionR(1)" data-bs-toggle="tooltip"
												data-bs-placement="top" title="Expand">
												<i class="fa-solid fa-maximize" id="expandIconR1"></i> <i
													class="fa-solid fa-minimize d-none" id="shrinkIconR1"></i>
											</button>
										</div>

									</div>
									<div class="card p-2 m-2">
										<div id="myGridBuild" style="width: 100%; height: 100vh;"
											class="ag-theme-alpine"></div>
									</div>
								</div>
							</div>
							<!--Left Sec End-->
							<div id="snackbar" class="snackbar"></div>
							<!--Right Sec Start-->

							<div class="box-sec" id="collapseWidthL1">
								<div class="out-box">

									<!-- Left aligned max-btn -->
									<div
										class="d-flex flex-row-reverse justify-content-between align-items-center p-2 bdr-line">
										<button class="btn btn-primary max-btn" id="collapseButtonL1"
											type="button" onclick="triggerExpansionL(1)"
											data-bs-toggle="tooltip" data-bs-placement="top"
											title="Expand">
											<i class="fa-solid fa-maximize" id="expandIconL1"></i> <i
												class="fa-solid fa-minimize d-none" id="shrinkIconL1"></i>
										</button>

										<!-- Right aligned buttons -->
										<div class="d-flex gap-2">
											<!-- <ul class="nav nav-pills newtab" role="tablist" id="tabMenu">
                        <li class="nav-item"><a class="nav-link active" data-bs-toggle="pill"
                            href="#buildingDets">Building Details</a></li>
                        <li class="nav-item"><a class="nav-link " data-bs-toggle="pill" href="#ownerDets">Owner
                            Details</a></li>
                        						<li class="nav-item wd-11"><a class="nav-link" data-bs-toggle="pill" href="#paymentDets">Payment Details</a></li>			
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" href="#buildingDocs"
                            onclick="cancelDocument();">Documentation</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" href="#floorLayout">Floor
                            Layout</a></li>
                      </ul> -->

											<ul class="nav nav-pills newtab" role="tablist" id="tabMenu">
												<li class="nav-item" id='detsTab'
													onclick="getDets('detsTab');viewBuilding();"><a
													class="nav-link active" data-bs-toggle="pill"
													href="#buildingDets">Building Details</a></li>
												<li class="nav-item" id='ownerTab'
													onclick="getDets('ownerTab')"><a class="nav-link "
													data-bs-toggle="pill" href="#ownerDets">Owner Details</a></li>
												<li class="nav-item" id='documentTab'
													onclick="getDets('documentTab')"><a class="nav-link"
													data-bs-toggle="pill" href="#buildingDocs"
													onclick="cancelDocument();">Documentation</a></li>
												<li class="nav-item" id='floorlayTab'
													onclick="getDets('floorlayTab')"><a class="nav-link"
													data-bs-toggle="pill" href="#floorLayout">Floor Layout</a></li>
											</ul>
										</div>
									</div>
									<!-- Start of Tab Content -->
									<div class="tab-content flex-fill" id="tabContent">
										<!-- TAB PANEL		====		Building Details	 -->
										<div id="buildingDets"
											class="tab-pane fade show active p-2 h-100">
											<div class="requisition-tbl d-flex flex-column h-100 gap-2">

												<div
													class="d-flex w-100 justify-content-between align-items-center p-2 border rounded">
													<div class="project-name flex-1">
														<span class="head-user-name" id="propertyId1"></span>
													</div>
													<input type="hidden" id="propId1">
													<div
														class="d-flex justify-content-end gap-1 flex-wrap flex-1">
														<button class="btn edit-btn m-0" type="button"
															id="newProp" onclick="newProp();">
															<i class="fas fa-plus-circle"></i> Add</button>
															
														<button class="btn edit-btn m-0" type="button"
															id="editProp" onclick="editProp();">
															<i class="fas fa-edit"></i> Edit</button>
															
														<button class="btn edit-btn m-0" type="button"
															id="deleteProp" onclick="deleteProperty()">
															<i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
															
														<button class="btn m-0 edit-btn" type="button" id="next1"
															onclick="nextTab('ownerTab')">
															<i class="fas fa-arrow-right"></i> Next</button>
															
														<button class="btn edit-btn m-0" type="button"
															id="saveProp" onclick="saveProp();">
															<i class="fas fa-save"></i> Save</button>
															
														<button class="btn edit-btn m-0" type="button"
															id="cancelProp" onclick="viewBuilding();cancelProp();">
															<i class="fas fa-times-circle"></i> Cancel</button>
													</div>
													<!-- deleteProp1() -->
												</div>

												<div class="card p-2">
													<!--Start-->
													<div class="row">
														<div class="col-md-3">
															<input type="hidden" id="locDataId"> <input
																type="hidden" id="locationId"> <input
																type="hidden" id="assignLocId"> <input
																type="hidden" id="assignLocType"> <input
																type="hidden" id="docUrlEdit">
															<div class="hvrbox">
																<img src="../assets/images/noimage.jpg" id="imgLoc"
																	alt="Location" class="hvrbox-layer_bottom img-fluid">

																<div class="hvrbox-layer_top">
																	<div class="hvrbox-text">
																		<!-- <span><i class="fa fa-pencil-square-o"></i></span> -->
																		<input type="file" id="fileUpload" hidden
																			onchange="saveFile();" /> <span id="addFileImg"><label
																			for="fileUpload"><i class="ti-files"
																				style="cursor: pointer;"></i> <!-- <i class="fa fa-trash-o"></i> --></label></span>
																		<span id="delFileImg"><i
																			class="fa fa-trash red" onclick="deleteLocFile();"></i></span>
																	</div>
																	<!-- deleteFile() -->
																</div>
															</div>
														</div>


														<div class="col-md-9">
															<div class="d-flex justify-content-end mb-2">
																<p class="m-0 text-danger fs--13 fw-600">Note: All
																	fields marked with * are mandatory.</p>
															</div>
															<div class="row">
																<div class="col-md-12">
																	<!-- <div class="name-bar">Head Quarter</div> -->
																	<label>Property Name<span class="mandatory">*</span></label>
																	<input type="text" name="code" value=""
																		placeholder="Property Name" class="form-control"
																		id="locationName">
																</div>

																<div class="col-md-12">
																	<div class="form-group">
																		<label>Type<span class="mandatory">*</span></label>
																		<div class="select">
																			<select class="" id="locationType"
																				onchange="changeOfProperty();">
																				<option th:each="c,iter:${locationTypeList}"
																					th:value="${c.key}" th:text="${c.name}"></option>
																			</select>
																		</div>
																	</div>
																</div>


															</div>
														</div>


													</div>


													<!--Inner Start-->
													<div class="row">

														<div class="col-md-12">

															<div class="row">
																<div class="col-md-4" style="display: none;">
																	<div class="form-group">
																		<label>Code</label> <input type="text" name="code"
																			value="LOC" placeholder="Property Code"
																			class="form-control" id="locationCode">
																	</div>
																</div>


																<div class="col-md-4">
																	<div class="form-group">
																		<label>Country<span class="mandatory">*</span></label>
																		<div class="select">
																			<select class="" id="locCountry"
																				onchange="stateList();">
																				<option th:value="NULL">Select</option>
																				<option th:each="c,iter:${countryList}"
																					th:value="${c.key}" th:text="${c.name}"></option>
																			</select> <span class="focus"></span>
																		</div>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>State<span class="mandatory">*</span></label>
																		<div class="select">
																			<select class="" id="locState" onchange="cityList();">
																				<option value="">Select</option>
																			</select>
																		</div>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>City<span class="mandatory">*</span></label>
																		<div class="select">
																			<select class="" id="locCity">
																				<option value="">Select</option>
																			</select>
																		</div>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Street Address<span class="mandatory">*</span></label>
																		<input type="text" id="locStreet" name="Street"
																			value="" placeholder="Street Name" autocomplete="off"
																			class="form-control">
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Pincode<span class="mandatory">*</span></label>
																		<input type="number" id="locPincode" name="Pincode"
																			value="" placeholder="Area Pincode"
																			autocomplete="off" class="form-control"
																			onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 46"
																			oninput="validatePositiveNumber(this)">
																	</div>
																</div>
																<div class="col-md-4" id="heightDivP">
																	<div class="form-group">
																		<label>Height (ft)</label> <input type="number" min=0
																			id="locHeight" value="" placeholder="Property Height"
																			autocomplete="off" class="form-control"
																			onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 46"
																			oninput="validatePositiveNumber(this);calculateArea(this);">
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Width (ft)</label> <input type="number" min=0
																			id="locWidth" value="" placeholder="Property Width"
																			autocomplete="off" class="form-control"
																			onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 46"
																			oninput="validatePositiveNumber(this);calculateArea(this);">
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Length (ft)</label> <input type="number" min=0
																			id="locLength" value="" placeholder="Property Length"
																			autocomplete="off" class="form-control"
																			onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 46"
																			oninput="validatePositiveNumber(this);calculateArea(this);">
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Area (acre)</label> <input type="number"
																			id="locArea" min=0 value=""
																			placeholder="Property Area" autocomplete="off"
																			class="form-control" disabled>
																	</div>
																</div>
																<div class="col-md-12">
																	<div class="form-group">
																		<label>Description<span class="mandatory">*</span></label>
																		<textarea name="Description" id="locDescription"
																			class="form-control"></textarea>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Ownership<span class="mandatory">*</span></label>
																		<div class="select">
																			<select class="" id="locOwnership"
																				onchange="ownershipChange();">
																				<option value="">Select</option>
																				<option value="Lease">Lease</option>
																				<option value="Own">Own</option>
																				<option value="Rent">Rent</option>

																			</select> <span class="focus"></span>
																		</div>
																	</div>
																</div>
																<div class="col-md-2">
																	<div class="form-group checkboxbtm">
																		<input type="checkbox" class="loc-chb" name="isActive"
																			id="locStatus" value="1"> <label
																			class="checkboxlbltxt">Active</label>
																	</div>
																</div>
																<div class="col-md-12" id="leaseDiv">
																	<div class="row">
																		<div class="col-lg-4">
																			<div class="form-group calendar_box">
																				<label>Starts From</label>
																				<div class="position-relative">
																					<input type="text" id="sdate" class="form-control"
																						onblur="removeValid(event)"
																						th:attr="onkeyup=|formatDate('date','${session.DATEFORMAT_JS}')|"
																						readonly> <i
																						class="ti-calendar picker_calendar"
																						id="DateCalendar1"></i>
																				</div>
																			</div>
																		</div>
																		<div class="col-lg-4">
																			<div class="form-group calendar_box">
																				<label>Ends On</label>
																				<div class="position-relative">
																					<input type="text" id="edate" class="form-control"
																						onblur="removeValid(event)"
																						th:attr="onkeyup=|formatDate('date','${session.DATEFORMAT_JS}')|"
																						readonly> <i
																						class="ti-calendar picker_calendar"
																						id="DateCalendar2"></i>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-4">
																			<div class="form-group">
																				<label>Monthly Rent</label> <input type="text"
																					id="locRent" value="" autocomplete="off"
																					class="form-control">
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col" id="ownDiv">
																	<div class="form-group calendar_box">
																		<label>Purchased On</label>
																		<div class="position-relative">
																			<input type="text" id="pdate" class="form-control"
																				onblur="removeValid(event)"
																				th:attr="onkeyup=|formatDate('date','${session.DATEFORMAT_JS}')|"
																				readonly> <i
																				class="ti-calendar picker_calendar"
																				id="DateCalendar3"></i>
																		</div>
																	</div>
																</div>

																<div class="col-md-12">
																	<div class="form-group">
																		<label>Note</label>
																		<textarea name="Note" id="" class="form-control"></textarea>
																	</div>
																</div>
															</div>
														</div>
														<!--Inner End-->



													</div>
													<!--End-->

												</div>
											</div>
										</div>
										<!-- TAB PANEL		====		Owner Details	 -->
										<div id="ownerDets" class="tab-pane fade show p-2 h-100">
											<div id="owner" class="h-100">
												<div class="requisition-tbl d-flex flex-column h-100 gap-2">

													<div
														class="d-flex w-100 justify-content-between align-items-center p-2 border rounded">
														<div class="project-name flex-1">
															<span class="head-user-name" id="propertyId2"></span>
														</div>
														<input type="hidden" id="propId2">
														<div
															class="d-flex justify-content-end gap-2 flex-wrap flex-1">
															<button class="btn m-0 edit-btn" type="button" id="prev1"
																onclick="nextTab('detsTab')">
																<i class="fas fa-arrow-left"></i> Prev</button>
																
															<button class="btn m-0 edit-btn" type="button" id="next2"
																onclick="nextTab('documentTab')">
																<i class="fas fa-arrow-right"></i> Next</button>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 cnt-sp-bw">
															<h5 class="sub-header-new"></h5>
															<div class="mr-2 role-wise-btn">
																<div class="d-flex gap-1 task-btn-sec">
																	<button class="btn go-btn br-m-btn"
																		data-bs-toggle="tooltip" data-bs-placement="top"
																		title="Add" id="newOwner" onclick="addOwner();">
																		<i class="fa fa-plus-square" aria-hidden="true"></i>
																	</button>
																	<button class="btn go-btn br-dis br-m-btn "
																		data-bs-toggle="tooltip" data-bs-placement="top"
																		title="Add" id="editOwner"
																		onclick="editOwnerDetails();">
																		<i class="fa fa-pencil-square" aria-hidden="true"></i>
																	</button>
																	<button class="btn go-btn br-dis br-m-btn"
																		data-bs-toggle="tooltip" data-bs-placement="top"
																		id="deleteOwner"
																		onclick="deleteOwnerOnclick('owner');" disabled>
																		<i class="fa fa-trash" aria-hidden="true"></i>
																	</button>

																	<button class="btn edit-btn m-0 br-s-btn" type="button"
																		id="saveOwner" onclick="saveOwner();">
																		<i class="fas fa-save"></i> Save</button>
																		
																	<button class="btn edit-btn m-0 br-s-btn" type="button"
																		id="cancelOwner" onclick="cancelOwner();">
																		<i class="fas fa-times-circle"></i> Cancel</button>

																</div>
															</div>
														</div>
													</div>

													<div class="card p-2">
														<div class="grid-parent-container gap-2" id="ownergrid">
															<div class="grid-container">
																<div id="myGridOwner" class="ag-theme-alpine grid-size"></div>
															</div>

														</div>
														<div id="ownerForm" class="">
															<form>
																<div class="row">
																	<input type="hidden" id="ownerId">
																	<div class="d-flex justify-content-end mb-2">
																		<p class="m-0 text-danger fs--13 fw-600">Note: All
																			fields marked with * are mandatory.</p>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Owner Name<span class="mandatory">*</span></label>
																			<input type="text" id="ownerName"
																				onblur="removeValid(event)" value=""
																				autocomplete="off" class="form-control">
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Country<span class="mandatory">*</span></label>
																			<div class="select">
																				<select class="" id="ownerCountry"
																					onblur="removeValid(event)"
																					onchange="stateListForOwner();">
																					<option th:value="NULL">Select</option>
																					<option th:each="c,iter:${countryList}"
																						th:value="${c.key}" th:text="${c.name}"></option>
																				</select> <span class="focus"></span>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>State<span class="mandatory">*</span></label>
																			<div class="select">
																				<select class="" id="ownerState"
																					onblur="removeValid(event)"
																					onchange="cityListForOwner();">
																					<option value="">Select</option>
																				</select>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>City<span class="mandatory">*</span></label>
																			<div class="select">
																				<select class="" id="ownerCity"
																					onblur="removeValid(event)">
																					<option value="">Select</option>
																				</select>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Street Address<span class="mandatory">*</span></label>
																			<input type="text" id="ownerStreet" name="Street"
																				value="" autocomplete="off" class="form-control"
																				onblur="removeValid(event)">
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Pincode<span class="mandatory">*</span></label>
																			<input type="text" id="ownerPincode" name="Pincode"
																				value="" autocomplete="off" class="form-control"
																				oninput="checkPinCode(this.id)"
																				onblur="removeValid(event)">
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Contact No<span class="mandatory">*</span></label>
																			<input type="text" id="ownerContact" value=""
																				autocomplete="off" max="10" class="form-control"
																				oninput="checkContact(this.id)"
																				onblur="removeValid(event)">
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Email<span class="mandatory">*</span></label>
																			<input type="text" id="ownerEmail"
																				onblur="removeValid(event)" value=""
																				autocomplete="off" class="form-control">
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Status</label>
																			<div class="select">
																				<select class="" id="ownerStatus"
																					onblur="removeValid(event)">
																					<option value="">Select</option>
																					<option value="Active">Active</option>
																					<option value="Inactive">Inactive</option>
																				</select>
																			</div>
																		</div>
																	</div>
																</div>
															</form>

														</div>
													</div>
												</div>
											</div>
											<div id="leaseRent" class="h-100">
												<div class="requisition-tbl d-flex flex-column gap-2 h-100">

													<div
														class="d-flex w-100 justify-content-between align-items-center p-2 border rounded">
														<div class="project-name flex-1">
															<span class="head-user-name" id="propertyId3"></span>
														</div>
														<input type="hidden" id="propId3">
														<div
															class="d-flex justify-content-end gap-2 flex-wrap flex-1">
															<button class="btn m-0 edit-btn" type="button" id="prev2"
																onclick="nextTab('detsTab')">
																<i class="fas fa-arrow-left"></i> Prev</button>
																
															<button class="btn m-0 edit-btn" type="button" id="next3"
																onclick="nextTab('documentTab')">
																<i class="fas fa-arrow-right"></i> Next</button>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 cnt-sp-bw">
															<h5 class="sub-header-new"></h5>
															<div class="mr-2 role-wise-btn">
																<div class="d-flex gap-1 task-btn-sec">
																	<button class="btn go-btn br-m-btn"
																		data-bs-toggle="tooltip" data-bs-placement="top"
																		title="Add" id="addRent" onclick="addRent();">
																		<i class="fa fa-plus-square" aria-hidden="true"></i>
																	</button>
																	<button class="btn go-btn br-dis "
																		data-bs-toggle="tooltip" data-bs-placement="top"
																		title="Add" id="editRent" onclick="editRentDetails();">
																		<i class="fa fa-pencil-square" aria-hidden="true"></i>
																	</button>
																	<button class="btn go-btn br-dis "
																		data-bs-toggle="tooltip" data-bs-placement="top"
																		id="deleteRent" onclick="deleteOwnerOnclick('rent');"
																		disabled>
																		<i class="fa fa-trash" aria-hidden="true"></i>
																	</button>
																	<button class="btn edit-btn m-0 br-s-btn" type="button"
																		id="saveRent" onclick="saveRent();">
																		<i class="fas fa-save"></i> Save</button>
																		
																	<button class="btn edit-btn m-0 br-s-btn" type="button"
																		id="cancelRent" onclick="cancelRent();">
																		<i class="fas fa-times-circle"></i> Cancel</button>

																</div>
															</div>
														</div>
													</div>


													<div class="card p-2">
														<div class="grid-parent-container gap-2" id="rentgrid">
															<div class="grid-container">
																<div id="myGridLeaseRent"
																	class="ag-theme-alpine grid-size"></div>
															</div>
														</div>
														<div id="leaseRentForm"
															class="grid-parent-container gap-2">


															<form>
																<div class="container1 row">
																	<input type="hidden" id="ownerId">
																	<div class="d-flex justify-content-end mb-2">
																		<p class="m-0 text-danger fs--13 fw-600">Note: All
																			fields marked with * are mandatory.</p>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Owner Name<span class="mandatory">*</span></label>
																			<input type="text" id="ownerName1"
																				onblur="removeValid(event)" value=""
																				autocomplete="off" class="form-control">
																		</div>
																	</div>
																	<div class="col-lg-4" id="assigndate">
																		<div class="form-group calendar_box">
																			<label>Start Date<span class="mandatory">*</span></label>
																			<div class="position-relative">
																				<input type="text" id="rentSDate"
																					class="form-control" onblur="removeValid(event)"
																					th:attr="onkeyup=|formatDate('date','${session.DATEFORMAT_JS}')|"
																					readonly> <i
																					class="ti-calendar picker_calendar" id="DateS"
																					onchange="onChangeDate();"></i>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-4" id="assigndate">
																		<div class="form-group calendar_box">
																			<label>End Date<span class="mandatory">*</span></label>
																			<div class="position-relative">
																				<input type="text" id="rentEDate"
																					class="form-control" onblur="removeValid(event)"
																					th:attr="onkeyup=|formatDate('date','${session.DATEFORMAT_JS}')|"
																					readonly> <i
																					class="ti-calendar picker_calendar" id="DateE"
																					onchange="onChangeDate();"></i>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Security Deposit<span
																				class="mandatory">*</span></label> <input type="text"
																				id="rentSecDeposit" value="" autocomplete="off"
																				oninput="checkNumeric(this.id);"
																				class="form-control" onblur="removeValid(event)">
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Rent Per Month<span class="mandatory">*</span></label>
																			<input type="text" id="rentRentPMonth" value=""
																				autocomplete="off" oninput="checkNumeric(this.id);"
																				class="form-control" onblur="removeValid(event)">
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Bank Name<span class="mandatory">*</span></label>
																			<input type="text" id="rentBankName" value=""
																				autocomplete="off" class="form-control"
																				onblur="removeValid(event)">
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Account Number</label> <input type="text"
																				id="rentAcNo" value="" autocomplete="off"
																				oninput="checkNumeric(this.id);"
																				class="form-control" onblur="removeValid(event)">
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>IFSC Code<span class="mandatory">*</span></label>
																			<input type="text" id="rentIFSC" value=""
																				autocomplete="off" class="form-control"
																				onblur="removeValid(event)">
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Status<span class="mandatory">*</span></label>
																			<div class="select">
																				<select class="" id="rentStatus"
																					onblur="removeValid(event)">
																					<option value="">Select</option>
																					<option value="Active">Active</option>
																					<option value="Inactive">Inactive</option>
																				</select>
																			</div>
																		</div>
																	</div>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div id="paymentDets" class="tab-pane fade show p-2 h-100">

											<div class="requisition-tbl grid-parent-container gap-2">
												<div class="card p-2">
													<div id="myPaymentGrid" style="width: 100%; height: 100vh;"
														class="ag-theme-alpine"></div>
												</div>
											</div>
										</div>

										<div id="buildingDocs" class="tab-pane fade show p-2 h-100">
											<div class="requisition-tbl d-flex flex-column h-100 gap-2">

												<div
													class="d-flex w-100 justify-content-between align-items-center p-2 border rounded">
													<div class="project-name flex-1">
														<span class="head-user-name" id="propertyId4"></span>
													</div>
													<input type="hidden" id="propId4">
													<div
														class="d-flex justify-content-end gap-2 flex-wrap flex-1">
														<button class="btn m-0 edit-btn" type="button" id="prev3"
															onclick="nextTab('ownerTab')">
															<i class="fas fa-arrow-left"></i> Prev</button>
															
														<button class="btn m-0 edit-btn" type="button" id="next4"
															onclick="nextTab('floorlayTab')">
															<i class="fas fa-arrow-right"></i> Next</button>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 cnt-sp-bw">
														<h5 class="sub-header-new"></h5>
														<div class="mr-2 role-wise-btn">
															<div class="d-flex gap-1 task-btn-sec">
																<button class="btn go-btn br-m-btn-d"
																	data-bs-toggle="tooltip" data-bs-placement="top"
																	title="Add" id="newDocument" onclick="newDocument();">
																	<i class="fa fa-plus-square" aria-hidden="true"></i>
																</button>
																<button class="btn go-btn br-dis br-m-btn-d"
																	data-bs-toggle="tooltip" data-bs-placement="top"
																	id="deleteDocument" onclick="deleteDocsOnclick();"
																	disabled>
																	<i class="fa fa-trash" aria-hidden="true"></i>
																</button>
																<button class="btn edit-btn m-0 br-s-btn-d" type="button"
																	id="savePropertyDocumentation"
																	onclick="savePropertyDocumentation();">
																	<i class="fas fa-save"></i> Save</button>
																	
																<button class="btn edit-btn m-0 br-s-btn-d" type="button"
																	id="cancelDocument" onclick="cancelDocument();">
																	<i class="fas fa-times-circle"></i> Cancel</button>
															</div>
															<!-- deleteDocument -->
														</div>
													</div>
												</div>
												<div class="card p-2">
													<div class="grid-parent-container gap-2" id="docGrid">
														<div class="grid-container" id="docGrid">
															<div id="myGridBuildingDocs"
																class="ag-theme-alpine grid-size"></div>
														</div>
													</div>
													<div id="documentForm" class="">
														<div class="row p-2">
															<table id="docTbl" cellspacing="7" cellpadding="7">
																<thead id="docthead">
																	<tr class="tr_clone">
																		<!-- <th align="center"></th> -->
																		<th width="320">Document Name</th>
																		<th width="380">Attachment</th>
																	</tr>
																</thead>
																<tbody id="doctbodyData">
																	<!-- Modal gallery -->
																</tbody>
															</table>

															<!-- Modal gallery -->
															<section id="assetimageview">
																<div class="row" id="assetimageenter"></div>
															</section>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div id="floorLayout" class="tab-pane fade show p-2 h-100">
											<div class="requisition-tbl d-flex flex-column h-100 gap-2">
												<div
													class="d-flex w-100 justify-content-between align-items-center p-2 border rounded">
													<div class="project-name flex-1">
														<span class="head-user-name" id="propertyId5"></span>
													</div>
													<input type="hidden" id="propId5">
													<div
														class="d-flex justify-content-end gap-2 flex-wrap flex-1">
														<button class="btn m-0 edit-btn" type="button" id="prev4"
															onclick="nextTab('documentTab')">
															<i class="fas fa-arrow-left"></i> Prev</button>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 cnt-sp-bw">
														<h5 class="sub-header-new"></h5>
														<div class="mr-2 role-wise-btn">
															<div class="d-flex gap-1 task-btn-sec">
																<button class="btn go-btn br-m-btn-f"
																	data-bs-toggle="tooltip" data-bs-placement="top"
																	title="Add" id="addFloor" onclick="addFloor();">
																	<i class="fa fa-plus-square" aria-hidden="true"></i>
																</button>
																<button class="btn go-btn br-dis br-m-btn-f"
																	data-bs-toggle="tooltip" data-bs-placement="top"
																	title="Add" id="editFloor"
																	onclick="editfloorDetails();">
																	<i class="fa fa-pencil-square" aria-hidden="true"></i>
																</button>
																<button class="btn go-btn br-dis br-m-btn-f"
																	data-bs-toggle="tooltip" data-bs-placement="top"
																	id="deleteFloor" onclick="deleteFloorOnclick();"
																	disabled>
																	<i class="fa fa-trash" aria-hidden="true"></i>
																</button>
																<button class="btn edit-btn m-0 br-s-btn-f" type="button"
																	id="saveFloor" onclick="saveFloor();">
																	<i class="fas fa-save"></i> Save</button>
																	
																<button class="btn edit-btn m-0 br-s-btn-f" type="button"
																	id="cancelFloor" onclick="cancelFloor();">
																	<i class="fas fa-times-circle"></i> Cancel</button>
															</div>
														</div>
													</div>
												</div>

												<div class="card p-2">
													<div class="grid-parent-container gap-2" id="floorGrid">
														<div class="grid-container">
															<div id="myGridFloorDets"
																class="ag-theme-alpine grid-size"></div>
														</div>
													</div>
													<div id="floorForm" class="grid-parent-container gap-2">

														<form>
															<div class="row">
																<div class="d-flex justify-content-end mb-2">
																	<p class="m-0 text-danger fs--13 fw-600">Note: All
																		fields marked with * are mandatory.</p>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Floor Code<span class="mandatory">*</span></label>
																		<input type="text" id="floorId" value=""
																			autocomplete="off" class="form-control"
																			placeholder="Number" onblur="removeValid(event)">
																		<input type="hidden" id="floorDBVal"> <input
																			type="hidden" id="floorSlNoDBVal">
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Floor Name<span class="mandatory">*</span></label>
																		<input type="text"
																			class="form-control transparenttxtbox"
																			placeholder="Floor" id="floorName">
																	</div>
																</div>

																<div class="col-md-4">
																	<div class="form-group">
																		<label>Height (ft)</label> <input type="number"
																			class="form-control transparenttxtbox"
																			placeholder="Height" id="height">
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Width (ft)</label> <input type="number"
																			class="form-control transparenttxtbox"
																			placeholder="Width" id="width">
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Length (ft)</label> <input type="number"
																			class="form-control transparenttxtbox"
																			placeholder="Length" id="length">
																	</div>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- end of Tab Content -->
								</div>
								<!-- Tab End -->
							</div>
							<!--Right Sec End-->
						</div>
					</div>
					<!--Tabbination 1 End-->


				</div>
			</div>

		</div>
	</div>
	</div>


	<div id="" class="modal fade show" aria-modal="true">
		<div class="modal-dialog modal-confirm modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header flex-column"></div>
				<div class="modal-body">
					<p>Do you really want to delete this image? This process cannot
						be undone.</p>
				</div>
				<div class="modal-footer justify-content-center"
					style="margin-top: 0px;">
					<button type="button" class="btn btn-primary edit-btn"
						onclick="cancelModalBtn();">
						<i class="fas fa-times-circle"></i> Cancel</button>
						
					<button type="button" class="btn btn-primary edit-btn"
						onclick="deleteLocFile();">
						Delete</button>
					<!-- <img src="../assets/gif/loader.gif">  -->
				</div>
			</div>
		</div>
	</div>

	<div id="deleteLocation" class="modal fade show" aria-modal="true">
		<div class="modal-dialog modal-confirm modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header flex-column"></div>
				<div class="modal-body">
					<p>Do you really want to delete this property? This process
						cannot be undone.</p>
				</div>
				<div class="modal-footer justify-content-center"
					style="margin-top: -15px;">

					<button type="button" class="btn btn-primary edit-btn"
						data-dismiss="modal" onclick="canceldeleteProp();">
						<i class="fas fa-times-circle"></i> Cancel</button>
						
					<button type="button" class="btn btn-primary edit-btn"
						onclick="deleteProperty();">
						<i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
				</div>
			</div>
		</div>
	</div>

	<div id="deleteOwnerModal" class="modal fade show" aria-modal="true">
		<div class="modal-dialog modal-confirm modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header flex-column"></div>
				<div class="modal-body">
					<p>Do you really want to delete these details? This process
						cannot be undone.</p>
				</div>
				<div class="modal-footer justify-content-center"
					style="margin-top: -15px;">
					<input type="hidden" id="typeToDelete">
					<button type="button" class="btn1" data-dismiss="modal"
						onclick="canceldeleteProp();">
						<i class="fas fa-times-circle"></i> Cancel</button>
						
					<button type="button" class="delete-btn"
						onclick="deleteOwnerOnclick()">
						<i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
				</div>
			</div>
		</div>
	</div>

	<div id="deleteDocumentModal" class="modal fade show" aria-modal="true">
		<div class="modal-dialog modal-confirm modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header flex-column"></div>
				<div class="modal-body">
					<p>Do you really want to delete these documents? This process
						cannot be undone.</p>
				</div>
				<div class="modal-footer justify-content-center"
					style="margin-top: -15px;">
					<input type="hidden" id="typeToDelete">
					<button type="button" class="btn1" data-dismiss="modal"
						onclick="canceldeleteProp();">
						<i class="fas fa-times-circle"></i> Cancel</button>
						
					<button type="button" class="delete-btn"
						onclick="deleteDocsOnclick()">
						<i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
				</div>
			</div>
		</div>
	</div>

	<div id="deleteFloorModal" class="modal fade show" aria-modal="true">
		<div class="modal-dialog modal-confirm modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header flex-column"></div>
				<div class="modal-body">
					<p>Do you really want to delete this floor? This process cannot
						be undone.</p>
				</div>
				<div class="modal-footer justify-content-center"
					style="margin-top: -15px;">
					<input type="hidden" id="typeToDelete">
					<button type="button" class="btn1" data-dismiss="modal"
						onclick="canceldeleteProp();">
						<i class="fas fa-times-circle"></i> Cancel</button>
						
					<button type="button" class="delete-btn"
						onclick="deleteFloorOnclick()">
						<i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>