<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<link rel="stylesheet" href="../css/project/projectCreation.css">
<script type="text/javascript"
	src="../javaScript/project/projectCreation.js"></script>

</head>
<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid requisition mt-3 mb-3">

			<!-- Tab panes -->
			<div class="tab-content">

				<!--Tabbination 1 Start-->
				<div id="ipd" class="tab-pane active mt-5">
					<div class="row">

						<!--Left Sec Start-->
						<div class="col-md-6 pd-r tab-width-css">
							<div class="out-box">
								<div class="row d-flex  mb-20" id="upperOne">

									<div class="col-md-10" id="searchRowDiv1">
										<div class="input-style">
											<input type="text" placeholder="Search.." name="search"
												class="searchboxinput" onkeyup="cancelBar()"
												oninput="onQuickFilterChanged()" id="quickFilter"
												autocomplete="off">
											<div class="searchicon">
												<a href="javascript:void(0)"><span
													style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
													id="closeKey"
													onclick="gridOptions1.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';$('#totalPrj').find('span').html(gridOptions1.api.getModel().getRowCount());"
													class="close_i"><i class="ti-close srchicon"></i></span></a><a
													href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
											</div>
										</div>

										<div class="col-md-2 d-flex justify-content-end">
											<div class="btn btn-primary max-btn">
												<!-- <i class="fas fa-arrow-up"></i>-->
												<i class="fas fa-arrows-alt"></i>
											</div>
										</div>

									</div>


									<div class="requisition-tbl table-responsive">
										<div id="myGrid" style="height: 500px;"
											class="ag-theme-alpine"></div>

									</div>
								</div>
							</div>
						</div>

						<!--Left Sec End-->



						<!--Right Sec Start-->
						<div class="col-md-6 pd-l">
							<div class="out-box">

								<div class="btn btn-primary max-btn">
									<!-- <i class="fas fa-arrow-up"></i>-->
									<i class="fas fa-arrows-alt"></i>
								</div>



								<!--Right Inner Tab Start-->
								<ul class="nav nav-pills newtab mb-20" role="tablist">
									<li class="nav-item wd-11" role="presentation"><a
										class="nav-link active" data-bs-toggle="pill" href="#basic"
										aria-selected="true" role="tab">Basic Information</a></li>
									<li class="nav-item wd-11" role="presentation"><a
										class="nav-link" data-bs-toggle="pill" href="#billing"
										aria-selected="false" tabindex="-1" role="tab">Address</a></li>
									<!-- <li class="nav-item wd-11" role="presentation"><a
										class="nav-link" data-bs-toggle="pill" href="#product"
										aria-selected="false" tabindex="-1" role="tab">Product
											Details</a></li> -->
									<!-- <li class="nav-item wd-11" role="presentation"><a
										class="nav-link" data-bs-toggle="pill" href="#diet"
										aria-selected="false" tabindex="-1" role="tab">Requisition
											Details</a></li>
									<li class="nav-item wd-11" role="presentation"><a
										class="nav-link" data-bs-toggle="pill" href="#note"
										aria-selected="false" tabindex="-1" role="tab">PO Details</a></li> -->

								</ul>

								<div class="tab-content"
									style="height: 500px; overflow-y: scroll;">
									<div id="basic" class="tab-pane active">
										<div class="mb-2">
											<input type="hidden" id="pID">
											<table class="table  mb-0" width="100%">
												<tr valign="middle">
													<td width="50%"></td>

													<td>
														<div class="d-flex justify-content-end gap-2">


															<div class="">
																<button class="btn edit-btn" id="add1" onclick="add1()">Add</button>
															</div>

															<div class="">
																<button class="btn edit-btn" id="enableFields1"
																	onclick="enableFields1()">Edit</button>

															</div>

															<div class="">
																<button class="btn edit-btn" id="next1"
																	onclick="next1()">Next</button>

															</div>
															
															<div class="">
																<button class="btn edit-btn" id="delete"
																	onclick="deleteProject()">DELETE</button>

															</div>






														</div>

													</td>
												</tr>
											</table>
										</div>



										<div class="bdr-btn d-flex justify-content-between">
											<div
												style="text-align: right; color: red; font-weight: bold;">
												Note: All fields marked with <span>*</span> are mandatory.
											</div>
										</div>


										<div class="row">
											<div class="col-lg-4">
												<div class="form-group">
													<label>Project Name</label><input type="text"
														id="projectname" onblur="removeValid(event)"
														class="form-control"> <input type="hidden"
														id="projectId">
												</div>
											</div>


											<div class="col-lg-4 date1">
												<div class="form-group calendar_box mb-10">
													<label>Creation date</label> <input type="text"
														id="creationID" value="" class="form-control align-right"
														onblur="removeValid(event)"
														th:attr="onkeyup=|formatDate('startdate','${session.DATEFORMAT_JS}')|"
														readonly> <i class="ti-calendar picker_calendar"
														id="fromDateCalendar" onchange="dateChange()"></i>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="form-group">
													<label>Location</label><input type="text" id="locationID"
														class="form-control">
												</div>
											</div>



											<div class="col-lg-4">
												<div class="form-group">
													<label>Country</label>
													<div class="select">
														<select id="country2" onchange="stateList2()">
															<option th:value="NULL">Select</option>
															<option th:each="c:${countryList}" th:value='${c.key}'
																th:text="${c.name}"></option>
														</select> <span class="focus"></span>
													</div>
												</div>
											</div>


											<div class="col-lg-4">
												<div class="form-group">
													<label>State</label>
													<div class="select">
														<select id="stateid2" onchange="">
															<option th:value="NULL">Select</option>

														</select> <span class="focus"></span>
													</div>
												</div>
											</div>

											<div class="col-lg-4">
												<div class="form-group">
													<label>Pin</label><input type="text" id="pinID"
														maxlength="6" onkeypress="return isNumberKey(event)"
														class="form-control">
												</div>
											</div>

											<div class="col-lg-4">
												<div class="form-group">
													<label>Project In-charge</label><input type="text"
														id=pIncharge class="form-control">
												</div>
											</div>
											<div class="col-lg-4">
												<div class="form-group">
													<label>Status</label>
													<div class="select">
														<select id="status" onblur="removeValid(event)">
															<option value="">Select</option>
															<option value="1">ACTIVE</option>
															<option value="0">IN-ACTIVE</option>
														</select>
													</div>
												</div>
											</div>


											<div class="col-lg-4">
												<div class="form-group">
													<label>Project Type</label>
													<div class="select">
														<select id="projectType">
															<option th:value="NULL">Select</option>
															<option th:each="c:${projectTypeList}"
																th:value='${c.key}' th:text="${c.name}"></option>
														</select> <span class="focus"></span>
													</div>
												</div>
											</div>

											<div class="col-md-12">
												<h5 class="sub-header-new">Attach File To Projects</h5>
											</div>
											<div class="col-lg-12">

												<div class="row">
													<div class="col-md-10 btn-hs1">
														<div class="font-design"></div>
													</div>
													<div class="col-md-2 butttonsec">
														<!--   <button class="download-btn" onclick="rfqCSV()">Download</button> -->
														<button class="btn edit-btn" id="saveAttachmentBtn"
															onclick="checkEmpty();">Add Document</button>

													</div>
												</div>

												<table id="docTbl" cellspacing="7" cellpadding="7">
													<thead>
														<tr class="tr_clone">
															<!-- <th align="center"></th> -->

															<th width="620">Document Name</th>
															<th width="480">Attachment</th>


														</tr>
													</thead>


													<tbody id="doctbodyData">

													</tbody>
												</table>




											</div>
										</div>


									</div>



									<div id="billing" class="tab-pane fade">
										<div class="mb-2">
											<input type="hidden" id="pID">
											<table class="table  mb-0" width="100%">
												<tr valign="middle">
													<td width="50%"></td>

													<td>
														<div class="d-flex justify-content-end gap-2">


															<div class="">
																<button class="btn edit-btn" id="prev1"
																	onclick="prev1()">PREV</button>

															</div>
															<div class="">
																<button class="btn edit-btn" id="saveId"
																	onclick="addCreation()">SAVE</button>

															</div>


														</div>

													</td>
												</tr>
											</table>
										</div>

										<form>
											<div class="row">
												<div class="col-md-12">
													<h5 class="sub-header-new">Billing Details</h5>

												</div>
											</div>
											<div class="row form-box mb-10">
												<div class="col-lg-4">
													<div class="form-group">
														<label>Billing Name</label><input type="text" id=cname
															class="form-control">
													</div>
												</div>

												<div class="col-lg-4">
													<div class="form-group">
														<label>Billing Email</label><input type="text" id="email"
															class="form-control">
													</div>
												</div>

												<div class="col-lg-4">
													<div class="form-group">
														<label>Billing Mobile</label><input type="text"
															id="mobile" class="form-control">
													</div>
												</div>

												<div class="col-lg-4">
													<div class="form-group">
														<label>Billing Country</label>
														<div class="select">
															<select id="country" onchange="stateList()">
																<option th:value="NULL">Select</option>
																<option th:each="c:${countryList}" th:value='${c.key}'
																	th:text="${c.name}"></option>
															</select> <span class="focus"></span>
														</div>
													</div>
												</div>

												<div class="col-lg-4">
													<div class="form-group">
														<label>Billing State</label>
														<div class="select">
															<select id="stateid" onchange="">
																<option th:value="NULL">Select</option>
															</select> <span class="focus"></span>
														</div>
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Billing City</label> <input type="text"
															class="form-control" onblur="removeValid(event)"
															id="cityb" placeholder="">
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Street1</label> <input type="text"
															class="form-control" onblur="removeValid(event)"
															id="street1" placeholder="">
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Street2</label> <input type="text"
															class="form-control" onblur="removeValid(event)"
															id="street2" placeholder="">
													</div>
												</div>


												<div class="col-lg-4">
													<div class="form-group">
														<label>Pin Code</label><input type="text" id="cPin"
															maxlength="6" onkeypress="return isNumberKey(event)"
															class="form-control">
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Gst No</label> <input type="text"
															class="form-control" onblur="removeValid(event)"
															id="gstNo" placeholder="">
													</div>
												</div>


												<div class="col-lg-12">
													<div class="form-group">
														<label>Remarks</label>
														<textarea class="form-control" rows="5" id="remarks"
															name="text"></textarea>
													</div>
												</div>




											</div>






										</form>

									</div>



									<!-- <div id="product" class="tab-pane fade">

										<div class="mb-2">
											<input type="hidden" id="pID">
											<table class="table  mb-0" width="100%">
												<tr valign="middle">
													<td width="50%"></td>

													<td>
														<div class="d-flex justify-content-end gap-2">


															<div class="">
																<button class="btn edit-btn" id="add3" onclick="add3()">Add</button>
															</div>

															<div class="">
																<button class="btn edit-btn" id="enableFields3"
																	onclick="enableFields3()">Edit</button>

															</div>

															<div class="">
																<button class="btn edit-btn" id="next3"
																	onclick="next3()">Next</button>

															</div>


														</div>

													</td>
												</tr>
											</table>
										</div>

										<form>
											<div class="row">
												<div class="col-md-12">
													<h5 class="sub-header-new">Product Details</h5>
												</div>
											</div>


											<div id="myGridProductSku"
												style="width: 100%; height: 200px;" class="ag-theme-alpine"></div>

											<div class="row" id="productDetails">
												<div class="col-md-12">
													<h5 class="sub-header-new">Products</h5>
												</div>
												<div id="myGridProduct" style="width: 100%; height: 200px;"
													class="ag-theme-alpine"></div>


												<div class="col-md-12">
													<h5 class="sub-header-new">Sku</h5>
												</div>

												<div id="myGridSku" style="width: 100%; height: 190px;"
													class="ag-theme-alpine"></div>


											</div>



										</form>

									</div> -->

								</div>


							</div>
						</div>




					</div>
				</div>



			</div>
		</div>
	</div>



</body>
</html>