<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/pareto.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/038792bdf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="pharmaeutical_dashboard.css">

</head>

<body>
    <section>

      <div layout:fragment="content" class="maincontent">
        <div class="card card-nav-tabs card-plain">
            <div class="card-header card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">

                            <!-- Production -->
                            <li class="nav-item">
                                <a class="nav-link active" href="#prod" data-toggle="tab">Production</a>
                            </li>
                            <!-- Labour -->
                            <li class="nav-item">
                                <a class="nav-link" href="#labour" data-toggle="tab">Labour </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content text-center">
                    <!-- -----Prod tab -->
                    <div class="tab-pane active" id="prod">

                        <div class="row mb-20">
                            <div class="col-md-3">
                                <h5 class="text-left align-items-left" style="text-align:left;">Patient Experience</h5>
                            </div>

                            <div class="col-md-9 navtab d-flex justify-content-end">
                                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                    <li class="nav-item mr-10" role="presentation" style="width:auto!important;">
                                        <button class="nav-link active" id="pills-wellness-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-option1" type="button" role="tab"
                                            aria-controls="pills-wellness" aria-selected="true">Option 1</button>
                                    </li>
                                    <li class="nav-item  mr-10" role="presentation" style="width:auto!important;">
                                        <button class="nav-link" id="pills-physical-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-option2" type="button" role="tab"
                                            aria-controls="pills-physical" aria-selected="false">Option 2</button>
                                    </li>
                                    <li class="nav-item  mr-10" role="presentation" style="width:auto!important;">
                                        <button class="nav-link" id="pills-physical-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-option3" type="button" role="tab"
                                            aria-controls="pills-physical" aria-selected="false">Option 3</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content" id="pills-tabContentnew">
                            <div class="tab-pane fade show active" id="pills-option1" role="tabpanel"
                                aria-labelledby="pills-home-tab">

                                <div class="d-flex flexwrap w-100">

                                    <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                        <h6 class="recruitment-h6">Organization</h6>
                                        <div class="w-100 brd-prd">All</div>
                                    </div>

                                    <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                        <h6 class="recruitment-h6 ml-13">From Date</h6>
                                        <div class="w-100"><span class="bmd-form-group"><input class="hsp-filt-date"
                                                    type="date" id="hsp-income-to-date" name="to-date"></span></div>

                                    </div>

                                    <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                        <h6 class="recruitment-h6">Department</h6>
                                        <div class="w-100 brd-prd">All</div>

                                    </div>
                                    <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                        <h6 class="recruitment-h6 ml-13">To Date</h6>
                                        <div class="w-100"><span class="bmd-form-group"><input class="hsp-filt-date"
                                                    type="date" id="hsp-income-to-date" name="to-date"></span></div>
                                    </div>

                                    <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                        <h6 class="recruitment-h6">Location</h6>
                                        <div class="w-100 brd-prd">All</div>

                                    </div>
                                    <div class="kpi-card-container w-100 align-items-center btsec mb-20">
                                        <input type="button" value="Search" class="btn1">
                                        <input type="button" value="Reset" class="resetbtn btmr-0">

                                    </div>

                                </div>




                                <div class="row mb-30">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <div class="bg-white">
                                        <h6 class="recruitment-h6">Batch Yield <i class="fa fa-info-circle"></i>
                                        </h6>
                                        <div id="batchYield"></div>
                                    </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <div class="bg-white">
                                        <h6 class="recruitment-h6">First Past Yield(FPY) <i
                                                class="fa fa-info-circle"></i></h6>
                                        <div id="FPY"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <div class="bg-white">
                                        <h6 class="recruitment-h6">Production Quality <i class="fa fa-info-circle"></i>
                                        </h6>
                                        <div id="productionQuality"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <div class="bg-white">
                                        <h6 class="recruitment-h6">Production Performance <i
                                                class="fa fa-info-circle"></i></h6>
                                        <div id="productionPerformance"></div>
                                    </div>
                                    </div>
                                </div>



                                <div class="row mb-20">
                                    <div class="col-md-8">

                                        <div class="row bg-white m-0">
                                            <div class="col-md-6">
                                                <div class="w-100 ceo-hc-ts-box mb-20">
                                                    <p class="cons-pq-trc-nm">Cycle Time <i
                                                            class="fa fa-info-circle"></i>
                                                    </p>
                                                    <h5 class="cons-pq-trc-hd">1.88 min(s)</h5>
                                                </div>
                                                <div class="w-100 ceo-hc-ts-box">
                                                    <p class="cons-pq-trc-nm">Changeover Time <i
                                                            class="fa fa-info-circle"></i></p>
                                                    <h5 class="cons-pq-trc-hd">14.85 min(s)</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="w-100 mr-10">
                                                    <h6 class="recruitment-h6">Availability <i
                                                            class="fa fa-info-circle"></i></h6>
                                                    <div id="availability"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                 
                                        <div class="col-md-2">
                                            <div class="kpi-card-container mr-10 w-100 align-items-left">
                                                <h6 class="recruitment-h6">Overall Equipment Effect.. <i
                                                        class="fa fa-info-circle"></i></h6>
                                                <div id="OverallEquipmentEffect"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="kpi-card-container mr-10 w-100 align-items-left">
                                                <h6 class="recruitment-h6">Rejection Rate <i
                                                        class="fa fa-info-circle"></i>
                                                </h6>
                                                <div id="rejectionRate"></div>
                                            </div>

                                        </div>
                                
                
                                </div>



                                <div class="kpi-card-container mr-10 align-items-left w-100">
                                    <h6 class="recruitment-h6">Production Efficiency: Runtime vs. Downtime</h6>
                                    <div id="productionEfficiency"></div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="pills-option2" role="tabpanel"
                                aria-labelledby="pills-tab-fa-two">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                            <div>
                                                <h6 class="recruitment-h6">Manufacturing Cost Analysis</h6>
                                                <p class="ceo-prcmnt-sub-head">Last 6 Months</p>
                                            </div>
                                            <div id="manufacturingCostAnalysis"></div>
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                            <h6 class="recruitment-h6">Noncompliance Incidents by Type</h6>

                                            <div id="NoncomplianceIncidentsbyType"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                            <h6 class="recruitment-h6">Lead Time by Drug</h6>

                                            <div id="leadTimeByDrug"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-option3" role="tabpanel"
                                aria-labelledby="pills-tab-fa-two">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                            <div>
                                                <h6 class="recruitment-h6">Actual Vs Target Production</h6>
                                                <p class="ceo-prcmnt-sub-head">Last 6 Months</p>
                                            </div>
                                            <div id="choicemanufacturingCostAnalysis"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                            <h6 class="recruitment-h6">Drug Compliance Overview</h6>
                                            <div class="table-responsive">
                                                <table class="table table-bordered mb-0 mt-2 align-middle text-start "
                                                    style="height: 330px;">
                                                    <thead>
                                                        <tr>
                                                            <th>Drug</th>
                                                            <th>Compliance Training Completion Rate</th>
                                                            <th>Noncompliance Incidents</th>
                                                            <th>Product Recall Rate</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td width="150">Albuterol Inhaler</td>
                                                            <td>60%</td>
                                                            <td>80</td>
                                                            <td>30%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Atorvastatin</td>
                                                            <td>85%</td>
                                                            <td>60</td>
                                                            <td>80%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fluticasone</td>
                                                            <td>0</td>
                                                            <td>70</td>
                                                            <td>1</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Insulin Glargine</td>
                                                            <td>4</td>
                                                            <td>3</td>
                                                            <td>3</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="labour">
                        <div class="row">
                            <div class="col-md-3">
                                <h5 class="text-left align-items-left" style="text-align:left;">Patient Experience
                                </h5>
                            </div>

                            <div class="col-md-9 navtab d-flex justify-content-end">
                                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                    <li class="nav-item mr-10" role="presentation" style="width:auto!important;">
                                        <button class="nav-link active" id="pills-wellness-tab" data-bs-toggle="pill"
                                            data-bs-target="#option1" type="button" role="tab"
                                            aria-controls="pills-wellness" aria-selected="true">Option 1</button>
                                    </li>
                                    <li class="nav-item  mr-10" role="presentation" style="width:auto!important;">
                                        <button class="nav-link" id="pills-physical-tab" data-bs-toggle="pill"
                                            data-bs-target="#option2" type="button" role="tab"
                                            aria-controls="pills-physical" aria-selected="false">Option 2</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="option1" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="mt-10 row">

                                    <div class="d-flex flexwrap w-100 mb-30">

                                        <div class="kpi-card-container mr-10 w-100 align-items-left">
                                            <h6 class="recruitment-h6">Organization</h6>
                                            <div class="w-100 brd-prd">All</div>
                                        </div>

                                        <div class="kpi-card-container mr-10 w-100 align-items-left">
                                            <h6 class="recruitment-h6 ml-13">From Date</h6>
                                            <div class="w-100"><span class="bmd-form-group"><input class="hsp-filt-date"
                                                        type="date" id="hsp-income-to-date" name="to-date"></span></div>

                                        </div>

                                        <div class="kpi-card-container mr-10 w-100 align-items-left">
                                            <h6 class="recruitment-h6">Department</h6>
                                            <div class="w-100 brd-prd">All</div>

                                        </div>
                                        <div class="kpi-card-container mr-10 w-100 align-items-left">
                                            <h6 class="recruitment-h6 ml-13">To Date</h6>
                                            <div class="w-100"><span class="bmd-form-group"><input class="hsp-filt-date"
                                                        type="date" id="hsp-income-to-date" name="to-date"></span></div>
                                        </div>

                                        <div class="kpi-card-container mr-10 w-100 align-items-left">
                                            <h6 class="recruitment-h6">Location</h6>
                                            <div class="w-100 brd-prd">All</div>

                                        </div>
                                        <div class="kpi-card-container w-100 align-items-center btsec">
                                            <input type="button" value="Search" class="btn1">
                                            <input type="button" value="Reset" class="resetbtn btmr-0">

                                        </div>

                                    </div>

                                    <div class="d-flex flexwrap gap-2 mb-30">
                                        <!-- <div class="kpi-card-container mr-10 w-100 align-items-left"> -->
                                        <div class="kpi-card-container mr-10 w-100 align-items-left redborder">
                                            <p class="cons-pq-trc-nm">Avg. Prescriptions per Day
                                            </p>
                                            <h6>45</h6>
                                        </div>
                                        <div class="kpi-card-container mr-10 w-100 align-items-left violetborder">
                                            <p class="cons-pq-trc-nm">Avg. Revenue per Prescriptions
                                            </p>
                                            <h6>$483.94</h6>
                                        </div>
                                        <!-- </div>
                                                <div class="kpi-card-container mr-10 w-100 align-items-left"> -->
                                        <div class="kpi-card-container mr-10 w-100 align-items-left orangeborder">
                                            <p class="cons-pq-trc-nm">Labor Cost
                                            </p>
                                            <h6>$3.07M</h6>
                                        </div>
                                        <div class="kpi-card-container mr-10 w-100 align-items-left greenborder">
                                            <p class="cons-pq-trc-nm">Labor Efficiency
                                            </p>
                                            <h6>31 units/labor hour</h6>
                                        </div>
                                        <!-- </div>
                                                <div class="kpi-card-container mr-10 w-100 align-items-left"> -->
                                        <div class="kpi-card-container mr-10 w-100 align-items-left redborder">
                                            <p class="cons-pq-trc-nm">Labor Productivity
                                            </p>
                                            <h6>38 units/labor hour</h6>
                                        </div>
                                        <div class="kpi-card-container w-100 align-items-left orangeborder">
                                            <p class="cons-pq-trc-nm">Avg. Delivery Cost
                                            </p>
                                            <h6>$30.07</h6>
                                        </div>
                                        <!-- </div> -->


                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12 col-12 mb-20">
                                            <div class="bg-white">
                                            <h6 class="recruitment-h6">labor Utilization <i
                                                    class="fa fa-info-circle"></i>
                                            </h6>
                                            <div id="laborUtilization"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-12 mb-20">
                                            <div class="bg-white">
                                            <h6 class="recruitment-h6">Employee Absenteeism <i
                                                    class="fa fa-info-circle"></i></h6>
                                            <div id="EmployeeAbsenteeism"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-12 mb-20">
                                            <div class="bg-white">
                                            <h6 class="recruitment-h6">Employee Turnover Rate <i
                                                    class="fa fa-info-circle"></i>
                                            </h6>
                                            <div id="EmployeeTurnoverRate"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-12 mb-20">
                                            <div class="bg-white">
                                            <h6 class="recruitment-h6">Employee Satisfaction <i
                                                    class="fa fa-info-circle"></i></h6>
                                            <div id="EmployeeSatisfaction"></div>
                                            </div>
                                        </div>
                            
                                    <div class="col-md-8">
                                        <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                            <div>
                                                <h6 class="recruitment-h6">Shipping Expenses by Month</h6>
                                                <p class="ceo-prcmnt-sub-head">Last 6 Months</p>
                                            </div>
                                            <div id="laborShippingExpensesbyMonth"></div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="kpi-card-container w-100 align-items-left mb-20">
                                            <h6 class="recruitment-h6">Workforce Age Composition</h6>
                                            <div id="WorkforceAgeComposition"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="tab-pane fade show" id="option2" role="tabpanel"
                                aria-labelledby="pills-home-tab">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                            <div>
                                                <h6 class="recruitment-h6">Prescription Growth Trend</h6>
                                                <p class="ceo-prcmnt-sub-head">Last 6 Months</p>
                                            </div>
                                            <div id="PrescriptionGrowthTrend"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="kpi-card-container mr-10 w-100 align-items-left mb-20">
                                            <div>
                                                <h6 class="recruitment-h6">Labor Cost Analysis and Wages vs. Revenue
                                                </h6>
                                                <p class="ceo-prcmnt-sub-head">Last 6 Months</p>
                                            </div>
                                            <div id="laborCostAnalysis"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="kpi-card-container">
                                            <h6 class="recruitment-h6">Labor Summary by Job Title</h6>
                                            <div class="table-responsive">
                                                <table class="table table-bordered mb-0 mt-2 align-middle text-start "
                                                    style="height: 330px;">
                                                    <thead>
                                                        <tr>
                                                            <th>Job Title</th>
                                                            <th>Total Employees</th>
                                                            <th>Total Regular Work Hours</th>
                                                            <th>Total Part-Time Hours</th>
                                                            <th>Hourly Cost</th>
                                                            <th>Total Labor Cost</th>
                                                            <th>Avg. Work Hours Per Employee</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td width="250">Accountant</td>
                                                            <td>60%</td>
                                                            <td>80</td>
                                                            <td>30%</td>
                                                            <td>89</td>
                                                            <td>89</td>
                                                            <td>8</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250">Chemical Process Technician</td>
                                                            <td>85%</td>
                                                            <td>60</td>
                                                            <td>80%</td>
                                                            <td>89</td>
                                                            <td>89</td>
                                                            <td>9</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250">Chief Executive Officer</td>
                                                            <td>0</td>
                                                            <td>70</td>
                                                            <td>1</td>
                                                            <td>89</td>
                                                            <td>89</td>
                                                            <td>7</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="250">Cleanroom Operator</td>
                                                            <td>4</td>
                                                            <td>3</td>
                                                            <td>3</td>
                                                            <td>89</td>
                                                            <td>89</td>
                                                            <td>3</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>




                    </div>





                </div>
            </div>
</div>
        
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script src="pharmaceuticla_dashboard.js"></script>

</body>

</html>