/* Open Requisition 
 * Recruitment Module
 */
.timeline {
	margin-right: 13px;
	border-left: 0!important;
}

.timeline-item {
	position: relative;
	margin-bottom: 10px;
}

.timeline-content {
	padding: 3px 3px 3px 19px;
	background-color: #fff;
	border: 1px solid rgba(128, 0, 128, 0.5);
	border-left-width: 6px;
	border-radius: 10px;
	position: relative;
	margin-left: 0;
	/* border-top-width: 1px; */
	border-right-width: 6px;
}

.timeline-content h2 {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 2px;
	color: #bf7fbf;
}

.timeline-content p {
	font-size: 12px;
	color: #555;
	width: 87%;
	margin-bottom: 8px;
}

.timeline-content .action-icons {
	position: absolute;
	top: 15px;
	right: 20px;
}

.timeline-content .action-icons i {
	font-size: 20px;
	cursor: pointer;
	margin-left: 10px;
	color: #bf05ff;
}

.timeline-content .action-icons i:hover {
	color: #005bb5;
}

.form-container {
	margin-bottom: 30px;
}

.form-container input, .form-container textarea {
	border-radius: 5px;
	border: 1px solid #ccc;
}

.inline-form {
	display: none;
	margin-top: 10px;
	padding: 10px;
	background-color: #f9f9f9;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inline-form input, .inline-form textarea {
	width: 100%;
	margin-bottom: 10px;
}

.interviewer-names-container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px; /* space between the name boxes */
}

.interviewer-box {
	background-color: #be00ff00;
	padding: 2px 6px;
	border-radius: 5px;
	border: 1px solid #bf05ff;
	font-weight: bold;
	color: #bf05ff;
	text-align: center;
	white-space: nowrap;
	word-wrap: break-word;
}

#roundDescription {
	margin-top: 12px;
	height: 69px;
}

#saveRoundBtn {
	background-color: #175df8;
	width: 90px;
	height: 30px;
	font-weight: 500;
	font-size: 12px;
}

.no-rounds-message {
	display: flex;
	justify-content: center;
	color: #6c6c6c;
	font-weight: bold;
	font-size: 12px;
	margin: 20px 0;
}

.skills-section {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-card {
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
	border-radius: 8px;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	padding-left: 18px !important;
}

.skill-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-card i {
	font-size: 1.5rem;
}

.skill-card span {
	font-size: 12px;
	color: #333;
}

.text-jd {
	font-size: 44px;
	color: #bf05ff !important;
	margin-top: 1px;
}

.skill-card small {
	font-size: 10px;
	color: #777;
}

.bg-pending {
	background-color: #ffbe00 !important;
}