<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="crmparticipants">
<head>
<script>	
//Participants Scripts
 function checkMeetingDetails1(id) {  
	     if (id == "clearOptions") {
			 $(".leadNameCls1").hide();
			 $(".participantsList").hide();
			 $(".contactNameCls1").hide();
			 $(".meetingcontactName1").val(""); 
             $(".excutiveName").val("");
             $(".contactId").val(""); 
             $(".excutiveId").val("");
             $(".meetingleadName1").val(""); 
             $(".selected-excutives-container").html("");
		 }
        else if (id == "Lead1") {
            $(".leadNameCls1").show();
            $(".participantsList").show();
            $(".contactNameCls1").hide();
             $(".executiveNameCls1").hide();
            $(".meetingcontactName1").val(""); 
             $(".excutiveName").val("");
            $(".contactId").val(""); 
             $(".excutiveId").val("");
        } else if (id == "Contact1") {
            $(".contactNameCls1").show();
            $(".participantsList").show();
            $(".leadNameCls1").hide();
            $(".executiveNameCls1").hide();
            $(".meetingleadName1").val(""); 
            $(".excutiveName").val("");
            $(".leadId").val(""); 
            $(".excutiveId").val("");
        } else if (id == "excutive") {
            $(".executiveNameCls1").show();
            $(".participantsList").show();
            $(".leadNameCls1").hide();
            $(".contactNameCls1").hide();
            $(".meetingleadName1").val(""); 
            $(".meetingcontactName1").val("");
            $(".leadId").val(""); 
            $(".contactId").val("");
        } 
 }
 
 function clearParticipantsFieldVal(){
	 $(".leadId").val("");
	 $(".meetingleadName1").val("");
	 $(".selected-leads-container").html("");
	 $(".meetingcontactName1").val("");
	 $(".contactId").val("");
	 $(".selected-contacts-container").html("");
	 $(".excutiveName").val("");
	 $(".excutiveId").val("");
	 $(".selected-excutives-container").html("");
 }
 

 /**
 * 
 *  Meeting Participants Autosearch By pankaj
 * 
 */
function getNameListParticipants1(searchId, type, searchVal,entityType) {
	
	
    $.ajax({
        type: "POST",
        url: "view-crm-lead-contact-autosearch?type=" + type + "&searchId=" + searchId,
        dataType: 'json',
        contentType: 'application/json',
        data: searchVal, 
        success: function(response) {
            if (response.code == "Success") {
				console.log(JSON.stringify(response.body)+"data biew");
				 if (entityType === "contact") {
                    handleContactSearchResults(response.body);
                    $(".suggesstion-boxmeetingLead1_").hide(); // Hide lead suggestion box
                } else if (entityType === "lead") {
                    handleLeadSearchResults(response.body);
                    $(".suggesstion-boxmeetingContact1_").hide(); // Hide contact suggestion box
                } else if (entityType === "excutive") {
                    handleExecutiveSearchResults(response.body);
                     
                }
               
                console.log("see the responses ---------------->>>>>>>>>>>>>>>" + JSON.stringify(response));
            }
        },
        error: function(data) {
            console.log(data);
        }
    });
}

function handleLeadSearchResults(results) {

    if (results.length != 0) {
        $(".suggesstion-boxmeetingLead1_").show();
        $(".suggesstion-boxmeetingLead1_").html(generateAutocompleteList(results, 'selectAutocompleteMeetingLeadValue'));
    } else {
        $(".suggesstion-boxmeetingLead1_").show();
        $(".suggesstion-boxmeetingLead1_").html('<div>No Data Found</div>');
    }
}

function handleContactSearchResults(results) {
	    if (results.length != 0) {
        $(".suggesstion-boxmeetingContact1_").show();
        $(".suggesstion-boxmeetingContact1_").html(generateAutocompleteList(results, 'selectAutocompleteValueMeetingContact'));
    } else {
        $(".suggesstion-boxmeetingContact1_").show();
        $(".suggesstion-boxmeetingContact1_").html('<div>No Data Found</div>');
    }
}
function handleExecutiveSearchResults(results) {
	console.log("Printed Executive values",+results)

    if (results.length != 0) {
		
        $(".suggesstion-boxmeetingExcutives_").show();
        $(".suggesstion-boxmeetingExcutives_").html(generateAutocompleteList(results, 'selectAutocompleteValueMeetingExcutive'));
    } else {
        $(".suggesstion-boxmeetingExcutives_").show();
        $(".suggesstion-boxmeetingExcutives_").html('<div>No Data Found</div>');
    }
}

function generateAutocompleteList(items, clickFunction) {
    var content = '<ul id="autocomplete-list1">';
    for (var i = 0; i < items.length; i++) {
        content += '<li class="autocompletedata cp" onClick="' + clickFunction + '(\'' +
            items[i].name + '\',\'' +
            items[i].key + '\',\'' +
            items[i].code + '\')">' +
            items[i].name + '</li>';
    }
    content += '</ul>';
    return content;
}

let participantData=[];
let ccMeetingMail='';
function selectAutocompleteMeetingLeadValue(name, LeadId,code) {
	
	
	  
	 if ($("#" + LeadId).length > 0) {
        // Item is already selected, show a message 
        $("#messageParagraph").text("Participants is already selected!!");
        $("#msgOkModal").removeClass("btn3");
        $("#msgOkModal").addClass("btn1");
        $("#msgModal").modal('show');
        return;
    }
	ccMeetingMail += code + ",";
    participantData.push(
		
		{
			"id":LeadId,
			"name":name,
			"type":"lead",
			"email":code
		}
		);
    if (name) {
        $(".leadId").val(LeadId);
        $(".meetingleadName").val("");
        $("#search").val(LeadId);
        $("#search").attr('data-procat', name);
        $(".suggesstion-boxmeetingLead1_").hide();
        $(".selected-leads-container").append('<div class="selected-item badge rounded-pill bg-info text-dark" id="' + LeadId + '">' + name + '<span class="remove-item badge rounded-pill bg-info text-dark" onclick="removeSelected(this);removeEmail(\'' + code + '\')"><i class="fas fa-times fa-lg"></i></span></div>');
    } else {
        $(".leadId").val("");
        $(".meetingleadName").val("");
        $("#search").val("");
        $("#search").attr('data-procat', "");
        $(".suggesstion-boxmeetingLead1_").hide();
    }
}

function selectAutocompleteValueMeetingContact(name, ContactId,code) {
	
	
	
	 if ($("#" + ContactId).length > 0) {
        // Item is already selected, 
        $("#messageParagraph").text("Participants is already selected!!");
        $("#msgOkModal").removeClass("btn3");
        $("#msgOkModal").addClass("btn1");
        $("#msgModal").modal('show');
        return false;
    }
        ccMeetingMail += code + ",";
        participantData.push(
			{
				"id":ContactId,
				"name": name,
				"type": "contact",
				"email":code
			}
			
		);
    if (name) {
        $(".contactId").val(ContactId);
        $(".meetingcontactName").val("");
        $("#search").val(ContactId);
        $("#search").attr('data-procat', name);
        $(".suggesstion-boxmeetingContact1_").hide();
        $(".selected-contacts-container").append('<div class="selected-item badge rounded-pill bg-info text-dark" id="' + ContactId + '">' + name + '<span class="remove-item badge rounded-pill bg-info text-dark" onclick="removeSelected(this);removeEmail(\'' + code + '\')"><i class="fas fa-times fa-lg"></i></span></div>');

        ///$("#selected-contacts-container").append('<div class="selected-item">' + name + '<span class="remove-item" onclick="removeSelectedContact(this)">x</span></div>');
    } else {
        $(".contactId").val("");
        $(".meetingcontactName").val("");
        $("#search").val("");
        $("#search").attr('data-procat', "");
        $(".suggesstion-boxmeetingContact1_").hide();
    }
}



function selectAutocompleteValueMeetingExcutive(name, ExcutiveId,code) {
	
	 if ($("#" + ExcutiveId).length > 0) {
        // Item is already selected, 
        $("#messageParagraph").text("Participants is already selected!!");
        $("#msgOkModal").removeClass("btn3");
        $("#msgOkModal").addClass("btn1");
        $("#msgModal").modal('show');
        return false;
    }
    ccMeetingMail += code + ",";
    participantData.push(
		
		{
			"id":ExcutiveId,
			"name":name,
			"type":"executive",
			"email":code
		}
		);
        
    if (name) {
        $(".excutiveId").val(ExcutiveId);
        $(".excutiveName").val("");
        $("#search").val(ExcutiveId);
        $("#search").attr('data-procat', name);
        $(".suggesstion-boxmeetingExcutives_").hide();
        $(".selected-excutives-container").append('<div class="selected-item badge rounded-pill bg-info text-dark" id="' + ExcutiveId + '">' + name + '<span class="remove-item badge rounded-pill bg-info text-dark" onclick="removeSelected(this);removeEmail(\'' + code + '\')"><i class="fas fa-times fa-lg"></i></span></div>');
    } else {
        $(".excutiveId").val("");
        $(".excutiveName").val("");
        $("#search").val("");
        $("#search").attr('data-procat', "");
        $(".suggesstion-boxmeetingExcutives_").hide();
    }
}

function removeEmail(element){
	
	var emailToRemove = element; 

    if (emailToRemove) {
        ccMeetingMail = ccMeetingMail.split(',').filter(function(email) {
            return email.trim() !== emailToRemove;
        }).join(',');
       
    }
}


function removeSelected(element) {
    var removedName = $(element).parent().text().trim();

    // Remove the item from participantData
    participantData = participantData.filter(function (item) {
        return item.name !== removedName;
    });

    // Remove the visual element
    $(element).parent().remove();
}

	
	
	
</script>
<title>Nerp</title>
</head>
<div class="modal-header">
<h5 class="modal-title">Add Participant</h5>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label><strong>Participants</strong></label>
				<div class="select" >
					<select class="inviteMeeting relatedMeetingTo1" id="selectParticipents" onchange="checkMeetingDetails1($(this).val());">
						<option value="clearOptions">Participant Type</option>
						<option value="Lead1">Lead</option>
						<option value="Contact1">Contact</option>
						<option value="excutive">Executive</option>
					</select>
				</div>
			</div>
		</div>

		<div class="col-md-3 leadNameCls1" style="Display:none;">
			<div class="form-group">
				<label> Lead</label>
				<input type="text" class="meetingleadName1 form-control" id="leadParticipent"
					onkeyup="getParticipantLead($(this).val(), this);"
					placeholder="Lead Name">
				<input type="hidden" class="leadId">
				<div class="sugg-cls suggesstion-boxmeetingLead1_"></div>
				<!--<div class="selected-leads-container"></div>-->
			</div>
		</div>

		<div class="col-md-3 contactNameCls1" style="Display:none;">
			<div class="form-group">
				<label> Contact</label>
				<input type="text" class="meetingcontactName1 form-control" id="contactParticipants"
					onkeyup="getParticipantContact($(this).val(), this);"
					placeholder="Contact Name">
				<input type="hidden" class="contactId">
				<div class="sugg-cls suggesstion-boxmeetingContact1_"></div>
				<!--<div class="selected-contacts-container"></div>-->
			</div>
		</div>

		<div class="col-md-3 executiveNameCls1" style="Display:none;">
			<div class="form-group">
				<label> Executive</label>
				<input type="text" class="excutiveName form-control" executiveParticipent
					onkeyup="getParticipantExcecutive($(this).val(), this);"
					placeholder="Executive Name">
				<input type="hidden" class="excutiveId">
				<div class="sugg-cls suggesstion-boxmeetingExcutives_"></div>
				<!--<div class="selected-excutives-container"></div>-->
			</div>
		</div>
		
		<div class="col-md-5 participantsList" style="Display:none;">
			<div class="form-group" id="selectedParticipants">
				<label> Selected Participants</label>
				<div class="selected-leads-container selected-contacts-container selected-excutives-container"></div>
				<!--<div class="selected-contacts-container"></div>
				<div class="selected-excutives-container" ></div>-->
				
				
			</div>
		</div>


	</div>
</div>

</html>