<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/master}">

<head>
	<title>Welcome To NERP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="../css/ncrm/crm-lead.css" rel="stylesheet">
	</link>
	<script src="../javaScript/crm/contact/contact.js"></script>

	<script src="../javaScript/crm/common.js"></script>

</head>

<body>

	<input hidden id="userId" th:value="${userId}" />
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">
                    <div class="loader-backdrop">
				    	<div class="spinner-border custom-color " id="customLoad"></div>
                    </div>
					<div class="d-flex justify-content-between flex-wrap gap-2">
						<div class="btn-hs">
							<div class="font-design" id="totalReq">
								ALL CONTACTS (<span></span>)
							</div>
						</div>


						<!-- Button to Open the Modal -->


						<!-- The Modal -->
						<div class="modal fade" id="myModal">
							<div class="modal-dialog">
								<div class="modal-content">

									<!-- Modal Header -->
									<div class="modal-header">
										<h4 class="modal-title">Modal Heading</h4>
										<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
									</div>

									<!-- Modal body -->
									<div class="modal-body">Modal body..</div>

									<!-- Modal footer -->
									<div class="modal-footer">
										<button type="button" class="btn btn-danger"
											data-bs-dismiss="modal">Close</button>
									</div>

								</div>
							</div>
						</div>
						<!--<div class="btn-hs" id="searchRowDiv">
							<div class="input-style">
								<input type="text" placeholder="Search.." name="search"
									class="searchboxinput" onkeyup="cancelBar()"
									oninput="onQuickFilterChanged()" id="quickFilter">
								<div class="searchicon">
									<a href="javascript:void(0)"><span
										style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
										id="closeKey"
										onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
										class="close_i"><i class="ti-close srchicon"></i></span></a><a
										href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
								</div>
							</div>

						</div> -->
						<div class="col-md-4 btn-hs" id="searchRowDiv">
							<div class="input-style">
								<input type="text" placeholder="Search.." name="search" class="searchboxinput"
									onkeyup="cancelBar()" oninput="onQuickFilterChanged()" id="quickFilter">
								<div class="searchicon">
									<a href="javascript:void(0)">
										<span style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
											id="closeKey" onclick="resetQuickFilter()" class="close_i">
											<i class="ti-close srchicon"></i>
										</span>
									</a>
									<a href="javascript:void(0)">
										<i class="ti-search srchicon"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="buttonsec btn-hs d-flex justify-content-start">
							<input type="button" class="new-btn" id="add" value="Create" onclick="newBtn()" readonly>
							<button class="btn3" id="deleteLead" onclick="deleteLeadInfo()">DELETE</button>





						</div>

						<input type="hidden" id="totalPageno">
						<input type="hidden" id="currentPageno">
						<div id="myGridLead" style="width: 100%; height: 400px;" class="ag-theme-alpine"></div>
						<div id="pagination" style="cursor: pointer;"></div>
					</div>

					<!-- 	Delete Confirmation Modal Starts -->
					<div id="deleteModal" class="modal fade show" aria-modal="true">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column"></div>
								<div class="modal-body">
									<p>Do you really want to delete these records? This
										process cannot be undone.</p>
								</div>
								<div class="modal-footer justify-content-center" style="margin-top: -30px;">

									<button type="button" class="btn4"  data-dismiss="modal"
										onclick="cancelDeleteModalBtn();">Cancel</button>
									<button type="button" class="delete-btn"
										onclick="deleteLeadOnclick()">Delete</button>
								</div>
							</div>
						</div>
					</div>
					<!-- 	Delete Confirmation Modal Ends -->
					<input type="hidden" id="userId" th:value="${session.USER_ID}" />
					<!-- hello -->
				</div>


				<div class="collapse" id="demo">
					<div class="innercontent" style="margin-top: 78px!important;">
						<div class="innerstickybg">
							<div class="d-flex justify-content-between" id="main">
								<div class="col-md-3" id="idDiv">
									Contact ID: <span id="pipelineHeadId"></span>
								</div>
								<div>
									<span class="createLead">Create Contact</span>
								</div>


									<div class="col-md-3 padding-0" align="right">
										<button class="btn3 btn-small" id="cancel" onclick="cancelBtn()">CANCEL</button>
										<button class="btn1" id="save" onclick="addContact()">SAVE</button>
									</div>
								</div>
							</div>
						</div>
						<div class="innercontent">

							<!-- <div class="row"> -->
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<input type="hidden" id="stageStatus" /> <input type="hidden" id="pipelineId" />
										<label>Contact
											Executive</label>
										<div class="select">
											<!--	<select id="contactOwner">
													<option value="">Select Executive</option>
													<option th:each="c,iter:${ownerList}" th:value="${c.key}"
														th:text="${c.name}"></option>
												</select>-->



											<select id="contactOwner" name="userId" disabled
												style="background-color: #e9ecef;">
												<option value="">Select Executive</option>
												<option th:each="c:${ownerList}" th:value="${c.key}"
													th:text="${c.name}"></option>
											</select>




										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<input type="hidden" id="stageStatus" /> <input type="hidden" id="pipelineId" />
										<label>Lead Source</label>
										<div class="select">
											<select id="leadSource">
												<option value="">Select Lead Source</option>
												<option th:each="c,iter:${sourceList}" th:value="${c.key}"
													th:text="${c.name}"></option>
											</select>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>First Name</label> <input type="text" class="form-control" id="firstName"
											placeholder="First Name">
									</div>
								</div>

							</div>

							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label>Last Name</label> <input type="text" class="form-control" id="lastName"
											placeholder="Last Name">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Account Name</label> <input type="text" class="form-control"
											id="dealAccountName" placeholder="Account Name" onkeyup="getAccountList();">
										<input type="hidden" id="accountId">
									</div>
									<div id="suggesstion-box1_" class="sugg-cls"></div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Title</label> <input type="text" class="form-control" id="title"
											placeholder="Title">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Reference Contact Name</label> <input type="text" class="form-control"
											id="referenceContact" placeholder="Reference Contact Name">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Email</label> <input type="text" class="form-control" id="email"
											placeholder="Email">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Department</label> <input type="text" class="form-control"
											id="department" placeholder="Department">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Phone</label> <input type="text" class="form-control numberonly"
											id="phone" placeholder="Phone">
									</div>
								</div>


								<div class="col-md-4">
									<div class="form-group">
										<label>Home Phone</label> <input type="text" class="form-control numberonly"
											id="homePhone" placeholder="Home Phone">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Other Phone</label> <input type="text" class="form-control numberonly"
											id="otherPhone" placeholder="Other Phone">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Fax</label> <input type="text" class="form-control numberonly" id="fax"
											placeholder="Fax">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Mobile</label> <input type="text" class="form-control numberonly"
											id="mobile" placeholder="Mobile">
									</div>
								</div>


								<div class="col-md-4">
									<div class="form-group">
										<label>Date Of Birth</label>
										<!--  <input type="text" id="dateBirth"
												class="form-control" onblur="removeValid(event)"
												th:attr="onkeyup=|formatDate('dateBirth','${session.DATEFORMAT_JS}')|"
												readonly> <i class="ti-calendar picker_calendar1"
												id="DateCalendar"></i> -->
										<input type="date" id="dateBirth" class="form-control">
									</div>
								</div>



								<div class="col-md-4">
									<div class="form-group">
										<label>Assistant</label> <input type="text" class="form-control" id="assistant"
											placeholder="Assistant">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Assist Phone</label> <input type="text" class="form-control numberonly"
											id="assistPhone" placeholder="Assist Phone">
									</div>
								</div>




								<div class="col-md-4">
									<div class="form-group">
										<input type="checkbox" id="emailOpt" name="emailOpt">
										<label>Email Opt Out</label>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Skype Id</label> <input type="text" class="form-control" id="skypeId"
											name="skypeId" placeholder="Skype Id">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Secondary Email</label> <input type="text" class="form-control"
											id="secondaryEmail" name="secondaryEmail" placeholder="Secondary Email">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Twitter</label> <input type="text" class="form-control" id="twitter"
											name="twitter" placeholder="Twitter">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Reporting To</label> <input type="text" class="form-control"
											id="reportingTo" placeholder="Reporting To">
									</div>
								</div>

							</div>







							<!-- 	main div start here -->
							<div id="main">

								<!-- 	collapse for Contact InformationStart here -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingOne">
										<button class="accordion-button" type="button" data-bs-toggle="collapse"
											data-bs-target="#collapseOne" aria-expanded="false"
											aria-controls="collapseOne">
											Address Information</button>
									</h2>
									<div id="collapseOne" class="accordion-collapse collapse show"
										aria-labelledby="headingOne" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<div class="row">

												<div class="col-md-4">
													<div class="form-group">
														<label>Mailing Street</label> <input type="text"
															class="form-control" id="mailingStreet" name="mailingStreet"
															placeholder="Mailing Street">
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Other Mailing</label> <input type="text"
															class="form-control" id="otherMailing" name="otherMailing"
															placeholder="Other Street">
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Mailing City</label> <input type="text"
															class="form-control" id="mailingCity" name="mailingCity"
															placeholder="Mailing City">
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Other City</label> <input type="text"
															class="form-control" id="otherCity"
															placeholder="Other City">
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Mailing State</label>
														<div class="select">
															<select id="mailingState">
																<option th:value="NULL">Select State</option>
																<option th:each="c,iter:${statesList}"
																	th:value="${c.key}" th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>


												<div class="col-md-4">
													<div class="form-group">
														<label>Other State</label>
														<div class="select">
															<select id="otherState">
																<option th:value="NULL">Select State</option>
																<option th:each="c,iter:${statesList}"
																	th:value="${c.key}" th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Mailing ZIP</label> <input type="text"
															class="form-control numberonly" id="mailingZip"
															placeholder="Mailing Zip">
													</div>
												</div>


												<div class="col-md-4">
													<div class="form-group">
														<label>Other ZIP</label> <input type="text"
															class="form-control numberonly" id="otherZip"
															placeholder="Other Zip">
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Mailing Country</label>
														<div class="select">
															<select id="mailingCountry">
																<option th:value="NULL">Select Country</option>
																<option th:each="c,iter:${countryList}"
																	th:value="${c.key}" th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>


												<div class="col-md-4">
													<div class="form-group">
														<label>Other Country</label>
														<div class="select">
															<select id="otherCountry">
																<option th:value="NULL">Select Country</option>
																<option th:each="c,iter:${countryList}"
																	th:value="${c.key}" th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>

											</div>

										</div>
									</div>
								</div>
								<!-- 	sidenave for Contact Information End here -->
								<!-- 	sidenave for Marketing Start here -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingTwo">
										<button class="accordion-button" type="button" data-bs-toggle="collapse"
											data-bs-target="#collapseTwo" aria-expanded="true"
											aria-controls="collapseTwo">
											Description Information</button>
									</h2>
									<div id="collapseTwo" class="accordion-collapse collapse show"
										aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
										<div class="accordion-body">

											<div class="row">
												<div class="col-md-8">
													<div class="modal-inrheading">Description</div>
													<div class="position-text">
														<textarea rows="4" cols="100" id="description"
															onkeyup="textCount(event)"></textarea>
														<div id="charNumSN" class="txtcounter" align="right">
															<span>0</span> characters
														</div>
													</div>
												</div>


											</div>

										</div>
									</div>
								</div>

								<!-- 	sidenave for activity log End here -->

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

</body>

</html>