.treeview ul {
    list-style-type: none;
    padding-left: 20px;
}

.treeview li {
    margin: 5px 0;
    line-height: 1.2;
}

.treeview i {
    cursor: pointer;
    /*margin-right: 5px;*/
    color: var(--mainColor);
}

.treeview .node-update, .treeview .node-delete {
    /*margin-left: 10px;*/
    cursor: pointer;
    color: var(--mainColor);
    font-size: calc((13/16)*1rem);
}

.treeview input[type=checkbox]:before {
    content: unset;
    border: none;
    background-color: transparent;
}

.treeview input[type=checkbox] {
    width: 1em;
    margin: unset;
    top: unset;
    float: unset;
    border: 1px solid rgba(0,0,0,.25);
}

.treeview input[type=checkbox]:checked {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

.treeview input[type=checkbox]:focus {
    border: 1px solid rgba(0,0,0,.25);
}

.treeview label {
    font-size: calc((13/16)*1rem);
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}

.treeview {
    margin: unset;
    list-style-type: none;
    padding: 0;
    min-height: unset;
    max-height: unset;
    overflow: auto;
}